{
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260921",
  "servicePath": "",
  "ownerDomain": "google.com",
  "title": "Datastream API",
  "baseUrl": "https://datastream.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "description": "",
  "name": "datastream",
  "version_module": true,
  "canonicalName": "Datastream",
  "id": "datastream:v1",
  "basePath": "",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "rootUrl": "https://datastream.googleapis.com/",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "schemas": {
    "PostgresqlRdbms": {
      "type": "object",
      "description": "PostgreSQL database structure.",
      "id": "PostgresqlRdbms",
      "properties": {
        "postgresqlSchemas": {
          "type": "array",
          "items": {
            "$ref": "PostgresqlSchema"
          },
          "description": "PostgreSQL schemas in the database server."
        }
      }
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OracleRdbms"
    },
    "EncryptionAndServerValidation": {
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "type": "string",
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate."
        }
      },
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "id": "EncryptionAndServerValidation"
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "The table name."
        },
        "mysqlColumns": {
          "type": "array",
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "MysqlColumn"
          }
        }
      },
      "id": "MysqlTable"
    },
    "DiscoverConnectionProfileResponse": {
      "id": "DiscoverConnectionProfileResponse",
      "properties": {
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "mongodbCluster": {
          "description": "Enriched MongoDB cluster.",
          "$ref": "MongodbCluster"
        },
        "sourceCatalog": {
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Enriched Spanner database."
        },
        "salesforceOrg": {
          "$ref": "SalesforceOrg",
          "description": "Enriched Salesforce organization."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Enriched MySQL RDBMS object."
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Enriched PostgreSQL RDBMS object."
        }
      },
      "type": "object",
      "description": "Response from a discover request."
    },
    "OracleTable": {
      "description": "Oracle table.",
      "type": "object",
      "id": "OracleTable",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array"
        }
      }
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "metadata": {
          "description": "Additional metadata related to the result.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "level": {
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "type": "object"
    },
    "BigQueryDestinationConfig": {
      "id": "BigQueryDestinationConfig",
      "description": "BigQuery destination configuration",
      "type": "object",
      "properties": {
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "sourceHierarchyDatasets": {
          "description": "Source hierarchy datasets.",
          "$ref": "SourceHierarchyDatasets"
        },
        "dataFreshness": {
          "format": "google-duration",
          "type": "string",
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost."
        },
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        },
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "blmtConfig": {
          "$ref": "BlmtConfig",
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration."
        }
      }
    },
    "MongodbCluster": {
      "properties": {
        "databases": {
          "items": {
            "$ref": "MongodbDatabase"
          },
          "description": "MongoDB databases in the cluster.",
          "type": "array"
        }
      },
      "description": "MongoDB Cluster structure.",
      "type": "object",
      "id": "MongodbCluster"
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "dataType": {
          "type": "string",
          "description": "The PostgreSQL data type."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "PostgreSQL Column."
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "id": "DestinationConfig",
      "type": "object",
      "properties": {
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "A configuration for how data should be loaded to Cloud Storage."
        },
        "bigqueryDestinationConfig": {
          "$ref": "BigQueryDestinationConfig",
          "description": "BigQuery destination configuration."
        },
        "destinationConnectionProfile": {
          "type": "string",
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        }
      }
    },
    "SourceCatalog": {
      "description": "Source catalog.",
      "properties": {
        "objects": {
          "type": "array",
          "items": {
            "$ref": "SourceObject"
          },
          "description": "Optional. Source objects in the catalog."
        }
      },
      "type": "object",
      "id": "SourceCatalog"
    },
    "PostgresqlObjectIdentifier": {
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      },
      "description": "PostgreSQL data source object identifier.",
      "type": "object",
      "id": "PostgresqlObjectIdentifier"
    },
    "MongodbChangeStreamPosition": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The timestamp to start change stream from.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "MongoDB change stream position",
      "id": "MongodbChangeStreamPosition"
    },
    "ListStreamsResponse": {
      "description": "Response message for listing streams.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "streams": {
          "items": {
            "$ref": "Stream"
          },
          "type": "array",
          "description": "List of streams"
        }
      },
      "type": "object",
      "id": "ListStreamsResponse"
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "type": "object",
      "properties": {
        "password": {
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "port": {
          "description": "Port for the MySQL connection, default value is 3306.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "MysqlSslConfig",
          "description": "SSL configuration for the MySQL connection."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a MySQL source."
    },
    "SourceProperty": {
      "id": "SourceProperty",
      "description": "Source property.",
      "properties": {
        "propertyName": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Optional. Whether or not the property is a primary key.",
          "type": "boolean"
        },
        "properties": {
          "description": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "type": "array",
          "items": {
            "$ref": "SourceProperty"
          }
        }
      },
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "type": "object",
      "properties": {
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer",
          "format": "int32"
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Optional. Spanner database to enrich with child data objects and metadata."
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        },
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "sourceCatalog": {
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        },
        "postgresqlRdbms": {
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "PostgresqlRdbms"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata."
        }
      },
      "description": "Request message for 'discover' ConnectionProfile request.",
      "id": "DiscoverConnectionProfileRequest"
    },
    "AppendOnly": {
      "id": "AppendOnly",
      "type": "object",
      "properties": {},
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table."
    },
    "SingleTargetDataset": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference."
        }
      },
      "id": "SingleTargetDataset",
      "description": "A single target dataset to which all data will be streamed."
    },
    "HostAddress": {
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the connection."
        },
        "port": {
          "description": "Optional. Port for the connection.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "id": "HostAddress",
      "type": "object"
    },
    "SalesforceField": {
      "type": "object",
      "properties": {
        "dataType": {
          "description": "The data type.",
          "type": "string"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "nillable": {
          "type": "boolean",
          "description": "Indicates whether the field can accept nil values."
        }
      },
      "id": "SalesforceField",
      "description": "Salesforce field."
    },
    "BasicEncryption": {
      "properties": {},
      "id": "BasicEncryption",
      "type": "object",
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default."
    },
    "BackfillNoneStrategy": {
      "type": "object",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "id": "BackfillNoneStrategy",
      "properties": {}
    },
    "SourceConfig": {
      "type": "object",
      "properties": {
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "salesforceMarketingCloudSourceConfig": {
          "description": "Salesforce Marketing Cloud data source configuration.",
          "$ref": "SalesforceMarketingCloudSourceConfig"
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration."
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration.",
          "$ref": "MysqlSourceConfig"
        },
        "salesforceSourceConfig": {
          "$ref": "SalesforceSourceConfig",
          "description": "Salesforce data source configuration."
        },
        "workdaySourceConfig": {
          "$ref": "WorkdaySourceConfig",
          "description": "Optional. Workday data source configuration."
        },
        "serviceNowSourceConfig": {
          "$ref": "ServiceNowSourceConfig",
          "description": "ServiceNow data source configuration."
        },
        "dataverseSourceConfig": {
          "$ref": "DataverseSourceConfig",
          "description": "Dataverse data source configuration."
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        },
        "sqlServerSourceConfig": {
          "$ref": "SqlServerSourceConfig",
          "description": "SQLServer data source configuration."
        }
      },
      "description": "The configuration of the stream source.",
      "id": "SourceConfig"
    },
    "QuotaFailure": {
      "properties": {
        "violations": {
          "description": "Describes all quota violations.",
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "QuotaFailure",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "MongodbProfile": {
      "id": "MongodbProfile",
      "type": "object",
      "properties": {
        "additionalOptions": {
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the MongoDB connection."
        },
        "sslConfig": {
          "$ref": "MongodbSslConfig",
          "description": "Optional. SSL configuration for the MongoDB connection."
        },
        "srvConnectionFormat": {
          "$ref": "SrvConnectionFormat",
          "description": "Srv connection format."
        },
        "replicaSet": {
          "type": "string",
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified."
        },
        "hostAddresses": {
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports.",
          "items": {
            "$ref": "HostAddress"
          },
          "type": "array"
        }
      },
      "description": "Profile for connecting to a MongoDB source."
    },
    "DataverseSourceConfig": {
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      },
      "id": "DataverseSourceConfig",
      "description": "Configuration for syncing data from a Dataverse source."
    },
    "PostgresqlTable": {
      "description": "PostgreSQL table.",
      "type": "object",
      "properties": {
        "postgresqlColumns": {
          "items": {
            "$ref": "PostgresqlColumn"
          },
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array"
        },
        "table": {
          "description": "The table name.",
          "type": "string"
        }
      },
      "id": "PostgresqlTable"
    },
    "BackfillJob": {
      "type": "object",
      "description": "Represents a backfill job on a specific stream object.",
      "properties": {
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "description": "Backfill job's triggering reason."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Errors which caused the backfill job to fail.",
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "type": "string",
          "description": "Output only. Backfill job state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ]
        },
        "lastEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Backfill job's end time.",
          "type": "string"
        },
        "eventFilter": {
          "readOnly": true,
          "$ref": "EventFilter",
          "description": "Output only. The filter for performing a partial backfill."
        },
        "lastStartTime": {
          "readOnly": true,
          "description": "Output only. Backfill job's start time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "BackfillJob"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "PreconditionFailureViolation": {
      "description": "A message type used to describe a single precondition failure.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        }
      },
      "id": "PreconditionFailureViolation"
    },
    "WorkdaySourceConfig": {
      "type": "object",
      "description": "Configuration for syncing data from a Workday source.",
      "properties": {
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "WorkdaySourceConfig"
    },
    "SpannerColumn": {
      "type": "object",
      "description": "Spanner column.",
      "id": "SpannerColumn",
      "properties": {
        "isPrimaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the column is a primary key."
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "ordinalPosition": {
          "format": "int64",
          "description": "Optional. The ordinal position of the column in the table.",
          "type": "string"
        },
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        }
      }
    },
    "Route": {
      "properties": {
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time of the resource.",
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "Destination port for connection"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "destinationAddress": {
          "type": "string",
          "description": "Required. Destination address for connection"
        }
      },
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "id": "Route",
      "type": "object"
    },
    "Merge": {
      "id": "Merge",
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "type": "object",
      "properties": {}
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      },
      "id": "StartBackfillJobResponse",
      "type": "object"
    },
    "UserPasswordCredentials": {
      "description": "User-password credentials.",
      "id": "UserPasswordCredentials",
      "properties": {
        "username": {
          "description": "Required. Username for the connection.",
          "type": "string"
        },
        "password": {
          "$ref": "Secret",
          "description": "Required. Password for the connection."
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "OracleSourceConfig": {
      "type": "object",
      "properties": {
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "includeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to include in the stream."
        },
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to exclude from the stream."
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        }
      },
      "id": "OracleSourceConfig",
      "description": "Configuration for syncing data from an Oracle source."
    },
    "WorkdayProfile": {
      "id": "WorkdayProfile",
      "properties": {
        "oauthRefreshTokenCredentials": {
          "$ref": "OauthRefreshTokenCredentials",
          "description": "Required. Credentials for authenticating with the Workday API. OAuth Refresh Token credentials for authenticating with the Workday API."
        },
        "host": {
          "description": "Required. Host for the Workday connection. Must be a valid hostname (e.g., `wd3-impl-services1.workday.com`).",
          "type": "string"
        },
        "tenant": {
          "description": "Required. Tenant for the Workday connection (e.g., `google12`).",
          "type": "string"
        }
      },
      "description": "Profile for connecting to a Workday source.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "BlmtConfig": {
      "id": "BlmtConfig",
      "type": "object",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`"
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "type": "string",
          "description": "The root path inside the Cloud Storage bucket."
        },
        "fileFormat": {
          "description": "Required. The file format.",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "type": "string"
        },
        "tableFormat": {
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "description": "Required. The table format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ]
        }
      },
      "description": "The configuration for BLMT."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "SalesforceObjectIdentifier": {
      "id": "SalesforceObjectIdentifier",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Salesforce data source object identifier."
    },
    "ErrorInfo": {
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "id": "ErrorInfo",
      "properties": {
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
        },
        "metadata": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Secret": {
      "type": "object",
      "description": "A confidential piece of information where the actual value is either directly specified in the message as a raw string or stored in GCP secret manager.",
      "id": "Secret",
      "properties": {
        "secretVersion": {
          "description": "Optional. A Secret Manager resource name storing the actual value of the secret. Supported formats: * projects/{project}/locations/{location}/secrets/{secret}/versions/{version} * projects/{project}/secrets/{secret}/versions/{version}",
          "type": "string"
        },
        "rawValue": {
          "description": "Optional. Input only. The actual raw value of the secret as plain text.",
          "type": "string"
        }
      }
    },
    "VpcPeeringConfig": {
      "id": "VpcPeeringConfig",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "properties": {
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        },
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29)"
        }
      },
      "type": "object"
    },
    "SqlServerTable": {
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "SqlServerColumn"
          }
        }
      },
      "description": "SQLServer table.",
      "id": "SqlServerTable",
      "type": "object"
    },
    "ServiceNowSourceConfig": {
      "description": "Configuration for syncing data from a ServiceNow source.",
      "type": "object",
      "id": "ServiceNowSourceConfig",
      "properties": {
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "description": "Optional. The objects to exclude from the stream.",
          "$ref": "SourceCatalog"
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      }
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "properties": {
        "backfillJob": {
          "$ref": "BackfillJob",
          "description": "The latest backfill job that was initiated for the stream object."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Active errors on the object.",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The object resource's name.",
          "readOnly": true
        },
        "customizationRules": {
          "readOnly": true,
          "items": {
            "$ref": "CustomizationRule"
          },
          "type": "array",
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object."
        }
      },
      "id": "StreamObject",
      "type": "object"
    },
    "StopBackfillJobRequest": {
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "type": "object",
      "id": "StopBackfillJobRequest",
      "properties": {}
    },
    "Gtid": {
      "id": "Gtid",
      "properties": {},
      "description": "Use GTID based replication.",
      "type": "object"
    },
    "LogFileDirectories": {
      "id": "LogFileDirectories",
      "type": "object",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "properties": {
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        },
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        }
      }
    },
    "NextAvailableStartPosition": {
      "properties": {},
      "type": "object",
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "id": "NextAvailableStartPosition"
    },
    "SqlServerSchema": {
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "items": {
            "$ref": "SqlServerTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        }
      },
      "description": "SQLServer schema.",
      "id": "SqlServerSchema",
      "type": "object"
    },
    "PostgresqlSourceConfig": {
      "properties": {
        "publication": {
          "type": "string",
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects."
        },
        "includeObjects": {
          "$ref": "PostgresqlRdbms",
          "description": "The PostgreSQL objects to include in the stream."
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PostgresqlSourceConfig",
      "description": "Configuration for syncing data from a PostgreSQL source."
    },
    "ConnectionProfile": {
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "properties": {
        "bigqueryProfile": {
          "$ref": "BigQueryProfile",
          "description": "Profile for connecting to a BigQuery destination."
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "mongodbProfile": {
          "description": "Profile for connecting to a MongoDB source.",
          "$ref": "MongodbProfile"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workdayProfile": {
          "description": "Optional. Profile for connecting to a Workday source.",
          "$ref": "WorkdayProfile"
        },
        "oracleProfile": {
          "description": "Profile for connecting to an Oracle source.",
          "$ref": "OracleProfile"
        },
        "serviceNowProfile": {
          "description": "Profile for connecting to a ServiceNow source.",
          "$ref": "ServiceNowProfile"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "salesforceProfile": {
          "$ref": "SalesforceProfile",
          "description": "Profile for connecting to a Salesforce source."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource's name."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time of the resource."
        },
        "gcsProfile": {
          "$ref": "GcsProfile",
          "description": "Profile for connecting to a Cloud Storage destination."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        },
        "spannerProfile": {
          "$ref": "SpannerProfile",
          "description": "Profile for connecting to a Spanner source."
        },
        "salesforceMarketingCloudProfile": {
          "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
          "$ref": "SalesforceMarketingCloudProfile"
        },
        "mysqlProfile": {
          "description": "Profile for connecting to a MySQL source.",
          "$ref": "MysqlProfile"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "postgresqlProfile": {
          "$ref": "PostgresqlProfile",
          "description": "Profile for connecting to a PostgreSQL source."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "dataverseProfile": {
          "description": "Profile for connecting to a Dataverse source.",
          "$ref": "DataverseProfile"
        }
      },
      "type": "object",
      "id": "ConnectionProfile"
    },
    "EventFilter": {
      "properties": {
        "sqlWhereClause": {
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`",
          "type": "string"
        }
      },
      "description": "Represents a filter for included data on a stream object.",
      "id": "EventFilter",
      "type": "object"
    },
    "SpannerTable": {
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "description": "Optional. Spanner columns in the table.",
          "items": {
            "$ref": "SpannerColumn"
          }
        }
      },
      "description": "Spanner table.",
      "id": "SpannerTable",
      "type": "object"
    },
    "ObjectFilter": {
      "type": "object",
      "description": "Object filter to apply the rules to.",
      "id": "ObjectFilter",
      "properties": {
        "sourceObjectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Specific source object identifier."
        }
      }
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "description": "Private Connectivity",
      "properties": {
        "privateConnection": {
          "description": "Required. A reference to a private connection resource. Format: `projects/{project}/locations/{location}/privateConnections/{name}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SalesforceMarketingCloudProfile": {
      "id": "SalesforceMarketingCloudProfile",
      "properties": {
        "subdomain": {
          "type": "string",
          "description": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-)."
        },
        "oauthClientCredentials": {
          "description": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API.",
          "$ref": "OauthClientCredentials"
        }
      },
      "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
      "type": "object"
    },
    "MysqlGtidPosition": {
      "properties": {
        "gtidSet": {
          "type": "string",
          "description": "Required. The gtid set to start replication from."
        }
      },
      "id": "MysqlGtidPosition",
      "type": "object",
      "description": "MySQL GTID position"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "validationResult": {
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true,
          "$ref": "ValidationResult"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "ListRoutesResponse": {
      "properties": {
        "routes": {
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Route list response.",
      "id": "ListRoutesResponse",
      "type": "object"
    },
    "SalesforceProfile": {
      "id": "SalesforceProfile",
      "properties": {
        "userCredentials": {
          "$ref": "UserCredentials",
          "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `oauth2_client_credentials` instead.",
          "deprecated": true
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "$ref": "Oauth2ClientCredentials",
          "description": "Connected app authentication."
        }
      },
      "type": "object",
      "description": "Profile for connecting to a Salesforce source."
    },
    "DataverseProfile": {
      "description": "Profile for connecting to a Dataverse source.",
      "id": "DataverseProfile",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Required. Tenant id of the Microsoft Dataverse instance.",
          "type": "string"
        },
        "environmentUrl": {
          "description": "Required. Environment URL of the Microsoft Dataverse instance. Example: `.crm.dynamics.com`",
          "type": "string"
        },
        "oauthClientCredentials": {
          "description": "Required. Credentials for authenticating with the Dataverse API.",
          "$ref": "OauthClientCredentials"
        }
      }
    },
    "BigQueryClustering": {
      "description": "BigQuery clustering configuration.",
      "type": "object",
      "properties": {
        "columns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Column names to set as clustering columns."
        }
      },
      "id": "BigQueryClustering"
    },
    "LogMiner": {
      "id": "LogMiner",
      "properties": {},
      "description": "Configuration to use LogMiner CDC method.",
      "type": "object"
    },
    "SpannerChangeStreamPosition": {
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "id": "SpannerChangeStreamPosition",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value.",
          "type": "string"
        }
      }
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "description": "Spanner data source object identifier.",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Optional. The schema name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpannerDatabase": {
      "properties": {
        "schemas": {
          "items": {
            "$ref": "SpannerSchema"
          },
          "description": "Optional. Spanner schemas in the database.",
          "type": "array"
        }
      },
      "description": "Spanner database structure.",
      "type": "object",
      "id": "SpannerDatabase"
    },
    "OracleAsmConfig": {
      "properties": {
        "oracleSslConfig": {
          "$ref": "OracleSslConfig",
          "description": "Optional. SSL configuration for the Oracle connection."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle ASM connection."
        },
        "asmService": {
          "type": "string",
          "description": "Required. ASM service name for the Oracle ASM connection."
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Port for the Oracle ASM connection."
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle ASM connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "connectionAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Connection string attributes"
        },
        "password": {
          "description": "Optional. Password for the Oracle ASM connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        }
      },
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "id": "OracleAsmConfig",
      "type": "object"
    },
    "PostgresqlSslConfig": {
      "description": "PostgreSQL SSL configuration information.",
      "id": "PostgresqlSslConfig",
      "type": "object",
      "properties": {
        "serverVerification": {
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated.",
          "$ref": "ServerVerification"
        },
        "serverAndClientVerification": {
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated.",
          "$ref": "ServerAndClientVerification"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "MysqlColumn": {
      "properties": {
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "scale": {
          "description": "Column scale.",
          "type": "integer",
          "format": "int32"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "collation": {
          "type": "string",
          "description": "Column collation."
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        }
      },
      "description": "MySQL Column.",
      "type": "object",
      "id": "MysqlColumn"
    },
    "ServerVerification": {
      "properties": {
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        }
      },
      "id": "ServerVerification",
      "type": "object",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option."
    },
    "RunStreamRequest": {
      "description": "Request message for running a stream.",
      "id": "RunStreamRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. Update the stream without validating it."
        },
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        }
      },
      "type": "object"
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "description": "Profile for connecting to a Cloud Storage destination.",
      "type": "object",
      "properties": {
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        }
      }
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "description": "MySQL database.",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The database name."
        },
        "mysqlTables": {
          "description": "Tables in the database.",
          "type": "array",
          "items": {
            "$ref": "MysqlTable"
          }
        }
      }
    },
    "SpecificStartPosition": {
      "id": "SpecificStartPosition",
      "description": "CDC strategy to start replicating from a specific position in the source.",
      "type": "object",
      "properties": {
        "mysqlLogPosition": {
          "$ref": "MysqlLogPosition",
          "description": "MySQL specific log position to start replicating from."
        },
        "mongodbChangeStreamPosition": {
          "$ref": "MongodbChangeStreamPosition",
          "description": "MongoDB change stream position to start replicating from."
        },
        "spannerChangeStreamPosition": {
          "$ref": "SpannerChangeStreamPosition",
          "description": "Optional. Spanner change stream position to start replicating from."
        },
        "oracleScnPosition": {
          "$ref": "OracleScnPosition",
          "description": "Oracle SCN to start replicating from."
        },
        "mysqlGtidPosition": {
          "$ref": "MysqlGtidPosition",
          "description": "MySQL GTID set to start replicating from."
        },
        "sqlServerLsnPosition": {
          "description": "SqlServer LSN to start replicating from.",
          "$ref": "SqlServerLsnPosition"
        }
      }
    },
    "Oauth2ClientCredentials": {
      "id": "Oauth2ClientCredentials",
      "description": "OAuth2 Client Credentials.",
      "properties": {
        "secretManagerStoredClientSecret": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field."
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackfillAllStrategy": {
      "properties": {
        "spannerExcludedObjects": {
          "description": "Spanner data source objects to avoid backfilling.",
          "$ref": "SpannerDatabase"
        },
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mongodbExcludedObjects": {
          "$ref": "MongodbCluster",
          "description": "MongoDB data source objects to avoid backfilling"
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        },
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        },
        "saasExcludedObjects": {
          "description": "Source catalog data source objects to avoid backfilling. This is mainly used to represent SaaS applications objects.",
          "$ref": "SourceCatalog"
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "type": "object",
      "id": "BackfillAllStrategy"
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "type": "array",
          "description": "Describes all violations in a client request.",
          "items": {
            "$ref": "FieldViolation"
          }
        }
      },
      "type": "object"
    },
    "StreamLargeObjects": {
      "description": "Configuration to stream large object values.",
      "type": "object",
      "id": "StreamLargeObjects",
      "properties": {}
    },
    "MongodbField": {
      "id": "MongodbField",
      "description": "MongoDB Field.",
      "properties": {
        "field": {
          "description": "The field name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BinaryLogParser": {
      "properties": {
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        },
        "logFileDirectories": {
          "$ref": "LogFileDirectories",
          "description": "Use Oracle directories."
        }
      },
      "id": "BinaryLogParser",
      "type": "object",
      "description": "Configuration to use Binary Log Parser CDC technique."
    },
    "SqlServerObjectIdentifier": {
      "id": "SqlServerObjectIdentifier",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        }
      },
      "type": "object",
      "description": "SQLServer data source object identifier."
    },
    "SqlServerColumn": {
      "description": "SQLServer Column.",
      "type": "object",
      "id": "SqlServerColumn",
      "properties": {
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "dataType": {
          "description": "The SQLServer data type.",
          "type": "string"
        },
        "precision": {
          "format": "int32",
          "description": "Column precision.",
          "type": "integer"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        },
        "scale": {
          "description": "Column scale.",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        }
      }
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      }
    },
    "BigQueryProfile": {
      "properties": {},
      "type": "object",
      "description": "Profile for connecting to a BigQuery destination.",
      "id": "BigQueryProfile"
    },
    "SqlServerProfile": {
      "properties": {
        "password": {
          "type": "string",
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the SQLServer connection.",
          "$ref": "SqlServerSslConfig"
        },
        "hostname": {
          "description": "Required. Hostname for the SQLServer connection.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the SQLServer connection, default value is 1433."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SQLServer connection."
        }
      },
      "id": "SqlServerProfile",
      "description": "Profile for connecting to a SQLServer source.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "database": {
          "type": "string",
          "description": "Required. The database name."
        }
      },
      "id": "MysqlObjectIdentifier",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        }
      }
    },
    "BinaryLogPosition": {
      "type": "object",
      "id": "BinaryLogPosition",
      "description": "Use Binary log position based replication.",
      "properties": {}
    },
    "Validation": {
      "id": "Validation",
      "description": "A validation to perform on a stream.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A custom code identifying this validation."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "type": "string",
          "description": "Output only. Validation execution status.",
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ]
        },
        "message": {
          "type": "array",
          "items": {
            "$ref": "ValidationMessage"
          },
          "description": "Messages reflecting the validation results."
        },
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        }
      },
      "type": "object"
    },
    "PostgresqlSchema": {
      "description": "PostgreSQL schema.",
      "type": "object",
      "id": "PostgresqlSchema",
      "properties": {
        "postgresqlTables": {
          "items": {
            "$ref": "PostgresqlTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        },
        "schema": {
          "type": "string",
          "description": "The schema name."
        }
      }
    },
    "StopBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      },
      "id": "StopBackfillJobResponse",
      "description": "Response for manually stop a backfill job for a specific stream object."
    },
    "UserCredentials": {
      "deprecated": true,
      "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `Oauth2ClientCredentials` instead.",
      "id": "UserCredentials",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username for the Salesforce connection."
        },
        "securityToken": {
          "type": "string",
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "secretManagerStoredSecurityToken": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field."
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "type": "object",
      "id": "StaticServiceIpConnectivity",
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "properties": {}
    },
    "FetchStaticIpsResponse": {
      "type": "object",
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' response.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "staticIps": {
          "items": {
            "type": "string"
          },
          "description": "list of static ips by account",
          "type": "array"
        }
      }
    },
    "SpannerSourceConfig": {
      "properties": {
        "fgacRole": {
          "description": "Optional. The FGAC role to use for the stream.",
          "type": "string"
        },
        "changeStreamName": {
          "type": "string",
          "description": "Required. Immutable. The change stream name to use for the stream."
        },
        "includeObjects": {
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "excludeObjects": {
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "spannerRpcPriority": {
          "type": "string",
          "description": "Optional. The RPC priority to use for the stream.",
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ],
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "maxConcurrentCdcTasks": {
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "format": "int32",
          "type": "integer"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks.",
          "type": "integer",
          "format": "int32"
        },
        "backfillDataBoostEnabled": {
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set.",
          "type": "boolean"
        }
      },
      "id": "SpannerSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a Spanner source."
    },
    "MongodbDatabase": {
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "collections": {
          "description": "Collections in the database.",
          "items": {
            "$ref": "MongodbCollection"
          },
          "type": "array"
        }
      },
      "description": "MongoDB Database.",
      "type": "object",
      "id": "MongodbDatabase"
    },
    "ServerAndClientVerification": {
      "id": "ServerAndClientVerification",
      "type": "object",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "properties": {
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        }
      }
    },
    "IngestionTimePartition": {
      "properties": {
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "type": "string"
        }
      },
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "id": "IngestionTimePartition",
      "type": "object"
    },
    "DropLargeObjects": {
      "description": "Configuration to drop large object values.",
      "type": "object",
      "id": "DropLargeObjects",
      "properties": {}
    },
    "MostRecentStartPosition": {
      "type": "object",
      "id": "MostRecentStartPosition",
      "description": "CDC strategy to start replicating from the most recent position in the source.",
      "properties": {}
    },
    "PscInterfaceConfig": {
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`"
        }
      },
      "type": "object",
      "id": "PscInterfaceConfig",
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC."
    },
    "OracleObjectIdentifier": {
      "type": "object",
      "description": "Oracle data source object identifier.",
      "id": "OracleObjectIdentifier",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "SpannerProfile": {
      "id": "SpannerProfile",
      "type": "object",
      "description": "Profile for connecting to a Spanner source.",
      "properties": {
        "host": {
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com.",
          "type": "string"
        },
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        }
      }
    },
    "Stream": {
      "id": "Stream",
      "properties": {
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "lastRecoveryTime": {
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update time of the stream.",
          "readOnly": true
        },
        "customerManagedEncryptionKey": {
          "type": "string",
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "satisfiesPzi": {
[...]
