{
  "fullyEncodeReservedExpansion": true,
  "title": "Data Manager API",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "version": "v1",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "revision": "20260811",
  "documentationLink": "https://developers.google.com/data-manager",
  "id": "datamanager:v1",
  "rootUrl": "https://datamanager.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "name": "datamanager",
  "ownerDomain": "google.com",
  "canonicalName": "Data Manager",
  "baseUrl": "https://datamanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "type": "object",
      "properties": {
        "contactIdInfo": {
          "$ref": "ContactIdInfo",
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`."
        },
        "mobileIdInfo": {
          "$ref": "MobileIdInfo",
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`."
        },
        "userIdInfo": {
          "$ref": "UserIdInfo",
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`."
        },
        "uploadKeyTypes": {
          "type": "array",
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID - Generic Device ID"
            ]
          }
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "partnerAudienceInfo": {
          "$ref": "PartnerAudienceInfo",
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners."
        }
      },
      "description": "Represents a user list that is populated by user provided data."
    },
    "RequestStatusPerDestination": {
      "description": "A request status per destination.",
      "type": "object",
      "properties": {
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus",
          "description": "The status of the ingest events request."
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        },
        "requestStatus": {
          "type": "string",
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "description": "The request status of the destination.",
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "removeAllAudienceMembersStatus": {
          "description": "The status of the remove all audience members request.",
          "$ref": "RemoveAllAudienceMembersStatus"
        },
        "warningInfo": {
          "$ref": "WarningInfo",
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`."
        }
      },
      "id": "RequestStatusPerDestination"
    },
    "UserListGlobalLicense": {
      "id": "UserListGlobalLicense",
      "type": "object",
      "properties": {
        "licenseType": {
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "description": "Immutable. Product type of client customer which the user list is being licensed to."
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "$ref": "UserListLicenseMetrics"
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license."
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array",
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A user list global license. This feature is only available to data partners."
    },
    "AudienceMember": {
      "description": "The audience member to be operated on.",
      "type": "object",
      "properties": {
        "pairData": {
          "$ref": "PairData",
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners."
        },
        "userIdData": {
          "$ref": "UserIdData",
          "description": "Data related to unique identifiers for a user, as defined by the advertiser."
        },
        "mobileData": {
          "description": "Data identifying the user's mobile devices.",
          "$ref": "MobileData"
        },
        "googleUserIdData": {
          "description": "Encrypted Google User IDs.",
          "$ref": "GoogleUserIdData"
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "compositeData": {
          "description": "Group of multiple identifier types.",
          "$ref": "CompositeData"
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        }
      },
      "id": "AudienceMember"
    },
    "ListUserListGlobalLicensesResponse": {
      "id": "ListUserListGlobalLicensesResponse",
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "type": "object",
      "properties": {
        "userListGlobalLicenses": {
          "items": {
            "$ref": "UserListGlobalLicense"
          },
          "description": "The licenses for the given user list in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FieldWarning": {
      "id": "FieldWarning",
      "description": "Detailed row-level warning with field paths.",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "WARNING_REASON_UNSPECIFIED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED",
            "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID",
            "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING",
            "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING",
            "WARNING_REASON_GENERIC",
            "WARNING_REASON_INVALID_CLIENT_ID",
            "WARNING_REASON_INVALID_SUBDIVISION_CODE",
            "WARNING_REASON_INVALID_REGION_CODE",
            "WARNING_REASON_INVALID_SUBCONTINENT_CODE",
            "WARNING_REASON_INVALID_CONTINENT_CODE",
            "WARNING_REASON_INVALID_DEVICE_CATEGORY",
            "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION",
            "WARNING_REASON_INVALID_MERCHANT_ID"
          ],
          "description": "The warning reason.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified warning reason.",
            "A custom variable in `custom_variables` is not enabled in the account.",
            "A custom variable value in `custom_variables` is not among the predefined allowed values configured for the custom variable on the destination account.",
            "The `cart_data` is not supported with `gbraid` or `wbraid`.",
            "The `merchant_product_id` is missing in the cart item.",
            "The `unit_price` is missing in the cart item.",
            "Generic warning reason for issues that do not fit into other specific categories.",
            "The `client_id` is invalid.",
            "The `subdivision_code` is invalid.",
            "The `region_code` is invalid.",
            "The `subcontinent_code` is invalid.",
            "The `continent_code` is invalid.",
            "The device `category` is invalid.",
            "The device `screen_height` or `screen_width` is invalid.",
            "The `merchant_id` is invalid."
          ]
        },
        "description": {
          "description": "The detailed warning message describing the issue.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "The field path that triggered the warning. Uses the same format as google.rpc.BadRequest.FieldViolation.field."
        }
      }
    },
    "PartnerAudienceInfo": {
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "partnerAudienceSource": {
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "description": "Required. Immutable. The source of the partner audience."
        },
        "commercePartner": {
          "type": "string",
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`."
        }
      },
      "id": "PartnerAudienceInfo"
    },
    "RemoveAllAudienceMembersRequest": {
      "description": "Request to remove all users from an audience in the provided destinations. Returns a RemoveAllAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array",
          "description": "Required. The list of destinations to remove the users from."
        },
        "removeAsOfTime": {
          "description": "Optional. The remove as of time. If set, only audience members last added before this time will be removed. If not set, it defaults to current time. The remove as of time must not be in the future.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "RemoveAllAudienceMembersRequest"
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "type": "object",
      "properties": {
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        },
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        }
      },
      "id": "GcpWrappedKeyInfo"
    },
    "EventParameter": {
      "id": "EventParameter",
      "type": "object",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "Required. The name of the parameter to use."
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      },
      "description": "Event parameter for GA4 events."
    },
    "IpData": {
      "type": "object",
      "properties": {
        "observeEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Last recorded interaction time from this IP address in a session."
        },
        "observeStartTime": {
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "type": "string",
          "format": "google-datetime"
        },
        "ipAddress": {
          "type": "string",
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6."
        }
      },
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates.",
      "id": "IpData"
    },
    "IngestMobileDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestMobileDataStatus"
    },
    "UserProperty": {
      "id": "UserProperty",
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "Required. The name of the user property to use."
        },
        "value": {
          "description": "Required. The string representation of the value of the user property to use.",
          "type": "string"
        }
      }
    },
    "RemoveAudienceMembersStatus": {
      "id": "RemoveAudienceMembersStatus",
      "type": "object",
      "properties": {
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "userIdDataRemovalStatus": {
          "$ref": "RemoveUserIdDataStatus",
          "description": "The status of the user id data removal from the destination."
        },
        "ppidDataRemovalStatus": {
          "$ref": "RemovePpidDataStatus",
          "description": "The status of the ppid data removal from the destination."
        },
        "compositeDataRemovalStatus": {
          "$ref": "RemoveCompositeDataStatus",
          "description": "The status of the composite data removal from the destination."
        },
        "partnerProvidedIdDataRemovalStatus": {
          "description": "The status of the partner provided id data removal from the destination.",
          "$ref": "RemovePartnerProvidedIdDataStatus"
        },
        "googleUserIdDataRemovalStatus": {
          "description": "The status of the google user id data removal from the destination.",
          "$ref": "RemoveGoogleUserIdDataStatus"
        }
      },
      "description": "The status of the remove audience members request."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "TermsOfService": {
      "description": "The terms of service that the user has accepted/rejected.",
      "type": "object",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ]
        }
      },
      "id": "TermsOfService"
    },
    "SizeInfo": {
      "description": "Estimated number of members in this user list in different target networks.",
      "type": "object",
      "properties": {
        "gmailMembersCount": {
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "displayNetworkMembersCount": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "type": "string",
          "format": "int64"
        },
        "youtubeMembersCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "readOnly": true
        },
        "searchNetworkMembersCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns."
        }
      },
      "id": "SizeInfo"
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. Required when used in an AdEvent.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "screenHeight": {
          "description": "Optional. The height of the screen in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "screenWidth": {
          "description": "Optional. The width of the screen in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Optional. The operating system or platform of the device.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Optional. The version of the browser.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”."
        },
        "operatingSystemVersion": {
          "description": "Optional. The version of the operating system or platform.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Optional. The model of the device."
        },
        "browser": {
          "type": "string",
          "description": "Optional. The brand or type of the browser."
        },
        "userAgent": {
          "description": "Optional. The user-agent string of the device for the given context.",
          "type": "string"
        }
      },
      "description": "Information about the device being used (if any) when the event happened."
    },
    "AdEvent": {
      "id": "AdEvent",
      "description": "An ad event.",
      "type": "object",
      "properties": {
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        },
        "attributionHint": {
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports."
        },
        "adFormatString": {
          "description": "String value for ad format.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional."
        },
        "adWidth": {
          "description": "Optional. The width of the ad in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "adType": {
          "description": "Enum value for ad type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ],
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ]
        },
        "platformString": {
          "description": "String value for platform.",
          "type": "string"
        },
        "adFormat": {
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "description": "Enum value for ad format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ]
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Required. Information gathered about the device being used when the ad event happened.",
          "$ref": "DeviceInfo"
        },
        "platformType": {
          "description": "Enum value for platform type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ]
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ],
          "description": "Enum value for platform.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ]
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "targetingTypeString": {
          "description": "String value for targeting type.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. The platform source of the ad, akin to the Google Analytics source."
        },
        "timestamp": {
          "description": "Required. The time the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "description": "Enum value for targeting type.",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ]
        },
        "viewabilityInfo": {
          "$ref": "ViewabilityInfo",
          "description": "Required. Details of the viewability of the ad served."
        },
        "measurementAllowed": {
          "type": "boolean",
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction."
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "platformTypeString": {
          "description": "String value for platform type.",
          "type": "string"
        },
        "eventSubtype": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ],
          "description": "Enum value for event subtype.",
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ]
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "adPlacementString": {
          "description": "String value for ad placement.",
          "type": "string"
        },
        "adHeight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The height of the ad in pixels."
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "description": "Required. The type of the event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ]
        },
        "campaignId": {
          "type": "string",
          "description": "Required. The ID of the associated campaign."
        },
        "userData": {
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found.",
          "$ref": "UserData"
        },
        "campaignName": {
          "type": "string",
          "description": "Required. The name of the associated campaign."
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "adPlacement": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ],
          "description": "Enum value for ad placement.",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ]
        },
        "medium": {
          "type": "string",
          "description": "Required. The medium of the ad, akin to the Google Analytics medium."
        }
      }
    },
    "PartnerCustomerAccount": {
      "description": "Represents a customer account in the partner's system.",
      "type": "object",
      "properties": {
        "accountType": {
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example.",
          "type": "string"
        },
        "accountId": {
          "description": "Required. The identifier of the customer account in the partner's ID space.",
          "type": "string"
        },
        "accountName": {
          "description": "Optional. The name of the account.",
          "type": "string"
        }
      },
      "id": "PartnerCustomerAccount"
    },
    "CoordinatorKeyInfo": {
      "id": "CoordinatorKeyInfo",
      "type": "object",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Required. The ID of the chosen coordinator key."
        }
      },
      "description": "Information about the coordinator key."
    },
    "SearchPartnerLinksResponse": {
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "description": "The partner links for the given account.",
          "items": {
            "$ref": "PartnerLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "SearchPartnerLinksResponse"
    },
    "PseudonymousIdInfo": {
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "description": "Output only. Sync status of the user list."
        },
        "billableRecordCount": {
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PseudonymousIdInfo"
    },
    "Event": {
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "type": "object",
      "properties": {
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "eventName": {
          "type": "string",
          "description": "Optional. The name of the event. Required for GA4 events."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream."
        },
        "eventSource": {
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ],
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.)."
        },
        "cartData": {
          "$ref": "CartData",
          "description": "Optional. Information about the transaction and items associated with the event."
        },
        "eventLocation": {
          "description": "Optional. Information gathered about the location of the user when this event occurred.",
          "$ref": "EventLocation"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream."
        },
        "thirdPartyUserData": {
          "$ref": "UserData",
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data."
        },
        "eventTimestamp": {
          "description": "Required. The time the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "additionalEventParameters": {
          "items": {
            "$ref": "EventParameter"
          },
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "experimentalFields": {
          "items": {
            "$ref": "ExperimentalField"
          },
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "type": "array"
        },
        "userProperties": {
          "$ref": "UserProperties",
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened."
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The last time the event was updated."
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "adIdentifiers": {
          "$ref": "AdIdentifiers",
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks)."
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions."
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "conversionCount": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions."
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "conversionValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion value associated with the event, for value-based conversions."
        },
        "currency": {
          "description": "Optional. The currency code associated with all monetary values within this event.",
          "type": "string"
        }
      },
      "id": "Event"
    },
    "IngestAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to send the audience members to.",
          "items": {
            "$ref": "Destination"
          }
        },
        "audienceMembers": {
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored."
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "termsOfService": {
          "$ref": "TermsOfService",
          "description": "Optional. The terms of service that the user has accepted/rejected."
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "id": "IngestAudienceMembersRequest"
    },
    "Baseline": {
      "description": "Baseline criteria against which insights are compared.",
      "type": "object",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "type": "boolean",
          "description": "If set to true, the service will try to automatically detect the baseline location for insights."
        }
      },
      "id": "Baseline"
    },
    "RemoveAllAudienceMembersStatus": {
      "id": "RemoveAllAudienceMembersStatus",
      "description": "The status of the remove all audience members request.",
      "type": "object",
      "properties": {}
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "type": "array"
        }
      },
      "id": "UserData"
    },
    "RetrieveRequestStatusResponse": {
      "description": "Response from the RetrieveRequestStatusRequest.",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "type": "array",
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request."
        }
      },
      "id": "RetrieveRequestStatusResponse"
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        },
        "fieldWarnings": {
          "items": {
            "$ref": "FieldWarning"
          },
          "type": "array",
          "description": "Detailed row-level warnings with field paths."
        }
      },
      "description": "Response from the IngestAudienceMembersRequest."
    },
    "Consent": {
      "id": "Consent",
      "type": "object",
      "properties": {
        "adUserData": {
          "description": "Optional. Represents if the user consents to ad user data.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad personalization.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        }
      },
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user."
    },
    "RemoveAllAudienceMembersResponse": {
      "id": "RemoveAllAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the RemoveAllAudienceMembersRequest."
    },
    "ExperimentalField": {
      "description": "Experimental field representing unofficial fields.",
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Optional. The name of the field to use."
        },
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        }
      },
      "id": "ExperimentalField"
    },
    "Item": {
      "id": "Item",
      "description": "Represents an item in the cart associated with the event.",
      "type": "object",
      "properties": {
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "unitPrice": {
          "type": "number",
          "format": "double",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts."
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "customVariables": {
          "type": "array",
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions.",
          "items": {
            "$ref": "ItemCustomVariable"
          }
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item.",
          "type": "number",
          "format": "double"
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of this item associated with the event."
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
        },
        "itemId": {
          "type": "string",
          "description": "Optional. A unique identifier to reference the item."
        }
      }
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not."
        }
      },
      "description": "The status of the ppid data removal from the destination."
    },
    "IngestAudienceMembersStatus": {
      "description": "The status of the ingest audience members request.",
      "type": "object",
      "properties": {
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "$ref": "IngestGoogleUserIdDataStatus",
          "description": "The status of the google user id data ingestion to the destination."
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "ppidDataIngestionStatus": {
          "$ref": "IngestPpidDataStatus",
          "description": "The status of the ppid data ingestion to the destination."
        },
        "compositeDataIngestionStatus": {
          "$ref": "IngestCompositeDataStatus",
          "description": "The status of the composite data ingestion to the destination."
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        },
        "partnerProvidedIdDataIngestionStatus": {
          "$ref": "IngestPartnerProvidedIdDataStatus",
          "description": "The status of the partner provided id data ingestion to the destination."
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        }
      },
      "id": "IngestAudienceMembersStatus"
    },
    "RemoveMobileDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "mobileIdCount": {
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the mobile data removal from the destination.",
      "id": "RemoveMobileDataStatus"
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest."
        },
        "loginAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`."
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        }
      },
      "id": "Destination"
    },
    "IngestEventsResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        },
        "fieldWarnings": {
          "type": "array",
          "description": "Detailed row-level warnings with field paths.",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      },
      "description": "Response from the IngestEventsRequest.",
      "id": "IngestEventsResponse"
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Optional. UserListDirectLicense pricing."
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to."
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list direct license."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to."
        },
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        }
      },
      "id": "UserListDirectLicense"
    },
    "RemovePartnerProvidedIdDataStatus": {
      "id": "RemovePartnerProvidedIdDataStatus",
      "type": "object",
      "properties": {
        "partnerProvidedIdCount": {
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the partner provided id data removal from the destination."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "ViewabilityInfo": {
      "description": "Details of the viewability of the ad served.",
      "type": "object",
      "properties": {
        "mediaDuration": {
          "description": "Optional. The duration of the ad media.",
          "type": "string",
          "format": "google-duration"
        },
        "mediaQuartile": {
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ],
          "description": "Optional. The amount of the media that was played as discrete quartiles.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified media quartile.",
            "Start.",
            "First quartile.",
            "Midpoint.",
            "Third quartile.",
            "Complete."
          ]
        },
        "playbackDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration of playback of the ad media, regardless of whether it was viewable or not."
        },
        "mediaVolumePercent": {
          "description": "Optional. The numerical percent (0-100) of the volume of the media playback.",
          "type": "integer",
          "format": "int32"
        },
        "viewableDuration": {
          "description": "Optional. The amount of time the ad was viewable for.",
          "type": "string",
          "format": "google-duration"
        },
        "viewType": {
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified view type.",
            "MRC viewed.",
            "MRC rendered."
          ],
          "description": "Required. The type of the event."
        },
        "viewablePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The numerical percent (0-100) of the pixels that were viewable."
        },
        "mediaSkippable": {
          "description": "Optional. Whether the ad media was skippable or not.",
          "type": "boolean"
        }
      },
      "id": "ViewabilityInfo"
    },
    "PairData": {
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "pairIds": {
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PairData"
    },
    "MarketingDataInsight": {
      "id": "MarketingDataInsight",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "The dimension to which the insight belongs.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ]
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      },
      "description": "Insights for marketing data. This feature is only available to data partners."
    },
    "WarningInfo": {
      "type": "object",
      "properties": {
        "warningCounts": {
          "items": {
            "$ref": "WarningCount"
          },
          "description": "A list of warnings and counts per warning reason.",
          "type": "array"
        }
      },
      "description": "Warning counts for each type of warning.",
      "id": "WarningInfo"
    },
    "EncryptedUserId": {
      "description": "A user identifier issued to be used for attribution. All fields are required if this is used.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Required. The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "format": "int64"
        },
        "encryptedId": {
          "type": "string",
          "description": "Required. The alphanumeric encrypted id."
        },
        "entityType": {
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified encryption entity type.",
            "Campaign Manager 360 account.",
            "Campaign Manager 360 advertiser.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ads customer.",
            "Google Ad Manager network code."
          ],
          "description": "Required. The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "source": {
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified encryption source.",
            "Ad serving encryption source.",
            "Data transfer encryption source."
          ],
          "description": "Required. Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
        }
      },
      "id": "EncryptedUserId"
    },
    "TargetNetworkInfo": {
      "id": "TargetNetworkInfo",
      "description": "Eligibility information for different target networks.",
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates this user list is eligible for Google Display Network."
        },
        "eligibleForSearch": {
          "type": "boolean",
          "description": "Optional. Indicates if this user list is eligible for Google Search Network."
        }
      }
    },
    "MobileIdInfo": {
      "id": "MobileIdInfo",
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "keySpace": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ]
        },
        "appId": {
          "type": "string",
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected."
        },
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      }
    },
    "RetrieveInsightsRequest": {
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        },
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        }
      },
      "id": "RetrieveInsightsRequest"
    },
    "UserListLicenseMetrics": {
      "type": "object",
      "properties": {
        "clickCount": {
          "description": "Output only. The number of clicks for the user list license.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "endDate": {
          "readOnly": true,
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "format": "int64"
        },
        "revenueUsdMicros": {
          "description": "Output only. The revenue for the user list license in USD micros.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "impressionCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of impressions for the user list license.",
          "readOnly": true
        },
        "startDate": {
          "readOnly": true,
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Metrics related to a user list license.",
      "id": "UserListLicenseMetrics"
    },
    "PartnerProvidedIdData": {
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required.",
      "type": "object",
      "properties": {
        "partnerProvidedIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of partner-provided identifiers."
        }
      },
      "id": "PartnerProvidedIdData"
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The count of records that have a warning.",
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "description": "The warning reason.",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        }
      },
      "id": "WarningCount"
    },
    "UserProperties": {
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "type": "object",
      "properties": {
        "customerType": {
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "description": "Optional. Type of the customer associated with the event."
        },
        "customerValueBucket": {
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "description": "Optional. The advertiser-assessed value of the customer."
        },
        "additionalUserProperties": {
          "items": {
            "$ref": "UserProperty"
          },
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array"
        }
      },
      "id": "UserProperties"
    },
    "EventLocation": {
      "description": "The location where the event occurred.",
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "description": "Optional. The name of the city where the event occurred."
        },
        "continentCode": {
          "description": "Optional. The continent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "subdivisionCode": {
          "type": "string",
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred."
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The 2-letter CLDR region code of the user's address."
        },
        "storeId": {
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened.",
          "type": "string"
        },
        "subcontinentCode": {
          "type": "string",
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred."
        }
      },
      "id": "EventLocation"
    },
    "PairIdInfo": {
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "advertiserIdentifierCount": {
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "type": "string",
          "format": "int64"
        },
        "matchRatePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive."
        },
        "publisherName": {
          "type": "string",
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience."
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "publisherId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms."
        }
      },
      "id": "PairIdInfo"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        },
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "$ref": "CoordinatorKeyInfo",
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods."
        }
      },
      "description": "Encryption information for the data being ingested."
    },
    "ItemCustomVariable": {
      "description": "Item-level custom variable for ads conversions.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used."
        },
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        }
      },
      "id": "ItemCustomVariable"
    },
    "RemoveGoogleUserIdDataStatus": {
      "id": "RemoveGoogleUserIdDataStatus",
      "description": "The status of the google user id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "googleUserIdCount": {
          "description": "The total count of google user ids sent in the removal request. Includes all google user ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CompositeData": {
      "id": "CompositeData",
      "type": "object",
      "properties": {
        "ipData": {
          "type": "array",
          "description": "Optional. IP address data representing customer interaction used to build the audience.",
          "items": {
            "$ref": "IpData"
          }
        },
        "userData": {
          "description": "Optional. User-provided data that identifies the user.",
          "$ref": "UserData"
        }
      },
      "description": "Composite data holding identifiers and associated data for a user. At least one of `user_data` or `ip_data` is required."
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array",
          "items": {
            "$ref": "ErrorCount"
          }
        }
      },
      "description": "Error counts for each type of error.",
      "id": "ErrorInfo"
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPpidDataStatus"
    },
    "MobileData": {
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "type": "object",
      "properties": {
        "mobileIds": {
          "type": "array",
          "description": "Required. The list of mobile device IDs (Android advertising ID, iOS IDFA for Customer Match user lists and Android advertising ID, iOS IDFA, Xbox or Microsoft ID, Amazon Fire TV ID, Roku ID, Generic Device ID for basic user lists). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "MobileData"
    },
    "MarketingDataInsightsAttribute": {
      "id": "MarketingDataInsightsAttribute",
      "type": "object",
      "properties": {
        "lift": {
          "type": "number",
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
        },
        "userInterestId": {
          "description": "The user interest ID.",
          "type": "string",
          "format": "int64"
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ]
        },
        "gender": {
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "description": "Gender of the audience for which the lift is provided."
        }
      },
      "description": "Insights for a collection of related attributes of the same dimension."
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "description": "The customer information for the given license in the request.",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        }
      },
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "id": "ListUserListGlobalLicenseCustomerInfosResponse"
    },
    "CustomVariable": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        }
      },
      "description": "Custom variable for ads conversions.",
      "id": "CustomVariable"
    },
    "RemoveAudienceMembersResponse": {
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "id": "RemoveAudienceMembersResponse"
    },
    "UserListLicensePricing": {
      "id": "UserListLicensePricing",
      "description": "A user list license pricing.",
      "type": "object",
      "properties": {
        "pricingId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of this pricing.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. End time of the pricing."
        },
        "buyerApprovalState": {
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "readOnly": true
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        },
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ]
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "description": "Output only. Start time of the pricing.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "pricingActive": {
          "type": "boolean",
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true
        },
        "maxCostMicros": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap."
        }
      }
    },
    "DataTypeCount": {
      "id": "DataTypeCount",
      "description": "The count for a specific data type.",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count for this data type."
        },
        "type": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ],
          "description": "The type of data.",
          "type": "string",
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ]
        }
      }
    },
    "ContactIdInfo": {
      "type": "object",
      "properties": {
        "dataSourceType": {
[...]
