{
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datamanager:v1",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "discoveryVersion": "v1",
  "resources": {
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userLists": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserList"
                  },
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(display_name, \"name1\", \"name2\")` Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userLists"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "id": "datamanager.accountTypes.accounts.userLists.delete"
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserList"
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "path": "v1/{+parent}/userLists",
                  "httpMethod": "POST"
                },
                "patch": {
                  "request": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "UserList"
                  }
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the user list global license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "path": "v1/{+name}",
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Identifier. The resource name of the user list global license.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used."
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates a user list global license. This feature is only available to data partners."
                },
                "list": {
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}"
                    }
                  },
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`"
                        }
                      },
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ]
                    }
                  }
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "description": "Required. The resource name of the user list direct license."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "patch": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used."
                    },
                    "name": {
                      "description": "Identifier. The resource name of the user list direct license.",
                      "required": true,
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    }
                  },
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "httpMethod": "POST",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "path": "v1/{+parent}/insights:retrieve",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  }
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/partnerLinks",
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "httpMethod": "POST"
                },
                "search": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search",
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "path": "v1/{+parent}/partnerLinks:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 50 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` - `feature_set` For partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set, the following fields are also supported: - `partner_customer_account.account_id` - `partner_link_metadata.implicit_accounts.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete"
                }
              }
            }
          }
        }
      }
    },
    "adEvents": {
      "methods": {
        "ingest": {
          "description": "Uploads a list of AdEvent resources to Google Analytics. This feature is only available to accounts on an allowlist.",
          "response": {
            "$ref": "IngestAdEventsResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "datamanager.adEvents.ingest",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "path": "v1/adEvents:ingest",
          "flatPath": "v1/adEvents:ingest",
          "request": {
            "$ref": "IngestAdEventsRequest"
          }
        }
      }
    },
    "audienceMembers": {
      "methods": {
        "ingest": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {},
          "path": "v1/audienceMembers:ingest",
          "flatPath": "v1/audienceMembers:ingest",
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "httpMethod": "POST",
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "id": "datamanager.audienceMembers.ingest",
          "parameterOrder": [],
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          }
        },
        "remove": {
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "parameterOrder": [],
          "id": "datamanager.audienceMembers.remove",
          "flatPath": "v1/audienceMembers:remove",
          "path": "v1/audienceMembers:remove",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "description": "Removes a list of AudienceMember resources from the provided Destination."
        },
        "removeAll": {
          "response": {
            "$ref": "RemoveAllAudienceMembersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "description": "Removes all audience members from the provided destinations.",
          "request": {
            "$ref": "RemoveAllAudienceMembersRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "v1/audienceMembers:removeAll",
          "path": "v1/audienceMembers:removeAll",
          "httpMethod": "POST",
          "id": "datamanager.audienceMembers.removeAll"
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "id": "datamanager.requestStatus.retrieve",
          "path": "v1/requestStatus:retrieve",
          "description": "Gets the status of a request given request id.",
          "flatPath": "v1/requestStatus:retrieve"
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "flatPath": "v1/events:ingest",
          "path": "v1/events:ingest",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "id": "datamanager.events.ingest",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "parameters": {},
          "description": "Uploads a list of Event resources from the provided Destination."
        }
      }
    }
  },
  "title": "Data Manager API",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://datamanager.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "version_module": true,
  "name": "datamanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Data Manager",
  "protocol": "rest",
  "rootUrl": "https://datamanager.googleapis.com/",
  "revision": "20260828",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/data-manager",
  "schemas": {
    "UserData": {
      "type": "object",
      "description": "Data that identifies the user. At least one identifier is required.",
      "id": "UserData",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event."
        }
      }
    },
    "CustomVariable": {
      "id": "CustomVariable",
      "type": "object",
      "description": "Custom variable for ads conversions.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array"
        }
      }
    },
    "SizeInfo": {
      "type": "object",
      "properties": {
        "youtubeMembersCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "type": "string"
        },
        "displayNetworkMembersCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network."
        },
        "gmailMembersCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "type": "string"
        },
        "searchNetworkMembersCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "readOnly": true
        }
      },
      "description": "Estimated number of members in this user list in different target networks.",
      "id": "SizeInfo"
    },
    "IngestGoogleUserIdDataStatus": {
      "description": "The status of the google user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestGoogleUserIdDataStatus",
      "properties": {
        "googleUserIdCount": {
          "format": "int64",
          "description": "The total count of google user ids sent in the upload request for the destination. Includes all google user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      }
    },
    "ListUserListGlobalLicensesResponse": {
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "properties": {
        "userListGlobalLicenses": {
          "description": "The licenses for the given user list in the request.",
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListGlobalLicensesResponse",
      "type": "object"
    },
    "ProductAccount": {
      "description": "Represents a specific account.",
      "id": "ProductAccount",
      "properties": {
        "accountType": {
          "type": "string",
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "product": {
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "description": "Deprecated. Use `account_type` instead."
        }
      },
      "type": "object"
    },
    "PairData": {
      "properties": {
        "pairIds": {
          "type": "array",
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PairData",
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "UserIdentifier": {
      "type": "object",
      "description": "A single identifier for the user.",
      "id": "UserIdentifier",
      "properties": {
        "address": {
          "$ref": "AddressInfo",
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once."
        },
        "emailAddress": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        }
      }
    },
    "UserList": {
      "properties": {
        "integrationCode": {
          "type": "string",
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems."
        },
        "accessReason": {
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "readOnly": true,
          "description": "Output only. The reason this account has been granted access to the list."
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "sizeInfo": {
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "$ref": "SizeInfo",
          "readOnly": true
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "description": {
          "description": "Optional. A description of the user list.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the user list."
        },
        "accountAccessStatus": {
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "membershipDuration": {
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "type": "string",
          "format": "google-duration"
        },
        "targetNetworkInfo": {
          "$ref": "TargetNetworkInfo",
          "description": "Optional. Eligibility information for different target networks."
        },
        "readOnly": {
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "closingReason": {
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ]
        },
        "membershipStatus": {
          "type": "string",
          "description": "Optional. Membership status of this user list.",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        }
      },
      "type": "object",
      "id": "UserList",
      "description": "A user list resource."
    },
    "AudienceMember": {
      "id": "AudienceMember",
      "type": "object",
      "description": "The audience member to be operated on.",
      "properties": {
        "mobileData": {
          "$ref": "MobileData",
          "description": "Data identifying the user's mobile devices."
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        },
        "userIdData": {
          "$ref": "UserIdData",
          "description": "Data related to unique identifiers for a user, as defined by the advertiser."
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "googleUserIdData": {
          "description": "Encrypted Google User IDs.",
          "$ref": "GoogleUserIdData"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "compositeData": {
          "$ref": "CompositeData",
          "description": "Group of multiple identifier types."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array"
        }
      }
    },
    "IngestUserDataStatus": {
      "properties": {
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "uploadMatchRateRange": {
          "type": "string",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "description": "The match rate range of the upload.",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserDataStatus"
    },
    "Consent": {
      "id": "Consent",
      "properties": {
        "adPersonalization": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adUserData": {
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Optional. Represents if the user consents to ad user data.",
          "type": "string"
        }
      },
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object"
    },
    "IngestPairDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "pairIdCount": {
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPairDataStatus",
      "type": "object"
    },
    "MobileIdInfo": {
      "properties": {
        "appId": {
          "type": "string",
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected."
        },
        "dataSourceType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data.",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "keySpace": {
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "type": "string"
        }
      },
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "type": "object",
      "id": "MobileIdInfo"
    },
    "IngestUserIdDataStatus": {
      "type": "object",
      "id": "IngestUserIdDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion."
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "properties": {
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "productDestinationId": {
          "type": "string",
          "description": "Optional. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID. This field is optional for Google Ad Manager event ingestion and User ingestion. Required for all other use cases."
        },
        "loginAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`."
        }
      },
      "id": "Destination"
    },
    "DeviceInfo": {
      "type": "object",
      "description": "Information about the device being used (if any) when the event happened.",
      "id": "DeviceInfo",
      "properties": {
        "category": {
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "browser": {
          "description": "Optional. The brand or type of the browser.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user-agent string of the device for the given context."
        },
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. Required when used in an AdEvent.",
          "type": "string"
        },
        "screenWidth": {
          "format": "int32",
          "description": "Optional. The width of the screen in pixels.",
          "type": "integer"
        },
        "operatingSystemVersion": {
          "description": "Optional. The version of the operating system or platform.",
          "type": "string"
        },
        "screenHeight": {
          "description": "Optional. The height of the screen in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "model": {
          "description": "Optional. The model of the device.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Optional. The version of the browser.",
          "type": "string"
        },
        "operatingSystem": {
          "type": "string",
          "description": "Optional. The operating system or platform of the device."
        }
      }
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPpidDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      }
    },
    "SearchPartnerLinksResponse": {
      "type": "object",
      "description": "Response from the SearchPartnerLinksRequest.",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          },
          "description": "The partner links for the given account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "SearchPartnerLinksResponse"
    },
    "RemoveAllAudienceMembersStatus": {
      "properties": {},
      "type": "object",
      "id": "RemoveAllAudienceMembersStatus",
      "description": "The status of the remove all audience members request."
    },
    "RemoveMobileDataStatus": {
      "properties": {
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the mobile data removal from the destination.",
      "id": "RemoveMobileDataStatus",
      "type": "object"
    },
    "IngestAdEventsRequest": {
      "type": "object",
      "id": "IngestAdEventsRequest",
      "properties": {
        "validateOnly": {
          "deprecated": true,
          "description": "Optional. If true, the request is validated, but not executed.",
          "type": "boolean"
        },
        "adEvents": {
          "description": "Required. Required (at least 1). A list of ad events.",
          "items": {
            "$ref": "AdEvent"
          },
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Required. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        }
      },
      "description": "Request to upload ad events."
    },
    "CoordinatorKeyInfo": {
      "description": "Information about the coordinator key.",
      "properties": {
        "keyId": {
          "description": "Required. The ID of the chosen coordinator key.",
          "type": "string"
        }
      },
      "id": "CoordinatorKeyInfo",
      "type": "object"
    },
    "IngestEventsRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
        },
        "encoding": {
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      }
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "id": "RemoveAudienceMembersResponse"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "EventLocation": {
      "type": "object",
      "description": "The location where the event occurred.",
      "id": "EventLocation",
      "properties": {
        "subcontinentCode": {
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Optional. The name of the city where the event occurred."
        },
        "storeId": {
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened.",
          "type": "string"
        },
        "subdivisionCode": {
          "type": "string",
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred."
        },
        "continentCode": {
          "type": "string",
          "description": "Optional. The continent code in UN M49 format where the event occurred."
        },
        "regionCode": {
          "description": "Optional. The 2-letter CLDR region code of the user's address.",
          "type": "string"
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "properties": {
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true,
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountId": {
          "type": "string",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "format": "int64"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "status": {
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true
        },
        "clientAccountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        }
      },
      "type": "object",
      "id": "UserListDirectLicense"
    },
    "RetrieveInsightsResponse": {
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          }
        }
      },
      "id": "RetrieveInsightsResponse",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of records that have a warning."
        },
        "reason": {
          "description": "The warning reason.",
          "type": "string",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        }
      },
      "type": "object",
      "id": "WarningCount"
    },
    "ContactIdInfo": {
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "matchRatePercentage": {
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        }
      },
      "id": "ContactIdInfo"
    },
    "IngestEventsResponse": {
      "id": "IngestEventsResponse",
      "type": "object",
      "description": "Response from the IngestEventsRequest.",
      "properties": {
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        },
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      }
    },
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "id": "ListUserListDirectLicensesResponse",
      "properties": {
        "userListDirectLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptedUserId": {
      "description": "A user identifier issued to be used for attribution. All fields are required if this is used.",
      "id": "EncryptedUserId",
      "type": "object",
      "properties": {
        "encryptedId": {
          "description": "Required. The alphanumeric encrypted id.",
          "type": "string"
        },
        "entityType": {
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ],
          "description": "Required. The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enumDescriptions": [
            "Unspecified encryption entity type.",
            "Campaign Manager 360 account.",
            "Campaign Manager 360 advertiser.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ads customer.",
            "Google Ad Manager network code."
          ],
          "type": "string"
        },
        "source": {
          "enumDescriptions": [
            "Unspecified encryption source.",
            "Ad serving encryption source.",
            "Data transfer encryption source."
          ],
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "type": "string",
          "description": "Required. Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
        },
        "entityId": {
          "type": "string",
          "description": "Required. The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        }
      }
    },
    "RequestStatusPerDestination": {
      "properties": {
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`.",
          "$ref": "WarningInfo"
        },
        "removeAllAudienceMembersStatus": {
          "$ref": "RemoveAllAudienceMembersStatus",
          "description": "The status of the remove all audience members request."
        },
        "destination": {
          "$ref": "Destination",
          "description": "A destination within a DM API request."
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`.",
          "$ref": "ErrorInfo"
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        },
        "audienceMembersRemovalStatus": {
          "$ref": "RemoveAudienceMembersStatus",
          "description": "The status of the remove audience members request."
        },
        "requestStatus": {
          "type": "string",
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "description": "The request status of the destination."
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        }
      },
      "description": "A request status per destination.",
      "type": "object",
      "id": "RequestStatusPerDestination"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "properties": {
        "clientAccountId": {
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call."
        },
        "historicalPricings": {
          "type": "array",
          "description": "Output only. Pricing history of this user list license.",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true
        },
        "userListId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. ID of the user list being licensed."
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license customer."
        },
        "licenseType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED."
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "readOnly": true
        },
        "pricing": {
          "readOnly": true,
          "description": "Output only. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "properties": {
        "regionCodes": {
          "description": "List of ISO 3166-1 alpha-2 region codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "type": "object"
    },
    "IngestAudienceMembersRequest": {
      "type": "object",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "id": "IngestAudienceMembersRequest",
      "properties": {
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "type": "array"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
[...]
