{
  "canonicalName": "Data Manager",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "version_module": true,
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/data-manager",
  "servicePath": "",
  "id": "datamanager:v1",
  "rootUrl": "https://datamanager.googleapis.com/",
  "schemas": {
    "WarningInfo": {
      "type": "object",
      "properties": {
        "warningCounts": {
          "type": "array",
          "items": {
            "$ref": "WarningCount"
          },
          "description": "A list of warnings and counts per warning reason."
        }
      },
      "description": "Warning counts for each type of warning.",
      "id": "WarningInfo"
    },
    "ContactIdInfo": {
      "type": "object",
      "properties": {
        "dataSourceType": {
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data"
        },
        "matchRatePercentage": {
          "type": "integer",
          "description": "Output only. Match rate for customer match user lists.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "ContactIdInfo",
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`."
    },
    "PairIdInfo": {
      "type": "object",
      "properties": {
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        },
        "matchRatePercentage": {
          "type": "integer",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive.",
          "format": "int32"
        },
        "publisherId": {
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "format": "int64",
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "format": "int64",
          "type": "string"
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        }
      },
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "id": "PairIdInfo"
    },
    "RetrieveInsightsRequest": {
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest",
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        },
        "baseline": {
          "$ref": "Baseline",
          "description": "Required. Baseline for the insights requested."
        }
      }
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "userIdentifierCount": {
          "type": "string",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        }
      }
    },
    "TargetNetworkInfo": {
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true,
          "type": "boolean"
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      },
      "id": "TargetNetworkInfo",
      "description": "Eligibility information for different target networks."
    },
    "EventParameter": {
      "description": "Event parameter for GA4 events.",
      "id": "EventParameter",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      }
    },
    "ListUserListsResponse": {
      "type": "object",
      "properties": {
        "userLists": {
          "description": "The user lists from the specified account.",
          "type": "array",
          "items": {
            "$ref": "UserList"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListsResponse",
      "description": "Response message for ListUserLists."
    },
    "UserIdData": {
      "id": "UserIdData",
      "description": "User id data holding the user id.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      }
    },
    "AdEvent": {
      "id": "AdEvent",
      "description": "An ad event.",
      "type": "object",
      "properties": {
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ],
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "description": "Enum value for platform type."
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found."
        },
        "measurementAllowed": {
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction.",
          "type": "boolean"
        },
        "targetingType": {
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ],
          "description": "Enum value for targeting type."
        },
        "campaignId": {
          "description": "Required. The ID of the associated campaign.",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ],
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ],
          "description": "Enum value for platform."
        },
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "attributionHint": {
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports."
        },
        "eventSubtype": {
          "description": "Enum value for event subtype.",
          "type": "string",
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ],
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ]
        },
        "medium": {
          "description": "Required. The medium of the ad, akin to the Google Analytics medium.",
          "type": "string"
        },
        "adFormat": {
          "description": "Enum value for ad format.",
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "type": "string",
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ]
        },
        "targetingTypeString": {
          "description": "String value for targeting type.",
          "type": "string"
        },
        "adPlacementString": {
          "description": "String value for ad placement.",
          "type": "string"
        },
        "platformString": {
          "description": "String value for platform.",
          "type": "string"
        },
        "campaignName": {
          "description": "Required. The name of the associated campaign.",
          "type": "string"
        },
        "adWidth": {
          "description": "Optional. The width of the ad in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "adFormatString": {
          "description": "String value for ad format.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Required. Information gathered about the device being used when the ad event happened.",
          "$ref": "DeviceInfo"
        },
        "source": {
          "description": "Required. The platform source of the ad, akin to the Google Analytics source.",
          "type": "string"
        },
        "adType": {
          "description": "Enum value for ad type.",
          "type": "string",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ]
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time the event occurred.",
          "format": "google-datetime"
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "eventId": {
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional.",
          "type": "string"
        },
        "viewabilityInfo": {
          "$ref": "ViewabilityInfo",
          "description": "Required. Details of the viewability of the ad served."
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "adPlacement": {
          "description": "Enum value for ad placement.",
          "type": "string",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ],
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ]
        },
        "adHeight": {
          "description": "Optional. The height of the ad in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "platformTypeString": {
          "description": "String value for platform type.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ],
          "description": "Required. The type of the event."
        },
        "regionCode": {
          "description": "Optional. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        }
      }
    },
    "AwsWrappedKeyInfo": {
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "id": "AwsWrappedKeyInfo",
      "type": "object",
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data."
        },
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        },
        "roleArn": {
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`",
          "type": "string"
        }
      }
    },
    "RemoveAudienceMembersStatus": {
      "type": "object",
      "properties": {
        "googleUserIdDataRemovalStatus": {
          "$ref": "RemoveGoogleUserIdDataStatus",
          "description": "The status of the google user id data removal from the destination."
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "ppidDataRemovalStatus": {
          "$ref": "RemovePpidDataStatus",
          "description": "The status of the ppid data removal from the destination."
        },
        "partnerProvidedIdDataRemovalStatus": {
          "description": "The status of the partner provided id data removal from the destination.",
          "$ref": "RemovePartnerProvidedIdDataStatus"
        },
        "pairDataRemovalStatus": {
          "$ref": "RemovePairDataStatus",
          "description": "The status of the pair data removal from the destination."
        },
        "mobileDataRemovalStatus": {
          "$ref": "RemoveMobileDataStatus",
          "description": "The status of the mobile data removal from the destination."
        },
        "compositeDataRemovalStatus": {
          "$ref": "RemoveCompositeDataStatus",
          "description": "The status of the composite data removal from the destination."
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        }
      },
      "description": "The status of the remove audience members request.",
      "id": "RemoveAudienceMembersStatus"
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ISO 3166-1 alpha-2 region codes."
        }
      }
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user list global license customer.",
          "type": "string"
        },
        "licenseType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "readOnly": true,
          "type": "string"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "clientAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "format": "int64"
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "readOnly": true,
          "type": "string"
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Output only. UserListDirectLicense pricing.",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the user list being licensed.",
          "format": "int64"
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "readOnly": true,
          "type": "string"
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "$ref": "UserListLicenseMetrics"
        }
      }
    },
    "CartData": {
      "id": "CartData",
      "description": "The cart data associated with the event.",
      "type": "object",
      "properties": {
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "items": {
          "description": "Optional. The list of items associated with the event.",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        },
        "couponCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes."
        },
        "transactionDiscount": {
          "type": "number",
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "format": "double"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "Optional. The Merchant Center feed label associated with the feed of the items.",
          "type": "string"
        }
      }
    },
    "MarketingDataInsight": {
      "type": "object",
      "properties": {
        "dimension": {
          "type": "string",
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "description": "The dimension to which the insight belongs."
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      },
      "id": "MarketingDataInsight",
      "description": "Insights for marketing data. This feature is only available to data partners."
    },
    "ListUserListGlobalLicensesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenses": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicense"
          },
          "description": "The licenses for the given user list in the request."
        }
      },
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "id": "ListUserListGlobalLicensesResponse"
    },
    "EncryptedUserId": {
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ],
          "enumDescriptions": [
            "Unspecified encryption entity type.",
            "Campaign Manager 360 account.",
            "Campaign Manager 360 advertiser.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ads customer.",
            "Google Ad Manager network code."
          ],
          "description": "Required. The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "source": {
          "type": "string",
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "enumDescriptions": [
            "Unspecified encryption source.",
            "Ad serving encryption source.",
            "Data transfer encryption source."
          ],
          "description": "Required. Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
        },
        "encryptedId": {
          "description": "Required. The alphanumeric encrypted id.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Required. The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        }
      },
      "description": "A user identifier issued to be used for attribution. All fields are required if this is used.",
      "id": "EncryptedUserId"
    },
    "RemoveMobileDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "mobileIdCount": {
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RemoveMobileDataStatus",
      "description": "The status of the mobile data removal from the destination."
    },
    "IngestEventsRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest",
      "type": "object",
      "properties": {
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
        }
      }
    },
    "IngestPartnerProvidedIdDataStatus": {
      "description": "The status of the partner provided id data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPartnerProvidedIdDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "partnerProvidedIdCount": {
          "description": "The total count of partner provided ids sent in the upload request for the destination. Includes all partner provided ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "IpData": {
      "type": "object",
      "properties": {
        "observeStartTime": {
          "type": "string",
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6.",
          "type": "string"
        },
        "observeEndTime": {
          "description": "Optional. Last recorded interaction time from this IP address in a session.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates.",
      "id": "IpData"
    },
    "UserListDirectLicense": {
      "id": "UserListDirectLicense",
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "userListId": {
          "type": "string",
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "clientAccountType": {
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to."
        },
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED."
        },
        "clientAccountId": {
          "type": "string",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "format": "int64"
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      }
    },
    "CoordinatorKeyInfo": {
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Required. The ID of the chosen coordinator key.",
          "type": "string"
        }
      },
      "description": "Information about the coordinator key.",
      "id": "CoordinatorKeyInfo"
    },
    "UserList": {
      "type": "object",
      "properties": {
        "integrationCode": {
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems.",
          "type": "string"
        },
        "accessReason": {
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "description": "Output only. The reason this account has been granted access to the list.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the user list.",
          "format": "int64"
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "membershipDuration": {
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "format": "google-duration",
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. An option that indicates if a user may edit a list."
        },
        "description": {
          "description": "Optional. A description of the user list.",
          "type": "string"
        },
        "accountAccessStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`."
        },
        "sizeInfo": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "$ref": "SizeInfo"
        },
        "targetNetworkInfo": {
          "$ref": "TargetNetworkInfo",
          "description": "Optional. Eligibility information for different target networks."
        },
        "closingReason": {
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "type": "string"
        },
        "membershipStatus": {
          "description": "Optional. Membership status of this user list.",
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        }
      },
      "id": "UserList",
      "description": "A user list resource."
    },
    "RemoveAllAudienceMembersStatus": {
      "type": "object",
      "properties": {},
      "description": "The status of the remove all audience members request.",
      "id": "RemoveAllAudienceMembersStatus"
    },
    "Consent": {
      "id": "Consent",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object",
      "properties": {
        "adUserData": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad user data."
        },
        "adPersonalization": {
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        }
      }
    },
    "RemoveCompositeDataStatus": {
      "description": "The status of the composite data removal from the destination.",
      "id": "RemoveCompositeDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the removal request, broken down by data type. Includes all data types in the request, regardless of whether they were successfully removed or not.",
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        }
      }
    },
    "IngestAdEventsResponse": {
      "description": "Response from an ad event ingestion operation.",
      "id": "IngestAdEventsResponse",
      "type": "object",
      "properties": {}
    },
    "UserIdInfo": {
      "id": "UserIdInfo",
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data."
        }
      }
    },
    "AudienceMember": {
      "description": "The audience member to be operated on.",
      "id": "AudienceMember",
      "type": "object",
      "properties": {
        "compositeData": {
          "$ref": "CompositeData",
          "description": "Group of multiple identifier types."
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. The consent setting for the user."
        },
        "googleUserIdData": {
          "description": "Encrypted Google User IDs.",
          "$ref": "GoogleUserIdData"
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userIdData": {
          "$ref": "UserIdData",
          "description": "Data related to unique identifiers for a user, as defined by the advertiser."
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "mobileData": {
          "$ref": "MobileData",
          "description": "Data identifying the user's mobile devices."
        },
        "ppidData": {
          "$ref": "PpidData",
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners."
        },
        "partnerProvidedIdData": {
          "description": "Partner-provided identifiers.",
          "$ref": "PartnerProvidedIdData"
        }
      }
    },
    "IngestedUserListInfo": {
      "type": "object",
      "properties": {
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        },
        "uploadKeyTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID - Generic Device ID"
            ],
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ]
          },
          "description": "Required. Immutable. Upload key types of this user list."
        },
        "contactIdInfo": {
          "$ref": "ContactIdInfo",
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`."
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        }
      },
      "description": "Represents a user list that is populated by user provided data.",
      "id": "IngestedUserListInfo"
    },
    "MobileIdInfo": {
      "type": "object",
      "properties": {
        "dataSourceType": {
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data."
        },
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "keySpace": {
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "description": "Required. Immutable. The key space of mobile IDs."
        }
      },
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "id": "MobileIdInfo"
    },
    "ExperimentalField": {
      "description": "Experimental field representing unofficial fields.",
      "id": "ExperimentalField",
      "type": "object",
      "properties": {
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        }
      }
    },
    "IngestPpidDataStatus": {
      "id": "IngestPpidDataStatus",
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      }
    },
    "RetrieveRequestStatusResponse": {
      "description": "Response from the RetrieveRequestStatusRequest.",
      "id": "RetrieveRequestStatusResponse",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "type": "array",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      }
    },
    "PpidData": {
      "id": "PpidData",
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "ppids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of publisher provided identifiers for a user."
        }
      }
    },
    "GcpWrappedKeyInfo": {
      "type": "object",
      "properties": {
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data."
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        }
      },
      "id": "GcpWrappedKeyInfo",
      "description": "Information about the Google Cloud Platform wrapped key."
    },
    "PartnerAudienceInfo": {
      "id": "PartnerAudienceInfo",
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        },
        "partnerAudienceSource": {
          "type": "string",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "description": "Required. Immutable. The source of the partner audience."
        }
      }
    },
    "RemoveAllAudienceMembersResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "RemoveAllAudienceMembersResponse",
      "description": "Response from the RemoveAllAudienceMembersRequest."
    },
    "RetrieveInsightsResponse": {
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsResponse",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          }
        }
      }
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "id": "Destination",
      "type": "object",
      "properties": {
        "loginAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`."
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        },
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      },
      "description": "Response from the IngestAudienceMembersRequest.",
      "id": "IngestAudienceMembersResponse"
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "type": "object",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          },
          "description": "The customer information for the given license in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PartnerLinkMetadata": {
      "type": "object",
      "properties": {
        "implicitAccounts": {
          "type": "array",
          "items": {
            "$ref": "PartnerCustomerAccount"
          },
          "description": "Optional. The list of implicit accounts."
        }
      },
      "id": "PartnerLinkMetadata",
      "description": "Represents metadata associated with a partner link."
    },
    "ViewabilityInfo": {
      "description": "Details of the viewability of the ad served.",
      "id": "ViewabilityInfo",
      "type": "object",
      "properties": {
        "mediaVolumePercent": {
          "description": "Optional. The numerical percent (0-100) of the volume of the media playback.",
          "format": "int32",
          "type": "integer"
        },
        "viewablePercent": {
          "description": "Optional. The numerical percent (0-100) of the pixels that were viewable.",
          "format": "int32",
          "type": "integer"
        },
        "viewType": {
          "type": "string",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "enumDescriptions": [
            "Unspecified view type.",
            "MRC viewed.",
            "MRC rendered."
          ],
          "description": "Required. The type of the event."
        },
        "viewableDuration": {
          "type": "string",
          "description": "Optional. The amount of time the ad was viewable for.",
          "format": "google-duration"
        },
        "mediaSkippable": {
          "description": "Optional. Whether the ad media was skippable or not.",
          "type": "boolean"
        },
        "mediaQuartile": {
          "description": "Optional. The amount of the media that was played as discrete quartiles.",
          "enumDescriptions": [
            "Unspecified media quartile.",
            "Start.",
            "First quartile.",
            "Midpoint.",
            "Third quartile.",
            "Complete."
          ],
          "type": "string",
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ]
        },
        "playbackDuration": {
          "type": "string",
          "description": "Optional. The duration of playback of the ad media, regardless of whether it was viewable or not.",
          "format": "google-duration"
        },
        "mediaDuration": {
          "type": "string",
          "description": "Optional. The duration of the ad media.",
          "format": "google-duration"
        }
      }
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "id": "UserData",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event."
        }
      }
    },
    "ItemParameter": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        }
      },
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
      "id": "ItemParameter"
    },
    "DataTypeCount": {
      "id": "DataTypeCount",
      "description": "The count for a specific data type.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of data.",
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ]
        },
        "count": {
          "type": "string",
          "description": "The count for this data type.",
          "format": "int64"
        }
      }
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "description": "The status of the ppid data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Item": {
      "description": "Represents an item in the cart associated with the event.",
      "id": "Item",
      "type": "object",
      "properties": {
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item.",
          "format": "double",
          "type": "number"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events.",
          "type": "string"
        },
        "unitPrice": {
          "type": "number",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "format": "double"
        },
        "quantity": {
          "type": "string",
          "description": "Optional. The number of this item associated with the event.",
          "format": "int64"
        },
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        },
        "additionalItemParameters": {
          "type": "array",
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions.",
          "type": "array",
          "items": {
            "$ref": "ItemCustomVariable"
          }
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        }
      }
    },
    "GoogleUserIdData": {
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required.",
      "id": "GoogleUserIdData",
      "type": "object",
      "properties": {
        "googleUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of encrypted google user IDs."
        }
      }
    },
    "EventLocation": {
      "type": "object",
      "properties": {
        "storeId": {
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The 2-letter CLDR region code of the user's address.",
          "type": "string"
        },
        "continentCode": {
          "description": "Optional. The continent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "subcontinentCode": {
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "subdivisionCode": {
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred.",
          "type": "string"
        },
        "city": {
          "description": "Optional. The name of the city where the event occurred.",
          "type": "string"
        }
      },
      "description": "The location where the event occurred.",
      "id": "EventLocation"
    },
    "IngestAdEventsRequest": {
      "id": "IngestAdEventsRequest",
      "description": "Request to upload ad events.",
      "type": "object",
      "properties": {
        "adEvents": {
          "description": "Required. Required (at least 1). A list of ad events.",
          "type": "array",
          "items": {
            "$ref": "AdEvent"
          }
        },
        "encryptionInfo": {
          "description": "Required. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        },
        "validateOnly": {
          "description": "Optional. If true, the request is validated, but not executed.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "WarningCount": {
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The count of records that have a warning.",
          "format": "int64"
        },
        "reason": {
          "description": "The warning reason.",
          "type": "string",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        }
      },
      "id": "WarningCount",
      "description": "The warning count for a given warning reason."
    },
    "IngestCompositeDataStatus": {
      "id": "IngestCompositeDataStatus",
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "dataTypeCounts": {
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          },
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not."
        },
        "uploadMatchRateRange": {
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "description": "The match rate range of the upload."
        }
      }
    },
    "IngestUserIdDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "userIdCount": {
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IngestUserIdDataStatus",
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion."
    },
    "RemoveAllAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "removeAsOfTime": {
          "type": "string",
          "description": "Optional. The remove as of time. If set, only audience members last added before this time will be removed. If not set, it defaults to current time. The remove as of time must not be in the future.",
          "format": "google-datetime"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      },
      "description": "Request to remove all users from an audience in the provided destinations. Returns a RemoveAllAudienceMembersResponse.",
      "id": "RemoveAllAudienceMembersRequest"
    },
    "IngestPairDataStatus": {
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPairDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "pairIdCount": {
          "type": "string",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      }
    },
    "UserListGlobalLicense": {
      "type": "object",
      "properties": {
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call"
        },
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "userListId": {
          "type": "string",
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64"
        },
        "licenseType": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Immutable. Product type of client customer which the user list is being licensed to."
        },
        "status": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED."
        }
      },
      "description": "A user list global license. This feature is only available to data partners.",
      "id": "UserListGlobalLicense"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "MarketingDataInsightsAttribute": {
      "type": "object",
      "properties": {
        "lift": {
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "format": "float",
          "type": "number"
        },
        "ageRange": {
          "description": "Age range of the audience for which the lift is provided.",
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ]
        },
        "gender": {
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "type": "string",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ]
        },
        "userInterestId": {
          "description": "The user interest ID.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Insights for a collection of related attributes of the same dimension.",
      "id": "MarketingDataInsightsAttribute"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "id": "ListUserListDirectLicensesResponse",
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "description": "The licenses for the given user list in the request.",
          "type": "array",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "RemovePairDataStatus": {
      "type": "object",
      "properties": {
        "pairIdCount": {
          "type": "string",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the pair data removal from the destination.",
      "id": "RemovePairDataStatus"
    },
    "RemoveAudienceMembersRequest": {
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "id": "RemoveAudienceMembersRequest",
      "type": "object",
      "properties": {
        "audienceMembers": {
          "description": "Required. The list of users to remove.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored."
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to remove the users from."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        }
      }
    },
    "ProductAccount": {
      "type": "object",
      "properties": {
        "accountType": {
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ],
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ]
        },
        "product": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        }
      },
      "description": "Represents a specific account.",
      "id": "ProductAccount"
    },
    "CompositeData": {
      "id": "CompositeData",
      "description": "Composite data holding identifiers and associated data for a user. At least one of `user_data` or `ip_data` is required.",
      "type": "object",
      "properties": {
        "userData": {
          "$ref": "UserData",
          "description": "Optional. User-provided data that identifies the user."
        },
        "ipData": {
          "description": "Optional. IP address data representing customer interaction used to build the audience.",
          "type": "array",
          "items": {
            "$ref": "IpData"
          }
        }
      }
    },
    "PartnerCustomerAccount": {
      "type": "object",
      "properties": {
        "accountName": {
          "description": "Optional. The name of the account.",
          "type": "string"
        },
        "accountId": {
          "description": "Required. The identifier of the customer account in the partner's ID space.",
          "type": "string"
        },
        "accountType": {
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example.",
          "type": "string"
        }
      },
      "description": "Represents a customer account in the partner's system.",
      "id": "PartnerCustomerAccount"
    },
    "PartnerLink": {
      "type": "object",
      "properties": {
        "partnerAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The partner account granted access by the owning account."
        },
        "partnerLinkMetadata": {
          "$ref": "PartnerLinkMetadata",
          "description": "Optional. Metadata associated with the partner link. This is optional and only accepted for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT."
        },
        "owningAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The owning account granting access to the partner account."
        },
        "featureSet": {
          "type": "string",
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ],
          "enumDescriptions": [
            "Unspecified feature set. If unspecified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
            "Indicates a link used for audience and event management.",
            "Indicates a link used for ad event management."
          ],
          "description": "Optional. Immutable. The set of features supported for the partner link. If not specified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT."
        },
        "name": {
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
          "type": "string"
        },
        "partnerLinkId": {
          "readOnly": true,
          "description": "Output only. The partner link ID.",
          "type": "string"
        },
        "partnerCustomerAccount": {
          "description": "Optional. The customer account in the partner system. This is required for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set.",
          "$ref": "PartnerCustomerAccount"
        }
      },
      "id": "PartnerLink",
      "description": "A partner link between an owning account and a partner account."
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "id": "IngestEventsResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        },
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      }
    },
    "RemovePartnerProvidedIdDataStatus": {
      "id": "RemovePartnerProvidedIdDataStatus",
      "description": "The status of the partner provided id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "partnerProvidedIdCount": {
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
[...]
