{
  "baseUrl": "https://datastream.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "name": "datastream",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "",
  "basePath": "",
  "canonicalName": "Datastream",
  "rootUrl": "https://datastream.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/datastream/",
  "schemas": {
    "PscInterfaceConfig": {
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      },
      "id": "PscInterfaceConfig",
      "type": "object",
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC."
    },
    "SourceObject": {
      "properties": {
        "properties": {
          "type": "array",
          "description": "Optional. Source properties. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SourceProperty"
          }
        },
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "id": "SourceObject",
      "description": "Source object.",
      "type": "object"
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "type": "object",
      "description": "Object filter to apply the rules to.",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Specific source object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "SingleTargetDataset": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference."
        }
      },
      "id": "SingleTargetDataset",
      "description": "A single target dataset to which all data will be streamed."
    },
    "BigQueryDestinationConfig": {
      "id": "BigQueryDestinationConfig",
      "type": "object",
      "properties": {
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        },
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "merge": {
          "$ref": "Merge",
          "description": "The standard mode"
        },
        "sourceHierarchyDatasets": {
          "description": "Source hierarchy datasets.",
          "$ref": "SourceHierarchyDatasets"
        },
        "blmtConfig": {
          "$ref": "BlmtConfig",
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration."
        },
        "dataFreshness": {
          "format": "google-duration",
          "type": "string",
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost."
        }
      },
      "description": "BigQuery destination configuration"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The configuration of the stream source.",
      "type": "object",
      "properties": {
        "workdaySourceConfig": {
          "description": "Optional. Workday data source configuration.",
          "$ref": "WorkdaySourceConfig"
        },
        "postgresqlSourceConfig": {
          "$ref": "PostgresqlSourceConfig",
          "description": "PostgreSQL data source configuration."
        },
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "spannerSourceConfig": {
          "$ref": "SpannerSourceConfig",
          "description": "Spanner data source configuration."
        },
        "salesforceMarketingCloudSourceConfig": {
          "$ref": "SalesforceMarketingCloudSourceConfig",
          "description": "Salesforce Marketing Cloud data source configuration."
        },
        "oracleSourceConfig": {
          "description": "Oracle data source configuration.",
          "$ref": "OracleSourceConfig"
        },
        "mongodbSourceConfig": {
          "$ref": "MongodbSourceConfig",
          "description": "MongoDB data source configuration."
        },
        "salesforceSourceConfig": {
          "description": "Salesforce data source configuration.",
          "$ref": "SalesforceSourceConfig"
        },
        "dataverseSourceConfig": {
          "description": "Dataverse data source configuration.",
          "$ref": "DataverseSourceConfig"
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "serviceNowSourceConfig": {
          "$ref": "ServiceNowSourceConfig",
          "description": "ServiceNow data source configuration."
        },
        "sqlServerSourceConfig": {
          "$ref": "SqlServerSourceConfig",
          "description": "SQLServer data source configuration."
        }
      }
    },
    "OracleRdbms": {
      "id": "OracleRdbms",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          }
        }
      },
      "type": "object",
      "description": "Oracle database structure."
    },
    "SalesforceProfile": {
      "description": "Profile for connecting to a Salesforce source.",
      "properties": {
        "oauth2ClientCredentials": {
          "$ref": "Oauth2ClientCredentials",
          "description": "Connected app authentication."
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        },
        "userCredentials": {
          "$ref": "UserCredentials",
          "deprecated": true,
          "description": "Deprecated: Salesforce is retiring Username-Password authentication. Use `oauth2_client_credentials` instead."
        }
      },
      "id": "SalesforceProfile",
      "type": "object"
    },
    "Secret": {
      "description": "A confidential piece of information where the actual value is either directly specified in the message as a raw string or stored in GCP secret manager.",
      "properties": {
        "rawValue": {
          "description": "Optional. Input only. The actual raw value of the secret as plain text.",
          "type": "string"
        },
        "secretVersion": {
          "type": "string",
          "description": "Optional. A Secret Manager resource name storing the actual value of the secret. Supported formats: * projects/{project}/locations/{location}/secrets/{secret}/versions/{version} * projects/{project}/secrets/{secret}/versions/{version}"
        }
      },
      "id": "Secret",
      "type": "object"
    },
    "OracleProfile": {
      "type": "object",
      "id": "OracleProfile",
      "description": "Profile for connecting to an Oracle source.",
      "properties": {
        "databaseService": {
          "type": "string",
          "description": "Required. Database for the Oracle connection."
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field."
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the Oracle connection, default value is 1521."
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "connectionAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Connection string attributes"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        }
      }
    },
    "SpannerSourceConfig": {
      "id": "SpannerSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a Spanner source.",
      "properties": {
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of concurrent backfill tasks."
        },
        "changeStreamName": {
          "type": "string",
          "description": "Required. Immutable. The change stream name to use for the stream."
        },
        "excludeObjects": {
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "spannerRpcPriority": {
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The RPC priority to use for the stream.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ]
        },
        "maxConcurrentCdcTasks": {
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "format": "int32",
          "type": "integer"
        },
        "includeObjects": {
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown.",
          "$ref": "SpannerDatabase"
        },
        "fgacRole": {
          "description": "Optional. The FGAC role to use for the stream.",
          "type": "string"
        },
        "backfillDataBoostEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set."
        }
      }
    },
    "Route": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Route",
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection."
    },
    "JsonFileFormat": {
      "properties": {
        "schemaFileFormat": {
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "description": "The schema file format along JSON data files."
        },
        "compression": {
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "description": "Compression of the loaded JSON file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ]
        }
      },
      "type": "object",
      "id": "JsonFileFormat",
      "description": "JSON file format configuration."
    },
    "ListStreamsResponse": {
      "type": "object",
      "description": "Response message for listing streams.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "streams": {
          "type": "array",
          "items": {
            "$ref": "Stream"
          },
          "description": "List of streams"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListStreamsResponse"
    },
    "PreconditionFailure": {
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "id": "PreconditionFailure",
      "type": "object"
    },
    "PostgresqlProfile": {
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "PostgresqlSslConfig",
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field."
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Profile for connecting to a PostgreSQL source.",
      "id": "PostgresqlProfile"
    },
    "AvroFileFormat": {
      "type": "object",
      "properties": {},
      "id": "AvroFileFormat",
      "description": "AVRO file format configuration."
    },
    "MongodbSslConfig": {
      "type": "object",
      "id": "MongodbSslConfig",
      "description": "MongoDB SSL configuration information.",
      "properties": {
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "type": "boolean"
        },
        "secretManagerStoredClientKey": {
          "type": "string",
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field."
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "IngestionTimePartition": {
      "properties": {
        "partitioningTimeGranularity": {
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ],
          "description": "Optional. Partition granularity",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "id": "IngestionTimePartition"
    },
    "BackfillNoneStrategy": {
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "id": "BackfillNoneStrategy",
      "type": "object",
      "properties": {}
    },
    "OauthRefreshTokenCredentials": {
      "type": "object",
      "description": "OAuth Refresh Token Credentials.",
      "id": "OauthRefreshTokenCredentials",
      "properties": {
        "refreshToken": {
          "description": "Required. Specifies the OAuth Refresh Token.",
          "$ref": "Secret"
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Specifies the OAuth Client Credentials."
        }
      }
    },
    "SalesforceOrg": {
      "id": "SalesforceOrg",
      "description": "Salesforce organization structure.",
      "properties": {
        "objects": {
          "items": {
            "$ref": "SalesforceObject"
          },
          "type": "array",
          "description": "Salesforce objects in the database server."
        }
      },
      "type": "object"
    },
    "StreamObject": {
      "id": "StreamObject",
      "properties": {
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Active errors on the object.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The object resource's name."
        },
        "customizationRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CustomizationRule"
          },
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object."
        },
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A specific stream object (e.g a specific DB table).",
      "type": "object"
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "description": "Represent user-facing validation result message.",
      "type": "object",
      "properties": {
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "level": {
          "type": "string",
          "description": "Message severity level (warning or error).",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ]
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional metadata related to the result."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "MongodbField": {
      "description": "MongoDB Field.",
      "id": "MongodbField",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field name."
        }
      },
      "type": "object"
    },
    "PostgresqlObjectIdentifier": {
      "id": "PostgresqlObjectIdentifier",
      "description": "PostgreSQL data source object identifier.",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BlmtConfig": {
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "type": "string",
          "description": "Required. The file format."
        },
        "tableFormat": {
          "type": "string",
          "description": "Required. The table format.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ]
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`"
        }
      },
      "id": "BlmtConfig",
      "description": "The configuration for BLMT."
    },
    "EventFilter": {
      "id": "EventFilter",
      "type": "object",
      "properties": {
        "sqlWhereClause": {
          "type": "string",
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`"
        }
      },
      "description": "Represents a filter for included data on a stream object."
    },
    "BigQueryClustering": {
      "properties": {
        "columns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Column names to set as clustering columns."
        }
      },
      "id": "BigQueryClustering",
      "type": "object",
      "description": "BigQuery clustering configuration."
    },
    "SpannerObjectIdentifier": {
      "id": "SpannerObjectIdentifier",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Optional. The schema name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "description": "Spanner data source object identifier.",
      "type": "object"
    },
    "PostgresqlTable": {
      "description": "PostgreSQL table.",
      "properties": {
        "table": {
          "type": "string",
          "description": "The table name."
        },
        "postgresqlColumns": {
          "type": "array",
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "PostgresqlColumn"
          }
        }
      },
      "id": "PostgresqlTable",
      "type": "object"
    },
    "SourceCatalog": {
      "type": "object",
      "id": "SourceCatalog",
      "properties": {
        "objects": {
          "description": "Optional. Source objects in the catalog.",
          "items": {
            "$ref": "SourceObject"
          },
          "type": "array"
        }
      },
      "description": "Source catalog."
    },
    "OracleSchema": {
      "id": "OracleSchema",
      "properties": {
        "oracleTables": {
          "type": "array",
          "description": "Tables in the schema.",
          "items": {
            "$ref": "OracleTable"
          }
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      },
      "description": "Oracle schema.",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "id": "ListConnectionProfilesResponse",
      "description": "Response message for listing connection profiles.",
      "properties": {
        "connectionProfiles": {
          "items": {
            "$ref": "ConnectionProfile"
          },
          "description": "List of connection profiles.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "LookupStreamObjectRequest": {
      "type": "object",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the stream object.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "id": "LookupStreamObjectRequest",
      "description": "Request for looking up a specific stream object by its source object identifier."
    },
    "WorkdayProfile": {
      "properties": {
        "oauthRefreshTokenCredentials": {
          "description": "Required. Credentials for authenticating with the Workday API. OAuth Refresh Token credentials for authenticating with the Workday API.",
          "$ref": "OauthRefreshTokenCredentials"
        },
        "host": {
          "description": "Required. Host for the Workday connection. Must be a valid hostname (e.g., `wd3-impl-services1.workday.com`).",
          "type": "string"
        },
        "tenant": {
          "description": "Required. Tenant for the Workday connection (e.g., `google12`).",
          "type": "string"
        }
      },
      "id": "WorkdayProfile",
      "description": "Profile for connecting to a Workday source.",
      "type": "object"
    },
    "SpannerChangeStreamPosition": {
      "description": "Represents a position in a Spanner change stream from which to start replicating.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The timestamp to start change stream queries from. The timestamp must be a positive value.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "SpannerChangeStreamPosition"
    },
    "MongodbCollection": {
      "type": "object",
      "id": "MongodbCollection",
      "description": "MongoDB Collection.",
      "properties": {
        "collection": {
          "type": "string",
          "description": "The collection name."
        },
        "fields": {
          "description": "Fields in the collection.",
          "type": "array",
          "items": {
            "$ref": "MongodbField"
          }
        }
      }
    },
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "type": "object",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile."
        }
      },
      "description": "Oracle SSL configuration information."
    },
    "BackfillJob": {
      "properties": {
        "eventFilter": {
          "readOnly": true,
          "$ref": "EventFilter",
          "description": "Output only. The filter for performing a partial backfill."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "description": "Output only. Backfill job state.",
          "type": "string",
          "readOnly": true
        },
        "lastEndTime": {
          "readOnly": true,
          "description": "Output only. Backfill job's end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "type": "string",
          "description": "Backfill job's triggering reason."
        },
        "lastStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Backfill job's start time.",
          "type": "string"
        }
      },
      "description": "Represents a backfill job on a specific stream object.",
      "type": "object",
      "id": "BackfillJob"
    },
    "VpcPeeringConfig": {
      "type": "object",
      "properties": {
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        }
      },
      "id": "VpcPeeringConfig",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC."
    },
    "Validation": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "description": "Output only. Validation execution status.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ]
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "message": {
          "description": "Messages reflecting the validation results.",
          "type": "array",
          "items": {
            "$ref": "ValidationMessage"
          }
        }
      },
      "type": "object",
      "id": "Validation",
      "description": "A validation to perform on a stream."
    },
    "ServiceNowSourceConfig": {
      "properties": {
        "includeObjects": {
          "description": "Optional. The objects to retrieve from the source.",
          "$ref": "SourceCatalog"
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a ServiceNow source.",
      "id": "ServiceNowSourceConfig"
    },
    "NextAvailableStartPosition": {
      "type": "object",
      "properties": {},
      "id": "NextAvailableStartPosition",
      "description": "CDC strategy to resume replication from the next available position in the source."
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "type": "object",
      "id": "Help",
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        }
      }
    },
    "SourceObjectIdentifier": {
      "description": "Represents an identifier of an object in the data source.",
      "id": "SourceObjectIdentifier",
      "type": "object",
      "properties": {
        "mysqlIdentifier": {
          "description": "Mysql data source object identifier.",
          "$ref": "MysqlObjectIdentifier"
        },
        "postgresqlIdentifier": {
          "description": "PostgreSQL data source object identifier.",
          "$ref": "PostgresqlObjectIdentifier"
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "$ref": "SqlServerObjectIdentifier",
          "description": "SQLServer data source object identifier."
        },
        "mongodbIdentifier": {
          "$ref": "MongodbObjectIdentifier",
          "description": "MongoDB data source object identifier."
        },
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        },
        "salesforceIdentifier": {
          "description": "Salesforce data source object identifier.",
          "$ref": "SalesforceObjectIdentifier"
        }
      }
    },
    "HostAddress": {
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        },
        "port": {
          "description": "Optional. Port for the connection.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "HostAddress"
    },
    "EncryptionNotEnforced": {
      "id": "EncryptionNotEnforced",
      "type": "object",
      "properties": {},
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility."
    },
    "SpannerColumn": {
      "properties": {
        "column": {
          "type": "string",
          "description": "Required. The column name."
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "format": "int64",
          "description": "Optional. The ordinal position of the column in the table.",
          "type": "string"
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        }
      },
      "id": "SpannerColumn",
      "description": "Spanner column.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "MysqlRdbms": {
      "description": "MySQL database structure",
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "description": "Mysql databases on the server",
          "type": "array"
        }
      },
      "type": "object",
      "id": "MysqlRdbms"
    },
    "SqlServerProfile": {
      "description": "Profile for connecting to a SQLServer source.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the SQLServer connection, default value is 1433."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SQLServer connection."
        },
        "database": {
          "type": "string",
          "description": "Required. Database for the SQLServer connection."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SQLServer connection."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the SQLServer connection.",
          "$ref": "SqlServerSslConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        }
      },
      "id": "SqlServerProfile",
      "type": "object"
    },
    "RunStreamRequest": {
      "description": "Request message for running a stream.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        },
        "cdcStrategy": {
          "$ref": "CdcStrategy",
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used."
        }
      },
      "id": "RunStreamRequest"
    },
    "LocalizedMessage": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "id": "LocalizedMessage",
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "SourceHierarchyDatasets": {
      "type": "object",
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "id": "SourceHierarchyDatasets",
      "properties": {
        "datasetTemplate": {
          "description": "The dataset template to use for dynamic dataset creation.",
          "$ref": "DatasetTemplate"
        },
        "projectId": {
          "type": "string",
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource."
        }
      }
    },
    "GcsDestinationConfig": {
      "id": "GcsDestinationConfig",
      "description": "Google Cloud Storage destination configuration",
      "properties": {
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "avroFileFormat": {
          "$ref": "AvroFileFormat",
          "description": "AVRO file format configuration."
        },
        "fileRotationInterval": {
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "format": "google-duration"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "fileRotationMb": {
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "MysqlSourceConfig": {
      "type": "object",
      "id": "MysqlSourceConfig",
      "properties": {
        "binaryLogPosition": {
          "description": "Use Binary log position based replication.",
          "$ref": "BinaryLogPosition"
        },
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used."
        },
        "includeObjects": {
          "description": "The MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        },
        "gtid": {
          "$ref": "Gtid",
          "description": "Use GTID based replication."
        },
        "excludeObjects": {
          "$ref": "MysqlRdbms",
          "description": "The MySQL objects to exclude from the stream."
        }
      },
      "description": "Configuration for syncing data from a MySQL source."
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "id": "MysqlObjectIdentifier",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      }
    },
    "AppendOnly": {
      "type": "object",
      "properties": {},
      "id": "AppendOnly",
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table."
    },
    "OracleTable": {
      "id": "OracleTable",
      "properties": {
        "table": {
          "type": "string",
          "description": "The table name."
        },
        "oracleColumns": {
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array",
          "description": "Oracle columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything."
        }
      },
      "type": "object",
      "description": "Oracle table."
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IntegerRangePartition": {
      "properties": {
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Required. The starting value for range partitioning (inclusive)."
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "interval": {
          "type": "string",
          "format": "int64",
          "description": "Required. The interval of each range within the partition."
        },
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ending value for range partitioning (exclusive)."
        }
      },
      "type": "object",
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "id": "IntegerRangePartition"
    },
    "Stream": {
      "id": "Stream",
      "description": "A resource representing streaming data from a source to a destination.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Output only. Errors on the Stream.",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the stream."
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "ruleSets": {
          "description": "Optional. Rule sets to apply to the stream.",
          "type": "array",
          "items": {
            "$ref": "RuleSet"
          }
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation time of the stream.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The stream's name."
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "description": "The state of the stream."
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "customerManagedEncryptionKey": {
          "type": "string",
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "lastRecoveryTime": {
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcsProfile": {
      "description": "Profile for connecting to a Cloud Storage destination.",
      "id": "GcsProfile",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "type": "string",
          "description": "Optional. The root path inside the Cloud Storage bucket."
        }
      },
      "type": "object"
    },
    "UserPasswordCredentials": {
      "id": "UserPasswordCredentials",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username for the connection."
        },
        "password": {
          "description": "Required. Password for the connection.",
          "$ref": "Secret"
        }
      },
      "description": "User-password credentials."
    },
    "LogFileDirectories": {
      "id": "LogFileDirectories",
      "type": "object",
      "properties": {
        "onlineLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for online logs."
        },
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        }
      },
      "description": "Configuration to specify the Oracle directories to access the log files."
    },
    "ResourceInfo": {
      "description": "Describes the resource that is being accessed.",
      "id": "ResourceInfo",
      "properties": {
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "SrvConnectionFormat": {
      "description": "Srv connection format.",
      "properties": {},
      "id": "SrvConnectionFormat",
      "type": "object"
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "type": "array",
          "description": "Describes all violations in a client request."
        }
      },
      "type": "object"
    },
    "RequestInfo": {
      "type": "object",
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "properties": {
        "servingData": {
          "type": "string",
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
        },
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        }
      },
      "id": "RequestInfo"
    },
    "SqlServerObjectIdentifier": {
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "id": "SqlServerObjectIdentifier",
      "description": "SQLServer data source object identifier.",
      "type": "object"
    },
    "SourceProperty": {
      "id": "SourceProperty",
      "description": "Source property.",
      "type": "object",
      "properties": {
        "propertyName": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the property is a primary key."
        },
        "properties": {
          "items": {
            "$ref": "SourceProperty"
          },
          "description": "Optional. Source properties. When specified, it means that the current property contains nested properties of its own. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "type": "array"
        }
      }
    },
    "MongodbChangeStreamPosition": {
      "id": "MongodbChangeStreamPosition",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp to start change stream from.",
          "type": "string"
        }
      },
      "description": "MongoDB change stream position"
    },
    "StopBackfillJobResponse": {
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "type": "object",
      "properties": {
        "object": {
          "description": "The stream object resource the backfill job was stopped for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StopBackfillJobResponse"
    },
    "Oauth2ClientCredentials": {
      "type": "object",
      "description": "OAuth2 Client Credentials.",
      "id": "Oauth2ClientCredentials",
      "properties": {
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials."
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "DestinationConfig": {
      "type": "object",
      "description": "The configuration of the stream destination.",
      "id": "DestinationConfig",
      "properties": {
        "gcsDestinationConfig": {
          "description": "A configuration for how data should be loaded to Cloud Storage.",
          "$ref": "GcsDestinationConfig"
        },
        "destinationConnectionProfile": {
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "bigqueryDestinationConfig": {
          "description": "BigQuery destination configuration.",
          "$ref": "BigQueryDestinationConfig"
        }
      }
    },
    "ServiceNowProfile": {
      "description": "Profile for connecting to a ServiceNow source.",
      "id": "ServiceNowProfile",
      "type": "object",
      "properties": {
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Credentials for authenticating with the ServiceNow API."
        },
        "instance": {
          "description": "Required. The instance of the ServiceNow account. This is the `` part of the URL `https://.service-now.com`.",
          "type": "string"
        },
        "userPasswordCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserPasswordCredentials"
        }
      }
    },
    "ListRoutesResponse": {
      "description": "Route list response.",
      "properties": {
        "routes": {
          "items": {
            "$ref": "Route"
          },
          "type": "array",
          "description": "List of Routes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListRoutesResponse",
      "type": "object"
    },
    "OracleAsmLogFileAccess": {
      "id": "OracleAsmLogFileAccess",
      "type": "object",
      "properties": {},
      "description": "Configuration to use Oracle ASM to access the log files."
    },
    "PostgresqlSourceConfig": {
      "properties": {
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "replicationSlot": {
          "type": "string",
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin."
        },
        "includeObjects": {
          "description": "The PostgreSQL objects to include in the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "format": "int32",
          "type": "integer"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        }
      },
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "id": "PostgresqlSourceConfig",
      "type": "object"
    },
    "BinaryLogPosition": {
      "type": "object",
      "id": "BinaryLogPosition",
      "properties": {},
      "description": "Use Binary log position based replication."
    },
    "SqlServerLsnPosition": {
      "description": "SQL Server LSN position",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      },
      "id": "SqlServerLsnPosition",
      "type": "object"
    },
    "DatasetTemplate": {
      "id": "DatasetTemplate",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information."
        },
        "datasetIdPrefix": {
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        }
      },
      "type": "object",
      "description": "Dataset template used for dynamic dataset creation."
    },
    "ServerAndClientVerification": {
      "id": "ServerAndClientVerification",
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "type": "object",
      "properties": {
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream."
        },
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        }
      }
    },
    "SqlServerChangeTables": {
      "id": "SqlServerChangeTables",
      "type": "object",
      "properties": {},
      "description": "Configuration to use Change Tables CDC read method."
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "description": "SQLServer schemas in the database server."
        }
      },
      "description": "SQLServer database structure.",
      "type": "object"
    },
    "SpecificStartPosition": {
      "id": "SpecificStartPosition",
      "type": "object",
      "description": "CDC strategy to start replicating from a specific position in the source.",
      "properties": {
        "mongodbChangeStreamPosition": {
          "$ref": "MongodbChangeStreamPosition",
          "description": "MongoDB change stream position to start replicating from."
        },
        "spannerChangeStreamPosition": {
          "description": "Optional. Spanner change stream position to start replicating from.",
          "$ref": "SpannerChangeStreamPosition"
        },
        "mysqlLogPosition": {
          "description": "MySQL specific log position to start replicating from.",
          "$ref": "MysqlLogPosition"
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "mysqlGtidPosition": {
          "description": "MySQL GTID set to start replicating from.",
          "$ref": "MysqlGtidPosition"
        },
        "sqlServerLsnPosition": {
          "$ref": "SqlServerLsnPosition",
          "description": "SqlServer LSN to start replicating from."
        }
      }
    },
    "ValidationResult": {
      "type": "object",
      "id": "ValidationResult",
      "description": "Contains the current validation results.",
      "properties": {
        "validations": {
          "type": "array",
          "items": {
            "$ref": "Validation"
          },
          "description": "A list of validations (includes both executed as well as not executed validations)."
        }
      }
    },
    "DataverseSourceConfig": {
      "properties": {
        "pollingInterval": {
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "type": "string"
        },
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        }
      },
      "type": "object",
      "description": "Configuration for syncing data from a Dataverse source.",
      "id": "DataverseSourceConfig"
    },
    "DiscoverConnectionProfileResponse": {
      "properties": {
        "spannerDatabase": {
          "description": "Enriched Spanner database.",
          "$ref": "SpannerDatabase"
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Enriched Oracle RDBMS object."
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Enriched MongoDB cluster."
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "postgresqlRdbms": {
          "description": "Enriched PostgreSQL RDBMS object.",
          "$ref": "PostgresqlRdbms"
        },
        "sourceCatalog": {
          "description": "Enriched source catalog. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        }
      },
      "type": "object",
      "description": "Response from a discover request.",
      "id": "DiscoverConnectionProfileResponse"
    },
    "SalesforceMarketingCloudSourceConfig": {
      "type": "object",
      "id": "SalesforceMarketingCloudSourceConfig",
      "description": "Configuration for syncing data from a Salesforce Marketing Cloud source.",
      "properties": {
        "pollingInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Incremental sync polling interval for all objects. If not set, a default value of `5 minutes` is used. The duration must be from `5 minutes` to `24 hours`, inclusive."
        },
        "includeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to retrieve from the source."
        },
        "excludeObjects": {
          "$ref": "SourceCatalog",
          "description": "Optional. The objects to exclude from the stream."
        },
        "fullRefreshPollingInterval": {
          "type": "string",
          "description": "Required. Specifies the polling interval for a full refresh of objects that do not support incremental sync. If not set, a default value of 24 hours is used. The duration must be between 1 and 24 hours, inclusive.",
          "format": "google-duration"
        }
      }
    },
    "ErrorInfo": {
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "metadata": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ErrorInfo",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22."
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        }
      },
      "description": "Forward SSH Tunnel connectivity.",
      "id": "ForwardSshTunnelConnectivity",
      "type": "object"
    },
    "SpannerTable": {
      "id": "SpannerTable",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "columns": {
          "items": {
            "$ref": "SpannerColumn"
          },
          "description": "Optional. Spanner columns in the table.",
          "type": "array"
        }
      },
      "description": "Spanner table."
    },
    "DiscoverConnectionProfileRequest": {
      "properties": {
        "spannerDatabase": {
          "description": "Optional. Spanner database to enrich with child data objects and metadata.",
          "$ref": "SpannerDatabase"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "hierarchyDepth": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved."
        },
        "sourceCatalog": {
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "Optional. An ad-hoc connection profile configuration."
        },
        "sqlServerRdbms": {
          "$ref": "SqlServerRdbms",
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata."
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata."
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        }
      },
      "description": "Request message for 'discover' ConnectionProfile request.",
      "type": "object",
      "id": "DiscoverConnectionProfileRequest"
    },
    "TimeUnitPartition": {
      "properties": {
        "partitioningTimeGranularity": {
          "description": "Optional. Partition granularity.",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "type": "string",
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ]
        },
        "column": {
          "type": "string",
          "description": "Required. The partitioning column."
        }
      },
      "type": "object",
      "description": "Time unit column partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#date_timestamp_partitioned_tables",
      "id": "TimeUnitPartition"
    },
    "Merge": {
      "id": "Merge",
      "type": "object",
      "properties": {},
      "description": "Merge mode defines that all changes to a table will be merged at the destination table."
    },
    "BackfillAllStrategy": {
      "type": "object",
      "properties": {
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        },
        "mongodbExcludedObjects": {
          "$ref": "MongodbCluster",
          "description": "MongoDB data source objects to avoid backfilling"
        },
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "saasExcludedObjects": {
          "$ref": "SourceCatalog",
          "description": "Source catalog data source objects to avoid backfilling. This is mainly used to represent SaaS applications objects."
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "spannerExcludedObjects": {
          "$ref": "SpannerDatabase",
          "description": "Spanner data source objects to avoid backfilling."
        },
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "id": "BackfillAllStrategy"
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "properties": {
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        },
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        }
      },
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "type": "object"
    },
    "StartBackfillJobResponse": {
      "properties": {
        "object": {
          "description": "The stream object resource a backfill job was started for.",
          "$ref": "StreamObject"
        }
      },
      "type": "object",
      "id": "StartBackfillJobResponse",
      "description": "Response for manually initiating a backfill job for a specific stream object."
    },
    "DropLargeObjects": {
      "description": "Configuration to drop large object values.",
      "properties": {},
      "id": "DropLargeObjects",
      "type": "object"
    },
    "OracleSourceConfig": {
      "description": "Configuration for syncing data from an Oracle source.",
      "type": "object",
      "properties": {
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "logMiner": {
          "$ref": "LogMiner",
          "description": "Use LogMiner."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "maxConcurrentBackfillTasks": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        }
      },
      "id": "OracleSourceConfig"
    },
    "StartBackfillJobRequest": {
      "properties": {
        "eventFilter": {
          "$ref": "EventFilter",
          "description": "Optional. Optional event filter. If not set, or empty, the backfill will be performed on the entire object. This is currently used for partial backfill and only supported for SQL sources."
        }
      },
      "description": "Request for manually initiating a backfill job for a specific stream object.",
      "id": "StartBackfillJobRequest",
      "type": "object"
    },
    "RuleSet": {
      "id": "RuleSet",
      "description": "A set of rules to apply to a set of objects.",
      "properties": {
        "objectFilter": {
          "$ref": "ObjectFilter",
          "description": "Required. Object filter to apply the customization rules to."
        },
        "customizationRules": {
          "description": "Required. List of customization rules to apply.",
          "type": "array",
          "items": {
            "$ref": "CustomizationRule"
          }
        }
      },
      "type": "object"
    },
    "DataverseProfile": {
      "description": "Profile for connecting to a Dataverse source.",
      "type": "object",
      "id": "DataverseProfile",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Required. Tenant id of the Microsoft Dataverse instance."
        },
        "oauthClientCredentials": {
          "$ref": "OauthClientCredentials",
          "description": "Required. Credentials for authenticating with the Dataverse API."
        },
        "environmentUrl": {
          "type": "string",
          "description": "Required. Environment URL of the Microsoft Dataverse instance. Example: `.crm.dynamics.com`"
        }
      }
    },
    "SqlServerColumn": {
      "id": "SqlServerColumn",
      "properties": {
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "The SQLServer data type.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "The ordinal position of the column in the table.",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "length": {
          "format": "int32",
          "description": "Column length.",
          "type": "integer"
        },
[...]
