{
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataflow",
  "ownerDomain": "google.com",
  "rootUrl": "https://dataflow.googleapis.com/",
  "name": "dataflow",
  "id": "dataflow:v1b3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "deleteSnapshots": {
          "response": {
            "$ref": "DeleteSnapshotResponse"
          },
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "id": "dataflow.projects.deleteSnapshots",
          "parameters": {
            "location": {
              "type": "string",
              "description": "The location that contains this snapshot.",
              "location": "query"
            },
            "projectId": {
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "location": "path"
            },
            "snapshotId": {
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a snapshot.",
          "path": "v1b3/projects/{projectId}/snapshots",
          "parameterOrder": [
            "projectId"
          ]
        },
        "workerMessages": {
          "description": "Send a worker_message to the service.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "id": "dataflow.projects.workerMessages",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "The project to send the WorkerMessages to.",
              "location": "path"
            }
          },
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages"
        }
      },
      "resources": {
        "jobs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.create",
              "parameters": {
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "replaceJobId": {
                  "type": "string",
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query"
                }
              }
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "id": "dataflow.projects.jobs.aggregated",
              "parameters": {
                "view": {
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "GET",
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameterOrder": [
                "projectId"
              ]
            },
            "update": {
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.jobs.update",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "updateMask": {
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "request": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}"
            },
            "get": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "GET",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.get",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "required": true,
                  "type": "string",
                  "description": "The job ID.",
                  "location": "path"
                },
                "view": {
                  "description": "The level of information requested in response.",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              }
            },
            "list": {
              "path": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "httpMethod": "GET",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Optional. The job name.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              }
            },
            "snapshot": {
              "id": "dataflow.projects.jobs.snapshot",
              "parameters": {
                "projectId": {
                  "description": "The project which owns the job to be snapshotted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "The job to be snapshotted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "response": {
                "$ref": "Snapshot"
              },
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "description": "Snapshot the state of a streaming job.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "getMetrics": {
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "id": "dataflow.projects.jobs.getMetrics",
              "parameters": {
                "jobId": {
                  "description": "The job to get metrics for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "startTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics"
            }
          },
          "resources": {
            "workItems": {
              "methods": {
                "reportStatus": {
                  "httpMethod": "POST",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job which the WorkItem is part of.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus"
                },
                "lease": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Leases a dataflow WorkItem to run.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameters": {
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "id": "dataflow.projects.jobs.messages.list",
                  "parameters": {
                    "endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "A project id.",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query"
                    },
                    "startTime": {
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job to get messages about.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "location": "query",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "description": "Filter to only get messages with importance >= level",
                      "type": "string",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ]
                    }
                  }
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project id.",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "sendCapture": {
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project id.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job id.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "description": "Send encoded debug capture data for component.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Lists snapshots.",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/snapshots",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "id": "dataflow.projects.snapshots.list",
              "parameters": {
                "location": {
                  "description": "The location to list snapshots in.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The project ID to list snapshots for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a snapshot.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.snapshots.get",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "location": "path"
                },
                "snapshotId": {
                  "description": "The ID of the snapshot.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "description": "The location that contains this snapshot.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "response": {
                "$ref": "Snapshot"
              }
            }
          }
        },
        "templates": {
          "methods": {
            "launch": {
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "id": "dataflow.projects.templates.launch",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "validateOnly": {
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "dynamicTemplate.stagingLocation": {
                  "type": "string",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query"
                },
                "gcsPath": {
                  "type": "string",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query"
                },
                "dynamicTemplate.gcsPath": {
                  "type": "string",
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "path": "v1b3/projects/{projectId}/templates:launch",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "POST",
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`."
            },
            "get": {
              "id": "dataflow.projects.templates.get",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "gcsPath": {
                  "type": "string",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY."
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "create": {
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.templates.create",
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/templates",
              "httpMethod": "POST",
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "path": "v1b3/projects/{projectId}/templates",
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "description": "Send a worker_message to the service.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.locations.workerMessages",
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project to send the WorkerMessages to.",
                  "location": "path"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              }
            }
          },
          "resources": {
            "jobs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameters": {
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameters": {
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  }
                },
                "update": {
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}"
                },
                "snapshot": {
                  "httpMethod": "POST",
                  "description": "Snapshot the state of a streaming job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the job to be snapshotted.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The location that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job to be snapshotted.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot"
                },
                "getMetrics": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job to get metrics for.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "startTime": {
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "name": {
                      "type": "string",
                      "description": "Optional. The job name.",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the jobs.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "deprecated": true,
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "description": "The kind of filter to use.",
                      "type": "string",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "getExecutionDetails": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "A project id.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job to get execution details for.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "JobExecutionDetails"
                  }
                }
              },
              "resources": {
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "GET",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job to get execution details for.",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "stageId": {
                          "description": "The stage for which to fetch information.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "startTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query"
                        },
                        "endTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Upper time bound of work items to include, by start time.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "StageExecutionDetails"
                      }
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job which the WorkItem is part of.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    },
                    "lease": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Leases a dataflow WorkItem to run.",
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "parameters": {
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      }
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists snapshots.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "The project ID to list snapshots for.",
                          "location": "path"
                        },
                        "location": {
                          "description": "The location to list snapshots in.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots"
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getWorkerStacktraces": {
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job for which to get stacktraces.",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "POST",
                      "description": "Get worker stacktraces from debug capture.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      }
                    },
                    "getConfig": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      }
                    },
                    "sendCapture": {
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job id.",
                          "location": "path"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "POST",
                      "description": "Send encoded debug capture data for component.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "GET",
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "parameters": {
                        "minimumImportance": {
                          "type": "string",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance >= level",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "location": "query"
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "startTime": {
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      }
                    }
                  }
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "description": "Launch a job with a FlexTemplate.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch"
                }
              }
            },
            "snapshots": {
              "methods": {
                "delete": {
                  "description": "Deletes a snapshot.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists snapshots.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "id": "dataflow.projects.locations.snapshots.list",
                  "parameters": {
                    "jobId": {
                      "description": "If specified, list snapshots created from this job.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project ID to list snapshots for.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The location to list snapshots in.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Gets information about a snapshot.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path"
                    },
                    "snapshotId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                }
              }
            },
            "templates": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
[...]
