{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "baseUrl": "https://datamanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/data-manager",
  "protocol": "rest",
  "title": "Data Manager API",
  "kind": "discovery#restDescription",
  "schemas": {
    "DeviceInfo": {
      "properties": {
        "model": {
          "description": "Optional. The model of the device.",
          "type": "string"
        },
        "operatingSystem": {
          "type": "string",
          "description": "Optional. The operating system or platform of the device."
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "browser": {
          "type": "string",
          "description": "Optional. The brand or type of the browser."
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Optional. The version of the operating system or platform."
        },
        "category": {
          "type": "string",
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”."
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user-agent string of the device for the given context."
        },
        "screenHeight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The height of the screen in pixels."
        },
        "browserVersion": {
          "description": "Optional. The version of the browser.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The IP address of the device for the given context. **Note:** Google Ads does not support IP address matching for end users in the European Economic Area (EEA), United Kingdom (UK), or Switzerland (CH). Add logic to conditionally exclude sharing IP addresses from users from these regions and ensure that you provide users with clear and comprehensive information about the data you collect on your sites, apps, and other properties and get consent where required by law or any applicable Google policies. See the [About offline conversion imports](https://support.google.com/google-ads/answer/2998031) page for more details."
        },
        "screenWidth": {
          "description": "Optional. The width of the screen in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language the device uses in ISO 639-1 format."
        }
      },
      "description": "Information about the device being used (if any) when the event happened.",
      "type": "object",
      "id": "DeviceInfo"
    },
    "PartnerLink": {
      "type": "object",
      "id": "PartnerLink",
      "properties": {
        "owningAccount": {
          "description": "Required. The owning account granting access to the partner account.",
          "$ref": "ProductAccount"
        },
        "featureSet": {
          "description": "Optional. Immutable. The set of features supported for the partner link. If not specified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ],
          "enumDescriptions": [
            "Unspecified feature set. If unspecified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
            "Indicates a link used for audience and event management.",
            "Indicates a link used for ad event management."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
          "type": "string"
        },
        "partnerLinkId": {
          "type": "string",
          "description": "Output only. The partner link ID.",
          "readOnly": true
        },
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        },
        "partnerCustomerAccount": {
          "description": "Optional. The customer account in the partner system. This is required for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set.",
          "$ref": "PartnerCustomerAccount"
        },
        "partnerLinkMetadata": {
          "description": "Optional. Metadata associated with the partner link. This is optional and only accepted for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT.",
          "$ref": "PartnerLinkMetadata"
        }
      },
      "description": "A partner link between an owning account and a partner account."
    },
    "UserListLicenseMetrics": {
      "type": "object",
      "id": "UserListLicenseMetrics",
      "properties": {
        "clickCount": {
          "description": "Output only. The number of clicks for the user list license.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "revenueUsdMicros": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The revenue for the user list license in USD micros.",
          "readOnly": true
        },
        "endDate": {
          "type": "string",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true,
          "format": "int64"
        },
        "impressionCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of impressions for the user list license.",
          "readOnly": true
        },
        "startDate": {
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metrics related to a user list license."
    },
    "MobileIdInfo": {
      "id": "MobileIdInfo",
      "type": "object",
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "properties": {
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data.",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        },
        "keySpace": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ]
        }
      }
    },
    "Consent": {
      "id": "Consent",
      "type": "object",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "properties": {
        "adPersonalization": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adUserData": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Optional. Represents if the user consents to ad user data.",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "type": "string"
        }
      }
    },
    "CoordinatorKeyInfo": {
      "description": "Information about the coordinator key.",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Required. The ID of the chosen coordinator key."
        }
      },
      "id": "CoordinatorKeyInfo",
      "type": "object"
    },
    "PartnerLinkMetadata": {
      "type": "object",
      "id": "PartnerLinkMetadata",
      "properties": {
        "implicitAccounts": {
          "items": {
            "$ref": "PartnerCustomerAccount"
          },
          "type": "array",
          "description": "Optional. The list of implicit accounts."
        }
      },
      "description": "Represents metadata associated with a partner link."
    },
    "ListUserListsResponse": {
      "description": "Response message for ListUserLists.",
      "properties": {
        "userLists": {
          "type": "array",
          "items": {
            "$ref": "UserList"
          },
          "description": "The user lists from the specified account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListsResponse",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListUserListGlobalLicensesResponse": {
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "properties": {
        "userListGlobalLicenses": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicense"
          },
          "description": "The licenses for the given user list in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListUserListGlobalLicensesResponse",
      "type": "object"
    },
    "IpData": {
      "type": "object",
      "id": "IpData",
      "properties": {
        "ipAddress": {
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6.",
          "type": "string"
        },
        "observeEndTime": {
          "type": "string",
          "description": "Optional. Last recorded interaction time from this IP address in a session.",
          "format": "google-datetime"
        },
        "observeStartTime": {
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates."
    },
    "ItemCustomVariable": {
      "properties": {
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Item-level custom variable for ads conversions.",
      "type": "object",
      "id": "ItemCustomVariable"
    },
    "IngestUserIdDataStatus": {
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdCount": {
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserIdDataStatus"
    },
    "WarningCount": {
      "type": "object",
      "id": "WarningCount",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of records that have a warning."
        },
        "reason": {
          "type": "string",
          "description": "The warning reason.",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        }
      },
      "description": "The warning count for a given warning reason."
    },
    "IngestedUserListInfo": {
      "type": "object",
      "id": "IngestedUserListInfo",
      "properties": {
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        },
        "uploadKeyTypes": {
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ]
          },
          "type": "array"
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        }
      },
      "description": "Represents a user list that is populated by user provided data."
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "properties": {
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        },
        "appInstanceId": {
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream.",
          "type": "string"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "format": "double",
          "type": "number"
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity)."
        },
        "thirdPartyUserData": {
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data.",
          "$ref": "UserData"
        },
        "eventTimestamp": {
          "type": "string",
          "description": "Required. The time the event occurred.",
          "format": "google-datetime"
        },
        "eventSource": {
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ],
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "type": "string"
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "experimentalFields": {
          "items": {
            "$ref": "ExperimentalField"
          },
          "type": "array",
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API."
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The last time the event was updated."
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "eventName": {
          "type": "string",
          "description": "Optional. The name of the event. Required for GA4 events."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request."
        },
        "conversionCount": {
          "format": "double",
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions.",
          "type": "number"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream."
        },
        "additionalEventParameters": {
          "type": "array",
          "items": {
            "$ref": "EventParameter"
          },
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
        },
        "eventLocation": {
          "description": "Optional. Information gathered about the location of the user when this event occurred.",
          "$ref": "EventLocation"
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions."
        }
      }
    },
    "ErrorCount": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The count of records that failed to upload for a given reason.",
          "type": "string"
        },
        "reason": {
          "description": "The error reason of the failed records.",
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER",
            "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID",
            "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID",
            "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS",
            "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT",
            "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK",
            "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK",
            "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND"
          ],
          "enumDescriptions": [
            "The processing error reason is unknown.",
            "The custom variable is invalid.",
            "The status of the custom variable is not enabled.",
            "The conversion is older than max supported age.",
            "The ad user data is denied, either by the user or in the advertiser default settings.",
            "Advertiser did not give 3P consent for the Ads core platform services.",
            "The overall consent (determined from row level consent, request level consent, and account settings) could not be determined for this user",
            "A conversion with the same GCLID and conversion time already exists in the system.",
            "A conversion with the same order id and conversion action combination was already uploaded.",
            "The gbraid could not be decoded.",
            "The google click ID could not be decoded.",
            "Merchant id contains non-digit characters.",
            "The wbraid could not be decoded.",
            "Internal error.",
            "Enhanced conversions terms are not signed in the destination account.",
            "The event is invalid.",
            "The matched transactions are less than the minimum threshold.",
            "The transactions are less than the minimum threshold.",
            "The event has format error.",
            "The event has a decryption error.",
            "The DEK failed to be decrypted.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The system did not have the permissions needed to access the KEK.",
            "The system failed to authenticate with AWS.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "The user attempted to ingest events with an ad identifier that isn't from the operating account's ads.",
            "One-per-click conversion actions cannot be used with BRAIDs.",
            "The match ID can not be found.",
            "The user ID can not be found for the match ID.",
            "The user ID can not be found for the GCLID.",
            "The user ID can not be found for the DCLID.",
            "There are ad identifiers that are invalid.",
            "The mobile ID format is invalid.",
            "The original conversions can't be found.",
            "The event ID (dclid or impression ID) cannot be decoded.",
            "The user ID cannot be found for the given impression ID.",
            "The user ID cannot be found.",
            "The event timestamp on the event was earlier than the associated click.",
            "The click occurred too recently.",
            "The event can't be attributed to a click (GCLID). This may be because the click did not come from a Google Ads campaign, for example.",
            "The click from the event isn't associated with the `operating_account` of the destination.",
            "A corresponding click can't be found that matches the provided attributes."
          ],
          "type": "string"
        }
      },
      "description": "The error count for a given error reason.",
      "type": "object",
      "id": "ErrorCount"
    },
    "RemovePairDataStatus": {
      "description": "The status of the pair data removal from the destination.",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "pairIdCount": {
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RemovePairDataStatus",
      "type": "object"
    },
    "EncryptionInfo": {
      "description": "Encryption information for the data being ingested.",
      "properties": {
        "coordinatorKeyInfo": {
          "description": "Key information for the chosen coordinator key. This is not supported for the IngestEvents, IngestAudienceMembers, and RemoveAudienceMembers methods.",
          "$ref": "CoordinatorKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        },
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        }
      },
      "id": "EncryptionInfo",
      "type": "object"
    },
    "RemoveCompositeDataStatus": {
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        },
        "dataTypeCounts": {
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          },
          "description": "The total count of data types sent in the removal request, broken down by data type. Includes all data types in the request, regardless of whether they were successfully removed or not."
        }
      },
      "description": "The status of the composite data removal from the destination.",
      "type": "object",
      "id": "RemoveCompositeDataStatus"
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          },
          "description": "The customer information for the given license in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "type": "object"
    },
    "UserList": {
      "id": "UserList",
      "type": "object",
      "description": "A user list resource.",
      "properties": {
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "accountAccessStatus": {
          "type": "string",
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ]
        },
        "accessReason": {
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "type": "string",
          "description": "Output only. The reason this account has been granted access to the list.",
          "readOnly": true,
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ]
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true
        },
        "sizeInfo": {
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "readOnly": true,
          "$ref": "SizeInfo"
        },
        "id": {
          "type": "string",
          "description": "Output only. The unique ID of the user list.",
          "readOnly": true,
          "format": "int64"
        },
        "membershipDuration": {
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "format": "google-duration",
          "type": "string"
        },
        "membershipStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ],
          "description": "Optional. Membership status of this user list.",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ]
        },
        "integrationCode": {
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the user list."
        },
        "closingReason": {
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "type": "string"
        }
      }
    },
    "MobileData": {
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "properties": {
        "mobileIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of mobile device IDs (advertising ID/IDFA). At most 10 `mobileIds` can be provided in a single AudienceMember."
        }
      },
      "id": "MobileData",
      "type": "object"
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "id": "IngestPpidDataStatus",
      "properties": {
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion."
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "id": "RetrieveInsightsRequest",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "UserListLicensePricing": {
      "id": "UserListLicensePricing",
      "type": "object",
      "description": "A user list license pricing.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. End time of the pricing.",
          "format": "google-datetime"
        },
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Start time of the pricing.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "maxCostMicros": {
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "format": "int64",
          "type": "string"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true,
          "type": "boolean"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        },
        "costMicros": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`."
        },
        "pricingId": {
          "description": "Output only. The ID of this pricing.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "buyerApprovalState": {
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "readOnly": true,
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ]
        }
      }
    },
    "PseudonymousIdInfo": {
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "properties": {
        "syncStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "description": "Output only. Sync status of the user list.",
          "readOnly": true,
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "type": "string"
        },
        "billableRecordCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched)."
        }
      },
      "id": "PseudonymousIdInfo",
      "type": "object"
    },
    "UserProperties": {
      "type": "object",
      "id": "UserProperties",
      "properties": {
        "additionalUserProperties": {
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "items": {
            "$ref": "UserProperty"
          },
          "type": "array"
        },
        "customerType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "description": "Optional. Type of the customer associated with the event.",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ]
        },
        "customerValueBucket": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details."
    },
    "UserListDirectLicense": {
      "type": "object",
      "id": "UserListDirectLicense",
      "properties": {
        "clientAccountId": {
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64"
        },
        "historicalPricings": {
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true
        },
        "clientAccountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        }
      },
      "description": "A user list direct license. This feature is only available to data partners."
    },
    "DataTypeCount": {
      "description": "The count for a specific data type.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The data type is unspecified.",
            "The data is an email address.",
            "The data is a phone number.",
            "The data is a physical address.",
            "The data is an IP address."
          ],
          "description": "The type of data.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ]
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The count for this data type."
        }
      },
      "id": "DataTypeCount",
      "type": "object"
    },
    "RemoveAudienceMembersStatus": {
      "properties": {
        "compositeDataRemovalStatus": {
          "description": "The status of the composite data removal from the destination.",
          "$ref": "RemoveCompositeDataStatus"
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        }
      },
      "description": "The status of the remove audience members request.",
      "type": "object",
      "id": "RemoveAudienceMembersStatus"
    },
    "GcpWrappedKeyInfo": {
      "id": "GcpWrappedKeyInfo",
      "type": "object",
      "description": "Information about the Google Cloud Platform wrapped key.",
      "properties": {
        "keyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "wipProvider": {
          "type": "string",
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
        },
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        }
      }
    },
    "Location": {
      "properties": {
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of ISO 3166-1 alpha-2 region codes."
        }
      },
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "id": "Location"
    },
    "ProductAccount": {
      "type": "object",
      "id": "ProductAccount",
      "properties": {
        "product": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. Use `account_type` instead.",
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ]
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ],
          "type": "string"
        }
      },
      "description": "Represents a specific account."
    },
    "PairIdInfo": {
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "format": "int64"
        },
        "cleanRoomIdentifier": {
          "type": "string",
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers."
        },
        "matchRatePercentage": {
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "format": "int64",
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "type": "string"
        }
      },
      "id": "PairIdInfo",
      "type": "object"
    },
    "AdEvent": {
      "description": "An ad event.",
      "properties": {
        "platformString": {
          "type": "string",
          "description": "String value for platform."
        },
        "targetingTypeString": {
          "type": "string",
          "description": "String value for targeting type."
        },
        "adFormatString": {
          "type": "string",
          "description": "String value for ad format."
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "description": "Required. The ID of the associated campaign."
        },
        "eventSubtype": {
          "type": "string",
          "description": "Enum value for event subtype.",
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ],
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ]
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional."
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "description": "Required. The type of the event.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ],
          "type": "string"
        },
        "adFormat": {
          "description": "Enum value for ad format.",
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "type": "string"
        },
        "adPlacementString": {
          "type": "string",
          "description": "String value for ad placement."
        },
        "measurementAllowed": {
          "type": "boolean",
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction."
        },
        "adGroupId": {
          "type": "string",
          "description": "Optional. The ID of the associated ad group."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The ISO 3166-2 country plus subdivision."
        },
        "adPlacement": {
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ],
          "description": "Enum value for ad placement.",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ],
          "type": "string"
        },
        "platform": {
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ],
          "description": "Enum value for platform.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ],
          "type": "string"
        },
        "adType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ],
          "description": "Enum value for ad type.",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ]
        },
        "medium": {
          "description": "Required. The medium of the ad, akin to the Google Analytics medium.",
          "type": "string"
        },
        "adWidth": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The width of the ad in pixels."
        },
        "userData": {
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found.",
          "$ref": "UserData"
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "targetingType": {
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "description": "Enum value for targeting type.",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ],
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "adHeight": {
          "format": "int32",
          "description": "Optional. The height of the ad in pixels.",
          "type": "integer"
        },
        "campaignName": {
          "type": "string",
          "description": "Required. The name of the associated campaign."
        },
        "source": {
          "description": "Required. The platform source of the ad, akin to the Google Analytics source.",
          "type": "string"
        },
        "attributionHint": {
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports.",
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "type": "string"
        },
        "platformTypeString": {
          "type": "string",
          "description": "String value for platform type."
        },
        "timestamp": {
          "description": "Required. The time the event occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "deviceInfo": {
          "description": "Optional. Information gathered about the device being used when the ad event happened.",
          "$ref": "DeviceInfo"
        },
        "viewabilityInfo": {
          "description": "Required. Details of the viewability of the ad served.",
          "$ref": "ViewabilityInfo"
        },
        "platformType": {
          "type": "string",
          "description": "Enum value for platform type.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ]
        }
      },
      "id": "AdEvent",
      "type": "object"
    },
    "TermsOfService": {
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "type": "string",
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ]
        }
      },
      "description": "The terms of service that the user has accepted/rejected.",
      "type": "object",
      "id": "TermsOfService"
    },
    "ExperimentalField": {
      "properties": {
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        },
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        }
      },
      "description": "Experimental field representing unofficial fields.",
      "type": "object",
      "id": "ExperimentalField"
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "type": "object",
      "description": "A single identifier for the user.",
      "properties": {
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        }
      }
    },
    "MarketingDataInsight": {
      "properties": {
        "dimension": {
          "description": "The dimension to which the insight belongs.",
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "type": "string"
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          },
          "type": "array"
        }
      },
      "description": "Insights for marketing data. This feature is only available to data partners.",
      "type": "object",
      "id": "MarketingDataInsight"
    },
    "EventLocation": {
      "properties": {
        "subdivisionCode": {
          "type": "string",
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred."
        },
        "storeId": {
          "type": "string",
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened."
        },
        "subcontinentCode": {
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The 2-letter CLDR region code of the user's address.",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Optional. The name of the city where the event occurred."
        },
        "continentCode": {
          "type": "string",
          "description": "Optional. The continent code in UN M49 format where the event occurred."
        }
      },
      "description": "The location where the event occurred.",
      "type": "object",
      "id": "EventLocation"
    },
    "ItemParameter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string representation of the value of the parameter to set."
        },
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        }
      },
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
      "type": "object",
      "id": "ItemParameter"
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "IngestEventsResponse",
      "type": "object"
    },
    "RemoveAudienceMembersResponse": {
      "description": "Response from the RemoveAudienceMembersRequest.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "id": "RemoveAudienceMembersResponse",
      "type": "object"
    },
    "CartData": {
      "type": "object",
      "id": "CartData",
      "properties": {
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "Optional. The list of items associated with the event."
        },
        "merchantId": {
          "type": "string",
          "description": "Optional. The Merchant Center ID associated with the items."
        },
        "merchantFeedLanguageCode": {
          "type": "string",
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded."
        },
        "transactionDiscount": {
          "type": "number",
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "format": "double"
        },
        "couponCodes": {
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The Merchant Center feed label associated with the feed of the items."
        }
      },
      "description": "The cart data associated with the event."
    },
    "EncryptedUserId": {
      "type": "object",
      "id": "EncryptedUserId",
      "properties": {
        "encryptedId": {
          "type": "string",
          "description": "Required. The alphanumeric encrypted id."
        },
        "entityId": {
          "format": "int64",
          "description": "Required. The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified encryption source.",
            "Ad serving encryption source.",
            "Data transfer encryption source."
          ],
          "description": "Required. Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified encryption entity type.",
            "Campaign Manager 360 account.",
            "Campaign Manager 360 advertiser.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ads customer.",
            "Google Ad Manager network code."
          ],
          "description": "Required. The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ]
        }
      },
      "description": "A user identifier issued to be used for attribution. All fields are required if this is used."
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "MarketingDataInsightsAttribute": {
      "type": "object",
      "id": "MarketingDataInsightsAttribute",
      "properties": {
        "userInterestId": {
          "type": "string",
          "format": "int64",
          "description": "The user interest ID."
        },
        "ageRange": {
          "type": "string",
          "description": "Age range of the audience for which the lift is provided.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ]
        },
        "lift": {
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "type": "number"
        },
        "gender": {
          "description": "Gender of the audience for which the lift is provided.",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "type": "string"
        }
      },
      "description": "Insights for a collection of related attributes of the same dimension."
    },
    "PartnerAudienceInfo": {
      "id": "PartnerAudienceInfo",
      "type": "object",
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "properties": {
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        },
        "partnerAudienceSource": {
          "type": "string",
          "description": "Required. Immutable. The source of the partner audience.",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ]
        }
      }
    },
    "IngestCompositeDataStatus": {
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "type": "string"
        },
        "dataTypeCounts": {
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not.",
          "items": {
            "$ref": "DataTypeCount"
          },
          "type": "array"
        }
      },
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestCompositeDataStatus"
    },
    "IngestAudienceMembersRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "properties": {
        "encoding": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "audienceMembers": {
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request."
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array",
          "description": "Required. The list of destinations to send the audience members to."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "IngestAudienceMembersRequest",
      "type": "object"
    },
    "IngestUserDataStatus": {
      "properties": {
        "uploadMatchRateRange": {
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "description": "The match rate range of the upload.",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserDataStatus"
    },
    "ErrorInfo": {
      "description": "Error counts for each type of error.",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "items": {
            "$ref": "ErrorCount"
          },
          "type": "array"
        }
      },
      "id": "ErrorInfo",
      "type": "object"
    },
    "IngestMobileDataStatus": {
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "mobileIdCount": {
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IngestMobileDataStatus",
      "type": "object"
    },
    "TargetNetworkInfo": {
      "description": "Eligibility information for different target networks.",
      "properties": {
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        },
        "eligibleForDisplay": {
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "TargetNetworkInfo",
      "type": "object"
    },
    "PpidData": {
      "id": "PpidData",
      "type": "object",
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "properties": {
        "ppids": {
          "description": "Required. The list of publisher provided identifiers for a user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Baseline": {
      "id": "Baseline",
      "type": "object",
      "description": "Baseline criteria against which insights are compared.",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        }
      }
    },
    "CompositeData": {
      "type": "object",
      "id": "CompositeData",
      "properties": {
        "userData": {
          "description": "Optional. User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "ipData": {
          "description": "Optional. IP address data representing customer interaction used to build the audience.",
          "items": {
            "$ref": "IpData"
          },
          "type": "array"
        }
      },
      "description": "Composite data holding identifiers and associated data for a user. At least one of `user_data` or `ip_data` is required."
    },
    "IngestAdEventsRequest": {
      "id": "IngestAdEventsRequest",
      "type": "object",
      "description": "Request to upload ad events.",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        },
        "adEvents": {
          "description": "Required. Required (at least 1). A list of ad events.",
          "type": "array",
          "items": {
            "$ref": "AdEvent"
          }
        },
        "validateOnly": {
          "description": "Optional. If true, the request is validated, but not executed.",
          "type": "boolean"
        }
      }
    },
    "Item": {
      "type": "object",
      "id": "Item",
      "properties": {
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of this item associated with the event."
        },
        "conversionValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion value associated with this item within the event, for cases where the conversion value is different for each item."
        },
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        },
        "merchantProductId": {
          "type": "string",
          "description": "Optional. The product ID within the Merchant Center account."
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or Floodlight activity), when tracking per-item conversions.",
          "items": {
            "$ref": "ItemCustomVariable"
          },
          "type": "array"
        },
        "merchantFeedLanguageCode": {
          "type": "string",
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed where your items are uploaded."
        },
        "unitPrice": {
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "format": "double",
          "type": "number"
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The feed label of the Merchant Center feed. If countries are still being used, the 2-letter country code in ISO-3166-1 alpha-2 can be used instead. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
        },
        "additionalItemParameters": {
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array",
          "items": {
            "$ref": "ItemParameter"
          }
        },
        "merchantId": {
          "type": "string",
          "description": "Optional. The Merchant Center ID associated with the item. For Store Sales events this will override the value set at the cart level. This field is ignored for other events."
        }
      },
      "description": "Represents an item in the cart associated with the event."
    },
    "RemoveUserDataStatus": {
      "id": "RemoveUserDataStatus",
      "type": "object",
      "description": "The status of the user data removal from the destination.",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Destination": {
      "type": "object",
      "id": "Destination",
      "properties": {
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "type": "string",
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest."
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        }
      },
      "description": "The Google product you're sending data to. For example, a Google Ads account."
    },
    "SearchPartnerLinksResponse": {
      "id": "SearchPartnerLinksResponse",
      "type": "object",
      "description": "Response from the SearchPartnerLinksRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partnerLinks": {
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          },
          "description": "The partner links for the given account."
        }
      }
    },
    "RequestStatusPerDestination": {
[...]
