{
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataflow",
  "kind": "discovery#restDescription",
  "baseUrl": "https://dataflow.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "templates": {
          "methods": {
            "launch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates:launch",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
              "httpMethod": "POST",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "id": "dataflow.projects.templates.launch",
              "parameters": {
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.gcsPath": {
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                },
                "validateOnly": {
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "location": "query",
                  "type": "boolean"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "gcsPath": {
                  "type": "string",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.templates.create",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates",
              "flatPath": "v1b3/projects/{projectId}/templates",
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "id": "dataflow.projects.templates.get",
              "parameters": {
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "gcsPath": {
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates:get",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
              "parameterOrder": [
                "projectId"
              ]
            }
          }
        },
        "jobs": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.jobs.create",
              "parameters": {
                "view": {
                  "type": "string",
                  "description": "The level of information requested in response.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "replaceJobId": {
                  "type": "string",
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/jobs"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Job"
              },
              "response": {
                "$ref": "Job"
              },
              "id": "dataflow.projects.jobs.update",
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "aggregated": {
              "id": "dataflow.projects.jobs.aggregated",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "getMetrics": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "httpMethod": "GET",
              "response": {
                "$ref": "JobMetrics"
              },
              "id": "dataflow.projects.jobs.getMetrics",
              "parameters": {
                "projectId": {
                  "description": "A project id.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "required": true,
                  "type": "string",
                  "description": "The job to get metrics for.",
                  "location": "path"
                },
                "startTime": {
                  "type": "string",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query",
                  "format": "google-datetime"
                }
              }
            },
            "get": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.get",
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "The level of information requested in response.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              }
            },
            "list": {
              "path": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "deprecated": true
                },
                "name": {
                  "description": "Optional. The job name.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListJobsResponse"
              }
            },
            "snapshot": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "description": "Snapshot the state of a streaming job.",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.snapshot",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the job to be snapshotted.",
                  "location": "path"
                },
                "jobId": {
                  "description": "The job to be snapshotted.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "response": {
                "$ref": "Snapshot"
              }
            }
          },
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "id": "dataflow.projects.jobs.messages.list",
                  "parameters": {
                    "jobId": {
                      "description": "The job to get messages about.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query"
                    },
                    "startTime": {
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance >= level",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "debug": {
              "methods": {
                "sendCapture": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "description": "Send encoded debug capture data for component.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture"
                },
                "getConfig": {
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameters": {
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job id.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job which the WorkItem is part of.",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "lease": {
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "description": "Leases a dataflow WorkItem to run.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "id": "dataflow.projects.locations.workerMessages",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project to send the WorkerMessages to.",
                  "location": "path"
                },
                "location": {
                  "required": true,
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "description": "Send a worker_message to the service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            }
          },
          "resources": {
            "flexTemplates": {
              "methods": {
                "launch": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "description": "Launch a job with a FlexTemplate.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              }
            },
            "snapshots": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "snapshotId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Gets information about a snapshot.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "parameters": {
                    "projectId": {
                      "description": "The project ID to list snapshots for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The location to list snapshots in.",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "If specified, list snapshots created from this job.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "description": "Lists snapshots."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "snapshotId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Deletes a snapshot.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                }
              }
            },
            "templates": {
              "methods": {
                "launch": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.templates.launch",
                  "parameters": {
                    "dynamicTemplate.stagingLocation": {
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "dynamicTemplate.gcsPath": {
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "gcsPath": {
                      "type": "string",
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "id": "dataflow.projects.locations.templates.get",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "gcsPath": {
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "view": {
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.templates.create",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates"
                }
              }
            },
            "jobs": {
              "resources": {
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "The job which the WorkItem is part of.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      }
                    },
                    "lease": {
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "parameters": {
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "description": "Leases a dataflow WorkItem to run.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "parameters": {
                        "projectId": {
                          "description": "The project ID to list snapshots for.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The location to list snapshots in.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "description": "Lists snapshots.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "parameters": {
                        "stageId": {
                          "description": "The stage for which to fetch information.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "startTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query"
                        },
                        "endTime": {
                          "type": "string",
                          "description": "Upper time bound of work items to include, by start time.",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A project id.",
                          "location": "path"
                        },
                        "jobId": {
                          "description": "The job to get execution details for.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice."
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "parameters": {
                        "jobId": {
                          "description": "The job to get messages about.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "location": "query",
                          "type": "string"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query",
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "minimumImportance": {
                          "description": "Filter to only get messages with importance >= level",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`."
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getConfig": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job id.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "The project id.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      }
                    },
                    "getWorkerStacktraces": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "The job for which to get stacktraces.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "description": "Get worker stacktraces from debug capture.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "sendCapture": {
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "The project id.",
                          "location": "path"
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "The job id.",
                          "location": "path"
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "getExecutionDetails": {
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to get execution details for.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "get": {
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "view": {
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "list": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameters": {
                    "view": {
                      "type": "string",
                      "deprecated": true,
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query"
                    },
                    "name": {
                      "description": "Optional. The job name.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "The project which owns the jobs.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  }
                },
                "snapshot": {
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the job to be snapshotted.",
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The location that contains this job.",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to be snapshotted.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "description": "Snapshot the state of a streaming job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "update": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.update",
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "location": "query"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Job"
                  },
                  "response": {
                    "$ref": "Job"
                  }
                },
                "getMetrics": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to get metrics for.",
                      "location": "path"
                    },
                    "startTime": {
                      "type": "string",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
[...]
