{
  "version": "v1",
  "id": "dataplex:v1",
  "description": "A unified, intelligent governance solution for data and AI assets.",
  "title": "Cloud Dataplex API",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://dataplex.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "GoogleCloudDataplexV1CreateGlossaryTermRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1CreateGlossaryTermRequest",
      "properties": {
        "termId": {
          "description": "Required. GlossaryTerm identifier.",
          "type": "string"
        },
        "term": {
          "description": "Required. The GlossaryTerm to create.",
          "$ref": "GoogleCloudDataplexV1GlossaryTerm"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource where the GlossaryTerm will be created. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} where location_id refers to a Google Cloud region."
        }
      },
      "description": "Creates a new GlossaryTerm under the specified Glossary."
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateParameterDescription": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateParameterDescription",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the input parameter. It can include the type(s) supported by the parameter and intended usage. It is for information purposes only and does not affect the behavior of the rule template."
        },
        "defaultValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default value for the parameter if no value is provided."
        }
      },
      "description": "Description of the input parameter. It can include the type(s) supported by the parameter and intended usage. It is for information purposes only and does not affect the behavior of the rule template.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. Execution state for the BigQuery exporting.",
          "type": "string"
        },
        "message": {
          "description": "Output only. Additional information about the BigQuery exporting.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The result of BigQuery export post scan action."
    },
    "GoogleCloudDataplexV1SearchEntriesResponse": {
      "id": "GoogleCloudDataplexV1SearchEntriesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDataplexV1SearchEntriesResult"
          },
          "type": "array",
          "description": "The results matching the search query."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The estimated total number of matching entries. This number isn't guaranteed to be accurate."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Locations that the service couldn't reach. Search results don't include data from these locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "type": "object",
      "description": "List DataAttributes response.",
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataAttributes": {
          "description": "DataAttributes under the given parent DataTaxonomy.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateReference": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateReference",
      "properties": {
        "values": {
          "description": "Optional. Provides the map of parameter name and value. The maximum size of the field is 120KB (encoded as UTF-8).",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplateReferenceParameterValue"
          },
          "type": "object"
        },
        "resolvedSql": {
          "description": "Output only. The resolved SQL statement generated from the template with parameters substituted. It is only populated in the result.",
          "readOnly": true,
          "type": "string"
        },
        "ruleTemplate": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplate",
          "description": "Output only. The rule template used to resolve the rule. It is only populated in the result."
        },
        "name": {
          "type": "string",
          "description": "Required. The template entry name. Entry must be of EntryType projects/dataplex-types/locations/global/entryTypes/data-quality-rule-template and contains top-level aspect of AspectType projects/dataplex-types/locations/global/aspectTypes/data-quality-rule-template. The format is: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}"
        }
      },
      "description": "A rule that constructs a SQL statement to evaluate using a rule template and parameter values. If the constructed statement returns any rows, this rule fails",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "type": "object",
      "description": "List zones response.",
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "properties": {
        "zones": {
          "description": "Zones under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "type": "object",
      "description": "Execution related settings, like retry and service_account.",
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "properties": {
        "project": {
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project.",
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}."
        },
        "maxJobExecutionLifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum duration after which the job execution is expired."
        },
        "args": {
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataAssetAccessGroupConfig": {
      "type": "object",
      "description": "Configuration for access group inherited from the parent data product.",
      "id": "GoogleCloudDataplexV1DataAssetAccessGroupConfig",
      "properties": {
        "iamRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. IAM roles granted on the resource to this access group. Role name follows https://cloud.google.com/iam/docs/reference/rest/v1/roles.Example: [ \"roles/bigquery.dataViewer\" ]"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataScansResponse": {
      "type": "object",
      "description": "List dataScans response.",
      "id": "GoogleCloudDataplexV1ListDataScansResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "dataScans": {
          "description": "DataScans (BASIC view only) under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScan"
          }
        }
      }
    },
    "GoogleCloudDataplexV1UpdateGlossaryTermRequest": {
      "type": "object",
      "id": "GoogleCloudDataplexV1UpdateGlossaryTermRequest",
      "properties": {
        "term": {
          "description": "Required. The GlossaryTerm to update. The GlossaryTerm's name field is used to identify the GlossaryTerm to update. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}",
          "$ref": "GoogleCloudDataplexV1GlossaryTerm"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. The list of fields to update."
        }
      },
      "description": "Update GlossaryTerm Request"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for TestIamPermissions method."
    },
    "GoogleCloudDataplexV1DiscoveryEventTableDetails": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventTableDetails",
      "properties": {
        "table": {
          "type": "string",
          "description": "The fully-qualified resource name of the table resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the table resource.",
          "enumDescriptions": [
            "An unspecified table type.",
            "External table type.",
            "BigLake table type.",
            "Object table type for unstructured data."
          ],
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL_TABLE",
            "BIGLAKE_TABLE",
            "OBJECT_TABLE"
          ]
        }
      },
      "description": "Details about the published table."
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
      "properties": {
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        }
      },
      "description": "Describe JSON data format.",
      "type": "object"
    },
    "GoogleCloudDataplexV1AspectTypeAuthorization": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AspectTypeAuthorization",
      "properties": {
        "alternateUsePermission": {
          "type": "string",
          "description": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types."
        }
      },
      "description": "Authorization for an AspectType."
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "type": "string",
          "description": "Output only. Execution state for the BigQuery exporting."
        },
        "message": {
          "description": "Output only. Additional information about the BigQuery exporting.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The result of BigQuery export post scan action."
    },
    "GoogleCloudDataplexV1ListEntitiesResponse": {
      "description": "List metadata entities response.",
      "id": "GoogleCloudDataplexV1ListEntitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Entity"
          },
          "type": "array",
          "description": "Entities in the specified parent zone."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityResult": {
      "type": "object",
      "description": "The output of a DataQualityScan.",
      "id": "GoogleCloudDataplexV1DataQualityResult",
      "properties": {
        "score": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The overall data quality score.The score ranges between 0, 100 (up to two decimal points)."
        },
        "rules": {
          "description": "Output only. A list of all the rules in a job, and their results.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleResult"
          },
          "readOnly": true,
          "type": "array"
        },
        "anomalyDetectionGeneratedAssets": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets",
          "description": "Output only. The generated assets for anomaly detection."
        },
        "scannedData": {
          "description": "Output only. The data scanned for this result.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1ScannedData"
        },
        "rowCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The count of rows processed."
        },
        "catalogPublishingStatus": {
          "description": "Output only. The status of publishing the data scan as Dataplex Universal Catalog metadata.",
          "$ref": "GoogleCloudDataplexV1DataScanCatalogPublishingStatus",
          "readOnly": true
        },
        "passed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Overall data quality result -- true if all rules passed."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityDimensionResult"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of results at the dimension level.A dimension will have a corresponding DataQualityDimensionResult if and only if there is at least one rule with the 'dimension' field set to it."
        },
        "columns": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityColumnResult"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of results at the column level.A column will have a corresponding DataQualityColumnResult if and only if there is at least one rule with the 'column' field set to it."
        },
        "postScanActionsResult": {
          "description": "Output only. The result of post scan actions.",
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation",
      "properties": {
        "sqlExpression": {
          "description": "Optional. The SQL expression.",
          "type": "string"
        }
      },
      "description": "Evaluates whether the provided expression is true.The SQL expression needs to use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) and should produce a scalar boolean result.Example: MIN(col1) >= 0"
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "properties": {
        "service": {
          "type": "string",
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Lake": {
      "id": "GoogleCloudDataplexV1Lake",
      "properties": {
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "assetStatus": {
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "readOnly": true
        },
        "metastoreStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "description": "Output only. Metastore status of the lake."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the lake was last updated."
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the lake was created."
        },
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "description": "Output only. Current state of the lake.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the lake.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the lake."
        }
      },
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventPostScanActionsResult": {
      "type": "object",
      "description": "Post scan actions result for data scan job.",
      "id": "GoogleCloudDataplexV1DataScanEventPostScanActionsResult",
      "properties": {
        "bigqueryExportResult": {
          "description": "The result of BigQuery export post scan action.",
          "$ref": "GoogleCloudDataplexV1DataScanEventPostScanActionsResultBigQueryExportResult"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results.",
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "properties": {
        "passed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the dimension passed or failed."
        },
        "dimension": {
          "description": "Output only. The dimension config specified in the DataQualitySpec, as is.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityDimension"
        },
        "score": {
          "description": "Output only. The dimension-level data quality score for this data scan job if and only if the 'dimension' field is set.The score ranges between 0, 100 (up to two decimal points).",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1RunTaskRequest": {
      "id": "GoogleCloudDataplexV1RunTaskRequest",
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels for the task. If the map is left empty, the task will run with existing labels from task definition. If the map contains an entry with a new key, the same will be added to existing set of labels. If the map contains an entry with an existing label key in task definition, the task will run with new label value for that entry. Clearing an existing label will require label value to be explicitly set to a hyphen \"-\". The label value cannot be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "args": {
          "type": "object",
          "description": "Optional. Execution spec arguments. If the map is left empty, the task will run with existing execution spec args from task definition. If the map contains an entry with a new key, the same will be added to existing set of args. If the map contains an entry with an existing arg key in task definition, the task will run with new arg value for that entry. Clearing an existing arg will require arg value to be explicitly set to a hyphen \"-\". The arg value cannot be empty.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateSql": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateSql",
      "properties": {
        "query": {
          "description": "Output only. Templatized SQL query for data quality rules.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Templatized SQL query for data quality rules. It can have parameters that can be substituted with values when a rule is created using this template.",
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryGroup": {
      "id": "GoogleCloudDataplexV1EntryGroup",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the EntryGroup was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the EntryGroup was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the EntryGroup, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the EntryGroup. If you delete and recreate the EntryGroup with the same name, this ID will be different.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the EntryGroup."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the EntryGroup.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "transferStatus": {
          "description": "Output only. Denotes the transfer status of the Entry Group. It is unspecified for Entry Group created from Dataplex API.",
          "type": "string",
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      },
      "description": "An Entry Group represents a logical grouping of one or more Entries.",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "properties": {
        "readAccessMode": {
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Immutable. Type of resource.",
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Asset": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Asset",
      "properties": {
        "labels": {
          "description": "Optional. User defined labels for the asset.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. Description of the asset.",
          "type": "string"
        },
        "resourceStatus": {
          "description": "Output only. Status of the resource referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus",
          "readOnly": true
        },
        "securityStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus",
          "description": "Output only. Status of the security policy applied to resource referenced by this asset."
        },
        "discoveryStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus",
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the asset was created."
        },
        "resourceSpec": {
          "description": "Required. Specification of the resource that is referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec"
        },
        "state": {
          "description": "Output only. Current state of the asset.",
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec"
        }
      },
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone."
    },
    "GoogleCloudDataplexV1AspectType": {
      "id": "GoogleCloudDataplexV1AspectType",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the AspectType was last updated."
        },
        "dataClassification": {
          "description": "Optional. Immutable. Stores data classification of the aspect.",
          "enumDescriptions": [
            "Denotes that the aspect contains only metadata.",
            "Metadata and data classification."
          ],
          "enum": [
            "DATA_CLASSIFICATION_UNSPECIFIED",
            "METADATA_AND_DATA"
          ],
          "type": "string"
        },
        "authorization": {
          "description": "Immutable. Defines the Authorization for this type.",
          "$ref": "GoogleCloudDataplexV1AspectTypeAuthorization"
        },
        "metadataTemplate": {
          "description": "Required. MetadataTemplate of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the AspectType."
        },
        "labels": {
          "description": "Optional. User-defined labels for the AspectType.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the AspectType was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the AspectType, of the form: projects/{project_number}/locations/{location_id}/aspectTypes/{aspect_type_id}."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the AspectType. If you delete and recreate the AspectType with the same name, then this ID will be different.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "The service computes this checksum. The client may send it on update and delete requests to ensure it has an up-to-date value before proceeding.",
          "type": "string"
        },
        "transferStatus": {
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "readOnly": true,
          "description": "Output only. Denotes the transfer status of the Aspect Type. It is unspecified for Aspect Types created from Dataplex API.",
          "type": "string"
        }
      },
      "description": "AspectType is a template for creating Aspects, and represents the JSON-schema for a given Entry, for example, BigQuery Table Schema.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "properties": {
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "schemaChange": {
          "type": "string",
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        },
        "table": {
          "description": "The name of the table containing invalid data.",
          "type": "string"
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        },
        "sampledDataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference."
        }
      },
      "description": "Action details for incompatible schemas detected by discovery."
    },
    "GoogleCloudDataplexV1Aspect": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Aspect",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Aspect was last updated."
        },
        "createTime": {
          "description": "Output only. The time when the Aspect was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "aspectSource": {
          "description": "Optional. Information related to the source system of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectSource"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path in the entry under which the aspect is attached."
        },
        "aspectType": {
          "description": "Output only. The resource name of the type used to create this Aspect.",
          "readOnly": true,
          "type": "string"
        },
        "data": {
          "description": "Required. The content of the aspect, according to its aspect type schema. The maximum size of the field is 120KB (encoded as UTF-8).",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Represents a single piece of metadata describing an entry or entry link."
    },
    "GoogleCloudDataplexV1ListActionsResponse": {
      "id": "GoogleCloudDataplexV1ListActionsResponse",
      "properties": {
        "actions": {
          "description": "Actions under the given parent lake/zone/asset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Action"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "List actions response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "description": "Action details for absence of data detected by discovery.",
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "properties": {
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryTypeAspectInfo": {
      "id": "GoogleCloudDataplexV1EntryTypeAspectInfo",
      "properties": {
        "type": {
          "description": "Required aspect type for the entry type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1RequestDataProductAccessResponse": {
      "description": "Response message for requesting access to a Data Product.",
      "id": "GoogleCloudDataplexV1RequestDataProductAccessResponse",
      "properties": {
        "changeRequestName": {
          "type": "string",
          "description": "The resource name of the created ChangeRequest. Format: projects/{project_number}/locations/{location_id}/changeRequests/{change_request_id}"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataDocumentationResultDatasetResult": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultDatasetResult",
      "properties": {
        "schemaRelationships": {
          "description": "Output only. Relationships suggesting how tables in the dataset are related to each other, based on their schema.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship"
          },
          "readOnly": true,
          "type": "array"
        },
        "overview": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Generated Dataset description."
        },
        "queries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "description": "Output only. Sample SQL queries for the dataset."
        }
      },
      "description": "Insights for a dataset resource.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEventEntityDetails": {
      "type": "object",
      "description": "Details about the entity.",
      "id": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
      "properties": {
        "entity": {
          "description": "The name of the entity resource. The name is the fully-qualified resource name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "description": "The type of the entity resource."
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "properties": {
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of rows processed in the data scan job."
        },
        "passed": {
          "description": "Whether the data quality result was pass or not.",
          "type": "boolean"
        },
        "columnScore": {
          "description": "The score of each column scanned in the data scan job. The key of the map is the name of the column. The value is the data quality score for the column.The score ranges between 0, 100 (up to two decimal points).",
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "type": "object"
        },
        "dimensionPassed": {
          "type": "object",
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not.",
          "additionalProperties": {
            "type": "boolean"
          }
        },
        "score": {
          "description": "The table-level data quality score for the data scan job.The data quality score ranges between 0, 100 (up to two decimal points).",
          "format": "float",
          "type": "number"
        },
        "dimensionScore": {
          "description": "The score of each dimension for data quality result. The key of the map is the name of the dimension. The value is the data quality score for the dimension.The score ranges between 0, 100 (up to two decimal points).",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "type": "object"
        }
      },
      "description": "Data quality result for data scan job."
    },
    "GoogleCloudDataplexV1ActionInvalidDataFormat": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionInvalidDataFormat",
      "properties": {
        "sampledDataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference."
        },
        "newFormat": {
          "type": "string",
          "description": "The new unexpected data format within the entity."
        },
        "expectedFormat": {
          "description": "The expected data format of the entity.",
          "type": "string"
        }
      },
      "description": "Action details for invalid or unsupported data files detected by discovery."
    },
    "GoogleCloudDataplexV1Entry": {
      "description": "An entry is a representation of a data resource that can be described by various metadata.",
      "id": "GoogleCloudDataplexV1Entry",
      "properties": {
        "parentEntry": {
          "description": "Optional. Immutable. The resource name of the parent entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}.",
          "type": "string"
        },
        "entryType": {
          "description": "Required. Immutable. The relative resource name of the entry type that was used to create this entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryTypes/{entry_type_id}.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Optional. A name for the entry that can be referenced by an external system. For more information, see Fully qualified names (https://cloud.google.com/data-catalog/docs/fully-qualified-names). The maximum size of the field is 4000 characters.",
          "type": "string"
        },
        "aspects": {
          "type": "object",
          "description": "Optional. The aspects that are attached to the entry. Depending on how the aspect is attached to the entry, the format of the aspect key can be one of the following: If the aspect is attached directly to the entry: {project_id_or_number}.{location_id}.{aspect_type_id} If the aspect is attached to an entry's path: {project_id_or_number}.{location_id}.{aspect_type_id}@{path}",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the entry was created in Dataplex Universal Catalog."
        },
        "entrySource": {
          "description": "Optional. Information related to the source system of the data resource that is represented by the entry.",
          "$ref": "GoogleCloudDataplexV1EntrySource"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The relative resource name of the entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the entry was last updated in Dataplex Universal Catalog."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEvent": {
      "description": "These messages contain information about the execution of a datascan. The monitored resource is 'DataScan'",
      "id": "GoogleCloudDataplexV1DataScanEvent",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "The data source of the data scan"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified job state.",
            "Data scan job started.",
            "Data scan job successfully completed.",
            "Data scan job was unsuccessful.",
            "Data scan job was cancelled.",
            "Data scan job was created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CREATED"
          ],
          "description": "The status of the data scan job."
        },
        "trigger": {
          "enumDescriptions": [
            "An unspecified trigger type.",
            "Data scan triggers on demand.",
            "Data scan triggers as per schedule.",
            "Data scan is run one time on creation."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "ON_DEMAND",
            "SCHEDULE",
            "ONE_TIME"
          ],
          "description": "The trigger type of the data scan job.",
          "type": "string"
        },
        "dataQuality": {
          "description": "Data quality result for data quality type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataQualityResult"
        },
        "specVersion": {
          "type": "string",
          "description": "A version identifier of the spec which was used to execute this job."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified data scan type.",
            "Data scan for data profile.",
            "Data scan for data quality.",
            "Data scan for data discovery."
          ],
          "enum": [
            "SCAN_TYPE_UNSPECIFIED",
            "DATA_PROFILE",
            "DATA_QUALITY",
            "DATA_DISCOVERY"
          ],
          "description": "The type of the data scan."
        },
        "message": {
          "description": "The message describing the data scan job event.",
          "type": "string"
        },
        "dataQualityConfigs": {
          "description": "Applied configs for data quality type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs"
        },
        "catalogPublishingStatus": {
          "description": "The status of publishing the data scan as Dataplex Universal Catalog metadata.",
          "$ref": "GoogleCloudDataplexV1DataScanCatalogPublishingStatus"
        },
        "dataProfile": {
          "description": "Data profile result for data profile type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataProfileResult"
        },
        "postScanActionsResult": {
          "description": "The result of post scan actions.",
          "$ref": "GoogleCloudDataplexV1DataScanEventPostScanActionsResult"
        },
        "jobId": {
          "description": "The identifier of the specific data scan job this log entry is for.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the data scan job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time when the data scan job finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified scope type.",
            "Data scan runs on all of the data.",
            "Data scan runs on incremental data."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL"
          ],
          "description": "The scope of the data scan (e.g. full, incremental)."
        },
        "dataProfileConfigs": {
          "description": "Applied configs for data profile type data scan.",
          "$ref": "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the data scan job started to run."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation": {
      "type": "object",
      "description": "Evaluates whether each row passes the specified condition.The SQL expression needs to use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) and should produce a boolean value per row as the result.Example: col1 >= 0 AND col2 < 10",
      "id": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation",
      "properties": {
        "sqlExpression": {
          "description": "Optional. The SQL expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1UnstructuredDataProfileSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1UnstructuredDataProfileSpec",
      "properties": {
        "graphProfilePublishingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to publish graph-profile as aspect on the catalog entry."
        },
        "customizedPrompt": {
          "description": "Optional. Customized prompt for unstructured data profile. The field will be used as part of the prompt, could be some instruction, specifying skill, or specific area to focus.",
          "type": "string"
        },
        "globalEndpointEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to use the global model."
        }
      },
      "description": "Contains the specification for an unstructured data profile scan."
    },
    "GoogleCloudDataplexV1ListGlossaryTermsResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListGlossaryTermsResponse",
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that the service couldn't reach."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "terms": {
          "description": "Lists the GlossaryTerms in the specified parent.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GlossaryTerm"
          },
          "type": "array"
        }
      },
      "description": "List GlossaryTerms Response"
    },
    "GoogleCloudDataplexV1Trigger": {
      "id": "GoogleCloudDataplexV1Trigger",
      "properties": {
        "oneTime": {
          "description": "The scan runs once, and does not create an associated ScanJob child resource.",
          "$ref": "GoogleCloudDataplexV1TriggerOneTime"
        },
        "onDemand": {
          "description": "The scan runs once via RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1TriggerOnDemand"
        },
        "schedule": {
          "description": "The scan is scheduled to run periodically.",
          "$ref": "GoogleCloudDataplexV1TriggerSchedule"
        }
      },
      "description": "DataScan scheduling and trigger settings.",
      "type": "object"
    },
    "GoogleCloudDataplexV1GovernanceEvent": {
      "type": "object",
      "id": "GoogleCloudDataplexV1GovernanceEvent",
      "properties": {
        "eventType": {
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Resource IAM policy update event.",
            "BigQuery table create event.",
            "BigQuery table update event.",
            "BigQuery table delete event.",
            "BigQuery connection create event.",
            "BigQuery connection update event.",
            "BigQuery connection delete event.",
            "BigQuery taxonomy created.",
            "BigQuery policy tag created.",
            "BigQuery policy tag deleted.",
            "BigQuery set iam policy for policy tag.",
            "Access policy update event.",
            "Number of resources matched with particular Query.",
            "Rule processing exceeds the allowed limit.",
            "Rule processing errors.",
            "Governance rule processing Event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "RESOURCE_IAM_POLICY_UPDATE",
            "BIGQUERY_TABLE_CREATE",
            "BIGQUERY_TABLE_UPDATE",
            "BIGQUERY_TABLE_DELETE",
            "BIGQUERY_CONNECTION_CREATE",
            "BIGQUERY_CONNECTION_UPDATE",
            "BIGQUERY_CONNECTION_DELETE",
            "BIGQUERY_TAXONOMY_CREATE",
            "BIGQUERY_POLICY_TAG_CREATE",
            "BIGQUERY_POLICY_TAG_DELETE",
            "BIGQUERY_POLICY_TAG_SET_IAM_POLICY",
            "ACCESS_POLICY_UPDATE",
            "GOVERNANCE_RULE_MATCHED_RESOURCES",
            "GOVERNANCE_RULE_SEARCH_LIMIT_EXCEEDS",
            "GOVERNANCE_RULE_ERRORS",
            "GOVERNANCE_RULE_PROCESSING"
          ],
          "type": "string"
        },
        "entity": {
          "description": "Entity resource information if the log event is associated with a specific entity.",
          "$ref": "GoogleCloudDataplexV1GovernanceEventEntity"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        }
      },
      "description": "Payload associated with Governance related log events."
    },
    "GoogleCloudDataplexV1ListMetadataJobsResponse": {
      "type": "object",
      "id": "GoogleCloudDataplexV1ListMetadataJobsResponse",
      "properties": {
        "metadataJobs": {
          "description": "Metadata jobs under the specified parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1MetadataJob"
          },
          "type": "array"
        },
        "unreachableLocations": {
          "description": "Locations that the service couldn't reach.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty.",
          "type": "string"
        }
      },
      "description": "List metadata jobs response."
    },
    "GoogleCloudDataplexV1ExecutionIdentityUserCredential": {
      "id": "GoogleCloudDataplexV1ExecutionIdentityUserCredential",
      "properties": {},
      "description": "The credential of the calling user.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProduct": {
      "description": "A data product is a curated collection of data assets, packaged to address specific use cases. It's a way to manage and share data in a more organized, product-like manner.",
      "id": "GoogleCloudDataplexV1DataProduct",
      "properties": {
        "accessApprovalConfig": {
          "description": "Optional. Configuration for access approval for the data product.",
          "$ref": "GoogleCloudDataplexV1DataProductAccessApprovalConfig"
        },
        "displayName": {
          "description": "Required. User-friendly display name of the data product.",
          "type": "string"
        },
        "accessGroups": {
          "type": "object",
          "description": "Optional. Data product access groups by access group id as key. If data product is used only for packaging data assets, then access groups may be empty. However, if a data product is used for sharing data assets, then at least one access group must be specified.Example: { \"analyst\": { \"id\": \"analyst\", \"displayName\": \"Analyst\", \"description\": \"Access group for analysts\", \"principal\": { \"googleGroup\": \"analysts@example.com\" } } } ",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataProductAccessGroup"
          }
        },
        "updateTime": {
          "description": "Output only. The time at which the data product was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "assetCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of data assets associated with this data product."
        },
        "icon": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Base64 encoded image representing the data product. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
        },
        "labels": {
          "description": "Optional. User-defined labels for the data product.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the data product."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the data product was created."
        },
        "name": {
          "description": "Identifier. Resource name of the data product. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated unique ID for the data product. This ID will be different if the data product is deleted and re-created with the same name."
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "ownerEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Emails of the data product owners."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEncryptionConfigsResponse": {
      "type": "object",
      "description": "List EncryptionConfigs Response",
      "id": "GoogleCloudDataplexV1ListEncryptionConfigsResponse",
      "properties": {
        "encryptionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EncryptionConfig"
          },
          "description": "The list of EncryptionConfigs under the given parent location."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResultTableResult": {
      "description": "Insights for a table resource.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultTableResult",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service-qualified full resource name of the cloud resource. Ex: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID"
        },
        "schema": {
          "description": "Output only. Schema of the table with generated metadata of the columns in the schema.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchema"
        },
        "overview": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Generated description of the table."
        },
        "queries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "description": "Output only. Sample SQL queries for the table."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "id": "GoogleCloudDataplexV1GovernanceEventEntity",
      "properties": {
        "entityType": {
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "description": "Type of entity.",
          "type": "string"
        },
        "entity": {
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}",
          "type": "string"
        }
      },
      "description": "Information about Entity resource that the log event is associated with.",
      "type": "object"
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "id": "GoogleCloudDataplexV1SessionEvent",
      "properties": {
        "fastStartupEnabled": {
          "type": "boolean",
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user."
        },
        "unassignedDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The idle duration of a warm pooled session before it is assigned to user."
        },
        "userId": {
          "description": "The information about the user that created the session. It will be the email address of the user.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the session."
        },
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ],
          "description": "The type of the event."
        }
      },
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'.",
      "type": "object"
    },
    "GoogleCloudDataplexV1GlossaryCategory": {
      "id": "GoogleCloudDataplexV1GlossaryCategory",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The immediate parent of the GlossaryCategory in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
        },
        "displayName": {
          "description": "Optional. User friendly display name of the GlossaryCategory. This is user-mutable. This will be same as the GlossaryCategoryId, if not specified.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the GlossaryCategory was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated unique id for the GlossaryCategory. This ID will be different if the GlossaryCategory is deleted and re-created with the same name."
        },
        "updateTime": {
          "description": "Output only. The time at which the GlossaryCategory was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The user-mutable description of the GlossaryCategory.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the GlossaryCategory.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A GlossaryCategory represents a collection of GlossaryCategories and GlossaryTerms within a Glossary that are related to each other.",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataProductsResponse": {
      "type": "object",
      "description": "Response message for listing data products.",
      "id": "GoogleCloudDataplexV1ListDataProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages."
        },
        "dataProducts": {
          "description": "The data products for the requested filter criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProduct"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that the service couldn't reach."
        }
      }
    },
    "GoogleCloudDataplexV1DataAttribute": {
      "id": "GoogleCloudDataplexV1DataAttribute",
      "description": "Denotes one dataAttribute in a dataTaxonomy, for example, PII. DataAttribute resources can be defined in a hierarchy. A single dataAttribute resource can contain specs of multiple types PII - ResourceAccessSpec : - readers :foo@bar.com - DataAccessSpec : - readers :bar@foo.com ",
      "type": "object",
      "properties": {
        "attributeCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of child attributes present for this attribute."
        },
        "resourceAccessSpec": {
          "description": "Optional. Specified when applied to a resource (eg: Cloud Storage bucket, BigQuery dataset, BigQuery table).",
          "$ref": "GoogleCloudDataplexV1ResourceAccessSpec"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the DataAttribute was last updated."
        },
        "dataAccessSpec": {
          "description": "Optional. Specified when applied to data stored on the resource (eg: rows, columns in BigQuery Tables).",
          "$ref": "GoogleCloudDataplexV1DataAccessSpec"
        },
        "parentId": {
          "description": "Optional. The ID of the parent DataAttribute resource, should belong to the same data taxonomy. Circular dependency in parent chain is not valid. Maximum depth of the hierarchy allowed is 4. a -> b -> c -> d -> e, depth = 4",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the dataAttribute, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataAttribute. This ID will be different if the DataAttribute is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the DataAttribute was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttribute."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttribute.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "deprecated": true
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "description": "The payload associated with Discovery data processing.",
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "type": {
          "description": "The type of the event being logged.",
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted.",
            "An event representing a table being published.",
            "An event representing a table being updated.",
            "An event representing a table being skipped in publishing.",
            "An event representing a table being deleted."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED",
            "TABLE_PUBLISHED",
            "TABLE_UPDATED",
            "TABLE_IGNORED",
            "TABLE_DELETED"
          ],
          "type": "string"
        },
        "assetId": {
          "description": "The id of the associated asset.",
          "type": "string"
        },
        "action": {
          "description": "Details about the action associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
        },
        "table": {
          "description": "Details about the BigQuery table publishing associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventTableDetails"
        },
        "zoneId": {
          "type": "string",
          "description": "The id of the associated zone."
        },
        "datascanId": {
          "type": "string",
          "description": "The id of the associated datascan for standalone discovery."
        },
        "dataLocation": {
          "description": "The data location associated with the event.",
          "type": "string"
        },
        "partition": {
          "description": "Details about the partition associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "entity": {
          "description": "Details about the entity associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1CancelDataScanJobResponse": {
      "id": "GoogleCloudDataplexV1CancelDataScanJobResponse",
      "properties": {},
      "description": "Response message for the CancelDataScanJob method.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "type": "object",
      "description": "List jobs response.",
      "id": "GoogleCloudDataplexV1ListJobsResponse",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "description": "Jobs under a given task."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatus": {
      "type": "object",
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatus",
      "properties": {
        "hiveMetastore": {
          "description": "Output only. Whether this entity is compatible with Hive Metastore.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility"
        },
        "bigquery": {
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
          "readOnly": true,
          "description": "Output only. Whether this entity is compatible with BigQuery."
        }
      },
      "description": "Provides compatibility information for various metadata stores."
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleCloudDataplexV1BusinessGlossaryEvent": {
      "type": "object",
      "id": "GoogleCloudDataplexV1BusinessGlossaryEvent",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Glossary create event.",
            "Glossary update event.",
            "Glossary delete event.",
            "Glossary category create event.",
            "Glossary category update event.",
            "Glossary category delete event.",
            "Glossary term create event.",
            "Glossary term update event.",
            "Glossary term delete event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GLOSSARY_CREATE",
            "GLOSSARY_UPDATE",
            "GLOSSARY_DELETE",
            "GLOSSARY_CATEGORY_CREATE",
            "GLOSSARY_CATEGORY_UPDATE",
            "GLOSSARY_CATEGORY_DELETE",
            "GLOSSARY_TERM_CREATE",
            "GLOSSARY_TERM_UPDATE",
            "GLOSSARY_TERM_DELETE"
          ],
          "description": "The type of the event.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource."
        }
      },
      "description": "Payload associated with Business Glossary related log events."
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "type": "object",
[...]
