{
  "baseUrl": "https://datapipelines.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/dataflow/docs/guides/data-pipelines",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDatapipelinesV1DataflowJobDetails": {
      "id": "GoogleCloudDatapipelinesV1DataflowJobDetails",
      "description": "Pipeline job details specific to the Dataflow API. This is encapsulated here to allow for more executors to store their specific details separately.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "description": "Output only. The SDK version used to run the job.",
          "$ref": "GoogleCloudDatapipelinesV1SdkVersion",
          "readOnly": true
        },
        "resourceInfo": {
          "description": "Cached version of all the metrics of interest for the job. This value gets stored here when the job is terminated. As long as the job is running, this field is populated from the Dataflow API.",
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "currentWorkers": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The current number of workers used to run the jobs. Only set to a value if the job is still running."
        }
      }
    },
    "GoogleCloudDatapipelinesV1ListJobsResponse": {
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Job"
          },
          "description": "Results that were accessible to the caller. Results are always in descending order of job creation date."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListJobs",
      "id": "GoogleCloudDatapipelinesV1ListJobsResponse"
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateRequest": {
      "description": "A request to launch a template.",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with 'gs://'."
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "launchParameters": {
          "description": "The parameters of the template to launch. This should be part of the body of the POST request.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateParameters"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateRequest",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1RunPipelineRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for RunPipeline",
      "id": "GoogleCloudDatapipelinesV1RunPipelineRequest"
    },
    "GoogleCloudDatapipelinesV1StopPipelineRequest": {
      "id": "GoogleCloudDatapipelinesV1StopPipelineRequest",
      "description": "Request message for StopPipeline.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "description": "The environment values to be set at runtime for a Flex Template.",
      "properties": {
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, defaults to the control plane region.",
          "type": "string"
        },
        "flexrsGoal": {
          "type": "string",
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions). An object containing a list of key/value pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }`."
        },
        "maxWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "numWorkers": {
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer",
          "format": "int32"
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "additionalExperiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter": {
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter",
      "properties": {
        "environment": {
          "description": "The runtime environment for the Flex Template job.",
          "$ref": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
        },
        "transformNameMappings": {
          "description": "Use this to pass transform name mappings for streaming update jobs. Example: `{\"oldTransformName\":\"newTransformName\",...}`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "launchOptions": {
          "description": "Launch options for this Flex Template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. For an update job request, the job name should be the same as the existing running job.",
          "type": "string"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "parameters": {
          "description": "The parameters for the Flex Template. Example: `{\"num_workers\":\"5\"}`",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with a JSON-serialized ContainerSpec as content."
        }
      },
      "description": "Launch Flex Template parameter."
    },
    "GoogleCloudDatapipelinesV1SdkVersion": {
      "id": "GoogleCloudDatapipelinesV1SdkVersion",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "description": "The support status for this SDK version."
        }
      },
      "type": "object",
      "description": "The version of the SDK used to run the job."
    },
    "GoogleCloudDatapipelinesV1Job": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time of job termination. This is absent if the job is still running.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "The current state of the job.",
          "enumDescriptions": [
            "The job state isn't specified.",
            "The job is waiting to start execution.",
            "The job is executing.",
            "The job has finished execution successfully.",
            "The job has finished execution with a failure.",
            "The job has been terminated upon user request."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_RUNNING",
            "STATE_DONE",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ]
        },
        "name": {
          "description": "Required. The fully qualified resource name for the job.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "Status capturing any error code or message related to job creation or execution."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The internal ID for the job.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of job creation."
        },
        "dataflowJobDetails": {
          "$ref": "GoogleCloudDatapipelinesV1DataflowJobDetails",
          "description": "All the details that are specific to a Dataflow job."
        }
      },
      "description": "Definition of the job information maintained by the pipeline. Fields in this entity are retrieved from the executor API (e.g. Dataflow API).",
      "id": "GoogleCloudDatapipelinesV1Job"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatapipelinesV1RunPipelineResponse": {
      "type": "object",
      "properties": {
        "job": {
          "description": "Job that was created as part of RunPipeline operation.",
          "$ref": "GoogleCloudDatapipelinesV1Job"
        }
      },
      "id": "GoogleCloudDatapipelinesV1RunPipelineResponse",
      "description": "Response message for RunPipeline"
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest": {
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "launchParameter": {
          "description": "Required. Parameter to launch a job from a Flex Template.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter"
        },
        "location": {
          "type": "string",
          "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. For example, `us-central1`, `us-west1`."
        }
      },
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest",
      "description": "A request to launch a Dataflow job from a Flex Template.",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1ListPipelinesResponse": {
      "description": "Response message for ListPipelines.",
      "type": "object",
      "properties": {
        "pipelines": {
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Pipeline"
          },
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller. Results are always in descending order of pipeline creation date."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
    },
    "GoogleCloudDatapipelinesV1Pipeline": {
      "id": "GoogleCloudDatapipelinesV1Pipeline",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Immutable. The timestamp when the pipeline was initially created. Set by the Data Pipelines service.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the pipeline. It can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), and underscores (_).",
          "type": "string"
        },
        "schedulerServiceAccountEmail": {
          "type": "string",
          "description": "Optional. A service account email to be used with the Cloud Scheduler job. If not specified, the default compute engine service account will be used."
        },
        "type": {
          "type": "string",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "PIPELINE_TYPE_BATCH",
            "PIPELINE_TYPE_STREAMING"
          ],
          "enumDescriptions": [
            "The pipeline type isn't specified.",
            "A batch pipeline. It runs jobs on a specific schedule, and each job will automatically terminate once execution is finished.",
            "A streaming pipeline. The underlying job is continuously running until it is manually terminated by the user. This type of pipeline doesn't have a schedule to run on, and the linked job gets created when the pipeline is created."
          ],
          "description": "Required. The type of the pipeline. This field affects the scheduling of the pipeline and the type of metrics to show for the pipeline."
        },
        "scheduleInfo": {
          "description": "Internal scheduling information for a pipeline. If this information is provided, periodic jobs will be created per the schedule. If not, users are responsible for creating jobs externally.",
          "$ref": "GoogleCloudDatapipelinesV1ScheduleSpec"
        },
        "name": {
          "type": "string",
          "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The pipeline state isn't specified.",
            "The pipeline is getting started or resumed. When finished, the pipeline state will be 'PIPELINE_STATE_ACTIVE'.",
            "The pipeline is actively running.",
            "The pipeline is in the process of stopping. When finished, the pipeline state will be 'PIPELINE_STATE_ARCHIVED'.",
            "The pipeline has been stopped. This is a terminal state and cannot be undone.",
            "The pipeline is paused. This is a non-terminal state. When the pipeline is paused, it will hold processing jobs, but can be resumed later. For a batch pipeline, this means pausing the scheduler job. For a streaming pipeline, creating a job snapshot to resume from will give the same effect."
          ],
          "description": "Required. The state of the pipeline. When the pipeline is created, the state is set to 'PIPELINE_STATE_ACTIVE' by default. State changes can be requested by setting the state to stopping, paused, or resuming. State cannot be changed through UpdatePipeline requests.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_RESUMING",
            "STATE_ACTIVE",
            "STATE_STOPPING",
            "STATE_ARCHIVED",
            "STATE_PAUSED"
          ]
        },
        "workload": {
          "description": "Workload information for creating new jobs.",
          "$ref": "GoogleCloudDatapipelinesV1Workload"
        },
        "jobCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of jobs.",
          "readOnly": true
        },
        "pipelineSources": {
          "description": "Immutable. The sources of the pipeline (for example, Knowledge Catalog). The keys and values are set by the corresponding sources during pipeline creation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp when the pipeline was last modified. Set by the Data Pipelines service.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The main pipeline entity and all the necessary metadata for launching and managing linked jobs.",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateParameters": {
      "description": "Parameters to provide to the template being launched.",
      "type": "object",
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateParameters",
      "properties": {
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job. Only applicable when updating a pipeline."
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "GoogleCloudDatapipelinesV1RuntimeEnvironment"
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatapipelinesV1Workload": {
      "properties": {
        "dataflowLaunchTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the standard launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateRequest"
        },
        "dataflowFlexTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the flex launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest"
        }
      },
      "id": "GoogleCloudDatapipelinesV1Workload",
      "description": "Workload details for creating the pipeline jobs.",
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1ScheduleSpec": {
      "id": "GoogleCloudDatapipelinesV1ScheduleSpec",
      "description": "Details of the schedule the pipeline runs on.",
      "properties": {
        "schedule": {
          "description": "Unix-cron format of the schedule. This information is retrieved from the linked Cloud Scheduler.",
          "type": "string"
        },
        "timeZone": {
          "description": "Timezone ID. This matches the timezone IDs used by the Cloud Scheduler API. If empty, UTC time is assumed.",
          "type": "string"
        },
        "nextJobTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the next Scheduler job is going to run."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatapipelinesV1RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. The key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional experiment flags for the job."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "numWorkers": {
          "description": "The initial number of Compute Engine instances for the job.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkers": {
          "format": "int32",
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDatapipelinesV1RuntimeEnvironment"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "title": "Data pipelines API",
  "rootUrl": "https://datapipelines.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "pipelines": {
              "resources": {
                "jobs": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit will be determined by the backend implementation."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListJobs` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                          "location": "path",
                          "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "datapipelines.projects.locations.pipelines.jobs.list",
                      "description": "Lists jobs for a given pipeline. Throws a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                      "path": "v1/{+parent}/jobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}/jobs",
                      "response": {
                        "$ref": "GoogleCloudDatapipelinesV1ListJobsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "Looks up a single pipeline. Returns a \"NOT_FOUND\" error if no such pipeline exists. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                  "id": "datapipelines.projects.locations.pipelines.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "stop": {
                  "id": "datapipelines.projects.locations.pipelines.stop",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:stop",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1StopPipelineRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:stop",
                  "description": "Freezes pipeline execution permanently. If there's a corresponding scheduler entry, it's deleted, and the pipeline state is changed to \"ARCHIVED\". However, pipeline metadata is retained."
                },
                "list": {
                  "path": "v1/{+parent}/pipelines",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "An expression for filtering the results of the request. If unspecified, all pipelines will be returned. Multiple filters can be applied and must be comma separated. Fields eligible for filtering are: + `type`: The type of the pipeline (streaming or batch). Allowed values are `ALL`, `BATCH`, and `STREAMING`. + `status`: The activity status of the pipeline. Allowed values are `ALL`, `ACTIVE`, `ARCHIVED`, and `PAUSED`. For example, to limit results to active batch processing pipelines: type:BATCH,status:ACTIVE",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListPipelines` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPipelines` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit is yet to be determined by the backend implementation.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
                  },
                  "id": "datapipelines.projects.locations.pipelines.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists pipelines. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it."
                },
                "create": {
                  "description": "Creates a pipeline. For a batch pipeline, you can pass scheduler information. Data Pipelines uses the scheduler information to create an internal scheduler that runs jobs periodically. If the internal scheduler is not configured, you can use RunPipeline to run jobs.",
                  "path": "v1/{+parent}/pipelines",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "id": "datapipelines.projects.locations.pipelines.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`."
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  }
                },
                "run": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:run",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineRequest"
                  },
                  "description": "Creates a job for the specified pipeline directly. You can use this method when the internal scheduler is not configured and you want to trigger the job directly or through an external system. Returns a \"NOT_FOUND\" error if the pipeline doesn't exist. Returns a \"FORBIDDEN\" error if the user doesn't have permission to access the pipeline or run jobs for the pipeline.",
                  "id": "datapipelines.projects.locations.pipelines.run",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:run"
                },
                "patch": {
                  "id": "datapipelines.projects.locations.pipelines.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location.",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a pipeline. If successful, the updated Pipeline is returned. Returns `NOT_FOUND` if the pipeline doesn't exist. If UpdatePipeline does not return successfully, you can retry the UpdatePipeline request until you receive a successful response.",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}"
                },
                "delete": {
                  "id": "datapipelines.projects.locations.pipelines.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "description": "Deletes a pipeline. If a scheduler job is attached to the pipeline, it will be deleted.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://datapipelines.mtls.googleapis.com/",
  "name": "datapipelines",
  "version_module": true,
  "revision": "20260920",
  "canonicalName": "Datapipelines",
  "servicePath": "",
  "id": "datapipelines:v1",
  "description": "Data Pipelines provides an interface for creating, updating, and managing recurring Data Analytics jobs.",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1"
}