{
  "servicePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://datamanager.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260904",
  "baseUrl": "https://datamanager.googleapis.com/",
  "schemas": {
    "AudienceMember": {
      "properties": {
        "userData": {
          "$ref": "UserData"
        },
        "userIdData": {
          "$ref": "UserIdData"
        },
        "consent": {
          "$ref": "Consent"
        },
        "googleUserIdData": {
          "$ref": "GoogleUserIdData"
        },
        "ppidData": {
          "$ref": "PpidData"
        },
        "partnerProvidedIdData": {
          "$ref": "PartnerProvidedIdData"
        },
        "mobileData": {
          "$ref": "MobileData"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "compositeData": {
          "$ref": "CompositeData"
        },
        "pairData": {
          "$ref": "PairData"
        }
      },
      "id": "AudienceMember",
      "type": "object"
    },
    "Consent": {
      "type": "object",
      "properties": {
        "adUserData": {
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "adPersonalization": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        }
      },
      "id": "Consent"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "RemoveAllAudienceMembersStatus": {
      "properties": {},
      "type": "object",
      "id": "RemoveAllAudienceMembersStatus"
    },
    "RemoveUserIdDataStatus": {
      "id": "RemoveUserIdDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64"
        },
        "userIdCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemoveUserDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "userIdentifierCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemoveUserDataStatus"
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "baseline": {
          "$ref": "Baseline"
        },
        "userListId": {
          "type": "string"
        }
      },
      "id": "RetrieveInsightsRequest"
    },
    "TargetNetworkInfo": {
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "readOnly": true,
          "type": "boolean"
        },
        "eligibleForSearch": {
          "type": "boolean"
        }
      },
      "id": "TargetNetworkInfo"
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "errorCounts": {
          "items": {
            "$ref": "ErrorCount"
          },
          "type": "array"
        }
      },
      "id": "ErrorInfo"
    },
    "IngestUserIdDataStatus": {
      "id": "IngestUserIdDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "userIdCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemovePartnerProvidedIdDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "partnerProvidedIdCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemovePartnerProvidedIdDataStatus"
    },
    "RemovePpidDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "RemovePpidDataStatus"
    },
    "RemoveAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array"
        },
        "validateOnly": {
          "type": "boolean"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "RemoveAudienceMembersRequest"
    },
    "ItemParameter": {
      "id": "ItemParameter",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "parameterName": {
          "type": "string"
        }
      }
    },
    "RequestStatusPerDestination": {
      "type": "object",
      "id": "RequestStatusPerDestination",
      "properties": {
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus"
        },
        "requestStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        },
        "audienceMembersRemovalStatus": {
          "$ref": "RemoveAudienceMembersStatus"
        },
        "removeAllAudienceMembersStatus": {
          "$ref": "RemoveAllAudienceMembersStatus"
        },
        "errorInfo": {
          "$ref": "ErrorInfo"
        },
        "destination": {
          "$ref": "Destination"
        },
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus"
        },
        "warningInfo": {
          "$ref": "WarningInfo"
        }
      }
    },
    "CompositeData": {
      "id": "CompositeData",
      "properties": {
        "ipData": {
          "type": "array",
          "items": {
            "$ref": "IpData"
          }
        },
        "userData": {
          "$ref": "UserData"
        }
      },
      "type": "object"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "type": "object",
      "properties": {
        "userListDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "clientAccountType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "historicalPricings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "name": {
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "licenseType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        }
      }
    },
    "WarningCount": {
      "type": "object",
      "id": "WarningCount",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        }
      }
    },
    "IngestEventsRequest": {
      "id": "IngestEventsRequest",
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "consent": {
          "$ref": "Consent"
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "validateOnly": {
          "type": "boolean"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "type": "object"
    },
    "TermsOfService": {
      "type": "object",
      "id": "TermsOfService",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ]
        }
      }
    },
    "UserProperty": {
      "id": "UserProperty",
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "AwsWrappedKeyInfo": {
      "type": "object",
      "id": "AwsWrappedKeyInfo",
      "properties": {
        "roleArn": {
          "type": "string"
        },
        "encryptedDek": {
          "type": "string"
        },
        "kekUri": {
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "type": "string"
        }
      }
    },
    "FieldWarning": {
      "properties": {
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "WARNING_REASON_UNSPECIFIED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "WARNING_REASON_CUSTOM_VARIABLE_NOT_PREDEFINED",
            "WARNING_REASON_CART_DATA_NOT_SUPPORTED_WITH_GBRAID_OR_WBRAID",
            "WARNING_REASON_CART_DATA_ITEM_MERCHANT_PRODUCT_ID_MISSING",
            "WARNING_REASON_CART_DATA_ITEM_UNIT_PRICE_MISSING",
            "WARNING_REASON_GENERIC",
            "WARNING_REASON_INVALID_CLIENT_ID",
            "WARNING_REASON_INVALID_SUBDIVISION_CODE",
            "WARNING_REASON_INVALID_REGION_CODE",
            "WARNING_REASON_INVALID_SUBCONTINENT_CODE",
            "WARNING_REASON_INVALID_CONTINENT_CODE",
            "WARNING_REASON_INVALID_DEVICE_CATEGORY",
            "WARNING_REASON_INVALID_DEVICE_SCREEN_RESOLUTION",
            "WARNING_REASON_INVALID_MERCHANT_ID"
          ]
        },
        "field": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "FieldWarning",
      "type": "object"
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "type": "object",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "RemoveGoogleUserIdDataStatus": {
      "type": "object",
      "properties": {
        "googleUserIdCount": {
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemoveGoogleUserIdDataStatus"
    },
    "Item": {
      "type": "object",
      "id": "Item",
      "properties": {
        "quantity": {
          "type": "string",
          "format": "int64"
        },
        "merchantId": {
          "type": "string"
        },
        "merchantFeedLabel": {
          "type": "string"
        },
        "itemId": {
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "type": "string"
        },
        "conversionValue": {
          "type": "number",
          "format": "double"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "ItemCustomVariable"
          }
        },
        "unitPrice": {
          "type": "number",
          "format": "double"
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "type": "array"
        },
        "merchantProductId": {
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "type": "object",
      "id": "IngestAudienceMembersResponse",
      "properties": {
        "requestId": {
          "type": "string"
        },
        "fieldWarnings": {
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      }
    },
    "RemoveAllAudienceMembersResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        }
      },
      "id": "RemoveAllAudienceMembersResponse"
    },
    "PairData": {
      "id": "PairData",
      "properties": {
        "pairIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "EventParameter": {
      "id": "EventParameter",
      "properties": {
        "value": {
          "type": "string"
        },
        "parameterName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveAllAudienceMembersRequest": {
      "id": "RemoveAllAudienceMembersRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean"
        },
        "removeAsOfTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      }
    },
    "UserListGlobalLicense": {
      "properties": {
        "historicalPricings": {
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true,
          "type": "array"
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "userListId": {
          "format": "int64",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "pricing": {
          "$ref": "UserListLicensePricing"
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "UserListGlobalLicense",
      "type": "object"
    },
    "ContactIdInfo": {
      "type": "object",
      "properties": {
        "dataSourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "matchRatePercentage": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ContactIdInfo"
    },
    "PartnerLink": {
      "id": "PartnerLink",
      "type": "object",
      "properties": {
        "partnerLinkId": {
          "readOnly": true,
          "type": "string"
        },
        "featureSet": {
          "type": "string",
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "partnerLinkMetadata": {
          "$ref": "PartnerLinkMetadata"
        },
        "partnerAccount": {
          "$ref": "ProductAccount"
        },
        "partnerCustomerAccount": {
          "$ref": "PartnerCustomerAccount"
        },
        "owningAccount": {
          "$ref": "ProductAccount"
        }
      }
    },
    "IngestUserDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "userIdentifierCount": {
          "type": "string",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "IngestUserDataStatus",
      "type": "object"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "awsWrappedKeyInfo": {
          "$ref": "AwsWrappedKeyInfo"
        },
        "gcpWrappedKeyInfo": {
          "$ref": "GcpWrappedKeyInfo"
        },
        "coordinatorKeyInfo": {
          "$ref": "CoordinatorKeyInfo"
        }
      }
    },
    "PpidData": {
      "id": "PpidData",
      "type": "object",
      "properties": {
        "ppids": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserListDirectLicense": {
      "type": "object",
      "id": "UserListDirectLicense",
      "properties": {
        "pricing": {
          "$ref": "UserListLicensePricing"
        },
        "name": {
          "type": "string"
        },
        "clientAccountId": {
          "format": "int64",
          "type": "string"
        },
        "userListDisplayName": {
          "readOnly": true,
          "type": "string"
        },
        "userListId": {
          "format": "int64",
          "type": "string"
        },
        "clientAccountType": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "historicalPricings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "clientAccountDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "metrics": {
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "AdEvent": {
      "id": "AdEvent",
      "properties": {
        "eventSubtype": {
          "type": "string",
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "adFormatString": {
          "type": "string"
        },
        "ipAddress": {
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "type": "string"
        },
        "platformString": {
          "type": "string"
        },
        "adTypeString": {
          "type": "string"
        },
        "adPlacement": {
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attributionHint": {
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "deviceInfo": {
          "$ref": "DeviceInfo"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ]
        },
        "targetingType": {
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        },
        "adHeight": {
          "format": "int32",
          "type": "integer"
        },
        "source": {
          "type": "string"
        },
        "adId": {
          "type": "string"
        },
        "advertiserId": {
          "type": "string"
        },
        "targetingTypeString": {
          "type": "string"
        },
        "adPlacementString": {
          "type": "string"
        },
        "measurementAllowed": {
          "type": "boolean"
        },
        "userData": {
          "$ref": "UserData"
        },
        "adWidth": {
          "type": "integer",
          "format": "int32"
        },
        "campaignId": {
          "type": "string"
        },
        "eventId": {
          "type": "string"
        },
        "campaignName": {
          "type": "string"
        },
        "platformTypeString": {
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ],
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "adFormat": {
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "viewabilityInfo": {
          "$ref": "ViewabilityInfo"
        },
        "mobileDeviceId": {
          "type": "string"
        },
        "adGroupId": {
          "type": "string"
        },
        "eventSubtypeString": {
          "type": "string"
        },
        "adType": {
          "type": "string",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "medium": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PseudonymousIdInfo": {
      "properties": {
        "billableRecordCount": {
          "type": "string",
          "format": "int64"
        },
        "syncStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "readOnly": true
        }
      },
      "id": "PseudonymousIdInfo",
      "type": "object"
    },
    "ExperimentalField": {
      "type": "object",
      "id": "ExperimentalField",
      "properties": {
        "value": {
          "type": "string"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "IngestMobileDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "mobileIdCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "IngestMobileDataStatus"
    },
    "RetrieveRequestStatusResponse": {
      "properties": {
        "requestStatusPerDestination": {
          "type": "array",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      },
      "id": "RetrieveRequestStatusResponse",
      "type": "object"
    },
    "IngestCompositeDataStatus": {
      "id": "IngestCompositeDataStatus",
      "type": "object",
      "properties": {
        "dataTypeCounts": {
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        },
        "uploadMatchRateRange": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        },
        "recordCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "WarningInfo": {
      "type": "object",
      "properties": {
        "warningCounts": {
          "items": {
            "$ref": "WarningCount"
          },
          "type": "array"
        }
      },
      "id": "WarningInfo"
    },
    "UserListLicensePricing": {
      "type": "object",
      "id": "UserListLicensePricing",
      "properties": {
        "pricingActive": {
          "type": "boolean",
          "readOnly": true
        },
        "maxCostMicros": {
          "type": "string",
          "format": "int64"
        },
        "costMicros": {
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "pricingId": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "costType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "type": "string"
        },
        "currencyCode": {
          "type": "string"
        },
        "buyerApprovalState": {
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PartnerCustomerAccount": {
      "id": "PartnerCustomerAccount",
      "properties": {
        "accountId": {
          "type": "string"
        },
        "accountName": {
          "type": "string"
        },
        "accountType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductAccount": {
      "properties": {
        "accountType": {
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG",
            "GOOGLE_AD_MANAGER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "accountId": {
          "type": "string"
        },
        "product": {
          "type": "string",
          "deprecated": true,
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ProductAccount",
      "type": "object"
    },
    "MarketingDataInsightsAttribute": {
      "id": "MarketingDataInsightsAttribute",
      "properties": {
        "lift": {
          "type": "number",
          "format": "float"
        },
        "ageRange": {
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gender": {
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "userInterestId": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveMobileDataStatus": {
      "id": "RemoveMobileDataStatus",
      "properties": {
        "mobileIdCount": {
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "MobileIdInfo": {
      "type": "object",
      "properties": {
        "keySpace": {
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataSourceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "appId": {
          "type": "string"
        }
      },
      "id": "MobileIdInfo"
    },
    "EventLocation": {
      "id": "EventLocation",
      "type": "object",
      "properties": {
        "storeId": {
          "type": "string"
        },
        "continentCode": {
          "type": "string"
        },
        "subdivisionCode": {
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "subcontinentCode": {
          "type": "string"
        }
      }
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "loginAccount": {
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        }
      }
    },
    "ListUserListGlobalLicensesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "userListGlobalLicenses": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicense"
          }
        }
      },
      "type": "object",
      "id": "ListUserListGlobalLicensesResponse"
    },
    "RemovePairDataStatus": {
      "type": "object",
      "properties": {
        "pairIdCount": {
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemovePairDataStatus"
    },
    "DataTypeCount": {
      "properties": {
        "count": {
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "PHONE_NUMBER",
            "ADDRESS",
            "IP_ADDRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "DataTypeCount"
    },
    "PartnerProvidedIdData": {
      "type": "object",
      "id": "PartnerProvidedIdData",
      "properties": {
        "partnerProvidedIds": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "MobileData": {
      "properties": {
        "mobileIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "MobileData"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "AddressInfo": {
      "properties": {
        "regionCode": {
          "type": "string"
        },
        "givenName": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "familyName": {
          "type": "string"
        },
        "administrativeArea": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "addressLine": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AddressInfo"
    },
    "IngestAudienceMembersRequest": {
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "consent": {
          "$ref": "Consent"
        },
        "validateOnly": {
          "type": "boolean"
        },
        "audienceMembers": {
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "termsOfService": {
          "$ref": "TermsOfService"
        }
      },
      "type": "object",
      "id": "IngestAudienceMembersRequest"
    },
    "ViewabilityInfo": {
      "properties": {
        "viewableDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "playbackDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "viewType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "type": "string"
        },
        "mediaVolumePercent": {
          "type": "integer",
          "format": "int32"
        },
        "mediaSkippable": {
          "type": "boolean"
        },
        "mediaDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "viewablePercent": {
          "format": "int32",
          "type": "integer"
        },
        "mediaQuartile": {
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ViewabilityInfo",
      "type": "object"
    },
    "IngestedUserListInfo": {
      "properties": {
        "pseudonymousIdInfo": {
          "$ref": "PseudonymousIdInfo"
        },
        "userIdInfo": {
          "$ref": "UserIdInfo"
        },
        "contactIdInfo": {
          "$ref": "ContactIdInfo"
        },
        "partnerAudienceInfo": {
          "$ref": "PartnerAudienceInfo"
        },
        "uploadKeyTypes": {
          "items": {
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "pairIdInfo": {
          "$ref": "PairIdInfo"
        },
        "mobileIdInfo": {
          "$ref": "MobileIdInfo"
        }
      },
      "type": "object",
      "id": "IngestedUserListInfo"
    },
    "RemoveAudienceMembersStatus": {
      "id": "RemoveAudienceMembersStatus",
      "type": "object",
      "properties": {
        "googleUserIdDataRemovalStatus": {
          "$ref": "RemoveGoogleUserIdDataStatus"
        },
        "userDataRemovalStatus": {
          "$ref": "RemoveUserDataStatus"
        },
        "pairDataRemovalStatus": {
          "$ref": "RemovePairDataStatus"
        },
        "partnerProvidedIdDataRemovalStatus": {
          "$ref": "RemovePartnerProvidedIdDataStatus"
        },
        "mobileDataRemovalStatus": {
          "$ref": "RemoveMobileDataStatus"
        },
        "compositeDataRemovalStatus": {
          "$ref": "RemoveCompositeDataStatus"
        },
        "ppidDataRemovalStatus": {
          "$ref": "RemovePpidDataStatus"
        },
        "userIdDataRemovalStatus": {
          "$ref": "RemoveUserIdDataStatus"
        }
      }
    },
    "ListUserListDirectLicensesResponse": {
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "items": {
            "$ref": "UserListDirectLicense"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "ListUserListDirectLicensesResponse"
    },
    "RetrieveInsightsResponse": {
      "type": "object",
      "id": "RetrieveInsightsResponse",
      "properties": {
        "marketingDataInsights": {
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          }
        }
      }
    },
    "UserIdentifier": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "emailAddress": {
          "type": "string"
        },
        "address": {
          "$ref": "AddressInfo"
        }
      },
      "id": "UserIdentifier"
    },
    "CartData": {
      "id": "CartData",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        },
        "transactionDiscount": {
          "format": "double",
          "type": "number"
        },
        "merchantFeedLanguageCode": {
          "type": "string"
        },
        "merchantId": {
          "type": "string"
        },
        "couponCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "merchantFeedLabel": {
          "type": "string"
        }
      }
    },
    "UserList": {
      "properties": {
        "description": {
          "type": "string"
        },
        "ingestedUserListInfo": {
          "$ref": "IngestedUserListInfo"
        },
        "accessReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "membershipStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ]
        },
        "targetNetworkInfo": {
          "$ref": "TargetNetworkInfo"
        },
        "readOnly": {
          "readOnly": true,
          "type": "boolean"
        },
        "membershipDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "accountAccessStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "sizeInfo": {
          "$ref": "SizeInfo",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "integrationCode": {
          "type": "string"
        },
        "closingReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ]
        }
      },
      "type": "object",
      "id": "UserList"
    },
    "PartnerLinkMetadata": {
      "type": "object",
      "id": "PartnerLinkMetadata",
      "properties": {
        "implicitAccounts": {
          "items": {
            "$ref": "PartnerCustomerAccount"
          },
          "type": "array"
        }
      }
    },
    "IngestPartnerProvidedIdDataStatus": {
      "properties": {
        "partnerProvidedIdCount": {
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IngestPartnerProvidedIdDataStatus"
    },
    "CustomVariable": {
      "properties": {
        "destinationReferences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variable": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "CustomVariable",
      "type": "object"
    },
    "AdIdentifiers": {
      "properties": {
        "dclid": {
          "type": "string"
        },
        "wbraid": {
          "type": "string"
        },
        "matchId": {
          "type": "string"
        },
        "gclid": {
          "type": "string"
        },
        "ppid": {
          "type": "string"
        },
        "impressionId": {
          "type": "string"
        },
        "landingPageDeviceInfo": {
          "$ref": "DeviceInfo"
        },
        "gbraid": {
          "type": "string"
        },
        "sessionAttributes": {
          "type": "string"
        },
        "mobileDeviceId": {
          "type": "string"
        },
        "visitorPpid": {
          "type": "string"
        },
        "encryptedUserIds": {
          "items": {
            "$ref": "EncryptedUserId"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AdIdentifiers"
    },
    "IngestPairDataStatus": {
      "type": "object",
      "id": "IngestPairDataStatus",
      "properties": {
        "pairIdCount": {
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SizeInfo": {
      "properties": {
        "youtubeMembersCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "displayNetworkMembersCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "searchNetworkMembersCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "gmailMembersCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "SizeInfo"
    },
    "UserListLicenseMetrics": {
      "properties": {
        "startDate": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "clickCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "endDate": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "revenueUsdMicros": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "impressionCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "UserListLicenseMetrics"
    },
    "UserProperties": {
      "type": "object",
      "id": "UserProperties",
      "properties": {
        "customerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ]
        },
        "customerValueBucket": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        },
        "additionalUserProperties": {
          "type": "array",
          "items": {
            "$ref": "UserProperty"
          }
        }
      }
    },
    "PairIdInfo": {
      "type": "object",
      "id": "PairIdInfo",
      "properties": {
        "publisherName": {
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "type": "string",
          "format": "int64"
        },
        "publisherId": {
          "type": "string",
          "format": "int64"
        },
        "matchRatePercentage": {
          "format": "int32",
          "type": "integer"
        },
        "cleanRoomIdentifier": {
          "type": "string"
        }
      }
    },
    "UserIdInfo": {
      "properties": {
        "dataSourceType": {
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "UserIdInfo"
    },
    "IngestEventsStatus": {
      "type": "object",
      "id": "IngestEventsStatus",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "EncryptedUserId": {
      "id": "EncryptedUserId",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNSPECIFIED",
            "CAMPAIGN_MANAGER_ACCOUNT",
            "CAMPAIGN_MANAGER_ADVERTISER",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "GOOGLE_ADS_CUSTOMER",
            "GOOGLE_AD_MANAGER_NETWORK_CODE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "entityId": {
          "type": "string",
          "format": "int64"
        },
        "encryptedId": {
          "type": "string"
        },
        "source": {
          "enum": [
            "ENCRYPTION_SOURCE_UNSPECIFIED",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "IngestAdEventsRequest": {
      "properties": {
        "adEvents": {
          "items": {
            "$ref": "AdEvent"
          },
          "type": "array"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo"
        },
        "validateOnly": {
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "IngestAdEventsRequest"
    },
    "IpData": {
      "id": "IpData",
      "type": "object",
      "properties": {
        "observeEndTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "ipAddress": {
          "type": "string"
        },
        "observeStartTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IngestPpidDataStatus": {
      "type": "object",
      "id": "IngestPpidDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PartnerAudienceInfo": {
      "properties": {
        "commercePartner": {
          "type": "string"
        },
        "partnerAudienceSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ]
        }
      },
      "type": "object",
      "id": "PartnerAudienceInfo"
    },
    "RemoveCompositeDataStatus": {
      "type": "object",
      "properties": {
        "dataTypeCounts": {
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          }
        },
        "recordCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemoveCompositeDataStatus"
    },
    "ListUserListsResponse": {
      "id": "ListUserListsResponse",
      "type": "object",
      "properties": {
        "userLists": {
          "items": {
            "$ref": "UserList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "UserData": {
      "id": "UserData",
      "properties": {
        "userIdentifiers": {
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CoordinatorKeyInfo": {
      "id": "CoordinatorKeyInfo",
      "type": "object",
      "properties": {
        "keyId": {
          "type": "string"
        }
      }
    },
    "MarketingDataInsight": {
      "properties": {
        "dimension": {
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "attributes": {
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "MarketingDataInsight"
    },
    "IngestAdEventsResponse": {
      "properties": {},
      "id": "IngestAdEventsResponse",
      "type": "object"
    },
    "IngestEventsResponse": {
      "properties": {
        "requestId": {
          "type": "string"
        },
        "fieldWarnings": {
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      },
      "type": "object",
      "id": "IngestEventsResponse"
    },
    "Event": {
      "properties": {
        "userProperties": {
          "$ref": "UserProperties"
        },
        "consent": {
          "$ref": "Consent"
        },
        "cartData": {
          "$ref": "CartData"
        },
        "thirdPartyUserData": {
          "$ref": "UserData"
        },
        "userId": {
          "type": "string"
        },
        "adIdentifiers": {
          "$ref": "AdIdentifiers"
        },
        "clientId": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "appInstanceId": {
          "type": "string"
        },
        "eventDeviceInfo": {
          "$ref": "DeviceInfo"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventSource": {
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "userData": {
          "$ref": "UserData"
        },
        "lastUpdatedTimestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversionCount": {
          "format": "double",
          "type": "number"
        },
        "experimentalFields": {
          "items": {
            "$ref": "ExperimentalField"
          },
          "type": "array"
        },
        "currency": {
          "type": "string"
        },
        "additionalEventParameters": {
          "type": "array",
          "items": {
            "$ref": "EventParameter"
          }
        },
        "conversionValue": {
          "type": "number",
          "format": "double"
        },
        "eventLocation": {
          "$ref": "EventLocation"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "transactionId": {
          "type": "string"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "GcpWrappedKeyInfo": {
      "id": "GcpWrappedKeyInfo",
      "type": "object",
      "properties": {
        "kekUri": {
          "type": "string"
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "encryptedDek": {
          "type": "string"
        },
        "wipProvider": {
          "type": "string"
        }
      }
    },
    "GoogleUserIdData": {
      "properties": {
        "googleUserIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleUserIdData",
      "type": "object"
    },
    "DeviceInfo": {
      "properties": {
        "screenWidth": {
          "format": "int32",
          "type": "integer"
        },
        "browser": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "operatingSystem": {
          "type": "string"
        },
        "screenHeight": {
          "format": "int32",
          "type": "integer"
        },
        "operatingSystemVersion": {
          "type": "string"
        },
        "ipAddress": {
          "type": "string"
        },
        "brand": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "browserVersion": {
          "type": "string"
        },
        "category": {
          "type": "string"
        }
      },
      "id": "DeviceInfo",
      "type": "object"
    },
    "Baseline": {
      "id": "Baseline",
      "type": "object",
      "properties": {
        "locationAutoDetectionEnabled": {
          "type": "boolean"
        },
        "baselineLocation": {
          "$ref": "Location"
        }
      }
    },
    "ErrorCount": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER",
            "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID",
            "PROCESSING_ERROR_REASON_MATCH_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_MATCH_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_GCLID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_DCLID",
            "PROCESSING_ERROR_REASON_INVALID_AD_IDENTIFIERS",
            "PROCESSING_ERROR_REASON_INVALID_MOBILE_ID_FORMAT",
            "PROCESSING_ERROR_REASON_ORIGINAL_CONVERSIONS_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EVENT_ID_DECODE_ERROR",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND_FOR_IMPRESSION_ID",
            "PROCESSING_ERROR_REASON_USER_ID_NOT_FOUND",
            "PROCESSING_ERROR_REASON_CONVERSION_PRECEDES_CLICK",
            "PROCESSING_ERROR_REASON_TOO_RECENT_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_CLICK",
            "PROCESSING_ERROR_REASON_INVALID_OPERATING_ACCOUNT_FOR_CLICK",
            "PROCESSING_ERROR_REASON_CLICK_NOT_FOUND",
            "PROCESSING_ERROR_REASON_EXTERNAL_ATTRIBUTION_DATA_MISSING"
          ]
        },
        "recordCount": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ErrorCount"
    },
    "IngestAudienceMembersStatus": {
      "type": "object",
      "properties": {
        "userIdDataIngestionStatus": {
          "$ref": "IngestUserIdDataStatus"
        },
        "pairDataIngestionStatus": {
          "$ref": "IngestPairDataStatus"
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus"
        },
        "compositeDataIngestionStatus": {
          "$ref": "IngestCompositeDataStatus"
        },
        "partnerProvidedIdDataIngestionStatus": {
          "$ref": "IngestPartnerProvidedIdDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "$ref": "IngestGoogleUserIdDataStatus"
        },
        "userDataIngestionStatus": {
          "$ref": "IngestUserDataStatus"
        },
        "ppidDataIngestionStatus": {
          "$ref": "IngestPpidDataStatus"
        }
      },
      "id": "IngestAudienceMembersStatus"
    },
    "ItemCustomVariable": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "destinationReferences": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variable": {
          "type": "string"
        }
      },
      "id": "ItemCustomVariable"
    },
    "UserIdData": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string"
        }
      },
      "id": "UserIdData"
    },
    "SearchPartnerLinksResponse": {
      "type": "object",
      "id": "SearchPartnerLinksResponse",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "IngestGoogleUserIdDataStatus": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string"
        },
        "googleUserIdCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IngestGoogleUserIdDataStatus",
      "type": "object"
    },
    "RemoveAudienceMembersResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string"
        }
      },
      "id": "RemoveAudienceMembersResponse"
    }
  },
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "version": "v1",
  "id": "datamanager:v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Data Manager",
  "documentationLink": "https://developers.google.com/data-manager",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        },
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        }
      }
    }
  },
  "basePath": "",
  "name": "datamanager",
  "resources": {
    "events": {
      "methods": {
        "ingest": {
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "flatPath": "v1/events:ingest",
          "id": "datamanager.events.ingest",
          "parameters": {},
          "description": "",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "path": "v1/events:ingest",
          "httpMethod": "POST"
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "flatPath": "v1/requestStatus:retrieve",
          "description": "",
          "path": "v1/requestStatus:retrieve",
          "id": "datamanager.requestStatus.retrieve",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "adEvents": {
      "methods": {
        "ingest": {
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "path": "v1/adEvents:ingest",
          "id": "datamanager.adEvents.ingest",
          "description": "",
          "response": {
            "$ref": "IngestAdEventsResponse"
          },
          "flatPath": "v1/adEvents:ingest",
          "request": {
            "$ref": "IngestAdEventsRequest"
          },
          "httpMethod": "POST"
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userLists": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/userLists",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "response": {
                    "$ref": "ListUserListsResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserList"
                  },
                  "description": "",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "response": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "UserList"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/userLists",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserList"
                  },
                  "request": {
                    "$ref": "UserList"
                  }
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "description": "",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/userListGlobalLicenses"
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "description": "",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "httpMethod": "GET",
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list"
                    }
                  }
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "path": "v1/{+parent}/partnerLinks"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "path": "v1/{+name}",
                  "description": "",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "path": "v1/{+parent}/partnerLinks:search",
                  "description": "",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search"
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "description": "",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    }
                  }
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "description": ""
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "path": "v1/{+parent}/userListDirectLicenses"
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/insights:retrieve",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "description": "",
                  "parameters": {
[...]
