{
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "description": "Service to develop, version control, and operationalize SQL pipelines in BigQuery.",
  "revision": "20260906",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "baseUrl": "https://dataform.googleapis.com/",
  "version_module": true,
  "title": "Dataform API",
  "id": "dataform:v1beta1",
  "schemas": {
    "CommitAuthor": {
      "type": "object",
      "description": "Represents the author of a Git commit.",
      "id": "CommitAuthor",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      }
    },
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "properties": {},
      "type": "object",
      "description": "Simple load definition"
    },
    "RemoveDirectoryResponse": {
      "id": "RemoveDirectoryResponse",
      "type": "object",
      "properties": {},
      "description": "`RemoveDirectory` response message."
    },
    "ScheduledExecutionRecord": {
      "id": "ScheduledExecutionRecord",
      "type": "object",
      "properties": {
        "executionTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of this execution attempt."
        },
        "workflowInvocation": {
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`.",
          "type": "string"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      },
      "description": "A record of an attempt to create a workflow invocation for this workflow config."
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "type": "object",
      "id": "MakeDirectoryResponse",
      "properties": {}
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "type": "object",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      },
      "id": "CommitMetadata"
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "properties": {
        "workflowInvocations": {
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`ListWorkflowInvocations` response message.",
      "type": "object"
    },
    "ReleaseConfig": {
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig",
      "properties": {
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        },
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        }
      },
      "type": "object"
    },
    "QueryTeamFolderContentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "description": "List of entries in the TeamFolder.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderContentsEntry"
          }
        }
      },
      "type": "object",
      "description": "`QueryTeamFolderContents` response message.",
      "id": "QueryTeamFolderContentsResponse"
    },
    "SyncWorkspaceRefsResponse": {
      "properties": {},
      "id": "SyncWorkspaceRefsResponse",
      "type": "object",
      "description": "`SyncWorkspaceRefs` response message."
    },
    "QueryFolderContentsResponse": {
      "description": "`QueryFolderContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "items": {
            "$ref": "FolderContentsEntry"
          },
          "description": "List of entries in the folder.",
          "type": "array"
        }
      },
      "id": "QueryFolderContentsResponse"
    },
    "OAuthConfig": {
      "type": "object",
      "description": "OAuth configuration for end user authentication.",
      "properties": {
        "additionalOauthScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional OAuth scopes to use for BigQuery executions. Scopes always in use: `https://www.googleapis.com/auth/bigquery`"
        }
      },
      "id": "OAuthConfig"
    },
    "ErrorTable": {
      "id": "ErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table.",
      "type": "object",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "format": "int32"
        },
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        }
      }
    },
    "SshAuthenticationConfig": {
      "properties": {
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "hostPublicKey": {
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host.",
          "type": "string"
        }
      },
      "id": "SshAuthenticationConfig",
      "type": "object",
      "description": "Configures fields for performing SSH authentication."
    },
    "RelationDescriptor": {
      "description": "Describes a relation and its columns.",
      "id": "RelationDescriptor",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ColumnDescriptor"
          },
          "description": "A list of descriptions of columns within the relation."
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        },
        "bigqueryLabels": {
          "description": "A set of BigQuery labels that should be applied to the relation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "cancelRequested": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "DeleteRepositoryLongRunningRequest": {
      "description": "`DeleteRepositoryLongRunning` request message.",
      "type": "object",
      "id": "DeleteRepositoryLongRunningRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "properties": {
        "contents": {
          "type": "string",
          "description": "The file's contents.",
          "format": "byte"
        }
      },
      "id": "ReadRepositoryFileResponse",
      "description": "`ReadRepositoryFile` response message.",
      "type": "object"
    },
    "PushGitCommitsResponse": {
      "description": "`PushGitCommits` response message.",
      "type": "object",
      "properties": {},
      "id": "PushGitCommitsResponse"
    },
    "ListCompilationResultsResponse": {
      "id": "ListCompilationResultsResponse",
      "type": "object",
      "description": "`ListCompilationResults` response message.",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "compilationResults": {
          "type": "array",
          "description": "List of compilation results.",
          "items": {
            "$ref": "CompilationResult"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RemoveFileRequest": {
      "type": "object",
      "description": "`RemoveFile` request message.",
      "id": "RemoveFileRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      }
    },
    "ScheduledReleaseRecord": {
      "type": "object",
      "description": "A record of an attempt to create a compilation result for this release config.",
      "id": "ScheduledReleaseRecord",
      "properties": {
        "releaseTime": {
          "description": "Output only. The timestamp of this release attempt.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errorStatus": {
          "$ref": "Status",
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful."
        },
        "compilationResult": {
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      }
    },
    "RemoveDirectoryRequest": {
      "type": "object",
      "id": "RemoveDirectoryRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`RemoveDirectory` request message."
    },
    "TeamFolder": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "readOnly": true,
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The TeamFolder's user-friendly name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The TeamFolder's name."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        }
      },
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "id": "TeamFolder"
    },
    "QueryWorkflowInvocationActionsResponse": {
      "description": "`QueryWorkflowInvocationActions` response message.",
      "type": "object",
      "properties": {
        "workflowInvocationActions": {
          "type": "array",
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "description": "List of workflow invocation actions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "QueryWorkflowInvocationActionsResponse"
    },
    "QueryDirectoryContentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "directoryEntries": {
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory."
        }
      },
      "id": "QueryDirectoryContentsResponse",
      "type": "object",
      "description": "`QueryDirectoryContents` response message."
    },
    "Workspace": {
      "description": "Represents a Dataform Git workspace.",
      "type": "object",
      "id": "Workspace",
      "properties": {
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dataEncryptionState": {
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "enableBranchManagement": {
          "description": "Immutable. Controls the enablement of branch checkout for the workspace. When set to True, the workspace will be allowed to checkout branches.",
          "type": "boolean"
        },
        "originalBranch": {
          "type": "string",
          "description": "Optional. Input only. Immutable. The name of the default upstream branch for all pull/push operations in the remote repository for this workspace. If empty, the HEAD branch from repository will be used."
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "shallow": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, the workspace was created as a shallow clone. Will be set to true if the depth field is set to a value greater than 0, otherwise it will be set to false."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workspace's name."
        },
        "depth": {
          "format": "int32",
          "description": "Optional. Input only. Immutable. The maximum depth of the Git repository to checkout for this workspace. If defined and greater than 0, the Git repository will be created as a shallow clone with the given depth, otherwise a full clone will be performed. This field is available only for GitHub, GitLab and 1p repositories with enabled branch management.",
          "type": "integer"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`.",
          "readOnly": true
        }
      }
    },
    "IncrementalLoadMode": {
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Load definition for incremental load modes",
      "id": "IncrementalLoadMode"
    },
    "SearchTeamFoldersResponse": {
      "description": "`SearchTeamFolders` response message.",
      "type": "object",
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "description": "List of TeamFolders that match the search query.",
          "type": "array"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "properties": {
        "tokenStatus": {
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "type": "string",
          "description": "Indicates the status of the Git access token."
        }
      },
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "type": "object"
    },
    "TableUpdateTrigger": {
      "type": "object",
      "id": "TableUpdateTrigger",
      "description": "Represents a table update trigger configuration.",
      "properties": {
        "table": {
          "$ref": "Target",
          "description": "The target table to trigger the workflow."
        },
        "triggerUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The modification time of this table that resulted in an invocation of the workflow. This would be updated by the triggering service after a successful workflow invocation.",
          "format": "google-datetime"
        }
      }
    },
    "MakeDirectoryRequest": {
      "description": "`MakeDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MakeDirectoryRequest"
    },
    "PolicyName": {
      "id": "PolicyName",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment."
        },
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names."
    },
    "IncrementalTableConfig": {
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "properties": {
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalPreOperations": {
          "description": "SQL statements to be executed before inserting new rows into the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "incrementalPostOperations": {
          "type": "array",
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          }
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        }
      },
      "id": "IncrementalTableConfig",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PipelineConfig": {
      "properties": {
        "pipelineType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "type": "string",
          "description": "Required. The type of the pipeline.",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ]
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located."
        }
      },
      "id": "PipelineConfig",
      "type": "object",
      "description": "Defines the pipeline type and path within the Git repository."
    },
    "Declaration": {
      "id": "Declaration",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      },
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "type": "object"
    },
    "CheckoutWorkspaceBranchRequest": {
      "properties": {
        "branch": {
          "description": "Required. The name of the branch in the Git repository to which the workspace should be checked out.",
          "type": "string"
        },
        "sourceBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git repository from which the new branch should be created. If left unset, the workspace's current branch name will be used. Accepts only branch names from FetchWorkspaceBranches response, and can only be set if `create_if_not_exists` is true. Oherwise, an error will be thrown."
        },
        "createIfNotExists": {
          "description": "Optional. If set to true and the branch does not exist, it will be created. Otherwise, an error will be thrown.",
          "type": "boolean"
        }
      },
      "description": "`CheckoutWorkspaceBranch` request message.",
      "type": "object",
      "id": "CheckoutWorkspaceBranchRequest"
    },
    "MoveFileResponse": {
      "description": "`MoveFile` response message.",
      "id": "MoveFileResponse",
      "type": "object",
      "properties": {}
    },
    "GcsRepositorySnapshotMetadata": {
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "properties": {
        "repositorySnapshotUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot."
        },
        "generation": {
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "crc32cChecksum": {
          "readOnly": true,
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GcsRepositorySnapshotMetadata"
    },
    "WorkflowConfig": {
      "type": "object",
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "properties": {
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "workflowTriggerConfig": {
          "$ref": "WorkflowTriggerConfig",
          "description": "Optional. Trigger configuration for this workflow. If present, the workflow will be triggered based on the specified triggers."
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was created."
        },
        "recentScheduledExecutionRecords": {
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule."
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workflow config's name."
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CodeCompilationConfig": {
      "description": "Configures various aspects of Dataform code compilation.",
      "id": "CodeCompilationConfig",
      "properties": {
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "vars": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "type": "object"
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        }
      },
      "type": "object"
    },
    "DataPreparationAction": {
      "id": "DataPreparationAction",
      "type": "object",
      "description": "Represents a workflow action that will run a Data Preparation.",
      "properties": {
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "ActionSqlDefinition"
        },
        "contentsYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        },
        "jobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run."
        },
        "generatedSql": {
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "type": "string"
        }
      }
    },
    "CommitWorkspaceChangesRequest": {
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "type": "array"
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "id": "CommitWorkspaceChangesRequest"
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "properties": {
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "queries": {
          "description": "A list of arbitrary SQL statements that will be executed without alteration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Operations",
      "type": "object"
    },
    "CancelWorkflowInvocationResponse": {
      "description": "`CancelWorkflowInvocation` response message.",
      "id": "CancelWorkflowInvocationResponse",
      "properties": {},
      "type": "object"
    },
    "TriggerEvaluationRecord": {
      "description": "A record of an attempt to evaluate trigger conditions.",
      "id": "TriggerEvaluationRecord",
      "properties": {
        "evaluationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of this trigger evaluation attempt.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the trigger evaluation. Success is indicated by a code of 0 (OK). Message will only be present if the status code is non-zero.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "WriteFileResponse": {
      "type": "object",
      "description": "`WriteFile` response message.",
      "id": "WriteFileResponse",
      "properties": {}
    },
    "Folder": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "teamFolderName": {
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "id": "Folder"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "FolderContentsEntry": {
      "type": "object",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        }
      },
      "description": "Represents a single content entry.",
      "id": "FolderContentsEntry"
    },
    "LoadConfig": {
      "type": "object",
      "id": "LoadConfig",
      "properties": {
        "maximum": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        },
        "append": {
          "$ref": "SimpleLoadMode",
          "description": "Append into destination table"
        },
        "unique": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        },
        "replace": {
          "$ref": "SimpleLoadMode",
          "description": "Replace destination table"
        }
      },
      "description": "Simplified load configuration for actions"
    },
    "EndUserAuthenticationConfig": {
      "type": "object",
      "properties": {
        "oauthConfig": {
          "description": "Optional. OAuth configuration for end user authentication.",
          "$ref": "OAuthConfig"
        },
        "userEmail": {
          "description": "Output only. Email address of the user to run workflow invocations under.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EndUserAuthenticationConfig",
      "description": "Includes configuration options for end user authentication."
    },
    "SearchResult": {
      "id": "SearchResult",
      "type": "object",
      "properties": {
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        },
        "file": {
          "$ref": "FileSearchResult",
          "description": "Details when search result is a file."
        }
      },
      "description": "Client-facing representation of a search result entry."
    },
    "ListRepositoriesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "List of repositories.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "`ListRepositories` response message.",
      "id": "ListRepositoriesResponse"
    },
    "FilesystemEntryMetadata": {
      "id": "FilesystemEntryMetadata",
      "properties": {
        "updateTime": {
          "description": "Output only. Represents the time of the last modification of the entry.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0."
        }
      },
      "description": "Represents metadata for a single entry in a filesystem.",
      "type": "object"
    },
    "DataPreparation": {
      "description": "Defines a compiled Data Preparation entity",
      "id": "DataPreparation",
      "type": "object",
      "properties": {
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "contentsSql": {
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information.",
          "$ref": "SqlDefinition"
        }
      }
    },
    "QueryUserRootContentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          }
        }
      },
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "id": "QueryUserRootContentsResponse"
    },
    "PushGitCommitsRequest": {
      "description": "`PushGitCommits` request message.",
      "type": "object",
      "id": "PushGitCommitsRequest",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      }
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "properties": {},
      "type": "object",
      "description": "Represents the delete file operation."
    },
    "DeleteBranchRequest": {
      "properties": {
        "branch": {
          "type": "string",
          "description": "Required. The name of the branch in the Git repository to delete."
        },
        "force": {
          "description": "Optional. If set to true, any non-pushed commits on the branch will be deleted. Upstream branch name will be the same as the branch to delete.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "`DeleteBranch` request message.",
      "id": "DeleteBranchRequest"
    },
    "MoveFolderRequest": {
      "description": "`MoveFolder` request message.",
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "id": "MoveFolderRequest"
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "DirectoryEntry": {
      "properties": {
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "file": {
          "type": "string",
          "description": "A file in the directory. The path is returned including the full folder structure from the root."
        },
        "directory": {
          "type": "string",
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root."
        }
      },
      "type": "object",
      "description": "Represents a single entry in a directory.",
      "id": "DirectoryEntry"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "EndUserAuthConfig": {
      "id": "EndUserAuthConfig",
      "description": "Includes configuration options for repository end user authentication.",
      "type": "object",
      "properties": {
        "oauthConfig": {
          "description": "Optional. OAuth configuration for repository end user authentication.",
          "$ref": "OAuthConfig"
        }
      }
    },
    "IamPolicyOverrideView": {
      "type": "object",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        },
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        }
      },
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "id": "IamPolicyOverrideView"
    },
    "RemoveFileResponse": {
      "type": "object",
      "description": "`RemoveFile` response message.",
      "properties": {},
      "id": "RemoveFileResponse"
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "description": "Represents a single content entry.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "type": "object"
    },
    "CommitWorkspaceChangesResponse": {
      "type": "object",
      "id": "CommitWorkspaceChangesResponse",
      "properties": {},
      "description": "`CommitWorkspaceChanges` response message."
    },
    "SqlDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        }
      },
      "description": "Definition of a SQL Data Preparation",
      "id": "SqlDefinition"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "BigQueryUnitTestAction": {
      "type": "object",
      "description": "Represents a workflow action that will run a BigQuery unit test.",
      "id": "BigQueryUnitTestAction",
      "properties": {
        "totalBilledBytes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs."
        },
        "actualResultsSqlScript": {
          "type": "string",
          "description": "Output only. SQL script for the actual results.",
          "readOnly": true
        },
        "expectedResultsJobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Job ID for the expected results."
        },
        "totalProcessedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs.",
          "readOnly": true
        },
        "expectedResultsSqlScript": {
          "readOnly": true,
          "description": "Output only. SQL script for the expected results.",
          "type": "string"
        },
        "actualResultsJobId": {
          "description": "Output only. Job ID for the actual results.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListReleaseConfigsResponse": {
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "releaseConfigs": {
          "type": "array",
          "description": "List of release configs.",
          "items": {
            "$ref": "ReleaseConfig"
          }
        }
      }
    },
    "MoveRepositoryRequest": {
      "type": "object",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "description": "`MoveRepository` request message.",
      "id": "MoveRepositoryRequest"
    },
    "CompilationResult": {
      "type": "object",
      "description": "Represents the result of compiling a Dataform project.",
      "id": "CompilationResult",
      "properties": {
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "$ref": "PrivateResourceMetadata",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The compilation result's name.",
          "readOnly": true
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState"
        },
        "resolvedGitCommitSha": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace."
        },
        "workspace": {
          "type": "string",
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`."
        },
        "createTime": {
          "description": "Output only. The timestamp of when the compilation result was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "type": "string",
          "readOnly": true
        },
        "gitCommitish": {
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "compilationErrors": {
          "readOnly": true,
          "description": "Output only. Errors encountered during project compilation.",
          "type": "array",
          "items": {
            "$ref": "CompilationError"
          }
        },
        "gcsRepositorySnapshotMetadata": {
          "$ref": "GcsRepositorySnapshotMetadata",
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "readOnly": true
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        }
      }
    },
    "InstallNpmPackagesRequest": {
      "properties": {
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        }
      },
      "description": "`InstallNpmPackages` request message.",
      "type": "object",
      "id": "InstallNpmPackagesRequest"
    },
    "UncommittedFileChange": {
      "type": "object",
      "id": "UncommittedFileChange",
      "properties": {
        "state": {
          "description": "Output only. Indicates the status of the file.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      },
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "DeleteTeamFolderTreeRequest": {
      "id": "DeleteTeamFolderTreeRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      },
      "description": "`DeleteTeamFolderTree` request message.",
      "type": "object"
    },
    "CommitRepositoryChangesRequest": {
      "description": "`CommitRepositoryChanges` request message.",
      "id": "CommitRepositoryChangesRequest",
      "type": "object",
      "properties": {
        "commitMetadata": {
          "$ref": "CommitMetadata",
          "description": "Required. The changes to commit to the repository."
        },
        "fileOperations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          },
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root."
        },
        "requiredHeadCommitSha": {
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed.",
          "type": "string"
        }
      }
    },
    "WorkflowTriggerConfig": {
      "description": "Represents a trigger configuration for a workflow.",
      "properties": {
        "recentTriggerEvaluationRecords": {
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "type": "array"
        },
        "minExecutionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution."
        },
        "condition": {
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "description": "Optional. The condition to use when triggering the workflow.",
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ]
        },
        "maxWaitDuration": {
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met.",
          "format": "google-duration",
          "type": "string"
        },
        "lastSuccessfulEvaluationTime": {
          "description": "Output only. The timestamp of the last successful trigger evaluation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workflowTriggers": {
          "items": {
            "$ref": "WorkflowTrigger"
          },
          "description": "Required. The trigger definitions to invoke a workflow.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "WorkflowTriggerConfig"
    },
    "BigQueryUnitTest": {
      "id": "BigQueryUnitTest",
      "type": "object",
      "description": "Represents a BigQuery unit test.",
      "properties": {
        "displayName": {
          "description": "The name of the unit test.",
          "type": "string"
        },
        "testQuery": {
          "type": "string",
          "description": "Test query to execute."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "expectedOutputQuery": {
          "type": "string",
          "description": "Expected output query to compare against the test query."
        }
      }
    },
    "FetchWorkspaceBranchesResponse": {
      "properties": {
        "branches": {
          "description": "The branches in the workspace.",
          "items": {
            "$ref": "BranchMetadata"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchWorkspaceBranchesResponse",
      "description": "Response message for `FetchWorkspaceBranches` method."
    },
    "InstallNpmPackagesResponse": {
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "type": "object",
      "description": "`InstallNpmPackages` response message."
    },
    "FetchCurrentWorkspaceBranchResponse": {
      "id": "FetchCurrentWorkspaceBranchResponse",
      "properties": {
        "branchName": {
          "type": "string",
          "description": "The name of the current branch for the workspace."
        }
      },
      "description": "Response message for `FetchCurrentWorkspaceBranch` method.",
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "id": "ResetWorkspaceChangesRequest",
      "description": "`ResetWorkspaceChanges` request message.",
      "properties": {
        "clean": {
          "description": "Optional. If set to true, untracked files will be deleted.",
          "type": "boolean"
        },
        "paths": {
          "type": "array",
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ColumnDescriptor": {
      "id": "ColumnDescriptor",
      "properties": {
        "path": {
          "description": "The identifier for the column. Each entry in `path` represents one level of nesting.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A textual description of the column."
        },
        "bigqueryPolicyTags": {
          "type": "array",
          "description": "A list of BigQuery policy tags that will be applied to the column.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Describes a column.",
      "type": "object"
    },
    "WorkflowInvocation": {
      "id": "WorkflowInvocation",
      "type": "object",
      "properties": {
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "type": "string",
          "readOnly": true
        },
        "invocationTiming": {
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true,
          "$ref": "PrivateResourceMetadata"
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Immutable. If left unset, a default InvocationConfig will be used."
        },
        "workflowConfig": {
          "type": "string",
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`."
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "pipelineConfig": {
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true,
          "$ref": "PipelineConfig"
        },
        "state": {
          "description": "Output only. This workflow invocation's current state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ]
        }
      },
      "description": "Represents a single invocation of a compilation result."
    },
    "CompilationResultAction": {
      "id": "CompilationResultAction",
      "type": "object",
      "properties": {
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "bigqueryUnitTest": {
          "description": "The unit test executed by this action.",
          "$ref": "BigQueryUnitTest"
        },
        "assertion": {
          "$ref": "Assertion",
          "description": "The assertion executed by this action."
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "declaration": {
          "$ref": "Declaration",
          "description": "The declaration declared by this action."
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        }
      },
      "description": "Represents a single Dataform action in a compilation result."
    },
    "PrivateResourceMetadata": {
      "id": "PrivateResourceMetadata",
      "properties": {
        "userScoped": {
          "type": "boolean",
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace.",
          "readOnly": true
        }
      },
      "description": "Metadata used to identify if a resource is user scoped.",
      "type": "object"
    },
    "GcsRepositorySnapshotDestination": {
      "type": "object",
      "properties": {
        "repositorySnapshotUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`."
        }
      },
      "description": "Configures the destination for a repository snapshot.",
      "id": "GcsRepositorySnapshotDestination"
    },
    "MoveDirectoryRequest": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        },
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        }
      },
      "type": "object",
      "id": "MoveDirectoryRequest",
      "description": "`MoveDirectory` request message."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "PullGitCommitsResponse": {
      "id": "PullGitCommitsResponse",
      "type": "object",
      "properties": {},
      "description": "`PullGitCommits` response message."
    },
    "Config": {
      "description": "Config for all repositories in a given project and location.",
      "properties": {
        "defaultKmsKeyName": {
          "type": "string",
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        }
      },
      "id": "Config",
      "type": "object"
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "CompilationError": {
      "description": "An error encountered when attempting to compile a Dataform project.",
      "type": "object",
      "id": "CompilationError",
      "properties": {
        "path": {
          "readOnly": true,
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string"
        },
        "actionTarget": {
          "readOnly": true,
          "$ref": "Target",
          "description": "Output only. The identifier of the action where this error occurred, if available."
        },
        "stack": {
          "type": "string",
          "description": "Output only. The error's full stack trace.",
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error's top level message."
        }
      }
    },
    "DataEncryptionState": {
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      },
      "id": "DataEncryptionState",
      "type": "object",
      "description": "Describes encryption state of a resource."
    },
    "Repository": {
      "properties": {
        "name": {
          "description": "Identifier. The repository's name.",
          "type": "string"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "endUserAuthConfig": {
          "$ref": "EndUserAuthConfig",
          "description": "Optional. Includes configuration options for end user authentication."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key."
        },
        "teamFolderName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder."
        },
        "serviceAccount": {
          "description": "Optional. The service account to run workflow invocations under.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Repository user labels.",
          "type": "object"
        },
        "gitRemoteSettings": {
          "description": "Optional. If set, configures this repository to be linked to a Git remote.",
          "$ref": "GitRemoteSettings"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created.",
          "readOnly": true
        },
        "workspaceCompilationOverrides": {
          "$ref": "WorkspaceCompilationOverrides",
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information."
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "setAuthenticatedUserAdmin": {
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository. To modify access to the created repository later apply setIamPolicy from https://cloud.google.com/dataform/reference/rest#rest-resource:-v1beta1.projects.locations.repositories",
          "type": "boolean"
        }
      },
      "description": "Represents a Dataform Git repository.",
      "type": "object",
      "id": "Repository"
    },
    "MoveDirectoryResponse": {
      "description": "`MoveDirectory` response message.",
      "properties": {},
      "id": "MoveDirectoryResponse",
      "type": "object"
    },
    "Target": {
      "properties": {
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        },
        "database": {
          "description": "Optional. The action's database (Google Cloud project ID) .",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Target",
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object."
    },
    "ListWorkflowConfigsResponse": {
      "id": "ListWorkflowConfigsResponse",
      "type": "object",
      "description": "`ListWorkflowConfigs` response message.",
      "properties": {
        "workflowConfigs": {
          "type": "array",
          "description": "List of workflow configs.",
          "items": {
            "$ref": "WorkflowConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CommitRepositoryChangesResponse": {
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "id": "CommitRepositoryChangesResponse",
      "type": "object",
      "description": "`CommitRepositoryChanges` response message."
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions",
      "properties": {
        "append": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Append into destination table"
        },
        "replace": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Replace destination table"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "maximum": {
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        }
      }
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "description": "`ListWorkspaces` response message.",
      "id": "ListWorkspacesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
[...]
