{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://dataproc.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "rootUrl": "https://dataproc.googleapis.com/",
  "version": "v1",
  "name": "dataproc",
  "title": "Cloud Dataproc API",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "canonicalName": "Dataproc",
  "endpoints": [
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "id": "dataproc:v1",
  "schemas": {
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest.",
          "type": "string"
        },
        "jobs": {
          "description": "Output only. Jobs list.",
          "readOnly": true,
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. List of jobs with kms_key-encrypted parameters that could not be decrypted. A response to a jobs.get request may indicate the reason for the decryption failure for a specific job.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListJobsResponse",
      "description": "A list of jobs in a project.",
      "type": "object"
    },
    "SparkPlanGraphNode": {
      "type": "object",
      "properties": {
        "sparkPlanGraphNodeId": {
          "type": "string",
          "format": "int64"
        },
        "desc": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for the spark plan graph cluster."
        },
        "name": {
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        }
      },
      "id": "SparkPlanGraphNode",
      "description": "Represents a node in the spark plan tree."
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "InstanceSelectionResult": {
      "id": "InstanceSelectionResult",
      "description": "Defines a mapping from machine types to the number of VMs that are created with each machine type.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Output only. Full machine-type names, e.g. \"n1-standard-16\".",
          "readOnly": true
        },
        "vmCount": {
          "description": "Output only. Number of VM provisioned with the machine_type.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "StreamBlockData": {
      "type": "object",
      "id": "StreamBlockData",
      "description": "Stream Block Data.",
      "properties": {
        "useMemory": {
          "type": "boolean"
        },
        "diskSize": {
          "type": "string",
          "format": "int64"
        },
        "useDisk": {
          "type": "boolean"
        },
        "deserialized": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "storageLevel": {
          "type": "string"
        },
        "executorId": {
          "type": "string"
        },
        "memSize": {
          "type": "string",
          "format": "int64"
        },
        "hostPort": {
          "type": "string"
        }
      }
    },
    "SearchSessionSparkApplicationJobsResponse": {
      "type": "object",
      "properties": {
        "sparkApplicationJobs": {
          "type": "array",
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "items": {
            "$ref": "JobData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationJobsRequest.",
          "type": "string"
        }
      },
      "id": "SearchSessionSparkApplicationJobsResponse",
      "description": "A list of Jobs associated with a Spark Application."
    },
    "ConfidentialInstanceConfig": {
      "id": "ConfidentialInstanceConfig",
      "description": "Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/confidential-computing/confidential-vm/docs)",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Deprecated: Use 'confidential_instance_type' instead. Defines whether the instance should have confidential compute enabled.",
          "deprecated": true
        },
        "confidentialInstanceType": {
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "type": "string",
          "description": "Optional. Defines the type of Confidential Compute technology to use.",
          "enumDescriptions": [
            "Confidential Instance Type is not specified.",
            "AMD Secure Encrypted Virtualization (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev)",
            "AMD Secure Encrypted Virtualization-Secure Nested Paging (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev-snp)",
            "Intel Trust Domain Extensions (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#intel_tdx)"
          ]
        }
      },
      "type": "object"
    },
    "KerberosConfig": {
      "type": "object",
      "properties": {
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by the service.",
          "type": "string"
        },
        "tgtLifetimeHours": {
          "type": "integer",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "format": "int32"
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, the service will provide a self-signed certificate.",
          "type": "string"
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, the service will provide a self-signed certificate.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "description": "Optional. The remote realm the on-cluster KDC will trust, should the user enable cross realm trust.",
          "type": "string"
        },
        "kmsKeyUri": {
          "description": "Optional. The URI of the KMS key used to encrypt sensitive files.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by the service.",
          "type": "string"
        },
        "keystorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by the service.",
          "type": "string"
        }
      },
      "id": "KerberosConfig",
      "description": "Specifies Kerberos related configuration."
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload.",
      "properties": {
        "queryVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppSummary": {
      "id": "AppSummary",
      "properties": {
        "numCompletedJobs": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ManagedGroupConfig": {
      "type": "object",
      "id": "ManagedGroupConfig",
      "description": "Specifies the resources used to actively manage an instance group.",
      "properties": {
        "instanceTemplateName": {
          "type": "string",
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "readOnly": true,
          "type": "string"
        },
        "instanceGroupManagerUri": {
          "description": "Output only. The partial URI to the instance group manager for this group. E.g. projects/my-project/regions/us-central1/instanceGroupManagers/my-igm.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListSessionsResponse": {
      "id": "ListSessionsResponse",
      "description": "A list of interactive sessions.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token, to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "sessions": {
          "description": "Output only. The sessions from the specified collection.",
          "readOnly": true,
          "items": {
            "$ref": "Session"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchSessionSparkApplicationNativeSqlQueriesResponse": {
      "id": "SearchSessionSparkApplicationNativeSqlQueriesResponse",
      "description": "List of all Native queries for a Spark Application.",
      "properties": {
        "sparkApplicationNativeSqlQueries": {
          "type": "array",
          "description": "Output only. Native SQL Execution Data",
          "readOnly": true,
          "items": {
            "$ref": "NativeSqlExecutionUiData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationSqlQueriesRequest.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationInfo": {
      "properties": {
        "applicationContextIngestionStatus": {
          "enum": [
            "APPLICATION_CONTEXT_INGESTION_STATUS_UNSPECIFIED",
            "APPLICATION_CONTEXT_INGESTION_STATUS_COMPLETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "applicationId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "maxCores": {
          "type": "integer",
          "format": "int32"
        },
        "coresGranted": {
          "type": "integer",
          "format": "int32"
        },
        "coresPerExecutor": {
          "type": "integer",
          "format": "int32"
        },
        "memoryPerExecutorMb": {
          "type": "integer",
          "format": "int32"
        },
        "attempts": {
          "type": "array",
          "items": {
            "$ref": "ApplicationAttemptInfo"
          }
        },
        "quantileDataStatus": {
          "type": "string",
          "enum": [
            "QUANTILE_DATA_STATUS_UNSPECIFIED",
            "QUANTILE_DATA_STATUS_COMPLETED",
            "QUANTILE_DATA_STATUS_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "ApplicationInfo",
      "description": "High level information corresponding to an application.",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether instances have integrity monitoring enabled.",
          "type": "boolean"
        }
      }
    },
    "SparkPlanGraphEdge": {
      "id": "SparkPlanGraphEdge",
      "description": "Represents a directed edge in the spark plan tree from child to parent.",
      "properties": {
        "fromId": {
          "type": "string",
          "format": "int64"
        },
        "toId": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PySparkBatch": {
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pythonFileUris": {
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the Spark driver. Must be a .py file.",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PySparkBatch",
      "description": "A configuration for running an Apache PySpark (https://spark.apache.org/docs/latest/api/python/getting_started/quickstart.html) batch workload.",
      "type": "object"
    },
    "RepairNodeGroupRequest": {
      "type": "object",
      "id": "RepairNodeGroupRequest",
      "properties": {
        "repairAction": {
          "type": "string",
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "REPLACE"
          ],
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "replace the specified list of nodes."
          ]
        },
        "instanceNames": {
          "type": "array",
          "description": "Required. Name of instances to be repaired. These instances must belong to specified node pool.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairNodeGroupRequest with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "ApplicationEnvironmentInfo": {
      "type": "object",
      "id": "ApplicationEnvironmentInfo",
      "description": "Details about the Environment that the application is running in.",
      "properties": {
        "runtime": {
          "$ref": "SparkRuntimeInfo"
        },
        "sparkProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metricsProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceProfiles": {
          "type": "array",
          "items": {
            "$ref": "ResourceProfileInfo"
          }
        },
        "classpathEntries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hadoopProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "TrinoJob": {
      "type": "object",
      "id": "TrinoJob",
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster.",
      "properties": {
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "clientTags": {
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlExecutionUiData": {
      "type": "object",
      "properties": {
        "rootExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "modifiedConfigs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "errorMessage": {
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        },
        "metricValues": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string"
        },
        "physicalPlanDescription": {
          "type": "string"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "jobs": {
          "additionalProperties": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "JOB_EXECUTION_STATUS_UNSPECIFIED",
              "JOB_EXECUTION_STATUS_RUNNING",
              "JOB_EXECUTION_STATUS_SUCCEEDED",
              "JOB_EXECUTION_STATUS_FAILED",
              "JOB_EXECUTION_STATUS_UNKNOWN"
            ]
          },
          "type": "object"
        },
        "stages": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "details": {
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "metricValuesIsNull": {
          "type": "boolean"
        }
      },
      "id": "SqlExecutionUiData",
      "description": "SQL Execution Data"
    },
    "IdentityConfig": {
      "properties": {
        "userServiceAccountMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Map of user to service account."
        },
        "enableSsh": {
          "description": "Optional. Whether to enable SSH access for the cluster. The default is true for image versions prior to 3.1 and false for image versions 3.1 and later. The default behavior can be changed when creating clusters using image versions 2.3.30 and later.",
          "type": "boolean"
        }
      },
      "id": "IdentityConfig",
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "type": "object"
    },
    "HiveJob": {
      "properties": {
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "HiveJob",
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "type": "object"
    },
    "SparkWrapperObject": {
      "properties": {
        "poolData": {
          "$ref": "PoolData"
        },
        "streamBlockData": {
          "$ref": "StreamBlockData"
        },
        "rddOperationGraph": {
          "$ref": "RddOperationGraph"
        },
        "executorStageSummary": {
          "$ref": "ExecutorStageSummary"
        },
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo"
        },
        "jobData": {
          "$ref": "JobData"
        },
        "sparkConnectSessionInfo": {
          "description": "Spark Connect Session Info",
          "$ref": "SparkConnectSessionInfo"
        },
        "eventTimestamp": {
          "description": "VM Timestamp associated with the data object.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceProfileInfo": {
          "$ref": "ResourceProfileInfo"
        },
        "streamingQueryData": {
          "$ref": "StreamingQueryData"
        },
        "rddStorageInfo": {
          "$ref": "RddStorageInfo"
        },
        "stageData": {
          "$ref": "StageData"
        },
        "speculationStageSummary": {
          "$ref": "SpeculationStageSummary"
        },
        "nativeBuildInfoUiData": {
          "description": "Native Build Info",
          "$ref": "NativeBuildInfoUiData"
        },
        "applicationId": {
          "description": "Application Id created by Spark.",
          "type": "string"
        },
        "taskData": {
          "$ref": "TaskData"
        },
        "streamingQueryProgress": {
          "$ref": "StreamingQueryProgress"
        },
        "processSummary": {
          "$ref": "ProcessSummary"
        },
        "executorSummary": {
          "$ref": "ExecutorSummary"
        },
        "applicationInfo": {
          "$ref": "ApplicationInfo"
        },
        "appSummary": {
          "$ref": "AppSummary"
        },
        "nativeSqlExecutionUiData": {
          "description": "Native SQL Execution Info",
          "$ref": "NativeSqlExecutionUiData"
        },
        "sqlExecutionUiData": {
          "$ref": "SqlExecutionUiData"
        },
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph"
        },
        "sparkConnectExecutionInfo": {
          "$ref": "SparkConnectExecutionInfo",
          "description": "Spark Connect Execution Info"
        }
      },
      "id": "SparkWrapperObject",
      "description": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it.",
      "type": "object"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region.",
          "type": "string"
        }
      },
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object"
    },
    "Batch": {
      "properties": {
        "labels": {
          "description": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a batch.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED.",
          "readOnly": true
        },
        "sparkSqlBatch": {
          "$ref": "SparkSqlBatch",
          "description": "Optional. SparkSql batch config."
        },
        "pysparkNotebookBatch": {
          "description": "Optional. PySpark notebook batch config.",
          "$ref": "PySparkNotebookBatch"
        },
        "stateHistory": {
          "description": "Output only. Historical state information for the batch.",
          "readOnly": true,
          "items": {
            "$ref": "StateHistory"
          },
          "type": "array"
        },
        "operation": {
          "type": "string",
          "description": "Output only. The resource name of the operation associated with this batch.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the batch was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for the batch execution."
        },
        "sparkBatch": {
          "$ref": "SparkBatch",
          "description": "Optional. Spark batch config."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ],
          "type": "string",
          "description": "Output only. The state of the batch.",
          "readOnly": true
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the batch execution."
        },
        "uuid": {
          "type": "string",
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch.",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The email address of the user who created the batch.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the batch.",
          "readOnly": true
        },
        "sparkRBatch": {
          "description": "Optional. SparkR batch config.",
          "$ref": "SparkRBatch"
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time when the batch entered a current state.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pysparkBatch": {
          "$ref": "PySparkBatch",
          "description": "Optional. PySpark batch config."
        },
        "runtimeInfo": {
          "description": "Output only. Runtime information about batch execution.",
          "readOnly": true,
          "$ref": "RuntimeInfo"
        }
      },
      "id": "Batch",
      "description": "A representation of a batch workload in the service.",
      "type": "object"
    },
    "WriteSessionSparkApplicationContextResponse": {
      "type": "object",
      "properties": {},
      "id": "WriteSessionSparkApplicationContextResponse",
      "description": "Response returned as an acknowledgement of receipt of data."
    },
    "MetastoreConfig": {
      "type": "object",
      "id": "MetastoreConfig",
      "description": "Specifies a Metastore configuration.",
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]",
          "type": "string"
        }
      }
    },
    "WorkflowTemplatePlacement": {
      "type": "object",
      "properties": {
        "managedCluster": {
          "description": "A cluster that is managed by the workflow.",
          "$ref": "ManagedCluster"
        },
        "clusterSelector": {
          "$ref": "ClusterSelector",
          "description": "Optional. A selector that chooses target cluster for jobs based on metadata.The selector is evaluated at the time each job is submitted."
        }
      },
      "id": "WorkflowTemplatePlacement",
      "description": "Specifies workflow execution target.Either managed_cluster or cluster_selector is required."
    },
    "AuthenticationConfig": {
      "type": "object",
      "id": "AuthenticationConfig",
      "description": "Authentication configuration for a workload is used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s).",
      "properties": {
        "userWorkloadAuthenticationType": {
          "description": "Optional. Authentication type for the user workload running in containers.",
          "enumDescriptions": [
            "If AuthenticationType is unspecified then END_USER_CREDENTIALS is used for 3.0 and newer runtimes, and SERVICE_ACCOUNT is used for older runtimes.",
            "Use service account credentials for authenticating to other services.",
            "Use OAuth credentials associated with the workload creator/user for authenticating to other services."
          ],
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SERVICE_ACCOUNT",
            "END_USER_CREDENTIALS"
          ]
        }
      }
    },
    "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig": {
      "type": "object",
      "id": "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig",
      "description": "Encryption settings for encrypting workflow template job arguments.",
      "properties": {
        "kmsKey": {
          "description": "Optional. The Cloud KMS key name to use for encrypting workflow template job arguments.When this this key is provided, the following workflow template job arguments (https://cloud.google.com/dataproc/docs/concepts/workflows/use-workflows#adding_jobs_to_a_template), if present, are CMEK encrypted (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_workflow_template_data): FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      }
    },
    "WorkflowMetadata": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from parameter names to values that were used for those parameters."
        },
        "startTime": {
          "description": "Output only. Workflow start time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "clusterName": {
          "description": "Output only. The name of the target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "dagEndTime": {
          "type": "string",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true
        },
        "createCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The create cluster operation metadata.",
          "readOnly": true
        },
        "dagTimeout": {
          "type": "string",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "format": "google-duration"
        },
        "graph": {
          "description": "Output only. The workflow graph.",
          "readOnly": true,
          "$ref": "WorkflowGraph"
        },
        "endTime": {
          "description": "Output only. Workflow end time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "clusterUuid": {
          "description": "Output only. The UUID of target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The workflow state.",
          "readOnly": true,
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ]
        },
        "dagStartTime": {
          "type": "string",
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "template": {
          "type": "string",
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true
        }
      },
      "id": "WorkflowMetadata",
      "description": "A Dataproc workflow template resource.",
      "type": "object"
    },
    "StreamingQueryData": {
      "id": "StreamingQueryData",
      "description": "Streaming",
      "properties": {
        "startTimestamp": {
          "type": "string",
          "format": "int64"
        },
        "isActive": {
          "type": "boolean"
        },
        "endTimestamp": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "streamingQueryId": {
          "type": "string"
        },
        "exception": {
          "type": "string"
        },
        "runId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BuildInfo": {
      "type": "object",
      "properties": {
        "buildKey": {
          "description": "Optional. Build key.",
          "type": "string"
        },
        "buildValue": {
          "description": "Optional. Build value.",
          "type": "string"
        }
      },
      "id": "BuildInfo",
      "description": "Native Build Info"
    },
    "BasicYarnAutoscalingConfig": {
      "type": "object",
      "id": "BasicYarnAutoscalingConfig",
      "description": "Basic autoscaling configurations for YARN.",
      "properties": {
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "scaleDownFactor": {
          "type": "number",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration",
          "type": "string"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "PySparkJob": {
      "id": "PySparkJob",
      "description": "A Dataproc job for running Apache PySpark (https://spark.apache.org/docs/latest/api/python/index.html#pyspark-overview) applications on YARN.",
      "properties": {
        "pythonFileUris": {
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Python driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.Note: Spark applications must be deployed in cluster mode (https://spark.apache.org/docs/latest/cluster-overview.html) for correct environment propagation.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure PySpark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mainPythonFileUri": {
          "description": "Required. The HCFS URI of the main Python file to use as the driver. Must be a .py file.",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AutoscalingPolicy": {
      "type": "object",
      "id": "AutoscalingPolicy",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler.",
      "properties": {
        "clusterType": {
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "ZERO_SCALE"
          ],
          "type": "string",
          "description": "Optional. The type of the clusters for which this autoscaling policy is to be configured.",
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ]
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        },
        "secondaryWorkerConfig": {
          "description": "Optional. Describes how the autoscaler will operate for secondary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "workerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Required. Describes how the autoscaler will operate for primary workers."
        },
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this autoscaling policy. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with an autoscaling policy."
        }
      }
    },
    "PigJob": {
      "type": "object",
      "id": "PigJob",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "properties": {
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        }
      }
    },
    "StageOutputMetrics": {
      "type": "object",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "StageOutputMetrics",
      "description": "Metrics about the output written by the stage."
    },
    "ResizeNodeGroupRequest": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "description": "Required. The number of running instances for the node group to maintain. The group adds or removes instances to maintain the number of instances specified by this parameter.",
          "format": "int32"
        },
        "gracefulDecommissionTimeout": {
          "type": "string",
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scaling-clusters#graceful_decommissioning) allows the removal of nodes from the Compute Engine node group without interrupting jobs in progress. This timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher.",
          "format": "google-duration"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two ResizeNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.ResizeNodeGroupRequests) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "parentOperationId": {
          "description": "Optional. operation id of the parent operation sending the resize request",
          "type": "string"
        }
      },
      "id": "ResizeNodeGroupRequest",
      "description": "A request to resize a node group."
    },
    "DiskConfig": {
      "properties": {
        "attachedDiskConfigs": {
          "description": "Optional. A list of attached disk configs for a group of VM instances.",
          "items": {
            "$ref": "AttachedDiskConfig"
          },
          "type": "array"
        },
        "bootDiskType": {
          "description": "Optional. Type of the boot disk (default is pd-standard). Valid values: pd-balanced (Persistent Disk Balanced Solid State Drive), pd-ssd (Persistent Disk Solid State Drive), or pd-standard (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types).",
          "type": "string"
        },
        "bootDiskSizeGb": {
          "type": "integer",
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "format": "int32"
        },
        "numLocalSsds": {
          "type": "integer",
          "description": "Optional. Number of attached SSDs, from 0 to 8 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.Note: Local SSD options may vary by machine type and number of vCPUs selected.",
          "format": "int32"
        },
        "bootDiskProvisionedThroughput": {
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput mb per second that the disk can handle. Values must be greater than or equal to 1. This field is supported only if boot_disk_type is hyperdisk-balanced.",
          "format": "int64",
          "type": "string"
        },
        "bootDiskProvisionedIops": {
          "type": "string",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. This field is supported only if boot_disk_type is hyperdisk-balanced.",
          "format": "int64"
        },
        "localSsdInterface": {
          "description": "Optional. Interface type of local SSDs (default is scsi). Valid values: scsi (Small Computer System Interface), nvme (Non-Volatile Memory Express). See local SSD performance (https://cloud.google.com/compute/docs/disks/local-ssd#performance).",
          "type": "string"
        }
      },
      "id": "DiskConfig",
      "description": "Specifies the config of boot disk and attached disk options for a group of VM instances.",
      "type": "object"
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "type": "object",
      "properties": {
        "sparkApplicationSqlQueries": {
          "type": "array",
          "description": "Output only. SQL Execution Data",
          "readOnly": true,
          "items": {
            "$ref": "SqlExecutionUiData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest.",
          "type": "string"
        }
      },
      "id": "SearchSparkApplicationSqlQueriesResponse",
      "description": "List of all queries for a Spark Application."
    },
    "SummarizeSessionSparkApplicationJobsResponse": {
      "properties": {
        "jobsSummary": {
          "description": "Summary of a Spark Application Jobs",
          "$ref": "JobsSummary"
        }
      },
      "id": "SummarizeSessionSparkApplicationJobsResponse",
      "description": "Summary of a Spark Application jobs.",
      "type": "object"
    },
    "StartupConfig": {
      "properties": {
        "requiredRegistrationFraction": {
          "type": "number",
          "description": "Optional. The config setting to enable cluster creation/ updation to be successful only after required_registration_fraction of instances are up and running. This configuration is applicable to only secondary workers for now. The cluster will fail if required_registration_fraction of instances are not available. This will include instance creation, agent registration, and service registration (if enabled).",
          "format": "double"
        }
      },
      "id": "StartupConfig",
      "description": "Configuration to handle the startup of instances during cluster create and update process.",
      "type": "object"
    },
    "PropertiesInfo": {
      "type": "object",
      "id": "PropertiesInfo",
      "description": "Properties of the workload organized by origin.",
      "properties": {
        "autotuningProperties": {
          "description": "Output only. Properties set by autotuning engine.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ValueInfo"
          },
          "type": "object"
        }
      }
    },
    "InstanceReference": {
      "type": "object",
      "id": "InstanceReference",
      "description": "A reference to a Compute Engine instance.",
      "properties": {
        "instanceName": {
          "description": "The user-friendly name of the Compute Engine instance.",
          "type": "string"
        },
        "instanceId": {
          "description": "The unique identifier of the Compute Engine instance.",
          "type": "string"
        },
        "publicEciesKey": {
          "description": "The public ECIES key used for sharing data with this instance.",
          "type": "string"
        },
        "publicKey": {
          "description": "The public RSA key used for sharing data with this instance.",
          "type": "string"
        }
      }
    },
    "SparkJob": {
      "type": "object",
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in SparkJob.jar_file_uris.",
          "type": "string"
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SparkJob",
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN."
    },
    "AttachmentOperationMetadata": {
      "type": "object",
      "properties": {
        "attachmentUuid": {
          "type": "string",
          "description": "Output only. Attachment UUID for the operation.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels associated with the operation.",
          "readOnly": true
        },
        "attachment": {
          "description": "Output only. Name of the attachment for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Output only. Short description of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "Output only. The operation type.",
          "readOnly": true,
          "enum": [
            "ATTACHMENT_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Attachment operation type is unknown.",
            "Create Attachment operation type.",
            "Update Attachment operation type.",
            "Delete Attachment operation type."
          ]
        },
        "warnings": {
          "type": "array",
          "description": "Output only. Warnings encountered during operation execution.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "doneTime": {
          "description": "Output only. The time when the operation finished.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "AttachmentOperationMetadata",
      "description": "Metadata describing the Attachment operation."
    },
    "StreamingQueryProgress": {
      "id": "StreamingQueryProgress",
      "properties": {
        "observedMetrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "durationMillis": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "streamingQueryProgressId": {
          "type": "string"
        },
        "runId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "batchDuration": {
          "type": "string",
          "format": "int64"
        },
        "batchId": {
          "type": "string",
          "format": "int64"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "SourceProgress"
          }
        },
        "timestamp": {
          "type": "string"
        },
        "stateOperators": {
          "type": "array",
          "items": {
            "$ref": "StateOperatorProgress"
          }
        },
        "eventTime": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sink": {
          "$ref": "SinkProgress"
        }
      },
      "type": "object"
    },
    "GkeClusterConfig": {
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "deprecated": true,
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment."
        },
        "nodePoolTarget": {
          "type": "array",
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "items": {
            "$ref": "GkeNodePoolTarget"
          }
        },
        "gkeClusterTarget": {
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      },
      "id": "GkeClusterConfig",
      "description": "The cluster's GKE config.",
      "type": "object"
    },
    "SparkRuntimeInfo": {
      "type": "object",
      "properties": {
        "javaVersion": {
          "type": "string"
        },
        "javaHome": {
          "type": "string"
        },
        "scalaVersion": {
          "type": "string"
        }
      },
      "id": "SparkRuntimeInfo"
    },
    "ClusterToRepair": {
      "type": "object",
      "id": "ClusterToRepair",
      "description": "Cluster to be repaired",
      "properties": {
        "clusterRepairAction": {
          "type": "string",
          "enum": [
            "CLUSTER_REPAIR_ACTION_UNSPECIFIED",
            "REPAIR_ERROR_DUE_TO_UPDATE_CLUSTER"
          ],
          "description": "Required. Repair action to take on the cluster resource.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "Repair cluster in ERROR_DUE_TO_UPDATE states."
          ]
        }
      }
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      },
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "type": "object"
    },
    "SparkPlanGraphNodeWrapper": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "SparkPlanGraphCluster"
        },
        "node": {
          "$ref": "SparkPlanGraphNode"
        }
      },
      "id": "SparkPlanGraphNodeWrapper",
      "description": "Wrapper user to represent either a node or a cluster."
    },
    "ParameterValidation": {
      "id": "ParameterValidation",
      "description": "Configuration for parameter validation.",
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "description": "Validation based on a list of allowed values.",
          "$ref": "ValueValidation"
        }
      },
      "type": "object"
    },
    "SparkStandaloneAutoscalingConfig": {
      "properties": {
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "type": "string",
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decommissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration"
        },
        "removeOnlyIdleWorkers": {
          "description": "Optional. Remove only idle workers when scaling down cluster",
          "type": "boolean"
        },
        "scaleDownFactor": {
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "format": "double",
          "type": "number"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double",
          "type": "number"
        },
        "scaleUpFactor": {
          "type": "number",
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0.",
          "format": "double"
        }
      },
      "id": "SparkStandaloneAutoscalingConfig",
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "type": "object"
    },
    "SparkRJob": {
      "type": "object",
      "id": "SparkRJob",
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN.",
      "properties": {
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "mainRFileUri": {
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InputMetrics": {
      "type": "object",
      "properties": {
        "bytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "InputMetrics",
      "description": "Metrics about the input data read by the task."
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "type": "object",
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "properties": {
        "maxInstances": {
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "format": "int32",
          "type": "integer"
        },
        "weight": {
          "type": "integer",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "format": "int32"
        },
        "minInstances": {
          "type": "integer",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "format": "int32"
        }
      }
    },
    "DiagnoseClusterResults": {
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true
        }
      },
      "id": "DiagnoseClusterResults",
      "description": "The location of diagnostic output.",
      "type": "object"
    },
    "SparkApplication": {
      "type": "object",
      "id": "SparkApplication",
      "description": "A summary of Spark Application",
      "properties": {
        "name": {
          "description": "Identifier. Name of the spark application",
          "type": "string"
        },
        "application": {
          "$ref": "ApplicationInfo",
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true
        }
      }
    },
    "AccessSparkApplicationEnvironmentInfoResponse": {
      "type": "object",
      "properties": {
        "applicationEnvironmentInfo": {
          "description": "Details about the Environment that the application is running in.",
          "$ref": "ApplicationEnvironmentInfo"
        }
      },
      "id": "AccessSparkApplicationEnvironmentInfoResponse",
      "description": "Environment details of a Saprk Application."
    },
    "CohortInfo": {
      "type": "object",
      "id": "CohortInfo",
      "description": "Information about the cohort that the workload belongs to.",
      "properties": {
        "cohort": {
          "type": "string",
          "description": "Output only. Final cohort that was used to tune the workload.",
          "readOnly": true
        },
        "cohortSource": {
          "type": "string",
          "description": "Output only. Source of the cohort.",
          "readOnly": true,
          "enum": [
            "COHORT_SOURCE_UNSPECIFIED",
            "USER_PROVIDED",
            "AIRFLOW"
          ],
          "enumDescriptions": [
            "Cohort source is unspecified.",
            "Indicates that the cohort was explicitly provided.",
            "Composed from the labels coming from Airflow/Composer."
          ]
        }
      }
    },
    "RddStorageInfo": {
      "type": "object",
      "id": "RddStorageInfo",
      "description": "Overall data about RDD storage.",
      "properties": {
        "rddStorageId": {
          "type": "integer",
          "format": "int32"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "dataDistribution": {
          "type": "array",
          "items": {
            "$ref": "RddDataDistribution"
          }
        },
        "numCachedPartitions": {
          "type": "integer",
          "format": "int32"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "storageLevel": {
          "type": "string"
        },
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "RddPartitionInfo"
          }
        },
        "numPartitions": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "AuxiliaryServicesConfig": {
      "id": "AuxiliaryServicesConfig",
      "description": "Auxiliary services configuration for a Cluster.",
      "properties": {
        "sparkHistoryServerConfig": {
          "$ref": "SparkHistoryServerConfig",
          "description": "Optional. The Spark History Server configuration for the workload."
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. The Hive Metastore configuration for this workload."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "JobsSummary": {
      "properties": {
        "attempts": {
          "type": "array",
          "description": "Attempts info",
          "items": {
            "$ref": "ApplicationAttemptInfo"
          }
        },
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        },
        "schedulingMode": {
          "description": "Spark Scheduling mode",
          "type": "string"
        },
        "failedJobs": {
          "type": "integer",
          "description": "Number of failed jobs",
          "format": "int32"
        },
        "activeJobs": {
          "description": "Number of active jobs",
          "format": "int32",
          "type": "integer"
        },
        "completedJobs": {
          "description": "Number of completed jobs",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "JobsSummary",
      "description": "Data related to Jobs page summary",
      "type": "object"
    },
    "SearchSparkApplicationExecutorsResponse": {
      "properties": {
        "sparkApplicationExecutors": {
          "type": "array",
          "description": "Details about executors used by the application.",
          "items": {
            "$ref": "ExecutorSummary"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        }
      },
      "id": "SearchSparkApplicationExecutorsResponse",
      "description": "List of Executors associated with a Spark Application.",
      "type": "object"
    },
    "SummarizeSessionSparkApplicationExecutorsResponse": {
      "id": "SummarizeSessionSparkApplicationExecutorsResponse",
      "description": "Consolidated summary of executors for a Spark Application.",
      "properties": {
        "activeExecutorSummary": {
          "description": "Consolidated summary for active executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "deadExecutorSummary": {
          "$ref": "ConsolidatedExecutorSummary",
          "description": "Consolidated summary for dead executors."
        },
        "totalExecutorSummary": {
          "description": "Overall consolidated summary for all executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccessSessionSparkApplicationJobResponse": {
      "id": "AccessSessionSparkApplicationJobResponse",
      "description": "Details of a particular job associated with Spark Application",
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "$ref": "JobData"
        }
      },
      "type": "object"
    },
    "AccessSparkApplicationResponse": {
      "id": "AccessSparkApplicationResponse",
      "description": "A summary of Spark Application",
      "properties": {
        "application": {
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true,
          "$ref": "ApplicationInfo"
        }
      },
      "type": "object"
    },
    "SummarizeSparkApplicationExecutorsResponse": {
      "id": "SummarizeSparkApplicationExecutorsResponse",
      "description": "Consolidated summary of executors for a Spark Application.",
      "properties": {
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        },
        "activeExecutorSummary": {
[...]
