{
  "servicePath": "",
  "title": "Dataflow API",
  "discoveryVersion": "v1",
  "canonicalName": "Dataflow",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "dataflow:v1b3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/dataflow",
  "resources": {
    "projects": {
      "resources": {
        "templates": {
          "methods": {
            "create": {
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "flatPath": "v1b3/projects/{projectId}/templates",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "Job"
              },
              "path": "v1b3/projects/{projectId}/templates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.templates.create"
            },
            "launch": {
              "parameters": {
                "gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "dynamicTemplate.stagingLocation": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                },
                "projectId": {
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "dynamicTemplate.gcsPath": {
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "type": "string",
                  "location": "query"
                },
                "validateOnly": {
                  "type": "boolean",
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "parameterOrder": [
                "projectId"
              ],
              "path": "v1b3/projects/{projectId}/templates:launch"
            },
            "get": {
              "id": "dataflow.projects.templates.get",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "path": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
              "httpMethod": "GET",
              "parameters": {
                "gcsPath": {
                  "type": "string",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "type": "string",
                  "location": "query"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "GetTemplateResponse"
              }
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project to send the WorkerMessages to."
                },
                "location": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
                }
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.locations.workerMessages",
              "description": "Send a worker_message to the service.",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages"
            }
          },
          "resources": {
            "snapshots": {
              "methods": {
                "delete": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "description": "Deletes a snapshot.",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The location that contains this snapshot."
                    }
                  }
                },
                "get": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "snapshotId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The location that contains this snapshot."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.snapshots.get",
                  "description": "Gets information about a snapshot.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "id": "dataflow.projects.locations.snapshots.list",
                  "parameters": {
                    "projectId": {
                      "description": "The project ID to list snapshots for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The location to list snapshots in.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "jobId": {
                      "location": "query",
                      "description": "If specified, list snapshots created from this job.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "description": "Lists snapshots."
                }
              }
            },
            "jobs": {
              "methods": {
                "getExecutionDetails": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "httpMethod": "GET",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true
                    },
                    "jobId": {
                      "description": "The job to get execution details for.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A project id."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    }
                  },
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "create": {
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    },
                    "replaceJobId": {
                      "type": "string",
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string"
                    }
                  }
                },
                "getMetrics": {
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "parameters": {
                    "startTime": {
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job to get metrics for."
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "snapshot": {
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "The location that contains this job.",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to be snapshotted.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The project which owns the job to be snapshotted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Snapshot"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "id": "dataflow.projects.locations.jobs.list",
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "location": "query",
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The project which owns the jobs."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query"
                    },
                    "regionalFanoutRequested": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "format": "int32"
                    },
                    "view": {
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "location": "query",
                      "deprecated": true,
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "type": "string"
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The job name."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "update": {
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job ID."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}"
                },
                "get": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The job ID."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Job"
                  }
                }
              },
              "resources": {
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                      "parameters": {
                        "stageId": {
                          "description": "The stage for which to fetch information.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The job to get execution details for."
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "A project id.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "endTime": {
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime",
                          "description": "Upper time bound of work items to include, by start time."
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "type": "integer",
                          "location": "query"
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The job to get messages about."
                        },
                        "startTime": {
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "endTime": {
                          "location": "query",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "minimumImportance": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "description": "Filter to only get messages with importance >= level",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ]
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "A project id.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "httpMethod": "POST",
                      "parameters": {
                        "jobId": {
                          "type": "string",
                          "description": "The job which the WorkItem is part of.",
                          "location": "path",
                          "required": true
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The project which owns the WorkItem's job."
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "lease": {
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "description": "Leases a dataflow WorkItem to run.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "description": "Identifies the workflow job this worker belongs to.",
                          "type": "string"
                        },
                        "projectId": {
                          "type": "string",
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "required": true
                        },
                        "location": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "httpMethod": "POST"
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "parameters": {
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "The project id.",
                          "type": "string"
                        },
                        "jobId": {
                          "type": "string",
                          "description": "The job id.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Send encoded debug capture data for component.",
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "httpMethod": "POST"
                    },
                    "getConfig": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    },
                    "getWorkerStacktraces": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "description": "Get worker stacktraces from debug capture.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "parameters": {
                        "location": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "description": "The job for which to get stacktraces.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "The project id.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameters": {
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The location to list snapshots in."
                        },
                        "projectId": {
                          "type": "string",
                          "description": "The project ID to list snapshots for.",
                          "location": "path",
                          "required": true
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Lists snapshots.",
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      }
                    }
                  }
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "httpMethod": "POST",
                  "description": "Launch a job with a FlexTemplate. # IAM Permissions Requires the following IAM permission(s) on the resource: - `dataflow.jobs.create` - `resourcemanager.projects.get` - `iam.serviceAccounts.actAs` - `storage.buckets.get` - `storage.buckets.create` (Required if the default staging bucket must be created)",
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1."
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              }
            },
            "configStoreSettings": {
              "methods": {
                "resolve": {
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "path": "v1b3/{+name}:resolve",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the setting to resolve.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$"
                    }
                  },
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "id": "dataflow.projects.locations.configStoreSettings.resolve"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this setting will be created.",
                      "location": "path",
                      "required": true
                    },
                    "configStoreSettingId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the setting."
                    }
                  },
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.create",
                  "description": "Creates a new ConfigStoreSetting."
                },
                "delete": {
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1b3/{+name}",
                  "id": "dataflow.projects.locations.configStoreSettings.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists ConfigStoreSettings.",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "id": "dataflow.projects.locations.configStoreSettings.list",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.configStoreSettings.get",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "path": "v1b3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets a ConfigStoreSetting.",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}"
                }
              }
            },
            "templates": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "location": "query"
                    },
                    "gcsPath": {
                      "type": "string",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.templates.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project."
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.templates.create",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates"
                },
                "launch": {
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "parameters": {
                    "dynamicTemplate.gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query",
                      "type": "string"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.templates.launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch"
                }
              }
            }
          }
        },
        "jobs": {
          "methods": {
            "snapshot": {
              "response": {
                "$ref": "Snapshot"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.snapshot",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "description": "The project which owns the job to be snapshotted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "type": "string",
                  "description": "The job to be snapshotted.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot"
            },
            "list": {
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "regionalFanoutRequested": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional."
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query"
                },
                "view": {
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The job name."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                },
                "projectId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs."
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "response": {
                "$ref": "ListJobsResponse"
              }
            },
            "aggregated": {
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "filter": {
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "regionalFanoutRequested": {
                  "type": "boolean",
                  "description": "Optional.",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "deprecated": true,
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The job name."
                }
              },
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
              "id": "dataflow.projects.jobs.aggregated",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "getMetrics": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "JobMetrics"
              },
              "parameters": {
                "jobId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The job to get metrics for."
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "A project id.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string",
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.getMetrics",
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics"
            },
            "get": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "description": "The level of information requested in response."
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "jobId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The job ID."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Job"
              }
            },
            "create": {
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
              "id": "dataflow.projects.jobs.create",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "POST",
              "parameters": {
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response."
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              }
            },
            "update": {
[...]
