{
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "protocol": "rest",
  "basePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Data Labeling",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260210",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "title": "Data Labeling API",
  "resources": {
    "projects": {
      "resources": {
        "evaluations": {
          "methods": {
            "search": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Searches evaluations within a project.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\"",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "datalabeling.projects.evaluations.search",
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/evaluations:search",
              "httpMethod": "GET"
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "id": "datalabeling.projects.annotationSpecSets.create",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an annotation spec set by providing a set of labels."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.annotationSpecSets.get",
              "description": "Gets an annotation spec set by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "parameters": {
                "name": {
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes an annotation spec set by resource name.",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.list",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              }
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "list": {
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "id": "datalabeling.projects.evaluationJobs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\"",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/evaluationJobs"
            },
            "pause": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.evaluationJobs.pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}:pause",
              "parameterOrder": [
                "name"
              ],
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\""
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an evaluation job by resource name.",
              "id": "datalabeling.projects.evaluationJobs.get"
            },
            "resume": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.resume"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Stops and deletes an evaluation job.",
              "id": "datalabeling.projects.evaluationJobs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.evaluationJobs.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "description": " Creates an evaluation job.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "path": "v1beta1/{+parent}/evaluationJobs"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "id": "datalabeling.projects.evaluationJobs.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "path": "v1beta1/{+name}"
            }
          }
        },
        "instructions": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates an instruction for how data should be labeled.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/instructions",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "id": "datalabeling.projects.instructions.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an instruction object by resource name.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.instructions.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "location": "path",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "datalabeling.projects.instructions.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}"
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an instruction by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.instructions.list",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "path": "v1beta1/{+parent}/instructions",
              "description": "Lists instructions for a project. Pagination is supported.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "datalabeling.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "datalabeling.projects.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            },
            "cancel": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "GET",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1beta1/{+name}:cancel",
              "id": "datalabeling.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              }
            },
            "list": {
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The standard list page size.",
                  "type": "integer"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "id": "datalabeling.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "datasets": {
          "resources": {
            "video": {
              "methods": {
                "label": {
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "id": "datalabeling.projects.datasets.video.label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/video:label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "httpMethod": "POST"
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "path": "v1beta1/{+parent}/image:label",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "id": "datalabeling.projects.datasets.image.label"
                }
              }
            },
            "dataItems": {
              "methods": {
                "get": {
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/dataItems",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.dataItems.list"
                }
              }
            },
            "annotatedDatasets": {
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Example resource parent.",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\""
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "path": "v1beta1/{+parent}/examples",
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "path": "v1beta1/{+name}",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "feedbackThreads": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "httpMethod": "DELETE",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete a FeedbackThread.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "List FeedbackThreads with pagination.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "path": "v1beta1/{+name}",
                      "description": " Get a FeedbackThread object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "httpMethod": "DELETE",
                          "description": "Delete a FeedbackMessage."
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "httpMethod": "POST",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "description": "Create a FeedbackMessage object.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "required": true,
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "location": "path"
                            }
                          }
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List FeedbackMessages with pagination.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "location": "path",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "path": "v1beta1/{+parent}/feedbackMessages"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get a FeedbackMessage object.",
                          "httpMethod": "GET",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "path": "v1beta1/{+name}",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}"
                        }
                      }
                    }
                  }
                },
                "dataItems": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter is not supported at this moment."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "path": "v1beta1/{+parent}/dataItems",
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      }
                    },
                    "get": {
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Gets an annotated dataset by resource name.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes an annotated dataset by resource name.",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}"
                },
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter is not supported at this moment.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported."
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "path": "v1beta1/{+parent}/text:label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "id": "datalabeling.projects.datasets.text.label"
                }
              }
            }
          },
          "methods": {
            "exportData": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "path": "v1beta1/{+name}:exportData",
              "id": "datalabeling.projects.datasets.exportData",
              "description": "Exports data and annotations from dataset.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1beta1/{+parent}/datasets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter on dataset is not supported at this moment."
                }
              },
              "httpMethod": "GET",
              "description": "Lists datasets under a project. Pagination is supported.",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.datasets.list"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "description": "Deletes a dataset by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "id": "datalabeling.projects.datasets.delete",
              "httpMethod": "DELETE"
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/datasets",
              "id": "datalabeling.projects.datasets.create",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "description": " Creates dataset. If success return a Dataset resource."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "description": "Gets dataset by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "importData": {
              "path": "v1beta1/{+name}:importData",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "parameterOrder": [
                "name"
              ],
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.importData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              }
            }
          }
        }
      }
    }
  },
  "name": "datalabeling",
  "id": "datalabeling:v1beta1",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1PolylineConfig": {
      "description": "Config for image polyline human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1PolylineConfig",
      "properties": {
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        },
        "instructionMessage": {
          "description": "Optional. Instruction message showed on contributors UI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata",
      "properties": {
        "dataset": {
          "description": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when generate report request was created."
        }
      },
      "description": "Metadata of an GenerateAnalysisReport operation."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata": {
      "type": "object",
      "description": "Details of LabelImagePolyline operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1OperatorMetadata": {
      "properties": {
        "comments": {
          "description": "Comments from contributors.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "score": {
          "description": "Confidence score corresponding to a label. For examle, if 3 contributors have answered the question and 2 of them agree on the final label, the confidence score will be 0.67 (2/3).",
          "format": "float",
          "type": "number"
        },
        "totalVotes": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of contributors that answer this question."
        },
        "labelVotes": {
          "format": "int32",
          "description": "The total number of contributors that choose this label.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1OperatorMetadata",
      "description": "General information useful for labels coming from contributors."
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "properties": {
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata",
      "type": "object",
      "description": "Metadata of an ImportData operation."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the AnnotationSpec. Maximum of 64 characters.",
          "type": "string"
        },
        "index": {
          "description": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.",
          "type": "string"
        }
      },
      "description": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
      "description": "Metadata of a LabelImageClassification operation.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationValue": {
      "description": "Annotation value for an example.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1AnnotationValue",
      "properties": {
        "imagePolylineAnnotation": {
          "description": "Annotation value for image polyline cases. Polyline here is different from BoundingPoly. It is formed by line segments connected to each other but not closed form(Bounding Poly). The line segments can cross each other.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
        },
        "videoObjectTrackingAnnotation": {
          "description": "Annotation value for video object detection and tracking case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation"
        },
        "imageClassificationAnnotation": {
          "description": "Annotation value for image classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationAnnotation"
        },
        "textClassificationAnnotation": {
          "description": "Annotation value for text classification case.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation"
        },
        "imageBoundingPolyAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageBoundingPolyAnnotation",
          "description": "Annotation value for image bounding box, oriented bounding box and polygon cases."
        },
        "videoClassificationAnnotation": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation",
          "description": "Annotation value for video classification case."
        },
        "videoEventAnnotation": {
          "description": "Annotation value for video event case.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoEventAnnotation"
        },
        "imageSegmentationAnnotation": {
          "description": "Annotation value for image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation"
        },
        "textEntityExtractionAnnotation": {
          "description": "Annotation value for text entity extraction case.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation"
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        }
      },
      "type": "object",
      "description": "Metadata of an ExportData operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "description": "Config for image classification human labeling task.",
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
      "type": "object",
      "properties": {
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        },
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one image.",
          "type": "boolean"
        },
        "answerAggregationType": {
          "description": "Optional. The type of how to aggregate answers.",
          "enum": [
            "STRING_AGGREGATION_TYPE_UNSPECIFIED",
            "MAJORITY_VOTE",
            "UNANIMOUS_VOTE",
            "NO_AGGREGATION"
          ],
          "enumDescriptions": [
            "",
            "Majority vote to aggregate answers.",
            "Unanimous answers will be adopted.",
            "Preserve all answers by crowd compute."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata describing the feedback from the labeling task requester."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsDestination",
      "properties": {
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        }
      },
      "type": "object",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri."
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata": {
      "description": "Metadata of an ImportData operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "description": "Text entity extraction annotation.",
      "properties": {
        "annotationSpec": {
          "description": "Label of the text entities.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "sequentialSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1SequentialSegment",
          "description": "Position of the entity."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "description": "Options regarding evaluation between bounding boxes.",
      "properties": {
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry",
      "type": "object",
      "properties": {
        "itemCount": {
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "format": "int32",
          "type": "integer"
        },
        "annotationSpec": {
          "description": "The annotation spec of a predicted label.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1PdfInstruction": {
      "type": "object",
      "description": "Instruction from a PDF file.",
      "id": "GoogleCloudDatalabelingV1beta1PdfInstruction",
      "properties": {
        "gcsFileUri": {
          "description": "PDF file for the instruction. Only gcs path is allowed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "description": "The configuration of input data, including data type, location, etc.",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ],
          "type": "string",
          "description": "Required. Data type must be specifed when user tries to import data.",
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ]
        },
        "textMetadata": {
          "description": "Required for text import, as language code must be specified.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata"
        },
        "classificationMetadata": {
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification.",
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata"
        },
        "bigquerySource": {
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource",
          "description": "Source located in Cloud Storage."
        },
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
[...]
