{
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/dataflow",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Dataflow",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "revision": "20260910",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "rootUrl": "https://dataflow.googleapis.com/",
  "schemas": {
    "ExecutionStageState": {
      "id": "ExecutionStageState",
      "description": "A message describing the state of a particular execution stage.",
      "type": "object",
      "properties": {
        "currentStateTime": {
          "type": "string",
          "description": "The time at which the stage transitioned to this state.",
          "format": "google-datetime"
        },
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        },
        "executionStageState": {
          "description": "Executions stage states allow the same set of values as JobState.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ]
        }
      }
    },
    "WorkItem": {
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "type": "object",
      "properties": {
        "streamingSetupTask": {
          "$ref": "StreamingSetupTask",
          "description": "Additional information for StreamingSetupTask WorkItems."
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "mapTask": {
          "$ref": "MapTask",
          "description": "Additional information for MapTask WorkItems."
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "packages": {
          "type": "array",
          "items": {
            "$ref": "Package"
          },
          "description": "Any required packages that need to be fetched in order to execute this WorkItem."
        },
        "initialReportIndex": {
          "format": "int64",
          "type": "string",
          "description": "The initial index to use when reporting the status of the WorkItem."
        },
        "projectId": {
          "description": "Identifies the cloud project this WorkItem belongs to.",
          "type": "string"
        },
        "reportStatusInterval": {
          "format": "google-duration",
          "description": "Recommended reporting interval.",
          "type": "string"
        },
        "leaseExpireTime": {
          "description": "Time when the lease on this Work will expire.",
          "format": "google-datetime",
          "type": "string"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "id": {
          "format": "int64",
          "description": "Identifies this WorkItem.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Identifies the workflow job this WorkItem belongs to."
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "streamingConfigTask": {
          "$ref": "StreamingConfigTask",
          "description": "Additional information for StreamingConfigTask WorkItems."
        }
      },
      "id": "WorkItem"
    },
    "CounterMetadata": {
      "properties": {
        "kind": {
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        },
        "otherUnits": {
          "description": "A string referring to the unit type.",
          "type": "string"
        },
        "standardUnits": {
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        }
      },
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "type": "object",
      "id": "CounterMetadata"
    },
    "DebugOptions": {
      "properties": {
        "dataSampling": {
          "description": "Configuration options for sampling elements from a running pipeline.",
          "$ref": "DataSamplingConfig"
        },
        "enableHotKeyLogging": {
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        }
      },
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "type": "object",
      "id": "DebugOptions"
    },
    "Sink": {
      "description": "A sink that records can be encoded and written to.",
      "properties": {
        "codec": {
          "type": "object",
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The sink to write to, plus its parameters."
        }
      },
      "type": "object",
      "id": "Sink"
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "type": "object",
      "properties": {
        "scale": {
          "format": "int32",
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer"
        },
        "numberOfBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "KeyRangeLocation": {
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "deprecatedPersistentDirectory": {
          "deprecated": true,
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        },
        "deliveryEndpoint": {
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery.",
          "type": "string"
        }
      },
      "id": "KeyRangeLocation",
      "type": "object"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "id": "StreamingConfigTask",
      "properties": {
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamingComputationConfigs": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information."
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "windmillServicePort": {
          "format": "int64",
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        },
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "userWorkerRunnerV2Settings": {
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte"
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userWorkerRunnerV1Settings": {
          "type": "string",
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "type": "object",
      "properties": {
        "requestedLeaseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease."
        },
        "dynamicSourceSplit": {
          "$ref": "DynamicSourceSplit",
          "description": "See documentation of stop_position."
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "deprecated": true
        },
        "completed": {
          "type": "boolean",
          "description": "True if the WorkItem was completed (successfully or unsuccessfully)."
        },
        "reportIndex": {
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "type": "string",
          "format": "int64"
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "metricUpdates": {
          "deprecated": true,
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress",
          "deprecated": true
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "type": "array",
          "description": "Worker output counters for this WorkItem."
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double",
          "type": "number"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        }
      },
      "description": "Conveys a worker's progress through the work described by a WorkItem."
    },
    "DynamicSourceSplit": {
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "type": "object",
      "id": "DynamicSourceSplit",
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      }
    },
    "PartialGroupByKeyInstruction": {
      "type": "object",
      "id": "PartialGroupByKeyInstruction",
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "properties": {
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "valueCombiningFn": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The value combining function to invoke."
        },
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "inputElementCodec": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The codec to use for interpreting an element in the input PTable."
        },
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs.",
          "type": "array"
        }
      }
    },
    "StageExecutionDetails": {
      "type": "object",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "workers": {
          "description": "Workers that have done work on the stage.",
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "id": "StageExecutionDetails"
    },
    "BoundedTrie": {
      "type": "object",
      "id": "BoundedTrie",
      "description": "The message type used for encoding metrics of type bounded trie.",
      "properties": {
        "bound": {
          "description": "The maximum number of elements to store before truncation.",
          "type": "integer",
          "format": "int32"
        },
        "root": {
          "$ref": "BoundedTrieNode",
          "description": "A compact representation of all the elements in this trie."
        },
        "singleton": {
          "description": "A more efficient representation for metrics consisting of a single value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LaunchTemplateResponse": {
      "description": "Response to the request to launch a template.",
      "type": "object",
      "id": "LaunchTemplateResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      }
    },
    "ResolveConfigStoreSettingResponse": {
      "properties": {
        "setting": {
          "$ref": "ConfigStoreSetting",
          "description": "The dry-run setting result."
        },
        "choices": {
          "description": "The list of settings that were considered during resolution.",
          "items": {
            "$ref": "ConfigStoreSetting"
          },
          "type": "array"
        }
      },
      "id": "ResolveConfigStoreSettingResponse",
      "description": "Response message for ResolveConfigStoreSetting.",
      "type": "object"
    },
    "WorkerMessageCode": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        },
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        }
      },
      "id": "WorkerMessageCode",
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure)."
    },
    "WriteInstruction": {
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "properties": {
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        },
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        }
      },
      "type": "object",
      "id": "WriteInstruction"
    },
    "SendWorkerMessagesResponse": {
      "id": "SendWorkerMessagesResponse",
      "type": "object",
      "properties": {
        "workerMessageResponses": {
          "type": "array",
          "description": "The servers response to the worker messages.",
          "items": {
            "$ref": "WorkerMessageResponse"
          }
        }
      },
      "description": "The response to the worker messages."
    },
    "ListJobsResponse": {
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "id": "ListJobsResponse",
      "type": "object",
      "properties": {
        "failedLocation": {
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          }
        },
        "jobs": {
          "description": "A subset of the requested job information.",
          "items": {
            "$ref": "Job"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        }
      }
    },
    "Package": {
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        },
        "sha256": {
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start.",
          "type": "string"
        }
      },
      "id": "Package"
    },
    "PubsubLocation": {
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "properties": {
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "dropLateData": {
          "type": "boolean",
          "description": "Indicates whether the pipeline allows late-arriving data."
        },
        "withAttributes": {
          "description": "If true, then the client has requested to get pubsub attributes.",
          "type": "boolean"
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\"",
          "type": "string"
        },
        "dynamicDestinations": {
          "description": "If true, then this location represents dynamic topics.",
          "type": "boolean"
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "idLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort."
        }
      },
      "type": "object",
      "id": "PubsubLocation"
    },
    "MetricValue": {
      "properties": {
        "metric": {
          "description": "Base name for this metric.",
          "type": "string"
        },
        "metricLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of metric labels for this metric.",
          "type": "object"
        },
        "valueHistogram": {
          "$ref": "DataflowHistogramValue",
          "description": "Histogram value of this metric."
        },
        "valueInt64": {
          "description": "Integer value of this metric.",
          "format": "int64",
          "type": "string"
        },
        "valueGauge64": {
          "$ref": "DataflowGaugeValue",
          "description": "Non-cumulative int64 value of this metric."
        }
      },
      "description": "The value of a metric along with its name and labels.",
      "id": "MetricValue",
      "type": "object"
    },
    "Sdk": {
      "description": "A structured representation of an SDK.",
      "type": "object",
      "properties": {
        "stacks": {
          "items": {
            "$ref": "Stack"
          },
          "description": "The stacktraces for the processes running on the SDK harness.",
          "type": "array"
        },
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        }
      },
      "id": "Sdk"
    },
    "WorkerDetails": {
      "description": "Information about a worker",
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "items": {
            "$ref": "WorkItemDetails"
          },
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "WorkerDetails"
    },
    "StreamingSideInputLocation": {
      "id": "StreamingSideInputLocation",
      "type": "object",
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "Identifies the state family where this side input is stored."
        },
        "tag": {
          "type": "string",
          "description": "Identifies the particular side input within the streaming Dataflow job."
        }
      },
      "description": "Identifies the location of a streaming side input."
    },
    "GPUUtilization": {
      "type": "object",
      "properties": {
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1]."
        }
      },
      "description": "Utilization details about the GPU.",
      "id": "GPUUtilization"
    },
    "LaunchTemplateParameters": {
      "id": "LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "properties": {
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "transformNameMapping": {
          "type": "object",
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The runtime parameters to pass to the job."
        }
      },
      "type": "object"
    },
    "StreamingStragglerInfo": {
      "description": "Information useful for streaming straggler identification and debugging.",
      "properties": {
        "systemWatermarkLag": {
          "type": "string",
          "format": "google-duration",
          "description": "The system watermark lag at the time of the straggler detection."
        },
        "dataWatermarkLag": {
          "format": "google-duration",
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string"
        },
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this straggler.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of this straggler."
        }
      },
      "id": "StreamingStragglerInfo",
      "type": "object"
    },
    "DisplayData": {
      "type": "object",
      "id": "DisplayData",
      "properties": {
        "timestampValue": {
          "type": "string",
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime"
        },
        "strValue": {
          "type": "string",
          "description": "Contains value if the data is of string type."
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Contains value if the data is of a boolean type."
        },
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "type": "string",
          "format": "int64"
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "url": {
          "type": "string",
          "description": "An optional full URL."
        },
        "floatValue": {
          "format": "float",
          "description": "Contains value if the data is of float type.",
          "type": "number"
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Contains value if the data is of duration type."
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        }
      },
      "description": "Data provided with a pipeline or transform to provide descriptive info."
    },
    "TransformSummary": {
      "id": "TransformSummary",
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "properties": {
        "name": {
          "type": "string",
          "description": "User provided name for this transform instance."
        },
        "displayData": {
          "type": "array",
          "description": "Transform-specific display data.",
          "items": {
            "$ref": "DisplayData"
          }
        },
        "inputCollectionName": {
          "description": "User names for all collection inputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "SDK generated id of this transform instance."
        },
        "kind": {
          "description": "Type of transform.",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "type": "string"
        },
        "outputCollectionName": {
          "description": "User names for all collection outputs to this transform.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "WorkerShutdownNoticeResponse": {
      "properties": {},
      "id": "WorkerShutdownNoticeResponse",
      "type": "object",
      "description": "Service-side response to WorkerMessage issuing shutdown notice."
    },
    "KeyRangeDataDiskAssignment": {
      "id": "KeyRangeDataDiskAssignment",
      "properties": {
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object"
    },
    "WorkItemServiceState": {
      "properties": {
        "reportStatusInterval": {
          "format": "google-duration",
          "description": "New recommended reporting interval.",
          "type": "string"
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "$ref": "ApproximateProgress",
          "deprecated": true
        },
        "leaseExpireTime": {
          "description": "Time at which the current lease will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "metricShortId": {
          "items": {
            "$ref": "MetricShortId"
          },
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array"
        },
        "harnessData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Other data returned by the service, specific to the particular worker harness."
        },
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "suggestedStopPosition": {
          "$ref": "Position",
          "description": "Obsolete, always empty.",
          "deprecated": true
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64",
          "type": "string"
        },
        "completeWorkStatus": {
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work.",
          "$ref": "Status"
        }
      },
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object",
      "id": "WorkItemServiceState"
    },
    "CPUTime": {
      "description": "Modeled after information exposed by /proc/stat.",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the measurement."
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample."
        },
        "totalMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        }
      },
      "id": "CPUTime",
      "type": "object"
    },
    "WorkerMessage": {
      "type": "object",
      "id": "WorkerMessage",
      "description": "WorkerMessage provides information to the backend about a worker.",
      "properties": {
        "workerThreadScalingReport": {
          "description": "Thread scaling information reported by workers.",
          "$ref": "WorkerThreadScalingReport"
        },
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        },
        "streamingScalingReport": {
          "$ref": "StreamingScalingReport",
          "description": "Contains per-user worker telemetry used in streaming autoscaling."
        },
        "workerMessageCode": {
          "$ref": "WorkerMessageCode",
          "description": "A worker message code."
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the worker_message.",
          "type": "string"
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "type": "object"
        },
        "dataSamplingReport": {
          "description": "Optional. Contains metrics related to go/dataflow-data-sampling-telemetry.",
          "$ref": "DataSamplingReport"
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "perWorkerMetrics": {
          "description": "System defined metrics for this worker.",
          "$ref": "PerWorkerMetrics"
        }
      }
    },
    "LeaseWorkItemResponse": {
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse",
      "type": "object",
      "properties": {
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        },
        "workItems": {
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          },
          "description": "A list of the leased WorkItems."
        }
      }
    },
    "CreateJobFromTemplateRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateJobFromTemplateRequest",
      "description": "A request to create a Cloud Dataflow job from a template."
    },
    "BigTableIODetails": {
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "id": "BigTableIODetails",
      "type": "object"
    },
    "StreamingComputationTask": {
      "properties": {
        "computationRanges": {
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to."
        },
        "taskType": {
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string",
          "description": "A type of streaming computation task."
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          }
        }
      },
      "type": "object",
      "id": "StreamingComputationTask",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges."
    },
    "MapTask": {
      "properties": {
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "instructions": {
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        },
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MapTask",
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output."
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "type": "object",
      "description": "Describes the state of a metric.",
      "properties": {
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime",
          "type": "string"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "distribution": {
          "type": "any",
          "description": "A struct value describing properties of a distribution of numeric values."
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        },
        "boundedTrie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field."
        }
      }
    },
    "MountedDataDisk": {
      "type": "object",
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "id": "MountedDataDisk",
      "description": "Describes mounted data disk."
    },
    "JobMetrics": {
      "type": "object",
      "id": "JobMetrics",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metrics": {
          "description": "All metrics for this job.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        },
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "properties": {
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "byteOffset": {
          "description": "Position is a byte offset.",
          "format": "int64",
          "type": "string"
        },
        "recordIndex": {
          "description": "Position is a record index.",
          "format": "int64",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        }
      },
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index."
    },
    "Stack": {
      "properties": {
        "threadState": {
          "description": "The state of the thread. For example, \"WAITING\".",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp at which the stack was captured.",
          "format": "google-datetime",
          "type": "string"
        },
        "threadName": {
          "type": "string",
          "description": "Thread name. For example, \"CommitThread-0,10,main\""
        },
        "stackContent": {
          "type": "string",
          "description": "The raw stack trace."
        },
        "threadCount": {
          "format": "int32",
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A structuredstacktrace for a process running on the worker.",
      "id": "Stack"
    },
    "ReportedParallelism": {
      "type": "object",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "properties": {
        "isInfinite": {
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
          "type": "boolean"
        },
        "value": {
          "type": "number",
          "description": "Specifies the level of parallelism in case it is finite.",
          "format": "double"
        }
      },
      "id": "ReportedParallelism"
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "serviceResources": {
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "readOnly": true,
          "$ref": "ServiceResources"
        },
        "currentStateTime": {
          "description": "The timestamp associated with the current state.",
          "type": "string",
          "format": "google-datetime"
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that the job belongs to.",
          "type": "string"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "tempFiles": {
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "items": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "type": "string",
          "format": "google-datetime"
        },
        "transformNameMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size."
        },
        "name": {
          "type": "string",
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "stepsLocation": {
          "description": "The Cloud Storage location where the steps are stored.",
          "type": "string"
        },
        "type": {
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "type": "string",
          "description": "Optional. The type of Dataflow job.",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ]
        },
        "pausable": {
          "description": "Output only. Indicates whether the job can be paused.",
          "type": "boolean",
          "readOnly": true
        },
        "environment": {
          "description": "Optional. The environment for the job.",
          "$ref": "Environment"
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "currentState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it."
        },
        "requestedState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ]
        },
        "stageStates": {
          "type": "array",
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "items": {
            "$ref": "ExecutionStageState"
          }
        },
        "steps": {
          "type": "array",
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "items": {
            "$ref": "Step"
          }
        },
        "runtimeUpdatableParams": {
          "$ref": "RuntimeUpdatableParams",
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation."
        },
        "jobMetadata": {
          "$ref": "JobMetadata",
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher."
        }
      }
    },
    "ConfigStoreSettingValue": {
      "description": "Represents a dynamically typed value.",
      "id": "ConfigStoreSettingValue",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "InstructionOutput": {
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of this output. Unique across the workflow."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of this output."
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "codec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data being written via this output."
        }
      },
      "description": "An output of an instruction.",
      "type": "object",
      "id": "InstructionOutput"
    },
    "FlattenInstruction": {
      "type": "object",
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array"
        }
      }
    },
    "ComputationTopology": {
      "type": "object",
      "id": "ComputationTopology",
      "description": "All configuration data for a particular Computation.",
      "properties": {
        "outputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The outputs from the computation."
        },
        "stateFamilies": {
          "description": "The state family values.",
          "type": "array",
          "items": {
            "$ref": "StateFamilyConfig"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "systemStageName": {
          "description": "The system stage name.",
          "type": "string"
        },
        "keyRanges": {
          "type": "array",
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        },
        "inputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "description": "The inputs to the computation.",
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "description": "Represents a snapshot of a job.",
      "id": "Snapshot",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "pubsubMetadata": {
          "description": "Pub/Sub snapshot metadata.",
          "type": "array",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The time after which this snapshot will be automatically deleted."
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "state": {
          "description": "State of the snapshot.",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "The time this snapshot was created.",
          "type": "string"
        }
      }
    },
    "SourceOperationRequest": {
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "id": "SourceOperationRequest",
      "properties": {
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User-provided name of the Read instruction for this source."
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "split": {
          "$ref": "SourceSplitRequest",
          "description": "Information about a request to split a source."
        }
      },
      "type": "object"
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "type": "object",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "autoscalingEvents": {
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        }
      },
      "description": "Response to a request to list job messages."
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      },
      "id": "MultiOutputInfo"
    },
    "StragglerSummary": {
      "type": "object",
      "description": "Summarized straggler identification details.",
      "id": "StragglerSummary",
      "properties": {
        "totalStragglerCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of stragglers."
        },
        "stragglerCauseCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "type": "object"
        },
        "recentStragglers": {
          "type": "array",
          "description": "The most recent stragglers.",
          "items": {
            "$ref": "Straggler"
          }
        }
      }
    },
    "Parameters": {
      "type": "object",
      "description": "The parameters to use for autoscaling when this schedule is active.",
      "id": "Parameters",
      "properties": {
        "maxWorkerCount": {
          "format": "int32",
          "description": "Optional. The maximum number of workers for this schedule.",
          "type": "integer"
        },
        "cpuUtilizationTarget": {
          "description": "Optional. The target CPU utilization for this schedule.",
          "format": "double",
          "type": "number"
        },
        "minWorkerCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The minimum number of workers for this schedule."
        },
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "type": "boolean",
          "description": "Whether this source is stateful."
        }
      },
      "type": "object"
    },
    "PubSubIODetails": {
      "type": "object",
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "properties": {
        "topic": {
          "description": "Topic accessed in the connection.",
          "type": "string"
        },
        "subscription": {
          "description": "Subscription used in the connection.",
          "type": "string"
        }
      },
      "id": "PubSubIODetails"
    },
    "RuntimeEnvironment": {
      "type": "object",
      "id": "RuntimeEnvironment",
      "properties": {
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "numWorkers": {
          "type": "integer",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11.",
          "format": "int32"
        },
        "diskSizeGb": {
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance.",
          "type": "integer",
          "format": "int32"
        },
        "enableStreamingEngine": {
          "description": "Optional. Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "tempLocation": {
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of the service account to run the job as.",
          "type": "string"
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "type": "array"
        },
        "network": {
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "description": "Optional. Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "additionalPipelineOptions": {
[...]
