{
  "title": "Datastream API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version_module": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "protocol": "rest",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "name": "datastream",
  "batchPath": "batch",
  "canonicalName": "Datastream",
  "revision": "20260707",
  "version": "v1",
  "description": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://datastream.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "deprecated": true,
      "location": "us-central2"
    },
    {
      "location": "us-west8",
      "deprecated": true,
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west8.rep.googleapis.com/"
    }
  ],
  "documentationLink": "https://cloud.google.com/datastream/",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "rootUrl": "https://datastream.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "id": "datastream.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "httpMethod": "GET"
            },
            "fetchStaticIps": {
              "path": "v1/{+name}:fetchStaticIps",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "datastream.projects.locations.fetchStaticIps",
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of Ips to return, will likely not be specified.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListStaticIps` call. will likely not be specified.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "datastream.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "id": "datastream.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "id": "datastream.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datastream.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                }
              }
            },
            "streams": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/streams",
                  "httpMethod": "POST",
                  "description": "Use this method to create a stream.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "streamId": {
                      "description": "Required. The stream identifier.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the stream, but don't create any resources. The default is false.",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. Create the stream without validating it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent that owns the collection of streams.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "id": "datastream.projects.locations.streams.create",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/streams",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.streams.list",
                  "response": {
                    "$ref": "ListStreamsResponse"
                  },
                  "description": "Use this method to list streams in a project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of streams.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter request.",
                      "location": "query"
                    }
                  }
                },
                "run": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:run",
                  "description": "Use this method to start, resume or recover a stream with a non default CDC strategy.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the stream resource to start, in the format: projects/{project_id}/locations/{location}/streams/{stream_name}",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RunStreamRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.streams.run",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:run"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the stream resource to get.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Use this method to get details about a stream.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.get",
                  "response": {
                    "$ref": "Stream"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the stream resource to delete.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Use this method to delete a stream.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. Identifier. The stream's name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. Update the stream without validating it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "description": "Use this method to update the configuration of a stream.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.patch",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "objects": {
                  "methods": {
                    "lookup": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/objects:lookup",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "id": "datastream.projects.locations.streams.objects.lookup",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects:lookup",
                      "description": "Use this method to look up a stream object by its source object identifier.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent stream that owns the collection of objects."
                        }
                      },
                      "request": {
                        "$ref": "LookupStreamObjectRequest"
                      }
                    },
                    "get": {
                      "id": "datastream.projects.locations.streams.objects.get",
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the stream object resource to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      },
                      "description": "Use this method to get details about a stream object.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "description": "Use this method to list the objects of a specific stream.",
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/objects"
                    },
                    "startBackfillJob": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "object"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+object}:startBackfillJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "description": "Use this method to start a backfill job for the specified stream object.",
                      "parameters": {
                        "object": {
                          "location": "path",
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "StartBackfillJobRequest"
                      },
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob"
                    },
                    "stopBackfillJob": {
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob",
                      "parameters": {
                        "object": {
                          "required": true,
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "StopBackfillJobRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "description": "Use this method to stop a backfill job for the specified stream object.",
                      "httpMethod": "POST",
                      "path": "v1/{+object}:stopBackfillJob",
                      "parameterOrder": [
                        "object"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token."
                    },
                    "orderBy": {
                      "description": "Optional. Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter request.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/connectionProfiles"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "description": "Use this method to create a connection profile in a project and location.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the connection profile, but don't create any resources. The default is false."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent that owns the collection of ConnectionProfiles.",
                      "location": "path"
                    },
                    "connectionProfileId": {
                      "location": "query",
                      "description": "Required. The connection profile identifier.",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Create the connection profile without validating it."
                    }
                  },
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/connectionProfiles"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Only validate the connection profile, but don't update any resources. The default is false."
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Update the connection profile without validating it."
                    },
                    "name": {
                      "location": "path",
                      "description": "Output only. Identifier. The resource's name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ConnectionProfile"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "description": "Use this method to update the parameters of a connection profile.",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "discover": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/connectionProfiles:discover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.discover",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects of a parent data object that's optionally supplied in the request.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the connection profile type. Must be in the format `projects/*/locations/*`."
                    }
                  },
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.get",
                  "response": {
                    "$ref": "ConnectionProfile"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the connection profile resource to get.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Use this method to get details about a connection profile.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "description": "Use this method to delete a connection profile.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The name of the connection profile resource to delete.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "privateConnections": {
              "methods": {
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Order by fields for the result."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter request.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of private connectivity configurations.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum number of private connectivity configurations to return. If unspecified, at most 50 private connectivity configurations that will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Use this method to list private connectivity configurations in a project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "id": "datastream.projects.locations.privateConnections.list",
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/privateConnections",
                  "httpMethod": "GET"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/privateConnections",
                  "httpMethod": "POST",
                  "description": "Use this method to create a private connectivity configuration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "parameters": {
                    "privateConnectionId": {
                      "description": "Required. The private connectivity identifier.",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, will skip validations.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. When supplied with PSC Interface config, will get/create the tenant project required for the customer to allow list and won't actually create the private connection."
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "id": "datastream.projects.locations.privateConnections.create",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "description": "Use this method to get details about a private connectivity configuration.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the private connectivity configuration to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "id": "datastream.projects.locations.privateConnections.get"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "description": "Use this method to delete a private connectivity configuration.",
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, any child routes that belong to this PrivateConnection will also be deleted.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the private connectivity configuration to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "routes": {
                  "methods": {
                    "list": {
                      "id": "datastream.projects.locations.privateConnections.routes.list",
                      "response": {
                        "$ref": "ListRoutesResponse"
                      },
                      "description": "Use this method to list routes created for a private connectivity configuration in a project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Order by fields for the result.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListRoutes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRoutes` must match the call that provided the page token."
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routess.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of Routes to return. The service may return fewer than this value. If unspecified, at most 50 Routes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "filter": {
                          "description": "Optional. Filter request.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/routes",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "routeId": {
                          "type": "string",
                          "description": "Required. The Route identifier.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent that owns the collection of Routes.",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Route"
                      },
                      "description": "Use this method to create a route for a private connectivity configuration in a project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "path": "v1/{+parent}/routes",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "datastream.projects.locations.privateConnections.routes.get",
                      "response": {
                        "$ref": "Route"
                      },
                      "description": "Use this method to get details about a route.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the Route resource to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes/{routesId}",
                      "description": "Use this method to delete a route.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+/routes/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the Route resource to delete.",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "datastream.projects.locations.privateConnections.routes.delete"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile."
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        }
      },
      "description": "Oracle SSL configuration information."
    },
    "SalesforceMarketingCloudProfile": {
      "id": "SalesforceMarketingCloudProfile",
      "description": "Profile for connecting to a Salesforce Marketing Cloud source.",
      "type": "object",
      "properties": {
        "subdomain": {
          "type": "string",
          "description": "Required. Subdomain for the Salesforce Marketing Cloud connection. Example: if your specific endpoint is `https://{your-specific-subdomain}.rest.marketingcloudapis.com/`, the subdomain is `{your-specific-subdomain}`. Must be 1-63 characters, start and end with an alphanumeric character, and contain only lowercase letters, numbers, and hyphens (-)."
        },
        "oauthClientCredentials": {
          "description": "Required. Input only. Credentials for authenticating with the Salesforce Marketing Cloud API.",
          "$ref": "OauthClientCredentials"
        }
      }
    },
    "SqlServerLsnPosition": {
      "type": "object",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      },
      "description": "SQL Server LSN position",
      "id": "SqlServerLsnPosition"
    },
    "PostgresqlProfile": {
      "description": "Profile for connecting to a PostgreSQL source.",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the PostgreSQL connection."
        },
        "database": {
          "type": "string",
          "description": "Required. Database for the PostgreSQL connection."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the PostgreSQL connection."
        },
        "port": {
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "type": "integer",
          "format": "int32"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "PostgresqlSslConfig",
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)"
        }
      },
      "id": "PostgresqlProfile"
    },
    "MongodbSslConfig": {
      "id": "MongodbSslConfig",
      "type": "object",
      "properties": {
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "type": "boolean",
          "readOnly": true
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory."
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "type": "boolean",
          "readOnly": true
        },
        "caCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "caCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true
        }
      },
      "description": "MongoDB SSL configuration information."
    },
    "StaticServiceIpConnectivity": {
      "type": "object",
      "properties": {},
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "id": "StaticServiceIpConnectivity"
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "type": "object",
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      },
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC."
    },
    "DropLargeObjects": {
      "id": "DropLargeObjects",
      "description": "Configuration to drop large object values.",
      "type": "object",
      "properties": {}
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response containing a list of private connection configurations.",
      "type": "object",
      "properties": {
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPrivateConnectionsResponse"
    },
    "StreamLargeObjects": {
      "id": "StreamLargeObjects",
      "type": "object",
      "properties": {},
      "description": "Configuration to stream large object values."
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "description": "Contains the current validation results.",
      "type": "object",
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "type": "array",
          "items": {
            "$ref": "Validation"
          }
        }
      }
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "description": "Request message for 'discover' ConnectionProfile request.",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata."
        },
        "fullHierarchy": {
          "type": "boolean",
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Optional. Spanner database to enrich with child data objects and metadata."
        },
        "hierarchyDepth": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved."
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "postgresqlRdbms": {
          "$ref": "PostgresqlRdbms",
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata."
        },
        "connectionProfileName": {
          "type": "string",
          "description": "Optional. A reference to an existing connection profile."
        },
        "salesforceOrg": {
          "$ref": "SalesforceOrg",
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata."
        },
        "sqlServerRdbms": {
          "$ref": "SqlServerRdbms",
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata."
        },
        "sourceCatalog": {
          "description": "Optional. Source catalog to enrich with child data objects and metadata. This is mainly used to represent SaaS sources databases.",
          "$ref": "SourceCatalog"
        }
      }
    },
    "MysqlSourceConfig": {
      "id": "MysqlSourceConfig",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "binaryLogPosition": {
          "$ref": "BinaryLogPosition",
          "description": "Use Binary log position based replication."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent CDC tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used."
        },
        "gtid": {
          "$ref": "Gtid",
          "description": "Use GTID based replication."
        },
        "excludeObjects": {
          "description": "The MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        }
      },
      "description": "Configuration for syncing data from a MySQL source."
    },
    "SourceObjectIdentifier": {
      "id": "SourceObjectIdentifier",
      "type": "object",
      "properties": {
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        },
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "salesforceIdentifier": {
          "$ref": "SalesforceObjectIdentifier",
          "description": "Salesforce data source object identifier."
        },
        "mongodbIdentifier": {
          "description": "MongoDB data source object identifier.",
          "$ref": "MongodbObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "description": "SQLServer data source object identifier.",
          "$ref": "SqlServerObjectIdentifier"
        },
        "postgresqlIdentifier": {
          "$ref": "PostgresqlObjectIdentifier",
          "description": "PostgreSQL data source object identifier."
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        }
      },
      "description": "Represents an identifier of an object in the data source."
    },
    "IngestionTimePartition": {
      "id": "IngestionTimePartition",
      "type": "object",
      "properties": {
        "partitioningTimeGranularity": {
          "type": "string",
          "description": "Optional. Partition granularity",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ]
        }
      },
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time"
    },
    "SalesforceObjectIdentifier": {
      "type": "object",
      "properties": {
        "objectName": {
          "type": "string",
          "description": "Required. The object name."
        }
      },
      "description": "Salesforce data source object identifier.",
      "id": "SalesforceObjectIdentifier"
    },
    "VpcPeeringConfig": {
      "type": "object",
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. A free subnet for peering. (CIDR of /29)"
        },
        "vpc": {
          "description": "Required. Fully qualified name of the VPC that Datastream will peer to. Format: `projects/{project}/global/{networks}/{name}`",
          "type": "string"
        }
      },
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "id": "VpcPeeringConfig"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "description": "Describes additional debugging info.",
      "type": "object",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Additional debugging information provided by the server."
        },
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "description": "The stack trace entries indicating where the error occurred.",
          "type": "array"
        }
      }
    },
    "PreconditionFailure": {
      "id": "PreconditionFailure",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
    },
    "RetryInfo": {
      "type": "object",
      "properties": {
        "retryDelay": {
          "description": "Clients should wait at least this long between retrying the same request.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "id": "RetryInfo"
    },
    "DatasetTemplate": {
      "id": "DatasetTemplate",
      "type": "object",
      "properties": {
        "datasetIdPrefix": {
          "type": "string",
          "description": "If supplied, every created dataset will have its name prefixed by the provided value. The prefix and name will be separated by an underscore. i.e. _."
        },
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key. i.e. projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{cryptoKey}. See https://cloud.google.com/bigquery/docs/customer-managed-encryption for more information.",
          "type": "string"
        }
      },
      "description": "Dataset template used for dynamic dataset creation."
    },
    "OracleAsmLogFileAccess": {
      "description": "Configuration to use Oracle ASM to access the log files.",
      "type": "object",
      "properties": {},
      "id": "OracleAsmLogFileAccess"
    },
    "RunStreamRequest": {
      "id": "RunStreamRequest",
      "type": "object",
      "properties": {
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      },
      "description": "Request message for running a stream."
    },
    "OracleSourceConfig": {
      "type": "object",
      "properties": {
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        },
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "logMiner": {
          "$ref": "LogMiner",
          "description": "Use LogMiner."
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        }
      },
      "description": "Configuration for syncing data from an Oracle source.",
      "id": "OracleSourceConfig"
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        },
        "level": {
          "description": "Message severity level (warning or error).",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ]
        },
        "code": {
          "type": "string",
          "description": "A custom code identifying this specific message."
        }
      },
      "description": "Represent user-facing validation result message."
    },
    "GcsProfile": {
      "description": "Profile for connecting to a Cloud Storage destination.",
      "type": "object",
      "properties": {
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        }
      },
      "id": "GcsProfile"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "NextAvailableStartPosition": {
      "id": "NextAvailableStartPosition",
      "type": "object",
      "properties": {},
      "description": "CDC strategy to resume replication from the next available position in the source."
    },
    "BinaryLogParser": {
      "type": "object",
      "properties": {
        "logFileDirectories": {
          "$ref": "LogFileDirectories",
          "description": "Use Oracle directories."
        },
        "oracleAsmLogFileAccess": {
          "description": "Use Oracle ASM.",
          "$ref": "OracleAsmLogFileAccess"
        }
      },
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "id": "BinaryLogParser"
    },
    "OracleSchema": {
[...]
