{
  "canonicalName": "Data Manager",
  "title": "Data Manager API",
  "name": "datamanager",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260708",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/data-manager",
  "batchPath": "batch",
  "resources": {
    "adEvents": {
      "methods": {
        "ingest": {
          "request": {
            "$ref": "IngestAdEventsRequest"
          },
          "response": {
            "$ref": "IngestAdEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "id": "datamanager.adEvents.ingest",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/adEvents:ingest",
          "description": "Uploads a list of AdEvent resources to Google Analytics. This feature is only available to accounts on an allowlist.",
          "parameterOrder": [],
          "flatPath": "v1/adEvents:ingest"
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "parameterOrder": [],
          "flatPath": "v1/events:ingest",
          "parameters": {},
          "path": "v1/events:ingest",
          "description": "Uploads a list of Event resources from the provided Destination.",
          "id": "datamanager.events.ingest",
          "httpMethod": "POST",
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "httpMethod": "GET",
          "id": "datamanager.requestStatus.retrieve",
          "description": "Gets the status of a request given request id.",
          "path": "v1/requestStatus:retrieve",
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "type": "string"
            }
          },
          "flatPath": "v1/requestStatus:retrieve",
          "parameterOrder": []
        }
      }
    },
    "audienceMembers": {
      "methods": {
        "ingest": {
          "flatPath": "v1/audienceMembers:ingest",
          "parameterOrder": [],
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "parameters": {},
          "path": "v1/audienceMembers:ingest",
          "id": "datamanager.audienceMembers.ingest",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          },
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          }
        },
        "remove": {
          "httpMethod": "POST",
          "id": "datamanager.audienceMembers.remove",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameterOrder": [],
          "flatPath": "v1/audienceMembers:remove",
          "path": "v1/audienceMembers:remove",
          "parameters": {},
          "description": "Removes a list of AudienceMember resources from the provided Destination."
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "insights": {
              "methods": {
                "retrieve": {
                  "httpMethod": "POST",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "path": "v1/{+parent}/insights:retrieve",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "create": {
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/partnerLinks",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "httpMethod": "POST"
                },
                "search": {
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 50 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` - `feature_set` For partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set, the following fields are also supported: - `partner_customer_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/partnerLinks:search",
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}"
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "patch": {
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Identifier. The resource name of the user list global license.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "httpMethod": "PATCH",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch"
                },
                "list": {
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/userListGlobalLicenses"
                },
                "create": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the user list global license.",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}"
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "httpMethod": "GET",
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "type": "string",
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "userLists": {
              "methods": {
                "list": {
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(display_name, \"name1\", \"name2\")` Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`"
                    }
                  },
                  "path": "v1/{+parent}/userLists"
                },
                "delete": {
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "request": {
                    "$ref": "UserList"
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of fields to update."
                    }
                  },
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "response": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userLists.get"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "request": {
                    "$ref": "UserList"
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "path": "v1/{+parent}/userLists",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If true, the request is validated but not executed."
                    }
                  },
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "httpMethod": "GET",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "description": "Required. The resource name of the user list direct license.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the user list direct license.",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Supported Functions:** - `IN(field, value1, value2, ...)`: returns true if the field matches any of the values. Example: `IN(user_list_id, 123, 456)` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "UserProperty": {
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "properties": {
        "propertyName": {
          "description": "Required. The name of the user property to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the user property to use.",
          "type": "string"
        }
      },
      "id": "UserProperty",
      "type": "object"
    },
    "PartnerAudienceInfo": {
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "properties": {
        "partnerAudienceSource": {
          "type": "string",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ]
        },
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        }
      },
      "id": "PartnerAudienceInfo",
      "type": "object"
    },
    "DeviceInfo": {
      "description": "Information about the device being used (if any) when the event happened.",
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "model": {
          "description": "Optional. The model of the device.",
          "type": "string"
        },
        "browser": {
          "description": "Optional. The brand or type of the browser.",
          "type": "string"
        },
        "browserVersion": {
          "description": "Optional. The version of the browser.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Optional. The operating system or platform of the device.",
          "type": "string"
        },
        "screenWidth": {
          "description": "Optional. The width of the screen in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "operatingSystemVersion": {
          "description": "Optional. The version of the operating system or platform.",
          "type": "string"
        },
        "category": {
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”.",
          "type": "string"
        },
        "userAgent": {
          "description": "Optional. The user-agent string of the device for the given context.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. **Note:** Google Ads does not support IP address matching for end users in the European Economic Area (EEA), United Kingdom (UK), or Switzerland (CH). Add logic to conditionally exclude sharing IP addresses from users from these regions and ensure that you provide users with clear and comprehensive information about the data you collect on your sites, apps, and other properties and get consent where required by law or any applicable Google policies. See the [About offline conversion imports](https://support.google.com/google-ads/answer/2998031) page for more details.",
          "type": "string"
        },
        "screenHeight": {
          "description": "Optional. The height of the screen in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IngestAdEventsResponse": {
      "description": "Response from an ad event ingestion operation.",
      "properties": {},
      "id": "IngestAdEventsResponse",
      "type": "object"
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "properties": {
        "userIdentifiers": {
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "type": "array"
        }
      },
      "id": "UserData",
      "type": "object"
    },
    "IngestCompositeDataStatus": {
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestCompositeDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "dataTypeCounts": {
          "type": "array",
          "items": {
            "$ref": "DataTypeCount"
          },
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not."
        },
        "uploadMatchRateRange": {
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "description": "The match rate range of the upload.",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        }
      }
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "id": "Destination",
      "type": "object",
      "properties": {
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        }
      }
    },
    "UserIdData": {
      "description": "User id data holding the user id.",
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      },
      "id": "UserIdData",
      "type": "object"
    },
    "UserList": {
      "properties": {
        "membershipDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error."
        },
        "accountAccessStatus": {
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "integrationCode": {
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems.",
          "type": "string"
        },
        "sizeInfo": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "$ref": "SizeInfo"
        },
        "description": {
          "description": "Optional. A description of the user list.",
          "type": "string"
        },
        "accessReason": {
          "type": "string",
          "description": "Output only. The reason this account has been granted access to the list.",
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "readOnly": true,
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ]
        },
        "readOnly": {
          "readOnly": true,
          "description": "Output only. An option that indicates if a user may edit a list.",
          "type": "boolean"
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the user list."
        },
        "membershipStatus": {
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "description": "Optional. Membership status of this user list.",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        },
        "closingReason": {
          "readOnly": true,
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "type": "string"
        }
      },
      "id": "UserList",
      "type": "object",
      "description": "A user list resource."
    },
    "RemoveUserDataStatus": {
      "description": "The status of the user data removal from the destination.",
      "id": "RemoveUserDataStatus",
      "type": "object",
      "properties": {
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PairData": {
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "properties": {
        "pairIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array"
        }
      },
      "id": "PairData",
      "type": "object"
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "properties": {
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        },
        "keyType": {
          "type": "string",
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        }
      },
      "id": "GcpWrappedKeyInfo",
      "type": "object"
    },
    "IngestedUserListInfo": {
      "properties": {
        "uploadKeyTypes": {
          "type": "array",
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ],
            "type": "string"
          }
        },
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        },
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        }
      },
      "id": "IngestedUserListInfo",
      "type": "object",
      "description": "Represents a user list that is populated by user provided data."
    },
    "TargetNetworkInfo": {
      "id": "TargetNetworkInfo",
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true,
          "type": "boolean"
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      },
      "description": "Eligibility information for different target networks."
    },
    "UserIdentifier": {
      "properties": {
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        }
      },
      "id": "UserIdentifier",
      "type": "object",
      "description": "A single identifier for the user."
    },
    "RetrieveInsightsRequest": {
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest",
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        },
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        }
      }
    },
    "AdEvent": {
      "id": "AdEvent",
      "type": "object",
      "properties": {
        "platform": {
          "type": "string",
          "description": "Enum value for platform.",
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ]
        },
        "mobileDeviceId": {
          "description": "Optional. The device ID of the device that the ad was served to.",
          "type": "string"
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "targetingTypeString": {
          "description": "String value for targeting type.",
          "type": "string"
        },
        "platformString": {
          "description": "String value for platform.",
          "type": "string"
        },
        "adFormat": {
          "description": "Enum value for ad format.",
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ],
          "type": "string"
        },
        "advertiserId": {
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow.",
          "type": "string"
        },
        "adWidth": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The width of the ad in pixels."
        },
        "regionCode": {
          "description": "Required. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        },
        "viewabilityInfo": {
          "description": "Required. Details of the viewability of the ad served.",
          "$ref": "ViewabilityInfo"
        },
        "adPlacement": {
          "type": "string",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ],
          "description": "Enum value for ad placement.",
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ]
        },
        "eventSubtype": {
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ],
          "description": "Enum value for event subtype.",
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ],
          "type": "string"
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "campaignId": {
          "description": "Required. The ID of the associated campaign.",
          "type": "string"
        },
        "eventType": {
          "type": "string",
          "description": "Required. The type of the event.",
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ]
        },
        "adPlacementString": {
          "description": "String value for ad placement.",
          "type": "string"
        },
        "eventId": {
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional.",
          "type": "string"
        },
        "userData": {
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found.",
          "$ref": "UserData"
        },
        "adHeight": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The height of the ad in pixels."
        },
        "platformType": {
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "description": "Enum value for platform type.",
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ]
        },
        "deviceInfo": {
          "description": "Optional. Information gathered about the device being used when the ad event happened.",
          "$ref": "DeviceInfo"
        },
        "attributionHint": {
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports.",
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "type": "string"
        },
        "platformTypeString": {
          "description": "String value for platform type.",
          "type": "string"
        },
        "source": {
          "description": "Required. The platform source of the ad, akin to the Google Analytics source.",
          "type": "string"
        },
        "targetingType": {
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ],
          "description": "Enum value for targeting type.",
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ]
        },
        "timestamp": {
          "description": "Required. The time the event occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "adType": {
          "type": "string",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "description": "Enum value for ad type.",
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ]
        },
        "adFormatString": {
          "description": "String value for ad format.",
          "type": "string"
        },
        "measurementAllowed": {
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction.",
          "type": "boolean"
        },
        "campaignName": {
          "description": "Required. The name of the associated campaign.",
          "type": "string"
        },
        "medium": {
          "description": "Required. The medium of the ad, akin to the Google Analytics medium.",
          "type": "string"
        }
      },
      "description": "An ad event."
    },
    "RemovePpidDataStatus": {
      "description": "The status of the ppid data removal from the destination.",
      "id": "RemovePpidDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "type": "object",
      "properties": {
        "clickCount": {
          "readOnly": true,
          "description": "Output only. The number of clicks for the user list license.",
          "format": "int64",
          "type": "string"
        },
        "impressionCount": {
          "description": "Output only. The number of impressions for the user list license.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "revenueUsdMicros": {
          "readOnly": true,
          "description": "Output only. The revenue for the user list license in USD micros.",
          "format": "int64",
          "type": "string"
        },
        "startDate": {
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "readOnly": true
        }
      },
      "description": "Metrics related to a user list license."
    },
    "MobileIdInfo": {
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "properties": {
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "dataSourceType": {
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "keySpace": {
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ]
        }
      },
      "id": "MobileIdInfo",
      "type": "object"
    },
    "MarketingDataInsightsAttribute": {
      "description": "Insights for a collection of related attributes of the same dimension.",
      "id": "MarketingDataInsightsAttribute",
      "type": "object",
      "properties": {
        "gender": {
          "type": "string",
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ]
        },
        "lift": {
          "format": "float",
          "type": "number",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
        },
        "userInterestId": {
          "format": "int64",
          "type": "string",
          "description": "The user interest ID."
        },
        "ageRange": {
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ]
        }
      }
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "RemoveAudienceMembersResponse",
      "type": "object",
      "description": "Response from the RemoveAudienceMembersRequest."
    },
    "IngestMobileDataStatus": {
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "id": "IngestMobileDataStatus",
      "type": "object"
    },
    "ProductAccount": {
      "id": "ProductAccount",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Deprecated. Use `account_type` instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ]
        },
        "accountType": {
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ],
          "type": "string"
        }
      },
      "description": "Represents a specific account."
    },
    "Event": {
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "properties": {
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the event occurred."
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for events sent as an additional data source for tag conversions.",
          "type": "string"
        },
        "conversionValue": {
          "format": "double",
          "type": "number",
          "description": "Optional. The conversion value associated with the event, for value-based conversions."
        },
        "additionalEventParameters": {
          "items": {
            "$ref": "EventParameter"
          },
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "eventLocation": {
          "description": "Optional. Information gathered about the location of the user when this event occurred.",
          "$ref": "EventLocation"
        },
        "conversionCount": {
          "description": "Optional. The conversion quantity associated with the event, for counting-based conversions.",
          "type": "number",
          "format": "double"
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "experimentalFields": {
          "type": "array",
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "items": {
            "$ref": "ExperimentalField"
          }
        },
        "thirdPartyUserData": {
          "description": "Optional. The same type of data provided in user_data, but explicitly flagged as being provided as owned by a third-party and not first-party advertiser data.",
          "$ref": "UserData"
        },
        "appInstanceId": {
          "description": "Optional. A unique identifier for the user instance of an app client for this GA4 app stream.",
          "type": "string"
        },
        "currency": {
          "description": "Optional. The currency code associated with all monetary values within this event.",
          "type": "string"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "eventSource": {
          "type": "string",
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from a message.",
            "The event was generated from other sources."
          ],
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "MESSAGE",
            "OTHER"
          ]
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "lastUpdatedTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The last time the event was updated."
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity)."
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        }
      },
      "id": "Event",
      "type": "object"
    },
    "RemoveAudienceMembersRequest": {
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "properties": {
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to remove the users from."
        },
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to remove.",
          "type": "array"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "RemoveAudienceMembersRequest",
      "type": "object"
    },
    "Baseline": {
      "description": "Baseline criteria against which insights are compared.",
      "id": "Baseline",
      "type": "object",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "description": "Response from the IngestAudienceMembersRequest.",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "IngestAudienceMembersResponse",
      "type": "object"
    },
    "IngestEventsResponse": {
      "id": "IngestEventsResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestEventsRequest."
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "type": "array",
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      },
      "description": "Response from the RetrieveRequestStatusRequest."
    },
    "RetrieveInsightsResponse": {
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "type": "array"
        }
      },
      "id": "RetrieveInsightsResponse",
      "type": "object",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "AdIdentifiers": {
      "properties": {
        "gclid": {
          "description": "Optional. The Google click ID (gclid) associated with this event.",
          "type": "string"
        },
        "encryptedUserIds": {
          "items": {
            "$ref": "EncryptedUserId"
          },
          "description": "Optional. Any number of encrypted user IDs.",
          "type": "array"
        },
        "wbraid": {
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers.",
          "type": "string"
        },
        "matchId": {
          "description": "Optional. The match ID field used to join this event with a previous event.",
          "type": "string"
        },
        "dclid": {
          "description": "Optional. The display click ID associated with this event.",
          "type": "string"
        },
        "impressionId": {
          "description": "Optional. The impression ID associated with this event.",
          "type": "string"
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        }
      },
      "id": "AdIdentifiers",
      "type": "object",
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks)."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
[...]
