{
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://deploymentmanager.googleapis.com/",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        }
      }
    }
  },
  "protocol": "rest",
  "title": "Cloud Deployment Manager V2 API",
  "batchPath": "batch",
  "version": "alpha",
  "kind": "discovery#restDescription",
  "revision": "20260827",
  "ownerDomain": "google.com",
  "canonicalName": "Deployment Manager",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "documentationLink": "https://cloud.google.com/deployment-manager",
  "mtlsRootUrl": "https://deploymentmanager.mtls.googleapis.com/",
  "id": "deploymentmanager:alpha",
  "schemas": {
    "GetVersionOperationMetadata": {
      "properties": {
        "inlineSbomInfo": {
          "$ref": "GetVersionOperationMetadataSbomInfo"
        }
      },
      "type": "object",
      "id": "GetVersionOperationMetadata"
    },
    "Resource": {
      "properties": {
        "url": {
          "description": "Output only. The URL of the actual resource.",
          "type": "string"
        },
        "runtimePolicies": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CREATE",
              "DELETE",
              "UPDATE_ON_CHANGE",
              "UPDATE_ALWAYS"
            ],
            "enumDescriptions": [
              "The action will only be fired during create.",
              "The action will only be fired when the action is removed from the deployment.",
              "The action will fire during create, and if there is any changes on the inputs.",
              "The action will fire during create, and every time there is an update to the deployment."
            ]
          },
          "description": "Output only. In case this is an action, it will show the runtimePolicies on which this action will run in the deployment"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
          "$ref": "ResourceUpdate"
        },
        "warnings": {
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "properties": {
              "code": {
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ]
              },
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              },
              "data": {
                "type": "array",
                "items": {
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              }
            },
            "type": "object"
          }
        },
        "accessControl": {
          "description": "The Access Control Policy set on this resource.",
          "$ref": "ResourceAccessControl"
        },
        "finalProperties": {
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "lastUsedCredential": {
          "$ref": "Credential",
          "description": "Output only. The last used credential that successfully created/updated the resource."
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the current configuration of this resource.",
          "type": "string"
        },
        "properties": {
          "type": "string",
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        }
      },
      "type": "object",
      "id": "Resource"
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "properties": {
        "links": {
          "type": "array",
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "HelpLink"
          }
        }
      },
      "id": "Help",
      "type": "object"
    },
    "Deployment": {
      "properties": {
        "fingerprint": {
          "format": "byte",
          "type": "string",
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment."
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An optional user-provided description of the deployment."
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "target": {
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
          "$ref": "TargetConfiguration"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment."
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent.",
          "type": "string"
        },
        "credential": {
          "description": "User provided default credential for the deployment.",
          "$ref": "Credential"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "outputs": {
          "description": "Output only. List of outputs from the last manifest that deployed successfully.",
          "type": "array",
          "items": {
            "$ref": "DeploymentOutputEntry"
          }
        }
      },
      "type": "object",
      "id": "Deployment"
    },
    "ResourcesListResponse": {
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "type": "array",
          "description": "Resources contained in this list response."
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourcesListResponse"
    },
    "ResourceUpdate": {
      "type": "object",
      "properties": {
        "accessControl": {
          "description": "The Access Control Policy to set on this resource after updating the resource itself.",
          "$ref": "ResourceAccessControl"
        },
        "error": {
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "properties": {
            "errors": {
              "items": {
                "type": "object",
                "properties": {
                  "arguments": {
                    "items": {
                      "type": "string"
                    },
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "readOnly": true,
                    "type": "array"
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "debugInfo": {
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "$ref": "DebugInfo",
                    "readOnly": true
                  },
                  "errorDetails": {
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "properties": {
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        },
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        }
                      }
                    }
                  }
                },
                "description": "Represents a single error encountered during the processing of an operation."
              },
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation."
            }
          },
          "type": "object"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ]
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this resource.",
          "type": "string"
        },
        "finalProperties": {
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "credential": {
          "$ref": "Credential",
          "description": "Output only. The credential that will be used creating/updating this resource."
        },
        "properties": {
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "intent": {
          "type": "string",
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ],
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ],
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`."
        },
        "runtimePolicies": {
          "description": "Output only. In case this is an action, it will show the runtimePolicies that this action will have after updating the deployment.",
          "items": {
            "enumDescriptions": [
              "The action will only be fired during create.",
              "The action will only be fired when the action is removed from the deployment.",
              "The action will fire during create, and if there is any changes on the inputs.",
              "The action will fire during create, and every time there is an update to the deployment."
            ],
            "type": "string",
            "enum": [
              "CREATE",
              "DELETE",
              "UPDATE_ON_CHANGE",
              "UPDATE_ALWAYS"
            ]
          },
          "type": "array"
        },
        "warnings": {
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "type": "array",
                "items": {
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    },
                    "key": {
                      "type": "string",
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                    }
                  },
                  "type": "object"
                }
              },
              "code": {
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ]
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            }
          }
        }
      },
      "id": "ResourceUpdate"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "DeploymentOutputEntry": {
      "description": "Output object for Deployments",
      "id": "DeploymentOutputEntry",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "type": "string",
          "description": "Key of the output"
        }
      }
    },
    "TypeProvidersListResponse": {
      "description": "A response that returns all Type Providers supported by Deployment Manager",
      "properties": {
        "typeProviders": {
          "items": {
            "$ref": "TypeProvider"
          },
          "type": "array",
          "description": "Output only. A list of resource type providers supported by Deployment Manager."
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "id": "TypeProvidersListResponse",
      "type": "object"
    },
    "CollectionOverride": {
      "type": "object",
      "id": "CollectionOverride",
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType",
      "properties": {
        "methodMap": {
          "description": "Custom verb method mappings to support unordered list API mappings.",
          "$ref": "MethodMap"
        },
        "collection": {
          "description": "The collection that identifies this resource within its service.",
          "type": "string"
        },
        "options": {
          "description": "The options to apply to this resource-level override",
          "$ref": "Options"
        }
      }
    },
    "FirewallPolicyRuleOperationMetadata": {
      "type": "object",
      "properties": {
        "allocatedPriority": {
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FirewallPolicyRuleOperationMetadata",
      "description": "Metadata for FirewallPolicyRule operations."
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CompositeTypesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "compositeTypes": {
          "type": "array",
          "items": {
            "$ref": "CompositeType"
          },
          "description": "Output only. A list of resource composite types supported by Deployment Manager."
        }
      },
      "description": "A response that returns all Composite Types supported by Deployment Manager",
      "id": "CompositeTypesListResponse",
      "type": "object"
    },
    "ValidationOptions": {
      "properties": {
        "schemaValidation": {
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "description": "Customize how deployment manager will validate the resource against schema errors."
        },
        "undeclaredProperties": {
          "description": "Specify what to do with extra properties when executing a request.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ]
        }
      },
      "type": "object",
      "description": "Options for how to validate and process properties on a resource.",
      "id": "ValidationOptions"
    },
    "InstancesTroubleshootOperationMetadata": {
      "description": "[Output Only] Operation metadata for instances.troubleshoot.",
      "properties": {
        "troubleshootOutput": {
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstancesTroubleshootOperationMetadata"
    },
    "InstancesBulkInsertOperationMetadata": {
      "properties": {
        "perLocationStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "BulkInsertOperationStatus"
          },
          "description": "Status information per location (location name is key). Example key: zones/us-central1-a"
        },
        "machineType": {
          "description": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstancesBulkInsertOperationMetadata"
    },
    "PollingOptions": {
      "properties": {
        "finishCondition": {
          "description": "JsonPath expression that determines if the request is completed.",
          "type": "string"
        },
        "failCondition": {
          "description": "JsonPath expression that determines if the request failed.",
          "type": "string"
        },
        "pollingLink": {
          "type": "string",
          "description": "JsonPath expression that evaluates to string, it indicates where to poll."
        },
        "targetLink": {
          "type": "string",
          "description": "JsonPath expression, after polling is completed, indicates where to fetch the resource."
        },
        "diagnostics": {
          "items": {
            "$ref": "Diagnostic"
          },
          "description": "An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "PollingOptions"
    },
    "HelpLink": {
      "description": "Describes a URL link.",
      "type": "object",
      "id": "HelpLink",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      }
    },
    "GlobalSetPolicyRequest": {
      "id": "GlobalSetPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "Update mask for the policy.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag.",
          "format": "byte"
        },
        "bindings": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      }
    },
    "ConfigFile": {
      "id": "ConfigFile",
      "properties": {
        "content": {
          "description": "The contents of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TypeProvidersListTypesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "types": {
          "items": {
            "$ref": "TypeInfo"
          },
          "description": "Output only. A list of resource type info.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TypeProvidersListTypesResponse"
    },
    "ImportFile": {
      "id": "ImportFile",
      "properties": {
        "name": {
          "description": "The name of the file.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "id": "AuditConfig"
    },
    "TypeLabelEntry": {
      "description": "Label object for Types",
      "type": "object",
      "id": "TypeLabelEntry",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      }
    },
    "SetAutoscalerLinkOperationMetadata": {
      "properties": {
        "zonalIgmIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of zonal IGM IDs part of the RMIG."
        },
        "zoneToIgmIds": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
        }
      },
      "id": "SetAutoscalerLinkOperationMetadata",
      "type": "object"
    },
    "SetCommonInstanceMetadataOperationMetadata": {
      "type": "object",
      "properties": {
        "clientOperationId": {
          "description": "[Output Only] The client operation id.",
          "type": "string"
        },
        "perLocationOperations": {
          "additionalProperties": {
            "$ref": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo"
          },
          "description": "[Output Only] Status information per location (location name is key). Example key: zones/us-central1-a",
          "type": "object"
        }
      },
      "id": "SetCommonInstanceMetadataOperationMetadata"
    },
    "TypeProviderLabelEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "id": "TypeProviderLabelEntry",
      "description": "Label object for TypeProviders"
    },
    "TestPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestPermissionsResponse",
      "type": "object"
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "type": "object",
      "description": "Describes additional debugging info.",
      "properties": {
        "stackEntries": {
          "type": "array",
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          }
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      }
    },
    "Credential": {
      "properties": {
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Service Account Credential, only used by Deployment."
        },
        "basicAuth": {
          "description": "Basic Auth Credential, only used by TypeProvider.",
          "$ref": "BasicAuth"
        },
        "useProjectDefault": {
          "description": "Specify to use the project default credential, only supported by Deployment.",
          "type": "boolean"
        }
      },
      "description": "The credential used by Deployment Manager and TypeProvider. Only one of the options is permitted.",
      "id": "Credential",
      "type": "object"
    },
    "ManifestsListResponse": {
      "id": "ManifestsListResponse",
      "type": "object",
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "description": "Output only. Manifests contained in this list response.",
          "type": "array"
        }
      }
    },
    "ResourceAccessControl": {
      "description": "The access controls set on the resource.",
      "id": "ResourceAccessControl",
      "properties": {
        "gcpIamPolicy": {
          "type": "string",
          "description": "The GCP IAM Policy to set on the resource."
        }
      },
      "type": "object"
    },
    "TargetConfiguration": {
      "id": "TargetConfiguration",
      "properties": {
        "imports": {
          "type": "array",
          "items": {
            "$ref": "ImportFile"
          },
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template."
        },
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        }
      },
      "type": "object"
    },
    "TypeProvider": {
      "id": "TypeProvider",
      "type": "object",
      "description": "A type provider that describes a service-backed Type.",
      "properties": {
        "collectionOverrides": {
          "type": "array",
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "options": {
          "$ref": "Options",
          "description": "Options to apply when handling any resources in this service."
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type provider.",
          "type": "string"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Self link for the type provider.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Unique identifier for the resource defined by the server.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        },
        "labels": {
          "items": {
            "$ref": "TypeProviderLabelEntry"
          },
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type provider."
        },
        "customCertificateAuthorityRoots": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of up to 2 custom certificate authority roots to use for TLS authentication when making calls on behalf of this type provider. If set, TLS authentication will exclusively use these roots instead of relying on publicly trusted certificate authorities when validating TLS certificate authenticity. The certificates must be in base64-encoded PEM format. The maximum size of each certificate must not exceed 10KB."
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        }
      }
    },
    "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo": {
      "properties": {
        "state": {
          "description": "[Output Only] Status of the action, which can be one of the following: `PROPAGATING`, `PROPAGATED`, `ABANDONED`, `FAILED`, or `DONE`.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PROPAGATING",
            "PROPAGATED",
            "ABANDONED",
            "FAILED",
            "DONE"
          ],
          "enumDescriptions": [
            "",
            "Operation is not yet confirmed to have been created in the location.",
            "Operation is confirmed to be in the location.",
            "Operation not tracked in this location e.g. zone is marked as DOWN.",
            "Operation is in an error state.",
            "Operation has completed successfully."
          ]
        },
        "error": {
          "description": "[Output Only] If state is `ABANDONED` or `FAILED`, this field is populated.",
          "$ref": "Status"
        }
      },
      "id": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo",
      "type": "object"
    },
    "CompositeTypeLabelEntry": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "id": "CompositeTypeLabelEntry",
      "description": "Label object for CompositeTypes",
      "type": "object"
    },
    "TypeInfo": {
      "properties": {
        "name": {
          "description": "The base type or composite type name.",
          "type": "string"
        },
        "schema": {
          "description": "For base types with a collection, we return a schema and documentation link For template types, we return only a schema",
          "$ref": "TypeInfoSchemaInfo"
        },
        "selfLink": {
          "description": "Output only. Self link for the type provider.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Type of the output. Always `deploymentManager#TypeInfo` for TypeInfo."
        },
        "title": {
          "description": "The title on the API descriptor URL provided.",
          "type": "string"
        },
        "documentationLink": {
          "description": "For swagger 2.0 externalDocs field will be used. For swagger 1.2 this field will be empty.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the type."
        }
      },
      "id": "TypeInfo",
      "type": "object",
      "description": "Type Information. Contains detailed information about a composite type, base type, or base type with specific collection."
    },
    "DeploymentsCancelPreviewRequest": {
      "id": "DeploymentsCancelPreviewRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte"
        }
      }
    },
    "GetVersionOperationMetadataSbomInfo": {
      "id": "GetVersionOperationMetadataSbomInfo",
      "type": "object",
      "properties": {
        "targetComponentVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A mapping of components to their target versions or other appropriate identifiers."
        },
        "currentComponentVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping of components to their currently-applied versions or other appropriate identifiers."
        }
      }
    },
    "BasicAuth": {
      "type": "object",
      "description": "Basic Auth used as a credential.",
      "id": "BasicAuth",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "GetHealthOperationMetadata": {
      "id": "GetHealthOperationMetadata",
      "description": "Metadata for GetHealth operations.",
      "properties": {
        "healthInfo": {
          "$ref": "GetHealthOperationMetadataHealthInfo",
          "description": "Output only. The health information.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "TemplateContents": {
      "description": "Files that make up the template contents of a template type.",
      "id": "TemplateContents",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The contents of the template schema."
        },
        "imports": {
          "items": {
            "$ref": "ImportFile"
          },
          "description": "Import files referenced by the main template.",
          "type": "array"
        },
        "template": {
          "description": "The contents of the main template file.",
          "type": "string"
        },
        "mainTemplate": {
          "type": "string",
          "description": "The filename of the mainTemplate"
        },
        "interpreter": {
          "type": "string",
          "enum": [
            "UNKNOWN_INTERPRETER",
            "PYTHON",
            "JINJA"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Which interpreter (python or jinja) should be used during expansion."
        }
      }
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "Type": {
      "id": "Type",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "TypeLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the type."
        },
        "base": {
          "description": "Base Type (configurable service) that backs this Type.",
          "$ref": "BaseType"
        }
      },
      "description": "A resource type supported by Deployment Manager.",
      "type": "object"
    },
    "BulkInsertOperationStatus": {
      "id": "BulkInsertOperationStatus",
      "properties": {
        "createdVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs successfully created so far.",
          "type": "integer"
        },
        "deletedVmCount": {
          "description": "[Output Only] Count of VMs that got deleted during rollback.",
          "type": "integer",
          "format": "int32"
        },
        "targetVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs originally planned to be created.",
          "type": "integer"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "CREATING",
            "ROLLING_BACK",
            "DONE",
            "PENDING"
          ],
          "enumDescriptions": [
            "",
            "Rolling forward - creating VMs.",
            "Rolling back - cleaning up after an error.",
            "Done",
            "Pending - waiting until the capacity is available."
          ],
          "description": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back."
        },
        "failedToCreateVmCount": {
          "description": "[Output Only] Count of VMs that started creating but encountered an error.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "TypeInfoSchemaInfo": {
      "properties": {
        "output": {
          "description": "The properties that this composite type or base type collection exposes as output, these properties can be used for references, represented as json blob, format is: JSON Schema Draft V4",
          "type": "string"
        },
        "input": {
          "type": "string",
          "description": "The properties that this composite type or base type collection accept as input, represented as a json blob, format is: JSON Schema Draft V4"
        }
      },
      "type": "object",
      "id": "TypeInfoSchemaInfo"
    },
    "OperationDetails": {
      "id": "OperationDetails",
      "properties": {
        "message": {
          "description": "Human or AI readable details on execution of the operation.",
          "type": "string"
        },
        "data": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Machine readable data from the message.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "DeploymentUpdate": {
      "properties": {
        "labels": {
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          }
        },
        "credential": {
          "description": "Output only. The user-provided default credential to use when deploying this preview.",
          "$ref": "Credential"
        },
        "description": {
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied.",
          "type": "string"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this deployment."
        }
      },
      "type": "object",
      "id": "DeploymentUpdate"
    },
    "ErrorInfo": {
      "type": "object",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "id": "ErrorInfo",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "metadatas": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
        },
        "domain": {
          "type": "string",
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BaseType": {
      "properties": {
        "credential": {
          "$ref": "Credential",
          "description": "Credential used when interacting with this type."
        },
        "options": {
          "description": "Options to apply when handling any resources in this service.",
          "$ref": "Options"
        },
        "collectionOverrides": {
          "type": "array",
          "description": "Allows resource handling overrides for specific collections",
          "items": {
            "$ref": "CollectionOverride"
          }
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BaseType",
      "description": "BaseType that describes a service-backed Type."
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "description": "The IAM service account email address like test@myproject.iam.gserviceaccount.com",
          "type": "string"
        }
      },
      "description": "Service Account used as a credential.",
      "id": "ServiceAccount",
      "type": "object"
    },
    "CompositeType": {
      "description": "Holds the composite type.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the composite type, must follow the expression: `[a-z]([-a-z0-9_.]{0,61}[a-z0-9])?`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATUS",
            "DEPRECATED",
            "EXPERIMENTAL",
            "SUPPORTED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "templateContents": {
          "description": "Files for the template type.",
          "$ref": "TemplateContents"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "CompositeTypeLabelEntry"
          },
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this composite type.",
          "$ref": "Operation"
        }
      },
      "id": "CompositeType"
    },
    "OperationsListResponse": {
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
      "id": "OperationsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "Output only. Operations contained in this list response."
        }
      },
      "type": "object"
    },
    "Diagnostic": {
      "properties": {
        "level": {
          "description": "Level to record this diagnostic.",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ]
        },
        "field": {
          "type": "string",
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic."
        }
      },
      "id": "Diagnostic",
      "type": "object"
    },
    "DeploymentUpdateLabelEntry": {
      "type": "object",
      "description": "Label object for DeploymentUpdate",
      "id": "DeploymentUpdateLabelEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      }
    },
    "TypesListResponse": {
      "id": "TypesListResponse",
      "description": "A response that returns all Types supported by Deployment Manager",
      "properties": {
        "types": {
          "items": {
            "$ref": "Type"
          },
          "type": "array",
          "description": "Output only. A list of resource types supported by Deployment Manager."
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetHealthOperationMetadataHealthInfo": {
      "id": "GetHealthOperationMetadataHealthInfo",
      "type": "object",
      "description": "Health information.",
      "properties": {
        "unhealthyReason": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified unhealthy reason.",
            "The slot is unhealthy because repair is in progress",
            "The slot is unhealthy because there is a pending repair, waiting for customer approval",
            "The slot is unhealthy because a vm cannot be scheduled on it, and no repairs are running on the slot"
          ],
          "description": "Output only. The reason for unhealthy status.",
          "type": "string",
          "enum": [
            "UNHEALTHY_REASON_UNSPECIFIED",
            "UNHEALTHY_REASON_REPAIRING",
            "UNHEALTHY_REASON_PENDING_USER_APPROVAL",
            "UNHEALTHY_REASON_UNSCHEDULABLE"
          ]
        },
        "repairCategory": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "REPAIR_CATEGORY_UNSPECIFIED",
            "REPAIR_CATEGORY_PLANNED_MAINTENANCE",
            "REPAIR_CATEGORY_EMERGENT_MAINTENANCE",
            "REPAIR_CATEGORY_USER_REPORTED_FAULT",
            "REPAIR_CATEGORY_CRITICAL_FAILURE"
          ],
          "enumDescriptions": [
            "Unspecified repair category.",
            "The repair is because of a planned maintenance",
            "The repair is because of an emergent maintenance",
            "The repair is because of a user reported fault",
            "The repair is because of critical failures, that are scoped outside emergent maintenance"
          ],
          "description": "Output only. The repair category."
        },
        "availabilitySloStatus": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "AVAILABILITY_SLO_STATUS_UNSPECIFIED",
            "AVAILABILITY_SLO_STATUS_IN_SLO",
            "AVAILABILITY_SLO_STATUS_OUT_OF_SLO",
            "AVAILABILITY_SLO_STATUS_SLO_UNKNOWN"
          ],
          "description": "Output only. The availability SLO status.",
          "enumDescriptions": [
            "Unspecified availability SLO status.",
            "The slot availability is in SLO.",
            "The slot availability is out of SLO.",
            "The slot availability is unknown."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when health info was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "healthStatus": {
          "type": "string",
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTH_STATUS_HEALTHY",
            "HEALTH_STATUS_UNHEALTHY"
          ],
          "readOnly": true,
          "description": "Output only. The health status.",
          "enumDescriptions": [
            "Unspecified health status.",
            "The reservation slot is healthy.",
            "The reservation slot is unhealthy."
          ]
        }
      }
    },
    "Manifest": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the manifest."
        },
        "layout": {
          "type": "string",
          "description": "Output only. The YAML layout for this manifest."
        },
        "config": {
          "description": "Output only. The YAML configuration for this manifest.",
          "$ref": "ConfigFile"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "imports": {
          "description": "Output only. The imported files for this manifest.",
          "items": {
            "$ref": "ImportFile"
          },
          "type": "array"
        },
        "manifestSizeBytes": {
          "type": "string",
          "description": "Output only. The computed size of the fully expanded manifest.",
          "format": "int64"
        },
        "name": {
          "description": "Output only. The name of the manifest.",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "manifestSizeLimitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size limit for expanded manifests in the project."
        },
        "expandedConfig": {
          "description": "Output only. The fully-expanded configuration file, including any templates and references.",
          "type": "string"
        }
      },
      "id": "Manifest",
      "type": "object"
    },
    "AsyncOptions": {
      "id": "AsyncOptions",
      "type": "object",
      "description": "Async options that determine when a resource should finish.",
      "properties": {
        "pollingOptions": {
          "$ref": "PollingOptions",
          "description": "Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed."
        },
        "methodMatch": {
          "description": "Method regex where this policy will apply.",
          "type": "string"
        }
      }
    },
    "Options": {
      "type": "object",
      "id": "Options",
      "description": "Options allows customized resource handling by Deployment Manager.",
      "properties": {
        "nameProperty": {
          "description": "The json path to the field in the resource JSON body into which the resource name should be mapped. Leaving this empty indicates that there should be no mapping performed.",
          "type": "string"
        },
        "asyncOptions": {
          "description": "Options regarding how to thread async requests.",
          "items": {
            "$ref": "AsyncOptions"
          },
          "type": "array"
        },
        "validationOptions": {
          "$ref": "ValidationOptions",
          "description": "Options for how to validate and process properties on a resource."
        },
        "inputMappings": {
          "description": "The mappings that apply for requests.",
          "items": {
            "$ref": "InputMapping"
          },
          "type": "array"
        }
      }
    },
    "DeploymentsStopRequest": {
      "properties": {
        "fingerprint": {
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "DeploymentsStopRequest",
      "type": "object"
    },
    "InputMapping": {
      "description": "InputMapping creates a 'virtual' property that will be injected into the properties before sending the request to the underlying API.",
      "type": "object",
      "id": "InputMapping",
      "properties": {
        "location": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The location where this mapping applies.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PATH",
            "QUERY",
            "BODY",
            "HEADER"
          ]
        },
        "value": {
          "type": "string",
          "description": "A jsonPath expression to select an element."
        },
        "methodMatch": {
          "type": "string",
          "description": "Regex to evaluate on method to decide if input applies."
        },
        "fieldName": {
          "description": "The name of the field that is going to be injected.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period.",
      "properties": {
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "creationTimestamp": {
          "description": "[Deprecated] This field is deprecated.",
          "type": "string"
        },
        "targetLink": {
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from.",
          "type": "string"
        },
        "error": {
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "items": {
                "properties": {
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "errorDetails": {
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "type": "array",
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object",
                      "properties": {
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
[...]
