{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "compositeTypes": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "description": "Patches a composite type.",
          "parameters": {
            "compositeType": {
              "location": "path",
              "type": "string",
              "description": "The name of the composite type for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?"
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "httpMethod": "PATCH",
          "id": "deploymentmanager.compositeTypes.patch",
          "request": {
            "$ref": "CompositeType"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CompositeType"
          },
          "id": "deploymentmanager.compositeTypes.insert",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "description": "Creates a composite type."
        },
        "get": {
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.get",
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string"
            },
            "compositeType": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "description": "The name of the composite type for this request.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CompositeType"
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "description": "Gets information about a specific composite type.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "list": {
          "id": "deploymentmanager.compositeTypes.list",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "type": "integer",
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            }
          },
          "response": {
            "$ref": "CompositeTypesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all composite types for Deployment Manager.",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "deploymentmanager.compositeTypes.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a composite type.",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "compositeType": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the type for this request.",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}"
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CompositeType"
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "description": "Updates a composite type.",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "compositeType": {
              "description": "The name of the composite type for this request.",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "PUT",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.update"
        }
      }
    },
    "resources": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Resource"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "description": "Gets information about a single resource.",
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "id": "deploymentmanager.resources.get",
          "parameters": {
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            },
            "resource": {
              "type": "string",
              "description": "The name of the resource for this request.",
              "required": true,
              "location": "path"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}"
        },
        "list": {
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "description": "Lists all resources in a given deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "parameters": {
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "deployment": {
              "required": true,
              "description": "The name of the deployment for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "default": "500",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "minimum": "0"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "id": "deploymentmanager.resources.list",
          "response": {
            "$ref": "ResourcesListResponse"
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project",
            "operation"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.operations.get",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}",
          "parameters": {
            "operation": {
              "location": "path",
              "description": "The name of the operation for this request.",
              "type": "string",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Gets information about a specific operation."
        },
        "list": {
          "id": "deploymentmanager.operations.list",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/operations",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations",
          "httpMethod": "GET",
          "description": "Lists all operations for a project.",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        }
      }
    },
    "deployments": {
      "methods": {
        "update": {
          "id": "deploymentmanager.deployments.update",
          "httpMethod": "PUT",
          "description": "Updates a deployment and all of the resources described by the deployment manifest.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "preview": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "deletePolicy": {
              "default": "DELETE",
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Sets the policy to use for deleting resources."
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "createPolicy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "location": "query",
              "type": "string",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ]
            },
            "deployment": {
              "required": true,
              "type": "string",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "request": {
            "$ref": "Deployment"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "id": "deploymentmanager.deployments.delete",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deletePolicy": {
              "location": "query",
              "description": "Sets the policy to use for deleting resources.",
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "DELETE"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.patch",
          "request": {
            "$ref": "Deployment"
          },
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameters": {
            "deployment": {
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string"
            },
            "createPolicy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "default": "CREATE_OR_ACQUIRE",
              "type": "string",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "description": "Sets the policy to use for creating new resources.",
              "location": "query"
            },
            "preview": {
              "type": "boolean",
              "location": "query",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "default": "false"
            },
            "deletePolicy": {
              "description": "Sets the policy to use for deleting resources.",
              "location": "query",
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "DELETE"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "stop": {
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "parameters": {
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.stop",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop"
        },
        "testIamPermissions": {
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "id": "deploymentmanager.deployments.testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource.",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "TestPermissionsResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "preview": {
              "type": "boolean",
              "location": "query",
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "createPolicy": {
              "location": "query",
              "description": "Sets the policy to use for creating new resources.",
              "type": "string",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                "",
                ""
              ]
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.insert"
        },
        "cancelPreview": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.cancelPreview",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "deployment": {
              "required": true,
              "type": "string",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "parameterOrder": [
            "project"
          ],
          "id": "deploymentmanager.deployments.list",
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "default": "500",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            }
          },
          "description": "Lists all deployments for a given project.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments"
        },
        "getIamPolicy": {
          "httpMethod": "GET",
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "id": "deploymentmanager.deployments.getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            },
            "resource": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "type": "string"
            },
            "optionsRequestedPolicyVersion": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Requested IAM Policy version."
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "id": "deploymentmanager.deployments.get",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Deployment"
          },
          "description": "Gets information about a specific deployment."
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "id": "deploymentmanager.deployments.setIamPolicy",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "parameters": {
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "required": true
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy"
        }
      }
    },
    "types": {
      "methods": {
        "get": {
          "parameters": {
            "type": {
              "description": "The name of the type for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "parameterOrder": [
            "project",
            "type"
          ],
          "id": "deploymentmanager.types.get",
          "description": "Gets information about a specific type.",
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/types/{type}",
          "response": {
            "$ref": "Type"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types/{type}"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "location": "query",
              "format": "uint32"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types",
          "description": "Lists all resource types for Deployment Manager.",
          "response": {
            "$ref": "TypesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/types",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.types.list",
          "httpMethod": "GET"
        }
      }
    },
    "typeProviders": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TypeProvider"
          },
          "id": "deploymentmanager.typeProviders.insert",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "parameters": {
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "description": "Creates a type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.typeProviders.get",
          "parameters": {
            "typeProvider": {
              "required": true,
              "type": "string",
              "description": "The name of the type provider for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TypeProvider"
          },
          "description": "Gets information about a specific type provider.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "description": "Lists all resource type providers for Deployment Manager.",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "minimum": "0"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          },
          "response": {
            "$ref": "TypeProvidersListResponse"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "id": "deploymentmanager.typeProviders.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ]
        },
        "listTypes": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "parameters": {
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "default": "500"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "deploymentmanager.typeProviders.listTypes",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TypeProvidersListTypesResponse"
          },
          "description": "Lists all the type info for a TypeProvider."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.typeProviders.update",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "typeProvider": {
              "required": true,
              "description": "The name of the type provider for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "description": "Updates a type provider.",
          "httpMethod": "PUT",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "request": {
            "$ref": "TypeProvider"
          }
        },
        "delete": {
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "id": "deploymentmanager.typeProviders.delete",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "typeProvider": {
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the type provider for this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a type provider."
        },
        "patch": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TypeProvider"
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Patches a type provider.",
          "parameters": {
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true
            },
            "typeProvider": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "type": "string",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "getType": {
          "response": {
            "$ref": "TypeInfo"
          },
          "parameterOrder": [
            "project",
            "typeProvider",
            "type"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Gets a type info for a type provided by a TypeProvider.",
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "id": "deploymentmanager.typeProviders.getType",
          "parameters": {
            "type": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the type provider type for this request."
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "typeProvider": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.manifests.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "parameters": {
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "format": "uint32",
              "default": "500",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the deployment for this request.",
              "required": true
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Lists all manifests for a given deployment."
        },
        "get": {
          "id": "deploymentmanager.manifests.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "Manifest"
          },
          "parameters": {
            "manifest": {
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the manifest for this request.",
              "required": true
            },
            "deployment": {
              "required": true,
              "description": "The name of the deployment for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "description": "Gets information about a specific manifest.",
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}"
        }
      }
    }
  },
  "name": "deploymentmanager",
  "id": "deploymentmanager:alpha",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig"
    },
    "ResourcesListResponse": {
      "type": "object",
      "id": "ResourcesListResponse",
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "type": "array",
          "description": "Resources contained in this list response."
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      }
    },
    "GetHealthOperationMetadata": {
      "type": "object",
      "id": "GetHealthOperationMetadata",
      "description": "Metadata for GetHealth operations.",
      "properties": {
        "healthInfo": {
          "readOnly": true,
          "description": "Output only. The health information.",
          "$ref": "GetHealthOperationMetadataHealthInfo"
        }
      }
    },
    "Help": {
      "id": "Help",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "HelpLink"
          },
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      },
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
    },
    "DeploymentOutputEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the output",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "id": "DeploymentOutputEntry",
      "description": "Output object for Deployments"
    },
    "DeploymentLabelEntry": {
      "type": "object",
      "description": "Label object for Deployments",
      "id": "DeploymentLabelEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      }
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "properties": {
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        },
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "description": "The stack trace entries indicating where the error occurred.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes additional debugging info."
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "BulkInsertOperationStatus": {
      "id": "BulkInsertOperationStatus",
      "type": "object",
      "properties": {
        "createdVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs successfully created so far.",
          "type": "integer"
        },
        "failedToCreateVmCount": {
          "description": "[Output Only] Count of VMs that started creating but encountered an error.",
          "format": "int32",
          "type": "integer"
        },
        "targetVmCount": {
          "type": "integer",
          "description": "[Output Only] Count of VMs originally planned to be created.",
          "format": "int32"
        },
        "deletedVmCount": {
          "format": "int32",
          "type": "integer",
          "description": "[Output Only] Count of VMs that got deleted during rollback."
        },
        "status": {
          "description": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "CREATING",
            "ROLLING_BACK",
            "DONE",
            "PENDING"
          ],
          "enumDescriptions": [
            "",
            "Rolling forward - creating VMs.",
            "Rolling back - cleaning up after an error.",
            "Done",
            "Pending - waiting until the capacity is available."
          ]
        }
      }
    },
    "ValidationOptions": {
      "id": "ValidationOptions",
      "description": "Options for how to validate and process properties on a resource.",
      "type": "object",
      "properties": {
        "undeclaredProperties": {
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "description": "Specify what to do with extra properties when executing a request."
        },
        "schemaValidation": {
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "description": "Customize how deployment manager will validate the resource against schema errors."
        }
      }
    },
    "Policy": {
      "id": "Policy",
[...]
