{
  "kind": "discovery#restDescription",
  "name": "developerconnect",
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version_module": true,
  "canonicalName": "Developer Connect",
  "title": "Developer Connect API",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "BitbucketCloudConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "type": "object",
      "id": "BitbucketCloudConfig",
      "properties": {
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        }
      }
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method."
    },
    "FetchGitHubInstallationsResponse": {
      "type": "object",
      "description": "Response of fetching github installations.",
      "id": "FetchGitHubInstallationsResponse",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "items": {
            "$ref": "Installation"
          },
          "type": "array"
        }
      }
    },
    "Projects": {
      "type": "object",
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "properties": {
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The project IDs. Format: {project}"
        }
      },
      "id": "Projects"
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
        },
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "type": "string"
        },
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "InstallationState"
    },
    "LinkableGitRepository": {
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      },
      "id": "LinkableGitRepository",
      "type": "object"
    },
    "SecureSourceManagerInstanceConfig": {
      "id": "SecureSourceManagerInstanceConfig",
      "description": "Configuration for connections to Secure Source Manager instance",
      "type": "object",
      "properties": {
        "instance": {
          "type": "string",
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`"
        }
      }
    },
    "CryptoKeyConfig": {
      "type": "object",
      "id": "CryptoKeyConfig",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature."
    },
    "AppHubService": {
      "description": "AppHubService represents the App Hub Service.",
      "id": "AppHubService",
      "type": "object",
      "properties": {
        "criticality": {
          "description": "Output only. The criticality of the App Hub Service.",
          "type": "string",
          "readOnly": true
        },
        "environment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The environment of the App Hub Service."
        },
        "apphubService": {
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BearerTokenAuthentication": {
      "description": "Bearer token authentication with a token.",
      "properties": {
        "tokenSecretVersion": {
          "type": "string",
          "description": "Optional. The token SecretManager secret version to authenticate as."
        }
      },
      "type": "object",
      "id": "BearerTokenAuthentication"
    },
    "FetchReadWriteTokenRequest": {
      "id": "FetchReadWriteTokenRequest",
      "properties": {},
      "type": "object",
      "description": "Message for fetching SCM read/write token."
    },
    "FetchUserRepositoriesResponse": {
      "description": "Response message for FetchUserRepositories.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "userRepos": {
          "type": "array",
          "items": {
            "$ref": "UserRepository"
          },
          "description": "The repositories that the user can access with this account connector."
        }
      },
      "id": "FetchUserRepositoriesResponse"
    },
    "FieldVisibility": {
      "description": "Visibility rules for individual tool parameters (fields). This allows producers to hide specific fields in tools/list and tools/call.",
      "id": "FieldVisibility",
      "properties": {
        "restriction": {
          "type": "string",
          "description": "The visibility restriction labels for this field (comma-separated)."
        },
        "selector": {
          "description": "The name of the parameter in the input_schema or output_schema.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StartOAuthResponse": {
      "id": "StartOAuthResponse",
      "type": "object",
      "description": "Message for responding to starting an OAuth flow.",
      "properties": {
        "codeChallenge": {
          "type": "string",
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1"
        },
        "authUri": {
          "type": "string",
          "description": "The authorization server URL to the OAuth flow of the service provider."
        },
        "systemProviderId": {
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "type": "string",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "description": "The ID of the system provider."
        },
        "clientId": {
          "type": "string",
          "description": "The client ID to the OAuth App of the service provider."
        },
        "scopes": {
          "type": "array",
          "description": "The list of scopes requested by the application.",
          "items": {
            "type": "string"
          }
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        },
        "ticket": {
          "type": "string",
          "description": "The ticket to be used for post processing the callback from the service provider."
        }
      }
    },
    "UserRepository": {
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "id": "UserRepository",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "readOnly": true
        },
        "cloneUri": {
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "type": "string",
          "readOnly": true
        },
        "gitProxyUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect."
        }
      },
      "type": "object"
    },
    "CustomOAuthConfig": {
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to connect to a private service.",
          "$ref": "ServiceDirectoryConfig"
        },
        "tokenUri": {
          "type": "string",
          "description": "Required. Immutable. The OAuth2 token request URL."
        },
        "scopes": {
          "description": "Required. The scopes to be requested during OAuth.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scmProvider": {
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ],
          "type": "string",
          "description": "Required. The type of the SCM provider."
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID of the OAuth application."
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to a private service."
        },
        "pkceDisabled": {
          "type": "boolean",
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default."
        },
        "authUri": {
          "type": "string",
          "description": "Required. Immutable. The OAuth2 authorization server URL."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The host URI of the OAuth application."
        }
      },
      "id": "CustomOAuthConfig",
      "description": "Message for a customized OAuth config."
    },
    "GitLabConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        }
      },
      "description": "Configuration for connections to gitlab.com.",
      "id": "GitLabConfig"
    },
    "FetchAccessTokenResponse": {
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "scopes": {
          "description": "The scopes of the access token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for responding to getting an OAuth access token.",
      "type": "object",
      "id": "FetchAccessTokenResponse"
    },
    "ProxyConfig": {
      "type": "object",
      "id": "ProxyConfig",
      "description": "The proxy configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect."
        }
      }
    },
    "ListUsersResponse": {
      "description": "Message for response to listing Users",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "users": {
          "description": "The list of Users",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "id": "ListUsersResponse",
      "type": "object"
    },
    "InsightsConfig": {
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "id": "InsightsConfig",
      "type": "object",
      "properties": {
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "items": {
            "$ref": "Status"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}"
        },
        "state": {
          "type": "string",
          "description": "Optional. Output only. The state of the InsightsConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ]
        },
        "artifactConfigs": {
          "description": "Optional. The artifact configurations of the artifacts that are deployed.",
          "type": "array",
          "items": {
            "$ref": "ArtifactConfig"
          }
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create timestamp.",
          "readOnly": true
        },
        "runtimeConfigs": {
          "description": "Output only. The runtime configurations where the application is deployed.",
          "type": "array",
          "items": {
            "$ref": "RuntimeConfig"
          },
          "readOnly": true
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "type": "object"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "type": "object"
        }
      }
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "ArtifactDeployment": {
      "type": "object",
      "id": "ArtifactDeployment",
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "properties": {
        "artifactAlias": {
          "type": "string",
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true
        },
        "artifactReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The artifact that is deployed."
        },
        "undeployTime": {
          "readOnly": true,
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceCommitUris": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "readOnly": true,
          "type": "array"
        },
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "containerStatusSummary": {
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true,
          "type": "string"
        },
        "sourceCodeUris": {
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true
        }
      }
    },
    "ListConnectionsResponse": {
      "type": "object",
      "id": "ListConnectionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "connections": {
          "description": "The list of Connection",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Connections"
    },
    "GenericHTTPEndpointConfig": {
      "id": "GenericHTTPEndpointConfig",
      "type": "object",
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "properties": {
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        }
      }
    },
    "AppHubWorkload": {
      "description": "AppHubWorkload represents the App Hub Workload.",
      "properties": {
        "criticality": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The criticality of the App Hub Workload."
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        },
        "workload": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`."
        }
      },
      "type": "object",
      "id": "AppHubWorkload"
    },
    "ProviderOAuthConfig": {
      "type": "object",
      "id": "ProviderOAuthConfig",
      "properties": {
        "systemProviderId": {
          "description": "Optional. Immutable. Developer Connect provided OAuth.",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "type": "string"
        },
        "scopes": {
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ProviderOAuthConfig is the OAuth config for a provider."
    },
    "GoogleArtifactAnalysis": {
      "description": "Google Artifact Analysis configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      },
      "id": "GoogleArtifactAnalysis",
      "type": "object"
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "gitlabEnterpriseConfig": {
          "$ref": "GitLabEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitLab Enterprise."
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        },
        "cryptoKeyConfig": {
          "$ref": "CryptoKeyConfig",
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature."
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to an instance of Bitbucket Data Center."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GitHubEnterpriseConfig"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "installationState": {
          "$ref": "InstallationState",
          "readOnly": true,
          "description": "Output only. Installation state of the Connection."
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Update timestamp",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gitlabConfig": {
          "$ref": "GitLabConfig",
          "description": "Configuration for connections to gitlab.com."
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime"
        }
      },
      "description": "Message describing Connection object",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "GitHubEnterpriseConfig": {
      "type": "object",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "id": "GitHubEnterpriseConfig",
      "properties": {
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "appInstallationId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. ID of the installation of the GitHub App."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "organization": {
          "type": "string",
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created."
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "type": "string",
          "readOnly": true
        },
        "privateKeySecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "appId": {
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "format": "int64",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "type": "string",
          "readOnly": true
        },
        "appSlug": {
          "readOnly": true,
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "type": "string"
        }
      }
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "ServiceDirectoryConfig"
    },
    "GitHubConfig": {
      "description": "Configuration for connections to github.com.",
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "type": "string",
          "description": "Optional. GitHub App installation id.",
          "format": "int64"
        },
        "githubApp": {
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ],
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "type": "string",
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization."
        },
        "installationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig."
        }
      },
      "id": "GitHubConfig"
    },
    "GitProxyConfig": {
      "description": "Configuration for proxies. For legacy reasons, this message is named `GitProxyConfig`, but it includes settings for both Git and HTTP proxy.",
      "type": "object",
      "properties": {
        "httpProxyBaseUri": {
          "type": "string",
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true
        },
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        }
      },
      "id": "GitProxyConfig"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "McpToolVisibility": {
      "id": "McpToolVisibility",
      "description": "Profile describing the visibility restriction of an MCP tool. Key: \"google.com/tool.profiles/visibility.restriction\"",
      "properties": {
        "visibilityRestriction": {
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string.",
          "type": "string"
        },
        "fieldVisibility": {
          "description": "A list of field-level visibility restrictions.",
          "type": "array",
          "items": {
            "$ref": "FieldVisibility"
          }
        },
        "visibilityEnforcementStrategy": {
          "description": "The strategy used to enforce visibility restrictions. DO NOT USE. This field is not yet implemented.",
          "enum": [
            "VISIBILITY_ENFORCEMENT_STRATEGY_UNSPECIFIED",
            "COMBINE",
            "OVERRIDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default. Equivalent to COMBINE.",
            "The principal must satisfy both API-level tool-level) visibility restrictions.",
            "Bypasses the API-level visibility restrictions check; access is determined solely by the tool-level visibility restrictions."
          ]
        }
      },
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token.",
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      }
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "properties": {
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        },
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        }
      },
      "type": "object",
      "description": "The artifact config of the artifact that is deployed."
    },
    "ListInsightsConfigsResponse": {
      "properties": {
        "insightsConfigs": {
          "description": "The list of InsightsConfigs.",
          "type": "array",
          "items": {
            "$ref": "InsightsConfig"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Request for response to listing InsightsConfigs.",
      "id": "ListInsightsConfigsResponse",
      "type": "object"
    },
    "ProcessGitLabWebhookRequest": {
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessGitLabWebhookRequest"
    },
    "BasicAuthentication": {
      "type": "object",
      "description": "Basic authentication with username and password.",
      "id": "BasicAuthentication",
      "properties": {
        "passwordSecretVersion": {
          "description": "The password SecretManager secret version to authenticate as.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. The username to authenticate as."
        }
      }
    },
    "FinishOAuthResponse": {
      "type": "object",
      "id": "FinishOAuthResponse",
      "description": "Message for responding to finishing an OAuth flow.",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      }
    },
    "FetchGitRefsResponse": {
      "type": "object",
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "FetchGitRefsResponse",
      "description": "Response for fetching git refs."
    },
    "DeploymentEvent": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}"
        },
        "undeployTime": {
          "type": "string",
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the DeploymentEvent.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "runtimeDeploymentUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name."
        },
        "state": {
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "type": "string",
          "description": "Output only. The state of the DeploymentEvent.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ]
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "readOnly": true,
          "description": "Output only. The runtime configurations where the DeploymentEvent happened."
        },
        "updateTime": {
          "description": "Output only. The update time of the DeploymentEvent.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "artifactDeployments": {
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "readOnly": true,
          "items": {
            "$ref": "ArtifactDeployment"
          },
          "type": "array"
        },
        "deployTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times."
        }
      },
      "type": "object",
      "id": "DeploymentEvent",
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "HttpBody": {
      "type": "object",
      "id": "HttpBody",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "type": "object",
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "type": "object"
    },
    "GKEWorkload": {
      "type": "object",
      "id": "GKEWorkload",
      "properties": {
        "deployment": {
          "type": "string",
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "readOnly": true
        },
        "cluster": {
          "type": "string",
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`."
        }
      },
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime."
    },
    "GitRepositoryLink": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
        },
        "gitProxyUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create timestamp"
        },
        "webhookId": {
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "cloneUri": {
          "type": "string",
          "description": "Required. Git Clone URI."
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update timestamp"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GitRepositoryLink",
      "description": "Message describing the GitRepositoryLink object"
    },
    "ListAccountConnectorsResponse": {
      "type": "object",
      "id": "ListAccountConnectorsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "items": {
            "$ref": "AccountConnector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing AccountConnectors"
    },
    "FetchReadTokenResponse": {
      "description": "Message for responding to get read token.",
      "type": "object",
      "id": "FetchReadTokenResponse",
      "properties": {
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListGitRepositoryLinksResponse": {
      "description": "Message for response to listing GitRepositoryLinks",
      "type": "object",
      "properties": {
        "gitRepositoryLinks": {
          "items": {
            "$ref": "GitRepositoryLink"
          },
          "type": "array",
          "description": "The list of GitRepositoryLinks"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListGitRepositoryLinksResponse"
    },
    "RuntimeConfig": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name."
        },
        "appHubService": {
          "readOnly": true,
          "description": "Output only. App Hub Service.",
          "$ref": "AppHubService"
        },
        "gkeWorkload": {
          "readOnly": true,
          "$ref": "GKEWorkload",
          "description": "Output only. Google Kubernetes Engine runtime."
        },
        "appHubWorkload": {
          "description": "Output only. App Hub Workload.",
          "$ref": "AppHubWorkload",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the Runtime.",
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ]
        },
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "readOnly": true,
          "$ref": "GoogleCloudRun"
        }
      },
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "id": "RuntimeConfig",
      "type": "object"
    },
    "ExchangeError": {
      "type": "object",
      "id": "ExchangeError",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "description": "Message for representing an error from exchanging OAuth tokens."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "GoogleCloudRun": {
      "type": "object",
      "id": "GoogleCloudRun",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      },
      "description": "GoogleCloudRun represents the Cloud Run runtime."
    },
    "FetchAccessTokenRequest": {
      "properties": {},
      "type": "object",
      "id": "FetchAccessTokenRequest",
      "description": "Message for fetching an OAuth access token."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "UserCredential": {
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "properties": {
        "userTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "UserCredential"
    },
    "AccountConnector": {
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "customOauthConfig": {
          "$ref": "CustomOAuthConfig",
          "description": "Custom OAuth config."
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        },
        "createTime": {
          "description": "Output only. The timestamp when the accountConnector was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "providerOauthConfig": {
          "description": "Optional. Provider OAuth config.",
          "$ref": "ProviderOAuthConfig"
        }
      },
      "type": "object",
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "id": "AccountConnector"
    },
    "FetchLinkableGitRepositoriesResponse": {
      "properties": {
        "linkableGitRepositories": {
          "items": {
            "$ref": "LinkableGitRepository"
          },
          "type": "array",
          "description": "The git repositories that can be linked to the connection."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for FetchLinkableGitRepositories.",
      "id": "FetchLinkableGitRepositoriesResponse"
    },
    "OAuthCredential": {
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "properties": {
        "oauthTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "username": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The username associated with this token."
        }
      },
      "type": "object",
      "id": "OAuthCredential"
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "id": "ProcessBitbucketCloudWebhookRequest",
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "Installation": {
      "type": "object",
      "id": "Installation",
      "properties": {
        "id": {
          "description": "ID of the installation in GitHub.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        }
      },
      "description": "Represents an installation of the GitHub App."
    },
    "FetchReadTokenRequest": {
      "id": "FetchReadTokenRequest",
      "properties": {},
      "type": "object",
      "description": "Message for fetching SCM read token."
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "lastTokenRequestTime": {
          "type": "string",
          "description": "Output only. The timestamp when the token was last requested.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the user was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`."
        }
      },
      "description": "User represents a user connected to the service providers through a AccountConnector."
    },
    "ListDeploymentEventsResponse": {
      "properties": {
        "deploymentEvents": {
          "description": "The list of DeploymentEvents.",
          "type": "array",
          "items": {
            "$ref": "DeploymentEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response to listing DeploymentEvents.",
      "id": "ListDeploymentEventsResponse",
      "type": "object"
    },
    "GitLabEnterpriseConfig": {
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitLab Enterprise host this connection is for."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "id": "GitLabEnterpriseConfig"
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The host project of Artifact Registry."
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "id": "GoogleArtifactRegistry"
    }
  },
  "id": "developerconnect:v1",
  "revision": "20260914",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://developerconnect.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://developerconnect.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://developerconnect.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://developerconnect.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://developerconnect.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://developerconnect.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://developerconnect.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://developerconnect.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://developerconnect.europe-southwest1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://developerconnect.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://developerconnect.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://developerconnect.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://developerconnect.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://developerconnect.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://developerconnect.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "description": "Connect third-party source code management to Google",
  "version": "v1",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "developerconnect.projects.locations.list",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "id": "developerconnect.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "accountConnectors": {
              "methods": {
                "fetchUserRepositories": {
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "httpMethod": "GET",
                  "parameters": {
                    "repository": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Number of results to return in the list. Defaults to 20."
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountConnector": {
                      "required": true,
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                    }
                  },
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "accountConnector"
                  ],
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "path": "v1/{+accountConnector}:fetchUserRepositories"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
                      "location": "path",
                      "required": true
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the accountConnector is not found a new accountConnector will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input accountConnector has all the necessary",
                      "location": "query",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to be updated.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
[...]
