{
  "rootUrl": "https://developerconnect.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "developerconnect",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "canonicalName": "Developer Connect",
  "fullyEncodeReservedExpansion": true,
  "description": "Connect third-party source code management to Google",
  "id": "developerconnect:v1",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/"
    }
  ],
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://developerconnect.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Developer Connect API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "id": "developerconnect.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "developerconnect.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "developerconnect.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "developerconnect.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "id": "developerconnect.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "connections": {
              "methods": {
                "list": {
                  "description": "Lists Connections in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/connections",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.connections.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListConnectionsRequest",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections"
                },
                "delete": {
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the Connection. If an etag is provided and does not match the current etag of the Connection, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Connection.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "developerconnect.projects.locations.connections.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Connection"
                  },
                  "id": "developerconnect.projects.locations.connections.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Connection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "processGitHubEnterpriseWebhook": {
                  "id": "developerconnect.projects.locations.connections.processGitHubEnterpriseWebhook",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "ProcessGitHubEnterpriseWebhook is called by the external GitHub Enterprise instances for notifying events.",
                  "request": {
                    "$ref": "ProcessGitHubEnterpriseWebhookRequest"
                  },
                  "path": "v1/{+parent}/connections:processGitHubEnterpriseWebhook",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitHubEnterpriseWebhook",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string"
                    },
                    "connectionId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and connection_id from the method_signature of Create RPC",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "request": {
                    "$ref": "Connection"
                  },
                  "path": "v1/{+parent}/connections",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Connection in a given project and location.",
                  "id": "developerconnect.projects.locations.connections.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchLinkableGitRepositories": {
                  "id": "developerconnect.projects.locations.connections.fetchLinkableGitRepositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+connection}:fetchLinkableGitRepositories",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "connection"
                  ],
                  "description": "FetchLinkableGitRepositories returns a list of git repositories from an SCM that are available to be added to a Connection.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableGitRepositories",
                  "response": {
                    "$ref": "FetchLinkableGitRepositoriesResponse"
                  },
                  "parameters": {
                    "connection": {
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "fetchGitHubInstallations": {
                  "description": "FetchGitHubInstallations returns the list of GitHub Installations that are available to be added to a Connection. For github.com, only installations accessible to the authorizer token are returned. For GitHub Enterprise, all installations are returned.",
                  "parameterOrder": [
                    "connection"
                  ],
                  "path": "v1/{+connection}:fetchGitHubInstallations",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.connections.fetchGitHubInstallations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "connection": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the connection in the format `projects/*/locations/*/connections/*`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FetchGitHubInstallationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchGitHubInstallations"
                },
                "patch": {
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Connection resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Updates the parameters of a single Connection.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Connection"
                  },
                  "id": "developerconnect.projects.locations.connections.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "gitRepositoryLinks": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "GitRepositoryLink"
                      },
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a GitRepositoryLink. Upon linking a Git Repository, Developer Connect will configure the Git Repository to send webhook events to Developer Connect. Connections that use Firebase GitHub Application will have events forwarded to the Firebase service. Connections that use Gemini Code Assist will have events forwarded to Gemini Code Assist service. All other Connections will have events forwarded to Cloud Build.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "description": "Required. Value for parent.",
                          "type": "string"
                        },
                        "gitRepositoryLinkId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "type": "string",
                          "location": "query"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks"
                    },
                    "processGitLabWebhook": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabWebhook",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabWebhook",
                      "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processGitLabWebhook",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ProcessGitLabWebhookRequest"
                      }
                    },
                    "processBitbucketDataCenterWebhook": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketDataCenterWebhook",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketDataCenterWebhook",
                      "description": "ProcessBitbucketDataCenterWebhook is called by the external Bitbucket Data Center instances for notifying events.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processBitbucketDataCenterWebhook",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ProcessBitbucketDataCenterWebhookRequest"
                      }
                    },
                    "delete": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single GitRepositoryLink.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "processBitbucketCloudWebhook": {
                      "description": "ProcessBitbucketCloudWebhook is called by the external Bitbucket Cloud instances for notifying events.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processBitbucketCloudWebhook",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ProcessBitbucketCloudWebhookRequest"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketCloudWebhook",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketCloudWebhook"
                    },
                    "fetchReadWriteToken": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadWriteToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "description": "Fetches read/write token of a given gitRepositoryLink.",
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "path": "v1/{+gitRepositoryLink}:fetchReadWriteToken",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadWriteToken",
                      "parameters": {
                        "gitRepositoryLink": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      }
                    },
                    "fetchReadToken": {
                      "parameters": {
                        "gitRepositoryLink": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadToken",
                      "description": "Fetches read token of a given gitRepositoryLink.",
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "path": "v1/{+gitRepositoryLink}:fetchReadToken",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists GitRepositoryLinks in a given project, location, and connection.",
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "httpMethod": "GET",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent value for ListGitRepositoryLinksRequest",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListGitRepositoryLinksResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GitRepositoryLink"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single GitRepositoryLink.",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "processGitLabEnterpriseWebhook": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabEnterpriseWebhook",
                      "path": "v1/{+name}:processGitLabEnterpriseWebhook",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ProcessGitLabEnterpriseWebhookRequest"
                      },
                      "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise instances for notifying events.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabEnterpriseWebhook"
                    },
                    "fetchGitRefs": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchGitRefs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "path": "v1/{+gitRepositoryLink}:fetchGitRefs",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchGitRefs",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "type": "string",
                          "location": "query"
                        },
                        "gitRepositoryLink": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of GitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        },
                        "refType": {
                          "description": "Required. Type of refs to fetch.",
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        }
                      },
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      }
                    }
                  }
                }
              }
            },
            "accountConnectors": {
              "resources": {
                "users": {
                  "methods": {
                    "startOAuthFlow": {
                      "path": "v1/{+accountConnector}/users:startOAuthFlow",
                      "httpMethod": "GET",
                      "description": "Starts OAuth flow for an account connector.",
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.startOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "StartOAuthResponse"
                      },
                      "parameters": {
                        "accountConnector": {
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:startOAuthFlow"
                    },
                    "finishOAuthFlow": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:finishOAuthFlow",
                      "response": {
                        "$ref": "FinishOAuthResponse"
                      },
                      "parameters": {
                        "accountConnector": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "type": "string"
                        },
                        "oauthParams.code": {
                          "location": "query",
                          "description": "Required. The code to be used for getting the token from SCM provider.",
                          "type": "string"
                        },
                        "googleOauthParams.scopes": {
                          "repeated": true,
                          "description": "Required. The scopes returned by Google OAuth flow.",
                          "type": "string",
                          "location": "query"
                        },
                        "oauthParams.ticket": {
                          "description": "Required. The ticket to be used for post processing the callback from SCM provider.",
                          "type": "string",
                          "location": "query"
                        },
                        "googleOauthParams.ticket": {
                          "location": "query",
                          "description": "Required. The ticket to be used for post processing the callback from Google OAuth flow.",
                          "type": "string"
                        },
                        "googleOauthParams.versionInfo": {
                          "description": "Optional. The version info returned by Google OAuth flow.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.finishOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+accountConnector}/users:finishOAuthFlow",
                      "httpMethod": "GET",
                      "description": "Finishes OAuth flow for an account connector.",
                      "parameterOrder": [
                        "accountConnector"
                      ]
                    },
                    "fetchSelf": {
                      "response": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the AccountConnector resource",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchSelf",
                      "path": "v1/{+name}/users:fetchSelf",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Fetch the User based on the user credentials.",
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchSelf",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent value for ListUsersRequest",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users",
                      "path": "v1/{+parent}/users",
                      "httpMethod": "GET",
                      "description": "Lists Users in a given project, location, and account_connector.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users/{usersId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+/users/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "etag": {
                          "location": "query",
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "type": "string"
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single User.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deleteSelf": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the AccountConnector resource",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:deleteSelf",
                      "path": "v1/{+name}/users:deleteSelf",
                      "httpMethod": "DELETE",
                      "description": "Delete the User based on the user credentials.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.deleteSelf",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "fetchAccessToken": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchAccessToken",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      },
                      "parameters": {
                        "accountConnector": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "type": "string"
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchAccessToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "path": "v1/{+accountConnector}/users:fetchAccessToken",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "description": "Fetches OAuth access token based on end user credentials."
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "response": {
                    "$ref": "ListAccountConnectorsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListAccountConnectorsRequest",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/accountConnectors",
                  "httpMethod": "GET",
                  "description": "Lists AccountConnectors in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "etag": {
                      "description": "Optional. The current etag of the AccountConnectorn. If an etag is provided and does not match the current etag of the AccountConnector, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any Users from this AccountConnector will also be deleted. (Otherwise, the request will only work if the AccountConnector has no Users.)",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "description": "Deletes a single AccountConnector.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "developerconnect.projects.locations.accountConnectors.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "developerconnect.projects.locations.accountConnectors.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single AccountConnector.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AccountConnector"
                  }
                },
                "create": {
                  "description": "Creates a new AccountConnector in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/accountConnectors",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Location resource name as the account_connector’s parent.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "accountConnectorId": {
                      "location": "query",
                      "description": "Required. The ID to use for the AccountConnector, which will become the final component of the AccountConnector's resource name. Its format should adhere to https://google.aip.dev/122#resource-id-segments Names must be unique per-project per-location.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors"
                },
                "fetchUserRepositories": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "parameters": {
                    "repository": {
                      "location": "query",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user.",
                      "type": "string"
                    },
                    "accountConnector": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "parameterOrder": [
                    "accountConnector"
                  ],
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The list of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the accountConnector is not found a new accountConnector will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input accountConnector has all the necessary",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "description": "Updates the parameters of a single AccountConnector.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "developerconnect.projects.locations.accountConnectors.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "insightsConfigs": {
              "resources": {
                "deploymentEvents": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a single Deployment Event.",
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "DeploymentEvent"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+/deploymentEvents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the deployment event to retrieve. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents/{deploymentEventsId}"
                    },
                    "list": {
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/deploymentEvents",
                      "httpMethod": "GET",
                      "description": "Lists Deployment Events in a given insights config.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents",
                      "response": {
                        "$ref": "ListDeploymentEventsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of deployment events to return. The service may return fewer than this value. If unspecified, at most 50 deployment events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Optional. Field to use to order the list of DeploymentEvents. Expects AIP-132 format \"field_name asc\" or \"field_name desc\", e.g. \"deploy_time desc\" Supported fields for ordering are: deploy_time, update_time. Currently, only sorting by a single field is supported. If this field is not provided, the list will be sorted by \"deploy_time desc\". For more details on the ordering syntax, see https://google.aip.dev/132#ordering.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter expression that matches a subset of the DeploymentEvents. https://google.aip.dev/160.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeploymentEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeploymentEvents` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent insights config that owns this collection of deployment events. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListInsightsConfigsRequest.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results. See https://google.aip.dev/160 for more details. Filter string, adhering to the rules in https://google.aip.dev/160. List only InsightsConfigs matching the filter. If filter is empty, all InsightsConfigs are listed.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListInsightsConfigsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "description": "Lists InsightsConfigs in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/insightsConfigs",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.insightsConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "developerconnect.projects.locations.insightsConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Insight.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Insight.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.insightsConfigs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "InsightsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}"
                },
                "create": {
                  "description": "Creates a new InsightsConfig in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/insightsConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "id": "developerconnect.projects.locations.insightsConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "insightsConfigId": {
                      "location": "query",
                      "description": "Required. ID of the requesting InsightsConfig.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs"
                },
                "patch": {
                  "id": "developerconnect.projects.locations.insightsConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single InsightsConfig.",
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the insightsConfig is not found a new insightsConfig will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input insightsConfig has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20260723",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "schemas": {
    "FetchAccessTokenRequest": {
      "description": "Message for fetching an OAuth access token.",
      "type": "object",
      "properties": {},
      "id": "FetchAccessTokenRequest"
    },
    "FetchAccessTokenResponse": {
      "description": "Message for responding to getting an OAuth access token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "The scopes of the access token.",
          "type": "array"
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
[...]
