{
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "baseUrl": "https://developerconnect.googleapis.com/",
  "description": "Connect third-party source code management to Google",
  "batchPath": "batch",
  "title": "Developer Connect API",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "basePath": "",
  "name": "developerconnect",
  "canonicalName": "Developer Connect",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "servicePath": "",
  "discoveryVersion": "v1",
  "revision": "20260813",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "FetchAccessTokenRequest": {
      "type": "object",
      "properties": {},
      "description": "Message for fetching an OAuth access token.",
      "id": "FetchAccessTokenRequest"
    },
    "UserCredential": {
      "type": "object",
      "properties": {
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated with this token.",
          "type": "string"
        },
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "id": "UserCredential"
    },
    "LinkableGitRepository": {
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "id": "LinkableGitRepository",
      "type": "object",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      }
    },
    "ProcessGitLabWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "type": "object",
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method."
    },
    "ArtifactConfig": {
      "properties": {
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        },
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        }
      },
      "type": "object",
      "id": "ArtifactConfig",
      "description": "The artifact config of the artifact that is deployed."
    },
    "Installation": {
      "description": "Represents an installation of the GitHub App.",
      "id": "Installation",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the installation in GitHub.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        }
      }
    },
    "ProxyConfig": {
      "id": "ProxyConfig",
      "description": "The proxy configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "id": "GoogleArtifactRegistry",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The host project of Artifact Registry.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      }
    },
    "BitbucketCloudConfig": {
      "properties": {
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        }
      },
      "type": "object",
      "id": "BitbucketCloudConfig",
      "description": "Configuration for connections to an instance of Bitbucket Cloud."
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GitLabEnterpriseConfig": {
      "type": "object",
      "properties": {
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "id": "GitLabEnterpriseConfig"
    },
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "The password SecretManager secret version to authenticate as.",
          "type": "string"
        }
      },
      "description": "Basic authentication with username and password.",
      "id": "BasicAuthentication"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "description": "Message for responding to get read/write token.",
      "id": "FetchReadWriteTokenResponse",
      "type": "object",
      "properties": {
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime",
          "type": "string"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      }
    },
    "GitLabConfig": {
      "type": "object",
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to gitlab.com.",
      "id": "GitLabConfig"
    },
    "InstallationState": {
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete."
        },
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ]
        },
        "actionUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete."
        }
      },
      "type": "object",
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "id": "ProcessBitbucketCloudWebhookRequest",
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "type": "object"
    },
    "Projects": {
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "id": "Projects",
      "type": "object",
      "properties": {
        "projectIds": {
          "type": "array",
          "description": "Optional. The project IDs. Format: {project}",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeploymentEvent": {
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource.",
      "id": "DeploymentEvent",
      "type": "object",
      "properties": {
        "undeployTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "format": "google-datetime"
        },
        "artifactDeployments": {
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "items": {
            "$ref": "ArtifactDeployment"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the DeploymentEvent.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ]
        },
        "createTime": {
          "description": "Output only. The create time of the DeploymentEvent.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deployTime": {
          "readOnly": true,
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update time of the DeploymentEvent.",
          "format": "google-datetime",
          "type": "string"
        },
        "runtimeDeploymentUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name."
        },
        "runtimeConfig": {
          "description": "Output only. The runtime configurations where the DeploymentEvent happened.",
          "$ref": "RuntimeConfig",
          "readOnly": true
        }
      }
    },
    "GenericHTTPEndpointConfig": {
      "type": "object",
      "properties": {
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        },
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "id": "GenericHTTPEndpointConfig"
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "type": "object",
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method."
    },
    "Location": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "ListDeploymentEventsResponse": {
      "id": "ListDeploymentEventsResponse",
      "description": "Response to listing DeploymentEvents.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deploymentEvents": {
          "description": "The list of DeploymentEvents.",
          "items": {
            "$ref": "DeploymentEvent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleArtifactAnalysis": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      },
      "description": "Google Artifact Analysis configurations.",
      "id": "GoogleArtifactAnalysis"
    },
    "ArtifactDeployment": {
      "id": "ArtifactDeployment",
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "properties": {
        "artifactAlias": {
          "readOnly": true,
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "type": "string"
        },
        "artifactReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The artifact that is deployed."
        },
        "undeployTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "format": "google-datetime"
        },
        "sourceCommitUris": {
          "type": "array",
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true
        },
        "containerStatusSummary": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\""
        },
        "sourceCodeUris": {
          "readOnly": true,
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "connections": {
          "type": "array",
          "description": "The list of Connection",
          "items": {
            "$ref": "Connection"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Connections",
      "id": "ListConnectionsResponse"
    },
    "ExchangeError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "description": "Message for representing an error from exchanging OAuth tokens.",
      "id": "ExchangeError"
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs.",
      "id": "FetchGitRefsResponse",
      "type": "object",
      "properties": {
        "refNames": {
          "description": "Name of the refs fetched.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CryptoKeyConfig": {
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CryptoKeyConfig",
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature."
    },
    "FetchAccessTokenResponse": {
      "id": "FetchAccessTokenResponse",
      "description": "Message for responding to getting an OAuth access token.",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes of the access token.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
      "type": "object"
    },
    "GoogleCloudRun": {
      "id": "GoogleCloudRun",
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchUserRepositoriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "userRepos": {
          "description": "The repositories that the user can access with this account connector.",
          "items": {
            "$ref": "UserRepository"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "FetchUserRepositoriesResponse",
      "description": "Response message for FetchUserRepositories."
    },
    "FetchReadTokenResponse": {
      "properties": {
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token."
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "RuntimeConfig": {
      "type": "object",
      "properties": {
        "appHubService": {
          "description": "Output only. App Hub Service.",
          "$ref": "AppHubService",
          "readOnly": true
        },
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "$ref": "GoogleCloudRun",
          "readOnly": true
        },
        "gkeWorkload": {
          "description": "Output only. Google Kubernetes Engine runtime.",
          "$ref": "GKEWorkload",
          "readOnly": true
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the Runtime.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ]
        },
        "appHubWorkload": {
          "readOnly": true,
          "description": "Output only. App Hub Workload.",
          "$ref": "AppHubWorkload"
        }
      },
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "id": "RuntimeConfig"
    },
    "SecureSourceManagerInstanceConfig": {
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`",
          "type": "string"
        }
      },
      "description": "Configuration for connections to Secure Source Manager instance",
      "id": "SecureSourceManagerInstanceConfig"
    },
    "CustomOAuthConfig": {
      "properties": {
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to connect to a private service.",
          "$ref": "ServiceDirectoryConfig"
        },
        "scmProvider": {
          "description": "Required. The type of the SCM provider.",
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ]
        },
        "serverVersion": {
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true,
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "tokenUri": {
          "description": "Required. Immutable. The OAuth2 token request URL.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to a private service.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. The client ID of the OAuth application.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The scopes to be requested during OAuth.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomOAuthConfig",
      "description": "Message for a customized OAuth config."
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "id": "FetchReadWriteTokenRequest",
      "type": "object",
      "properties": {}
    },
    "ListInsightsConfigsResponse": {
      "description": "Request for response to listing InsightsConfigs.",
      "id": "ListInsightsConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "insightsConfigs": {
          "type": "array",
          "description": "The list of InsightsConfigs.",
          "items": {
            "$ref": "InsightsConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "InsightsConfig": {
      "properties": {
        "annotations": {
          "type": "object",
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "artifactConfigs": {
          "type": "array",
          "description": "Optional. The artifact configurations of the artifacts that are deployed.",
          "items": {
            "$ref": "ArtifactConfig"
          }
        },
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "state": {
          "description": "Optional. Output only. The state of the InsightsConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "runtimeConfigs": {
          "readOnly": true,
          "description": "Output only. The runtime configurations where the application is deployed.",
          "items": {
            "$ref": "RuntimeConfig"
          },
          "type": "array"
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InsightsConfig",
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them."
    },
    "AppHubService": {
      "id": "AppHubService",
      "description": "AppHubService represents the App Hub Service.",
      "properties": {
        "apphubService": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true
        },
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Service.",
          "readOnly": true
        },
        "environment": {
          "readOnly": true,
          "description": "Output only. The environment of the App Hub Service.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppHubWorkload": {
      "description": "AppHubWorkload represents the App Hub Workload.",
      "id": "AppHubWorkload",
      "type": "object",
      "properties": {
        "workload": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "readOnly": true
        },
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true
        },
        "environment": {
          "readOnly": true,
          "description": "Output only. The environment of the App Hub Workload.",
          "type": "string"
        }
      }
    },
    "GKEWorkload": {
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime.",
      "id": "GKEWorkload",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "deployment": {
          "readOnly": true,
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "type": "string"
        }
      }
    },
    "ServiceDirectoryConfig": {
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "ServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "users": {
          "type": "array",
          "description": "The list of Users",
          "items": {
            "$ref": "User"
          }
        }
      },
      "type": "object",
      "id": "ListUsersResponse",
      "description": "Message for response to listing Users"
    },
    "GitHubConfig": {
      "properties": {
        "githubApp": {
          "type": "string",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ]
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        },
        "installationUri": {
          "readOnly": true,
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "type": "string"
        },
        "appInstallationId": {
          "type": "string",
          "description": "Optional. GitHub App installation id.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com."
    },
    "GitProxyConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect."
        }
      },
      "description": "The git proxy configuration.",
      "id": "GitProxyConfig"
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "id": "FetchGitHubInstallationsResponse",
      "type": "object",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "items": {
            "$ref": "Installation"
          },
          "type": "array"
        }
      }
    },
    "FinishOAuthResponse": {
      "type": "object",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
      "description": "Message for responding to finishing an OAuth flow.",
      "id": "FinishOAuthResponse"
    },
    "ListAccountConnectorsResponse": {
      "type": "object",
      "properties": {
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "items": {
            "$ref": "AccountConnector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing AccountConnectors",
      "id": "ListAccountConnectorsResponse"
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true
        },
        "authorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountConnector": {
      "type": "object",
      "properties": {
        "providerOauthConfig": {
          "description": "Optional. Provider OAuth config.",
          "$ref": "ProviderOAuthConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
          "type": "string"
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "type": "string"
        },
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was created.",
          "format": "google-datetime"
        }
      },
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "id": "AccountConnector"
    },
    "ProviderOAuthConfig": {
      "id": "ProviderOAuthConfig",
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "properties": {
        "scopes": {
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "systemProviderId": {
          "type": "string",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "description": "Optional. Immutable. Developer Connect provided OAuth.",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ]
        }
      },
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "properties": {
        "displayName": {
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the user was created.",
          "format": "google-datetime"
        },
        "lastTokenRequestTime": {
          "description": "Output only. The timestamp when the token was last requested.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "UserRepository": {
      "id": "UserRepository",
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "properties": {
        "gitProxyUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "readOnly": true
        },
        "cloneUri": {
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OAuthCredential": {
      "type": "object",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated with this token.",
          "type": "string"
        }
      },
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "id": "OAuthCredential"
    },
    "FetchLinkableGitRepositoriesResponse": {
      "type": "object",
      "properties": {
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "items": {
            "$ref": "LinkableGitRepository"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for FetchLinkableGitRepositories.",
      "id": "FetchLinkableGitRepositoriesResponse"
    },
    "GitHubEnterpriseConfig": {
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "id": "GitHubEnterpriseConfig",
      "type": "object",
      "properties": {
        "appSlug": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL-friendly name of the GitHub App."
        },
        "appInstallationId": {
          "type": "string",
          "description": "Optional. ID of the installation of the GitHub App.",
          "format": "int64"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "appId": {
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "format": "int64",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "installationUri": {
          "readOnly": true,
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        }
      }
    },
    "StartOAuthResponse": {
      "properties": {
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "The list of scopes requested by the application.",
          "items": {
            "type": "string"
          }
        },
        "systemProviderId": {
          "description": "The ID of the system provider.",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "type": "string",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ]
        },
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        },
        "authUri": {
          "description": "The authorization server URL to the OAuth flow of the service provider.",
          "type": "string"
        },
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StartOAuthResponse",
      "description": "Message for responding to starting an OAuth flow."
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "BearerTokenAuthentication": {
      "description": "Bearer token authentication with a token.",
      "id": "BearerTokenAuthentication",
      "type": "object",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      }
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "id": "FetchReadTokenRequest",
      "type": "object",
      "properties": {}
    },
    "Connection": {
      "id": "Connection",
      "description": "Message describing Connection object",
      "properties": {
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create timestamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object"
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true,
          "type": "string"
        },
        "installationState": {
          "readOnly": true,
          "description": "Output only. Installation state of the Connection.",
          "$ref": "InstallationState"
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GitHubEnterpriseConfig"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        }
      },
      "type": "object"
    },
    "ListGitRepositoryLinksResponse": {
      "id": "ListGitRepositoryLinksResponse",
      "description": "Message for response to listing GitRepositoryLinks",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "gitRepositoryLinks": {
          "type": "array",
          "description": "The list of GitRepositoryLinks",
          "items": {
            "$ref": "GitRepositoryLink"
          }
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "GitRepositoryLink": {
      "id": "GitRepositoryLink",
      "description": "Message describing the GitRepositoryLink object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background."
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink."
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "webhookId": {
          "readOnly": true,
          "description": "Output only. External ID of the webhook created for the repository.",
          "type": "string"
        },
        "gitProxyUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection."
        },
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "accountConnectors": {
              "resources": {
                "users": {
                  "methods": {
                    "fetchSelf": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchSelf",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetch the User based on the user credentials.",
                      "path": "v1/{+name}/users:fetchSelf",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the AccountConnector resource",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "User"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchSelf",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deleteSelf": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:deleteSelf",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete the User based on the user credentials.",
                      "path": "v1/{+name}/users:deleteSelf",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "description": "Required. Name of the AccountConnector resource",
                          "required": true
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.deleteSelf",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "fetchAccessToken": {
                      "parameters": {
                        "accountConnector": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "required": true
                        }
                      },
                      "path": "v1/{+accountConnector}/users:fetchAccessToken",
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchAccessToken",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches OAuth access token based on end user credentials.",
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchAccessToken"
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent value for ListUsersRequest",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        }
                      },
                      "path": "v1/{+parent}/users",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Users in a given project, location, and account_connector.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUsersResponse"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.delete",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request, but do not actually post it."
                        },
                        "etag": {
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+/users/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single User."
                    },
                    "finishOAuthFlow": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:finishOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Finishes OAuth flow for an account connector.",
                      "path": "v1/{+accountConnector}/users:finishOAuthFlow",
                      "parameters": {
                        "accountConnector": {
                          "required": true,
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                        },
                        "oauthParams.code": {
                          "description": "Required. The code to be used for getting the token from SCM provider.",
                          "location": "query",
                          "type": "string"
                        },
                        "googleOauthParams.scopes": {
                          "description": "Required. The scopes returned by Google OAuth flow.",
                          "location": "query",
                          "repeated": true,
                          "type": "string"
                        },
                        "googleOauthParams.ticket": {
                          "description": "Required. The ticket to be used for post processing the callback from Google OAuth flow.",
                          "location": "query",
                          "type": "string"
                        },
                        "googleOauthParams.versionInfo": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The version info returned by Google OAuth flow."
                        },
                        "oauthParams.ticket": {
                          "description": "Required. The ticket to be used for post processing the callback from SCM provider.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.finishOAuthFlow",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FinishOAuthResponse"
                      },
                      "parameterOrder": [
                        "accountConnector"
                      ]
                    },
                    "startOAuthFlow": {
                      "path": "v1/{+accountConnector}/users:startOAuthFlow",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:startOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Starts OAuth flow for an account connector.",
                      "parameters": {
                        "accountConnector": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`."
                        }
                      },
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "StartOAuthResponse"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.startOAuthFlow"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single AccountConnector.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AccountConnector"
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.get"
                },
                "fetchUserRepositories": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "format": "int32"
                    },
                    "accountConnector": {
                      "required": true,
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "location": "query",
                      "type": "string"
                    },
                    "repository": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "parameterOrder": [
                    "accountConnector"
                  ]
                },
                "list": {
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAccountConnectorsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists AccountConnectors in a given project and location.",
                  "path": "v1/{+parent}/accountConnectors",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
[...]
