{
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "canonicalName": "Developer Connect",
  "protocol": "rest",
  "basePath": "",
  "revision": "20260629",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "developerconnect:v1",
  "discoveryVersion": "v1",
  "description": "Connect third-party source code management to Google",
  "servicePath": "",
  "name": "developerconnect",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "schemas": {
    "FinishOAuthResponse": {
      "id": "FinishOAuthResponse",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
      "description": "Message for responding to finishing an OAuth flow.",
      "type": "object"
    },
    "ListConnectionsResponse": {
      "description": "Message for response to listing Connections",
      "type": "object",
      "id": "ListConnectionsResponse",
      "properties": {
        "connections": {
          "description": "The list of Connection",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BitbucketDataCenterConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "type": "object",
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "authorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "description": "Message for responding to get read/write token.",
      "type": "object",
      "id": "FetchReadWriteTokenResponse",
      "properties": {
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CryptoKeyConfig": {
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature.",
      "type": "object",
      "id": "CryptoKeyConfig",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      }
    },
    "Projects": {
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "type": "object",
      "id": "Projects",
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The project IDs. Format: {project}",
          "type": "array"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "FetchAccessTokenRequest": {
      "description": "Message for fetching an OAuth access token.",
      "type": "object",
      "id": "FetchAccessTokenRequest",
      "properties": {}
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "User": {
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "type": "object",
      "id": "User",
      "properties": {
        "displayName": {
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the user was created.",
          "readOnly": true,
          "type": "string"
        },
        "lastTokenRequestTime": {
          "description": "Output only. The timestamp when the token was last requested.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "properties": {
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallationId": {
          "format": "int64",
          "description": "Optional. GitHub App installation id.",
          "type": "string"
        },
        "githubApp": {
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "type": "string",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ]
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        }
      },
      "description": "Configuration for connections to github.com.",
      "type": "object"
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "type": "object",
      "id": "InstallationState",
      "properties": {
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ]
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object"
    },
    "ProviderOAuthConfig": {
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "type": "object",
      "id": "ProviderOAuthConfig",
      "properties": {
        "systemProviderId": {
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "description": "Optional. Immutable. Developer Connect provided OAuth.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArtifactDeployment": {
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "type": "object",
      "id": "ArtifactDeployment",
      "properties": {
        "id": {
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true,
          "type": "string"
        },
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "artifactAlias": {
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true,
          "type": "string"
        },
        "sourceCodeUris": {
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceCommitUris": {
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "undeployTime": {
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "artifactReference": {
          "description": "Output only. The artifact that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "containerStatusSummary": {
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "BearerTokenAuthentication": {
      "id": "BearerTokenAuthentication",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      },
      "description": "Bearer token authentication with a token.",
      "type": "object"
    },
    "UserCredential": {
      "id": "UserCredential",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object"
    },
    "GoogleCloudRun": {
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "type": "object",
      "id": "GoogleCloudRun",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      }
    },
    "GitLabConfig": {
      "description": "Configuration for connections to gitlab.com.",
      "type": "object",
      "id": "GitLabConfig",
      "properties": {
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      }
    },
    "GoogleArtifactRegistry": {
      "id": "GoogleArtifactRegistry",
      "properties": {
        "projectId": {
          "description": "Required. The host project of Artifact Registry.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "description": "Google Artifact Registry configurations.",
      "type": "object"
    },
    "InsightsConfig": {
      "id": "InsightsConfig",
      "properties": {
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "artifactConfigs": {
          "items": {
            "$ref": "ArtifactConfig"
          },
          "description": "Optional. The artifact configurations of the artifacts that are deployed.",
          "type": "array"
        },
        "errors": {
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "state": {
          "description": "Optional. Output only. The state of the InsightsConfig.",
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "type": "object"
        },
        "annotations": {
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "runtimeConfigs": {
          "items": {
            "$ref": "RuntimeConfig"
          },
          "description": "Output only. The runtime configurations where the application is deployed.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "type": "object"
    },
    "ExchangeError": {
      "id": "ExchangeError",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "description": "Message for representing an error from exchanging OAuth tokens.",
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "type": "object",
      "id": "FetchReadWriteTokenRequest",
      "properties": {}
    },
    "FetchAccessTokenResponse": {
      "description": "Message for responding to getting an OAuth access token.",
      "type": "object",
      "id": "FetchAccessTokenResponse",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        },
        "scopes": {
          "description": "The scopes of the access token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListDeploymentEventsResponse": {
      "id": "ListDeploymentEventsResponse",
      "properties": {
        "deploymentEvents": {
          "items": {
            "$ref": "DeploymentEvent"
          },
          "description": "The list of DeploymentEvents.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response to listing DeploymentEvents.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "type": "object",
      "id": "FetchGitHubInstallationsResponse",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "type": "array",
          "items": {
            "$ref": "Installation"
          }
        }
      }
    },
    "Installation": {
      "id": "Installation",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of the installation in GitHub.",
          "type": "string"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        }
      },
      "description": "Represents an installation of the GitHub App.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs.",
      "type": "object",
      "id": "FetchGitRefsResponse",
      "properties": {
        "refNames": {
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "BitbucketCloudConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "type": "object",
      "id": "BitbucketCloudConfig",
      "properties": {
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        }
      }
    },
    "GitRepositoryLink": {
      "id": "GitRepositoryLink",
      "properties": {
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message describing the GitRepositoryLink object",
      "type": "object"
    },
    "AccountConnector": {
      "id": "AccountConnector",
      "properties": {
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "providerOauthConfig": {
          "description": "Optional. Provider OAuth config.",
          "$ref": "ProviderOAuthConfig"
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the accountConnector was created.",
          "readOnly": true,
          "type": "string"
        },
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        }
      },
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "type": "object"
    },
    "DeploymentEvent": {
      "id": "DeploymentEvent",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ],
          "description": "Output only. The state of the DeploymentEvent.",
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "readOnly": true
        },
        "deployTime": {
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeDeploymentUri": {
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name.",
          "readOnly": true,
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Output only. The runtime configurations where the DeploymentEvent happened.",
          "readOnly": true
        },
        "artifactDeployments": {
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ArtifactDeployment"
          }
        },
        "undeployTime": {
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The create time of the DeploymentEvent.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time of the DeploymentEvent.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource.",
      "type": "object"
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "type": "object",
      "id": "ProcessBitbucketCloudWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RuntimeConfig": {
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "type": "object",
      "id": "RuntimeConfig",
      "properties": {
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "readOnly": true,
          "$ref": "GoogleCloudRun"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        },
        "gkeWorkload": {
          "description": "Output only. Google Kubernetes Engine runtime.",
          "readOnly": true,
          "$ref": "GKEWorkload"
        },
        "appHubService": {
          "$ref": "AppHubService",
          "description": "Output only. App Hub Service.",
          "readOnly": true
        },
        "appHubWorkload": {
          "description": "Output only. App Hub Workload.",
          "readOnly": true,
          "$ref": "AppHubWorkload"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "description": "Output only. The state of the Runtime.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ]
        }
      }
    },
    "GoogleArtifactAnalysis": {
      "description": "Google Artifact Analysis configurations.",
      "type": "object",
      "id": "GoogleArtifactAnalysis",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      }
    },
    "LinkableGitRepository": {
      "id": "LinkableGitRepository",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      },
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "type": "object"
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "type": "object",
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "UserRepository": {
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "type": "object",
      "id": "UserRepository",
      "properties": {
        "displayName": {
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "readOnly": true,
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        },
        "cloneUri": {
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GenericHTTPEndpointConfig": {
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "type": "object",
      "id": "GenericHTTPEndpointConfig",
      "properties": {
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        },
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        }
      }
    },
    "StartOAuthResponse": {
      "id": "StartOAuthResponse",
      "properties": {
        "systemProviderId": {
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "description": "The ID of the system provider.",
          "type": "string"
        },
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        },
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        },
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        },
        "authUri": {
          "description": "The authorization server URL to the OAuth flow of the service provider.",
          "type": "string"
        },
        "scopes": {
          "description": "The list of scopes requested by the application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for responding to starting an OAuth flow.",
      "type": "object"
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "type": "object",
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "GitHubEnterpriseConfig": {
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object",
      "id": "GitHubEnterpriseConfig",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "appSlug": {
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "readOnly": true,
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "appId": {
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "type": "string",
          "format": "int64"
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "readOnly": true,
          "type": "string"
        },
        "appInstallationId": {
          "format": "int64",
          "description": "Optional. ID of the installation of the GitHub App.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        }
      }
    },
    "GitProxyConfig": {
      "description": "The git proxy configuration.",
      "type": "object",
      "id": "GitProxyConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchReadTokenResponse": {
      "description": "Message for responding to get read token.",
      "type": "object",
      "id": "FetchReadTokenResponse",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        }
      }
    },
    "ArtifactConfig": {
      "description": "The artifact config of the artifact that is deployed.",
      "type": "object",
      "id": "ArtifactConfig",
      "properties": {
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        },
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GitLabEnterpriseConfig": {
      "id": "GitLabEnterpriseConfig",
      "properties": {
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "type": "object"
    },
    "BasicAuthentication": {
      "description": "Basic authentication with username and password.",
      "type": "object",
      "id": "BasicAuthentication",
      "properties": {
        "passwordSecretVersion": {
          "description": "The password SecretManager secret version to authenticate as.",
          "type": "string"
        },
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ListGitRepositoryLinksResponse": {
      "description": "Message for response to listing GitRepositoryLinks",
      "type": "object",
      "id": "ListGitRepositoryLinksResponse",
      "properties": {
        "gitRepositoryLinks": {
          "items": {
            "$ref": "GitRepositoryLink"
          },
          "description": "The list of GitRepositoryLinks",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListAccountConnectorsResponse": {
      "description": "Message for response to listing AccountConnectors",
      "type": "object",
      "id": "ListAccountConnectorsResponse",
      "properties": {
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "type": "array",
          "items": {
            "$ref": "AccountConnector"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListInsightsConfigsResponse": {
      "description": "Request for response to listing InsightsConfigs.",
      "type": "object",
      "id": "ListInsightsConfigsResponse",
      "properties": {
        "insightsConfigs": {
          "description": "The list of InsightsConfigs.",
          "type": "array",
          "items": {
            "$ref": "InsightsConfig"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GKEWorkload": {
      "id": "GKEWorkload",
      "properties": {
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "deployment": {
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime.",
      "type": "object"
    },
    "OAuthCredential": {
      "id": "OAuthCredential",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object"
    },
    "AppHubWorkload": {
      "id": "AppHubWorkload",
      "properties": {
        "criticality": {
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        },
        "workload": {
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "AppHubWorkload represents the App Hub Workload.",
      "type": "object"
    },
    "CustomOAuthConfig": {
      "id": "CustomOAuthConfig",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Required. The scopes to be requested during OAuth.",
          "type": "array"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to connect to a private service.",
          "$ref": "ServiceDirectoryConfig"
        },
        "clientId": {
          "description": "Required. The client ID of the OAuth application.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to a private service.",
          "type": "string"
        },
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "tokenUri": {
          "description": "Required. Immutable. The OAuth2 token request URL.",
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "scmProvider": {
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ],
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "description": "Required. The type of the SCM provider.",
          "type": "string"
        }
      },
      "description": "Message for a customized OAuth config.",
      "type": "object"
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "id": "FetchReadTokenRequest",
      "properties": {}
    },
    "FetchLinkableGitRepositoriesResponse": {
      "id": "FetchLinkableGitRepositoriesResponse",
      "properties": {
        "linkableGitRepositories": {
          "items": {
            "$ref": "LinkableGitRepository"
          },
          "description": "The git repositories that can be linked to the connection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for FetchLinkableGitRepositories.",
      "type": "object"
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "type": "object"
    },
    "Connection": {
      "description": "Message describing Connection object",
      "type": "object",
      "id": "Connection",
      "properties": {
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GitHubEnterpriseConfig"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "installationState": {
          "$ref": "InstallationState",
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true,
          "type": "string"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of Users",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing Users",
      "type": "object"
    },
    "ProcessGitLabWebhookRequest": {
      "id": "ProcessGitLabWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "type": "object"
    },
    "ProxyConfig": {
      "description": "The proxy configuration.",
      "type": "object",
      "id": "ProxyConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchUserRepositoriesResponse": {
      "id": "FetchUserRepositoriesResponse",
      "properties": {
        "userRepos": {
          "items": {
            "$ref": "UserRepository"
          },
          "description": "The repositories that the user can access with this account connector.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for FetchUserRepositories.",
      "type": "object"
    },
    "SecureSourceManagerInstanceConfig": {
      "description": "Configuration for connections to Secure Source Manager instance",
      "type": "object",
      "id": "SecureSourceManagerInstanceConfig",
      "properties": {
        "instance": {
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`",
          "type": "string"
        }
      }
    },
    "AppHubService": {
      "description": "AppHubService represents the App Hub Service.",
      "type": "object",
      "id": "AppHubService",
      "properties": {
        "criticality": {
          "description": "Output only. The criticality of the App Hub Service.",
          "readOnly": true,
          "type": "string"
        },
        "apphubService": {
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Service.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "developerconnect.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/locations"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "developerconnect.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "developerconnect.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "id": "developerconnect.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "developerconnect.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "accountConnectors": {
              "methods": {
                "delete": {
                  "description": "Deletes a single AccountConnector.",
                  "id": "developerconnect.projects.locations.accountConnectors.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the AccountConnectorn. If an etag is provided and does not match the current etag of the AccountConnector, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. If set to true, any Users from this AccountConnector will also be deleted. (Otherwise, the request will only work if the AccountConnector has no Users.)",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchUserRepositories": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "type": "string",
                      "location": "query"
                    },
                    "accountConnector": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "type": "string",
                      "required": true
                    },
                    "repository": {
                      "location": "query",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "parameterOrder": [
                    "accountConnector"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists AccountConnectors in a given project and location.",
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "response": {
[...]
