{
  "protocol": "rest",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "resources": {
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "description": "Answers a query using grounded generation.",
          "path": "v1alpha:answerQuery",
          "parameterOrder": [],
          "id": "developerknowledge.answerQuery",
          "request": {
            "$ref": "AnswerQueryRequest"
          },
          "flatPath": "v1alpha:answerQuery"
        }
      }
    },
    "documents": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` The name must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "type": "string",
              "pattern": "^documents/.*$",
              "required": true,
              "location": "path"
            },
            "view": {
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "Document"
          },
          "id": "developerknowledge.documents.get",
          "httpMethod": "GET",
          "description": "Retrieves a single document with its full Markdown content.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/documents/{documentsId}"
        },
        "searchDocumentChunks": {
          "id": "developerknowledge.documents.searchDocumentChunks",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `content_length_bytes` (INTEGER): The length of the `Document.content` field in bytes. * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. INTEGER fields support `=`, `<`, `<=`, `>`, and `>=` operators. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. Note: Field names must be in `snake_case` (e.g., `data_source`). Values on the right-hand side of filtering expressions must be string literals enclosed in double quotes (e.g., `\"docs.cloud.google.com\"`). You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * Filter by `Document.content_length_bytes`: `content_length_bytes < 50000` * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            },
            "query": {
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\". The query must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page."
            }
          },
          "path": "v1alpha/documents:searchDocumentChunks",
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "batchGet": {
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "id": "developerknowledge.documents.batchGet",
          "parameterOrder": [],
          "path": "v1alpha/documents:batchGet",
          "parameters": {
            "names": {
              "type": "string",
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` Each name must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error. ",
              "repeated": true,
              "location": "query"
            },
            "view": {
              "type": "string",
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`.",
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ]
            }
          },
          "flatPath": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "title": "Developer Knowledge API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "schemas": {
    "AnswerQueryResponse": {
      "properties": {
        "answer": {
          "description": "The answer to the query.",
          "$ref": "Answer"
        }
      },
      "id": "AnswerQueryResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.AnswerQuery."
    },
    "DocumentChunk": {
      "properties": {
        "document": {
          "$ref": "Document",
          "readOnly": true,
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "type": "string"
        },
        "content": {
          "description": "Output only. Contains the content of the document chunk.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        },
        "relevanceScore": {
          "format": "double",
          "type": "number",
          "description": "Output only. Represents the relevance score of the chunk to the search query. Higher score indicates higher chunk relevance. The score is in range [0.0, 1.0].",
          "readOnly": true
        }
      },
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "id": "DocumentChunk",
      "type": "object"
    },
    "AnswerReference": {
      "properties": {
        "documentReference": {
          "$ref": "DocumentReference",
          "readOnly": true,
          "description": "Output only. The reference document."
        }
      },
      "id": "AnswerReference",
      "type": "object",
      "description": "Represents a reference to a source."
    },
    "Document": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. Contains the full content of the document in Markdown format.",
          "readOnly": true
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`"
        },
        "contentLengthBytes": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The length of the `content` field in bytes.",
          "readOnly": true
        },
        "view": {
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "description": "Output only. Specifies the DocumentView of the document.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ]
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides the title of the document."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a description of the document."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "uri": {
          "description": "Output only. Provides the URI of the content, such as `https://docs.cloud.google.com/storage/docs/creating-buckets`.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A Document represents a page of documentation in the Developer Knowledge corpus, like the page at https://docs.cloud.google.com/storage/docs/creating-buckets.",
      "id": "Document"
    },
    "CitationSource": {
      "type": "object",
      "properties": {
        "referenceIndex": {
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "Citation source.",
      "id": "CitationSource"
    },
    "AnswerCitation": {
      "type": "object",
      "description": "Citation info for a segment.",
      "id": "AnswerCitation",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "CitationSource"
          },
          "description": "Output only. Contains citation sources for the attributed segment.",
          "readOnly": true
        },
        "startIndex": {
          "format": "int32",
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "readOnly": true,
          "type": "integer"
        },
        "endIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length."
        }
      }
    },
    "AnswerQueryRequest": {
      "id": "AnswerQueryRequest",
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "properties": {
        "query": {
          "description": "Required. The query to answer.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Applies a strict filter to the search results used to ground the answer. The expression supports a subset of the syntax described at https://google.aip.dev/160. Supported fields for filtering: * `content_length_bytes` (INTEGER): The length of the `Document.content` field in bytes. * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. INTEGER fields support `=`, `<`, `<=`, `>`, and `>=` operators. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * Filter by `Document.content_length_bytes`: `content_length_bytes < 50000` * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error."
        }
      },
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "type": "object",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "description": "Contains the documents requested.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        }
      }
    },
    "SearchDocumentChunksResponse": {
      "type": "object",
      "id": "SearchDocumentChunksResponse",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "properties": {
        "nextPageToken": {
          "description": "Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        }
      }
    },
    "Answer": {
      "type": "object",
      "id": "Answer",
      "properties": {
        "citations": {
          "description": "Output only. Contains citations for the answer.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AnswerCitation"
          }
        },
        "answerText": {
          "description": "Contains the text of the answer.",
          "type": "string"
        },
        "references": {
          "description": "Output only. Contains references for the answer.",
          "readOnly": true,
          "items": {
            "$ref": "AnswerReference"
          },
          "type": "array"
        }
      },
      "description": "An answer to a query."
    },
    "DocumentReference": {
      "id": "DocumentReference",
      "description": "Represents a reference to a document.",
      "type": "object",
      "properties": {
        "documentChunk": {
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty.",
          "$ref": "DocumentChunk",
          "readOnly": true
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "canonicalName": "Developer Knowledge",
  "id": "developerknowledge:v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260913",
  "name": "developerknowledge",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "documentationLink": "https://developers.google.com/knowledge",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge."
}