{
  "title": "Developer Knowledge API",
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "version_module": true,
  "id": "developerknowledge:v1alpha",
  "version": "v1alpha",
  "resources": {
    "documents": {
      "methods": {
        "get": {
          "flatPath": "v1alpha/documents/{documentsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves a single document with its full Markdown content.",
          "parameters": {
            "name": {
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "pattern": "^documents/.*$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "type": "string"
            }
          },
          "path": "v1alpha/{+name}",
          "id": "developerknowledge.documents.get"
        },
        "batchGet": {
          "id": "developerknowledge.documents.batchGet",
          "path": "v1alpha/documents:batchGet",
          "parameters": {
            "names": {
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` ",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "view": {
              "type": "string",
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`.",
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "flatPath": "v1alpha/documents:batchGet"
        },
        "searchDocumentChunks": {
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "path": "v1alpha/documents:searchDocumentChunks",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `content_length_bytes` (INTEGER): The length of the `Document.content` field in bytes. * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. INTEGER fields support `=`, `<`, `<=`, `>`, and `>=` operators. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * Filter by `Document.content_length_bytes`: `content_length_bytes < 50000` * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "location": "query"
            },
            "query": {
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results."
        }
      }
    },
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1alpha:answerQuery",
          "path": "v1alpha:answerQuery",
          "id": "developerknowledge.answerQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Answers a query using grounded generation.",
          "parameters": {},
          "request": {
            "$ref": "AnswerQueryRequest"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "CitationSource": {
      "id": "CitationSource",
      "properties": {
        "referenceIndex": {
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Citation source."
    },
    "DocumentChunk": {
      "id": "DocumentChunk",
      "properties": {
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "description": "Output only. Contains the content of the document chunk.",
          "type": "string",
          "readOnly": true
        },
        "document": {
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "readOnly": true,
          "$ref": "Document"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    },
    "Document": {
      "id": "Document",
      "properties": {
        "dataSource": {
          "readOnly": true,
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "title": {
          "description": "Output only. Provides the title of the document.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Contains the full content of the document in Markdown format."
        },
        "uri": {
          "type": "string",
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true
        },
        "view": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the DocumentView of the document.",
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ]
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Provides a description of the document.",
          "type": "string"
        },
        "contentLengthBytes": {
          "type": "integer",
          "description": "Output only. The length of the `content` field in bytes.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus."
    },
    "AnswerQueryRequest": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. The query to answer."
        }
      },
      "id": "AnswerQueryRequest",
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "type": "object"
    },
    "AnswerQueryResponse": {
      "type": "object",
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "id": "AnswerQueryResponse",
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "The answer to the query."
        }
      }
    },
    "AnswerCitation": {
      "description": "Citation info for a segment.",
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Output only. Contains citation sources for the attributed segment.",
          "readOnly": true,
          "items": {
            "$ref": "CitationSource"
          }
        },
        "startIndex": {
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "endIndex": {
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "AnswerCitation"
    },
    "AnswerReference": {
      "type": "object",
      "description": "Represents a reference to a source.",
      "id": "AnswerReference",
      "properties": {
        "documentReference": {
          "description": "Output only. The reference document.",
          "readOnly": true,
          "$ref": "DocumentReference"
        }
      }
    },
    "Answer": {
      "type": "object",
      "description": "An answer to a query.",
      "id": "Answer",
      "properties": {
        "references": {
          "readOnly": true,
          "items": {
            "$ref": "AnswerReference"
          },
          "description": "Output only. Contains references for the answer.",
          "type": "array"
        },
        "answerText": {
          "description": "Contains the text of the answer.",
          "type": "string"
        },
        "citations": {
          "description": "Output only. Contains citations for the answer.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AnswerCitation"
          }
        }
      }
    },
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        }
      },
      "type": "object",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks."
    },
    "DocumentReference": {
      "properties": {
        "documentChunk": {
          "readOnly": true,
          "$ref": "DocumentChunk",
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty."
        }
      },
      "id": "DocumentReference",
      "description": "Represents a reference to a document.",
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "type": "object",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "type": "array",
          "description": "Contains the documents requested.",
          "items": {
            "$ref": "Document"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260705",
  "ownerDomain": "google.com",
  "name": "developerknowledge",
  "protocol": "rest",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "documentationLink": "https://developers.google.com/knowledge",
  "canonicalName": "Developer Knowledge",
  "rootUrl": "https://developerknowledge.googleapis.com/"
}