{
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "endpoints": [
    {
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    }
  ],
  "id": "developerconnect:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "canonicalName": "Developer Connect",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "ProcessGitLabEnterpriseWebhookRequest": {
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "FetchReadWriteTokenRequest": {
      "type": "object",
      "properties": {},
      "description": "Message for fetching SCM read/write token.",
      "id": "FetchReadWriteTokenRequest"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "InsightsConfig": {
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "id": "InsightsConfig",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "runtimeConfigs": {
          "type": "array",
          "items": {
            "$ref": "RuntimeConfig"
          },
          "description": "Output only. The runtime configurations where the application is deployed.",
          "readOnly": true
        },
        "artifactConfigs": {
          "type": "array",
          "items": {
            "$ref": "ArtifactConfig"
          },
          "description": "Optional. The artifact configurations of the artifacts that are deployed."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "description": "Optional. Output only. The state of the InsightsConfig."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "readOnly": true
        },
        "appHubApplication": {
          "type": "string",
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}"
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with an InsightsConfig."
        }
      }
    },
    "ListInsightsConfigsResponse": {
      "type": "object",
      "properties": {
        "insightsConfigs": {
          "description": "The list of InsightsConfigs.",
          "type": "array",
          "items": {
            "$ref": "InsightsConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListInsightsConfigsResponse",
      "description": "Request for response to listing InsightsConfigs."
    },
    "Connection": {
      "type": "object",
      "properties": {
        "httpConfig": {
          "$ref": "GenericHTTPEndpointConfig",
          "description": "Optional. Configuration for connections to an HTTP service provider."
        },
        "cryptoKeyConfig": {
          "$ref": "CryptoKeyConfig",
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gitProxyConfig": {
          "$ref": "GitProxyConfig",
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy)."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gitlabConfig": {
          "$ref": "GitLabConfig",
          "description": "Configuration for connections to gitlab.com."
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "githubEnterpriseConfig": {
          "$ref": "GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "gitlabEnterpriseConfig": {
          "$ref": "GitLabEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitLab Enterprise."
        },
        "installationState": {
          "$ref": "InstallationState",
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "bitbucketDataCenterConfig": {
          "$ref": "BitbucketDataCenterConfig",
          "description": "Configuration for connections to an instance of Bitbucket Data Center."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        }
      },
      "id": "Connection",
      "description": "Message describing Connection object"
    },
    "OAuthCredential": {
      "type": "object",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        }
      },
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
    },
    "Installation": {
      "id": "Installation",
      "description": "Represents an installation of the GitHub App.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the GitHub user or organization that owns this installation."
        },
        "type": {
          "type": "string",
          "description": "Either \"user\" or \"organization\"."
        },
        "id": {
          "description": "ID of the installation in GitHub.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the user was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastTokenRequestTime": {
          "description": "Output only. The timestamp when the token was last requested.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`."
        }
      },
      "id": "User",
      "description": "User represents a user connected to the service providers through a AccountConnector."
    },
    "AppHubWorkload": {
      "type": "object",
      "properties": {
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true
        },
        "workload": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true
        }
      },
      "id": "AppHubWorkload",
      "description": "AppHubWorkload represents the App Hub Workload."
    },
    "GitHubConfig": {
      "type": "object",
      "properties": {
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "format": "int64",
          "type": "string"
        },
        "githubApp": {
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ],
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com."
    },
    "ListGitRepositoryLinksResponse": {
      "type": "object",
      "properties": {
        "gitRepositoryLinks": {
          "description": "The list of GitRepositoryLinks",
          "type": "array",
          "items": {
            "$ref": "GitRepositoryLink"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing GitRepositoryLinks",
      "id": "ListGitRepositoryLinksResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "AppHubService": {
      "type": "object",
      "properties": {
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Service.",
          "readOnly": true
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Service.",
          "readOnly": true,
          "type": "string"
        },
        "apphubService": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true
        }
      },
      "id": "AppHubService",
      "description": "AppHubService represents the App Hub Service."
    },
    "GitHubEnterpriseConfig": {
      "id": "GitHubEnterpriseConfig",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "type": "object",
      "properties": {
        "appInstallationId": {
          "type": "string",
          "description": "Optional. ID of the installation of the GitHub App.",
          "format": "int64"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "privateKeySecretVersion": {
          "type": "string",
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "installationUri": {
          "type": "string",
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "readOnly": true
        },
        "appId": {
          "type": "string",
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "format": "int64"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
        },
        "appSlug": {
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "readOnly": true,
          "type": "string"
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise."
        }
      }
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "FetchReadTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        }
      },
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token."
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "type": "object",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "id": "ProcessBitbucketDataCenterWebhookRequest"
    },
    "ListAccountConnectorsResponse": {
      "type": "object",
      "properties": {
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "type": "array",
          "items": {
            "$ref": "AccountConnector"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing AccountConnectors",
      "id": "ListAccountConnectorsResponse"
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        }
      }
    },
    "GoogleArtifactRegistry": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The host project of Artifact Registry."
        },
        "artifactRegistryPackage": {
          "type": "string",
          "description": "Required. Immutable. The name of the artifact registry package."
        }
      },
      "description": "Google Artifact Registry configurations.",
      "id": "GoogleArtifactRegistry"
    },
    "LinkableGitRepository": {
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "id": "LinkableGitRepository",
      "type": "object",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      }
    },
    "ExchangeError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "id": "ExchangeError",
      "description": "Message for representing an error from exchanging OAuth tokens."
    },
    "GitLabEnterpriseConfig": {
      "type": "object",
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "id": "GitLabEnterpriseConfig"
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessBitbucketCloudWebhookRequest",
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method."
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "BitbucketCloudConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "id": "BitbucketCloudConfig"
    },
    "GitProxyConfig": {
      "id": "GitProxyConfig",
      "description": "The git proxy configuration.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GenericHTTPEndpointConfig": {
      "id": "GenericHTTPEndpointConfig",
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "type": "object",
      "properties": {
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet."
        },
        "bearerTokenAuthentication": {
          "$ref": "BearerTokenAuthentication",
          "description": "Optional. Bearer token authentication with a token."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. Immutable. The service provider's https endpoint."
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider."
        },
        "basicAuthentication": {
          "$ref": "BasicAuthentication",
          "description": "Optional. Basic authentication with username and password."
        }
      }
    },
    "ProcessGitLabWebhookRequest": {
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "GoogleArtifactAnalysis": {
      "description": "Google Artifact Analysis configurations.",
      "id": "GoogleArtifactAnalysis",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      }
    },
    "CryptoKeyConfig": {
      "type": "object",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "id": "CryptoKeyConfig",
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature."
    },
    "FetchGitRefsResponse": {
      "type": "object",
      "properties": {
        "refNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of the refs fetched."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "FetchGitRefsResponse",
      "description": "Response for fetching git refs."
    },
    "StartOAuthResponse": {
      "id": "StartOAuthResponse",
      "description": "Message for responding to starting an OAuth flow.",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of scopes requested by the application."
        },
        "authUri": {
          "description": "The authorization server URL to the OAuth flow of the service provider.",
          "type": "string"
        },
        "systemProviderId": {
          "description": "The ID of the system provider.",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "type": "string"
        },
        "ticket": {
          "type": "string",
          "description": "The ticket to be used for post processing the callback from the service provider."
        },
        "codeChallenge": {
          "type": "string",
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime",
          "type": "string"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        }
      },
      "description": "Message for responding to get read/write token.",
      "id": "FetchReadWriteTokenResponse"
    },
    "UserCredential": {
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "id": "UserCredential",
      "type": "object",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "FetchAccessTokenResponse": {
      "id": "FetchAccessTokenResponse",
      "description": "Message for responding to getting an OAuth access token.",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "The scopes of the access token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        },
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GitLabConfig": {
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      },
      "id": "GitLabConfig",
      "description": "Configuration for connections to gitlab.com."
    },
    "Projects": {
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "id": "Projects",
      "type": "object",
      "properties": {
        "projectIds": {
          "description": "Optional. The project IDs. Format: {project}",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecureSourceManagerInstanceConfig": {
      "type": "object",
      "properties": {
        "instance": {
          "type": "string",
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`"
        }
      },
      "id": "SecureSourceManagerInstanceConfig",
      "description": "Configuration for connections to Secure Source Manager instance"
    },
    "BearerTokenAuthentication": {
      "type": "object",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      },
      "id": "BearerTokenAuthentication",
      "description": "Bearer token authentication with a token."
    },
    "UserRepository": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "readOnly": true,
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        },
        "cloneUri": {
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "id": "UserRepository"
    },
    "ListUsersResponse": {
      "description": "Message for response to listing Users",
      "id": "ListUsersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "The list of Users"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProxyConfig": {
      "type": "object",
      "properties": {
        "httpProxyBaseUri": {
          "type": "string",
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true
        },
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        }
      },
      "id": "ProxyConfig",
      "description": "The proxy configuration."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "FetchUserRepositoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "userRepos": {
          "type": "array",
          "items": {
            "$ref": "UserRepository"
          },
          "description": "The repositories that the user can access with this account connector."
        }
      },
      "description": "Response message for FetchUserRepositories.",
      "id": "FetchUserRepositoriesResponse"
    },
    "GoogleCloudRun": {
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "id": "GoogleCloudRun",
      "type": "object",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      }
    },
    "AccountConnector": {
      "id": "AccountConnector",
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "type": "object",
      "properties": {
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "providerOauthConfig": {
          "$ref": "ProviderOAuthConfig",
          "description": "Optional. Provider OAuth config."
        },
        "proxyConfig": {
          "$ref": "ProxyConfig",
          "description": "Optional. Configuration for the http and git proxy features."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows users to store small amounts of arbitrary data."
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the accountConnector was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      }
    },
    "FinishOAuthResponse": {
      "description": "Message for responding to finishing an OAuth flow.",
      "id": "FinishOAuthResponse",
      "type": "object",
      "properties": {
        "exchangeError": {
          "$ref": "ExchangeError",
          "description": "The error resulted from exchanging OAuth tokens from the service provider."
        }
      }
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "description": "The artifact config of the artifact that is deployed.",
      "type": "object",
      "properties": {
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        },
        "googleArtifactAnalysis": {
          "$ref": "GoogleArtifactAnalysis",
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis."
        },
        "uri": {
          "type": "string",
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts."
        }
      }
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "type": "object",
      "properties": {
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center."
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials."
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        }
      }
    },
    "ProviderOAuthConfig": {
      "id": "ProviderOAuthConfig",
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "type": "object",
      "properties": {
        "systemProviderId": {
          "description": "Optional. Immutable. Developer Connect provided OAuth.",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again."
        }
      }
    },
    "RuntimeConfig": {
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "id": "RuntimeConfig",
      "type": "object",
      "properties": {
        "appHubWorkload": {
          "$ref": "AppHubWorkload",
          "description": "Output only. App Hub Workload.",
          "readOnly": true
        },
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "readOnly": true,
          "$ref": "GoogleCloudRun"
        },
        "appHubService": {
          "description": "Output only. App Hub Service.",
          "readOnly": true,
          "$ref": "AppHubService"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the Runtime.",
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ],
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "type": "string",
          "readOnly": true
        },
        "gkeWorkload": {
          "description": "Output only. Google Kubernetes Engine runtime.",
          "readOnly": true,
          "$ref": "GKEWorkload"
        }
      }
    },
    "ArtifactDeployment": {
      "type": "object",
      "properties": {
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "artifactReference": {
          "description": "Output only. The artifact that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true
        },
        "artifactAlias": {
          "type": "string",
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true
        },
        "sourceCodeUris": {
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceCommitUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "readOnly": true
        },
        "undeployTime": {
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "containerStatusSummary": {
          "type": "string",
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true
        }
      },
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "id": "ArtifactDeployment"
    },
    "FetchLinkableGitRepositoriesResponse": {
      "id": "FetchLinkableGitRepositoriesResponse",
      "description": "Response message for FetchLinkableGitRepositories.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "linkableGitRepositories": {
          "type": "array",
          "items": {
            "$ref": "LinkableGitRepository"
          },
          "description": "The git repositories that can be linked to the connection."
        }
      }
    },
    "CustomOAuthConfig": {
      "id": "CustomOAuthConfig",
      "description": "Message for a customized OAuth config.",
      "type": "object",
      "properties": {
        "tokenUri": {
          "type": "string",
          "description": "Required. Immutable. The OAuth2 token request URL."
        },
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID of the OAuth application."
        },
        "scmProvider": {
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ],
          "type": "string",
          "description": "Required. The type of the SCM provider.",
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ]
        },
        "serverVersion": {
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true,
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to a private service.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to connect to a private service."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The scopes to be requested during OAuth."
        }
      }
    },
    "InstallationState": {
      "type": "object",
      "properties": {
        "actionUri": {
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "stage": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "description": "Output only. Current step of the installation process."
        },
        "message": {
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true
        }
      },
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "Connection"
          },
          "description": "The list of Connection"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections"
    },
    "GKEWorkload": {
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "deployment": {
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GKEWorkload",
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime."
    },
    "FetchReadTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token."
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "id": "FetchGitHubInstallationsResponse",
      "type": "object",
      "properties": {
        "installations": {
          "type": "array",
          "items": {
            "$ref": "Installation"
          },
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise)."
        }
      }
    },
    "DeploymentEvent": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The create time of the DeploymentEvent.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time of the DeploymentEvent.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "artifactDeployments": {
          "type": "array",
          "items": {
            "$ref": "ArtifactDeployment"
          },
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "readOnly": true
        },
        "undeployTime": {
          "type": "string",
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ],
          "description": "Output only. The state of the DeploymentEvent.",
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ]
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Output only. The runtime configurations where the DeploymentEvent happened.",
          "readOnly": true
        },
        "runtimeDeploymentUri": {
          "type": "string",
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name.",
          "readOnly": true
        },
        "deployTime": {
          "type": "string",
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource.",
      "id": "DeploymentEvent"
    },
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "The password SecretManager secret version to authenticate as."
        },
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        }
      },
      "id": "BasicAuthentication",
      "description": "Basic authentication with username and password."
    },
    "GitRepositoryLink": {
      "id": "GitRepositoryLink",
      "description": "Message describing the GitRepositoryLink object",
      "type": "object",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        }
      }
    },
    "ListDeploymentEventsResponse": {
      "type": "object",
      "properties": {
        "deploymentEvents": {
          "description": "The list of DeploymentEvents.",
          "type": "array",
          "items": {
            "$ref": "DeploymentEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response to listing DeploymentEvents.",
      "id": "ListDeploymentEventsResponse"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "FetchAccessTokenRequest": {
      "type": "object",
      "properties": {},
      "id": "FetchAccessTokenRequest",
      "description": "Message for fetching an OAuth access token."
    }
  },
  "name": "developerconnect",
  "version_module": true,
  "rootUrl": "https://developerconnect.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "developerconnect.projects.locations.list",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "developerconnect.projects.locations.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "insightsConfigs": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/insightsConfigs",
                  "id": "developerconnect.projects.locations.insightsConfigs.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new InsightsConfig in a given project and location.",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "insightsConfigId": {
                      "type": "string",
                      "description": "Required. ID of the requesting InsightsConfig.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "InsightsConfig"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListInsightsConfigsRequest."
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results. See https://google.aip.dev/160 for more details. Filter string, adhering to the rules in https://google.aip.dev/160. List only InsightsConfigs matching the filter. If filter is empty, all InsightsConfigs are listed."
                    }
                  },
                  "description": "Lists InsightsConfigs in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "response": {
                    "$ref": "ListInsightsConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/insightsConfigs",
                  "id": "developerconnect.projects.locations.insightsConfigs.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.insightsConfigs.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "InsightsConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single Insight."
                },
                "patch": {
                  "description": "Updates the parameters of a single InsightsConfig.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the insightsConfig is not found a new insightsConfig will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input insightsConfig has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "id": "developerconnect.projects.locations.insightsConfigs.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a single Insight.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.insightsConfigs.delete",
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "deploymentEvents": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents/{deploymentEventsId}",
                      "response": {
                        "$ref": "DeploymentEvent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets a single Deployment Event.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+/deploymentEvents/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the deployment event to retrieve. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression that matches a subset of the DeploymentEvents. https://google.aip.dev/160.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeploymentEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeploymentEvents` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent insights config that owns this collection of deployment events. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}",
                          "location": "path"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field to use to order the list of DeploymentEvents. Expects AIP-132 format \"field_name asc\" or \"field_name desc\", e.g. \"deploy_time desc\" Supported fields for ordering are: deploy_time, update_time. Currently, only sorting by a single field is supported. If this field is not provided, the list will be sorted by \"deploy_time desc\". For more details on the ordering syntax, see https://google.aip.dev/132#ordering."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of deployment events to return. The service may return fewer than this value. If unspecified, at most 50 deployment events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        }
                      },
                      "description": "Lists Deployment Events in a given insights config.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents",
                      "response": {
                        "$ref": "ListDeploymentEventsResponse"
                      },
                      "scopes": [
[...]
