{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "Developer Connect API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.operations.delete",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "developerconnect.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "connections": {
              "resources": {
                "gitRepositoryLinks": {
                  "methods": {
                    "fetchGitRefs": {
                      "path": "v1/{+gitRepositoryLink}:fetchGitRefs",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page start."
                        },
                        "gitRepositoryLink": {
                          "description": "Required. The resource name of GitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        },
                        "refType": {
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ],
                          "location": "query",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "type": "string",
                          "description": "Required. Type of refs to fetch."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchGitRefs",
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchGitRefs"
                    },
                    "processBitbucketDataCenterWebhook": {
                      "path": "v1/{+name}:processBitbucketDataCenterWebhook",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketDataCenterWebhook",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketDataCenterWebhook",
                      "description": "ProcessBitbucketDataCenterWebhook is called by the external Bitbucket Data Center instances for notifying events.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "required": true,
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
                        }
                      },
                      "request": {
                        "$ref": "ProcessBitbucketDataCenterWebhookRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "processGitLabWebhook": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}:processGitLabWebhook",
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "ProcessGitLabWebhookRequest"
                      },
                      "httpMethod": "POST",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabWebhook",
                      "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabWebhook"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a single GitRepositoryLink.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query"
                        },
                        "etag": {
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.delete"
                    },
                    "fetchReadWriteToken": {
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadWriteToken",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadWriteToken",
                      "path": "v1/{+gitRepositoryLink}:fetchReadWriteToken",
                      "description": "Fetches read/write token of a given gitRepositoryLink.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "parameters": {
                        "gitRepositoryLink": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "required": true
                        }
                      }
                    },
                    "fetchReadToken": {
                      "path": "v1/{+gitRepositoryLink}:fetchReadToken",
                      "parameters": {
                        "gitRepositoryLink": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "description": "Fetches read token of a given gitRepositoryLink.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadToken",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      },
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "httpMethod": "POST",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadToken"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists GitRepositoryLinks in a given project, location, and connection.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Parent value for ListGitRepositoryLinksRequest"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListGitRepositoryLinksResponse"
                      },
                      "path": "v1/{+parent}/gitRepositoryLinks"
                    },
                    "processGitLabEnterpriseWebhook": {
                      "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise instances for notifying events.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabEnterpriseWebhook",
                      "parameters": {
                        "name": {
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "ProcessGitLabEnterpriseWebhookRequest"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabEnterpriseWebhook",
                      "path": "v1/{+name}:processGitLabEnterpriseWebhook",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GitRepositoryLink"
                      },
                      "description": "Gets details of a single GitRepositoryLink.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}"
                    },
                    "processBitbucketCloudWebhook": {
                      "path": "v1/{+name}:processBitbucketCloudWebhook",
                      "description": "ProcessBitbucketCloudWebhook is called by the external Bitbucket Cloud instances for notifying events.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        }
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketCloudWebhook",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketCloudWebhook",
                      "request": {
                        "$ref": "ProcessBitbucketCloudWebhookRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "create": {
                      "parameters": {
                        "gitRepositoryLinkId": {
                          "location": "query",
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Value for parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "GitRepositoryLink"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a GitRepositoryLink. Upon linking a Git Repository, Developer Connect will configure the Git Repository to send webhook events to Developer Connect. Connections that use Firebase GitHub Application will have events forwarded to the Firebase service. Connections that use Gemini Code Assist will have events forwarded to Gemini Code Assist service. All other Connections will have events forwarded to Cloud Build.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "Connection"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Connection resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.connections.patch",
                  "description": "Updates the parameters of a single Connection.",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}"
                },
                "processGitHubEnterpriseWebhook": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "ProcessGitHubEnterpriseWebhook is called by the external GitHub Enterprise instances for notifying events.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitHubEnterpriseWebhook",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "developerconnect.projects.locations.connections.processGitHubEnterpriseWebhook",
                  "path": "v1/{+parent}/connections:processGitHubEnterpriseWebhook",
                  "request": {
                    "$ref": "ProcessGitHubEnterpriseWebhookRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "id": "developerconnect.projects.locations.connections.create",
                  "request": {
                    "$ref": "Connection"
                  },
                  "path": "v1/{+parent}/connections",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Value for parent."
                    },
                    "connectionId": {
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and connection_id from the method_signature of Create RPC",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Connection in a given project and location."
                },
                "list": {
                  "id": "developerconnect.projects.locations.connections.list",
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connections",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent value for ListConnectionsRequest"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists Connections in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "fetchGitHubInstallations": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "connection"
                  ],
                  "description": "FetchGitHubInstallations returns the list of GitHub Installations that are available to be added to a Connection. For github.com, only installations accessible to the authorizer token are returned. For GitHub Enterprise, all installations are returned.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchGitHubInstallations",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.connections.fetchGitHubInstallations",
                  "path": "v1/{+connection}:fetchGitHubInstallations",
                  "response": {
                    "$ref": "FetchGitHubInstallationsResponse"
                  },
                  "parameters": {
                    "connection": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. The resource name of the connection in the format `projects/*/locations/*/connections/*`.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "id": "developerconnect.projects.locations.connections.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Connection.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Connection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "httpMethod": "GET"
                },
                "fetchLinkableGitRepositories": {
                  "description": "FetchLinkableGitRepositories returns a list of git repositories from an SCM that are available to be added to a Connection.",
                  "response": {
                    "$ref": "FetchLinkableGitRepositoriesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "connection"
                  ],
                  "id": "developerconnect.projects.locations.connections.fetchLinkableGitRepositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+connection}:fetchLinkableGitRepositories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableGitRepositories",
                  "parameters": {
                    "connection": {
                      "required": true,
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the Connection. If an etag is provided and does not match the current etag of the Connection, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "required": true
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.connections.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Connection.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}"
                }
              }
            },
            "insightsConfigs": {
              "resources": {
                "deploymentEvents": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "DeploymentEvent"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+/deploymentEvents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the deployment event to retrieve. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}"
                        }
                      },
                      "description": "Gets a single Deployment Event.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents/{deploymentEventsId}",
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/deploymentEvents",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to use to order the list of DeploymentEvents. Expects AIP-132 format \"field_name asc\" or \"field_name desc\", e.g. \"deploy_time desc\" Supported fields for ordering are: deploy_time, update_time. Currently, only sorting by a single field is supported. If this field is not provided, the list will be sorted by \"deploy_time desc\". For more details on the ordering syntax, see https://google.aip.dev/132#ordering.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeploymentEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeploymentEvents` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                          "description": "Required. The parent insights config that owns this collection of deployment events. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}",
                          "type": "string",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. Filter expression that matches a subset of the DeploymentEvents. https://google.aip.dev/160.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of deployment events to return. The service may return fewer than this value. If unspecified, at most 50 deployment events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListDeploymentEventsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.list",
                      "httpMethod": "GET",
                      "description": "Lists Deployment Events in a given insights config.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the insightsConfig is not found a new insightsConfig will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input insightsConfig has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "httpMethod": "PATCH",
                  "id": "developerconnect.projects.locations.insightsConfigs.patch",
                  "description": "Updates the parameters of a single InsightsConfig.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.insightsConfigs.create",
                  "path": "v1/{+parent}/insightsConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "insightsConfigId": {
                      "location": "query",
                      "description": "Required. ID of the requesting InsightsConfig.",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new InsightsConfig in a given project and location.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "request": {
                    "$ref": "InsightsConfig"
                  }
                },
                "get": {
                  "id": "developerconnect.projects.locations.insightsConfigs.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Insight.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "InsightsConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListInsightsConfigsResponse"
                  },
                  "description": "Lists InsightsConfigs in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "developerconnect.projects.locations.insightsConfigs.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent value for ListInsightsConfigsRequest."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results. See https://google.aip.dev/160 for more details. Filter string, adhering to the rules in https://google.aip.dev/160. List only InsightsConfigs matching the filter. If filter is empty, all InsightsConfigs are listed.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/insightsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. Value for parent."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Insight.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "id": "developerconnect.projects.locations.insightsConfigs.delete",
                  "path": "v1/{+name}"
                }
              }
            },
            "accountConnectors": {
              "methods": {
                "list": {
                  "description": "Lists AccountConnectors in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListAccountConnectorsRequest",
                      "type": "string",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/accountConnectors",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAccountConnectorsResponse"
                  }
                },
                "fetchUserRepositories": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page start.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "type": "integer"
                    },
                    "repository": {
                      "type": "string",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user.",
                      "location": "query"
                    },
                    "accountConnector": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "parameterOrder": [
                    "accountConnector"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "id": "developerconnect.projects.locations.accountConnectors.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "etag": {
                      "description": "Optional. The current etag of the AccountConnectorn. If an etag is provided and does not match the current etag of the AccountConnector, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, any Users from this AccountConnector will also be deleted. (Otherwise, the request will only work if the AccountConnector has no Users.)",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single AccountConnector."
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.accountConnectors.patch",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to be updated.",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the accountConnector is not found a new accountConnector will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input accountConnector has all the necessary"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
                    }
                  },
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "description": "Updates the parameters of a single AccountConnector.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AccountConnector"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single AccountConnector.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "developerconnect.projects.locations.accountConnectors.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Location resource name as the account_connector’s parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "accountConnectorId": {
                      "description": "Required. The ID to use for the AccountConnector, which will become the final component of the AccountConnector's resource name. Its format should adhere to https://google.aip.dev/122#resource-id-segments Names must be unique per-project per-location.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "description": "Creates a new AccountConnector in a given project and location.",
                  "path": "v1/{+parent}/accountConnectors"
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "deleteSelf": {
                      "description": "Delete the User based on the user credentials.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:deleteSelf",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the AccountConnector resource",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.deleteSelf",
                      "path": "v1/{+name}/users:deleteSelf",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "startOAuthFlow": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:startOAuthFlow",
                      "parameters": {
                        "accountConnector": {
                          "location": "path",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                        }
                      },
                      "path": "v1/{+accountConnector}/users:startOAuthFlow",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "StartOAuthResponse"
                      },
                      "description": "Starts OAuth flow for an account connector.",
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.startOAuthFlow"
                    },
                    "finishOAuthFlow": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:finishOAuthFlow",
                      "parameters": {
                        "googleOauthParams.scopes": {
                          "location": "query",
                          "repeated": true,
                          "type": "string",
                          "description": "Required. The scopes returned by Google OAuth flow."
                        },
                        "oauthParams.code": {
                          "type": "string",
                          "description": "Required. The code to be used for getting the token from SCM provider.",
                          "location": "query"
                        },
                        "googleOauthParams.versionInfo": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The version info returned by Google OAuth flow."
                        },
                        "googleOauthParams.ticket": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ticket to be used for post processing the callback from Google OAuth flow."
                        },
                        "oauthParams.ticket": {
                          "location": "query",
                          "description": "Required. The ticket to be used for post processing the callback from SCM provider.",
                          "type": "string"
                        },
                        "accountConnector": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.finishOAuthFlow",
                      "response": {
                        "$ref": "FinishOAuthResponse"
                      },
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "description": "Finishes OAuth flow for an account connector.",
                      "httpMethod": "GET",
                      "path": "v1/{+accountConnector}/users:finishOAuthFlow"
                    },
                    "fetchSelf": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the AccountConnector resource",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchSelf",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetch the User based on the user credentials.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchSelf",
                      "path": "v1/{+name}/users:fetchSelf"
                    },
                    "fetchAccessToken": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchAccessToken",
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "path": "v1/{+accountConnector}/users:fetchAccessToken",
                      "parameters": {
                        "accountConnector": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchAccessToken",
                      "description": "Fetches OAuth access token based on end user credentials.",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      }
                    },
                    "delete": {
                      "description": "Deletes a single User.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+/users/[^/]+$"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "etag": {
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users",
                      "path": "v1/{+parent}/users",
                      "id": "developerconnect.projects.locations.accountConnectors.users.list",
                      "description": "Lists Users in a given project, location, and account_connector.",
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Parent value for ListUsersRequest",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "developerconnect.projects.locations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "id": "developerconnect.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "id": "developerconnect:v1",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "description": "Connect third-party source code management to Google",
  "protocol": "rest",
  "version": "v1",
  "revision": "20260914",
  "canonicalName": "Developer Connect",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "schemas": {
    "AppHubService": {
      "id": "AppHubService",
      "type": "object",
      "description": "AppHubService represents the App Hub Service.",
      "properties": {
        "criticality": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The criticality of the App Hub Service."
        },
        "apphubService": {
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "type": "string",
          "readOnly": true
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Service.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "McpToolVisibility": {
      "description": "Profile describing the visibility restriction of an MCP tool. Key: \"google.com/tool.profiles/visibility.restriction\"",
      "id": "McpToolVisibility",
      "properties": {
        "fieldVisibility": {
          "description": "A list of field-level visibility restrictions.",
          "type": "array",
          "items": {
            "$ref": "FieldVisibility"
          }
        },
        "visibilityEnforcementStrategy": {
          "enumDescriptions": [
            "Default. Equivalent to COMBINE.",
            "The principal must satisfy both API-level tool-level) visibility restrictions.",
            "Bypasses the API-level visibility restrictions check; access is determined solely by the tool-level visibility restrictions."
          ],
          "enum": [
            "VISIBILITY_ENFORCEMENT_STRATEGY_UNSPECIFIED",
            "COMBINE",
            "OVERRIDE"
          ],
          "description": "The strategy used to enforce visibility restrictions. DO NOT USE. This field is not yet implemented.",
          "type": "string"
        },
        "visibilityRestriction": {
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProcessGitLabWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "type": "object",
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "sslCaCertificate": {
          "type": "string",
[...]
