{
  "batchPath": "batch",
  "basePath": "",
  "revision": "20260821",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "developerconnect:v1",
  "endpoints": [
    {
      "location": "us-central1",
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "description": "Connect third-party source code management to Google",
  "canonicalName": "Developer Connect",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "developerconnect.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "developerconnect.projects.locations.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "insightsConfigs": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "InsightsConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "description": "Required. Name of the resource."
                    }
                  },
                  "id": "developerconnect.projects.locations.insightsConfigs.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Insight."
                },
                "patch": {
                  "id": "developerconnect.projects.locations.insightsConfigs.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If set to true, and the insightsConfig is not found a new insightsConfig will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input insightsConfig has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "name": {
                      "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the parameters of a single InsightsConfig.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListInsightsConfigsResponse"
                  },
                  "description": "Lists InsightsConfigs in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results. See https://google.aip.dev/160 for more details. Filter string, adhering to the rules in https://google.aip.dev/160. List only InsightsConfigs matching the filter. If filter is empty, all InsightsConfigs are listed.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListInsightsConfigsRequest.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/insightsConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "developerconnect.projects.locations.insightsConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs"
                },
                "create": {
                  "path": "v1/{+parent}/insightsConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "developerconnect.projects.locations.insightsConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "insightsConfigId": {
                      "type": "string",
                      "description": "Required. ID of the requesting InsightsConfig.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "description": "Creates a new InsightsConfig in a given project and location."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.insightsConfigs.delete",
                  "description": "Deletes a single Insight.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "deploymentEvents": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to use to order the list of DeploymentEvents. Expects AIP-132 format \"field_name asc\" or \"field_name desc\", e.g. \"deploy_time desc\" Supported fields for ordering are: deploy_time, update_time. Currently, only sorting by a single field is supported. If this field is not provided, the list will be sorted by \"deploy_time desc\". For more details on the ordering syntax, see https://google.aip.dev/132#ordering.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent insights config that owns this collection of deployment events. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. Filter expression that matches a subset of the DeploymentEvents. https://google.aip.dev/160.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListDeploymentEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeploymentEvents` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of deployment events to return. The service may return fewer than this value. If unspecified, at most 50 deployment events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListDeploymentEventsResponse"
                      },
                      "description": "Lists Deployment Events in a given insights config.",
                      "httpMethod": "GET",
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents",
                      "path": "v1/{+parent}/deploymentEvents"
                    },
                    "get": {
                      "description": "Gets a single Deployment Event.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "DeploymentEvent"
                      },
                      "httpMethod": "GET",
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents/{deploymentEventsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the deployment event to retrieve. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+/deploymentEvents/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "accountConnectors": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAccountConnectorsResponse"
                  },
                  "description": "Lists AccountConnectors in a given project and location.",
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "path": "v1/{+parent}/accountConnectors",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListAccountConnectorsRequest"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "description": "Gets details of a single AccountConnector.",
                  "id": "developerconnect.projects.locations.accountConnectors.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AccountConnector"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "fetchUserRepositories": {
                  "parameterOrder": [
                    "accountConnector"
                  ],
                  "parameters": {
                    "repository": {
                      "location": "query",
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user.",
                      "type": "string"
                    },
                    "accountConnector": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page start."
                    },
                    "pageSize": {
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "httpMethod": "GET",
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.accountConnectors.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "description": "Updates the parameters of a single AccountConnector.",
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If set to true, and the accountConnector is not found a new accountConnector will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input accountConnector has all the necessary",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to be updated.",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/accountConnectors",
                  "parameters": {
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Location resource name as the account_connector’s parent.",
                      "type": "string"
                    },
                    "accountConnectorId": {
                      "location": "query",
                      "description": "Required. The ID to use for the AccountConnector, which will become the final component of the AccountConnector's resource name. Its format should adhere to https://google.aip.dev/122#resource-id-segments Names must be unique per-project per-location.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new AccountConnector in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "id": "developerconnect.projects.locations.accountConnectors.create"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "description": "Deletes a single AccountConnector.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The current etag of the AccountConnectorn. If an etag is provided and does not match the current etag of the AccountConnector, deletion will be blocked and an ABORTED error will be returned."
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any Users from this AccountConnector will also be deleted. (Otherwise, the request will only work if the AccountConnector has no Users.)"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "developerconnect.projects.locations.accountConnectors.delete"
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "startOAuthFlow": {
                      "httpMethod": "GET",
                      "path": "v1/{+accountConnector}/users:startOAuthFlow",
                      "parameters": {
                        "accountConnector": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`."
                        }
                      },
                      "response": {
                        "$ref": "StartOAuthResponse"
                      },
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "description": "Starts OAuth flow for an account connector.",
                      "id": "developerconnect.projects.locations.accountConnectors.users.startOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:startOAuthFlow"
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent value for ListUsersRequest"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "description": "Lists Users in a given project, location, and account_connector.",
                      "id": "developerconnect.projects.locations.accountConnectors.users.list",
                      "path": "v1/{+parent}/users",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users"
                    },
                    "finishOAuthFlow": {
                      "parameters": {
                        "accountConnector": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "location": "path",
                          "required": true
                        },
                        "googleOauthParams.scopes": {
                          "type": "string",
                          "description": "Required. The scopes returned by Google OAuth flow.",
                          "repeated": true,
                          "location": "query"
                        },
                        "googleOauthParams.ticket": {
                          "description": "Required. The ticket to be used for post processing the callback from Google OAuth flow.",
                          "location": "query",
                          "type": "string"
                        },
                        "oauthParams.code": {
                          "description": "Required. The code to be used for getting the token from SCM provider.",
                          "type": "string",
                          "location": "query"
                        },
                        "googleOauthParams.versionInfo": {
                          "description": "Optional. The version info returned by Google OAuth flow.",
                          "location": "query",
                          "type": "string"
                        },
                        "oauthParams.ticket": {
                          "location": "query",
                          "description": "Required. The ticket to be used for post processing the callback from SCM provider.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:finishOAuthFlow",
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FinishOAuthResponse"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.finishOAuthFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Finishes OAuth flow for an account connector.",
                      "path": "v1/{+accountConnector}/users:finishOAuthFlow"
                    },
                    "fetchSelf": {
                      "response": {
                        "$ref": "User"
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchSelf",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the AccountConnector resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}/users:fetchSelf",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchSelf",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Fetch the User based on the user credentials."
                    },
                    "delete": {
                      "description": "Deletes a single User.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.accountConnectors.users.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+/users/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource",
                          "type": "string"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "fetchAccessToken": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "accountConnector"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:fetchAccessToken",
                      "parameters": {
                        "accountConnector": {
                          "type": "string",
                          "description": "Required. The resource name of the AccountConnector in the format `projects/*/locations/*/accountConnectors/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "developerconnect.projects.locations.accountConnectors.users.fetchAccessToken",
                      "description": "Fetches OAuth access token based on end user credentials.",
                      "request": {
                        "$ref": "FetchAccessTokenRequest"
                      },
                      "path": "v1/{+accountConnector}/users:fetchAccessToken",
                      "response": {
                        "$ref": "FetchAccessTokenResponse"
                      }
                    },
                    "deleteSelf": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}/users:deleteSelf",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}/users:deleteSelf",
                      "id": "developerconnect.projects.locations.accountConnectors.users.deleteSelf",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                          "description": "Required. Name of the AccountConnector resource"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Delete the User based on the user credentials.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            },
            "connections": {
              "methods": {
                "processGitHubEnterpriseWebhook": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections:processGitHubEnterpriseWebhook",
                  "request": {
                    "$ref": "ProcessGitHubEnterpriseWebhookRequest"
                  },
                  "id": "developerconnect.projects.locations.connections.processGitHubEnterpriseWebhook",
                  "description": "ProcessGitHubEnterpriseWebhook is called by the external GitHub Enterprise instances for notifying events.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Project and location where the webhook will be received. Format: `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+parent}/connections:processGitHubEnterpriseWebhook",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.connections.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Connection.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Name of the resource",
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The current etag of the Connection. If an etag is provided and does not match the current etag of the Connection, deletion will be blocked and an ABORTED error will be returned."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchGitHubInstallations": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchGitHubInstallations",
                  "parameters": {
                    "connection": {
                      "description": "Required. The resource name of the connection in the format `projects/*/locations/*/connections/*`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    }
                  },
                  "path": "v1/{+connection}:fetchGitHubInstallations",
                  "response": {
                    "$ref": "FetchGitHubInstallationsResponse"
                  },
                  "description": "FetchGitHubInstallations returns the list of GitHub Installations that are available to be added to a Connection. For github.com, only installations accessible to the authorizer token are returned. For GitHub Enterprise, all installations are returned.",
                  "id": "developerconnect.projects.locations.connections.fetchGitHubInstallations",
                  "parameterOrder": [
                    "connection"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Connection"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "developerconnect.projects.locations.connections.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Connection in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/connections",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent."
                    },
                    "connectionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and connection_id from the method_signature of Create RPC"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "description": "Optional. If set to true, and the connection is not found a new connection will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input connection has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Connection resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Connection"
                  },
                  "description": "Updates the parameters of a single Connection.",
                  "id": "developerconnect.projects.locations.connections.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListConnectionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListConnectionsRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Connections in a given project and location.",
                  "id": "developerconnect.projects.locations.connections.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/connections"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Connection"
                  },
                  "description": "Gets details of a single Connection.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}",
                  "id": "developerconnect.projects.locations.connections.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchLinkableGitRepositories": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Number of results to return in the list. Defaults to 20."
                    },
                    "connection": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Connection. Format: `projects/*/locations/*/connections/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page start.",
                      "location": "query"
                    }
                  },
                  "id": "developerconnect.projects.locations.connections.fetchLinkableGitRepositories",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}:fetchLinkableGitRepositories",
                  "parameterOrder": [
                    "connection"
                  ],
                  "path": "v1/{+connection}:fetchLinkableGitRepositories",
                  "response": {
                    "$ref": "FetchLinkableGitRepositoriesResponse"
                  },
                  "description": "FetchLinkableGitRepositories returns a list of git repositories from an SCM that are available to be added to a Connection.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "gitRepositoryLinks": {
                  "methods": {
                    "fetchReadWriteToken": {
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "FetchReadWriteTokenResponse"
                      },
                      "request": {
                        "$ref": "FetchReadWriteTokenRequest"
                      },
                      "path": "v1/{+gitRepositoryLink}:fetchReadWriteToken",
                      "description": "Fetches read/write token of a given gitRepositoryLink.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadWriteToken",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadWriteToken",
                      "httpMethod": "POST",
                      "parameters": {
                        "gitRepositoryLink": {
                          "type": "string",
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        }
                      }
                    },
                    "processBitbucketDataCenterWebhook": {
                      "description": "ProcessBitbucketDataCenterWebhook is called by the external Bitbucket Data Center instances for notifying events.",
                      "request": {
                        "$ref": "ProcessBitbucketDataCenterWebhookRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketDataCenterWebhook",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketDataCenterWebhook",
                      "path": "v1/{+name}:processBitbucketDataCenterWebhook"
                    },
                    "fetchReadToken": {
                      "description": "Fetches read token of a given gitRepositoryLink.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchReadToken",
                      "path": "v1/{+gitRepositoryLink}:fetchReadToken",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "gitRepositoryLink": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "description": "Required. The resource name of the gitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadToken",
                      "request": {
                        "$ref": "FetchReadTokenRequest"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GitRepositoryLink"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "path": "v1/{+name}",
                      "description": "Gets details of a single GitRepositoryLink."
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "gitRepositoryLinkId": {
                          "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name. This ID should be unique in the connection. Allows alphanumeric characters and any of -._~%!$&'()*+,;=@.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. Value for parent."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request, but do not actually post it.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.create",
                      "description": "Creates a GitRepositoryLink. Upon linking a Git Repository, Developer Connect will configure the Git Repository to send webhook events to Developer Connect. Connections that use Firebase GitHub Application will have events forwarded to the Firebase service. Connections that use Gemini Code Assist will have events forwarded to Gemini Code Assist service. All other Connections will have events forwarded to Cloud Build.",
                      "request": {
                        "$ref": "GitRepositoryLink"
                      },
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}",
                      "description": "Deletes a single GitRepositoryLink.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, validate the request, but do not actually post it."
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent value for ListGitRepositoryLinksRequest",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListGitRepositoryLinksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.list",
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "description": "Lists GitRepositoryLinks in a given project, location, and connection.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks"
                    },
                    "fetchGitRefs": {
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "httpMethod": "GET",
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "parameters": {
                        "gitRepositoryLink": {
                          "description": "Required. The resource name of GitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "type": "string",
                          "location": "query"
                        },
                        "refType": {
                          "description": "Required. Type of refs to fetch.",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Number of results to return in the list. Default to 20."
                        }
                      },
                      "path": "v1/{+gitRepositoryLink}:fetchGitRefs",
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchGitRefs",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchGitRefs"
                    },
                    "processGitLabEnterpriseWebhook": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabEnterpriseWebhook",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:processGitLabEnterpriseWebhook",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabEnterpriseWebhook",
                      "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise instances for notifying events.",
                      "request": {
                        "$ref": "ProcessGitLabEnterpriseWebhookRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "processBitbucketCloudWebhook": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "ProcessBitbucketCloudWebhook is called by the external Bitbucket Cloud instances for notifying events.",
                      "request": {
                        "$ref": "ProcessBitbucketCloudWebhookRequest"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processBitbucketCloudWebhook",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processBitbucketCloudWebhook",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "description": "Required. The GitRepositoryLink where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processBitbucketCloudWebhook",
                      "httpMethod": "POST"
                    },
                    "processGitLabWebhook": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processGitLabWebhook",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabWebhook",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabWebhook",
                      "request": {
                        "$ref": "ProcessGitLabWebhookRequest"
                      },
                      "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "developerconnect.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "developerconnect.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "developerconnect.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "CryptoKeyConfig": {
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature.",
      "type": "object",
      "id": "CryptoKeyConfig",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "ListAccountConnectorsResponse": {
      "description": "Message for response to listing AccountConnectors",
      "type": "object",
      "properties": {
        "accountConnectors": {
          "type": "array",
          "items": {
            "$ref": "AccountConnector"
          },
          "description": "The list of AccountConnectors"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListAccountConnectorsResponse"
    },
    "Connection": {
      "properties": {
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "gitProxyConfig": {
          "$ref": "GitProxyConfig",
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy)."
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
[...]
