{
  "documentationLink": "https://developers.google.com/knowledge",
  "revision": "20260614",
  "discoveryVersion": "v1",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "servicePath": "",
  "name": "developerknowledge",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Developer Knowledge API",
  "id": "developerknowledge:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Developer Knowledge",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "searchDocumentChunks": {
          "httpMethod": "GET",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "type": "integer"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page."
            },
            "filter": {
              "type": "string",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "location": "query"
            }
          },
          "path": "v1alpha/documents:searchDocumentChunks",
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameterOrder": []
        },
        "batchGet": {
          "path": "v1alpha/documents:batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "id": "developerknowledge.documents.batchGet",
          "httpMethod": "GET",
          "parameters": {
            "names": {
              "location": "query",
              "type": "string",
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` ",
              "repeated": true
            },
            "view": {
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query",
              "type": "string",
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`."
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "required": true,
              "type": "string",
              "pattern": "^documents/.*$",
              "location": "path"
            },
            "view": {
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "developerknowledge.documents.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents/{documentsId}",
          "response": {
            "$ref": "Document"
          },
          "path": "v1alpha/{+name}",
          "description": "Retrieves a single document with its full Markdown content."
        }
      }
    },
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "parameters": {},
          "id": "developerknowledge.answerQuery",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "AnswerQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha:answerQuery",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "path": "v1alpha:answerQuery",
          "description": "Answers a query using grounded generation."
        }
      }
    }
  },
  "schemas": {
    "Document": {
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "type": "object",
      "id": "Document",
      "properties": {
        "content": {
          "description": "Output only. Contains the full content of the document in Markdown format.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a description of the document."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`."
        },
        "dataSource": {
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "readOnly": true,
          "type": "string"
        },
        "view": {
          "description": "Output only. Specifies the DocumentView of the document.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ]
        },
        "title": {
          "description": "Output only. Provides the title of the document.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "answerText": {
          "type": "string",
          "description": "Contains the text of the answer."
        },
        "citations": {
          "items": {
            "$ref": "AnswerCitation"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains citations for the answer."
        },
        "references": {
          "items": {
            "$ref": "AnswerReference"
          },
          "description": "Output only. Contains references for the answer.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "An answer to a query.",
      "type": "object"
    },
    "SearchDocumentChunksResponse": {
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "type": "object",
      "id": "SearchDocumentChunksResponse",
      "properties": {
        "results": {
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "type": "array",
          "items": {
            "$ref": "DocumentChunk"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "CitationSource": {
      "description": "Citation source.",
      "type": "object",
      "id": "CitationSource",
      "properties": {
        "referenceIndex": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "format": "int32"
        }
      }
    },
    "DocumentReference": {
      "description": "Represents a reference to a document.",
      "type": "object",
      "id": "DocumentReference",
      "properties": {
        "documentChunk": {
          "readOnly": true,
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty.",
          "$ref": "DocumentChunk"
        }
      }
    },
    "DocumentChunk": {
      "id": "DocumentChunk",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Contains the content of the document chunk."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        },
        "document": {
          "readOnly": true,
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "$ref": "Document"
        },
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "AnswerQueryRequest": {
      "id": "AnswerQueryRequest",
      "properties": {
        "query": {
          "description": "Required. The query to answer.",
          "type": "string"
        }
      },
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "type": "object"
    },
    "AnswerQueryResponse": {
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "type": "object",
      "id": "AnswerQueryResponse",
      "properties": {
        "answer": {
          "description": "The answer to the query.",
          "$ref": "Answer"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "Contains the documents requested.",
          "type": "array"
        }
      },
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "AnswerReference": {
      "id": "AnswerReference",
      "properties": {
        "documentReference": {
          "$ref": "DocumentReference",
          "description": "Output only. The reference document.",
          "readOnly": true
        }
      },
      "description": "Represents a reference to a source.",
      "type": "object"
    },
    "AnswerCitation": {
      "type": "object",
      "description": "Citation info for a segment.",
      "id": "AnswerCitation",
      "properties": {
        "endIndex": {
          "format": "int32",
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "readOnly": true,
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains citation sources for the attributed segment.",
          "items": {
            "$ref": "CitationSource"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Developer Knowledge API provides access to Google's developer knowledge."
}