{
  "id": "developerknowledge:v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "developerknowledge",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/knowledge",
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "Developer Knowledge API",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "AnswerQueryRequest": {
      "properties": {
        "query": {
          "description": "Required. The query to answer.",
          "type": "string"
        }
      },
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "type": "object",
      "id": "AnswerQueryRequest"
    },
    "CitationSource": {
      "id": "CitationSource",
      "description": "Citation source.",
      "type": "object",
      "properties": {
        "referenceIndex": {
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "DocumentReference": {
      "description": "Represents a reference to a document.",
      "type": "object",
      "properties": {
        "documentChunk": {
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty.",
          "readOnly": true,
          "$ref": "DocumentChunk"
        }
      },
      "id": "DocumentReference"
    },
    "AnswerQueryResponse": {
      "id": "AnswerQueryResponse",
      "properties": {
        "answer": {
          "description": "The answer to the query.",
          "$ref": "Answer"
        }
      },
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "type": "object"
    },
    "Document": {
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "view": {
          "readOnly": true,
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ],
          "description": "Output only. Specifies the DocumentView of the document.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "contentLengthBytes": {
          "description": "Output only. The length of the `content` field in bytes.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "dataSource": {
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Provides a description of the document.",
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Provides the title of the document.",
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. Contains the full content of the document in Markdown format.",
          "type": "string"
        }
      },
      "id": "Document"
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "citations": {
          "readOnly": true,
          "description": "Output only. Contains citations for the answer.",
          "type": "array",
          "items": {
            "$ref": "AnswerCitation"
          }
        },
        "references": {
          "description": "Output only. Contains references for the answer.",
          "type": "array",
          "items": {
            "$ref": "AnswerReference"
          },
          "readOnly": true
        },
        "answerText": {
          "description": "Contains the text of the answer.",
          "type": "string"
        }
      },
      "description": "An answer to a query.",
      "type": "object"
    },
    "AnswerCitation": {
      "id": "AnswerCitation",
      "properties": {
        "sources": {
          "readOnly": true,
          "description": "Output only. Contains citation sources for the attributed segment.",
          "type": "array",
          "items": {
            "$ref": "CitationSource"
          }
        },
        "startIndex": {
          "readOnly": true,
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "Citation info for a segment.",
      "type": "object"
    },
    "DocumentChunk": {
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "description": "Output only. Contains the content of the document chunk.",
          "type": "string",
          "readOnly": true
        },
        "document": {
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "$ref": "Document",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "type": "string"
        }
      },
      "id": "DocumentChunk"
    },
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "type": "array",
          "items": {
            "$ref": "DocumentChunk"
          }
        },
        "nextPageToken": {
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "Contains the documents requested.",
          "type": "array"
        }
      },
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object",
      "id": "BatchGetDocumentsResponse"
    },
    "AnswerReference": {
      "description": "Represents a reference to a source.",
      "type": "object",
      "properties": {
        "documentReference": {
          "description": "Output only. The reference document.",
          "readOnly": true,
          "$ref": "DocumentReference"
        }
      },
      "id": "AnswerReference"
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "get": {
          "flatPath": "v1/documents/{documentsId}",
          "description": "Retrieves a single document with its full Markdown content.",
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "type": "string"
            },
            "name": {
              "pattern": "^documents/.*$",
              "required": true,
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Document"
          },
          "id": "developerknowledge.documents.get"
        },
        "searchDocumentChunks": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. Note: Field names must be in `snake_case` (e.g., `data_source`). Values on the right-hand side of filtering expressions must be string literals enclosed in double quotes (e.g., `\"docs.cloud.google.com\"`). You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            },
            "query": {
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/documents:searchDocumentChunks",
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameterOrder": [],
          "path": "v1/documents:searchDocumentChunks"
        },
        "batchGet": {
          "path": "v1/documents:batchGet",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "id": "developerknowledge.documents.batchGet",
          "flatPath": "v1/documents:batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameters": {
            "names": {
              "location": "query",
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` ",
              "repeated": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`.",
              "type": "string",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ]
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "v1": {
      "methods": {
        "answerQuery": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1:answerQuery",
          "description": "Answers a query using grounded generation.",
          "id": "developerknowledge.answerQuery",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "parameterOrder": [],
          "path": "v1:answerQuery",
          "request": {
            "$ref": "AnswerQueryRequest"
          }
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "revision": "20260726",
  "canonicalName": "Developer Knowledge",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  }
}