{
  "version": "v1",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "description": "Connect third-party source code management to Google",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Developer Connect",
  "name": "developerconnect",
  "version_module": true,
  "servicePath": "",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "id": "developerconnect:v1",
  "protocol": "rest",
  "endpoints": [
    {
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/"
    }
  ],
  "revision": "20260813",
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "ArtifactConfig": {
      "description": "The artifact config of the artifact that is deployed.",
      "properties": {
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        }
      },
      "id": "ArtifactConfig",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "type": "object"
    },
    "ServiceDirectoryConfig": {
      "id": "ServiceDirectoryConfig",
      "type": "object",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProxyConfig": {
      "id": "ProxyConfig",
      "type": "object",
      "properties": {
        "httpProxyBaseUri": {
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        }
      },
      "description": "The proxy configuration."
    },
    "GoogleArtifactAnalysis": {
      "id": "GoogleArtifactAnalysis",
      "type": "object",
      "description": "Google Artifact Analysis configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      }
    },
    "UserCredential": {
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        }
      },
      "id": "UserCredential",
      "type": "object"
    },
    "UserRepository": {
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "properties": {
        "displayName": {
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "readOnly": true,
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        },
        "cloneUri": {
          "type": "string",
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "readOnly": true
        }
      },
      "id": "UserRepository",
      "type": "object"
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "refNames": {
          "description": "Name of the refs fetched.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FetchGitRefsResponse",
      "type": "object"
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "items": {
            "$ref": "Installation"
          },
          "type": "array"
        }
      },
      "id": "FetchGitHubInstallationsResponse",
      "type": "object"
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The list of Users"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Users"
    },
    "BitbucketDataCenterConfig": {
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "id": "BitbucketDataCenterConfig",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "FetchReadTokenResponse": {
      "id": "FetchReadTokenResponse",
      "type": "object",
      "description": "Message for responding to get read token.",
      "properties": {
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        }
      }
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "FetchUserRepositoriesResponse": {
      "id": "FetchUserRepositoriesResponse",
      "type": "object",
      "properties": {
        "userRepos": {
          "items": {
            "$ref": "UserRepository"
          },
          "type": "array",
          "description": "The repositories that the user can access with this account connector."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for FetchUserRepositories."
    },
    "User": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true,
          "type": "string"
        },
        "lastTokenRequestTime": {
          "description": "Output only. The timestamp when the token was last requested.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the user was created.",
          "readOnly": true
        }
      },
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "id": "User",
      "type": "object"
    },
    "FetchAccessTokenRequest": {
      "id": "FetchAccessTokenRequest",
      "type": "object",
      "description": "Message for fetching an OAuth access token.",
      "properties": {}
    },
    "GenericHTTPEndpointConfig": {
      "properties": {
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        }
      },
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "id": "GenericHTTPEndpointConfig",
      "type": "object"
    },
    "BitbucketCloudConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        }
      },
      "id": "BitbucketCloudConfig",
      "type": "object"
    },
    "SecureSourceManagerInstanceConfig": {
      "id": "SecureSourceManagerInstanceConfig",
      "type": "object",
      "description": "Configuration for connections to Secure Source Manager instance",
      "properties": {
        "instance": {
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`",
          "type": "string"
        }
      }
    },
    "BasicAuthentication": {
      "description": "Basic authentication with username and password.",
      "properties": {
        "passwordSecretVersion": {
          "description": "The password SecretManager secret version to authenticate as.",
          "type": "string"
        },
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        }
      },
      "id": "BasicAuthentication",
      "type": "object"
    },
    "BearerTokenAuthentication": {
      "id": "BearerTokenAuthentication",
      "type": "object",
      "description": "Bearer token authentication with a token.",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      }
    },
    "OAuthCredential": {
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        }
      },
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "id": "OAuthCredential",
      "type": "object"
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "type": "object",
      "properties": {
        "githubApp": {
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ],
          "type": "string",
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ]
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        },
        "appInstallationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. GitHub App installation id."
        },
        "installationUri": {
          "type": "string",
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "readOnly": true
        }
      },
      "description": "Configuration for connections to github.com."
    },
    "FinishOAuthResponse": {
      "description": "Message for responding to finishing an OAuth flow.",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
      "id": "FinishOAuthResponse",
      "type": "object"
    },
    "GKEWorkload": {
      "id": "GKEWorkload",
      "type": "object",
      "properties": {
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "readOnly": true
        }
      },
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "HttpBody",
      "type": "object"
    },
    "ProviderOAuthConfig": {
      "id": "ProviderOAuthConfig",
      "type": "object",
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "properties": {
        "systemProviderId": {
          "type": "string",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "description": "Optional. Immutable. Developer Connect provided OAuth.",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ]
        },
        "scopes": {
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListInsightsConfigsResponse": {
      "id": "ListInsightsConfigsResponse",
      "type": "object",
      "description": "Request for response to listing InsightsConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "insightsConfigs": {
          "description": "The list of InsightsConfigs.",
          "type": "array",
          "items": {
            "$ref": "InsightsConfig"
          }
        }
      }
    },
    "FetchReadTokenRequest": {
      "id": "FetchReadTokenRequest",
      "type": "object",
      "description": "Message for fetching SCM read token.",
      "properties": {}
    },
    "ExchangeError": {
      "id": "ExchangeError",
      "type": "object",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "description": "Message for representing an error from exchanging OAuth tokens."
    },
    "GitLabEnterpriseConfig": {
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "id": "GitLabEnterpriseConfig",
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "description": "Message describing Connection object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "githubEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitHub Enterprise.",
          "$ref": "GitHubEnterpriseConfig"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "installationState": {
          "description": "Output only. Installation state of the Connection.",
          "readOnly": true,
          "$ref": "InstallationState"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        }
      }
    },
    "GitLabConfig": {
      "description": "Configuration for connections to gitlab.com.",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      },
      "id": "GitLabConfig",
      "type": "object"
    },
    "ListDeploymentEventsResponse": {
      "description": "Response to listing DeploymentEvents.",
      "properties": {
        "deploymentEvents": {
          "items": {
            "$ref": "DeploymentEvent"
          },
          "type": "array",
          "description": "The list of DeploymentEvents."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListDeploymentEventsResponse",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "id": "ProcessBitbucketCloudWebhookRequest",
      "type": "object",
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "LinkableGitRepository": {
      "id": "LinkableGitRepository",
      "type": "object",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      },
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection."
    },
    "GoogleCloudRun": {
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudRun",
      "type": "object"
    },
    "ListAccountConnectorsResponse": {
      "properties": {
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "type": "array",
          "items": {
            "$ref": "AccountConnector"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing AccountConnectors",
      "id": "ListAccountConnectorsResponse",
      "type": "object"
    },
    "FetchAccessTokenResponse": {
      "description": "Message for responding to getting an OAuth access token.",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scopes of the access token."
        }
      },
      "id": "FetchAccessTokenResponse",
      "type": "object"
    },
    "ListGitRepositoryLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gitRepositoryLinks": {
          "description": "The list of GitRepositoryLinks",
          "type": "array",
          "items": {
            "$ref": "GitRepositoryLink"
          }
        }
      },
      "description": "Message for response to listing GitRepositoryLinks",
      "id": "ListGitRepositoryLinksResponse",
      "type": "object"
    },
    "GitRepositoryLink": {
      "id": "GitRepositoryLink",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "webhookId": {
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        },
        "gitProxyUri": {
          "type": "string",
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection.",
          "readOnly": true
        }
      },
      "description": "Message describing the GitRepositoryLink object"
    },
    "AccountConnector": {
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "providerOauthConfig": {
          "description": "Optional. Provider OAuth config.",
          "$ref": "ProviderOAuthConfig"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
          "type": "string"
        },
        "oauthStartUri": {
          "type": "string",
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the accountConnector was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        }
      },
      "id": "AccountConnector",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "type": "object",
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ],
          "description": "Output only. The state of the Runtime."
        },
        "gkeWorkload": {
          "description": "Output only. Google Kubernetes Engine runtime.",
          "readOnly": true,
          "$ref": "GKEWorkload"
        },
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "readOnly": true,
          "$ref": "GoogleCloudRun"
        },
        "appHubWorkload": {
          "description": "Output only. App Hub Workload.",
          "readOnly": true,
          "$ref": "AppHubWorkload"
        },
        "appHubService": {
          "description": "Output only. App Hub Service.",
          "readOnly": true,
          "$ref": "AppHubService"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        }
      }
    },
    "AppHubWorkload": {
      "description": "AppHubWorkload represents the App Hub Workload.",
      "properties": {
        "criticality": {
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        },
        "workload": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "readOnly": true
        }
      },
      "id": "AppHubWorkload",
      "type": "object"
    },
    "StartOAuthResponse": {
      "description": "Message for responding to starting an OAuth flow.",
      "properties": {
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        },
        "authUri": {
          "description": "The authorization server URL to the OAuth flow of the service provider.",
          "type": "string"
        },
        "systemProviderId": {
          "description": "The ID of the system provider.",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of scopes requested by the application."
        },
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        },
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        }
      },
      "id": "StartOAuthResponse",
      "type": "object"
    },
    "ArtifactDeployment": {
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "properties": {
        "sourceCodeUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "readOnly": true
        },
        "artifactAlias": {
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true,
          "type": "string"
        },
        "undeployTime": {
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "containerStatusSummary": {
          "type": "string",
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true
        },
        "artifactReference": {
          "description": "Output only. The artifact that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true,
          "type": "string"
        },
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceCommitUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "readOnly": true
        }
      },
      "id": "ArtifactDeployment",
      "type": "object"
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "properties": {
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "type": "string"
        },
        "actionUri": {
          "type": "string",
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true
        }
      },
      "id": "InstallationState",
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "id": "FetchReadWriteTokenRequest",
      "type": "object",
      "description": "Message for fetching SCM read/write token.",
      "properties": {}
    },
    "GitProxyConfig": {
      "id": "GitProxyConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "type": "string",
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true
        }
      },
      "description": "The git proxy configuration."
    },
    "CustomOAuthConfig": {
      "description": "Message for a customized OAuth config.",
      "properties": {
        "serverVersion": {
          "type": "string",
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true
        },
        "clientId": {
          "description": "Required. The client ID of the OAuth application.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to a private service.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to connect to a private service.",
          "$ref": "ServiceDirectoryConfig"
        },
        "scmProvider": {
          "type": "string",
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "description": "Required. The type of the SCM provider.",
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ]
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The scopes to be requested during OAuth.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenUri": {
          "description": "Required. Immutable. The OAuth2 token request URL.",
          "type": "string"
        },
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        }
      },
      "id": "CustomOAuthConfig",
      "type": "object"
    },
    "FetchReadWriteTokenResponse": {
      "id": "FetchReadWriteTokenResponse",
      "type": "object",
      "properties": {
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      },
      "description": "Message for responding to get read/write token."
    },
    "Installation": {
      "id": "Installation",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the installation in GitHub.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        }
      },
      "description": "Represents an installation of the GitHub App."
    },
    "DeploymentEvent": {
      "id": "DeploymentEvent",
      "type": "object",
      "properties": {
        "runtimeDeploymentUri": {
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name.",
          "readOnly": true,
          "type": "string"
        },
        "artifactDeployments": {
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ArtifactDeployment"
          }
        },
        "state": {
          "description": "Output only. The state of the DeploymentEvent.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "runtimeConfig": {
          "description": "Output only. The runtime configurations where the DeploymentEvent happened.",
          "readOnly": true,
          "$ref": "RuntimeConfig"
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time of the DeploymentEvent.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time of the DeploymentEvent.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "ListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "connections": {
          "description": "The list of Connection",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Connections",
      "id": "ListConnectionsResponse",
      "type": "object"
    },
    "GitHubEnterpriseConfig": {
      "id": "GitHubEnterpriseConfig",
      "type": "object",
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "properties": {
        "appId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. ID of the GitHub App created from the manifest."
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "appInstallationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. ID of the installation of the GitHub App."
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "readOnly": true,
          "type": "string"
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        },
        "appSlug": {
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchLinkableGitRepositoriesResponse": {
      "id": "FetchLinkableGitRepositoriesResponse",
      "type": "object",
      "properties": {
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "type": "array",
          "items": {
            "$ref": "LinkableGitRepository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for FetchLinkableGitRepositories."
    },
    "InsightsConfig": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "description": "Optional. Output only. The state of the InsightsConfig.",
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ]
        },
        "labels": {
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "artifactConfigs": {
          "description": "Optional. The artifact configurations of the artifacts that are deployed.",
          "items": {
            "$ref": "ArtifactConfig"
          },
          "type": "array"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "runtimeConfigs": {
          "items": {
            "$ref": "RuntimeConfig"
          },
          "type": "array",
          "description": "Output only. The runtime configurations where the application is deployed.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "id": "InsightsConfig",
      "type": "object"
    },
    "AppHubService": {
      "description": "AppHubService represents the App Hub Service.",
      "properties": {
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Service.",
          "readOnly": true
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Service.",
          "readOnly": true,
          "type": "string"
        },
        "apphubService": {
          "type": "string",
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true
        }
      },
      "id": "AppHubService",
      "type": "object"
    },
    "CryptoKeyConfig": {
      "id": "CryptoKeyConfig",
      "type": "object",
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature.",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      }
    },
    "Projects": {
      "id": "Projects",
      "type": "object",
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The project IDs. Format: {project}"
        }
      }
    },
    "ProcessGitLabWebhookRequest": {
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessGitLabWebhookRequest",
      "type": "object"
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The host project of Artifact Registry.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "id": "GoogleArtifactRegistry",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "title": "Developer Connect API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "developerconnect.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "description": "Gets information about a location.",
              "id": "developerconnect.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "accountConnectors": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, and the accountConnector is not found a new accountConnector will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input accountConnector has all the necessary",
                      "location": "query"
                    }
                  },
                  "description": "Updates the parameters of a single AccountConnector.",
                  "id": "developerconnect.projects.locations.accountConnectors.patch",
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "fetchUserRepositories": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "FetchUserRepositories returns a list of UserRepos that are available for an account connector resource.",
                  "id": "developerconnect.projects.locations.accountConnectors.fetchUserRepositories",
                  "response": {
                    "$ref": "FetchUserRepositoriesResponse"
                  },
                  "parameterOrder": [
                    "accountConnector"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Number of results to return in the list. Defaults to 20.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page start.",
                      "location": "query",
                      "type": "string"
                    },
                    "repository": {
                      "description": "Optional. The name of the repository. When specified, only the UserRepository with this name will be returned if the repository is accessible under this Account Connector for the calling user.",
                      "location": "query",
                      "type": "string"
                    },
                    "accountConnector": {
                      "description": "Required. The name of the Account Connector resource in the format: `projects/*/locations/*/accountConnectors/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}:fetchUserRepositories",
                  "path": "v1/{+accountConnector}:fetchUserRepositories",
                  "httpMethod": "GET"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists AccountConnectors in a given project and location.",
                  "id": "developerconnect.projects.locations.accountConnectors.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAccountConnectorsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListAccountConnectorsRequest",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/accountConnectors"
                },
                "get": {
                  "description": "Gets details of a single AccountConnector.",
                  "id": "developerconnect.projects.locations.accountConnectors.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors/{accountConnectorsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AccountConnector"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "AccountConnector"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.accountConnectors.create",
                  "description": "Creates a new AccountConnector in a given project and location.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Location resource name as the account_connector’s parent.",
                      "location": "path",
                      "required": true
                    },
                    "accountConnectorId": {
                      "description": "Required. The ID to use for the AccountConnector, which will become the final component of the AccountConnector's resource name. Its format should adhere to https://google.aip.dev/122#resource-id-segments Names must be unique per-project per-location.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/accountConnectors",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accountConnectors"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.accountConnectors.delete",
                  "description": "Deletes a single AccountConnector.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accountConnectors/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "location": "path"
                    },
                    "validateOnly": {
[...]
