{
  "description": "Connect third-party source code management to Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://developerconnect.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://developerconnect.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://developerconnect.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://developerconnect.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://developerconnect.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://developerconnect.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://developerconnect.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://developerconnect.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://developerconnect.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://developerconnect.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://developerconnect.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://developerconnect.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://developerconnect.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://developerconnect.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://developerconnect.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-west4.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "batchPath": "batch",
  "title": "Developer Connect API",
  "version_module": true,
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "schemas": {
    "DeploymentEvent": {
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource.",
      "type": "object",
      "id": "DeploymentEvent",
      "properties": {
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "readOnly": true,
          "description": "Output only. The runtime configurations where the DeploymentEvent happened."
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "artifactDeployments": {
          "readOnly": true,
          "items": {
            "$ref": "ArtifactDeployment"
          },
          "type": "array",
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time of the DeploymentEvent.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ],
          "description": "Output only. The state of the DeploymentEvent."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time of the DeploymentEvent."
        },
        "runtimeDeploymentUri": {
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name.",
          "type": "string",
          "readOnly": true
        },
        "deployTime": {
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "undeployTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GitHubConfig": {
      "type": "object",
      "properties": {
        "appInstallationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. GitHub App installation id."
        },
        "installationUri": {
          "readOnly": true,
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "type": "string"
        },
        "githubApp": {
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "type": "string",
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ]
        },
        "authorizerCredential": {
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config.",
          "$ref": "OAuthCredential"
        }
      },
      "id": "GitHubConfig",
      "description": "Configuration for connections to github.com."
    },
    "Projects": {
      "type": "object",
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "id": "Projects",
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The project IDs. Format: {project}"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "SecureSourceManagerInstanceConfig": {
      "description": "Configuration for connections to Secure Source Manager instance",
      "id": "SecureSourceManagerInstanceConfig",
      "type": "object",
      "properties": {
        "instance": {
          "type": "string",
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`"
        }
      }
    },
    "OAuthCredential": {
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "type": "object",
      "id": "OAuthCredential",
      "properties": {
        "oauthTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        },
        "username": {
          "description": "Output only. The username associated with this token.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FieldVisibility": {
      "type": "object",
      "description": "Visibility rules for individual tool parameters (fields). This allows producers to hide specific fields in tools/list and tools/call.",
      "id": "FieldVisibility",
      "properties": {
        "selector": {
          "type": "string",
          "description": "The name of the parameter in the input_schema or output_schema."
        },
        "restriction": {
          "type": "string",
          "description": "The visibility restriction labels for this field (comma-separated)."
        }
      }
    },
    "GitLabEnterpriseConfig": {
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitLab Enterprise host this connection is for."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
        },
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "type": "object",
      "id": "GitLabEnterpriseConfig"
    },
    "GitHubEnterpriseConfig": {
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitHub Enterprise host this connection is for."
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "appInstallationId": {
          "description": "Optional. ID of the installation of the GitHub App.",
          "format": "int64",
          "type": "string"
        },
        "appId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. ID of the GitHub App created from the manifest."
        },
        "appSlug": {
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "readOnly": true,
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitHubEnterpriseConfig",
      "description": "Configuration for connections to an instance of GitHub Enterprise."
    },
    "FetchReadTokenResponse": {
      "type": "object",
      "description": "Message for responding to get read token.",
      "id": "FetchReadTokenResponse",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      }
    },
    "Connection": {
      "id": "Connection",
      "description": "Message describing Connection object",
      "type": "object",
      "properties": {
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled."
        },
        "installationState": {
          "readOnly": true,
          "$ref": "InstallationState",
          "description": "Output only. Installation state of the Connection."
        },
        "secureSourceManagerInstanceConfig": {
          "description": "Configuration for connections to an instance of Secure Source Manager.",
          "$ref": "SecureSourceManagerInstanceConfig"
        },
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "readOnly": true,
          "type": "string"
        },
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "githubEnterpriseConfig": {
          "$ref": "GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime"
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create timestamp",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "FetchGitRefsResponse": {
      "description": "Response for fetching git refs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "refNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Name of the refs fetched."
        }
      },
      "id": "FetchGitRefsResponse",
      "type": "object"
    },
    "ProxyConfig": {
      "description": "The proxy configuration.",
      "id": "ProxyConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector."
        },
        "httpProxyBaseUri": {
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AccountConnector": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "providerOauthConfig": {
          "$ref": "ProviderOAuthConfig",
          "description": "Optional. Provider OAuth config."
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        },
        "annotations": {
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "customOauthConfig": {
          "$ref": "CustomOAuthConfig",
          "description": "Custom OAuth config."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "format": "google-datetime"
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the Account Connector."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`."
        }
      },
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints.",
      "id": "AccountConnector"
    },
    "BasicAuthentication": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "The password SecretManager secret version to authenticate as."
        }
      },
      "id": "BasicAuthentication",
      "description": "Basic authentication with username and password."
    },
    "Installation": {
      "type": "object",
      "description": "Represents an installation of the GitHub App.",
      "id": "Installation",
      "properties": {
        "type": {
          "type": "string",
          "description": "Either \"user\" or \"organization\"."
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of the installation in GitHub."
        }
      }
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "type": "object",
      "id": "FetchGitHubInstallationsResponse",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "type": "array",
          "items": {
            "$ref": "Installation"
          }
        }
      }
    },
    "AppHubService": {
      "properties": {
        "apphubService": {
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        },
        "criticality": {
          "readOnly": true,
          "description": "Output only. The criticality of the App Hub Service.",
          "type": "string"
        },
        "environment": {
          "readOnly": true,
          "description": "Output only. The environment of the App Hub Service.",
          "type": "string"
        }
      },
      "id": "AppHubService",
      "description": "AppHubService represents the App Hub Service.",
      "type": "object"
    },
    "GoogleArtifactAnalysis": {
      "description": "Google Artifact Analysis configurations.",
      "type": "object",
      "id": "GoogleArtifactAnalysis",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      }
    },
    "FetchReadTokenRequest": {
      "properties": {},
      "id": "FetchReadTokenRequest",
      "description": "Message for fetching SCM read token.",
      "type": "object"
    },
    "ArtifactConfig": {
      "properties": {
        "googleArtifactRegistry": {
          "$ref": "GoogleArtifactRegistry",
          "description": "Optional. Set if the artifact is stored in Artifact registry."
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        },
        "uri": {
          "type": "string",
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts."
        }
      },
      "type": "object",
      "id": "ArtifactConfig",
      "description": "The artifact config of the artifact that is deployed."
    },
    "CustomOAuthConfig": {
      "description": "Message for a customized OAuth config.",
      "id": "CustomOAuthConfig",
      "type": "object",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to connect to a private service.",
          "$ref": "ServiceDirectoryConfig"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "scmProvider": {
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ],
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "description": "Required. The type of the SCM provider.",
          "type": "string"
        },
        "tokenUri": {
          "description": "Required. Immutable. The OAuth2 token request URL.",
          "type": "string"
        },
        "pkceDisabled": {
          "type": "boolean",
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default."
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to a private service."
        },
        "serverVersion": {
          "description": "Output only. SCM server version installed at the host URI.",
          "readOnly": true,
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID of the OAuth application."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The scopes to be requested during OAuth."
        }
      }
    },
    "ArtifactDeployment": {
      "type": "object",
      "id": "ArtifactDeployment",
      "properties": {
        "containerStatusSummary": {
          "type": "string",
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true
        },
        "artifactReference": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The artifact that is deployed."
        },
        "artifactAlias": {
          "type": "string",
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true
        },
        "undeployTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set."
        },
        "sourceCommitUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "type": "string"
        },
        "deployTime": {
          "readOnly": true,
          "description": "Output only. The time at which the deployment was deployed.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceCodeUris": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`"
        }
      },
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "ProviderOAuthConfig": {
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "type": "object",
      "id": "ProviderOAuthConfig",
      "properties": {
        "systemProviderId": {
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "type": "string",
          "description": "Optional. Immutable. Developer Connect provided OAuth."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again."
        }
      }
    },
    "FetchReadWriteTokenResponse": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token content."
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        }
      },
      "id": "FetchReadWriteTokenResponse",
      "description": "Message for responding to get read/write token."
    },
    "FetchLinkableGitRepositoriesResponse": {
      "properties": {
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "type": "array",
          "items": {
            "$ref": "LinkableGitRepository"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for FetchLinkableGitRepositories.",
      "type": "object",
      "id": "FetchLinkableGitRepositoriesResponse"
    },
    "ListInsightsConfigsResponse": {
      "type": "object",
      "description": "Request for response to listing InsightsConfigs.",
      "id": "ListInsightsConfigsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "insightsConfigs": {
          "type": "array",
          "description": "The list of InsightsConfigs.",
          "items": {
            "$ref": "InsightsConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "GenericHTTPEndpointConfig": {
      "type": "object",
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "Required. Immutable. The service provider's https endpoint."
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet."
        },
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        },
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        }
      },
      "id": "GenericHTTPEndpointConfig",
      "description": "Defines the configuration for connections to an HTTP service provider."
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the user was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`."
        },
        "lastTokenRequestTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the token was last requested."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "type": "string"
        }
      }
    },
    "ExchangeError": {
      "id": "ExchangeError",
      "type": "object",
      "description": "Message for representing an error from exchanging OAuth tokens.",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      }
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "type": "object",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "BitbucketCloudConfig": {
      "type": "object",
      "properties": {
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "id": "BitbucketCloudConfig"
    },
    "UserCredential": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        },
        "userTokenSecretVersion": {
          "type": "string",
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location)."
        }
      },
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object",
      "id": "UserCredential"
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "id": "HttpBody",
      "type": "object",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "FetchAccessTokenResponse": {
      "type": "object",
      "description": "Message for responding to getting an OAuth access token.",
      "id": "FetchAccessTokenResponse",
      "properties": {
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "exchangeError": {
          "$ref": "ExchangeError",
          "description": "The error resulted from exchanging OAuth tokens from the service provider."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scopes of the access token."
        }
      }
    },
    "ListGitRepositoryLinksResponse": {
      "id": "ListGitRepositoryLinksResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "gitRepositoryLinks": {
          "items": {
            "$ref": "GitRepositoryLink"
          },
          "description": "The list of GitRepositoryLinks",
          "type": "array"
        }
      },
      "description": "Message for response to listing GitRepositoryLinks"
    },
    "BearerTokenAuthentication": {
      "description": "Bearer token authentication with a token.",
      "type": "object",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      },
      "id": "BearerTokenAuthentication"
    },
    "InstallationState": {
      "properties": {
        "stage": {
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "description": "Output only. Current step of the installation process.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        },
        "actionUri": {
          "type": "string",
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete.",
          "readOnly": true
        }
      },
      "id": "InstallationState",
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "type": "object"
    },
    "CryptoKeyConfig": {
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature.",
      "id": "CryptoKeyConfig",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppHubWorkload": {
      "description": "AppHubWorkload represents the App Hub Workload.",
      "properties": {
        "workload": {
          "readOnly": true,
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "type": "string"
        },
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true
        },
        "environment": {
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AppHubWorkload",
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "id": "FetchReadWriteTokenRequest",
      "type": "object",
      "description": "Message for fetching SCM read/write token.",
      "properties": {}
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "properties": {
        "appHubWorkload": {
          "readOnly": true,
          "description": "Output only. App Hub Workload.",
          "$ref": "AppHubWorkload"
        },
        "googleCloudRun": {
          "readOnly": true,
          "description": "Output only. Cloud Run runtime.",
          "$ref": "GoogleCloudRun"
        },
        "uri": {
          "type": "string",
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the Runtime."
        },
        "gkeWorkload": {
          "$ref": "GKEWorkload",
          "description": "Output only. Google Kubernetes Engine runtime.",
          "readOnly": true
        },
        "appHubService": {
          "readOnly": true,
          "description": "Output only. App Hub Service.",
          "$ref": "AppHubService"
        }
      },
      "type": "object",
      "description": "RuntimeConfig represents the runtimes where the application is deployed."
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "type": "object"
    },
    "McpToolVisibility": {
      "description": "Profile describing the visibility restriction of an MCP tool. Key: \"google.com/tool.profiles/visibility.restriction\"",
      "id": "McpToolVisibility",
      "type": "object",
      "properties": {
        "visibilityRestriction": {
          "type": "string",
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string."
        },
        "fieldVisibility": {
          "description": "A list of field-level visibility restrictions.",
          "items": {
            "$ref": "FieldVisibility"
          },
          "type": "array"
        },
        "visibilityEnforcementStrategy": {
          "description": "The strategy used to enforce visibility restrictions. DO NOT USE. This field is not yet implemented.",
          "enumDescriptions": [
            "Default. Equivalent to COMBINE.",
            "The principal must satisfy both API-level tool-level) visibility restrictions.",
            "Bypasses the API-level visibility restrictions check; access is determined solely by the tool-level visibility restrictions."
          ],
          "type": "string",
          "enum": [
            "VISIBILITY_ENFORCEMENT_STRATEGY_UNSPECIFIED",
            "COMBINE",
            "OVERRIDE"
          ]
        }
      }
    },
    "GitProxyConfig": {
      "properties": {
        "httpProxyBaseUri": {
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection."
        }
      },
      "id": "GitProxyConfig",
      "description": "Configuration for proxies. For legacy reasons, this message is named `GitProxyConfig`, but it includes settings for both Git and HTTP proxy.",
      "type": "object"
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "users": {
          "type": "array",
          "description": "The list of Users",
          "items": {
            "$ref": "User"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListUsersResponse",
      "description": "Message for response to listing Users"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "FinishOAuthResponse": {
      "id": "FinishOAuthResponse",
      "type": "object",
      "description": "Message for responding to finishing an OAuth flow.",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      }
    },
    "ListAccountConnectorsResponse": {
      "id": "ListAccountConnectorsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "accountConnectors": {
          "items": {
            "$ref": "AccountConnector"
          },
          "type": "array",
          "description": "The list of AccountConnectors"
        }
      },
      "description": "Message for response to listing AccountConnectors"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "GitLabConfig": {
      "description": "Configuration for connections to gitlab.com.",
      "properties": {
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        }
      },
      "id": "GitLabConfig",
      "type": "object"
    },
    "InsightsConfig": {
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "runtimeConfigs": {
          "readOnly": true,
          "items": {
            "$ref": "RuntimeConfig"
          },
          "description": "Output only. The runtime configurations where the application is deployed.",
          "type": "array"
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "artifactConfigs": {
          "type": "array",
          "items": {
            "$ref": "ArtifactConfig"
          },
          "description": "Optional. The artifact configurations of the artifacts that are deployed."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA."
        },
        "state": {
          "description": "Optional. Output only. The state of the InsightsConfig.",
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ]
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "type": "object"
        },
        "labels": {
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "InsightsConfig",
      "type": "object"
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The host project of Artifact Registry."
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "id": "GoogleArtifactRegistry"
    },
    "LinkableGitRepository": {
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "id": "LinkableGitRepository",
      "type": "object",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "GoogleCloudRun": {
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudRun"
    },
    "StartOAuthResponse": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The client ID to the OAuth App of the service provider."
        },
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        },
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        },
        "systemProviderId": {
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "description": "The ID of the system provider.",
          "type": "string"
        },
        "codeChallengeMethod": {
          "type": "string",
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2"
        },
        "authUri": {
          "type": "string",
          "description": "The authorization server URL to the OAuth flow of the service provider."
        },
        "scopes": {
          "type": "array",
          "description": "The list of scopes requested by the application.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StartOAuthResponse",
      "description": "Message for responding to starting an OAuth flow."
    },
    "Location": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "ServiceDirectoryConfig": {
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "ServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "FetchUserRepositoriesResponse": {
      "id": "FetchUserRepositoriesResponse",
      "description": "Response message for FetchUserRepositories.",
      "type": "object",
      "properties": {
        "userRepos": {
          "type": "array",
          "items": {
            "$ref": "UserRepository"
          },
          "description": "The repositories that the user can access with this account connector."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "FetchAccessTokenRequest": {
      "id": "FetchAccessTokenRequest",
      "description": "Message for fetching an OAuth access token.",
      "type": "object",
      "properties": {}
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet."
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "type": "object"
    },
    "GitRepositoryLink": {
      "properties": {
        "createTime": {
          "description": "Output only. [Output only] Create timestamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "webhookId": {
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true,
          "type": "boolean"
        },
        "gitProxyUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update timestamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "cloneUri": {
          "type": "string",
          "description": "Required. Git Clone URI."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink.",
          "type": "string"
        }
      },
      "description": "Message describing the GitRepositoryLink object",
      "type": "object",
      "id": "GitRepositoryLink"
    },
    "GKEWorkload": {
      "properties": {
        "deployment": {
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "type": "string",
          "readOnly": true
        },
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GKEWorkload",
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "id": "ProcessBitbucketCloudWebhookRequest",
      "type": "object"
    },
    "ListDeploymentEventsResponse": {
      "description": "Response to listing DeploymentEvents.",
      "id": "ListDeploymentEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deploymentEvents": {
          "description": "The list of DeploymentEvents.",
          "type": "array",
          "items": {
            "$ref": "DeploymentEvent"
          }
        }
      },
      "type": "object"
    },
    "UserRepository": {
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "type": "object",
      "id": "UserRepository",
      "properties": {
        "displayName": {
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "type": "string",
          "readOnly": true
        },
        "cloneUri": {
          "readOnly": true,
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "type": "string"
        },
        "gitProxyUri": {
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ProcessGitLabWebhookRequest": {
      "type": "object",
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      }
    },
    "ListConnectionsResponse": {
      "type": "object",
      "id": "ListConnectionsResponse",
      "description": "Message for response to listing Connections",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "connections": {
          "description": "The list of Connection",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method."
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "canonicalName": "Developer Connect",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260914",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    }
  },
  "version": "v1",
  "id": "developerconnect:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "developerconnect.projects.locations.list",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "id": "developerconnect.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "insightsConfigs": {
              "resources": {
                "deploymentEvents": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "DeploymentEvent"
                      },
                      "description": "Gets a single Deployment Event.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents/{deploymentEventsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+/deploymentEvents/[^/]+$",
                          "description": "Required. The name of the deployment event to retrieve. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}/deploymentEvents",
                      "response": {
                        "$ref": "ListDeploymentEventsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of deployment events to return. The service may return fewer than this value. If unspecified, at most 50 deployment events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDeploymentEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDeploymentEvents` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to use to order the list of DeploymentEvents. Expects AIP-132 format \"field_name asc\" or \"field_name desc\", e.g. \"deploy_time desc\" Supported fields for ordering are: deploy_time, update_time. Currently, only sorting by a single field is supported. If this field is not provided, the list will be sorted by \"deploy_time desc\". For more details on the ordering syntax, see https://google.aip.dev/132#ordering.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent insights config that owns this collection of deployment events. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter expression that matches a subset of the DeploymentEvents. https://google.aip.dev/160.",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/deploymentEvents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "developerconnect.projects.locations.insightsConfigs.deploymentEvents.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Deployment Events in a given insights config."
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
[...]
