{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "revision": "20261001",
  "title": "Device Run API",
  "mtlsRootUrl": "https://devicerun.mtls.googleapis.com/",
  "schemas": {
    "AndroidMockLocationDeviceAction": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The mock location to set on the device.",
          "$ref": "LatLng"
        }
      },
      "id": "AndroidMockLocationDeviceAction",
      "description": "Mocks the location of the Android device."
    },
    "DeviceRequirement": {
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name."
        }
      },
      "type": "object",
      "id": "DeviceRequirement",
      "description": "The requirement of a device."
    },
    "CatalogLabInfo": {
      "description": "The lab hosting a device.",
      "id": "CatalogLabInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab."
        },
        "regionCode": {
          "description": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AndroidLogcatDeviceAction": {
      "id": "AndroidLogcatDeviceAction",
      "type": "object",
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory.",
      "properties": {}
    },
    "ListSessionsResponse": {
      "description": "Response including listed sessions.",
      "type": "object",
      "id": "ListSessionsResponse",
      "properties": {
        "sessions": {
          "type": "array",
          "description": "The list of sessions.",
          "items": {
            "$ref": "Session"
          }
        },
        "unreachable": {
          "description": "Unordered list. Sessions that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
        }
      }
    },
    "AndroidInstallable": {
      "properties": {
        "files": {
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      },
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "type": "object",
      "id": "AndroidInstallable"
    },
    "IssueSummary": {
      "type": "object",
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "id": "IssueSummary",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. Human-readable explanation of the issue in English.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The issue classification based on responsibility.",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ]
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        }
      }
    },
    "AndroidInstrumentationTest": {
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests.",
      "type": "object",
      "properties": {
        "testInstallable": {
          "description": "Required. The test package to install and run the test.",
          "$ref": "AndroidInstallable"
        },
        "instrumentationTimeout": {
          "format": "google-duration",
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string"
        },
        "orchestratorVersion": {
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used.",
          "type": "string"
        },
        "additionalTestOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024."
        },
        "uniformSharding": {
          "$ref": "AndroidInstrumentationTestUniformSharding",
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used."
        },
        "smartSharding": {
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time.",
          "$ref": "AndroidInstrumentationTestSmartSharding"
        },
        "enableCodeCoverage": {
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo.",
          "type": "boolean"
        }
      },
      "id": "AndroidInstrumentationTest"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "SessionConfigSessionNotificationConfig": {
      "type": "object",
      "description": "Config to control session notification.",
      "properties": {
        "pubsubTopic": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions"
        }
      },
      "id": "SessionConfigSessionNotificationConfig"
    },
    "CatalogDeviceAvailability": {
      "id": "CatalogDeviceAvailability",
      "description": "Fleet availability for a device configuration.",
      "properties": {
        "capacity": {
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ],
          "type": "string",
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ],
          "readOnly": true,
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use)."
        },
        "available": {
          "type": "string",
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABILITY_NONE",
            "AVAILABILITY_LOW",
            "AVAILABILITY_MEDIUM",
            "AVAILABILITY_HIGH"
          ],
          "description": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Session": {
      "id": "Session",
      "description": "A session resource in the AutomationSession API. At a high level, `Session` describes the configuration of one or multiple jobs, the state transitions it goes through, and the results.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
          "type": "string"
        },
        "sessionReport": {
          "description": "Output only. The runtime information and result report of the session.",
          "readOnly": true,
          "$ref": "SessionReport"
        },
        "sessionConfig": {
          "description": "Required. Configuration used to create the session.",
          "$ref": "SessionConfig"
        }
      }
    },
    "InputFile": {
      "id": "InputFile",
      "type": "object",
      "description": "Input file.",
      "properties": {
        "gcsInputFile": {
          "$ref": "GcsPath",
          "description": "An input file in Google Cloud Storage."
        }
      }
    },
    "Location": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "type": "object",
      "description": "The configuration of an iOS XCTest.",
      "properties": {
        "xcodeVersion": {
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service.",
          "type": "string"
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory.",
          "$ref": "InputFile"
        },
        "xcTestTimeout": {
          "format": "google-duration",
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string"
        },
        "xctestrun": {
          "$ref": "InputFile",
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip."
        }
      }
    },
    "JobReport": {
      "type": "object",
      "id": "JobReport",
      "description": "The runtime information and result report of a job.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal warnings collected during the job.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the job.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. The original labels provided by the user during job creation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The end time of the job."
        },
        "status": {
          "description": "Output only. The status of the job.",
          "readOnly": true,
          "$ref": "Status"
        },
        "displayName": {
          "description": "Output only. The display_name set by users in the JobConfig.",
          "readOnly": true,
          "type": "string"
        },
        "outputFiles": {
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array",
          "description": "Output only. The output files of the job.",
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "$ref": "Result",
          "description": "Output only. The result of the job."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the job.",
          "type": "string"
        },
        "executionReports": {
          "items": {
            "$ref": "ExecutionReport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reports of the execution attempts of the job."
        }
      }
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "properties": {},
      "type": "object",
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields."
    },
    "IosPushFilesDeviceActionFileConfig": {
      "description": "The configuration of pushing a file to the iOS device.",
      "id": "IosPushFilesDeviceActionFileConfig",
      "type": "object",
      "properties": {
        "sourceFile": {
          "description": "Required. The file to be pushed.",
          "$ref": "InputFile"
        },
        "destinationPath": {
          "type": "string",
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\"."
        },
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        }
      }
    },
    "RetrySettings": {
      "type": "object",
      "properties": {
        "flakyTestRetryStrategy": {
          "description": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors.",
          "$ref": "RetrySettingsFlakyTestRetryStrategy"
        }
      },
      "description": "Retry settings.",
      "id": "RetrySettings"
    },
    "SessionConfig": {
      "properties": {
        "notificationConfig": {
          "$ref": "SessionConfigSessionNotificationConfig",
          "description": "Optional. Notification config for the session."
        },
        "outputDirectoryConfig": {
          "description": "Required. Output file directory config for the session.",
          "$ref": "SessionConfigSessionOutputFileDirectoryConfig"
        },
        "jobConfigs": {
          "items": {
            "$ref": "JobConfig"
          },
          "description": "Required. Configs of the jobs in the session.",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SessionConfig is used to create a session.",
      "id": "SessionConfig"
    },
    "AndroidPullFilesDeviceAction": {
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device.",
      "properties": {
        "paths": {
          "type": "array",
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AndroidPullFilesDeviceAction"
    },
    "CatalogAutomationSupport": {
      "type": "object",
      "properties": {},
      "id": "CatalogAutomationSupport",
      "description": "Per-product metadata for the Automation (DeviceRun) product."
    },
    "DeviceConfig": {
      "properties": {
        "requirement": {
          "$ref": "DeviceRequirement",
          "description": "Required. The requirement of the device."
        },
        "actions": {
          "items": {
            "$ref": "DeviceAction"
          },
          "type": "array",
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list."
        }
      },
      "id": "DeviceConfig",
      "description": "The configuration of a run on a device.",
      "type": "object"
    },
    "OutputFile": {
      "type": "object",
      "properties": {
        "gcsOutputFile": {
          "description": "An output file in Google Cloud Storage.",
          "$ref": "GcsPath"
        }
      },
      "id": "OutputFile",
      "description": "Output file."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "AndroidInstrumentationTestUniformSharding": {
      "properties": {
        "shardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200."
        }
      },
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "id": "AndroidInstrumentationTestUniformSharding",
      "type": "object"
    },
    "Status": {
      "description": "The status of a session/job/execution.",
      "properties": {
        "statusType": {
          "type": "string",
          "description": "Output only. The status type of the session/job/execution.",
          "enum": [
            "STATUS_TYPE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown status type.",
            "The session/job/execution is pending, not started yet.",
            "The session/job/execution is running.",
            "The session/job/execution is finished.",
            "The session/job/execution is suspended due to quota issues."
          ]
        },
        "progressMessages": {
          "description": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Status"
    },
    "JobSettings": {
      "id": "JobSettings",
      "type": "object",
      "properties": {
        "retrySettings": {
          "$ref": "RetrySettings",
          "description": "Optional. The retry settings of the job."
        }
      },
      "description": "Job settings to control the job execution."
    },
    "CatalogAndroidDeviceDetails": {
      "properties": {
        "buildType": {
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown.",
          "type": "string",
          "readOnly": true
        },
        "supportedAbis": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CatalogAndroidDeviceDetails",
      "type": "object",
      "description": "Android-specific device attributes."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "JobAction": {
      "id": "JobAction",
      "type": "object",
      "description": "The action to be performed in a job.",
      "properties": {
        "androidNativeBinary": {
          "description": "Android native binary execution.",
          "$ref": "AndroidNativeBinary"
        },
        "androidInstrumentationTest": {
          "description": "Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "iOS XCTest."
        }
      }
    },
    "IosRecordVideoDeviceAction": {
      "type": "object",
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "properties": {
        "discardOnPass": {
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video).",
          "type": "boolean"
        }
      },
      "id": "IosRecordVideoDeviceAction"
    },
    "IosInstallPackagesDeviceAction": {
      "type": "object",
      "properties": {
        "ipas": {
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      },
      "id": "IosInstallPackagesDeviceAction",
      "description": "Installs iOS packages on the device."
    },
    "AllocationConfig": {
      "description": "Allocation config.",
      "id": "AllocationConfig",
      "type": "object",
      "properties": {
        "deviceConfigs": {
          "description": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests.",
          "type": "array",
          "items": {
            "$ref": "DeviceConfig"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "IosSwitchLocaleDeviceAction": {
      "id": "IosSwitchLocaleDeviceAction",
      "type": "object",
      "description": "Switches the locale (language and region) of the iOS application.",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      }
    },
    "LatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng"
    },
    "CatalogScreenMetrics": {
      "type": "object",
      "description": "Screen measurements of a device.",
      "properties": {
        "heightPx": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Height in pixels.",
          "readOnly": true
        },
        "densityDpi": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Pixel density in dots per inch (dpi).",
          "type": "integer"
        },
        "widthPx": {
          "description": "Output only. Width in pixels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "CatalogScreenMetrics"
    },
    "AndroidInstallPackagesDeviceAction": {
      "id": "AndroidInstallPackagesDeviceAction",
      "type": "object",
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables.",
      "properties": {
        "preTargetAppInstallables": {
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified."
        },
        "postTargetAppInstallables": {
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified."
        },
        "targetApp": {
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package.",
          "$ref": "AndroidInstallable"
        },
        "installables": {
          "deprecated": true,
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields."
        }
      }
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "AndroidDumpsysDeviceAction": {
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory.",
      "type": "object",
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered.",
          "type": "boolean"
        }
      },
      "id": "AndroidDumpsysDeviceAction"
    },
    "ExecutionReport": {
      "id": "ExecutionReport",
      "properties": {
        "result": {
          "readOnly": true,
          "$ref": "Result",
          "description": "Output only. The result of the execution."
        },
        "displayName": {
          "description": "Output only. The display_name set by users in the ExecutionConfig.",
          "readOnly": true,
          "type": "string"
        },
        "outputFiles": {
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The output files of the execution."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The end time of the execution.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the execution.",
          "type": "string"
        },
        "warnings": {
          "description": "Output only. Non-fatal warnings collected during the execution.",
          "items": {
            "$ref": "Warning"
          },
          "type": "array",
          "readOnly": true
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of the execution."
        },
        "startTime": {
          "description": "Output only. The start time of the execution.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The runtime information and result report of a single on-device execution attempt."
    },
    "CatalogSoftwareVersion": {
      "description": "A single software version in the catalog.",
      "type": "object",
      "id": "CatalogSoftwareVersion",
      "properties": {
        "xcodeDetails": {
          "readOnly": true,
          "description": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE).",
          "$ref": "CatalogXcodeDetails"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version."
        },
        "isDefault": {
          "readOnly": true,
          "description": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time.",
          "type": "boolean"
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The version lifecycle (maturity stage and removal date).",
          "readOnly": true
        },
        "androidxTestOrchestratorDetails": {
          "readOnly": true,
          "$ref": "CatalogAndroidxTestOrchestratorDetails",
          "description": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR)."
        },
        "softwareType": {
          "enum": [
            "SOFTWARE_TYPE_UNSPECIFIED",
            "ANDROIDX_TEST_ORCHESTRATOR",
            "XCODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Software type not specified.",
            "AndroidX Test Orchestrator, which runs each Android instrumentation test case in its own process.",
            "Apple Xcode, the toolchain that builds and runs iOS XCTests."
          ],
          "readOnly": true,
          "description": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\"."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`."
        }
      }
    },
    "IosAppPrivacyReportDeviceAction": {
      "type": "object",
      "id": "IosAppPrivacyReportDeviceAction",
      "description": "Collects the exported iOS App Privacy Report during the test run. When enabled, the iOS device records application activity (such as network access, domain requests, and sensitive resource access like photos, camera, or location) and exports Apple's official App Privacy Report. The report will be written to a file named `AppActivityReport.ndjson` in the execution output directory.",
      "properties": {}
    },
    "GcsPath": {
      "type": "object",
      "id": "GcsPath",
      "description": "A path to a file or directory in Google Cloud Storage.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`."
        }
      }
    },
    "CatalogListDevicesResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "items": {
            "$ref": "CatalogDevice"
          },
          "description": "The list of devices.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "id": "CatalogListDevicesResponse",
      "description": "Response including listed devices."
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "id": "AndroidPushFilesDeviceActionFileConfig",
      "properties": {
        "sourceFile": {
          "description": "Required. The file to be pushed to the device.",
          "$ref": "InputFile"
        },
        "destinationPath": {
          "description": "Required. The destination path on the device.",
          "type": "string"
        }
      },
      "description": "The configuration of pushing a file to the device.",
      "type": "object"
    },
    "ResultCause": {
      "description": "Describes the cause of the non-passed result occurred during the execution.",
      "id": "ResultCause",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Output only. Structured cause detail.",
          "readOnly": true,
          "$ref": "IssueSummary"
        }
      }
    },
    "IosPushFilesDeviceAction": {
      "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
      "type": "object",
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "type": "array",
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          }
        }
      },
      "id": "IosPushFilesDeviceAction"
    },
    "CancelSessionResponse": {
      "description": "Response of the cancel session request.",
      "id": "CancelSessionResponse",
      "type": "object",
      "properties": {
        "cancelResult": {
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ],
          "type": "string",
          "description": "The result of the request.",
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ]
        }
      }
    },
    "SessionReport": {
      "description": "The runtime information and result report of a session.",
      "type": "object",
      "id": "SessionReport",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The end time of the session."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the session."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the session.",
          "$ref": "Status"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The start time of the session.",
          "format": "google-datetime"
        },
        "result": {
          "description": "Output only. The result of the session.",
          "readOnly": true,
          "$ref": "Result"
        },
        "jobReports": {
          "readOnly": true,
          "description": "Output only. Reports of the jobs in the session.",
          "items": {
            "$ref": "JobReport"
          },
          "type": "array"
        }
      }
    },
    "AndroidOrientationDeviceAction": {
      "type": "object",
      "properties": {
        "orientation": {
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`.",
          "type": "string"
        }
      },
      "description": "Sets the orientation of the device.",
      "id": "AndroidOrientationDeviceAction"
    },
    "SessionConfigSessionOutputFileDirectoryConfig": {
      "properties": {
        "flatDirectoryStructure": {
          "type": "boolean",
          "description": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting."
        },
        "gcsOutputDirectory": {
          "description": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`).",
          "$ref": "GcsPath"
        }
      },
      "description": "Config to control session output file directory.",
      "id": "SessionConfigSessionOutputFileDirectoryConfig",
      "type": "object"
    },
    "AndroidBugreportDeviceAction": {
      "description": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory.",
      "type": "object",
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered.",
          "type": "boolean"
        }
      },
      "id": "AndroidBugreportDeviceAction"
    },
    "DeviceAction": {
      "type": "object",
      "description": "The action to be performed on a device.",
      "properties": {
        "iosSwitchLocale": {
          "$ref": "IosSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the iOS application."
        },
        "androidOrientation": {
          "description": "Sets the orientation of the device.",
          "$ref": "AndroidOrientationDeviceAction"
        },
        "androidDumpsys": {
          "description": "Captures a dumpsys from the device.",
          "$ref": "AndroidDumpsysDeviceAction"
        },
        "iosAppPrivacyReport": {
          "description": "Collects the exported iOS App Privacy Report during the run.",
          "$ref": "IosAppPrivacyReportDeviceAction"
        },
        "iosPullFiles": {
          "$ref": "IosPullFilesDeviceAction",
          "description": "Pulls directories and files from the iOS device sandbox at the end of the run."
        },
        "iosRecordVideo": {
          "description": "Records a video of the iOS device screen during the run.",
          "$ref": "IosRecordVideoDeviceAction"
        },
        "androidSwitchLocale": {
          "$ref": "AndroidSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the device."
        },
        "iosInstallPackages": {
          "description": "Installs additional iOS packages on the device.",
          "$ref": "IosInstallPackagesDeviceAction"
        },
        "androidBugreport": {
          "description": "Captures a bugreport from the device unless the test result is pass.",
          "$ref": "AndroidBugreportDeviceAction"
        },
        "androidLogcat": {
          "description": "Collects logcat output from the device.",
          "$ref": "AndroidLogcatDeviceAction"
        },
        "androidMockLocation": {
          "$ref": "AndroidMockLocationDeviceAction",
          "description": "Mocks the location of the device."
        },
        "androidInstallPackages": {
          "description": "Installs Android packages on the device.",
          "$ref": "AndroidInstallPackagesDeviceAction"
        },
        "androidPushFiles": {
          "$ref": "AndroidPushFilesDeviceAction",
          "description": "Pushes files to the device at the beginning of the run."
        },
        "androidRecordVideo": {
          "description": "Records a video of the device screen during the run.",
          "$ref": "AndroidRecordVideoDeviceAction"
        },
        "androidPullFiles": {
          "description": "Pulls directories and files from the device at the end of the run.",
          "$ref": "AndroidPullFilesDeviceAction"
        },
        "iosPushFiles": {
          "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
          "$ref": "IosPushFilesDeviceAction"
        }
      },
      "id": "DeviceAction"
    },
    "CatalogLifecycle": {
      "type": "object",
      "id": "CatalogLifecycle",
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the current maturity state of the resource."
        },
        "removalDate": {
          "$ref": "Date",
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`.",
          "readOnly": true
        }
      }
    },
    "Warning": {
      "description": "Non-fatal operational anomaly, lint observation, or execution insight.",
      "id": "Warning",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Output only. Detailed warning summary.",
          "$ref": "IssueSummary",
          "readOnly": true
        }
      }
    },
    "CatalogDeviceStreamingSupport": {
      "id": "CatalogDeviceStreamingSupport",
      "type": "object",
      "description": "Per-product metadata for the DeviceStreaming product.",
      "properties": {
        "minimumAndroidStudioVersion": {
          "description": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AndroidSwitchLocaleDeviceAction": {
      "id": "AndroidSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code.",
          "type": "string"
        }
      },
      "description": "Switches the locale (language and region) of the device.",
      "type": "object"
    },
    "AndroidInstrumentationTestSmartSharding": {
      "description": "The smart sharding strategy to split the job into multiple shards based on the test methods and their recorded execution time.",
      "properties": {
        "targetedShardDuration": {
          "format": "google-duration",
          "description": "Required. The targeted duration of each shard. Limits: - Must be at least 2 minutes. - Must be at most 3 hours. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. Durations are calculated based on the following inputs: - Timing records from previous runs of the same test case. - For new test cases, the average duration of other known test cases. - A system-chosen, default duration if there are no previous timing records available. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed instrumentation timeout. This approach avoids cancelling the shard before all tests can finish.",
          "type": "string"
        },
        "timingRecord": {
          "description": "Required. The timing record file to use for smart sharding. If the file does not exist, smart sharding will use default test time (30s) for each test method to shard the job into multiple shards. This file will be overwritten with the latest timing record after the job is completed.",
          "$ref": "InputFile"
        },
        "maxShardCount": {
          "format": "int32",
          "description": "Optional. The maximum number of shards to create. If unset or less than 1, system-defined max limits are used. This limit takes precedence if the targeted_shard_duration cannot be satisfied. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "type": "integer"
        }
      },
      "id": "AndroidInstrumentationTestSmartSharding",
      "type": "object"
    },
    "CatalogDevice": {
      "description": "A single routable device configuration in the catalog.",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\".",
          "type": "string"
        },
        "androidDetails": {
          "$ref": "CatalogAndroidDeviceDetails",
          "readOnly": true,
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID)."
        },
        "hardwareType": {
          "type": "string",
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ],
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether the device is physical or virtual."
        },
        "availability": {
          "$ref": "CatalogDeviceAvailability",
          "readOnly": true,
          "description": "Output only. Reports the current fleet availability for this device configuration."
        },
        "platform": {
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the platform of the device."
        },
        "manufacturer": {
          "readOnly": true,
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "type": "string"
        },
        "accessDeniedReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only."
        },
        "supportedProducts": {
          "readOnly": true,
          "description": "Output only. Products/Services supported by this device.",
          "type": "array",
          "items": {
            "$ref": "CatalogSupportedProduct"
          }
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The device lifecycle (maturity stage and removal date).",
          "readOnly": true
        },
        "labels": {
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "labInfo": {
          "readOnly": true,
          "description": "Output only. The lab hosting this device.",
          "$ref": "CatalogLabInfo"
        },
        "primaryScreen": {
          "readOnly": true,
          "$ref": "CatalogScreenMetrics",
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables)."
        },
        "iosDetails": {
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS).",
          "readOnly": true,
          "$ref": "CatalogIosDeviceDetails"
        },
        "formFactor": {
          "readOnly": true,
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ],
          "description": "Output only. Specifies the form factor of the device.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "type": "string"
        },
        "modelCode": {
          "type": "string",
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\".",
          "readOnly": true
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details."
        }
      },
      "id": "CatalogDevice"
    },
    "Result": {
      "properties": {
        "resultType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown result type.",
            "Finished and passed.",
            "Finished but failed. It is usually caused by the user config, problematic test cases, or real bugs of their apps/platform under test.",
            "Unclassified error, can be caused by user config/tests/AUT, infra, or the tools that the infra is depending on.",
            "Test timeout.",
            "Test is aborted by user."
          ],
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "ERROR",
            "TIMED_OUT",
            "CANCELLED"
          ],
          "description": "Output only. The result type of the session/job/execution."
        },
        "cause": {
          "description": "Output only. Detailed result cause diagnostics. Set if type is not PASSED.",
          "$ref": "ResultCause",
          "readOnly": true
        }
      },
      "id": "Result",
      "type": "object",
      "description": "The result of a session/job/execution."
    },
    "CatalogIosDeviceDetails": {
      "type": "object",
      "description": "iOS-specific device attributes. Reserved for future iOS-only fields.",
      "properties": {},
      "id": "CatalogIosDeviceDetails"
    },
    "AndroidPushFilesDeviceAction": {
      "id": "AndroidPushFilesDeviceAction",
      "type": "object",
      "properties": {
        "fileConfigs": {
          "type": "array",
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          },
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
        }
      },
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow."
    },
    "JobConfig": {
      "type": "object",
      "id": "JobConfig",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "action": {
          "$ref": "JobAction",
          "description": "Required. Job action."
        },
        "settings": {
          "$ref": "JobSettings",
          "description": "Optional. Job settings."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
        },
        "allocationConfig": {
          "description": "Required. Allocation config.",
          "$ref": "AllocationConfig"
        }
      },
      "description": "The configuration of a job."
    },
    "IosPullFilesDeviceAction": {
      "id": "IosPullFilesDeviceAction",
      "properties": {
        "paths": {
          "type": "array",
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          }
        }
      },
      "type": "object",
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run."
    },
    "CatalogXcodeDetails": {
      "properties": {
        "supportedIosVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CatalogXcodeDetails",
      "type": "object",
      "description": "Xcode-specific attributes."
    },
    "IosPullFilesDeviceActionPathConfig": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. The bundle ID of the application sandbox."
        },
        "devicePath": {
          "type": "string",
          "description": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\"."
        }
      },
      "id": "IosPullFilesDeviceActionPathConfig",
      "type": "object",
      "description": "The configuration of pulling a file or directory from the iOS device."
    },
    "AndroidNativeBinary": {
      "properties": {
        "envVars": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. Limits: - Maximum number of entries: 32 - Maximum key size: 64 bytes (UTF-8) - Key regex: `a-zA-Z_*` - Maximum value size: 1024 bytes (UTF-8)"
        },
        "androidNativeBinary": {
          "description": "Required. The file path of the Android native binary.",
          "$ref": "InputFile"
        },
        "executionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours]."
        },
        "args": {
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. Limits: - Maximum number of entries: 64 - Maximum entry size: 1024 bytes (UTF-8)",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AndroidNativeBinary",
      "description": "The configuration of an Android native binary execution.",
      "type": "object"
    },
    "AndroidRecordVideoDeviceAction": {
      "properties": {
        "discardOnPass": {
          "description": "Optional. Whether to discard and not upload the recording when the test passes. Default is false.",
          "type": "boolean"
        }
      },
      "description": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "id": "AndroidRecordVideoDeviceAction",
      "type": "object"
    },
    "CancelSessionRequest": {
      "description": "Request to cancel a session.",
      "id": "CancelSessionRequest",
      "properties": {},
      "type": "object"
    },
    "RetrySettingsFlakyTestRetryStrategy": {
      "type": "object",
      "id": "RetrySettingsFlakyTestRetryStrategy",
      "description": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case.",
      "properties": {
        "testReductionMode": {
          "type": "string",
          "description": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "The test reduction mode is unspecified. Will default to `NO_REDUCTION`.",
            "Runs the same set of test cases of the previous attempt.",
            "Only runs the failed test cases of the previous attempt. For Android Instrumentation tests, this reduction mode only works when the tests in the test APK use one of the following test runners: - `androidx.test.ext.junit.runners.AndroidJUnit4` - `org.junit.runners.JUnit4` - `com.google.testing.junit.testparameterinjector.TestParameterInjector` - `org.junit.runners.Parameterized` Otherwise, its behavior will fall back to `NO_REDUCTION`."
          ],
          "enum": [
            "TEST_REDUCTION_MODE_UNSPECIFIED",
            "NO_REDUCTION",
            "REDUCE_TO_FAILED_TEST_CASES"
          ]
        },
        "parallelRetry": {
          "description": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel.",
          "type": "boolean"
        },
        "flakyTestAttempts": {
          "description": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5].",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "CatalogSupportedProduct": {
      "description": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message.",
      "type": "object",
      "properties": {
        "deviceStreaming": {
          "description": "Output only. Represents DeviceStreaming, which is interactive remote device streaming.",
          "$ref": "CatalogDeviceStreamingSupport",
          "readOnly": true
        },
        "automation": {
          "readOnly": true,
          "description": "Output only. Represents Automation, which is DeviceRun-backed automated test execution.",
          "$ref": "CatalogAutomationSupport"
        }
      },
      "id": "CatalogSupportedProduct"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "CatalogListSoftwareVersionsResponse": {
      "id": "CatalogListSoftwareVersionsResponse",
      "description": "Response including listed software versions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached."
        },
        "softwareVersions": {
          "description": "The list of software versions.",
          "items": {
            "$ref": "CatalogSoftwareVersion"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://docs.cloud.google.com/developer-device-platform/device-run",
  "batchPath": "batch",
  "canonicalName": "Device Run",
  "protocol": "rest",
  "description": "The Device Run API allows management, scheduling, and execution of automated sessions and workloads across device catalogs.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "path": "v1alpha/{+name}/locations",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "devicerun.projects.locations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "devicerun.projects.locations.get",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "devices": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.devices.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a specific device.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}",
                  "response": {
                    "$ref": "CatalogDevice"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$"
                    }
                  }
                },
                "list": {
                  "id": "devicerun.projects.locations.devices.list",
                  "path": "v1alpha/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices",
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all devices.",
                  "httpMethod": "GET"
                }
              }
            },
            "softwareVersions": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  },
                  "description": "Returns information about a specific software version.",
                  "id": "devicerun.projects.locations.softwareVersions.get"
                },
                "list": {
                  "path": "v1alpha/{+parent}/softwareVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions",
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists all software versions.",
                  "id": "devicerun.projects.locations.softwareVersions.list"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "devicerun.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha/{+name}",
                  "id": "devicerun.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "path": "v1alpha/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "id": "devicerun.projects.locations.operations.cancel"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "devicerun.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "sessions": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a session. This RPC returns immediately and deletion proceeds asynchronously. It will cancel the session at first if it is still running.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "devicerun.projects.locations.sessions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "location": "query"
                    },
                    "name": {
[...]
