{
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Device Run",
  "id": "devicerun:v1alpha",
  "description": "The Device Run API allows management, scheduling, and execution of automated sessions and workloads across device catalogs.",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "devicerun",
  "batchPath": "batch",
  "mtlsRootUrl": "https://devicerun.mtls.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/developer-device-platform/device-run",
  "version": "v1alpha",
  "ownerDomain": "google.com",
  "rootUrl": "https://devicerun.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "Device Run API",
  "revision": "20260923",
  "baseUrl": "https://devicerun.googleapis.com/",
  "schemas": {
    "JobConfig": {
      "id": "JobConfig",
      "properties": {
        "action": {
          "description": "Required. Job action.",
          "$ref": "JobAction"
        },
        "allocationConfig": {
          "$ref": "AllocationConfig",
          "description": "Required. Allocation config."
        },
        "settings": {
          "description": "Optional. Job settings.",
          "$ref": "JobSettings"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        }
      },
      "description": "The configuration of a job.",
      "type": "object"
    },
    "AndroidSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the device.",
      "id": "AndroidSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeviceAction": {
      "type": "object",
      "properties": {
        "androidBugreport": {
          "description": "Captures a bugreport from the device unless the test result is pass.",
          "$ref": "AndroidBugreportDeviceAction"
        },
        "androidInstallPackages": {
          "description": "Installs Android packages on the device.",
          "$ref": "AndroidInstallPackagesDeviceAction"
        },
        "iosInstallPackages": {
          "description": "Installs additional iOS packages on the device.",
          "$ref": "IosInstallPackagesDeviceAction"
        },
        "iosPullFiles": {
          "$ref": "IosPullFilesDeviceAction",
          "description": "Pulls directories and files from the iOS device sandbox at the end of the run."
        },
        "androidSwitchLocale": {
          "description": "Switches the locale (language and region) of the device.",
          "$ref": "AndroidSwitchLocaleDeviceAction"
        },
        "androidMockLocation": {
          "$ref": "AndroidMockLocationDeviceAction",
          "description": "Mocks the location of the device."
        },
        "iosRecordVideo": {
          "description": "Records a video of the iOS device screen during the run.",
          "$ref": "IosRecordVideoDeviceAction"
        },
        "androidPullFiles": {
          "description": "Pulls directories and files from the device at the end of the run.",
          "$ref": "AndroidPullFilesDeviceAction"
        },
        "androidLogcat": {
          "$ref": "AndroidLogcatDeviceAction",
          "description": "Collects logcat output from the device."
        },
        "androidOrientation": {
          "description": "Sets the orientation of the device.",
          "$ref": "AndroidOrientationDeviceAction"
        },
        "iosAppPrivacyReport": {
          "$ref": "IosAppPrivacyReportDeviceAction",
          "description": "Collects the exported iOS App Privacy Report during the run."
        },
        "iosSwitchLocale": {
          "$ref": "IosSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the iOS application."
        },
        "androidPushFiles": {
          "$ref": "AndroidPushFilesDeviceAction",
          "description": "Pushes files to the device at the beginning of the run."
        },
        "androidDumpsys": {
          "description": "Captures a dumpsys from the device.",
          "$ref": "AndroidDumpsysDeviceAction"
        },
        "androidRecordVideo": {
          "description": "Records a video of the device screen during the run.",
          "$ref": "AndroidRecordVideoDeviceAction"
        },
        "iosPushFiles": {
          "$ref": "IosPushFilesDeviceAction",
          "description": "Pushes files to the iOS device sandbox at the beginning of the run."
        }
      },
      "description": "The action to be performed on a device.",
      "id": "DeviceAction"
    },
    "IosPushFilesDeviceAction": {
      "id": "IosPushFilesDeviceAction",
      "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
      "type": "object",
      "properties": {
        "fileConfigs": {
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          },
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "type": "array"
        }
      }
    },
    "AndroidNativeBinary": {
      "type": "object",
      "properties": {
        "androidNativeBinary": {
          "$ref": "InputFile",
          "description": "Required. The file path of the Android native binary."
        },
        "envVars": {
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. The maximum number of entries is 100. Each key is limited to 128 characters and must conform to POSIX standards. Each value is limited to 2048 characters. The total size of all environment variables must not exceed 16 KiB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "args": {
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. The number of options is limited to 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "executionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours]."
        }
      },
      "description": "The configuration of an Android native binary execution.",
      "id": "AndroidNativeBinary"
    },
    "CancelSessionRequest": {
      "description": "Request to cancel a session.",
      "id": "CancelSessionRequest",
      "properties": {},
      "type": "object"
    },
    "IosXcTest": {
      "description": "The configuration of an iOS XCTest.",
      "properties": {
        "xcTestTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours]."
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory.",
          "$ref": "InputFile"
        },
        "xcodeVersion": {
          "type": "string",
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service."
        },
        "xctestrun": {
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip.",
          "$ref": "InputFile"
        }
      },
      "type": "object",
      "id": "IosXcTest"
    },
    "RetrySettings": {
      "id": "RetrySettings",
      "properties": {
        "flakyTestRetryStrategy": {
          "description": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors.",
          "$ref": "RetrySettingsFlakyTestRetryStrategy"
        }
      },
      "description": "Retry settings.",
      "type": "object"
    },
    "RetrySettingsFlakyTestRetryStrategy": {
      "description": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case.",
      "id": "RetrySettingsFlakyTestRetryStrategy",
      "type": "object",
      "properties": {
        "parallelRetry": {
          "description": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel.",
          "type": "boolean"
        },
        "flakyTestAttempts": {
          "description": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5].",
          "type": "integer",
          "format": "int32"
        },
        "testReductionMode": {
          "enumDescriptions": [
            "The test reduction mode is unspecified. Will default to `NO_REDUCTION`.",
            "Runs the same set of test cases of the previous attempt.",
            "Only runs the failed test cases of the previous attempt. For Android Instrumentation tests, this reduction mode only works when the tests in the test APK use one of the following test runners: - `androidx.test.ext.junit.runners.AndroidJUnit4` - `org.junit.runners.JUnit4` - `com.google.testing.junit.testparameterinjector.TestParameterInjector` - `org.junit.runners.Parameterized` Otherwise, its behavior will fall back to `NO_REDUCTION`."
          ],
          "enum": [
            "TEST_REDUCTION_MODE_UNSPECIFIED",
            "NO_REDUCTION",
            "REDUCE_TO_FAILED_TEST_CASES"
          ],
          "description": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The status of a session/job/execution.",
      "properties": {
        "progressMessages": {
          "description": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "statusType": {
          "enumDescriptions": [
            "Unknown status type.",
            "The session/job/execution is pending, not started yet.",
            "The session/job/execution is running.",
            "The session/job/execution is finished.",
            "The session/job/execution is suspended due to quota issues."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATUS_TYPE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "SUSPENDED"
          ],
          "description": "Output only. The status type of the session/job/execution."
        }
      },
      "type": "object"
    },
    "CatalogAndroidDeviceDetails": {
      "type": "object",
      "properties": {
        "supportedAbis": {
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "buildType": {
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Android-specific device attributes.",
      "id": "CatalogAndroidDeviceDetails"
    },
    "SessionConfigSessionOutputFileDirectoryConfig": {
      "properties": {
        "gcsOutputDirectory": {
          "description": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`).",
          "$ref": "GcsPath"
        },
        "flatDirectoryStructure": {
          "description": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Config to control session output file directory.",
      "id": "SessionConfigSessionOutputFileDirectoryConfig"
    },
    "AndroidInstrumentationTestSmartSharding": {
      "id": "AndroidInstrumentationTestSmartSharding",
      "properties": {
        "timingRecord": {
          "$ref": "InputFile",
          "description": "Required. The timing record file to use for smart sharding. If the file does not exist, smart sharding will use default test time (30s) for each test method to shard the job into multiple shards. This file will be overwritten with the latest timing record after the job is completed."
        },
        "targetedShardDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The targeted duration of each shard. Limits: - Must be at least 2 minutes. - Must be at most 3 hours. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. Durations are calculated based on the following inputs: - Timing records from previous runs of the same test case. - For new test cases, the average duration of other known test cases. - A system-chosen, default duration if there are no previous timing records available. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed instrumentation timeout. This approach avoids cancelling the shard before all tests can finish."
        },
        "maxShardCount": {
          "description": "Optional. The maximum number of shards to create. If unset or less than 1, system-defined max limits are used. This limit takes precedence if the targeted_shard_duration cannot be satisfied. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The smart sharding strategy to split the job into multiple shards based on the test methods and their recorded execution time."
    },
    "AndroidBugreportDeviceAction": {
      "properties": {
        "collectOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered."
        }
      },
      "id": "AndroidBugreportDeviceAction",
      "description": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory.",
      "type": "object"
    },
    "CatalogSupportedProduct": {
      "id": "CatalogSupportedProduct",
      "properties": {
        "deviceStreaming": {
          "readOnly": true,
          "$ref": "CatalogDeviceStreamingSupport",
          "description": "Output only. Represents DeviceStreaming, which is interactive remote device streaming."
        },
        "automation": {
          "readOnly": true,
          "description": "Output only. Represents Automation, which is DeviceRun-backed automated test execution.",
          "$ref": "CatalogAutomationSupport"
        }
      },
      "description": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message.",
      "type": "object"
    },
    "AndroidPullFilesDeviceAction": {
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
        }
      },
      "type": "object",
      "id": "AndroidPullFilesDeviceAction",
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device."
    },
    "CatalogAutomationSupport": {
      "id": "CatalogAutomationSupport",
      "description": "Per-product metadata for the Automation (DeviceRun) product.",
      "properties": {},
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation"
    },
    "ExecutionReport": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "type": "array",
          "description": "Output only. Non-fatal warnings collected during the execution.",
          "readOnly": true
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of the execution."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display_name set by users in the ExecutionConfig.",
          "type": "string"
        },
        "outputFiles": {
          "description": "Output only. The output files of the execution.",
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the execution.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the execution.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the execution."
        },
        "result": {
          "readOnly": true,
          "description": "Output only. The result of the execution.",
          "$ref": "Result"
        }
      },
      "id": "ExecutionReport",
      "type": "object",
      "description": "The runtime information and result report of a single on-device execution attempt."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "CatalogDeviceAvailability": {
      "id": "CatalogDeviceAvailability",
      "type": "object",
      "description": "Fleet availability for a device configuration.",
      "properties": {
        "capacity": {
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ],
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ],
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use).",
          "type": "string",
          "readOnly": true
        },
        "available": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABILITY_NONE",
            "AVAILABILITY_LOW",
            "AVAILABILITY_MEDIUM",
            "AVAILABILITY_HIGH"
          ],
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
          "readOnly": true,
          "description": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices.",
          "type": "string"
        }
      }
    },
    "AndroidInstallable": {
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "id": "AndroidInstallable",
      "type": "object",
      "properties": {
        "files": {
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CatalogDevice": {
      "description": "A single routable device configuration in the catalog.",
      "id": "CatalogDevice",
      "properties": {
        "supportedProducts": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Products/Services supported by this device.",
          "items": {
            "$ref": "CatalogSupportedProduct"
          }
        },
        "modelCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\"."
        },
        "availability": {
          "readOnly": true,
          "$ref": "CatalogDeviceAvailability",
          "description": "Output only. Reports the current fleet availability for this device configuration."
        },
        "accessDeniedReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only."
        },
        "hardwareType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates whether the device is physical or virtual.",
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ],
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ]
        },
        "displayName": {
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\".",
          "readOnly": true,
          "type": "string"
        },
        "labInfo": {
          "$ref": "CatalogLabInfo",
          "description": "Output only. The lab hosting this device.",
          "readOnly": true
        },
        "formFactor": {
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "description": "Output only. Specifies the form factor of the device.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "primaryScreen": {
          "$ref": "CatalogScreenMetrics",
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables).",
          "readOnly": true
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ],
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ],
          "description": "Output only. Specifies the platform of the device.",
          "type": "string",
          "readOnly": true
        },
        "androidDetails": {
          "readOnly": true,
          "$ref": "CatalogAndroidDeviceDetails",
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID)."
        },
        "manufacturer": {
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "type": "string",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS).",
          "readOnly": true
        },
        "iosDetails": {
          "readOnly": true,
          "$ref": "CatalogIosDeviceDetails",
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS)."
        },
        "name": {
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details.",
          "type": "string"
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "readOnly": true,
          "description": "Output only. The device lifecycle (maturity stage and removal date)."
        }
      },
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "properties": {},
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "type": "object",
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields."
    },
    "CatalogSoftwareVersion": {
      "type": "object",
      "id": "CatalogSoftwareVersion",
      "properties": {
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`."
        },
        "name": {
          "description": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version.",
          "type": "string"
        },
        "lifecycle": {
          "readOnly": true,
          "description": "Output only. The version lifecycle (maturity stage and removal date).",
          "$ref": "CatalogLifecycle"
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time."
        },
        "displayName": {
          "description": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\".",
          "type": "string",
          "readOnly": true
        },
        "xcodeDetails": {
          "description": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE).",
          "$ref": "CatalogXcodeDetails",
          "readOnly": true
        },
        "softwareType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SOFTWARE_TYPE_UNSPECIFIED",
            "ANDROIDX_TEST_ORCHESTRATOR",
            "XCODE"
          ],
          "description": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`.",
          "enumDescriptions": [
            "Software type not specified.",
            "AndroidX Test Orchestrator, which runs each Android instrumentation test case in its own process.",
            "Apple Xcode, the toolchain that builds and runs iOS XCTests."
          ]
        },
        "androidxTestOrchestratorDetails": {
          "$ref": "CatalogAndroidxTestOrchestratorDetails",
          "readOnly": true,
          "description": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR)."
        }
      },
      "description": "A single software version in the catalog."
    },
    "SessionReport": {
      "type": "object",
      "description": "The runtime information and result report of a session.",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the session.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The start time of the session."
        },
        "result": {
          "description": "Output only. The result of the session.",
          "readOnly": true,
          "$ref": "Result"
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of the session."
        },
        "jobReports": {
          "description": "Output only. Reports of the jobs in the session.",
          "readOnly": true,
          "items": {
            "$ref": "JobReport"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the session.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "SessionReport"
    },
    "Session": {
      "properties": {
        "sessionConfig": {
          "description": "Required. Configuration used to create the session.",
          "$ref": "SessionConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`."
        },
        "sessionReport": {
          "description": "Output only. The runtime information and result report of the session.",
          "readOnly": true,
          "$ref": "SessionReport"
        }
      },
      "type": "object",
      "id": "Session",
      "description": "A session resource in the AutomationSession API. At a high level, `Session` describes the configuration of one or multiple jobs, the state transitions it goes through, and the results."
    },
    "GcsPath": {
      "type": "object",
      "description": "A path to a file or directory in Google Cloud Storage.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`."
        }
      },
      "id": "GcsPath"
    },
    "CancelSessionResponse": {
      "properties": {
        "cancelResult": {
          "type": "string",
          "description": "The result of the request.",
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ],
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ]
        }
      },
      "description": "Response of the cancel session request.",
      "id": "CancelSessionResponse",
      "type": "object"
    },
    "IosPullFilesDeviceAction": {
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
      "properties": {
        "paths": {
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          },
          "type": "array",
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
        }
      },
      "type": "object",
      "id": "IosPullFilesDeviceAction"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "GoogleRpcStatus"
    },
    "IssueSummary": {
      "id": "IssueSummary",
      "type": "object",
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The issue classification based on responsibility.",
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ],
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ]
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable explanation of the issue in English."
        }
      }
    },
    "AndroidOrientationDeviceAction": {
      "type": "object",
      "properties": {
        "orientation": {
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`.",
          "type": "string"
        }
      },
      "description": "Sets the orientation of the device.",
      "id": "AndroidOrientationDeviceAction"
    },
    "CatalogXcodeDetails": {
      "description": "Xcode-specific attributes.",
      "id": "CatalogXcodeDetails",
      "properties": {
        "supportedIosVersions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AllocationConfig": {
      "id": "AllocationConfig",
      "description": "Allocation config.",
      "type": "object",
      "properties": {
        "deviceConfigs": {
          "description": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests.",
          "items": {
            "$ref": "DeviceConfig"
          },
          "type": "array"
        }
      }
    },
    "CatalogIosDeviceDetails": {
      "type": "object",
      "properties": {},
      "id": "CatalogIosDeviceDetails",
      "description": "iOS-specific device attributes. Reserved for future iOS-only fields."
    },
    "DeviceRequirement": {
      "id": "DeviceRequirement",
      "description": "The requirement of a device.",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name.",
          "type": "string"
        }
      }
    },
    "IosSwitchLocaleDeviceAction": {
      "type": "object",
      "id": "IosSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      },
      "description": "Switches the locale (language and region) of the iOS application."
    },
    "CatalogDeviceStreamingSupport": {
      "id": "CatalogDeviceStreamingSupport",
      "description": "Per-product metadata for the DeviceStreaming product.",
      "type": "object",
      "properties": {
        "minimumAndroidStudioVersion": {
          "type": "string",
          "description": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "readOnly": true
        }
      }
    },
    "JobSettings": {
      "description": "Job settings to control the job execution.",
      "id": "JobSettings",
      "type": "object",
      "properties": {
        "retrySettings": {
          "$ref": "RetrySettings",
          "description": "Optional. The retry settings of the job."
        }
      }
    },
    "AndroidInstrumentationTestUniformSharding": {
      "properties": {
        "shardCount": {
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidInstrumentationTestUniformSharding",
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "type": "object"
    },
    "OutputFile": {
      "type": "object",
      "properties": {
        "gcsOutputFile": {
          "$ref": "GcsPath",
          "description": "An output file in Google Cloud Storage."
        }
      },
      "description": "Output file.",
      "id": "OutputFile"
    },
    "JobReport": {
      "description": "The runtime information and result report of a job.",
      "id": "JobReport",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display_name set by users in the JobConfig.",
          "type": "string"
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The status of the job."
        },
        "outputFiles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "OutputFile"
          },
          "description": "Output only. The output files of the job."
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The original labels provided by the user during job creation."
        },
        "executionReports": {
          "description": "Output only. Reports of the execution attempts of the job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ExecutionReport"
          }
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the job."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The start time of the job.",
          "format": "google-datetime",
          "readOnly": true
        },
        "result": {
          "description": "Output only. The result of the job.",
          "readOnly": true,
          "$ref": "Result"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the job.",
          "format": "google-datetime",
          "type": "string"
        },
        "warnings": {
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal warnings collected during the job.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "IosPullFilesDeviceActionPathConfig": {
      "id": "IosPullFilesDeviceActionPathConfig",
      "properties": {
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "devicePath": {
          "type": "string",
          "description": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\"."
        }
      },
      "description": "The configuration of pulling a file or directory from the iOS device.",
      "type": "object"
    },
    "IosRecordVideoDeviceAction": {
      "id": "IosRecordVideoDeviceAction",
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video)."
        }
      },
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "type": "object"
    },
    "IosAppPrivacyReportDeviceAction": {
      "description": "Collects the exported iOS App Privacy Report during the test run. When enabled, the iOS device records application activity (such as network access, domain requests, and sensitive resource access like photos, camera, or location) and exports Apple's official App Privacy Report. The report will be written to a file named `AppActivityReport.ndjson` in the execution output directory.",
      "properties": {},
      "type": "object",
      "id": "IosAppPrivacyReportDeviceAction"
    },
    "AndroidPushFilesDeviceAction": {
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow.",
      "type": "object",
      "id": "AndroidPushFilesDeviceAction",
      "properties": {
        "fileConfigs": {
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          },
          "type": "array",
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
        }
      }
    },
    "CatalogLifecycle": {
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "id": "CatalogLifecycle",
      "properties": {
        "removalDate": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "description": "Output only. Specifies the current maturity state of the resource."
        }
      },
      "type": "object"
    },
    "CatalogLabInfo": {
      "id": "CatalogLabInfo",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab."
        },
        "regionCode": {
          "description": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The lab hosting a device.",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "ResultCause": {
      "properties": {
        "summary": {
          "description": "Output only. Structured cause detail.",
          "$ref": "IssueSummary",
          "readOnly": true
        }
      },
      "id": "ResultCause",
      "type": "object",
      "description": "Describes the cause of the non-passed result occurred during the execution."
    },
    "CatalogListDevicesResponse": {
      "type": "object",
      "description": "Response including listed devices.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "CatalogDevice"
          },
          "type": "array",
          "description": "The list of devices."
        },
        "nextPageToken": {
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "id": "CatalogListDevicesResponse"
    },
    "Warning": {
      "id": "Warning",
      "properties": {
        "summary": {
          "description": "Output only. Detailed warning summary.",
          "$ref": "IssueSummary",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Non-fatal operational anomaly, lint observation, or execution insight."
    },
    "DeviceConfig": {
      "properties": {
        "actions": {
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list.",
          "type": "array",
          "items": {
            "$ref": "DeviceAction"
          }
        },
        "requirement": {
          "$ref": "DeviceRequirement",
          "description": "Required. The requirement of the device."
        }
      },
      "id": "DeviceConfig",
      "description": "The configuration of a run on a device.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "JobAction": {
      "description": "The action to be performed in a job.",
      "type": "object",
      "id": "JobAction",
      "properties": {
        "iosXcTest": {
          "description": "iOS XCTest.",
          "$ref": "IosXcTest"
        },
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "Android instrumentation test."
        },
        "androidNativeBinary": {
          "description": "Android native binary execution.",
          "$ref": "AndroidNativeBinary"
        }
      }
    },
    "CatalogScreenMetrics": {
      "id": "CatalogScreenMetrics",
      "type": "object",
      "description": "Screen measurements of a device.",
      "properties": {
        "widthPx": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Width in pixels."
        },
        "densityDpi": {
          "readOnly": true,
          "description": "Output only. Pixel density in dots per inch (dpi).",
          "type": "integer",
          "format": "int32"
        },
        "heightPx": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Height in pixels."
        }
      }
    },
    "AndroidInstrumentationTest": {
      "properties": {
        "additionalTestOptions": {
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uniformSharding": {
          "$ref": "AndroidInstrumentationTestUniformSharding",
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
        },
        "testTargets": {
          "type": "array",
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024.",
          "items": {
            "type": "string"
          }
        },
        "testRunnerClass": {
          "type": "string",
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used."
        },
        "smartSharding": {
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time.",
          "$ref": "AndroidInstrumentationTestSmartSharding"
        },
        "instrumentationTimeout": {
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration",
          "type": "string"
        },
        "enableCodeCoverage": {
          "type": "boolean",
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo."
        },
        "orchestratorVersion": {
          "type": "string",
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used."
        },
        "testInstallable": {
          "description": "Required. The test package to install and run the test.",
          "$ref": "AndroidInstallable"
        }
      },
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests.",
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "SessionConfigSessionNotificationConfig": {
      "type": "object",
      "description": "Config to control session notification.",
      "properties": {
        "pubsubTopic": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions"
        }
      },
      "id": "SessionConfigSessionNotificationConfig"
    },
    "SessionConfig": {
      "type": "object",
      "properties": {
        "outputDirectoryConfig": {
          "description": "Required. Output file directory config for the session.",
          "$ref": "SessionConfigSessionOutputFileDirectoryConfig"
        },
        "jobConfigs": {
          "type": "array",
          "description": "Required. Configs of the jobs in the session.",
          "items": {
            "$ref": "JobConfig"
          }
        },
        "notificationConfig": {
          "description": "Optional. Notification config for the session.",
          "$ref": "SessionConfigSessionNotificationConfig"
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        }
      },
      "description": "SessionConfig is used to create a session.",
      "id": "SessionConfig"
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "id": "AndroidPushFilesDeviceActionFileConfig",
      "description": "The configuration of pushing a file to the device.",
      "type": "object",
      "properties": {
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed to the device."
        },
        "destinationPath": {
          "description": "Required. The destination path on the device.",
          "type": "string"
        }
      }
    },
    "IosPushFilesDeviceActionFileConfig": {
      "type": "object",
      "properties": {
        "sourceFile": {
          "description": "Required. The file to be pushed.",
          "$ref": "InputFile"
        },
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "destinationPath": {
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\".",
          "type": "string"
        }
      },
      "id": "IosPushFilesDeviceActionFileConfig",
      "description": "The configuration of pushing a file to the iOS device."
    },
    "InputFile": {
      "type": "object",
      "id": "InputFile",
      "description": "Input file.",
      "properties": {
        "gcsInputFile": {
          "description": "An input file in Google Cloud Storage.",
          "$ref": "GcsPath"
        }
      }
    },
    "CatalogListSoftwareVersionsResponse": {
      "properties": {
        "softwareVersions": {
          "description": "The list of software versions.",
          "type": "array",
          "items": {
            "$ref": "CatalogSoftwareVersion"
          }
        },
        "nextPageToken": {
          "description": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "id": "CatalogListSoftwareVersionsResponse",
      "type": "object",
      "description": "Response including listed software versions."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object"
    },
    "AndroidMockLocationDeviceAction": {
      "properties": {
        "location": {
          "$ref": "LatLng",
          "description": "Required. The mock location to set on the device."
        }
      },
      "type": "object",
      "id": "AndroidMockLocationDeviceAction",
      "description": "Mocks the location of the Android device."
    },
    "ListSessionsResponse": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "type": "array",
          "description": "The list of sessions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Sessions that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListSessionsResponse",
      "description": "Response including listed sessions.",
      "type": "object"
    },
    "AndroidLogcatDeviceAction": {
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory.",
      "type": "object",
      "id": "AndroidLogcatDeviceAction",
      "properties": {}
    },
    "AndroidInstallPackagesDeviceAction": {
      "properties": {
        "installables": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields."
        },
        "preTargetAppInstallables": {
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          }
        },
        "postTargetAppInstallables": {
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified."
        },
        "targetApp": {
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package.",
          "$ref": "AndroidInstallable"
        }
      },
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables.",
      "type": "object",
      "id": "AndroidInstallPackagesDeviceAction"
    },
    "IosInstallPackagesDeviceAction": {
      "description": "Installs iOS packages on the device.",
      "id": "IosInstallPackagesDeviceAction",
      "type": "object",
      "properties": {
        "ipas": {
          "items": {
            "$ref": "InputFile"
          },
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "type": "array"
        }
      }
    },
    "AndroidDumpsysDeviceAction": {
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory.",
      "type": "object",
      "id": "AndroidDumpsysDeviceAction",
      "properties": {
        "collectOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered."
        }
      }
    },
    "AndroidRecordVideoDeviceAction": {
      "description": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "type": "object",
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard and not upload the recording when the test passes. Default is false."
        }
      },
      "id": "AndroidRecordVideoDeviceAction"
    },
    "Result": {
      "type": "object",
      "description": "The result of a session/job/execution.",
      "properties": {
        "resultType": {
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "ERROR",
            "TIMED_OUT",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unknown result type.",
            "Finished and passed.",
            "Finished but failed. It is usually caused by the user config, problematic test cases, or real bugs of their apps/platform under test.",
            "Unclassified error, can be caused by user config/tests/AUT, infra, or the tools that the infra is depending on.",
            "Test timeout.",
            "Test is aborted by user."
          ],
          "description": "Output only. The result type of the session/job/execution.",
          "readOnly": true,
          "type": "string"
        },
        "cause": {
          "description": "Output only. Detailed result cause diagnostics. Set if type is not PASSED.",
          "readOnly": true,
          "$ref": "ResultCause"
        }
      },
      "id": "Result"
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "devices": {
              "methods": {
                "list": {
                  "id": "devicerun.projects.locations.devices.list",
                  "path": "v1alpha/{+parent}/devices",
                  "description": "Lists all devices.",
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices"
                },
                "get": {
                  "description": "Returns information about a specific device.",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "devicerun.projects.locations.devices.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "CatalogDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "devicerun.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "id": "devicerun.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "devicerun.projects.locations.operations.get",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "devicerun.projects.locations.operations.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations"
                }
              }
            },
            "softwareVersions": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "id": "devicerun.projects.locations.softwareVersions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a specific software version.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  }
                },
                "list": {
                  "description": "Lists all software versions.",
                  "id": "devicerun.projects.locations.softwareVersions.list",
                  "path": "v1alpha/{+parent}/softwareVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "sessions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "description": "Starts an automation session with the specified configuration. This method returns a long-running `Operation`, awaiting the completion of all jobs in the session.",
                  "httpMethod": "POST",
                  "parameters": {
                    "sessionId": {
                      "description": "Optional. The ID to use for the session, which will become the final component of the resource name. If not provided, the server will generate a value for this field. When provided, this value must be between 4 and 63 characters, and match the following regex: ^a-z{2,61}[a-z0-9]$.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this session will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Session"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/sessions",
                  "id": "devicerun.projects.locations.sessions.create"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "view": {
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ],
                      "description": "Optional. The view of the session to return. If not set, the default BASIC view will be returned.",
                      "location": "query",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "response": {
                    "$ref": "Session"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "devicerun.projects.locations.sessions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns information about a previously created automation session."
                },
[...]
