{
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "dfareporting/v5/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "name": "dfareporting",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "basePath": "/dfareporting/v5/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "resources": {
    "sites": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Site"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.sites.insert",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "httpMethod": "POST",
          "description": "Inserts a new site.",
          "path": "userprofiles/{+profileId}/sites",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/sites",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing site.",
          "id": "dfareporting.sites.update",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Site"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/sites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only sites with these IDs."
            },
            "campaignIds": {
              "type": "string",
              "description": "Select only sites with these campaign IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "adWordsSite": {
              "type": "boolean",
              "location": "query",
              "description": "Select only AdWords sites."
            },
            "unmappedSite": {
              "type": "boolean",
              "location": "query",
              "description": "Select only sites that have not been mapped to a directory site."
            },
            "directorySiteIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only sites with these directory site IDs."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "subaccountId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only sites with this subaccount ID."
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "approved": {
              "description": "Select only approved sites.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SitesListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "id": "dfareporting.sites.list",
          "flatPath": "userprofiles/{userprofilesId}/sites"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/sites",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Site ID.",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "Site"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "id": "dfareporting.sites.patch",
          "description": "Updates an existing site. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Site ID."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Site"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}",
          "id": "dfareporting.sites.get",
          "description": "Gets one site by ID.",
          "httpMethod": "GET"
        }
      }
    },
    "contentCategories": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing content category.",
          "id": "dfareporting.contentCategories.update",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "path": "userprofiles/{+profileId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.insert",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "POST",
          "description": "Inserts a new content category."
        },
        "get": {
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Content category ID.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.get",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "GET",
          "description": "Gets one content category by ID."
        },
        "delete": {
          "id": "dfareporting.contentCategories.delete",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Content category ID.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an existing content category.",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "id": "dfareporting.contentCategories.patch",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. ContentCategory ID."
            }
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.list",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "GET",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "type": "string",
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "insert": {
          "id": "dfareporting.placementStrategies.insert",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "httpMethod": "POST",
          "description": "Inserts a new placement strategy.",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementStrategies.update",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "httpMethod": "PUT",
          "description": "Updates an existing placement strategy."
        },
        "list": {
          "id": "dfareporting.placementStrategies.list",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "httpMethod": "GET",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\"."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement strategies with these IDs."
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Required. PlacementStrategy ID."
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "id": "dfareporting.placementStrategies.patch"
        },
        "delete": {
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.delete",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Placement strategy ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an existing placement strategy."
        },
        "get": {
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Placement strategy ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "id": "dfareporting.placementStrategies.get",
          "description": "Gets one placement strategy by ID.",
          "httpMethod": "GET"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Operating system version ID.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "id": "dfareporting.operatingSystemVersions.get",
          "description": "Gets one operating system version by ID.",
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystemVersions.list",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "httpMethod": "GET",
          "description": "Retrieves a list of operating system versions.",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "id": "dfareporting.videoFormats.get",
          "description": "Gets one video format by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormat"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Video format ID.",
              "pattern": "^[^/]+$",
              "type": "integer",
              "location": "path",
              "format": "int32",
              "required": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "httpMethod": "GET",
          "description": "Lists available video formats.",
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountUserProfiles.get",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "httpMethod": "GET",
          "description": "Gets one account user profile by ID.",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "required": true,
              "description": "Required. AccountUserProfile ID.",
              "type": "string"
            }
          }
        },
        "list": {
          "parameters": {
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\"."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "userRoleId": {
              "description": "Select only user profiles with the specified user role ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only user profiles with these IDs."
            },
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "active": {
              "description": "Select only active user profiles.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "id": "dfareporting.accountUserProfiles.list",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "description": "Updates an existing account user profile.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.update",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "insert": {
          "id": "dfareporting.accountUserProfiles.insert",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "POST",
          "description": "Inserts a new account user profile.",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Mobile carrier ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "MobileCarrier"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "id": "dfareporting.mobileCarriers.get",
          "description": "Gets one mobile carrier by ID.",
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "id": "dfareporting.mobileCarriers.list",
          "description": "Retrieves a list of mobile carriers.",
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "campaignId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Campaign ID in this association.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "httpMethod": "POST",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations"
        },
        "list": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "campaignId": {
              "description": "Campaign ID in this association.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations"
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "AccountPermission"
          },
          "description": "Gets one account permission by ID.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "id": "dfareporting.accountPermissions.get",
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Account permission ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/accountPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "id": "dfareporting.accountPermissions.list",
          "description": "Retrieves the list of account permissions.",
          "httpMethod": "GET"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.languages.list",
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "httpMethod": "GET",
          "description": "Retrieves a list of languages.",
          "path": "userprofiles/{+profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          }
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "httpMethod": "GET",
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.targetableRemarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "required": true,
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User role permission group ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "id": "dfareporting.userRolePermissionGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRolePermissionGroup"
          }
        },
        "list": {
          "id": "dfareporting.userRolePermissionGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "description": "Gets a list of all supported user role permission groups.",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "directorySites": {
      "methods": {
        "list": {
          "parameters": {
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "type": "boolean",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "dfpNetworkCode": {
              "location": "query",
              "type": "string",
              "description": "Select only directory sites with this Ad Manager network code."
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only directory sites with these IDs.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.list",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "httpMethod": "GET",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Directory site ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one directory site by ID.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "id": "dfareporting.directorySites.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "DirectorySite"
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/directorySites",
          "request": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DirectorySite"
          },
          "httpMethod": "POST",
          "description": "Inserts a new directory site.",
          "id": "dfareporting.directorySites.insert",
          "flatPath": "userprofiles/{userprofilesId}/directorySites"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "id": "dfareporting.remarketingLists.get",
          "description": "Gets one remarketing list by ID.",
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active or only inactive remarketing lists."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "floodlightActivityId": {
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "advertiserId": {
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Required. Select only remarketing lists owned by this advertiser."
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.list",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "httpMethod": "GET",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "id": "dfareporting.remarketingLists.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "RemarketingList"
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "POST",
          "description": "Inserts a new remarketing list.",
          "id": "dfareporting.remarketingLists.insert",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "update": {
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingLists.update",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "httpMethod": "PUT",
          "description": "Updates an existing remarketing list.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one size by ID.",
          "id": "dfareporting.sizes.get",
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Size"
          },
          "parameters": {
            "id": {
              "description": "Size ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/sizes",
          "request": {
            "$ref": "Size"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new size.",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "id": "dfareporting.sizes.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Size"
          }
        },
        "list": {
          "parameters": {
            "iabStandard": {
              "location": "query",
              "type": "boolean",
              "description": "Select only IAB standard sizes."
            },
            "height": {
              "description": "Select only sizes with this height.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "width": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Select only sizes with this width."
            },
            "ids": {
              "type": "string",
              "description": "Select only sizes with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/sizes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "id": "dfareporting.sizes.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SizesListResponse"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "id": "dfareporting.accounts.get",
          "description": "Gets one account by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Account ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "id": "dfareporting.accounts.update"
        },
        "list": {
          "id": "dfareporting.accounts.list",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "httpMethod": "GET",
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only accounts with these IDs.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "path": "userprofiles/{+profileId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. Account ID."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing account. This method supports patch semantics.",
          "id": "dfareporting.accounts.patch",
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User role permission ID.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRolePermission"
          },
          "description": "Gets one user role permission by ID.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "id": "dfareporting.userRolePermissions.get"
        },
        "list": {
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only user role permissions with these IDs."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "id": "dfareporting.userRolePermissions.list"
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one postal code by ID.",
          "id": "dfareporting.postalCodes.get",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "response": {
            "$ref": "PostalCode"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "code": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Postal code ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "id": "dfareporting.postalCodes.list",
          "description": "Retrieves a list of postal codes.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/postalCodes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creatives": {
      "methods": {
        "update": {
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Creative"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing creative.",
          "id": "dfareporting.creatives.update",
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "insert": {
          "response": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creatives.insert",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "POST",
          "description": "Inserts a new creative.",
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          }
        },
        "patch": {
          "parameters": {
            "id": {
              "description": "Required. Creative ID.",
              "type": "string",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing creative. This method supports patch semantics.",
          "id": "dfareporting.creatives.patch",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Creative"
          }
        },
        "list": {
          "parameters": {
            "active": {
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only creatives with these IDs."
            },
            "sizeIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only creatives with these size IDs.",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query",
              "type": "string"
            },
            "studioCreativeId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creatives corresponding to this Studio creative ID."
            },
            "companionCreativeIds": {
              "description": "Select only in-stream video creatives with these companion IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "creativeFieldIds": {
              "description": "Select only creatives with these creative field IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "types": {
              "repeated": true,
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "location": "query",
              "description": "Select only creatives with these creative types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "renderingIds": {
              "description": "Select only creatives with these rendering IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "campaignId": {
              "description": "Select only creatives with this campaign ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives."
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "id": "dfareporting.creatives.list",
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "response": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "id": "dfareporting.creatives.get",
          "description": "Gets one creative by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "description": "Creative ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "publish": {
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "studioCreativeId"
          ],
          "id": "dfareporting.studioCreatives.publish",
          "flatPath": "studio/creatives/{creativesId}/publish",
          "parameters": {
            "studioCreativeId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Studio creative ID.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Publish for a studio creative."
        },
        "get": {
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. Studio creative ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "studio/creatives/{+studioCreativeId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets a studio creative by ID.",
          "httpMethod": "GET",
          "flatPath": "studio/creatives/{creativesId}",
          "id": "dfareporting.studioCreatives.get",
          "parameterOrder": [
            "studioCreativeId"
          ],
[...]
