{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "dfareporting/v5/",
  "protocol": "rest",
  "version": "v5",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "id": "dfareporting:v5",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "floodlightActivityGroups": {
      "methods": {
        "list": {
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "type": {
              "location": "query",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ]
            },
            "ids": {
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\"."
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.floodlightActivityGroups.list"
        },
        "update": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.update",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "insert": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new floodlight activity group."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivityGroups.patch",
          "parameters": {
            "id": {
              "format": "int64",
              "location": "query",
              "description": "Required. EventTag ID.",
              "type": "string",
              "required": true
            },
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups"
        },
        "get": {
          "description": "Gets one floodlight activity group by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Floodlight activity Group ID.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "subaccounts": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.subaccounts.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "description": "Required. Subaccount ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            }
          },
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "request": {
            "$ref": "Subaccount"
          },
          "httpMethod": "PATCH"
        },
        "insert": {
          "id": "dfareporting.subaccounts.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "description": "Inserts a new subaccount.",
          "request": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts"
        },
        "list": {
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameters": {
            "sortField": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" ."
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/subaccounts",
          "id": "dfareporting.subaccounts.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "id": "dfareporting.subaccounts.update",
          "description": "Updates an existing subaccount.",
          "request": {
            "$ref": "Subaccount"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Subaccount ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one subaccount by ID.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.get"
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "parameters": {
            "campaignId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Campaign ID in this association."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {
            "campaignId": {
              "format": "int64",
              "description": "Campaign ID in this association.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "id": "dfareporting.campaignCreativeAssociations.insert"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "id": "dfareporting.targetableRemarketingLists.get",
          "description": "Gets one remarketing list by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}"
        },
        "list": {
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "parameters": {
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists."
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "default": "ID"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        }
      }
    },
    "advertisers": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.patch",
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. Advertiser ID.",
              "location": "query"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.insert",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "Advertiser"
          },
          "description": "Inserts a new advertiser.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one advertiser by ID.",
          "parameters": {
            "id": {
              "description": "Advertiser ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.get",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "id": "dfareporting.advertisers.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "description": "Updates an existing advertiser.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertisers"
        },
        "list": {
          "id": "dfareporting.advertisers.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "parameters": {
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" ."
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "status": {
              "type": "string",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "description": "Select only advertisers with the specified status.",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "floodlightConfigurationIds": {
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "type": "boolean",
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserGroupIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only advertisers with these advertiser group IDs."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "ids": {
              "location": "query",
              "description": "Select only advertisers with these IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true
            }
          }
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "path": "userprofiles/{profileId}",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "description": "Gets one user profile by ID.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The user profile ID."
            }
          },
          "id": "dfareporting.userProfiles.get"
        },
        "list": {
          "id": "dfareporting.userProfiles.list",
          "parameterOrder": [],
          "flatPath": "userprofiles",
          "parameters": {},
          "response": {
            "$ref": "UserProfileList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles",
          "description": "Retrieves list of user profiles for a user."
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "parameters": {
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "dartIds": {
              "description": "Select only cities with these DART IDs.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "namePrefix": {
              "description": "Select only cities with names starting with this prefix.",
              "location": "query",
              "type": "string"
            },
            "countryDartIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only cities from these countries.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/cities",
          "description": "Retrieves a list of cities, possibly filtered.",
          "id": "dfareporting.cities.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Connection type ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one connection type by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "response": {
            "$ref": "ConnectionType"
          },
          "id": "dfareporting.connectionTypes.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}"
        },
        "list": {
          "id": "dfareporting.connectionTypes.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/connectionTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "description": "Retrieves a list of connection types.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes",
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.accountUserProfiles.get",
          "description": "Gets one account user profile by ID.",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "required": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "id": "dfareporting.accountUserProfiles.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "httpMethod": "PUT",
          "description": "Updates an existing account user profile.",
          "id": "dfareporting.accountUserProfiles.update",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID.",
              "format": "int64",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "location": "query"
            },
            "userRoleId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only user profiles with the specified user role ID."
            },
            "ids": {
              "location": "query",
              "description": "Select only user profiles with these IDs.",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "active": {
              "location": "query",
              "description": "Select only active user profiles.",
              "type": "boolean"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            }
          },
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new account user profile.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.insert",
          "httpMethod": "POST"
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "update": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing creative group.",
          "response": {
            "$ref": "CreativeGroup"
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.update"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          },
          "response": {
            "$ref": "CreativeGroup"
          },
          "httpMethod": "POST",
          "id": "dfareporting.creativeGroups.insert",
          "description": "Inserts a new creative group."
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creativeGroups.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "location": "path",
              "description": "Creative group ID.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "description": "Gets one creative group by ID."
        },
        "patch": {
          "id": "dfareporting.creativeGroups.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeGroup"
          },
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Required. Creative Group ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "groupNumber": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Select only creative groups that belong to this subgroup."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "advertiserIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only creative groups that belong to these advertisers."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "repeated": true,
              "description": "Select only creative groups with these IDs.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "id": "dfareporting.creativeGroups.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "parameters": {
            "name": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            },
            "objectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "objectType": {
              "type": "string",
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "required": true,
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "description": "Deletes an existing dynamic targeting key.",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}"
        },
        "list": {
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of dynamic targeting keys.",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID."
            },
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "objectType": {
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys with this object type.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "objectId": {
              "type": "string",
              "description": "Select only dynamic targeting keys with this object ID.",
              "location": "query",
              "format": "int64"
            },
            "names": {
              "repeated": true,
              "location": "query",
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys"
        },
        "insert": {
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "id": "dfareporting.accountPermissionGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Account permission group ID.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "description": "Gets one account permission group by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}"
        },
        "list": {
          "id": "dfareporting.accountPermissionGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "description": "Retrieves the list of account permission groups.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountPermissionGroups"
        }
      }
    },
    "directorySites": {
      "methods": {
        "insert": {
          "description": "Inserts a new directory site.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "id": "dfareporting.directorySites.insert",
          "request": {
            "$ref": "DirectorySite"
          },
          "path": "userprofiles/{+profileId}/directorySites",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySite"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one directory site by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.get",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Directory site ID.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "list": {
          "parameters": {
            "active": {
              "type": "boolean",
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsPublisherPaidPlacements": {
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "description": "Select only directory sites with these IDs.",
              "format": "int64",
              "repeated": true
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\"."
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "id": "dfareporting.directorySites.list",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/directorySites",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "100",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.dimensionValues.query",
          "description": "Retrieves list of report dimension values for a list of filters.",
          "httpMethod": "POST"
        }
      }
    },
    "changeLogs": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ChangeLog"
          },
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one change log by ID.",
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Change log ID."
            }
          },
          "id": "dfareporting.changeLogs.get",
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "objectType": {
              "location": "query",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "description": "Select only change logs with the specified object type."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "userProfileIds": {
              "description": "Select only change logs with these user profile IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "maxChangeTime": {
              "location": "query",
              "type": "string",
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset."
            },
            "searchString": {
              "description": "Select only change logs whose object ID, user name, old or new values match the search string.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "description": "Select only change logs with these IDs.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "objectIds": {
              "repeated": true,
              "format": "int64",
              "description": "Select only change logs with these object IDs.",
              "type": "string",
              "location": "query"
            },
            "action": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "description": "Select only change logs with the specified action.",
              "location": "query",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ]
            },
            "minChangeTime": {
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/changeLogs",
          "id": "dfareporting.changeLogs.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of change logs. This method supports paging.",
          "response": {
            "$ref": "ChangeLogsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameters": {
            "summaryAccountId": {
              "description": "Account ID.",
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets the account's active ad summary by account ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "response": {
            "$ref": "AccountActiveAdSummary"
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "insert": {
          "description": "Inserts a new placement strategy.",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "httpMethod": "POST"
        },
        "list": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "id": "dfareporting.placementStrategies.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "description": "Select only placement strategies with these IDs.",
              "format": "int64",
              "repeated": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "1000"
            }
          },
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Placement strategy ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "id": "dfareporting.placementStrategies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "description": "Deletes an existing placement strategy.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}"
        },
        "update": {
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Updates an existing placement strategy.",
          "httpMethod": "PUT",
          "id": "dfareporting.placementStrategies.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "parameters": {
            "id": {
              "required": true,
              "description": "Required. PlacementStrategy ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.patch",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "id": "dfareporting.placementStrategies.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "description": "Gets one placement strategy by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Placement strategy ID.",
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "creatives": {
      "methods": {
        "get": {
          "id": "dfareporting.creatives.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Creative ID.",
              "required": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "description": "Gets one creative by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. Creative ID.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "response": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative. This method supports patch semantics.",
          "id": "dfareporting.creatives.patch",
          "httpMethod": "PATCH"
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.creatives.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "parameters": {
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query"
            },
            "studioCreativeId": {
              "description": "Select only creatives corresponding to this Studio creative ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "types": {
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "description": "Select only creatives with these creative types."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sizeIds": {
              "description": "Select only creatives with these size IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "creativeFieldIds": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true,
              "description": "Select only creatives with these creative field IDs."
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string"
            },
            "ids": {
              "description": "Select only creatives with these IDs.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "active": {
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query",
              "type": "boolean"
            },
            "companionCreativeIds": {
              "type": "string",
              "location": "query",
              "description": "Select only in-stream video creatives with these companion IDs.",
              "format": "int64",
              "repeated": true
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only creatives with this advertiser ID."
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives."
            },
            "campaignId": {
              "format": "int64",
              "description": "Select only creatives with this campaign ID.",
              "type": "string",
              "location": "query"
            },
            "renderingIds": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creatives with these rendering IDs.",
              "repeated": true
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "update": {
          "response": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "id": "dfareporting.creatives.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
[...]
