{
  "title": "Campaign Manager 360 API",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "batchPath": "batch",
  "id": "dfareporting:v5",
  "version": "v5",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "ownerName": "Google",
  "servicePath": "dfareporting/v5/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260605",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dfareporting.googleapis.com/",
  "schemas": {
    "ObaIcon": {
      "id": "ObaIcon",
      "type": "object",
      "description": "Online Behavioral Advertiser icon.",
      "properties": {
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "OBA icon size."
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        }
      }
    },
    "Ad": {
      "description": "Contains properties of a Campaign Manager ad.",
      "properties": {
        "advertiserId": {
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this ad. This is a required field on insertion."
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "audienceSegmentId": {
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "format": "int64",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this ad.",
          "type": "string"
        },
        "deliverySchedule": {
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DeliverySchedule"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "compatibility": {
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "type": "string"
        },
        "creativeGroupAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "sslCompliant": {
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting information for this ad.",
          "$ref": "ContextualKeywordTargeting"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "targetingTemplateId": {
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\".",
          "type": "string"
        },
        "placementAssignments": {
          "items": {
            "$ref": "PlacementAssignment"
          },
          "type": "array",
          "description": "Placement assignments for this ad."
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Default click-through event tag properties for this ad."
        },
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "eventTagOverrides": {
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Event tag overrides for this ad."
        },
        "dynamicClickTracker": {
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.",
          "type": "boolean"
        },
        "remarketingListExpression": {
          "$ref": "ListTargetingExpression",
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "geoTargeting": {
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "GeoTargeting"
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "dayPartTargeting": {
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DayPartTargeting"
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ]
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "size": {
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD.",
          "$ref": "Size"
        },
        "languageTargeting": {
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "LanguageTargeting"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "archived": {
          "description": "Whether this ad is archived. When true, active must be false.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "creativeRotation": {
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment .",
          "$ref": "CreativeRotation"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank."
        }
      },
      "id": "Ad",
      "type": "object"
    },
    "DirectorySite": {
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "properties": {
        "settings": {
          "$ref": "DirectorySiteSettings",
          "description": "Directory site settings."
        },
        "id": {
          "format": "int64",
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "publisherSpecificationId": {
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "interstitialTagFormats": {
          "type": "array",
          "items": {
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "inpageTagFormats": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "DirectorySite",
      "type": "object"
    },
    "ProximityFilter": {
      "description": "Contains proximity filter information.",
      "properties": {
        "radiusValue": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units."
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ]
        },
        "fieldId": {
          "type": "integer",
          "description": "Optional. Field ID in the element.",
          "format": "int32"
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ]
        }
      },
      "id": "ProximityFilter",
      "type": "object"
    },
    "MobileCarriersListResponse": {
      "id": "MobileCarriersListResponse",
      "type": "object",
      "description": "Mobile Carrier List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarriersListResponse\".",
          "type": "string"
        },
        "mobileCarriers": {
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          },
          "description": "Mobile carrier collection."
        }
      }
    },
    "RemarketingListShare": {
      "id": "RemarketingListShare",
      "type": "object",
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "properties": {
        "remarketingListId": {
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "sharedAccountIds": {
          "description": "Accounts that the remarketing list is shared with.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "sharedAdvertiserIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Advertisers that the remarketing list is shared with."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\".",
          "type": "string"
        }
      }
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "description": "Language List Response",
      "properties": {
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "type": "array",
          "description": "Language collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      }
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The set of conversions to update."
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "ConversionsBatchUpdateRequest",
      "type": "object"
    },
    "TagSettings": {
      "description": "Dynamic and Image Tag Settings.",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        }
      },
      "id": "TagSettings",
      "type": "object"
    },
    "CampaignsListResponse": {
      "id": "CampaignsListResponse",
      "type": "object",
      "description": "Campaign List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "campaigns": {
          "description": "Campaign collection.",
          "items": {
            "$ref": "Campaign"
          },
          "type": "array"
        }
      }
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "id": "ListPopulationClause",
      "type": "object"
    },
    "Invoice": {
      "description": "Contains information about a single invoice",
      "properties": {
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "type": "string",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "format": "int64"
        },
        "subtotalAmountMicros": {
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        },
        "invoiceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The type of invoice document.",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ]
        },
        "campaign_summaries": {
          "type": "array",
          "items": {
            "$ref": "CampaignSummary"
          },
          "description": "The list of summarized campaign information associated with this invoice."
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "totalAmountMicros": {
          "format": "int64",
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string"
        }
      },
      "id": "Invoice",
      "type": "object"
    },
    "Report": {
      "description": "Represents a Report resource.",
      "properties": {
        "lastModifiedTime": {
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64",
          "type": "string"
        },
        "format": {
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                },
                "maximumClickInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                },
                "impressionsLookbackWindow": {
                  "type": "integer",
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32"
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "clicksLookbackWindow": {
                  "format": "int32",
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer"
                },
                "maximumInteractionGap": {
                  "format": "int32",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "type": "integer"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customFloodlightVariables": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of custom floodlight variables the report should include."
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "activityFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of 'dfa:activity' values to filter on."
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of metrics the report should include."
            },
            "perInteractionDimensions": {
              "description": "The list of per interaction dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            }
          }
        },
        "accountId": {
          "format": "int64",
          "description": "The account ID to which this report belongs.",
          "type": "string"
        },
        "ownerProfileId": {
          "description": "The user profile id of the owner of this report.",
          "format": "int64",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "subAccountId": {
          "description": "The subaccount ID to which this report belongs if applicable.",
          "format": "int64",
          "type": "string"
        },
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "reachByFrequencyMetricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of Reach By Frequency metrics the report should include."
            }
          },
          "type": "object"
        },
        "delivery": {
          "type": "object",
          "description": "The report's email delivery settings.",
          "properties": {
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            },
            "emailOwnerDeliveryType": {
              "description": "The type of delivery for the owner to receive, if enabled.",
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "recipients": {
              "type": "array",
              "items": {
                "$ref": "Recipient"
              },
              "description": "The list of recipients to which to email the report."
            }
          }
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "type": {
          "description": "The type of the report.",
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "schedule": {
          "type": "object",
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "repeatsOnWeekDays": {
              "type": "array",
              "items": {
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "type": "string"
              },
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run."
            },
            "every": {
              "type": "integer",
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32"
            },
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            },
            "timezone": {
              "description": "The timezone when the report will run.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "runsOnDayOfMonth": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ]
            }
          }
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "crossMediaReachCriteria": {
          "type": "object",
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "properties": {
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "Required. The list of dimensions the report should include."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "Required. The date range this report should be run for."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "criteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"STANDARD\".",
          "properties": {
            "dimensions": {
              "description": "The list of standard dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "floodlightCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of dimensions the report should include."
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            }
          }
        },
        "id": {
          "format": "int64",
          "description": "The unique ID identifying this report resource.",
          "type": "string"
        }
      },
      "id": "Report",
      "type": "object"
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "linkStatus": {
          "description": "Status of the partner link.",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string"
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "OptimizationActivity": {
      "description": "Creative optimization activity.",
      "properties": {
        "weight": {
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "format": "int32",
          "type": "integer"
        },
        "floodlightActivityIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field."
        },
        "floodlightActivityId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field."
        }
      },
      "id": "OptimizationActivity",
      "type": "object"
    },
    "CampaignSummary": {
      "description": "Represents a summarized campaign information associated with this invoice.",
      "properties": {
        "preTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency."
        },
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        },
        "campaignId": {
          "description": "Campaign ID.",
          "format": "int64",
          "type": "string"
        },
        "taxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The tax amount for this campaign, in micros of the invoice's currency."
        },
        "totalAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency."
        }
      },
      "id": "CampaignSummary",
      "type": "object"
    },
    "ContentCategoriesListResponse": {
      "id": "ContentCategoriesListResponse",
      "type": "object",
      "description": "Content Category List Response",
      "properties": {
        "contentCategories": {
          "description": "Content category collection.",
          "type": "array",
          "items": {
            "$ref": "ContentCategory"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
          "type": "string"
        }
      }
    },
    "EventTagOverride": {
      "description": "Event tag override information.",
      "properties": {
        "enabled": {
          "description": "Whether this override is enabled.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "id": "EventTagOverride",
      "type": "object"
    },
    "FloodlightActivityDynamicTag": {
      "description": "Dynamic Tag",
      "properties": {
        "tag": {
          "description": "Tag code.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this tag.",
          "type": "string"
        }
      },
      "id": "FloodlightActivityDynamicTag",
      "type": "object"
    },
    "SiteContact": {
      "description": "Site Contact",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "contactType": {
          "description": "Site contact type.",
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        }
      },
      "id": "SiteContact",
      "type": "object"
    },
    "CreativeGroupsListResponse": {
      "id": "CreativeGroupsListResponse",
      "type": "object",
      "description": "Creative Group List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\".",
          "type": "string"
        },
        "creativeGroups": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroup"
          },
          "description": "Creative group collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "DimensionValueRequest": {
      "description": "Represents a DimensionValuesRequest.",
      "properties": {
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed."
        }
      },
      "id": "DimensionValueRequest",
      "type": "object"
    },
    "BillingRateTieredRate": {
      "id": "BillingRateTieredRate",
      "type": "object",
      "properties": {
        "lowValue": {
          "type": "string",
          "description": "The minimum for this tier range.",
          "format": "int64"
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "format": "int64",
          "type": "string"
        },
        "rateInMicros": {
          "type": "string",
          "description": "Rate in micros for this tier.",
          "format": "int64"
        }
      }
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "properties": {
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "format": "int64",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        }
      },
      "id": "ClickThroughUrl",
      "type": "object"
    },
    "TvCampaignDetail": {
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "properties": {
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        }
      },
      "id": "TvCampaignDetail",
      "type": "object"
    },
    "Language": {
      "id": "Language",
      "type": "object",
      "description": "Contains information about a language that can be targeted by ads.",
      "properties": {
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        },
        "id": {
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        }
      }
    },
    "ReportCompatibleFields": {
      "id": "ReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "description": "Frequency Cap.",
      "properties": {
        "impressions": {
          "type": "string",
          "format": "int64",
          "description": "Number of times an individual user can be served the ad within the specified duration. Acceptable values are 1 to 15, inclusive."
        },
        "duration": {
          "type": "string",
          "description": "Duration of time, in seconds, for this frequency cap. The maximum duration is 90 days. Acceptable values are 1 to 7776000, inclusive.",
          "format": "int64"
        }
      }
    },
    "TargetWindow": {
      "description": "Target Window.",
      "properties": {
        "targetWindowOption": {
          "description": "Type of browser window for which the backup image of the flash creative can be displayed.",
          "enum": [
            "NEW_WINDOW",
            "CURRENT_WINDOW",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Open up a new window to display the backup image Corresponds to \"_blank\" in html",
            "Use the current window to display the backup image Corresponds to \"_top\" in html",
            "User-defined HTML used to display the backup image Corresponds to \"other\""
          ]
        },
        "customHtml": {
          "description": "User-entered value.",
          "type": "string"
        }
      },
      "id": "TargetWindow",
      "type": "object"
    },
    "ObjectFilter": {
      "description": "Object Filter.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "type": "string",
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        },
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs."
        }
      },
      "id": "ObjectFilter",
      "type": "object"
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "type": "object",
      "description": "Technology Targeting.",
      "properties": {
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "type": "array",
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated."
        },
        "platformTypes": {
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "items": {
            "$ref": "PlatformType"
          },
          "type": "array"
        },
        "connectionTypes": {
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          },
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated."
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        },
        "operatingSystemVersions": {
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        }
      }
    },
    "ContentCategory": {
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this content category. This is a read-only field that can be left blank."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        }
      },
      "id": "ContentCategory",
      "type": "object"
    },
    "CustomRichMediaEvents": {
      "id": "CustomRichMediaEvents",
      "type": "object",
      "description": "Represents a Custom Rich Media Events group.",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        },
        "filteredEventIds": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName."
        }
      }
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to update.",
          "type": "boolean"
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        }
      },
      "id": "ConversionsBatchUpdateResponse",
      "type": "object"
    },
    "AdvertiserGroup": {
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this advertiser group. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.",
          "type": "string"
        }
      },
      "id": "AdvertiserGroup",
      "type": "object"
    },
    "VideoFormat": {
      "description": "Contains information about supported video formats.",
      "properties": {
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "description": "ID of the video format.",
          "type": "integer"
        },
        "fileType": {
          "description": "File type of the video format.",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "targetBitRate": {
          "type": "integer",
          "format": "int32",
          "description": "The target bit rate of this video format."
        }
      },
      "id": "VideoFormat",
      "type": "object"
    },
    "FloodlightActivityPublisherDynamicTag": {
      "id": "FloodlightActivityPublisherDynamicTag",
      "type": "object",
      "description": "Publisher Dynamic Tag",
      "properties": {
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID of this dynamic tag."
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "format": "int64",
          "type": "string"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        }
      }
    },
    "RequestValue": {
      "description": "Contains request value information.",
      "properties": {
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        },
        "userAttributeIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        },
        "excludeFromUserAttributeIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        }
      },
      "id": "RequestValue",
      "type": "object"
    },
    "DimensionFilter": {
      "description": "Represents a dimension filter.",
      "properties": {
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension to filter.",
          "type": "string"
        }
      },
      "id": "DimensionFilter",
      "type": "object"
    },
    "DirectorySitesListResponse": {
      "id": "DirectorySitesListResponse",
      "type": "object",
      "description": "Directory Site List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\".",
          "type": "string"
        },
        "directorySites": {
          "type": "array",
          "items": {
            "$ref": "DirectorySite"
          },
          "description": "Directory site collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "CreativeFieldValuesListResponse": {
      "description": "Creative Field Value List Response",
      "properties": {
        "creativeFieldValues": {
          "type": "array",
          "items": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Creative field value collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValuesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "CreativeFieldValuesListResponse",
      "type": "object"
    },
    "PricingSchedulePricingPeriod": {
      "id": "PricingSchedulePricingPeriod",
      "type": "object",
      "description": "Pricing Period",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive."
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        },
        "rateOrCostNanos": {
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive.",
          "type": "string"
        }
      }
    },
    "ContentSourceMetaData": {
      "id": "ContentSourceMetaData",
      "type": "object",
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "properties": {
        "fieldNames": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of column names in the content source."
        },
        "charset": {
          "description": "Output only. The charset of the content source.",
          "readOnly": true,
          "type": "string"
        },
        "separator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The separator of the content source."
        },
        "rowNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of rows in the content source.",
          "format": "int32"
        }
      }
    },
    "ThirdPartyAuthenticationToken": {
      "id": "ThirdPartyAuthenticationToken",
      "type": "object",
      "description": "Third Party Authentication Token",
      "properties": {
        "name": {
          "description": "Name of the third-party authentication token.",
          "type": "string"
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "description": "Contains properties of a package or roadblock.",
      "properties": {
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this placement group. This is a read-only field."
        },
        "id": {
          "type": "string",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "primaryPlacementId": {
          "type": "string",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "format": "int64"
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement group. This field is required on insertion."
        },
        "contentCategoryId": {
          "format": "int64",
          "description": "ID of the content category assigned to this placement group.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this placement group. This is a required field on insertion."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion."
        },
        "activeStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "directorySiteId": {
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "placementGroupType": {
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ]
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "CreativeGroupAssignment": {
      "description": "Creative Group Assignment.",
      "properties": {
        "creativeGroupNumber": {
          "description": "Creative group number of the creative group assignment.",
          "enum": [
            "CREATIVE_GROUP_ONE",
            "CREATIVE_GROUP_TWO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "creativeGroupId": {
          "format": "int64",
          "description": "ID of the creative group to be assigned.",
          "type": "string"
        }
      },
      "id": "CreativeGroupAssignment",
      "type": "object"
    },
    "UserRolePermissionGroup": {
      "id": "UserRolePermissionGroup",
      "type": "object",
      "description": "Represents a grouping of related user role permissions.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this user role permission group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        }
      }
    },
    "CrossMediaReachReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        }
      },
      "id": "CrossMediaReachReportCompatibleFields",
      "type": "object"
    },
    "PlacementStrategiesListResponse": {
      "id": "PlacementStrategiesListResponse",
      "type": "object",
      "description": "Placement Strategy List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "placementStrategies": {
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          },
          "description": "Placement strategy collection."
        }
      }
    },
    "VideoSettings": {
      "description": "Video Settings",
      "properties": {
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\".",
          "type": "string"
        },
        "skippableSettings": {
          "$ref": "SkippableSetting",
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden."
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation.",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "companionSettings": {
          "$ref": "CompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this placement."
        },
        "transcodeSettings": {
          "$ref": "TranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden."
        },
        "durationSeconds": {
          "type": "integer",
          "description": "Duration of a video placement in seconds.",
          "format": "int32"
        },
        "publisherSpecificationId": {
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string"
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        }
      },
      "id": "VideoSettings",
      "type": "object"
    },
    "Account": {
      "description": "Contains properties of a Campaign Manager account.",
      "properties": {
        "defaultCreativeSizeId": {
          "description": "Default placement dimensions for this account.",
          "format": "int64",
          "type": "string"
        },
        "countryId": {
          "format": "int64",
          "description": "ID of the country associated with this account.",
          "type": "string"
        },
        "name": {
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique.",
          "type": "string"
        },
        "maximumImageSize": {
          "type": "string",
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "format": "int64"
        },
        "teaserSizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive."
        },
        "reportsConfiguration": {
          "$ref": "ReportsConfiguration",
          "description": "Reporting configuration of this account."
        },
        "activeViewOptOut": {
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions.",
          "type": "boolean"
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "accountProfile": {
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ],
          "type": "string",
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "accountPermissionIds": {
          "description": "Account permissions assigned to this account.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "currencyId": {
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "format": "int64",
          "type": "string"
        },
        "availablePermissionIds": {
          "description": "User role permissions available to the user roles of this account.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "nielsenOcrEnabled": {
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default.",
          "type": "boolean"
        },
        "locale": {
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for this account.",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object"
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "description": "Contains properties of a Creative.",
      "properties": {
        "renderingIdDimensionValue": {
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\".",
          "type": "string"
        },
        "adTagKeys": {
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "type": "array",
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE."
        },
        "companionCreatives": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false."
        },
        "adParameters": {
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "type": "string"
        },
        "requiredFlashVersion": {
          "type": "integer",
          "format": "int32",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "advertiserId": {
          "format": "int64",
          "description": "Required. Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "type": "string"
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "compatibility": {
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "Deprecated enum value. No longer supported.",
              "Deprecated enum value. No longer supported.",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ]
          },
          "type": "array"
        },
        "progressOffset": {
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "VideoOffset"
        },
        "studioCreativeId": {
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "string"
        },
        "requiredFlashPluginVersion": {
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "studioTraffickedCreativeId": {
          "format": "int64",
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "size": {
[...]
