{
  "batchPath": "batch",
  "protocol": "rest",
  "title": "Campaign Manager 360 API",
  "servicePath": "dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://dfareporting.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20260721",
  "id": "dfareporting:v5",
  "basePath": "/dfareporting/v5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "canonicalName": "Dfareporting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "schemas": {
    "LanguagesListResponse": {
      "description": "Language List Response",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoSettings": {
      "description": "Video Settings",
      "type": "object",
      "id": "VideoSettings",
      "properties": {
        "publisherSpecificationId": {
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string"
        },
        "skippableSettings": {
          "$ref": "SkippableSetting",
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden."
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "transcodeSettings": {
          "$ref": "TranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden."
        },
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\".",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation."
        },
        "durationSeconds": {
          "format": "int32",
          "description": "Duration of a video placement in seconds.",
          "type": "integer"
        }
      }
    },
    "MetrosListResponse": {
      "description": "Metro List Response",
      "id": "MetrosListResponse",
      "type": "object",
      "properties": {
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "description": "Metro collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        }
      }
    },
    "RequestValue": {
      "properties": {
        "userAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        },
        "key": {
          "type": "string",
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE."
        },
        "excludeFromUserAttributeIds": {
          "type": "array",
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "RequestValue",
      "description": "Contains request value information."
    },
    "MeasurementPartnerCampaignLink": {
      "type": "object",
      "properties": {
        "partnerCampaignId": {
          "type": "string",
          "description": "Partner campaign ID needed for establishing linking with Measurement partner."
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "type": "string",
          "description": "."
        }
      },
      "id": "MeasurementPartnerCampaignLink"
    },
    "UserRolePermission": {
      "type": "object",
      "description": "Contains properties of a user role permission.",
      "id": "UserRolePermission",
      "properties": {
        "permissionGroupId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the permission group that this user role permission belongs to."
        },
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ],
          "description": "Levels of availability for a user role permission."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\"."
        },
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        }
      }
    },
    "AudienceSegment": {
      "type": "object",
      "properties": {
        "allocation": {
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Audience Segment.",
      "id": "AudienceSegment"
    },
    "UniversalAdId": {
      "type": "object",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "id": "UniversalAdId",
      "properties": {
        "registry": {
          "description": "Registry used for the Ad ID value.",
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "value": {
          "type": "string",
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
        }
      }
    },
    "UserRole": {
      "type": "object",
      "properties": {
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "parentUserRoleId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\"."
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "permissions": {
          "description": "List of permissions associated with this user role.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          }
        },
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "description": "Contains properties of auser role, which is used to manage user access.",
      "id": "UserRole"
    },
    "MeasurementPartnerAdvertiserLink": {
      "properties": {
        "partnerAdvertiserId": {
          "type": "string",
          "description": "partner Advertiser Id."
        },
        "linkStatus": {
          "type": "string",
          "description": "Status of the partner link.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "measurementPartner": {
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object"
    },
    "BillingAssignmentsListResponse": {
      "properties": {
        "billingAssignments": {
          "items": {
            "$ref": "BillingAssignment"
          },
          "type": "array",
          "description": "Billing assignments collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BillingAssignmentsListResponse",
      "description": "Billing assignment List Response"
    },
    "Element": {
      "properties": {
        "feedFields": {
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source.",
          "items": {
            "$ref": "FeedField"
          },
          "type": "array"
        },
        "proximityTargetingFieldId": {
          "format": "int32",
          "description": "Optional. The field ID that specify field used for proximity targeting.",
          "type": "integer"
        },
        "endTimestampFieldId": {
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "type": "integer",
          "format": "int32"
        },
        "activeFieldId": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The field ID to specify the active field in the feed."
        },
        "reportingLabelFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360."
        },
        "startTimestampFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32"
        },
        "isLocalTimestamp": {
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC.",
          "type": "boolean"
        },
        "elementName": {
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the element. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the element. This is a read-only field."
        },
        "externalIdFieldId": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field."
        },
        "defaultFieldId": {
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Contains the element of the dynamic feed.",
      "id": "Element"
    },
    "CreativeAsset": {
      "id": "CreativeAsset",
      "properties": {
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "mediaDuration": {
          "format": "float",
          "type": "number",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "childAssetType": {
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ],
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "type": "string",
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "artworkType": {
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ]
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "originalBackup": {
          "type": "boolean",
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA."
        },
        "fileSize": {
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string",
          "format": "int64"
        },
        "pushdownDuration": {
          "type": "number",
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "format": "float"
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "expandedDimension": {
          "$ref": "Size",
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "actionScript3": {
          "type": "boolean",
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "positionLeftUnit": {
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "collapsedSize": {
          "$ref": "Size",
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "zipFilename": {
          "type": "string",
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "durationType": {
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "type": "string",
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA."
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "bitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "windowMode": {
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ],
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "type": "string",
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ]
        },
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "int32",
          "type": "integer"
        },
        "companionCreativeIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true."
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "hideFlashObjects": {
          "type": "boolean",
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "alignment": {
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "frameRate": {
          "type": "number",
          "format": "float",
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "position": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "backupImageExit": {
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "CreativeCustomEvent"
        },
        "pushdown": {
          "type": "boolean",
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height."
        },
        "duration": {
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        },
        "politeLoad": {
          "type": "boolean",
          "description": "Whether this asset is used as a polite load asset."
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "audioBitRate": {
          "format": "int32",
          "type": "integer",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "mimeType": {
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "streamingServingUrl": {
          "type": "string",
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "positionTopUnit": {
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "type": "string",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "hideSelectionBoxes": {
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "flashVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "startTimeType": {
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ]
        },
        "displayType": {
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "orientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ]
        },
        "role": {
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "customStartTimeValue": {
          "format": "int32",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
          "type": "integer"
        },
        "zIndex": {
          "format": "int32",
          "type": "integer",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        }
      },
      "description": "Creative Asset.",
      "type": "object"
    },
    "CreativeFieldValue": {
      "description": "Contains properties of a creative field value.",
      "type": "object",
      "id": "CreativeFieldValue",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Advertiser": {
      "id": "Advertiser",
      "description": "Contains properties of a Campaign Manager advertiser.",
      "type": "object",
      "properties": {
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "advertiserGroupId": {
          "type": "string",
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "description": "Status of this advertiser."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "id": {
          "type": "string",
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. "
        },
        "euPoliticalAdsDeclaration": {
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "type": "string"
        },
        "originalFloodlightConfigurationId": {
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "format": "int64",
          "type": "string"
        },
        "suspended": {
          "description": "Suspension status of this advertiser.",
          "type": "boolean"
        }
      }
    },
    "DependentFieldValue": {
      "properties": {
        "fieldId": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The field id of the dependent field."
        },
        "elementId": {
          "format": "int64",
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string"
        },
        "dynamicFeedId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The ID of the dynamic feed that value's field will match against."
        }
      },
      "description": "Contains dependent field value information.",
      "type": "object",
      "id": "DependentFieldValue"
    },
    "AccountActiveAdSummary": {
      "description": "Gets a summary of active ads in an account.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\"."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the account."
        },
        "activeAds": {
          "format": "int64",
          "type": "string",
          "description": "Ads that have been activated for the account"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Maximum number of active ads allowed for the account.",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        },
        "availableAds": {
          "description": "Ads that can be activated for the account.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AccountActiveAdSummary"
    },
    "MobileAppsListResponse": {
      "id": "MobileAppsListResponse",
      "type": "object",
      "description": "Mobile app List Response",
      "properties": {
        "mobileApps": {
          "items": {
            "$ref": "MobileApp"
          },
          "description": "Mobile apps collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "FieldFilter": {
      "properties": {
        "valueType": {
          "description": "Optional. Right hand side of the expression.",
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ],
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ],
          "type": "string"
        },
        "dependentFieldValue": {
          "$ref": "DependentFieldValue",
          "description": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT."
        },
        "fieldId": {
          "type": "integer",
          "description": "Optional. The field ID on the left hand side of the expression.",
          "format": "int32"
        },
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "matchType": {
          "description": "Optional. Left hand side of the expression match type.",
          "type": "string",
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ],
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ]
        },
        "boolValue": {
          "description": "Optional. The boolean values, only applicable when rhs_value_type is BOOL.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING."
        }
      },
      "type": "object",
      "description": "Contains field filter information.",
      "id": "FieldFilter"
    },
    "EventTagsListResponse": {
      "properties": {
        "eventTags": {
          "type": "array",
          "items": {
            "$ref": "EventTag"
          },
          "description": "Event tag collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        }
      },
      "id": "EventTagsListResponse",
      "description": "Event Tag List Response",
      "type": "object"
    },
    "ContentSourceMetaData": {
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "id": "ContentSourceMetaData",
      "type": "object",
      "properties": {
        "separator": {
          "description": "Output only. The separator of the content source.",
          "readOnly": true,
          "type": "string"
        },
        "charset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The charset of the content source."
        },
        "rowNumber": {
          "type": "integer",
          "description": "Output only. The number of rows in the content source.",
          "format": "int32",
          "readOnly": true
        },
        "fieldNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of column names in the content source.",
          "type": "array"
        }
      }
    },
    "CreativeAssetMetadata": {
      "type": "object",
      "properties": {
        "warnedValidationRules": {
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "type": "array",
          "items": {
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ]
          }
        },
        "idDimensionValue": {
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "ID of the creative asset. This is a required field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\"."
        },
        "detectedFeatures": {
          "type": "array",
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "exitCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array",
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array",
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset."
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "richMedia": {
          "type": "boolean",
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field."
        },
        "timerCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        }
      },
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata"
    },
    "TargetingTemplate": {
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads.",
      "properties": {
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology platform targeting criteria."
        },
        "id": {
          "description": "ID of this targeting template. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "listTargetingExpression": {
          "description": "Remarketing list targeting criteria.",
          "$ref": "ListTargetingExpression"
        },
        "accountId": {
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert.",
          "format": "int64"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting criteria.",
          "$ref": "ContextualKeywordTargeting"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\"."
        },
        "geoTargeting": {
          "$ref": "GeoTargeting",
          "description": "Geographical targeting criteria."
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting criteria."
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "Language targeting criteria."
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting criteria.",
          "$ref": "KeyValueTargetingExpression"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser.",
          "type": "string"
        }
      },
      "id": "TargetingTemplate",
      "type": "object"
    },
    "PathToConversionReportCompatibleFields": {
      "type": "object",
      "id": "PathToConversionReportCompatibleFields",
      "properties": {
        "conversionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report."
        },
        "perInteractionDimensions": {
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields."
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\"."
    },
    "Country": {
      "type": "object",
      "properties": {
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "tvDataProviders": {
          "type": "array",
          "description": "Output only. The TV data providers supported in this country.",
          "items": {
            "enumDescriptions": [
              "",
              "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ],
            "type": "string"
          },
          "readOnly": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        }
      },
      "id": "Country",
      "description": "Contains information about a country that can be targeted by ads."
    },
    "EventTag": {
      "type": "object",
      "description": "Contains properties of an event tag.",
      "properties": {
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "siteFilterType": {
          "type": "string",
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\"."
        },
        "status": {
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion."
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "url": {
          "type": "string",
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion."
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ]
        },
        "urlEscapeLevels": {
          "type": "integer",
          "format": "int32",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type."
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EventTag"
    },
    "OffsetPosition": {
      "description": "Offset Position.",
      "properties": {
        "top": {
          "type": "integer",
          "description": "Offset distance from top side of an asset or a window.",
          "format": "int32"
        },
        "left": {
          "description": "Offset distance from left side of an asset or a window.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "OffsetPosition",
      "type": "object"
    },
    "City": {
      "type": "object",
      "id": "City",
      "properties": {
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this city belongs.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\"."
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "metroDmaId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the metro region (DMA) to which this city belongs."
        },
        "regionDartId": {
          "description": "DART ID of the region to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this city. This is the ID used for targeting and generating reports."
        },
        "regionCode": {
          "type": "string",
          "description": "Region code of the region to which this city belongs."
        },
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        }
      },
      "description": "Contains information about a city that can be targeted by ads."
    },
    "CrossDimensionReachReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "properties": {
        "overlapMetrics": {
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "breakdown": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields."
        }
      },
      "id": "CrossDimensionReachReportCompatibleFields"
    },
    "AdvertiserGroupsListResponse": {
      "id": "AdvertiserGroupsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertiserGroups": {
          "description": "Advertiser group collection.",
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "type": "array"
        }
      },
      "description": "Advertiser Group List Response",
      "type": "object"
    },
    "Region": {
      "id": "Region",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\"."
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this region.",
          "format": "int64"
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this region belongs.",
          "format": "int64"
        },
        "regionCode": {
          "description": "Region code.",
          "type": "string"
        },
        "name": {
          "description": "Name of this region.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this region belongs.",
          "type": "string"
        }
      },
      "description": "Contains information about a region that can be targeted by ads."
    },
    "EventTagOverride": {
      "type": "object",
      "description": "Event tag override information.",
      "id": "EventTagOverride",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this override is enabled."
        },
        "id": {
          "type": "string",
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      }
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "placementStrategies": {
          "items": {
            "$ref": "PlacementStrategy"
          },
          "type": "array",
          "description": "Placement strategy collection."
        }
      },
      "type": "object",
      "description": "Placement Strategy List Response",
      "id": "PlacementStrategiesListResponse"
    },
    "CustomRule": {
      "description": "Contains custom rule information.",
      "id": "CustomRule",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of this custom rule."
        },
        "ruleBlocks": {
          "items": {
            "$ref": "RuleBlock"
          },
          "type": "array",
          "description": "Optional. A list of field filter, the custom rule will apply."
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Priority of the custom rule."
        }
      },
      "type": "object"
    },
    "SiteVideoSettings": {
      "type": "object",
      "properties": {
        "transcodeSettings": {
          "$ref": "SiteTranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "publisherSpecificationId": {
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "format": "int64",
          "type": "string"
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "orientation": {
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this site.",
          "$ref": "SiteCompanionSetting"
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "skippableSettings": {
          "$ref": "SiteSkippableSetting",
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\".",
          "type": "string"
        }
      },
      "id": "SiteVideoSettings",
      "description": "Video Settings"
    },
    "ProximityFilter": {
      "id": "ProximityFilter",
      "description": "Contains proximity filter information.",
      "type": "object",
      "properties": {
        "radiusValue": {
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer",
          "format": "int32"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "format": "int32",
          "type": "integer"
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ]
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "type": "string"
        }
      }
    },
    "DateRange": {
      "id": "DateRange",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "description": "The date range relative to the date of when the report is run.",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Represents a date range.",
      "type": "object"
    },
    "DimensionValueList": {
      "id": "DimensionValueList",
      "description": "Represents the list of DimensionValue resources.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The dimension values returned in this response.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList.",
          "type": "string"
        }
      }
    },
    "PlacementStrategy": {
      "description": "Contains properties of a placement strategy.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\"."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "id": "PlacementStrategy"
    },
    "DayPartTargeting": {
      "description": "Day Part Targeting.",
      "type": "object",
      "properties": {
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        },
        "daysOfWeek": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ]
          },
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array"
        },
        "hoursOfDay": {
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "DayPartTargeting"
    },
    "Creative": {
      "properties": {
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
        },
        "studioCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "authoringTool": {
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "NINJA",
            "SWIFFY"
          ]
        },
        "backgroundColor": {
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "string"
        },
        "commercialId": {
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives.",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "backupImageFeatures": {
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the creative. This must be less than 256 characters long. Applicable to all creative types."
        },
        "timerCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE."
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        },
        "adTagKeys": {
[...]
