{
  "name": "dfareporting",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v5",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "revision": "20260605",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "ownerName": "Google",
  "basePath": "/dfareporting/v5/",
  "batchPath": "batch",
  "id": "dfareporting:v5",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "schemas": {
    "CreativeRotation": {
      "type": "object",
      "id": "CreativeRotation",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The weights of each creative in the rotation should be sequential starting at 1. The user may adjust the order.",
            "The weights are calculated according to the ad's CreativeRoationWeightStrategy."
          ],
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ]
        },
        "weightCalculationStrategy": {
          "enumDescriptions": [
            "The creative weights should all be equal to 1. This is the default value for all ads with a rotation type of Random.",
            "The creative weights can be any user provided positive integer.",
            "The weights will be automatically calculated giving preference to the creative that has the highest CTR. The CTR for campaigns that are optimized for clicks = clicks/impressions. The CTR for campaigns that are optimized for view-through or click through is sum(activities + floodlight weight)/impressions.",
            "The creative weights will be automatically calculated using a formula that could not possibly be explained in these comments. The value will be within some predetermined range (probably 0 - 1,000,000)."
          ],
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM.",
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "type": "string"
        },
        "creativeOptimizationConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad."
        },
        "creativeAssignments": {
          "items": {
            "$ref": "CreativeAssignment"
          },
          "description": "Creative assignments in this creative rotation.",
          "type": "array"
        }
      },
      "description": "Creative Rotation."
    },
    "LandingPage": {
      "type": "object",
      "id": "LandingPage",
      "properties": {
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this landing page has been archived."
        },
        "deepLinks": {
          "type": "array",
          "description": "Links that will direct the user to a mobile app, if installed.",
          "items": {
            "$ref": "DeepLink"
          }
        },
        "url": {
          "type": "string",
          "description": "URL of this landing page. This is a required field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\"."
        },
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        }
      },
      "description": "Contains information about where a user's browser is taken after the user clicks an ad."
    },
    "CreativeAsset": {
      "description": "Creative Asset.",
      "type": "object",
      "id": "CreativeAsset",
      "properties": {
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "customStartTimeValue": {
          "type": "integer",
          "format": "int32",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0."
        },
        "zipFilesize": {
          "type": "string",
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "positionLeftUnit": {
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "streamingServingUrl": {
          "type": "string",
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "mediaDuration": {
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "zIndex": {
          "type": "integer",
          "format": "int32",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "role": {
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "flashVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "detectedFeatures": {
          "type": "array",
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          }
        },
        "orientation": {
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "id": {
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string",
          "format": "int64"
        },
        "durationType": {
          "type": "string",
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ]
        },
        "windowMode": {
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ],
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ],
          "type": "string"
        },
        "hideSelectionBoxes": {
          "type": "boolean",
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "active": {
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "positionTopUnit": {
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "type": "string"
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "zipFilename": {
          "type": "string",
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "audioBitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "artworkType": {
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "type": "string"
        },
        "bitRate": {
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "companionCreativeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true.",
          "type": "array"
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "mimeType": {
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "childAssetType": {
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ],
          "type": "string"
        },
        "horizontallyLocked": {
          "type": "boolean",
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        },
        "fileSize": {
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string",
          "format": "int64"
        },
        "startTimeType": {
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "type": "string"
        },
        "backupImageExit": {
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "CreativeCustomEvent"
        },
        "collapsedSize": {
          "$ref": "Size",
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "position": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "frameRate": {
          "type": "number",
          "format": "float",
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        },
        "additionalSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render."
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "originalBackup": {
          "type": "boolean",
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA."
        },
        "alignment": {
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayType": {
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "type": "string"
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "type": "number",
          "format": "float"
        },
        "politeLoad": {
          "type": "boolean",
          "description": "Whether this asset is used as a polite load asset."
        }
      }
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "id": "LanguagesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\"."
        },
        "languages": {
          "type": "array",
          "description": "Language collection.",
          "items": {
            "$ref": "Language"
          }
        }
      },
      "type": "object"
    },
    "SiteContact": {
      "description": "Site Contact",
      "id": "SiteContact",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of this site contact. This is a required field."
        },
        "phone": {
          "type": "string",
          "description": "Primary phone number of this site contact."
        },
        "id": {
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "contactType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Site contact type.",
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of this site contact."
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "First name of this site contact."
        }
      },
      "type": "object"
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "id": "ClickThroughUrl",
      "properties": {
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        },
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. "
        }
      },
      "type": "object"
    },
    "BillingRateTieredRate": {
      "type": "object",
      "id": "BillingRateTieredRate",
      "properties": {
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "lowValue": {
          "description": "The minimum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "rateInMicros": {
          "type": "string",
          "format": "int64",
          "description": "Rate in micros for this tier."
        }
      }
    },
    "CustomViewabilityMetricConfiguration": {
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "type": "object",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "timePercent": {
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer",
          "format": "int32"
        },
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "type": "integer",
          "format": "int32"
        },
        "timeMillis": {
          "type": "integer",
          "format": "int32",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used."
        }
      }
    },
    "ContextualKeyword": {
      "type": "object",
      "id": "ContextualKeyword",
      "properties": {
        "keyword": {
          "description": "The keyword that can be targeted by ads.",
          "type": "string"
        }
      },
      "description": "Contains information about a Contextual Keyword that can be targeted by ads."
    },
    "UserRolePermissionsListResponse": {
      "description": "User Role Permission List Response",
      "type": "object",
      "id": "UserRolePermissionsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        },
        "userRolePermissions": {
          "description": "User role permission collection.",
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array"
        }
      }
    },
    "CreativeFieldsListResponse": {
      "description": "Creative Field List Response",
      "id": "CreativeFieldsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "creativeFields": {
          "type": "array",
          "description": "Creative field collection.",
          "items": {
            "$ref": "CreativeField"
          }
        }
      },
      "type": "object"
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "type": "object",
      "id": "ChangeLog",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "userProfileId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user who modified the object."
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        },
        "objectId": {
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "type": "string",
          "format": "int64"
        },
        "oldValue": {
          "type": "string",
          "description": "Old value of the object field."
        },
        "accountId": {
          "description": "Account ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "fieldName": {
          "type": "string",
          "description": "Field name of the object which changed."
        },
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string",
          "format": "int64"
        },
        "newValue": {
          "type": "string",
          "description": "New value of the object field."
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "id": {
          "description": "ID of this change log.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FeedField": {
      "description": "Each field of the element. This is a required field.",
      "id": "FeedField",
      "properties": {
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        },
        "type": {
          "description": "Required. The type of the field.",
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "type": "string"
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "id": {
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default value of the field."
        }
      },
      "type": "object"
    },
    "FloodlightActivityGroupsListResponse": {
      "description": "Floodlight Activity Group List Response",
      "id": "FloodlightActivityGroupsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "floodlightActivityGroups": {
          "type": "array",
          "description": "Floodlight activity group collection.",
          "items": {
            "$ref": "FloodlightActivityGroup"
          }
        }
      },
      "type": "object"
    },
    "FileList": {
      "type": "object",
      "id": "FileList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "The files returned in this response.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      },
      "description": "List of files for a report."
    },
    "OptimizationActivity": {
      "description": "Creative optimization activity.",
      "type": "object",
      "id": "OptimizationActivity",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1."
        },
        "floodlightActivityIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field."
        },
        "floodlightActivityId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field."
        }
      }
    },
    "AudienceSegment": {
      "description": "Audience Segment.",
      "type": "object",
      "id": "AudienceSegment",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this audience segment. This is a read-only, auto-generated field."
        },
        "name": {
          "type": "string",
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long."
        },
        "allocation": {
          "type": "integer",
          "format": "int32",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive."
        }
      }
    },
    "MobileAppsListResponse": {
      "description": "Mobile app List Response",
      "id": "MobileAppsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\".",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "MobileApp"
          },
          "description": "Mobile apps collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperatingSystemVersionsListResponse": {
      "description": "Operating System Version List Response",
      "type": "object",
      "id": "OperatingSystemVersionsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        },
        "operatingSystemVersions": {
          "type": "array",
          "description": "Operating system version collection.",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        }
      }
    },
    "ReportsConfiguration": {
      "description": "Reporting Configuration",
      "id": "ReportsConfiguration",
      "properties": {
        "lookbackConfiguration": {
          "description": "Default lookback windows for new advertisers in this account.",
          "$ref": "LookbackConfiguration"
        },
        "reportGenerationTimeZoneId": {
          "description": "Report generation time zone ID of this account. This is a required field that cannot be changed on update. Acceptable values are: - \"1\" for \"America/New_York\" - \"2\" for \"Europe/London\" - \"3\" for \"Europe/Paris\" - \"4\" for \"Africa/Johannesburg\" - \"5\" for \"Asia/Jerusalem\" - \"6\" for \"Asia/Shanghai\" - \"7\" for \"Asia/Hong_Kong\" - \"8\" for \"Asia/Tokyo\" - \"9\" for \"Australia/Sydney\" - \"10\" for \"Asia/Dubai\" - \"11\" for \"America/Los_Angeles\" - \"12\" for \"Pacific/Auckland\" - \"13\" for \"America/Sao_Paulo\" - \"16\" for \"America/Asuncion\" - \"17\" for \"America/Chicago\" - \"18\" for \"America/Denver\" - \"19\" for \"America/St_Johns\" - \"20\" for \"Asia/Dhaka\" - \"21\" for \"Asia/Jakarta\" - \"22\" for \"Asia/Kabul\" - \"23\" for \"Asia/Karachi\" - \"24\" for \"Asia/Calcutta\" - \"25\" for \"Asia/Pyongyang\" - \"26\" for \"Asia/Rangoon\" - \"27\" for \"Atlantic/Cape_Verde\" - \"28\" for \"Atlantic/South_Georgia\" - \"29\" for \"Australia/Adelaide\" - \"30\" for \"Australia/Lord_Howe\" - \"31\" for \"Europe/Moscow\" - \"32\" for \"Pacific/Kiritimati\" - \"35\" for \"Pacific/Norfolk\" - \"36\" for \"Pacific/Tongatapu\" ",
          "type": "string",
          "format": "int64"
        },
        "exposureToConversionEnabled": {
          "type": "boolean",
          "description": "Whether the exposure to conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting."
        }
      },
      "type": "object"
    },
    "CampaignCreativeAssociationsListResponse": {
      "description": "Campaign Creative Association List Response",
      "id": "CampaignCreativeAssociationsListResponse",
      "properties": {
        "campaignCreativeAssociations": {
          "type": "array",
          "description": "Campaign creative association collection",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "id": "ConversionsBatchUpdateResponse",
      "properties": {
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to update."
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\"."
        }
      },
      "type": "object"
    },
    "Creative": {
      "type": "object",
      "id": "Creative",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "skipOffset": {
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "authoringSource": {
          "type": "string",
          "enumDescriptions": [
            "DCM-UI or external API used to author the creative.",
            "DBM-UI used to author the creative.",
            "Studio-UI used to author the creative.",
            "Google Web Designer used to author the creative.",
            "ACS-UI used to author the creative.",
            "Creative authoring source is Adobe.",
            "Creative authoring source is Typeface.ai.",
            "Creative authoring source is Rembrand.",
            "Creative authoring source is Trackto.",
            "Creative authoring source is Bornlogic.",
            "Creative authoring source is BEGEN_AI."
          ],
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS",
            "CREATIVE_AUTHORING_SOURCE_ADOBE",
            "CREATIVE_AUTHORING_SOURCE_TYPEFACE_AI",
            "CREATIVE_AUTHORING_SOURCE_REMBRAND",
            "CREATIVE_AUTHORING_SOURCE_TRACKTO_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_BORNLOGIC",
            "CREATIVE_AUTHORING_SOURCE_BEGEN_AI"
          ]
        },
        "additionalSizes": {
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "companionCreatives": {
          "type": "array",
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "timerCustomEvents": {
          "type": "array",
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "universalAdId": {
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID.",
          "$ref": "UniversalAdId"
        },
        "adParameters": {
          "type": "string",
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "autoAdvanceImages": {
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
          "type": "boolean"
        },
        "htmlCode": {
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
          "type": "string"
        },
        "renderingIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "renderingId": {
          "type": "string",
          "format": "int64",
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types."
        },
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "studioAdvertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "clickTags": {
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array"
        },
        "customKeyValues": {
          "items": {
            "type": "string"
          },
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "allowScriptAccess": {
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "boolean"
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "requiredFlashPluginVersion": {
          "type": "string",
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "mediaDescription": {
          "type": "string",
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types."
        },
        "backupImageTargetWindow": {
          "$ref": "TargetWindow",
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "requiredFlashVersion": {
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "commercialId": {
          "type": "string",
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types.",
          "$ref": "DimensionValue"
        },
        "type": {
          "description": "Required. Type of this creative. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "version": {
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "type": "integer",
          "format": "int32"
        },
        "fsCommand": {
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE.",
          "$ref": "FsCommand"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types."
        },
        "htmlCodeLocked": {
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
          "type": "boolean"
        },
        "artworkType": {
          "type": "string",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "creativeFieldAssignments": {
          "items": {
            "$ref": "CreativeFieldAssignment"
          },
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "type": "array"
        },
        "thirdPartyUrls": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          },
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID."
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "adTagKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "active": {
          "description": "Whether the creative is active. Applicable to all creative types.",
          "type": "boolean"
        },
        "archived": {
          "type": "boolean",
          "description": "Whether the creative is archived. Applicable to all creative types."
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "totalFileSize": {
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "skippable": {
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "compatibility": {
          "type": "array",
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "items": {
            "type": "string",
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ],
            "enumDescriptions": [
              "",
              "",
              "Deprecated enum value. No longer supported.",
              "Deprecated enum value. No longer supported.",
              "",
              ""
            ]
          }
        },
        "studioCreativeId": {
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "creativeAssets": {
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "items": {
            "$ref": "CreativeAsset"
          },
          "type": "array"
        },
        "studioTraffickedCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "advertiserId": {
          "description": "Required. Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "redirectUrl": {
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT",
          "type": "string"
        },
        "mediaDuration": {
          "type": "number",
          "format": "float",
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID."
        },
        "overrideCss": {
          "type": "string",
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA."
        },
        "exitCustomEvents": {
          "type": "array",
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types."
        },
        "latestTraffickedCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the creative. This must be less than 256 characters long. Applicable to all creative types."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE."
        },
        "backupImageClickThroughUrl": {
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.",
          "$ref": "CreativeClickThroughUrl"
        },
        "backupImageFeatures": {
          "type": "array",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "authoringTool": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enum": [
            "NINJA",
            "SWIFFY"
          ]
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        }
      },
      "description": "Contains properties of a Creative."
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object",
      "id": "DynamicFeed",
      "properties": {
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "studioAdvertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field."
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field."
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "feedIngestionStatus": {
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "FeedIngestionStatus"
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ]
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "dynamicFeedId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true
        },
        "hasPublished": {
          "type": "boolean",
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "readOnly": true
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field."
        },
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        }
      }
    },
    "DynamicFeedsInsertRequest": {
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "id": "DynamicFeedsInsertRequest",
      "properties": {
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        },
        "dynamicFeed": {
          "$ref": "DynamicFeed",
          "description": "Required. Dynamic feed to insert."
        }
      },
      "type": "object"
    },
    "RequestValue": {
      "id": "RequestValue",
      "properties": {
        "excludeFromUserAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE."
        },
        "userAttributeIds": {
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "description": "Contains request value information."
    },
    "BillingRate": {
      "id": "BillingRate",
      "properties": {
        "unitOfMeasure": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Unit of measure for this billing rate.",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "type": {
          "description": "Type of this billing rate.",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "tieredRates": {
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "type": "array"
        },
        "id": {
          "description": "ID of this billing rate.",
          "type": "string",
          "format": "int64"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "rateInMicros": {
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PricingSchedulePricingPeriod": {
      "description": "Pricing Period",
      "type": "object",
      "id": "PricingSchedulePricingPeriod",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive."
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "rateOrCostNanos": {
          "type": "string",
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive."
        }
      }
    },
    "Dimension": {
      "description": "Represents a dimension.",
      "type": "object",
      "id": "Dimension",
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimension."
        }
      }
    },
    "SitesListResponse": {
      "description": "Site List Response",
      "type": "object",
      "id": "SitesListResponse",
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "Site collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        }
      }
    },
    "TvCampaignTimepoint": {
      "type": "object",
      "id": "TvCampaignTimepoint",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\"."
        },
        "dateWindow": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "description": "The date window of the timepoint.",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ]
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window."
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\"."
        },
        "floodlightConfigurations": {
          "items": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Floodlight configuration collection.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Floodlight Configuration List Response"
    },
    "DimensionValueRequest": {
      "id": "DimensionValueRequest",
      "properties": {
        "filters": {
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed.",
          "type": "array"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension for which values should be requested."
        }
      },
      "type": "object",
      "description": "Represents a DimensionValuesRequest."
    },
    "FloodlightActivity": {
      "description": "Contains properties of a Floodlight activity.",
      "id": "FloodlightActivity",
      "properties": {
        "floodlightActivityGroupName": {
          "type": "string",
          "description": "Name of the associated floodlight activity group. This is a read-only field."
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank."
        },
        "floodlightActivityGroupTagString": {
          "type": "string",
          "description": "Tag string of the associated floodlight activity group. This is a read-only field."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser."
        },
        "secure": {
          "type": "boolean",
          "description": "Whether this tag should use SSL."
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\"."
        },
        "cacheBustingType": {
          "type": "string",
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "notes": {
          "type": "string",
          "description": "General notes or implementation instructions for the tag."
        },
        "userDefinedVariableTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. "
        },
        "tagFormat": {
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "enum": [
            "HTML",
            "XHTML"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "floodlightActivityGroupId": {
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "countingMethod": {
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "enumDescriptions": [
            "Count every conversion.",
[...]
