{
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "dfareporting:v5",
  "basePath": "/dfareporting/v5/",
  "title": "Campaign Manager 360 API",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "name": "dfareporting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "canonicalName": "Dfareporting",
  "ownerDomain": "google.com",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "schemas": {
    "ReportDataRow": {
      "description": "A row of report data.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Output only. A single sequential list of all cell values matching column_headers indices exactly. - Metric cells that are suppressed due to Minimum Reporting Standard (MRS) privacy protection constraints return \"-\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ReportDataRow",
      "type": "object"
    },
    "EventTagOverride": {
      "properties": {
        "id": {
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this override is enabled."
        }
      },
      "id": "EventTagOverride",
      "type": "object",
      "description": "Event tag override information."
    },
    "Recipient": {
      "type": "object",
      "description": "Represents a recipient.",
      "id": "Recipient",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the recipient.",
          "type": "string"
        },
        "deliveryType": {
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The delivery type for the recipient."
        }
      }
    },
    "Size": {
      "type": "object",
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive."
        },
        "width": {
          "type": "integer",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "format": "int32"
        },
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this size. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        }
      },
      "id": "Size",
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets."
    },
    "TvCampaignSummary": {
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "id": "TvCampaignSummary",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\"."
        },
        "impressions": {
          "description": "Impressions across the entire TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of this TV campaign."
        },
        "grp": {
          "description": "GRP of this TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "spend": {
          "description": "Spend across the entire TV campaign.",
          "type": "number",
          "format": "double"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "type": "string",
          "description": "\"CampaignComponentType\" of this TV campaign."
        },
        "id": {
          "type": "string",
          "description": "ID of this TV campaign."
        }
      },
      "type": "object"
    },
    "RichMediaExitOverride": {
      "description": "Rich Media Exit Override.",
      "id": "RichMediaExitOverride",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "type": "string",
          "format": "int64",
          "description": "ID for the override to refer to a specific exit in the creative."
        }
      },
      "type": "object"
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system collection.",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      },
      "description": "Operating System List Response"
    },
    "MobileAppsListResponse": {
      "id": "MobileAppsListResponse",
      "description": "Mobile app List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\".",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "MobileApp"
          },
          "type": "array",
          "description": "Mobile apps collection."
        }
      },
      "type": "object"
    },
    "DateRange": {
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The date range relative to the date of when the report is run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Represents a date range.",
      "type": "object",
      "id": "DateRange"
    },
    "EventTag": {
      "description": "Contains properties of an event tag.",
      "id": "EventTag",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank."
        },
        "siteIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter."
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "type": "string"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion."
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "urlEscapeLevels": {
          "format": "int32",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer"
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "url": {
          "type": "string",
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion."
        },
        "siteFilterType": {
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "type": "string",
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ]
        },
        "status": {
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "DependentFieldValue": {
      "id": "DependentFieldValue",
      "description": "Contains dependent field value information.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicFeedId": {
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "type": "string",
          "format": "int64"
        },
        "elementId": {
          "format": "int64",
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string"
        }
      }
    },
    "LanguageTargeting": {
      "type": "object",
      "description": "Language Targeting.",
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "type": "array",
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "items": {
            "$ref": "Language"
          }
        }
      }
    },
    "EventTagsListResponse": {
      "type": "object",
      "id": "EventTagsListResponse",
      "description": "Event Tag List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\"."
        },
        "eventTags": {
          "type": "array",
          "description": "Event tag collection.",
          "items": {
            "$ref": "EventTag"
          }
        }
      }
    },
    "RemarketingList": {
      "description": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource.",
      "id": "RemarketingList",
      "properties": {
        "description": {
          "description": "Remarketing list description.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "format": "int64"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this remarketing list is active."
        },
        "listSource": {
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "description": "Product from which this remarketing list was originated.",
          "type": "string",
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ]
        },
        "id": {
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "lifeSpan": {
          "type": "string",
          "format": "int64",
          "description": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive."
        },
        "name": {
          "description": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long.",
          "type": "string"
        },
        "listPopulationRule": {
          "description": "Rule used to populate the remarketing list with users.",
          "$ref": "ListPopulationRule"
        },
        "advertiserId": {
          "description": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "listSize": {
          "format": "int64",
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeOptimizationConfiguration": {
      "id": "CreativeOptimizationConfiguration",
      "properties": {
        "optimizationModel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Optimization model for this configuration.",
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long."
        },
        "optimizationActivitys": {
          "items": {
            "$ref": "OptimizationActivity"
          },
          "type": "array",
          "description": "List of optimization activities associated with this configuration."
        }
      },
      "description": "Creative optimization settings.",
      "type": "object"
    },
    "PlacementStrategy": {
      "type": "object",
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\"."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        }
      },
      "id": "PlacementStrategy"
    },
    "TagSetting": {
      "description": "Tag Settings",
      "id": "TagSetting",
      "type": "object",
      "properties": {
        "includeUnescapedlpurlMacro": {
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "keywordOption": {
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "type": "string",
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ]
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        },
        "additionalKeyValues": {
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field.",
          "type": "string"
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        }
      }
    },
    "RemarketingListShare": {
      "properties": {
        "sharedAdvertiserIds": {
          "description": "Advertisers that the remarketing list is shared with.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "remarketingListId": {
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "sharedAccountIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Accounts that the remarketing list is shared with."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\"."
        }
      },
      "type": "object",
      "id": "RemarketingListShare",
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers."
    },
    "ColumnHeader": {
      "id": "ColumnHeader",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The column name."
        },
        "type": {
          "description": "Output only. The column type.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dimension.",
            "Metric."
          ],
          "readOnly": true,
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC"
          ]
        }
      },
      "description": "A column header in the report.",
      "type": "object"
    },
    "SizesListResponse": {
      "id": "SizesListResponse",
      "type": "object",
      "properties": {
        "sizes": {
          "description": "Size collection.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        }
      },
      "description": "Size List Response"
    },
    "ConversionsBatchUpdateRequest": {
      "id": "ConversionsBatchUpdateRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        },
        "conversions": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update."
        }
      },
      "description": "Update Conversions Request."
    },
    "BillingRate": {
      "id": "BillingRate",
      "type": "object",
      "properties": {
        "unitOfMeasure": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Unit of measure for this billing rate.",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ]
        },
        "endDate": {
          "type": "string",
          "description": "End date of this billing rate."
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Type of this billing rate.",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ]
        },
        "rateInMicros": {
          "format": "int64",
          "type": "string",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate."
        },
        "currencyCode": {
          "type": "string",
          "description": "Billing currency code in ISO 4217 format."
        },
        "id": {
          "type": "string",
          "description": "ID of this billing rate.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this billing rate. This must be less than 256 characters long."
        },
        "tieredRates": {
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "type": "array"
        }
      }
    },
    "Creative": {
      "properties": {
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "authoringSource": {
          "enumDescriptions": [
            "DCM-UI or external API used to author the creative.",
            "DBM-UI used to author the creative.",
            "Studio-UI used to author the creative.",
            "Google Web Designer used to author the creative.",
            "ACS-UI used to author the creative.",
            "Creative authoring source is Adobe.",
            "Creative authoring source is Typeface.ai.",
            "Creative authoring source is Rembrand.",
            "Creative authoring source is Trackto.",
            "Creative authoring source is Bornlogic.",
            "Creative authoring source is BEGEN_AI."
          ],
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS",
            "CREATIVE_AUTHORING_SOURCE_ADOBE",
            "CREATIVE_AUTHORING_SOURCE_TYPEFACE_AI",
            "CREATIVE_AUTHORING_SOURCE_REMBRAND",
            "CREATIVE_AUTHORING_SOURCE_TRACKTO_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_BORNLOGIC",
            "CREATIVE_AUTHORING_SOURCE_BEGEN_AI"
          ],
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "type": "string"
        },
        "authoringTool": {
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "NINJA",
            "SWIFFY"
          ],
          "type": "string"
        },
        "totalFileSize": {
          "format": "int64",
          "type": "string",
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "syntheticContentAttestationStatus": {
          "type": "string",
          "enum": [
            "SYNTHETIC_CONTENT_ATTESTATION_STATUS_UNSPECIFIED",
            "IS_SYNTHETIC",
            "NOT_SYNTHETIC"
          ],
          "enumDescriptions": [
            "No attestation has been provided.",
            "Attested as created or edited using AI.",
            "Attested as not created or edited using AI."
          ],
          "description": "Optional. Whether to add a label to the creative as created or edited using AI when served in regions with local AI labeling regulations. [Learn more about labeling requirements in AI regulations.](https://support.google.com/campaignmanager/answer/17232030)"
        },
        "companionCreatives": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array"
        },
        "compatibility": {
          "items": {
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ],
            "enumDescriptions": [
              "",
              "",
              "Deprecated enum value. No longer supported.",
              "Deprecated enum value. No longer supported.",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" "
        },
        "mediaDescription": {
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID.",
          "type": "string"
        },
        "backupImageFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array"
        },
        "timerCustomEvents": {
          "type": "array",
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "creativeFieldAssignments": {
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "type": "array",
          "items": {
            "$ref": "CreativeFieldAssignment"
          }
        },
        "archived": {
          "description": "Whether the creative is archived. Applicable to all creative types.",
          "type": "boolean"
        },
        "requiredFlashVersion": {
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "renderingIdDimensionValue": {
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types.",
          "$ref": "DimensionValue"
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "htmlCode": {
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
          "type": "string"
        },
        "skippable": {
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Required. Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "type": "string"
        },
        "htmlCodeLocked": {
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
          "type": "boolean"
        },
        "autoAdvanceImages": {
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
          "type": "boolean"
        },
        "adTagKeys": {
          "items": {
            "type": "string"
          },
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array"
        },
        "thirdPartyUrls": {
          "type": "array",
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID.",
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          }
        },
        "commercialId": {
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives.",
          "type": "string"
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "overrideCss": {
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "clickTags": {
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "ClickTag"
          }
        },
        "additionalSizes": {
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "lastModifiedInfo": {
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types.",
          "$ref": "LastModifiedInfo"
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "requiredFlashPluginVersion": {
          "type": "string",
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "artworkType": {
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ]
        },
        "sslOverride": {
          "type": "boolean",
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types."
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "type": "string",
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA."
        },
        "backupImageTargetWindow": {
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "TargetWindow"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "version": {
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "format": "int32",
          "type": "integer"
        },
        "creativeAssets": {
          "type": "array",
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "items": {
            "$ref": "CreativeAsset"
          }
        },
        "studioCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "name": {
          "description": "Required. Name of the creative. This must be less than 256 characters long. Applicable to all creative types.",
          "type": "string"
        },
        "universalAdId": {
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID.",
          "$ref": "UniversalAdId"
        },
        "type": {
          "type": "string",
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ],
          "description": "Required. Type of this creative. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mediaDuration": {
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        },
        "adParameters": {
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "string"
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "renderingId": {
          "type": "string",
          "format": "int64",
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types."
        },
        "exitCustomEvents": {
          "type": "array",
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types."
        },
        "redirectUrl": {
          "type": "string",
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT"
        },
        "latestTraffickedCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "allowScriptAccess": {
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "fsCommand": {
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE.",
          "$ref": "FsCommand"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "studioTraffickedCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "customKeyValues": {
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the creative is active. Applicable to all creative types."
        },
        "backupImageClickThroughUrl": {
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.",
          "$ref": "CreativeClickThroughUrl"
        }
      },
      "description": "Contains properties of a Creative.",
      "type": "object",
      "id": "Creative"
    },
    "PlacementGroup": {
      "description": "Contains properties of a package or roadblock.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\"."
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "placementGroupType": {
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "type": "string",
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ]
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "name": {
          "type": "string",
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long."
        },
        "activeStatus": {
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "type": "string",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank."
        },
        "primaryPlacementId": {
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string",
          "format": "int64"
        },
        "comment": {
          "type": "string",
          "description": "Comments for this placement group."
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "siteId": {
          "type": "string",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        }
      },
      "id": "PlacementGroup"
    },
    "CreativeAssetId": {
      "type": "object",
      "id": "CreativeAssetId",
      "description": "Creative Asset ID.",
      "properties": {
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE.",
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "Report": {
      "properties": {
        "type": {
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the report.",
          "type": "string"
        },
        "subAccountId": {
          "description": "The subaccount ID to which this report belongs if applicable.",
          "format": "int64",
          "type": "string"
        },
        "schedule": {
          "properties": {
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "runsOnDayOfMonth": {
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "type": "string",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "timezone": {
              "type": "string",
              "description": "The timezone when the report will run."
            },
            "repeats": {
              "type": "string",
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
            },
            "active": {
              "type": "boolean",
              "description": "Whether the schedule is active or not. Must be set to either true or false."
            },
            "repeatsOnWeekDays": {
              "items": {
                "type": "string",
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ]
              },
              "type": "array",
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run."
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "type": "object"
        },
        "reachCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "reachByFrequencyMetricNames": {
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include.",
              "type": "array"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            }
          }
        },
        "floodlightCriteria": {
          "properties": {
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "customRichMediaEvents": {
              "type": "array",
              "description": "The list of custom rich media events to include.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "reportProperties": {
              "type": "object",
              "properties": {
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no cookie, but do have an exposure path."
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                }
              },
              "description": "The properties of the report."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"FLOODLIGHT\"."
        },
        "format": {
          "type": "string",
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#report."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "criteria": {
          "properties": {
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of metrics the report should include."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range for which this report should be run."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of standard dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"STANDARD\"."
        },
        "ownerProfileId": {
          "format": "int64",
          "type": "string",
          "description": "The user profile id of the owner of this report."
        },
        "accountId": {
          "type": "string",
          "description": "The account ID to which this report belongs.",
          "format": "int64"
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "format": "int64",
          "type": "string"
        },
        "delivery": {
          "properties": {
            "emailOwnerDeliveryType": {
              "description": "The type of delivery for the owner to receive, if enabled.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "LINK",
                "ATTACHMENT"
              ]
            },
            "recipients": {
              "type": "array",
              "description": "The list of recipients to which to email the report.",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            }
          },
          "description": "The report's email delivery settings.",
          "type": "object"
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the report."
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "customFloodlightVariables": {
              "description": "The list of custom floodlight variables the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "perInteractionDimensions": {
              "description": "The list of per interaction dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activityFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of 'dfa:activity' values to filter on."
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumClickInteractions": {
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer"
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32",
                  "type": "integer"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "maximumInteractionGap": {
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "type": "object"
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "conversionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of conversion dimensions the report should include."
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of metrics the report should include."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          }
        },
        "crossMediaReachCriteria": {
          "properties": {
            "dateRange": {
              "description": "Required. The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array"
            },
            "dimensionFilters": {
              "type": "array",
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "Required. The list of dimensions the report should include.",
              "type": "array"
            }
          },
          "type": "object",
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\"."
        }
      },
      "type": "object",
      "description": "Represents a Report resource.",
      "id": "Report"
    },
    "CartDataItem": {
      "properties": {
        "itemId": {
          "description": "The shopping id of the item. Must be equal to the Merchant Center product identifier. This is a required field.",
          "type": "string"
        },
        "unitPrice": {
          "description": "Unit price excluding tax, shipping, and any transaction level discounts. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double",
          "type": "number"
        },
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "Number of items sold. This is a required field."
        }
      },
      "id": "CartDataItem",
      "description": "Contains data of the items purchased.",
      "type": "object"
    },
    "KeyValueTargetingExpression": {
      "description": "Key Value Targeting Expression.",
      "id": "KeyValueTargetingExpression",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Keyword expression being targeted by the ad.",
          "type": "string"
        }
      }
    },
    "PricingSchedule": {
      "properties": {
        "capCostOption": {
          "description": "Placement cap cost option.",
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "pricingType": {
          "type": "string",
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement pricing type. This field is required on insertion."
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "pricingPeriods": {
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "type": "array",
          "description": "Pricing periods for this placement."
        }
      },
      "id": "PricingSchedule",
      "type": "object",
      "description": "Pricing Schedule"
    },
    "BrowsersListResponse": {
      "type": "object",
      "properties": {
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "type": "array",
          "description": "Browser collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\"."
        }
      },
      "id": "BrowsersListResponse",
      "description": "Browser List Response"
    },
    "PlacementsListResponse": {
      "id": "PlacementsListResponse",
      "description": "Placement List Response",
      "type": "object",
      "properties": {
        "placements": {
          "description": "Placement collection.",
          "type": "array",
          "items": {
            "$ref": "Placement"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "AccountUserProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\"."
        },
        "active": {
          "type": "boolean",
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "userRoleId": {
          "type": "string",
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field."
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "userAccessType": {
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "comments": {
          "type": "string",
          "description": "Comments for this user profile."
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "traffickerType": {
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "id": {
          "format": "int64",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        }
      },
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "id": "AccountUserProfile",
      "type": "object"
    },
    "City": {
      "id": "City",
      "type": "object",
      "description": "Contains information about a city that can be targeted by ads.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\"."
        },
        "dartId": {
          "format": "int64",
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this city."
        },
        "metroDmaId": {
          "description": "ID of the metro region (DMA) to which this city belongs.",
          "format": "int64",
          "type": "string"
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code of the region to which this city belongs.",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this city belongs.",
          "format": "int64",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "regionDartId": {
          "type": "string",
          "description": "DART ID of the region to which this city belongs.",
          "format": "int64"
        }
      }
    },
    "CompanionSetting": {
      "type": "object",
      "id": "CompanionSetting",
      "description": "Companion Settings",
      "properties": {
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        }
      }
    },
    "Browser": {
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "majorVersion": {
          "type": "string",
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
          "type": "string"
        },
        "browserVersionId": {
[...]
