{
  "id": "dfareporting:v5",
  "title": "Campaign Manager 360 API",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "protocol": "rest",
  "basePath": "/dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "dfareporting",
  "revision": "20260603",
  "ownerName": "Google",
  "schemas": {
    "StudioCreative": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "type": "object",
      "properties": {
        "backupImageAssetId": {
          "format": "int64",
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "createdInfo": {
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ],
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ],
          "description": "Format of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "dimension": {
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING.",
          "$ref": "StudioCreativeDimension"
        },
        "status": {
          "readOnly": true,
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ],
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ]
        },
        "assetIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of assets associated with this studio creative. It is a required field on insertion.",
          "type": "array"
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "studioCampaignId": {
          "format": "int64",
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "dynamicProfileId": {
          "description": "Dynamic profile ID of this studio creative.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "StudioCreative"
    },
    "OperatingSystem": {
      "description": "Contains information about an operating system that can be targeted by ads.",
      "type": "object",
      "id": "OperatingSystem",
      "properties": {
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this operating system.",
          "type": "string"
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\".",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this operating system. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TvCampaignDetail": {
      "id": "TvCampaignDetail",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        }
      },
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "type": "object"
    },
    "Language": {
      "description": "Contains information about a language that can be targeted by ads.",
      "type": "object",
      "id": "Language",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "id": {
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OmnitureSettings": {
      "description": "Omniture Integration Settings.",
      "type": "object",
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      },
      "id": "OmnitureSettings"
    },
    "CountriesListResponse": {
      "properties": {
        "countries": {
          "description": "Country collection.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        }
      },
      "id": "CountriesListResponse",
      "description": "Country List Response",
      "type": "object"
    },
    "ProximityFilter": {
      "id": "ProximityFilter",
      "properties": {
        "radiusValue": {
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer"
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ]
        },
        "radiusBucketType": {
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string"
        }
      },
      "description": "Contains proximity filter information.",
      "type": "object"
    },
    "Placement": {
      "id": "Placement",
      "properties": {
        "sslRequired": {
          "description": "Whether creatives assigned to this placement must be SSL-compliant.",
          "type": "boolean"
        },
        "youtubeSettings": {
          "description": "Optional. YouTube settings for the placement. The placement must be enabled for YouTube to use this field.",
          "$ref": "YoutubeSettings"
        },
        "conversionDomainOverride": {
          "description": "Optional. Conversion domain overrides for a placement.",
          "$ref": "PlacementConversionDomainOverride"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "paymentSource": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ],
          "description": "Payment source for this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "primary": {
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement.",
          "type": "boolean"
        },
        "siteServed": {
          "description": "Optional. Whether the ads in the placement are served by another platform and CM is only used for tracking or they are served by CM. A false value indicates the ad is served by CM.",
          "type": "boolean"
        },
        "status": {
          "enumDescriptions": [
            "Placement is not yet reviewed by publisher.",
            "Placement Ad Serving fee is accepted by publisher",
            "Placement Ad Serving fee is rejected by publisher",
            "Advertisers has accepted rejection of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers has accepted acceptance of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers is still working on placement not yet ready for Publisher review; default status for pub-paid placements"
          ],
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ],
          "description": "Third-party placement status.",
          "type": "string"
        },
        "wrappingOptOut": {
          "description": "Whether this placement opts out of tag wrapping.",
          "type": "boolean"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement. This field is required on insertion, specifically subfields startDate, endDate and pricingType.",
          "$ref": "PricingSchedule"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this placement. This field can be left blank.",
          "type": "string"
        },
        "paymentApproved": {
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements.",
          "type": "boolean"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this placement. This field is a required field on insertion.",
          "type": "string"
        },
        "placementGroupId": {
          "format": "int64",
          "description": "ID of this placement's group, if applicable.",
          "type": "string"
        },
        "createInfo": {
          "description": "Information about the creation of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "tagFormats": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLACEMENT_TAG_STANDARD",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_IFRAME_ILAYER",
              "PLACEMENT_TAG_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
              "PLACEMENT_TAG_CLICK_COMMANDS",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
              "PLACEMENT_TAG_TRACKING",
              "PLACEMENT_TAG_TRACKING_IFRAME",
              "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
              "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
            ],
            "type": "string"
          },
          "description": "Tag formats to generate for this placement. This field is required on insertion. Acceptable values are: - \"PLACEMENT_TAG_STANDARD\" - \"PLACEMENT_TAG_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_IFRAME_ILAYER\" - \"PLACEMENT_TAG_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT\" - \"PLACEMENT_TAG_CLICK_COMMANDS\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4\" - \"PLACEMENT_TAG_TRACKING\" - \"PLACEMENT_TAG_TRACKING_IFRAME\" - \"PLACEMENT_TAG_TRACKING_JAVASCRIPT\" ",
          "type": "array"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this placement.This is a required field and must be less than or equal to 512 characters long.",
          "type": "string"
        },
        "adServingPlatformId": {
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the placement. Measurement partners can use this field to add ad-server specific macros. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string"
        },
        "tagSetting": {
          "description": "Tag settings for this placement.",
          "$ref": "TagSetting"
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this placement.",
          "$ref": "LookbackConfiguration"
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "allowOnYoutube": {
          "description": "Optional. Whether the placement is enabled for YouTube integration.",
          "type": "boolean"
        },
        "keyName": {
          "description": "Key name of this placement. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement.",
          "type": "string",
          "format": "int64"
        },
        "comment": {
          "description": "Comments for this placement.",
          "type": "string"
        },
        "publisherUpdateInfo": {
          "description": "Information about the last publisher update. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "videoSettings": {
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility.",
          "$ref": "VideoSettings"
        },
        "accountId": {
          "description": "Account ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "adBlockingOptOut": {
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect.",
          "type": "boolean"
        },
        "videoActiveViewOptOut": {
          "description": "Whether Verification and ActiveView are disabled for in-stream video creatives for this placement. The same setting videoActiveViewOptOut exists on the site level -- the opt out occurs if either of these settings are true. These settings are distinct from DirectorySites.settings.activeViewOptOut or Sites.siteSettings.activeViewOptOut which only apply to display ads. However, Accounts.activeViewOptOut opts out both video traffic, as well as display ads, from Verification and ActiveView.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "siteId": {
          "description": "Site ID associated with this placement. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID of this placement. On insert, you must set either this field or the siteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "placementGroupIdDimensionValue": {
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placement\".",
          "type": "string"
        },
        "partnerWrappingData": {
          "description": "Measurement partner provided settings for a wrapped placement.",
          "$ref": "MeasurementPartnerWrappingData"
        },
        "size": {
          "description": "Size associated with this placement. When inserting or updating a placement, only the size ID field is used. This field is required on insertion.",
          "$ref": "Size"
        },
        "vpaidAdapterChoice": {
          "description": "VPAID adapter setting for this placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to this placement. *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ]
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this placement. When inserting or updating a placement, only the size ID field is used.",
          "type": "array"
        },
        "activeStatus": {
          "description": "Whether this placement is active, inactive, archived or permanently archived.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        }
      },
      "description": "Contains properties of a placement.",
      "type": "object"
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeepLink": {
      "description": "Contains information about a landing page deep link.",
      "type": "object",
      "properties": {
        "appUrl": {
          "description": "The URL of the mobile app being linked to.",
          "type": "string"
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "mobileApp": {
          "description": "The mobile app targeted by this deep link.",
          "$ref": "MobileApp"
        },
        "remarketingListIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        }
      },
      "id": "DeepLink"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "properties": {
        "studioAccountId": {
          "format": "int64",
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "type": "string"
        },
        "studioCreativeId": {
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DfareportingStudioCreativeAssetsInsertRequest"
    },
    "Site": {
      "description": "Contains properties of a site.",
      "type": "object",
      "properties": {
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "siteContacts": {
          "items": {
            "$ref": "SiteContact"
          },
          "description": "Site contacts.",
          "type": "array"
        },
        "adServingPlatformId": {
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        },
        "approved": {
          "description": "Whether this site is approved.",
          "type": "boolean"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Site"
    },
    "ListPopulationTerm": {
      "description": "Remarketing List Population Rule Term.",
      "type": "object",
      "properties": {
        "variableName": {
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "remarketingListId": {
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "type": "string",
          "format": "int64"
        },
        "variableFriendlyName": {
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM.",
          "type": "string"
        },
        "value": {
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ],
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable.",
          "type": "string"
        },
        "negation": {
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "boolean"
        },
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ],
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "contains": {
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default.",
          "type": "boolean"
        }
      },
      "id": "ListPopulationTerm"
    },
    "PlacementAssignment": {
      "properties": {
        "placementId": {
          "format": "int64",
          "description": "ID of the placement to be assigned. This is a required field.",
          "type": "string"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "PlacementAssignment",
      "description": "Placement Assignment.",
      "type": "object"
    },
    "BillingProfilesListResponse": {
      "id": "BillingProfilesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingProfiles": {
          "description": "Billing profiles collection.",
          "type": "array",
          "items": {
            "$ref": "BillingProfile"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfilesListResponse\".",
          "type": "string"
        }
      },
      "description": "Billing profile List Response",
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "status": {
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ENABLED",
            "DISABLED"
          ]
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "type": "string"
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "urlEscapeLevels": {
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer",
          "format": "int32"
        },
        "siteFilterType": {
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ],
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Contains properties of an event tag.",
      "type": "object"
    },
    "FsCommand": {
      "description": "FsCommand.",
      "type": "object",
      "id": "FsCommand",
      "properties": {
        "positionOption": {
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "description": "Position in the browser where the window will open.",
          "type": "string"
        },
        "top": {
          "format": "int32",
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "type": "integer"
        },
        "windowWidth": {
          "description": "Width of the window.",
          "type": "integer",
          "format": "int32"
        },
        "windowHeight": {
          "description": "Height of the window.",
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "format": "int32",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "type": "integer"
        }
      }
    },
    "RemarketingList": {
      "description": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource.",
      "type": "object",
      "properties": {
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long.",
          "type": "string"
        },
        "listPopulationRule": {
          "description": "Rule used to populate the remarketing list with users.",
          "$ref": "ListPopulationRule"
        },
        "description": {
          "description": "Remarketing list description.",
          "type": "string"
        },
        "lifeSpan": {
          "description": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\".",
          "type": "string"
        },
        "id": {
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "description": "Whether this remarketing list is active.",
          "type": "boolean"
        },
        "listSource": {
          "description": "Product from which this remarketing list was originated.",
          "type": "string",
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ]
        },
        "accountId": {
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemarketingList"
    },
    "ContextualKeywordTargeting": {
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "id": "ContextualKeywordTargeting",
      "properties": {
        "keywords": {
          "description": "Contextual keywords that this ad targets",
          "type": "array",
          "items": {
            "$ref": "ContextualKeyword"
          }
        }
      }
    },
    "AccountPermissionGroup": {
      "id": "AccountPermissionGroup",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this account permission group.",
          "type": "string"
        },
        "name": {
          "description": "Name of this account permission group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\".",
          "type": "string"
        }
      },
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "type": "object"
    },
    "IngestionErrorRecord": {
      "properties": {
        "recordId": {
          "readOnly": true,
          "description": "Output only. The record ID of the ingestion error record.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "FieldError"
          },
          "description": "Output only. The list of field errors of the ingestion error record.",
          "type": "array"
        }
      },
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "type": "object"
    },
    "VideoFormatsListResponse": {
      "description": "Video Format List Response",
      "type": "object",
      "properties": {
        "videoFormats": {
          "items": {
            "$ref": "VideoFormat"
          },
          "description": "Video format collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\".",
          "type": "string"
        }
      },
      "id": "VideoFormatsListResponse"
    },
    "CrossDimensionReachReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "type": "object",
      "id": "CrossDimensionReachReportCompatibleFields",
      "properties": {
        "breakdown": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "overlapMetrics": {
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "TvCampaignTimepoint": {
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "type": "object",
      "id": "TvCampaignTimepoint",
      "properties": {
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        },
        "dateWindow": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "description": "The date window of the timepoint.",
          "type": "string"
        },
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        }
      }
    },
    "DirectorySitesListResponse": {
      "description": "Directory Site List Response",
      "type": "object",
      "id": "DirectorySitesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\".",
          "type": "string"
        },
        "directorySites": {
          "items": {
            "$ref": "DirectorySite"
          },
          "description": "Directory site collection.",
          "type": "array"
        }
      }
    },
    "AudienceSegmentGroup": {
      "id": "AudienceSegmentGroup",
      "properties": {
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "audienceSegments": {
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array"
        }
      },
      "description": "Audience Segment Group.",
      "type": "object"
    },
    "RequestValue": {
      "description": "Contains request value information.",
      "type": "object",
      "id": "RequestValue",
      "properties": {
        "userAttributeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "type": "array"
        },
        "excludeFromUserAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "type": "array"
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        }
      }
    },
    "CreativeOptimizationConfiguration": {
      "properties": {
        "optimizationActivitys": {
          "items": {
            "$ref": "OptimizationActivity"
          },
          "description": "List of optimization activities associated with this configuration.",
          "type": "array"
        },
        "optimizationModel": {
          "description": "Optimization model for this configuration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns.",
          "type": "string"
        },
        "name": {
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long.",
          "type": "string"
        }
      },
      "id": "CreativeOptimizationConfiguration",
      "description": "Creative optimization settings.",
      "type": "object"
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "type": "object",
      "id": "ClickThroughUrl",
      "properties": {
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MobileCarriersListResponse": {
      "description": "Mobile Carrier List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarriersListResponse\".",
          "type": "string"
        },
        "mobileCarriers": {
          "items": {
            "$ref": "MobileCarrier"
          },
          "description": "Mobile carrier collection.",
          "type": "array"
        }
      },
      "id": "MobileCarriersListResponse"
    },
    "PricingSchedule": {
      "description": "Pricing Schedule",
      "type": "object",
      "id": "PricingSchedule",
      "properties": {
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "pricingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "type": "string"
        },
        "pricingPeriods": {
          "description": "Pricing periods for this placement.",
          "type": "array",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          }
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "capCostOption": {
          "description": "Placement cap cost option.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        }
      }
    },
    "BrowsersListResponse": {
      "description": "Browser List Response",
      "type": "object",
      "id": "BrowsersListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection.",
          "type": "array"
        }
      }
    },
    "UserRolePermissionGroupsListResponse": {
      "description": "User Role Permission Group List Response",
      "type": "object",
      "id": "UserRolePermissionGroupsListResponse",
      "properties": {
        "userRolePermissionGroups": {
          "items": {
            "$ref": "UserRolePermissionGroup"
          },
          "description": "User role permission group collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroupsListResponse\".",
          "type": "string"
        }
      }
    },
    "FloodlightActivityPublisherDynamicTag": {
      "description": "Publisher Dynamic Tag",
      "type": "object",
      "properties": {
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteId": {
          "description": "Site ID of this dynamic tag.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "FloodlightActivityPublisherDynamicTag"
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "properties": {
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "impressions": {
          "format": "int64",
          "description": "Impressions across the entire TV campaign.",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "grp": {
          "format": "int64",
          "description": "GRP of this TV campaign.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "type": "string"
        },
        "spend": {
          "description": "Spend across the entire TV campaign.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "type": "object"
    },
    "AccountPermissionsListResponse": {
      "id": "AccountPermissionsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\".",
          "type": "string"
        },
        "accountPermissions": {
          "description": "Account permission collection.",
          "type": "array",
          "items": {
            "$ref": "AccountPermission"
          }
        }
      },
      "description": "Account Permission List Response",
      "type": "object"
    },
    "MeasurementPartnerWrappingData": {
      "properties": {
        "wrappedTag": {
          "description": "Tag provided by the measurement partner during wrapping.",
          "type": "string"
        },
        "linkStatus": {
          "description": "Placement wrapping status.",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "tagWrappingMode": {
          "description": "Measurement mode for the wrapped placement.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ]
        },
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for wrapping the placement.",
          "type": "string"
        }
      },
      "id": "MeasurementPartnerWrappingData",
      "description": "Placement tag wrapping",
      "type": "object"
    },
    "BillingAssignment": {
      "properties": {
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        }
      },
      "id": "BillingAssignment",
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "type": "object"
    },
    "CreativeAssetMetadata": {
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "type": "object",
      "id": "CreativeAssetMetadata",
      "properties": {
        "warnedValidationRules": {
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ],
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "type": "string"
          }
        },
        "exitCustomEvents": {
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\".",
          "type": "string"
        },
        "id": {
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "type": "array"
        },
        "timerCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array"
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string"
          }
        },
        "richMedia": {
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "idDimensionValue": {
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "TagSettings": {
      "description": "Dynamic and Image Tag Settings.",
      "type": "object",
      "id": "TagSettings",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        }
      }
    },
    "PlatformType": {
      "properties": {
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        },
        "id": {
          "description": "ID of this platform type.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        }
      },
      "id": "PlatformType",
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object"
    },
    "StudioCreativeAsset": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object",
      "properties": {
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "filesize": {
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string"
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "type": {
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string",
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      },
      "id": "StudioCreativeAsset"
    },
    "SubaccountsListResponse": {
      "id": "SubaccountsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          }
        }
      },
      "description": "Subaccount List Response",
      "type": "object"
    },
    "AccountPermissionGroupsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\".",
          "type": "string"
        },
        "accountPermissionGroups": {
          "items": {
            "$ref": "AccountPermissionGroup"
          },
          "description": "Account permission group collection.",
          "type": "array"
        }
      },
      "id": "AccountPermissionGroupsListResponse",
      "description": "Account Permission Group List Response",
      "type": "object"
    },
    "ConversionStatus": {
      "description": "The original conversion that was inserted or updated and whether there were any errors.",
      "type": "object",
      "id": "ConversionStatus",
      "properties": {
        "errors": {
          "items": {
            "$ref": "ConversionError"
          },
          "description": "A list of errors related to this conversion.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
          "type": "string"
        },
        "conversion": {
          "description": "The original conversion that was inserted or updated.",
          "$ref": "Conversion"
        }
      }
    },
    "LandingPage": {
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "id": "LandingPage",
      "properties": {
        "deepLinks": {
          "items": {
            "$ref": "DeepLink"
          },
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        }
      }
    },
    "PlacementStrategy": {
      "description": "Contains properties of a placement strategy.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        }
      },
      "id": "PlacementStrategy"
    },
    "ConnectionTypesListResponse": {
      "id": "ConnectionTypesListResponse",
      "properties": {
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        }
      },
      "description": "Connection Type List Response",
      "type": "object"
    },
    "ContentSourceMetaData": {
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "type": "object",
      "properties": {
        "rowNumber": {
          "format": "int32",
          "description": "Output only. The number of rows in the content source.",
          "type": "integer",
          "readOnly": true
        },
        "charset": {
          "readOnly": true,
          "description": "Output only. The charset of the content source.",
          "type": "string"
        },
        "separator": {
          "description": "Output only. The separator of the content source.",
          "type": "string",
          "readOnly": true
        },
        "fieldNames": {
          "description": "Output only. The list of column names in the content source.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "ContentSourceMetaData"
    },
    "MobileAppsListResponse": {
      "description": "Mobile app List Response",
      "type": "object",
      "id": "MobileAppsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "mobileApps": {
          "description": "Mobile apps collection.",
          "type": "array",
          "items": {
            "$ref": "MobileApp"
          }
        }
      }
    },
    "PlatformTypesListResponse": {
      "description": "Platform Type List Response",
      "type": "object",
      "id": "PlatformTypesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\".",
          "type": "string"
        },
        "platformTypes": {
          "description": "Platform type collection.",
          "type": "array",
          "items": {
            "$ref": "PlatformType"
          }
        }
      }
    },
    "ListPopulationRule": {
      "description": "Remarketing List Population Rule.",
      "type": "object",
      "properties": {
        "floodlightActivityName": {
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID associated with this rule. This field can be left blank.",
          "type": "string"
        },
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationClause"
          }
        }
      },
      "id": "ListPopulationRule"
    },
    "BillingRate": {
      "properties": {
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this billing rate.",
          "type": "string",
          "format": "int64"
        },
        "unitOfMeasure": {
          "description": "Unit of measure for this billing rate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ]
        },
        "tieredRates": {
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "type": "array",
          "items": {
            "$ref": "BillingRateTieredRate"
          }
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "rateInMicros": {
          "format": "int64",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "type": "string"
        },
        "type": {
          "description": "Type of this billing rate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ]
        }
      },
      "id": "BillingRate",
      "type": "object"
    },
    "CreativeClickThroughUrl": {
      "description": "Click-through URL",
      "type": "object",
      "id": "CreativeClickThroughUrl",
      "properties": {
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MetrosListResponse": {
      "id": "MetrosListResponse",
      "properties": {
        "metros": {
          "description": "Metro collection.",
          "type": "array",
          "items": {
            "$ref": "Metro"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        }
      },
      "description": "Metro List Response",
      "type": "object"
    },
    "CustomFloodlightVariable": {
      "id": "CustomFloodlightVariable",
      "properties": {
        "value": {
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\".",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
[...]
