{
  "title": "Campaign Manager 360 API",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "resources": {
    "billingAssignments": {
      "methods": {
        "list": {
          "description": "Retrieves a list of billing assignments.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "id": "dfareporting.billingAssignments.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "billingProfileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "BillingAssignment"
          },
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "id": "dfareporting.billingAssignments.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "billingProfileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "BillingAssignment"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "countries": {
      "methods": {
        "get": {
          "description": "Gets one country by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Country"
          },
          "id": "dfareporting.countries.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "dartId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Country DART ID.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.countries.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Retrieves a list of countries.",
          "path": "userprofiles/{+profileId}/countries",
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "id": "dfareporting.regions.list",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "RegionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/regions",
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of regions."
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormat"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.videoFormats.get",
          "parameters": {
            "id": {
              "format": "int32",
              "required": true,
              "type": "integer",
              "location": "path",
              "description": "Video format ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Gets one video format by ID.",
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "id": "dfareporting.videoFormats.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "description": "Lists available video formats.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/videoFormats",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "id": "dfareporting.operatingSystemVersions.get",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Operating system version ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Gets one operating system version by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.operatingSystemVersions.list",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Retrieves a list of operating system versions.",
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.patch",
          "parameters": {
            "id": {
              "location": "query",
              "description": "Required. RemarketingList ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Inserts a new targeting template.",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "id": "dfareporting.targetingTemplates.list",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only targeting templates with this advertiser ID.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "type": "integer"
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Select only targeting templates with these IDs."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          }
        },
        "update": {
          "request": {
            "$ref": "TargetingTemplate"
          },
          "description": "Updates an existing targeting template.",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.targetingTemplates.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "description": "Gets one targeting template by ID.",
          "id": "dfareporting.targetingTemplates.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "description": "Targeting template ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetingTemplate"
          }
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileApp"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.mobileApps.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "description": "Mobile app ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets one mobile app by ID.",
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "id": "dfareporting.mobileApps.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "location": "query",
              "description": "Select only apps with these IDs.",
              "type": "string",
              "repeated": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "type": "string"
            },
            "directories": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "repeated": true,
              "description": "Select only apps from these directories.",
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileAppsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/mobileApps",
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves list of available mobile apps."
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "description": "Gets one user role permission by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRolePermissions.get",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User role permission ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "id": "dfareporting.userRolePermissions.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "description": "Select only user role permissions with these IDs.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user role permission group by ID.",
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "id": {
              "description": "User role permission group ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets a list of all supported user role permission groups.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups"
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "id": "dfareporting.tvCampaignDetails.get",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Required. TV Campaign ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "accountId": {
              "format": "int64",
              "description": "Required. Account ID associated with this request.",
              "type": "string",
              "location": "query"
            },
            "tvDataProvider": {
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "countryDartId": {
              "location": "query",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one TvCampaignDetail by ID."
        }
      }
    },
    "changeLogs": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeLog"
          },
          "id": "dfareporting.changeLogs.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Change log ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Gets one change log by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}"
        },
        "list": {
          "id": "dfareporting.changeLogs.list",
          "parameters": {
            "objectIds": {
              "format": "int64",
              "type": "string",
              "repeated": true,
              "description": "Select only change logs with these object IDs.",
              "location": "query"
            },
            "objectType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only change logs with the specified object type.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ],
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "description": "Select only change logs with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "maxChangeTime": {
              "location": "query",
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "searchString": {
              "location": "query",
              "description": "Select only change logs whose object ID, user name, old or new values match the search string.",
              "type": "string"
            },
            "minChangeTime": {
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "type": "string",
              "location": "query"
            },
            "userProfileIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only change logs with these user profile IDs.",
              "repeated": true
            },
            "action": {
              "location": "query",
              "description": "Select only change logs with the specified action.",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeLogsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/changeLogs",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "description": "Retrieves a list of change logs. This method supports paging."
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "DynamicProfile"
          },
          "description": "Inserts a new dynamic profile.",
          "path": "studio/dynamicProfiles",
          "flatPath": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "id": "dfareporting.dynamicProfiles.insert",
          "parameters": {}
        },
        "publish": {
          "httpMethod": "POST",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "description": "Publish for a dynamic profile.",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.publish",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          }
        },
        "update": {
          "parameterOrder": [],
          "httpMethod": "PUT",
          "response": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "parameters": {},
          "description": "Updates an existing dynamic profile.",
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles",
          "flatPath": "studio/dynamicProfiles"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "description": "Gets a dynamic profile by ID.",
          "id": "dfareporting.dynamicProfiles.get",
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "generateCode": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "id": "dfareporting.dynamicProfiles.generateCode",
          "parameters": {
            "dynamicProfileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "get": {
          "id": "dfareporting.floodlightConfigurations.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Floodlight configuration ID.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one floodlight configuration by ID."
        },
        "list": {
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned."
            }
          }
        },
        "update": {
          "id": "dfareporting.floodlightConfigurations.update",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration.",
          "request": {
            "$ref": "FloodlightConfiguration"
          }
        },
        "patch": {
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Required. EventTag ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "get": {
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets a dynamic feed by ID.",
          "id": "dfareporting.dynamicFeeds.get",
          "parameters": {
            "dynamicFeedId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Dynamic feed ID.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [
            "dynamicFeedId"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicFeeds",
          "flatPath": "studio/dynamicFeeds",
          "description": "Inserts a new dynamic feed.",
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "id": "dfareporting.dynamicFeeds.insert",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "update": {
          "request": {
            "$ref": "DynamicFeed"
          },
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "path": "studio/dynamicFeeds",
          "flatPath": "studio/dynamicFeeds",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [],
          "id": "dfareporting.dynamicFeeds.update",
          "parameters": {}
        },
        "retransform": {
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "id": "dfareporting.dynamicFeeds.retransform",
          "parameters": {
            "dynamicFeedId": {
              "description": "Required. Dynamic feed ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "id": "dfareporting.userProfiles.get",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "The user profile ID.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "UserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "flatPath": "userprofiles/{profileId}",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user profile by ID."
        },
        "list": {
          "path": "userprofiles",
          "flatPath": "userprofiles",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves list of user profiles for a user.",
          "id": "dfareporting.userProfiles.list",
          "parameters": {},
          "httpMethod": "GET",
          "response": {
            "$ref": "UserProfileList"
          },
          "parameterOrder": []
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "id": "dfareporting.browsers.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/browsers",
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "description": "Retrieves a list of browsers."
        }
      }
    },
    "sites": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.patch",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Site ID.",
              "location": "query"
            }
          },
          "description": "Updates an existing site. This method supports patch semantics.",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "flatPath": "userprofiles/{userprofilesId}/sites"
        },
        "insert": {
          "id": "dfareporting.sites.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "description": "Inserts a new site.",
          "request": {
            "$ref": "Site"
          }
        },
        "list": {
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/sites",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SitesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.sites.list",
          "parameters": {
            "directorySiteIds": {
              "description": "Select only sites with these directory site IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean"
            },
            "unmappedSite": {
              "location": "query",
              "description": "Select only sites that have not been mapped to a directory site.",
              "type": "boolean"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only sites with these IDs.",
              "repeated": true
            },
            "acceptsPublisherPaidPlacements": {
              "description": "Select only sites that accept publisher paid placements.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "subaccountId": {
              "location": "query",
              "description": "Select only sites with this subaccount ID.",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "type": "string",
              "location": "query"
            },
            "approved": {
              "location": "query",
              "description": "Select only approved sites.",
              "type": "boolean"
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "campaignIds": {
              "description": "Select only sites with these campaign IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "adWordsSite": {
              "description": "Select only AdWords sites.",
              "type": "boolean",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING"
            }
          }
        },
        "update": {
          "description": "Updates an existing site.",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.get",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Site ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one site by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "description": "Gets the account's active ad summary by account ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "summaryAccountId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Account ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          }
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.update",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Updates an existing creative group.",
          "request": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups"
        },
        "get": {
          "id": "dfareporting.creativeGroups.get",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Creative group ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "description": "Gets one creative group by ID."
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "description": "Inserts a new creative group.",
          "request": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups"
        },
        "patch": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creativeGroups.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Required. Creative Group ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.creativeGroups.list",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "groupNumber": {
              "format": "int32",
              "description": "Select only creative groups that belong to this subgroup.",
              "type": "integer",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "description": "Select only creative groups with these IDs.",
              "location": "query",
              "repeated": true
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "type": "string"
            },
            "advertiserIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only creative groups that belong to these advertisers.",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativeGroupsListResponse"
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermission"
          },
          "id": "dfareporting.accountPermissions.get",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Account permission ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Gets one account permission by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}"
        },
        "list": {
          "id": "dfareporting.accountPermissions.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountPermissions",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "description": "Retrieves the list of account permissions."
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertiserLandingPages.list",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserIds": {
              "repeated": true,
              "description": "Select only landing pages that belong to these advertisers.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only landing pages that belong to this subaccount.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "type": "string"
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "campaignIds": {
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Select only landing pages that are associated with these campaigns."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "description": "Select only landing pages with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Retrieves a list of landing pages.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "id": "dfareporting.advertiserLandingPages.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Landing Page ID.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Inserts a new landing page.",
          "id": "dfareporting.advertiserLandingPages.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "id": "dfareporting.advertiserLandingPages.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Landing page ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "description": "Gets one landing page by ID."
        },
        "update": {
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page.",
          "id": "dfareporting.advertiserLandingPages.update",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "description": "Inserts a new remarketing list.",
          "id": "dfareporting.remarketingLists.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.patch",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "id": "dfareporting.remarketingLists.list",
          "parameters": {
            "active": {
              "location": "query",
              "description": "Select only active or only inactive remarketing lists.",
              "type": "boolean"
            },
            "floodlightActivityId": {
              "format": "int64",
              "location": "query",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "advertiserId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "location": "query"
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID"
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListsListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingLists.update",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.remarketingLists.get",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "description": "Gets one account permission group by ID.",
          "id": "dfareporting.accountPermissionGroups.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Account permission group ID.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermissionGroup"
          }
        },
        "list": {
          "id": "dfareporting.accountPermissionGroups.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves the list of account permission groups."
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "description": "Inserts a new creative asset.",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ]
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.creativeAssets.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "advertiserId": {
              "description": "Advertiser ID of this creative. This is a required field.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicTargetingKey"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "description": "Retrieves a list of dynamic targeting keys.",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "parameters": {
            "objectId": {
              "description": "Select only dynamic targeting keys with this object ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "names": {
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "objectType": {
              "location": "query",
              "description": "Select only dynamic targeting keys with this object type.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "objectType": {
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
[...]
