{
  "rootUrl": "https://dfareporting.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v5",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "name": "dfareporting",
  "ownerName": "Google",
  "servicePath": "dfareporting/v5/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "canonicalName": "Dfareporting",
  "revision": "20260603",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "basePath": "/dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "title": "Campaign Manager 360 API",
  "resources": {
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "campaignId": {
              "format": "int64",
              "description": "Campaign ID in this association.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "httpMethod": "POST",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "id": "dfareporting.campaignCreativeAssociations.list",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "campaignId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Campaign ID in this association.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "description": "Retrieves a list of TV campaign summaries.",
          "id": "dfareporting.tvCampaignSummaries.list",
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "parameters": {
            "countryDartId": {
              "format": "int64",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query",
              "type": "string"
            },
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "name": {
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field.",
              "location": "query",
              "type": "string"
            },
            "tvDataProvider": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "billingProfileId": {
              "pattern": "^[^/]+$",
              "description": "Billing profile ID of this billing rate.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingRates.list",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "placementGroups": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "description": "Required. Placement ID.",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.patch",
          "path": "userprofiles/{+profileId}/placementGroups"
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "description": "Inserts a new placement group.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.insert",
          "path": "userprofiles/{+profileId}/placementGroups",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Placement group ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.get",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "description": "Gets one placement group by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementGroup"
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.update",
          "path": "userprofiles/{+profileId}/placementGroups",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "description": "Updates an existing placement group.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlacementGroup"
          }
        },
        "list": {
          "id": "dfareporting.placementGroups.list",
          "path": "userprofiles/{+profileId}/placementGroups",
          "parameters": {
            "minStartDate": {
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "siteIds": {
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these sites.",
              "type": "string",
              "location": "query"
            },
            "placementGroupType": {
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "type": "string",
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only placement groups with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "activeStatus": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "placementStrategyIds": {
              "format": "int64",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "800",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "campaignIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that belong to these campaigns.",
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "description": "Select only placement groups that belong to these advertisers.",
              "type": "string",
              "format": "int64",
              "repeated": true
            },
            "contentCategoryIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these content categories.",
              "type": "string"
            },
            "directorySiteIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only placement groups that are associated with these directory sites.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "pricingTypes": {
              "location": "query",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "description": "Select only placement groups with these pricing types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging."
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "BillingAssignment"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "id": "dfareporting.billingAssignments.insert",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "billingProfileId": {
              "location": "path",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "request": {
            "$ref": "BillingAssignment"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "description": "Retrieves a list of billing assignments.",
          "id": "dfareporting.billingAssignments.list",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "parameters": {
            "billingProfileId": {
              "location": "path",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.insert",
          "path": "studio/dynamicProfiles",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "description": "Inserts a new dynamic profile."
        },
        "get": {
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.get",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "description": "Gets a dynamic profile by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "update": {
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "path": "studio/dynamicProfiles",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "description": "Updates an existing dynamic profile."
        },
        "publish": {
          "id": "dfareporting.dynamicProfiles.publish",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "description": "Publish for a dynamic profile."
        },
        "generateCode": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "id": "dfareporting.dynamicProfiles.generateCode",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "get": {
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. Studio creative ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreatives.get",
          "path": "studio/creatives/{+studioCreativeId}",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "flatPath": "studio/creatives/{creativesId}",
          "description": "Gets a studio creative by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "StudioCreative"
          }
        },
        "publish": {
          "parameterOrder": [
            "studioCreativeId"
          ],
          "flatPath": "studio/creatives/{creativesId}/publish",
          "description": "Publish for a studio creative.",
          "httpMethod": "POST",
          "parameters": {
            "studioCreativeId": {
              "pattern": "^[^/]+$",
              "description": "Required. Studio creative ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreatives.publish",
          "path": "studio/creatives/{+studioCreativeId}/publish"
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "StudioCreative"
          },
          "flatPath": "studio/creatives",
          "description": "Inserts a new studio creative.",
          "id": "dfareporting.studioCreatives.insert",
          "path": "studio/creatives",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "StudioCreative"
          }
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "id": "dfareporting.tvCampaignDetails.get",
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "parameters": {
            "countryDartId": {
              "format": "int64",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Required. TV Campaign ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "tvDataProvider": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ]
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "description": "Gets one TvCampaignDetail by ID."
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "Advertiser ID of this invoice.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserInvoices.list",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          }
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "description": "Inserts a new landing page.",
          "httpMethod": "POST",
          "response": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.insert",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "LandingPage"
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "id": {
              "format": "int64",
              "description": "Required. Landing Page ID.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.patch",
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "description": "Gets one landing page by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Landing page ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.get",
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "description": "Updates an existing landing page.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.update",
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "description": "Retrieves a list of landing pages.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only landing pages with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "advertiserIds": {
              "description": "Select only landing pages that belong to these advertisers.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "campaignIds": {
              "repeated": true,
              "description": "Select only landing pages that are associated with these campaigns.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only landing pages that belong to this subaccount.",
              "location": "query",
              "type": "string"
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.list",
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "parameters": {
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only user profiles with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "location": "query"
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only user profiles with the specified subaccount ID.",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active user profiles.",
              "location": "query",
              "type": "boolean"
            },
            "userRoleId": {
              "format": "int64",
              "description": "Select only user profiles with the specified user role ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.list",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "User profile ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.get",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "description": "Gets one account user profile by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.update",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Updates an existing account user profile."
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.insert",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Inserts a new account user profile."
        },
        "patch": {
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "description": "Required. AccountUserProfile ID.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AccountUserProfile"
          }
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "query",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.patch",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "description": "Gets one remarketing list share by remarketing list ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "remarketingListId": {
              "pattern": "^[^/]+$",
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.get",
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ]
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.update",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          }
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only billing profile with these IDs.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "description": "Select only billing profile with the specified status.",
              "type": "string",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "location": "query"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "onlySuggestion": {
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query",
              "type": "boolean"
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "location": "query",
              "type": "string"
            },
            "subaccountIds": {
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query"
            },
            "name": {
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.list",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfilesListResponse"
          }
        },
        "get": {
          "id": "dfareporting.billingProfiles.get",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Billing Profile ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "description": "Gets one billing profile by ID."
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.update",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "BillingProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "description": "Updates an existing billing profile.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "BillingProfile"
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement strategies with these IDs.",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.list",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ]
        },
        "delete": {
          "id": "dfareporting.placementStrategies.delete",
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Placement strategy ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "description": "Deletes an existing placement strategy."
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "description": "Required. PlacementStrategy ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.patch",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Inserts a new placement strategy.",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementStrategy"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Placement strategy ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.get",
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "description": "Gets one placement strategy by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementStrategy"
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Updates an existing placement strategy.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.update",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          }
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileApp"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "description": "Gets one mobile app by ID.",
          "id": "dfareporting.mobileApps.get",
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Mobile app ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only apps with these IDs.",
              "location": "query",
              "type": "string"
            },
            "directories": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "description": "Select only apps from these directories.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.mobileApps.list",
          "path": "userprofiles/{+profileId}/mobileApps",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "description": "Retrieves list of available mobile apps.",
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileAppsListResponse"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "description": "Retrieves a list of languages.",
          "id": "dfareporting.languages.list",
          "path": "userprofiles/{+profileId}/languages",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.metros.list",
          "path": "userprofiles/{+profileId}/metros",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "description": "Retrieves a list of metros."
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormat"
          },
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "description": "Gets one video format by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.videoFormats.get",
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "parameters": {
            "id": {
              "format": "int32",
              "description": "Video format ID.",
              "type": "integer",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list",
          "path": "userprofiles/{+profileId}/videoFormats",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "description": "Lists available video formats.",
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormatsListResponse"
          }
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "description": "Gets one targeting template by ID.",
          "id": "dfareporting.targetingTemplates.get",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Targeting template ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Updates an existing targeting template.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.update",
          "path": "userprofiles/{+profileId}/targetingTemplates"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.patch",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Updates an existing targeting template. This method supports patch semantics."
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Inserts a new targeting template.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.insert",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.targetingTemplates.list",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only targeting templates with this advertiser ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only targeting templates with these IDs.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging."
        }
      }
    },
    "platformTypes": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "description": "Gets one platform type by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlatformType"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Platform type ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.platformTypes.get",
          "path": "userprofiles/{+profileId}/platformTypes/{+id}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "description": "Retrieves a list of platform types.",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.platformTypes.list",
          "path": "userprofiles/{+profileId}/platformTypes",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "id": "dfareporting.remarketingLists.list",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "parameters": {
            "floodlightActivityId": {
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.patch",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "RemarketingList"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Inserts a new remarketing list.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.insert",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.remarketingLists.get",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Remarketing list ID.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "id": "dfareporting.remarketingLists.update",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Updates an existing remarketing list."
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "code": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Postal code ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.postalCodes.get",
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "description": "Gets one postal code by ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "PostalCode"
[...]
