{
  "version": "v5",
  "servicePath": "dfareporting/v5/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "dfareporting",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "schemas": {
    "ContentSource": {
      "id": "ContentSource",
      "type": "object",
      "properties": {
        "createInfo": {
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "contentSourceName": {
          "type": "string",
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided."
        },
        "metaData": {
          "readOnly": true,
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "$ref": "ContentSourceMetaData"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field."
        },
        "resourceType": {
          "description": "Required. The resource type of the content source.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ],
          "type": "string"
        },
        "resourceLink": {
          "description": "Required. The link to the file of the content source.",
          "type": "string"
        }
      },
      "description": "Contains the content source of the dynamic feed."
    },
    "OptimizationActivity": {
      "properties": {
        "floodlightActivityIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field."
        },
        "weight": {
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "format": "int32",
          "type": "integer"
        },
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OptimizationActivity",
      "description": "Creative optimization activity."
    },
    "CampaignCreativeAssociationsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "campaignCreativeAssociations": {
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Campaign creative association collection",
          "type": "array"
        }
      },
      "id": "CampaignCreativeAssociationsListResponse",
      "description": "Campaign Creative Association List Response",
      "type": "object"
    },
    "DfpSettings": {
      "description": "Google Ad Manager Settings",
      "type": "object",
      "id": "DfpSettings",
      "properties": {
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "pubPaidPlacementAccepted": {
          "description": "Whether this directory site accepts publisher-paid tags.",
          "type": "boolean"
        },
        "programmaticPlacementAccepted": {
          "description": "Whether this directory site accepts programmatic placements.",
          "type": "boolean"
        },
        "dfpNetworkName": {
          "type": "string",
          "description": "Ad Manager network name for this directory site."
        },
        "publisherPortalOnly": {
          "description": "Whether this directory site is available only via Publisher Portal.",
          "type": "boolean"
        }
      }
    },
    "CreativeAssignment": {
      "properties": {
        "sequence": {
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "type": "integer"
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "richMediaExitOverrides": {
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "type": "array"
        },
        "weight": {
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "creativeGroupAssignments": {
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "type": "array",
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "companionCreativeOverrides": {
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Creative Assignment.",
      "id": "CreativeAssignment"
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "type": "object",
      "description": "Transcode Settings",
      "properties": {
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\"."
        }
      }
    },
    "AccountPermission": {
      "id": "AccountPermission",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this account permission."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this account permission."
        },
        "permissionGroupId": {
          "format": "int64",
          "description": "Permission group of this account permission.",
          "type": "string"
        },
        "accountProfiles": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          },
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" "
        },
        "level": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Administrative level required to enable this account permission.",
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        }
      },
      "type": "object",
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account."
    },
    "FloodlightActivityPublisherDynamicTag": {
      "properties": {
        "siteId": {
          "description": "Site ID of this dynamic tag.",
          "type": "string",
          "format": "int64"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "format": "int64"
        },
        "clickThrough": {
          "type": "boolean",
          "description": "Whether this tag is applicable only for click-throughs."
        }
      },
      "id": "FloodlightActivityPublisherDynamicTag",
      "description": "Publisher Dynamic Tag",
      "type": "object"
    },
    "BillingProfile": {
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "id": "BillingProfile",
      "properties": {
        "status": {
          "description": "Status of this billing profile.This is a read-only field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\"."
        },
        "secondaryPaymentsCustomerId": {
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "invoiceLevel": {
          "type": "string",
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ]
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "id": {
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "paymentsCustomerId": {
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Billing currency code in ISO 4217 format.This is a read-only field."
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FloodlightActivityDynamicTag": {
      "description": "Dynamic Tag",
      "id": "FloodlightActivityDynamicTag",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this tag."
        },
        "id": {
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "tag": {
          "type": "string",
          "description": "Tag code."
        }
      },
      "type": "object"
    },
    "FieldError": {
      "properties": {
        "fieldId": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ID of the field."
        },
        "isError": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Incidcates whether the field has error or warning."
        },
        "ingestionError": {
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ],
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ],
          "type": "string",
          "description": "Output only. The ingestion error of the field.",
          "readOnly": true
        },
        "fieldValues": {
          "description": "Output only. The list of values of the field.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "fieldName": {
          "description": "Output only. The name of the field.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "FieldError",
      "description": "Contains the field error of the dynamic feed."
    },
    "UserDefinedVariableConfiguration": {
      "id": "UserDefinedVariableConfiguration",
      "type": "object",
      "properties": {
        "variableType": {
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Variable name in the tag. This is a required field."
        },
        "reportName": {
          "description": "User-friendly name for the variable which will appear in reports. This is a required field, must be less than 64 characters long, and cannot contain the following characters: \"\"<>\".",
          "type": "string"
        },
        "dataType": {
          "description": "Data type for the variable. This is a required field.",
          "type": "string",
          "enum": [
            "STRING",
            "NUMBER"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "description": "User Defined Variable configuration."
    },
    "TagSettings": {
      "id": "TagSettings",
      "properties": {
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        },
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        }
      },
      "description": "Dynamic and Image Tag Settings.",
      "type": "object"
    },
    "DateRange": {
      "description": "Represents a date range.",
      "type": "object",
      "id": "DateRange",
      "properties": {
        "relativeDateRange": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The date range relative to the date of when the report is run."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        }
      }
    },
    "ListTargetingExpression": {
      "type": "object",
      "description": "Remarketing List Targeting Expression.",
      "id": "ListTargetingExpression",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Expression describing which lists are being targeted by the ad."
        }
      }
    },
    "DirectorySite": {
      "type": "object",
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "id": "DirectorySite",
      "properties": {
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "publisherSpecificationId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "inpageTagFormats": {
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "type": "array",
          "items": {
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this directory site."
        },
        "url": {
          "type": "string",
          "description": "URL of this directory site."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "settings": {
          "$ref": "DirectorySiteSettings",
          "description": "Directory site settings."
        },
        "interstitialTagFormats": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        }
      }
    },
    "DependentFieldValue": {
      "id": "DependentFieldValue",
      "type": "object",
      "description": "Contains dependent field value information.",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "format": "int64",
          "type": "string"
        },
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicFeedId": {
          "type": "string",
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "format": "int64"
        }
      }
    },
    "CreativeOptimizationConfiguration": {
      "id": "CreativeOptimizationConfiguration",
      "description": "Creative optimization settings.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long.",
          "type": "string"
        },
        "optimizationActivitys": {
          "type": "array",
          "description": "List of optimization activities associated with this configuration.",
          "items": {
            "$ref": "OptimizationActivity"
          }
        },
        "id": {
          "type": "string",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns.",
          "format": "int64"
        },
        "optimizationModel": {
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ],
          "description": "Optimization model for this configuration.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "properties": {
        "terms": {
          "items": {
            "$ref": "ListPopulationTerm"
          },
          "type": "array",
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs."
        }
      },
      "type": "object",
      "id": "ListPopulationClause"
    },
    "CampaignsListResponse": {
      "id": "CampaignsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "campaigns": {
          "type": "array",
          "description": "Campaign collection.",
          "items": {
            "$ref": "Campaign"
          }
        }
      },
      "description": "Campaign List Response",
      "type": "object"
    },
    "Metro": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this metro region."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this metro region belongs."
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "dmaId": {
          "format": "int64",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "dartId": {
          "format": "int64",
          "type": "string",
          "description": "DART ID of this metro region."
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Contains information about a metro region that can be targeted by ads.",
      "id": "Metro"
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "type": "object",
      "id": "AudienceSegmentGroup",
      "properties": {
        "audienceSegments": {
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array"
        },
        "id": {
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long."
        }
      }
    },
    "PlacementsListResponse": {
      "id": "PlacementsListResponse",
      "properties": {
        "placements": {
          "description": "Placement collection.",
          "items": {
            "$ref": "Placement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\"."
        }
      },
      "description": "Placement List Response",
      "type": "object"
    },
    "VideoFormat": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\"."
        },
        "id": {
          "description": "ID of the video format.",
          "format": "int32",
          "type": "integer"
        },
        "fileType": {
          "description": "File type of the video format.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ]
        },
        "targetBitRate": {
          "description": "The target bit rate of this video format.",
          "type": "integer",
          "format": "int32"
        },
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        }
      },
      "type": "object",
      "description": "Contains information about supported video formats.",
      "id": "VideoFormat"
    },
    "SitesListResponse": {
      "type": "object",
      "id": "SitesListResponse",
      "description": "Site List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        },
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "Site collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "SortBy": {
      "properties": {
        "sortOrder": {
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Ascending order.",
            "Descending order."
          ],
          "description": "Optional. The sort order of this column.",
          "type": "string"
        },
        "name": {
          "description": "Required. The dimension or metric field name to sort on.",
          "type": "string"
        }
      },
      "description": "Specifies the sort configuration for a specific field in the report.",
      "id": "SortBy",
      "type": "object"
    },
    "ClickThroughUrl": {
      "properties": {
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. "
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Click-through URL",
      "id": "ClickThroughUrl"
    },
    "CustomViewabilityMetricConfiguration": {
      "type": "object",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "timePercent": {
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer",
          "format": "int32"
        },
        "audible": {
          "description": "Whether the video must be audible to count an impression.",
          "type": "boolean"
        },
        "timeMillis": {
          "format": "int32",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "type": "integer"
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric."
    },
    "UserRolePermission": {
      "type": "object",
      "description": "Contains properties of a user role permission.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\".",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "description": "Levels of availability for a user role permission.",
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ]
        },
        "permissionGroupId": {
          "description": "ID of the permission group that this user role permission belongs to.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role permission.",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        }
      },
      "id": "UserRolePermission"
    },
    "ReportsConfiguration": {
      "type": "object",
      "description": "Reporting Configuration",
      "id": "ReportsConfiguration",
      "properties": {
        "reportGenerationTimeZoneId": {
          "description": "Report generation time zone ID of this account. This is a required field that cannot be changed on update. Acceptable values are: - \"1\" for \"America/New_York\" - \"2\" for \"Europe/London\" - \"3\" for \"Europe/Paris\" - \"4\" for \"Africa/Johannesburg\" - \"5\" for \"Asia/Jerusalem\" - \"6\" for \"Asia/Shanghai\" - \"7\" for \"Asia/Hong_Kong\" - \"8\" for \"Asia/Tokyo\" - \"9\" for \"Australia/Sydney\" - \"10\" for \"Asia/Dubai\" - \"11\" for \"America/Los_Angeles\" - \"12\" for \"Pacific/Auckland\" - \"13\" for \"America/Sao_Paulo\" - \"16\" for \"America/Asuncion\" - \"17\" for \"America/Chicago\" - \"18\" for \"America/Denver\" - \"19\" for \"America/St_Johns\" - \"20\" for \"Asia/Dhaka\" - \"21\" for \"Asia/Jakarta\" - \"22\" for \"Asia/Kabul\" - \"23\" for \"Asia/Karachi\" - \"24\" for \"Asia/Calcutta\" - \"25\" for \"Asia/Pyongyang\" - \"26\" for \"Asia/Rangoon\" - \"27\" for \"Atlantic/Cape_Verde\" - \"28\" for \"Atlantic/South_Georgia\" - \"29\" for \"Australia/Adelaide\" - \"30\" for \"Australia/Lord_Howe\" - \"31\" for \"Europe/Moscow\" - \"32\" for \"Pacific/Kiritimati\" - \"35\" for \"Pacific/Norfolk\" - \"36\" for \"Pacific/Tongatapu\" ",
          "format": "int64",
          "type": "string"
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure to conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Default lookback windows for new advertisers in this account."
        }
      }
    },
    "ConnectionType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this connection type."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this connection type."
        }
      },
      "id": "ConnectionType",
      "type": "object",
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users."
    },
    "CreativeGroup": {
      "description": "Contains properties of a creative group.",
      "type": "object",
      "id": "CreativeGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this creative group. This is a required field on insertion."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative group. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\"."
        },
        "groupNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive."
        },
        "accountId": {
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Language": {
      "id": "Language",
      "type": "object",
      "properties": {
        "id": {
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\"."
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese."
        }
      },
      "description": "Contains information about a language that can be targeted by ads."
    },
    "PlacementConversionDomainOverride": {
      "id": "PlacementConversionDomainOverride",
      "type": "object",
      "properties": {
        "conversionDomains": {
          "type": "array",
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          }
        }
      }
    },
    "TechnologyTargeting": {
      "properties": {
        "mobileCarriers": {
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          },
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes."
        },
        "operatingSystemVersions": {
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "type": "array",
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems."
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        },
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        },
        "connectionTypes": {
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          },
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated."
        },
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      },
      "id": "TechnologyTargeting",
      "type": "object",
      "description": "Technology Targeting."
    },
    "PlacementGroup": {
      "properties": {
        "activeStatus": {
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\"."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "primaryPlacementId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion."
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this placement."
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "contentCategoryId": {
          "type": "string",
          "description": "ID of the content category assigned to this placement group.",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "siteId": {
          "type": "string",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field."
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "placementStrategyId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the placement strategy assigned to this placement group."
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "placementGroupType": {
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "comment": {
          "type": "string",
          "description": "Comments for this placement group."
        }
      },
      "id": "PlacementGroup",
      "description": "Contains properties of a package or roadblock.",
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "properties": {
        "thirdPartyUrlType": {
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "type": "string",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ]
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      },
      "description": "Third-party Tracking URL.",
      "id": "ThirdPartyTrackingUrl",
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "type": "object",
      "id": "ChangeLogsListResponse",
      "description": "Change Log List Response",
      "properties": {
        "changeLogs": {
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\"."
        }
      }
    },
    "Subaccount": {
      "description": "Contains properties of a Campaign Manager subaccount.",
      "id": "Subaccount",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this subaccount. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "availablePermissionIds": {
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "CreativeGroupAssignment": {
      "description": "Creative Group Assignment.",
      "properties": {
        "creativeGroupId": {
          "format": "int64",
          "description": "ID of the creative group to be assigned.",
          "type": "string"
        },
        "creativeGroupNumber": {
          "enum": [
            "CREATIVE_GROUP_ONE",
            "CREATIVE_GROUP_TWO"
          ],
          "description": "Creative group number of the creative group assignment.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreativeGroupAssignment"
    },
    "TranscodeSetting": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\"."
        },
        "enabledVideoFormats": {
          "type": "array",
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "description": "Transcode Settings",
      "id": "TranscodeSetting",
      "type": "object"
    },
    "MobileApp": {
      "type": "object",
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "id": "MobileApp",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "title": {
          "description": "Title of this mobile app.",
          "type": "string"
        },
        "directory": {
          "description": "Mobile app directory.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "type": "string"
        },
        "publisherName": {
          "type": "string",
          "description": "Publisher name."
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        }
      }
    },
    "Region": {
      "description": "Contains information about a region that can be targeted by ads.",
      "type": "object",
      "id": "Region",
      "properties": {
        "name": {
          "description": "Name of this region.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this region.",
          "type": "string",
          "format": "int64"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this region belongs.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\".",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this region belongs."
        }
      }
    },
    "OffsetPosition": {
      "id": "OffsetPosition",
      "properties": {
        "left": {
          "type": "integer",
          "description": "Offset distance from left side of an asset or a window.",
          "format": "int32"
        },
        "top": {
          "description": "Offset distance from top side of an asset or a window.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Offset Position."
    },
    "CitiesListResponse": {
      "id": "CitiesListResponse",
      "type": "object",
      "description": "City List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "items": {
            "$ref": "City"
          },
          "description": "City collection.",
          "type": "array"
        }
      }
    },
    "SiteSettings": {
      "id": "SiteSettings",
      "properties": {
        "tagSetting": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSetting"
        },
        "vpaidAdapterChoiceTemplate": {
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "type": "string",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ]
        },
        "disableNewCookie": {
          "description": "Whether new cookies are disabled for this site.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether active view creatives are disabled for this site."
        },
        "videoActiveViewOptOutTemplate": {
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Site Settings"
    },
    "ConversionsBatchInsertResponse": {
      "type": "object",
      "id": "ConversionsBatchInsertResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
        },
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to insert."
        },
        "status": {
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array",
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted."
        }
      },
      "description": "Insert Conversions Response."
    },
    "CustomRichMediaEvents": {
      "properties": {
        "filteredEventIds": {
          "type": "array",
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents."
        }
      },
      "id": "CustomRichMediaEvents",
      "description": "Represents a Custom Rich Media Events group.",
      "type": "object"
    },
    "ObaIcon": {
      "properties": {
        "size": {
          "$ref": "Size",
          "description": "OBA icon size."
        },
        "iconClickTrackingUrl": {
          "type": "string",
          "description": "URL to track click when an OBA icon is clicked."
        },
        "iconClickThroughUrl": {
          "type": "string",
          "description": "URL to redirect to when an OBA icon is clicked."
        },
        "yPosition": {
          "type": "string",
          "description": "OBA icon y coordinate position. Accepted values are top or bottom."
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more"
        },
        "program": {
          "type": "string",
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices."
        }
      },
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "id": "ObaIcon"
    },
    "CompatibleFields": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "$ref": "PathToConversionReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\"."
        }
      },
      "type": "object",
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "id": "CompatibleFields"
    },
    "Site": {
      "id": "Site",
      "description": "Contains properties of a site.",
      "properties": {
        "siteSettings": {
          "$ref": "SiteSettings",
          "description": "Site-wide settings."
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\".",
          "type": "string"
        },
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "siteContacts": {
          "type": "array",
          "description": "Site contacts.",
          "items": {
            "$ref": "SiteContact"
          }
        },
        "adServingPlatformId": {
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string",
          "format": "int64"
        },
        "approved": {
          "type": "boolean",
          "description": "Whether this site is approved."
        }
      },
      "type": "object"
    },
    "UserRolesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        },
        "userRoles": {
          "items": {
            "$ref": "UserRole"
          },
          "description": "User role collection.",
          "type": "array"
        }
      },
      "id": "UserRolesListResponse",
      "description": "User Role List Response",
      "type": "object"
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "description": "Operating System List Response",
      "properties": {
        "operatingSystems": {
          "description": "Operating system collection.",
          "items": {
            "$ref": "OperatingSystem"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TvCampaignSummary": {
      "type": "object",
      "properties": {
        "spend": {
          "format": "double",
          "description": "Spend across the entire TV campaign.",
          "type": "number"
        },
        "impressions": {
          "description": "Impressions across the entire TV campaign.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        },
        "endDate": {
          "type": "string",
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "grp": {
          "description": "GRP of this TV campaign.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "id": "TvCampaignSummary"
    },
    "StudioCreativeAssetsResponse": {
      "properties": {
        "assets": {
          "description": "The list of studio creative assets.",
          "type": "array",
          "items": {
            "$ref": "StudioCreativeAsset"
          }
        }
      },
      "id": "StudioCreativeAssetsResponse",
      "type": "object",
      "description": "Response message for DfareportingStudioCreativeAssets.Insert."
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "type": "array",
          "description": "Floodlight configuration collection.",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "type": "object",
      "description": "Floodlight Configuration List Response"
    },
    "PlacementGroupsListResponse": {
      "id": "PlacementGroupsListResponse",
      "description": "Placement Group List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        },
        "placementGroups": {
          "items": {
            "$ref": "PlacementGroup"
          },
          "type": "array",
          "description": "Placement group collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "type": "object"
    },
    "DynamicProfileVersion": {
      "description": "Contains dynamic profile version information.",
      "properties": {
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          },
          "type": "array"
        },
        "versionId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions."
        }
      },
      "id": "DynamicProfileVersion",
      "type": "object"
    },
    "FloodlightReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "id": "FloodlightReportCompatibleFields",
      "properties": {
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "UserRolePermissionGroup": {
      "id": "UserRolePermissionGroup",
      "properties": {
        "id": {
          "description": "ID of this user role permission.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission group.",
          "type": "string"
        }
      },
      "description": "Represents a grouping of related user role permissions.",
      "type": "object"
    },
    "DynamicProfileGenerateCodeResponse": {
      "id": "DynamicProfileGenerateCodeResponse",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Generated code for the dynamic profile. The code will need to be unescaped."
        }
      },
      "description": "Response message for DfareportingDynamicProfiles.GenerateCode."
    },
    "File": {
      "type": "object",
      "properties": {
        "urls": {
          "type": "object",
          "description": "The URLs where the completed report file can be downloaded.",
          "properties": {
            "apiUrl": {
              "description": "The URL for downloading the report data through the API.",
              "type": "string"
            },
            "browserUrl": {
              "description": "The URL for downloading the report data through a browser.",
              "type": "string"
            }
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "format": {
          "description": "The output format of the report. Only available once the file is available.",
          "type": "string",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp in milliseconds since epoch when this file was last modified."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of this report file."
        },
        "fileName": {
          "type": "string",
          "description": "The filename of the file."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ],
          "description": "The status of the report file."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        },
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "reportId": {
          "type": "string",
          "description": "The ID of the report this file was generated from.",
          "format": "int64"
        }
      },
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "id": "File"
    },
    "FeedSchedule": {
      "type": "object",
      "description": "Contains the schedule of the dynamic feed.",
      "id": "FeedSchedule",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "repeatValue": {
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "format": "int64",
          "type": "string"
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "startMinute": {
          "type": "string",
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        }
      }
    },
    "ConversionsBatchInsertRequest": {
      "id": "ConversionsBatchInsertRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
          "type": "string"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to insert.",
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "description": "Insert Conversions Request."
    },
    "CampaignCreativeAssociation": {
      "description": "Identifies a creative which has been associated with a given campaign.",
      "type": "object",
      "properties": {
        "creativeId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the creative associated with the campaign. This is a required field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        }
      },
      "id": "CampaignCreativeAssociation"
    },
    "IngestionErrorRecord": {
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "properties": {
        "recordId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The record ID of the ingestion error record."
        },
        "errors": {
          "items": {
            "$ref": "FieldError"
          },
          "readOnly": true,
          "description": "Output only. The list of field errors of the ingestion error record.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "IngestionErrorRecord"
    },
    "BillingRateTieredRate": {
      "properties": {
        "rateInMicros": {
          "format": "int64",
          "description": "Rate in micros for this tier.",
          "type": "string"
        },
        "highValue": {
          "format": "int64",
          "description": "The maximum for this tier range.",
          "type": "string"
        },
        "lowValue": {
          "format": "int64",
          "description": "The minimum for this tier range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BillingRateTieredRate"
    },
    "DynamicFeedsInsertRequest": {
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "properties": {
        "dynamicFeed": {
          "description": "Required. Dynamic feed to insert.",
          "$ref": "DynamicFeed"
        },
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DynamicFeedsInsertRequest",
      "type": "object"
    },
    "Element": {
      "description": "Contains the element of the dynamic feed.",
      "properties": {
        "isLocalTimestamp": {
          "type": "boolean",
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC."
        },
        "endTimestampFieldId": {
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32",
          "type": "integer"
        },
        "startTimestampFieldId": {
          "format": "int32",
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "type": "integer"
        },
        "proximityTargetingFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID that specify field used for proximity targeting."
        },
        "externalIdFieldId": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field."
        },
        "reportingLabelFieldId": {
          "format": "int32",
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360.",
          "type": "integer"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the element. This is a read-only field."
        },
        "feedFields": {
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source.",
          "type": "array",
          "items": {
            "$ref": "FeedField"
          }
        },
        "defaultFieldId": {
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "type": "integer",
          "format": "int32"
        },
        "elementName": {
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided.",
          "type": "string"
        },
        "activeFieldId": {
          "format": "int32",
          "description": "Optional. The field ID to specify the active field in the feed.",
          "type": "integer"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the element. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        }
      },
      "id": "Element",
      "type": "object"
    },
    "FeedIngestionStatus": {
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ],
          "readOnly": true,
          "description": "Output only. The processing state of the feed.",
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
[...]
