{
  "id": "dfareporting:v5",
  "title": "Campaign Manager 360 API",
  "version": "v5",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "dfareporting/v5/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "protocol": "rest",
  "revision": "20260721",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "batchPath": "batch",
  "canonicalName": "Dfareporting",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "targetingTemplates": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.get",
          "description": "Gets one targeting template by ID.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Targeting template ID.",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.insert",
          "description": "Inserts a new targeting template.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "POST"
        },
        "update": {
          "id": "dfareporting.targetingTemplates.update",
          "description": "Updates an existing targeting template.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates"
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "PATCH",
          "id": "dfareporting.targetingTemplates.patch",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "list": {
          "id": "dfareporting.targetingTemplates.list",
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "ids": {
              "description": "Select only targeting templates with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only targeting templates with this advertiser ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates"
        }
      }
    },
    "userRoles": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User role ID.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "GET",
          "id": "dfareporting.userRoles.get",
          "description": "Gets one user role by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "DELETE",
          "id": "dfareporting.userRoles.delete",
          "description": "Deletes an existing user role.",
          "parameters": {
            "id": {
              "description": "User role ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "POST",
          "id": "dfareporting.userRoles.insert",
          "description": "Inserts a new user role.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "PATCH",
          "id": "dfareporting.userRoles.patch",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "parameters": {
            "id": {
              "description": "Required. UserRole ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "ids": {
              "description": "Select only user roles with the specified IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "subaccountId": {
              "description": "Select only user roles that belong to this subaccount.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.update",
          "description": "Updates an existing user role.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "PUT",
          "response": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "UserRole"
          }
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "response": {
            "$ref": "MobileCarrier"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Mobile carrier ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "httpMethod": "GET",
          "id": "dfareporting.mobileCarriers.get",
          "description": "Gets one mobile carrier by ID."
        },
        "list": {
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.mobileCarriers.list",
          "description": "Retrieves a list of mobile carriers.",
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "httpMethod": "GET"
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "flatPath": "studio/creatives/{creativesId}/publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "parameters": {
            "studioCreativeId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Required. Studio creative ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.studioCreatives.publish",
          "description": "Publish for a studio creative."
        },
        "insert": {
          "response": {
            "$ref": "StudioCreative"
          },
          "path": "studio/creatives",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "StudioCreative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreatives.insert",
          "description": "Inserts a new studio creative.",
          "flatPath": "studio/creatives",
          "httpMethod": "POST"
        },
        "get": {
          "id": "dfareporting.studioCreatives.get",
          "description": "Gets a studio creative by ID.",
          "flatPath": "studio/creatives/{creativesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "studioCreativeId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Studio creative ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "studioCreativeId"
          ],
          "response": {
            "$ref": "StudioCreative"
          },
          "path": "studio/creatives/{+studioCreativeId}"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.get",
          "description": "Gets one video format by ID.",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormat"
          },
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "format": "int32",
              "pattern": "^[^/]+$",
              "type": "integer",
              "description": "Video format ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list",
          "description": "Lists available video formats.",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "path": "userprofiles/{+profileId}/videoFormats",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "reportData": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reportdata/query",
          "httpMethod": "POST",
          "id": "dfareporting.reportData.query",
          "description": "Executes an ad-hoc query and returns structured JSON payload data.",
          "path": "userprofiles/{profileId}/reportdata/query",
          "response": {
            "$ref": "ReportDataResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ReportDataQueryRequest"
          },
          "parameters": {
            "profileId": {
              "description": "Required. The Campaign Manager 360 user profile ID.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          }
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "GET",
          "id": "dfareporting.creativeGroups.list",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "ids": {
              "description": "Select only creative groups with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "advertiserIds": {
              "description": "Select only creative groups that belong to these advertisers.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "groupNumber": {
              "description": "Select only creative groups that belong to this subgroup.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroupsListResponse"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "description": "Required. Creative Group ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "PATCH",
          "id": "dfareporting.creativeGroups.patch",
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "PUT",
          "id": "dfareporting.creativeGroups.update",
          "description": "Updates an existing creative group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.insert",
          "description": "Inserts a new creative group.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "POST",
          "response": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "CreativeGroup"
          }
        },
        "get": {
          "response": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Creative group ID.",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.get",
          "description": "Gets one creative group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "httpMethod": "GET"
        }
      }
    },
    "ads": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "GET",
          "id": "dfareporting.ads.list",
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "AdsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "type": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "description": "Select only ads with these types.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sizeIds": {
              "description": "Select only ads with these size IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "creativeOptimizationConfigurationIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only ads with these creative optimization configuration IDs.",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "type": "string"
            },
            "landingPageIds": {
              "description": "Select only ads with these landing page IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "remarketingListIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "location": "query"
            },
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "location": "query",
              "type": "boolean"
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "campaignIds": {
              "description": "Select only ads with these campaign IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "audienceSegmentIds": {
              "description": "Select only ads with these audience segment IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "active": {
              "description": "Select only active ads.",
              "location": "query",
              "type": "boolean"
            },
            "creativeIds": {
              "description": "Select only ads with these creative IDs assigned.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sslRequired": {
              "description": "Select only ads that require SSL.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "overriddenEventTagId": {
              "format": "int64",
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "placementIds": {
              "description": "Select only ads with these placement IDs assigned.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "archived": {
              "description": "Select only archived ads.",
              "location": "query",
              "type": "boolean"
            },
            "compatibility": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.patch",
          "description": "Updates an existing ad. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "PATCH"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "PUT",
          "id": "dfareporting.ads.update",
          "description": "Updates an existing ad.",
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.insert",
          "description": "Inserts a new ad.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "httpMethod": "GET",
          "id": "dfareporting.ads.get",
          "description": "Gets one ad by ID.",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "response": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Ad ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "subaccounts": {
      "methods": {
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "PUT",
          "id": "dfareporting.subaccounts.update",
          "description": "Updates an existing subaccount.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Subaccount ID.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "PATCH",
          "id": "dfareporting.subaccounts.patch",
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "GET",
          "id": "dfareporting.subaccounts.list",
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "response": {
            "$ref": "SubaccountsListResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.subaccounts.insert",
          "description": "Inserts a new subaccount.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "POST",
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Subaccount"
          }
        },
        "get": {
          "id": "dfareporting.subaccounts.get",
          "description": "Gets one subaccount by ID.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Subaccount ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts/{+id}"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.get",
          "description": "Gets one account user profile by ID.",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "parameters": {
            "id": {
              "description": "User profile ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "POST",
          "id": "dfareporting.accountUserProfiles.insert",
          "description": "Inserts a new account user profile.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.list",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "userRoleId": {
              "format": "int64",
              "description": "Select only user profiles with the specified user role ID.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only user profiles with these IDs.",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "subaccountId": {
              "description": "Select only user profiles with the specified subaccount ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "active": {
              "description": "Select only active user profiles.",
              "location": "query",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "id": "dfareporting.accountUserProfiles.patch",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "location": "query",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles"
        },
        "update": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.update",
          "description": "Updates an existing account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "PUT"
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.insert",
          "description": "Inserts a new floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.update",
          "description": "Updates an existing floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "id": "dfareporting.floodlightActivities.list",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "floodlightActivityGroupType": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "location": "query",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "tagString": {
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "floodlightActivityGroupIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query"
            },
            "ids": {
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "floodlightConfigurationId": {
              "format": "int64",
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query",
              "type": "string"
            },
            "floodlightActivityGroupTagString": {
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities"
        },
        "patch": {
          "id": "dfareporting.floodlightActivities.patch",
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Required. EventTag ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities"
        },
        "generatetag": {
          "id": "dfareporting.floodlightActivities.generatetag",
          "description": "Generates a tag for a floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "floodlightActivityId": {
              "format": "int64",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag"
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "httpMethod": "DELETE",
          "id": "dfareporting.floodlightActivities.delete",
          "description": "Deletes an existing floodlight activity.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Floodlight activity ID.",
              "location": "path"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "id": "dfareporting.floodlightActivities.get",
          "description": "Gets one floodlight activity by ID.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "description": "Floodlight activity ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "summaryAccountId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Account ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "httpMethod": "GET",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "description": "Gets the account's active ad summary by account ID."
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "billingProfileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "request": {
            "$ref": "BillingAssignment"
          },
          "response": {
            "$ref": "BillingAssignment"
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "id": "dfareporting.billingAssignments.insert",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "httpMethod": "GET",
          "id": "dfareporting.billingAssignments.list",
          "description": "Retrieves a list of billing assignments.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Mobile app ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "response": {
            "$ref": "MobileApp"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "httpMethod": "GET",
          "id": "dfareporting.mobileApps.get",
          "description": "Gets one mobile app by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "ids": {
              "description": "Select only apps with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "directories": {
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only apps from these directories.",
              "location": "query",
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ]
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/mobileApps",
          "response": {
            "$ref": "MobileAppsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "httpMethod": "GET",
          "id": "dfareporting.mobileApps.list",
          "description": "Retrieves list of available mobile apps.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "directorySites": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites",
          "response": {
            "$ref": "DirectorySite"
          },
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "httpMethod": "POST",
          "id": "dfareporting.directorySites.insert",
          "description": "Inserts a new directory site.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.get",
          "description": "Gets one directory site by ID.",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "DirectorySite"
          },
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "parameters": {
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Directory site ID.",
              "location": "path"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "id": "dfareporting.directorySites.list",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "acceptsPublisherPaidPlacements": {
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "location": "query",
              "type": "boolean"
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only directory sites with these IDs.",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "path": "userprofiles/{+profileId}/directorySites"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "PUT",
          "id": "dfareporting.advertiserGroups.update",
          "description": "Updates an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "id": "dfareporting.advertiserGroups.list",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only advertiser groups with these IDs.",
              "location": "query"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/advertiserGroups"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "id": {
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "PATCH",
          "id": "dfareporting.advertiserGroups.patch",
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "POST",
          "id": "dfareporting.advertiserGroups.insert",
          "description": "Inserts a new advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "DELETE",
          "id": "dfareporting.advertiserGroups.delete",
          "description": "Deletes an existing advertiser group.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Advertiser group ID.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Advertiser group ID.",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "GET",
          "id": "dfareporting.advertiserGroups.get",
          "description": "Gets one advertiser group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "placementGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "description": "Placement group ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "response": {
            "$ref": "PlacementGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.get",
          "description": "Gets one placement group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "POST",
          "id": "dfareporting.placementGroups.insert",
          "description": "Inserts a new placement group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.update",
          "description": "Updates an existing placement group.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.patch",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Placement ID.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "list": {
          "response": {
[...]
