{
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v5",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "servicePath": "dfareporting/v5/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260713",
  "discoveryVersion": "v1",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "title": "Campaign Manager 360 API",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "protocol": "rest",
  "id": "dfareporting:v5",
  "name": "dfareporting",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "/dfareporting/v5/",
  "schemas": {
    "Country": {
      "id": "Country",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        },
        "tvDataProviders": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ]
          },
          "description": "Output only. The TV data providers supported in this country."
        }
      },
      "description": "Contains information about a country that can be targeted by ads."
    },
    "TargetableRemarketingList": {
      "id": "TargetableRemarketingList",
      "type": "object",
      "properties": {
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser.",
          "$ref": "DimensionValue"
        },
        "id": {
          "description": "Targetable remarketing list ID.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the targetable remarketing list. Is no greater than 128 characters long.",
          "type": "string"
        },
        "description": {
          "description": "Targetable remarketing list description.",
          "type": "string"
        },
        "lifeSpan": {
          "type": "string",
          "description": "Number of days that a user should remain in the targetable remarketing list without an impression.",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string"
        },
        "listSize": {
          "type": "string",
          "format": "int64",
          "description": "Number of users currently in the list. This is a read-only field."
        },
        "advertiserId": {
          "type": "string",
          "description": "Dimension value for the advertiser ID that owns this targetable remarketing list.",
          "format": "int64"
        },
        "active": {
          "description": "Whether this targetable remarketing list is active.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "format": "int64"
        },
        "listSource": {
          "description": "Product from which this targetable remarketing list was originated.",
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\".",
          "type": "string"
        }
      },
      "description": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource."
    },
    "SizesListResponse": {
      "description": "Size List Response",
      "id": "SizesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        },
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection.",
          "type": "array"
        }
      }
    },
    "EncryptionInfo": {
      "description": "A description of how user IDs are encrypted.",
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "encryptionSource": {
          "type": "string",
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "encryptionEntityType": {
          "type": "string",
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        },
        "encryptionEntityId": {
          "type": "string",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        }
      }
    },
    "DynamicRules": {
      "description": "Contains dynamic rules information.",
      "id": "DynamicRules",
      "type": "object",
      "properties": {
        "ruleType": {
          "type": "string",
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ]
        },
        "customRules": {
          "type": "array",
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "items": {
            "$ref": "CustomRule"
          }
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "customValueFields": {
          "items": {
            "$ref": "CustomValueField"
          },
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array"
        },
        "remarketingValueAttributes": {
          "type": "array",
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "type": "string"
        },
        "weightFieldId": {
          "type": "integer",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "format": "int32"
        },
        "autoTargetedFieldIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array"
        }
      }
    },
    "LookbackConfiguration": {
      "id": "LookbackConfiguration",
      "type": "object",
      "properties": {
        "clickDuration": {
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "format": "int32"
        },
        "postImpressionActivitiesDuration": {
          "type": "integer",
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive."
        }
      },
      "description": "Lookback configuration settings."
    },
    "Advertiser": {
      "id": "Advertiser",
      "type": "object",
      "properties": {
        "advertiserGroupId": {
          "format": "int64",
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. ",
          "type": "string"
        },
        "status": {
          "description": "Status of this advertiser.",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "format": "int64",
          "type": "string"
        },
        "originalFloodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement."
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "suspended": {
          "description": "Suspension status of this advertiser.",
          "type": "boolean"
        }
      },
      "description": "Contains properties of a Campaign Manager advertiser."
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "id": "AudienceSegmentGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "audienceSegments": {
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array"
        }
      }
    },
    "ThirdPartyAuthenticationToken": {
      "description": "Third Party Authentication Token",
      "id": "ThirdPartyAuthenticationToken",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the third-party authentication token.",
          "type": "string"
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "BillingRatesListResponse": {
      "id": "BillingRatesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\".",
          "type": "string"
        },
        "billingRates": {
          "type": "array",
          "description": "Billing rates collection.",
          "items": {
            "$ref": "BillingRate"
          }
        }
      },
      "description": "Billing Rate List Response"
    },
    "Element": {
      "description": "Contains the element of the dynamic feed.",
      "id": "Element",
      "type": "object",
      "properties": {
        "startTimestampFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the element. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "reportingLabelFieldId": {
          "format": "int32",
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360.",
          "type": "integer"
        },
        "elementName": {
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided.",
          "type": "string"
        },
        "isLocalTimestamp": {
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC.",
          "type": "boolean"
        },
        "proximityTargetingFieldId": {
          "format": "int32",
          "description": "Optional. The field ID that specify field used for proximity targeting.",
          "type": "integer"
        },
        "externalIdFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field."
        },
        "defaultFieldId": {
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "format": "int32",
          "type": "integer"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the element. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "feedFields": {
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source.",
          "items": {
            "$ref": "FeedField"
          },
          "type": "array"
        },
        "endTimestampFieldId": {
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32",
          "type": "integer"
        },
        "activeFieldId": {
          "format": "int32",
          "description": "Optional. The field ID to specify the active field in the feed.",
          "type": "integer"
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "id": "FloodlightReportCompatibleFields",
      "type": "object",
      "properties": {
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "ChangeLogsListResponse": {
      "id": "ChangeLogsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "changeLogs": {
          "type": "array",
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          }
        }
      },
      "description": "Change Log List Response"
    },
    "UniversalAdId": {
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "id": "UniversalAdId",
      "type": "object",
      "properties": {
        "registry": {
          "type": "string",
          "description": "Registry used for the Ad ID value.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ]
        },
        "value": {
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM.",
          "type": "string"
        }
      }
    },
    "PlacementStrategy": {
      "id": "PlacementStrategy",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        }
      },
      "description": "Contains properties of a placement strategy."
    },
    "UserRolePermissionGroup": {
      "description": "Represents a grouping of related user role permissions.",
      "id": "UserRolePermissionGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission group.",
          "type": "string"
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "type": "array",
          "description": "Floodlight configuration collection.",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "description": "Floodlight Configuration List Response"
    },
    "CustomRichMediaEvents": {
      "description": "Represents a Custom Rich Media Events group.",
      "id": "CustomRichMediaEvents",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        },
        "filteredEventIds": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName."
        }
      }
    },
    "CitiesListResponse": {
      "id": "CitiesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "type": "array",
          "items": {
            "$ref": "City"
          },
          "description": "City collection."
        }
      },
      "description": "City List Response"
    },
    "RemarketingValueAttribute": {
      "id": "RemarketingValueAttribute",
      "type": "object",
      "properties": {
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        },
        "userAttributeIds": {
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Contains remarketing value attribute information."
    },
    "CreativeAssignment": {
      "description": "Creative Assignment.",
      "id": "CreativeAssignment",
      "type": "object",
      "properties": {
        "richMediaExitOverrides": {
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "type": "array"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive."
        },
        "companionCreativeOverrides": {
          "type": "array",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads."
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "creativeGroupAssignments": {
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array"
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ConnectionTypesListResponse": {
      "description": "Connection Type List Response",
      "id": "ConnectionTypesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array"
        }
      }
    },
    "CartData": {
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)",
      "id": "CartData",
      "type": "object",
      "properties": {
        "merchantFeedLabel": {
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details.",
          "format": "int64"
        },
        "merchantFeedLanguage": {
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Data of the items purchased.",
          "items": {
            "$ref": "CartDataItem"
          }
        }
      }
    },
    "DirectorySitesListResponse": {
      "description": "Directory Site List Response",
      "id": "DirectorySitesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\".",
          "type": "string"
        },
        "directorySites": {
          "description": "Directory site collection.",
          "items": {
            "$ref": "DirectorySite"
          },
          "type": "array"
        }
      }
    },
    "TvCampaignSummary": {
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "id": "TvCampaignSummary",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "impressions": {
          "type": "string",
          "description": "Impressions across the entire TV campaign.",
          "format": "int64"
        },
        "grp": {
          "type": "string",
          "description": "GRP of this TV campaign.",
          "format": "int64"
        },
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "spend": {
          "format": "double",
          "description": "Spend across the entire TV campaign.",
          "type": "number"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ]
        }
      }
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "description": "Floodlight Activity GenerateTag Response",
      "id": "FloodlightActivitiesGenerateTagResponse",
      "type": "object",
      "properties": {
        "globalSiteTagGlobalSnippet": {
          "description": "The global snippet section of a Google tag. The Google tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\".",
          "type": "string"
        },
        "floodlightActivityTag": {
          "description": "Generated tag for this Floodlight activity. For Google tags, this is the event snippet.",
          "type": "string"
        }
      }
    },
    "TagData": {
      "id": "TagData",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "TagData tag format of this tag.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ]
        },
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING."
        },
        "adId": {
          "format": "int64",
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        }
      },
      "description": "Placement Tag Data"
    },
    "DynamicProfile": {
      "id": "DynamicProfile",
      "type": "object",
      "properties": {
        "dynamicProfileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "status": {
          "description": "Optional. Status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of this dynamic profile.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion."
        },
        "name": {
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "archiveStatus": {
          "description": "Optional. Archive status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ],
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ],
          "type": "string"
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field."
        },
        "active": {
          "description": "Optional. Active version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\".",
          "readOnly": true,
          "type": "string"
        },
        "draft": {
          "description": "Optional. Draft version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        }
      },
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information."
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "type": "object",
      "properties": {
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "format": "int64",
          "type": "string"
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "expectedUrl": {
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long.",
          "type": "string"
        },
        "floodlightActivityGroupId": {
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration.",
          "format": "int64"
        },
        "sslRequired": {
          "description": "Whether this floodlight activity must be SSL-compliant.",
          "type": "boolean"
        },
        "floodlightActivityGroupType": {
          "type": "string",
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "notes": {
          "description": "General notes or implementation instructions for the tag.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "conversionCategory": {
          "description": "Required. The conversion category of the activity.",
          "enumDescriptions": [
            "Unspecified category (called \"Other\" externally).",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "User visiting a page.",
            "Software download action (as for an app). A conversion type that is created as a download type may not have its category changed.",
            ". The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location.",
            "A click to an advertiser's partner site, e.g. a referral.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has further completed a desired stage as defined by the lead gen advertiser.",
            "Conversion event that provides the revenue value of impressions that were shown in-app to users."
          ],
          "enum": [
            "CONVERSION_CATEGORY_DEFAULT",
            "CONVERSION_CATEGORY_PURCHASE",
            "CONVERSION_CATEGORY_SIGNUP",
            "CONVERSION_CATEGORY_PAGE_VIEW",
            "CONVERSION_CATEGORY_DOWNLOAD",
            "CONVERSION_CATEGORY_ADD_TO_CART",
            "CONVERSION_CATEGORY_BEGIN_CHECKOUT",
            "CONVERSION_CATEGORY_SUBSCRIBE_PAID",
            "CONVERSION_CATEGORY_SUBMIT_LEAD_FORM",
            "CONVERSION_CATEGORY_BOOK_APPOINTMENT",
            "CONVERSION_CATEGORY_REQUEST_QUOTE",
            "CONVERSION_CATEGORY_GET_DIRECTIONS",
            "CONVERSION_CATEGORY_OUTBOUND_CLICK",
            "CONVERSION_CATEGORY_CONTACT",
            "CONVERSION_CATEGORY_QUALIFIED_LEAD",
            "CONVERSION_CATEGORY_CONVERTED_LEAD",
            "CONVERSION_CATEGORY_IN_APP_AD_REVENUE"
          ],
          "type": "string"
        },
        "defaultTags": {
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          },
          "description": "Dynamic floodlight tags."
        },
        "accountId": {
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\".",
          "type": "string"
        },
        "cacheBustingType": {
          "type": "string",
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ]
        },
        "userDefinedVariableTypes": {
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "floodlightActivityGroupTagString": {
          "description": "Tag string of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "countingMethod": {
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagFormat": {
          "type": "string",
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "HTML",
            "XHTML"
          ]
        },
        "status": {
          "type": "string",
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes.",
          "type": "string"
        },
        "floodlightTagType": {
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ],
          "type": "string"
        },
        "publisherTags": {
          "type": "array",
          "description": "Publisher dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          }
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        }
      },
      "description": "Contains properties of a Floodlight activity."
    },
    "ConversionsBatchUpdateRequest": {
      "id": "ConversionsBatchUpdateRequest",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "description": "The set of conversions to update.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "description": "Update Conversions Request."
    },
    "FieldError": {
      "description": "Contains the field error of the dynamic feed.",
      "id": "FieldError",
      "type": "object",
      "properties": {
        "fieldId": {
          "format": "int32",
          "description": "Output only. The ID of the field.",
          "readOnly": true,
          "type": "integer"
        },
        "isError": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Incidcates whether the field has error or warning."
        },
        "fieldName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field."
        },
        "fieldValues": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of values of the field.",
          "readOnly": true,
          "type": "array"
        },
        "ingestionError": {
          "description": "Output only. The ingestion error of the field.",
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ],
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "id": "SiteCompanionSetting",
      "type": "object",
      "properties": {
        "enabledSizes": {
          "type": "array",
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "items": {
            "$ref": "Size"
          }
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        }
      }
    },
    "MobileCarrier": {
      "description": "Contains information about a mobile carrier that can be targeted by ads.",
      "id": "MobileCarrier",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this mobile carrier belongs.",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this mobile carrier belongs."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarrier\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this mobile carrier.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this mobile carrier.",
          "format": "int64"
        }
      }
    },
    "BrowsersListResponse": {
      "id": "BrowsersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection.",
          "type": "array"
        }
      },
      "description": "Browser List Response"
    },
    "CreativesListResponse": {
      "id": "CreativesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\".",
          "type": "string"
        },
        "creatives": {
          "description": "Creative collection.",
          "items": {
            "$ref": "Creative"
          },
          "type": "array"
        }
      },
      "description": "Creative List Response"
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "type": "string"
        },
        "linkStatus": {
          "description": "Status of the partner link.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "type": "string"
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        }
      }
    },
    "CreativeFieldValuesListResponse": {
      "description": "Creative Field Value List Response",
      "id": "CreativeFieldValuesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValuesListResponse\".",
          "type": "string"
        },
        "creativeFieldValues": {
          "type": "array",
          "description": "Creative field value collection.",
          "items": {
            "$ref": "CreativeFieldValue"
          }
        }
      }
    },
    "ReachReportCompatibleFields": {
      "id": "ReachReportCompatibleFields",
      "type": "object",
      "properties": {
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        },
        "reachByFrequencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report."
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\"."
    },
    "SiteSettings": {
      "description": "Site Settings",
      "id": "SiteSettings",
      "type": "object",
      "properties": {
        "tagSetting": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSetting"
        },
        "disableNewCookie": {
          "description": "Whether new cookies are disabled for this site.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether active view creatives are disabled for this site.",
          "type": "boolean"
        },
        "videoActiveViewOptOutTemplate": {
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect.",
          "type": "boolean"
        },
        "vpaidAdapterChoiceTemplate": {
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "type": "string"
        }
      }
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "id": "DynamicFeed",
      "type": "object",
      "properties": {
        "hasPublished": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field."
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field."
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "status": {
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field."
        },
        "dynamicFeedId": {
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string"
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "feedIngestionStatus": {
          "readOnly": true,
          "$ref": "FeedIngestionStatus",
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field."
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        }
      }
    },
    "OmnitureSettings": {
      "description": "Omniture Integration Settings.",
      "id": "OmnitureSettings",
      "type": "object",
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      }
    },
    "BillingRateTieredRate": {
      "id": "BillingRateTieredRate",
      "type": "object",
      "properties": {
        "highValue": {
          "type": "string",
          "format": "int64",
          "description": "The maximum for this tier range."
        },
        "lowValue": {
          "type": "string",
          "description": "The minimum for this tier range.",
          "format": "int64"
        },
        "rateInMicros": {
          "description": "Rate in micros for this tier.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        }
      },
      "description": "Transcode Settings"
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "type": "object",
      "properties": {
        "keywords": {
          "type": "array",
          "items": {
            "$ref": "ContextualKeyword"
          },
          "description": "Contextual keywords that this ad targets"
        }
      },
      "description": "Contextual Keyword Targeting."
    },
    "Subaccount": {
      "description": "Contains properties of a Campaign Manager subaccount.",
      "id": "Subaccount",
      "type": "object",
      "properties": {
        "accountId": {
          "format": "int64",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "availablePermissionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this subaccount. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        }
      }
    },
    "CreativeAssetMetadata": {
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata",
      "type": "object",
      "properties": {
        "warnedValidationRules": {
          "type": "array",
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ],
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ]
          }
        },
        "clickTags": {
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array"
        },
        "detectedFeatures": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "type": "array"
        },
        "counterCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "timerCustomEvents": {
          "type": "array",
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "richMedia": {
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\".",
          "type": "string"
        },
        "exitCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "Activities": {
      "id": "Activities",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        },
        "metricNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics."
        }
      },
      "description": "Represents an activity group."
    },
    "ThirdPartyTrackingUrl": {
      "description": "Third-party Tracking URL.",
      "id": "ThirdPartyTrackingUrl",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        },
        "thirdPartyUrlType": {
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "type": "string"
        }
      }
    },
    "FloodlightActivityGroupsListResponse": {
      "id": "FloodlightActivityGroupsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "items": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Floodlight activity group collection.",
          "type": "array"
        }
      },
      "description": "Floodlight Activity Group List Response"
    },
    "DynamicTargetingKey": {
[...]
