{
  "name": "dfareporting",
  "title": "Campaign Manager 360 API",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "id": "dfareporting:v5",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "placements": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new placement.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.insert",
          "response": {
            "$ref": "Placement"
          },
          "httpMethod": "POST"
        },
        "generatetags": {
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "description": "Generates tags for a placement.",
          "parameters": {
            "tagProperties.tcfGdprMacrosIncluded": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "default": "true"
            },
            "tagProperties.gppMacrosIncluded": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "placementIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Generate tags for these placements.",
              "repeated": true
            },
            "campaignId": {
              "location": "query",
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "format": "int64",
              "type": "string"
            },
            "tagProperties.dcDbmMacroIncluded": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro."
            },
            "tagFormats": {
              "repeated": true,
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placements.generatetags",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags"
        },
        "patch": {
          "request": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "description": "Updates an existing placement. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "description": "Required. Placement ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Placement"
          }
        },
        "update": {
          "request": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing placement.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.update",
          "response": {
            "$ref": "Placement"
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "httpMethod": "GET",
          "id": "dfareporting.placements.list",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "description": "Select only placements that belong to these advertisers."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "contentCategoryIds": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true,
              "description": "Select only placements that are associated with these content categories."
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sizeIds": {
              "repeated": true,
              "description": "Select only placements that are associated with these sizes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "pricingTypes": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "description": "Select only placements with these pricing types.",
              "repeated": true,
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ]
            },
            "siteIds": {
              "type": "string",
              "location": "query",
              "description": "Select only placements that are associated with these sites.",
              "format": "int64",
              "repeated": true
            },
            "groupIds": {
              "type": "string",
              "description": "Select only placements that belong to these placement groups.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only placements with these IDs.",
              "format": "int64",
              "repeated": true
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string"
            },
            "activeStatus": {
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "placementStrategyIds": {
              "repeated": true,
              "description": "Select only placements that are associated with these placement strategies.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxEndDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "compatibilities": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "type": "string",
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "repeated": true,
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "directorySiteIds": {
              "description": "Select only placements that are associated with these directory sites.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "campaignIds": {
              "repeated": true,
              "description": "Select only placements that belong to these campaigns.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "paymentSource": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Select only placements with this payment source.",
              "location": "query",
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ]
            }
          }
        },
        "get": {
          "id": "dfareporting.placements.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Placement ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one placement by ID.",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placements/{+id}"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new floodlight activity group.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Floodlight activity Group ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Gets one floodlight activity group by ID.",
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing floodlight activity group.",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "httpMethod": "PUT",
          "response": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "patch": {
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "id": {
              "description": "Required. EventTag ID.",
              "type": "string",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "id": "dfareporting.floodlightActivityGroups.patch",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "list": {
          "id": "dfareporting.floodlightActivityGroups.list",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "type": {
              "location": "query",
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "floodlightActivityGroupType": {
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "type": "string",
              "location": "query"
            },
            "floodlightActivityGroupIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "repeated": true
            },
            "tagString": {
              "location": "query",
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string."
            },
            "floodlightActivityGroupName": {
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities with the specified floodlight activity group name."
            },
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "floodlightActivityGroupTagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query"
            },
            "floodlightConfigurationId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.list"
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "id": "dfareporting.floodlightActivities.delete",
          "description": "Deletes an existing floodlight activity.",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Floodlight activity ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.patch",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "required": true,
              "description": "Required. EventTag ID."
            }
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "description": "Updates an existing floodlight activity. This method supports patch semantics."
        },
        "generatetag": {
          "parameters": {
            "floodlightActivityId": {
              "location": "query",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "description": "Generates a tag for a floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "id": "dfareporting.floodlightActivities.generatetag"
        },
        "update": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "dfareporting.floodlightActivities.update",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing floodlight activity.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities"
        },
        "get": {
          "description": "Gets one floodlight activity by ID.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "Floodlight activity ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "httpMethod": "GET"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new floodlight activity.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.floodlightActivities.insert"
        }
      }
    },
    "accounts": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "location": "query",
              "description": "Required. Account ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "path": "userprofiles/{+profileId}/accounts",
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account. This method supports patch semantics."
        },
        "list": {
          "id": "dfareporting.accounts.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only accounts with these IDs."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            },
            "active": {
              "location": "query",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "type": "boolean"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "response": {
            "$ref": "AccountsListResponse"
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "id": "dfareporting.accounts.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one account by ID.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/accounts/{+id}"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "path": "userprofiles/{+profileId}/accounts",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account.",
          "request": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "update": {
          "id": "dfareporting.floodlightConfigurations.update",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.list",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameters": {
            "ids": {
              "repeated": true,
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one floodlight configuration by ID.",
          "id": "dfareporting.floodlightConfigurations.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameters": {
            "id": {
              "description": "Floodlight configuration ID.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.patch",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "id": {
              "required": true,
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Required. EventTag ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing floodlight configuration. This method supports patch semantics."
        }
      }
    },
    "directorySites": {
      "methods": {
        "list": {
          "id": "dfareporting.directorySites.list",
          "path": "userprofiles/{+profileId}/directorySites",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "parameters": {
            "acceptsInStreamVideoPlacements": {
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query"
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "default": "1000"
            },
            "active": {
              "location": "query",
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "type": "boolean"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "type": "boolean"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "description": "Select only directory sites with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging."
        },
        "insert": {
          "path": "userprofiles/{+profileId}/directorySites",
          "httpMethod": "POST",
          "request": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "description": "Inserts a new directory site.",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Directory site ID.",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Gets one directory site by ID.",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.get",
          "httpMethod": "GET"
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "description": "Gets a list of user role permissions, possibly filtered.",
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "parameters": {
            "ids": {
              "location": "query",
              "description": "Select only user role permissions with these IDs.",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userRolePermissions.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "format": "int64",
              "description": "User role permission ID.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "description": "Gets one user role permission by ID.",
          "id": "dfareporting.userRolePermissions.get"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Retrieves a list of languages.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/languages"
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "id": "dfareporting.tvCampaignSummaries.list",
          "parameters": {
            "countryDartId": {
              "type": "string",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "format": "int64",
              "location": "query"
            },
            "accountId": {
              "type": "string",
              "description": "Required. Account ID associated with this request.",
              "format": "int64",
              "location": "query"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field."
            },
            "profileId": {
              "description": "Required. User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "tvDataProvider": {
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "description": "Retrieves a list of TV campaign summaries.",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "id": "dfareporting.remarketingLists.list",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "parameters": {
            "floodlightActivityId": {
              "location": "query",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "default": "ASCENDING",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\"."
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active or only inactive remarketing lists."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. Select only remarketing lists owned by this advertiser."
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.update",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Required. RemarketingList ID.",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "httpMethod": "PATCH",
          "id": "dfareporting.remarketingLists.patch",
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics."
        },
        "get": {
          "id": "dfareporting.remarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Remarketing list ID.",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Gets one remarketing list by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "RemarketingList"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new remarketing list.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "id": "dfareporting.remarketingLists.insert",
          "request": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "httpMethod": "POST"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "id": "dfareporting.operatingSystemVersions.get",
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Operating system version ID."
            }
          },
          "description": "Gets one operating system version by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "description": "Retrieves a list of operating system versions.",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "response": {
            "$ref": "DimensionValueList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "100",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "id": "dfareporting.dimensionValues.query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "httpMethod": "POST",
          "description": "Retrieves list of report dimension values for a list of filters."
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "summaryAccountId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Account ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "description": "Gets the account's active ad summary by account ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "httpMethod": "GET"
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "generateCode": {
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.dynamicProfiles.generateCode"
        },
        "insert": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "description": "Inserts a new dynamic profile.",
          "id": "dfareporting.dynamicProfiles.insert",
          "path": "studio/dynamicProfiles",
          "httpMethod": "POST",
          "request": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "get": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.dynamicProfiles.get",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "response": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets a dynamic profile by ID.",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}"
        },
        "publish": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "description": "Publish for a dynamic profile.",
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.dynamicProfiles.publish"
        },
        "update": {
          "parameters": {},
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Updates an existing dynamic profile.",
          "request": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "path": "studio/dynamicProfiles",
          "flatPath": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "id": "dfareporting.remarketingListShares.patch",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "remarketingListId": {
              "description": "Remarketing list ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "description": "Gets one remarketing list share by remarketing list ID.",
          "id": "dfareporting.remarketingListShares.get"
        },
        "update": {
          "id": "dfareporting.remarketingListShares.update",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share."
        }
      }
    },
    "campaigns": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/campaigns",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string"
            },
            "advertiserGroupIds": {
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only campaigns that belong to this subaccount.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "archived": {
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "location": "query",
              "type": "boolean"
            },
            "excludedIds": {
              "repeated": true,
              "description": "Exclude campaigns with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "atLeastOneOptimizationActivity": {
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity.",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only campaigns with these IDs.",
              "format": "int64",
              "repeated": true
            },
            "overriddenEventTagId": {
              "type": "string",
              "description": "Select only campaigns that have overridden this event tag ID.",
              "location": "query",
              "format": "int64"
            },
            "advertiserIds": {
              "description": "Select only campaigns that belong to these advertisers.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "id": "dfareporting.campaigns.list"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "description": "Inserts a new campaign.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.insert"
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "id": "dfareporting.campaigns.patch",
          "response": {
            "$ref": "Campaign"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "description": "Required. Campaign ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Campaign"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Campaign ID.",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Gets one campaign by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.campaigns.get",
          "response": {
            "$ref": "Campaign"
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing campaign.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Campaign"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.update"
        }
      }
    },
    "sites": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "Site ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Site"
          },
          "httpMethod": "GET",
          "description": "Gets one site by ID.",
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}",
          "id": "dfareporting.sites.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "adWordsSite": {
              "type": "boolean",
              "description": "Select only AdWords sites.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "acceptsPublisherPaidPlacements": {
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements.",
              "location": "query"
            },
            "directorySiteIds": {
              "description": "Select only sites with these directory site IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "campaignIds": {
              "repeated": true,
              "format": "int64",
              "location": "query",
              "description": "Select only sites with these campaign IDs.",
              "type": "string"
            },
            "unmappedSite": {
              "location": "query",
              "description": "Select only sites that have not been mapped to a directory site.",
              "type": "boolean"
            },
            "ids": {
              "description": "Select only sites with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only sites with this subaccount ID."
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "approved": {
              "type": "boolean",
              "description": "Select only approved sites.",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "type": "string"
            },
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32"
            }
          },
          "path": "userprofiles/{+profileId}/sites",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SitesListResponse"
[...]
