{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "/dfareporting/v5/",
  "servicePath": "dfareporting/v5/",
  "resources": {
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "id": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User role permission group ID.",
              "type": "string"
            }
          },
          "description": "Gets one user role permission group by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets a list of all supported user role permission groups.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          }
        }
      }
    },
    "videoFormats": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Lists available video formats.",
          "httpMethod": "GET",
          "id": "dfareporting.videoFormats.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/videoFormats"
        },
        "get": {
          "parameters": {
            "id": {
              "type": "integer",
              "description": "Video format ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int32",
              "required": true
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Gets one video format by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "id": "dfareporting.videoFormats.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "response": {
            "$ref": "VideoFormat"
          }
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "The user profile ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "flatPath": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          },
          "parameters": {},
          "description": "Retrieves list of user profiles for a user.",
          "httpMethod": "GET",
          "path": "userprofiles",
          "id": "dfareporting.userProfiles.list",
          "parameterOrder": []
        }
      }
    },
    "placements": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Placement ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets one placement by ID.",
          "id": "dfareporting.placements.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "request": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Updates an existing placement."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "request": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Placement ID.",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing placement. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "generatetags": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "tagFormats": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "repeated": true,
              "location": "query",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "type": "string"
            },
            "tagProperties.dcDbmMacroIncluded": {
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "placementIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Generate tags for these placements."
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "default": "true",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "location": "query"
            },
            "tagProperties.gppMacrosIncluded": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            }
          },
          "description": "Generates tags for a placement.",
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "id": "dfareporting.placements.generatetags",
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "id": "dfareporting.placements.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Inserts a new placement.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Placement"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "directorySiteIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements that are associated with these directory sites.",
              "location": "query",
              "repeated": true
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "groupIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only placements that belong to these placement groups.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "minEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "paymentSource": {
              "description": "Select only placements with this payment source.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ]
            },
            "activeStatus": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "maxStartDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "description": "Select only placements with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "location": "query"
            },
            "placementStrategyIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only placements that are associated with these placement strategies.",
              "type": "string"
            },
            "advertiserIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only placements that belong to these advertisers.",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            },
            "contentCategoryIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only placements that are associated with these content categories."
            },
            "pricingTypes": {
              "repeated": true,
              "location": "query",
              "description": "Select only placements with these pricing types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ]
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sizeIds": {
              "description": "Select only placements that are associated with these sizes.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "campaignIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only placements that belong to these campaigns.",
              "type": "string"
            },
            "siteIds": {
              "description": "Select only placements that are associated with these sites.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "compatibilities": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string",
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "location": "query",
              "repeated": true
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            }
          },
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "PlacementsListResponse"
          }
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            },
            "floodlightActivityGroupType": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "floodlightActivityGroupName": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "floodlightActivityGroupIds": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "floodlightConfigurationId": {
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "floodlightActivityGroupTagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query"
            },
            "tagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "id": "dfareporting.floodlightActivities.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Inserts a new floodlight activity.",
          "id": "dfareporting.floodlightActivities.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "description": "Required. EventTag ID.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "id": "dfareporting.floodlightActivities.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.delete",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Floodlight activity ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Deletes an existing floodlight activity.",
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "Floodlight activity ID.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one floodlight activity by ID.",
          "id": "dfareporting.floodlightActivities.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}"
        },
        "update": {
          "request": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing floodlight activity.",
          "httpMethod": "PUT",
          "id": "dfareporting.floodlightActivities.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities"
        },
        "generatetag": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "id": "dfareporting.floodlightActivities.generatetag",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "floodlightActivityId": {
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "description": "Generates a tag for a floodlight activity.",
          "httpMethod": "POST"
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/browsers",
          "id": "dfareporting.browsers.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of browsers.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "response": {
            "$ref": "BrowsersListResponse"
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/creativeFields",
          "id": "dfareporting.creativeFields.insert",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Inserts a new creative field.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "request": {
            "$ref": "CreativeField"
          }
        },
        "patch": {
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "CreativeField ID.",
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "id": "dfareporting.creativeFields.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/creativeFields"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\"."
            },
            "advertiserIds": {
              "type": "string",
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only creative fields with these IDs.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging."
        },
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "location": "path",
              "type": "string",
              "description": "Creative Field ID",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one creative field by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "id": "dfareporting.creativeFields.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "response": {
            "$ref": "CreativeField"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/creativeFields",
          "id": "dfareporting.creativeFields.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "request": {
            "$ref": "CreativeField"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Creative Field ID",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes an existing creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "id": "dfareporting.creativeFields.delete",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only targeting templates with these IDs.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only targeting templates with this advertiser ID."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.targetingTemplates.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "id": "dfareporting.targetingTemplates.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Required. RemarketingList ID."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "request": {
            "$ref": "TargetingTemplate"
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new targeting template.",
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "description": "Targeting template ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one targeting template by ID.",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "id": "dfareporting.targetingTemplates.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "update": {
          "id": "dfareporting.targetingTemplates.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing targeting template.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          }
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "id": "dfareporting.reports.get",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "reportId": {
              "description": "The ID of the report.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieves a report by its ID."
        },
        "update": {
          "id": "dfareporting.reports.update",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the report.",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates a report.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "Report"
          }
        },
        "delete": {
          "id": "dfareporting.reports.delete",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path"
            },
            "reportId": {
              "required": true,
              "format": "int64",
              "description": "The ID of the report.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a report by its ID."
        },
        "run": {
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string"
            },
            "reportId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The ID of the report.",
              "location": "path"
            },
            "synchronous": {
              "default": "false",
              "type": "boolean",
              "description": "If set and true, tries to run the report synchronously.",
              "location": "query"
            }
          },
          "description": "Runs a report.",
          "httpMethod": "POST",
          "id": "dfareporting.reports.run",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}/run"
        },
        "insert": {
          "request": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true
            }
          },
          "description": "Creates a report.",
          "path": "userprofiles/{profileId}/reports",
          "id": "dfareporting.reports.insert",
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "10",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            },
            "scope": {
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "enum": [
                "ALL",
                "MINE"
              ],
              "location": "query",
              "default": "MINE",
              "type": "string",
              "description": "The scope that defines which results are returned."
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sortField": {
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "location": "query",
              "description": "The field by which to sort the list.",
              "default": "LAST_MODIFIED_TIME",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves list of reports.",
          "httpMethod": "GET",
          "id": "dfareporting.reports.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/reports",
          "flatPath": "userprofiles/{profileId}/reports",
          "response": {
            "$ref": "ReportList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        }
      },
      "resources": {
        "files": {
          "methods": {
            "get": {
              "id": "dfareporting.reports.files.get",
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "supportsMediaDownload": true,
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "parameters": {
                "fileId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the report file.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "type": "string"
                },
                "reportId": {
                  "location": "path",
                  "description": "The ID of the report.",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                }
              },
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "httpMethod": "GET",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "response": {
                "$ref": "File"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ]
            },
            "list": {
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "response": {
                "$ref": "FileList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "id": "dfareporting.reports.files.list",
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "parameters": {
                "maxResults": {
                  "format": "int32",
                  "location": "query",
                  "default": "10",
                  "type": "integer",
                  "description": "Maximum number of results to return."
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "location": "query",
                  "default": "DESCENDING",
                  "type": "string",
                  "description": "Order of sorted results."
                },
                "reportId": {
                  "type": "string",
                  "description": "The ID of the parent report.",
                  "location": "path",
                  "format": "int64",
                  "required": true
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous result page.",
                  "type": "string",
                  "location": "query"
                },
                "sortField": {
                  "default": "LAST_MODIFIED_TIME",
                  "type": "string",
                  "description": "The field by which to sort the list.",
                  "location": "query",
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ]
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "required": true
                }
              },
              "description": "Lists files for a report.",
              "httpMethod": "GET"
            }
          }
        },
        "compatibleFields": {
          "methods": {
            "query": {
              "request": {
                "$ref": "Report"
              },
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "response": {
                "$ref": "CompatibleFields"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "description": "The Campaign Manager 360 user profile ID.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "id": "dfareporting.reports.compatibleFields.query",
              "parameterOrder": [
                "profileId"
              ],
              "path": "userprofiles/{profileId}/reports/compatiblefields/query"
            }
          }
        }
      }
    },
    "countries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "response": {
            "$ref": "Country"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.countries.get",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "dartId": {
              "description": "Country DART ID.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Gets one country by ID."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of countries.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/countries",
          "id": "dfareporting.countries.list",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "get": {
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Dynamic profile ID."
            }
          },
          "description": "Gets a dynamic profile by ID.",
          "httpMethod": "GET",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "id": "dfareporting.dynamicProfiles.get",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "update": {
          "id": "dfareporting.dynamicProfiles.update",
          "parameterOrder": [],
          "path": "studio/dynamicProfiles",
          "parameters": {},
          "description": "Updates an existing dynamic profile.",
          "httpMethod": "PUT",
          "flatPath": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicProfile"
          }
        },
        "generateCode": {
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "id": "dfareporting.dynamicProfiles.generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          }
        },
        "publish": {
          "id": "dfareporting.dynamicProfiles.publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "httpMethod": "POST",
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Publish for a dynamic profile."
        },
        "insert": {
          "flatPath": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.insert",
          "parameterOrder": [],
          "path": "studio/dynamicProfiles",
          "parameters": {},
          "description": "Inserts a new dynamic profile.",
          "httpMethod": "POST"
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "100",
              "type": "integer",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            }
          },
          "description": "Retrieves list of report dimension values for a list of filters.",
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "id": "dfareporting.dimensionValues.query",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "directorySites": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Directory site ID.",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Gets one directory site by ID.",
          "id": "dfareporting.directorySites.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "response": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "type": "string",
              "description": "Select only directory sites with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "type": "string"
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "type": "boolean",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank."
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/directorySites",
          "id": "dfareporting.directorySites.list",
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Inserts a new directory site.",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/directorySites",
          "id": "dfareporting.directorySites.insert",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySite"
          }
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only user role permissions with these IDs.",
              "type": "string"
            }
          },
          "description": "Gets a list of user role permissions, possibly filtered."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "description": "User role permission ID.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one user role permission by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "id": "dfareporting.userRolePermissions.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "names": {
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "objectType": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys with this object type."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID."
            },
            "objectId": {
              "location": "query",
              "format": "int64",
              "description": "Select only dynamic targeting keys with this object ID.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of dynamic targeting keys.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "response": {
            "$ref": "DynamicTargetingKey"
          }
        },
        "delete": {
          "parameters": {
            "objectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "name": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            },
            "objectType": {
              "required": true,
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query",
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "type": "string"
            }
          },
          "description": "Deletes an existing dynamic targeting key.",
          "httpMethod": "DELETE",
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "response": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "description": "Creative group ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one creative group by ID.",
          "id": "dfareporting.creativeGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}"
        },
        "update": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates an existing creative group.",
          "id": "dfareporting.creativeGroups.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "request": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "id": "dfareporting.creativeGroups.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Inserts a new creative group."
        },
        "patch": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "id": "dfareporting.creativeGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. Creative Group ID.",
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "request": {
            "$ref": "CreativeGroup"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "id": "dfareporting.creativeGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "format": "int64",
              "description": "Select only creative groups with these IDs.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "groupNumber": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Select only creative groups that belong to this subgroup."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\"."
            },
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only creative groups that belong to these advertisers."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroupsListResponse"
          }
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Remarketing list ID.",
              "type": "string"
            }
          },
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.remarketingLists.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "response": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Updates an existing remarketing list.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive remarketing lists."
            },
            "name": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
[...]
