{
  "canonicalName": "Dfareporting",
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "kind": "discovery#restDescription",
  "id": "dfareporting:v5",
  "version": "v5",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "revision": "20260605",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "schemas": {
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object",
      "properties": {
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "type": {
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "LandingPage": {
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        },
        "deepLinks": {
          "items": {
            "$ref": "DeepLink"
          },
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array"
        },
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string"
        }
      }
    },
    "SiteVideoSettings": {
      "id": "SiteVideoSettings",
      "description": "Video Settings",
      "type": "object",
      "properties": {
        "orientation": {
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this site.",
          "$ref": "SiteCompanionSetting"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\".",
          "type": "string"
        },
        "publisherSpecificationId": {
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "format": "int64"
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteSkippableSetting"
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteTranscodeSetting"
        }
      }
    },
    "AccountUserProfile": {
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "userRoleId": {
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string"
        },
        "userAccessType": {
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "traffickerType": {
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        }
      },
      "id": "AccountUserProfile"
    },
    "AdvertiserInvoicesListResponse": {
      "description": "Invoice List Response",
      "type": "object",
      "properties": {
        "invoices": {
          "items": {
            "$ref": "Invoice"
          },
          "description": "Invoice collection",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "AdvertiserInvoicesListResponse"
    },
    "MobileCarrier": {
      "description": "Contains information about a mobile carrier that can be targeted by ads.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this mobile carrier.",
          "type": "string"
        },
        "name": {
          "description": "Name of this mobile carrier.",
          "type": "string"
        },
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this mobile carrier belongs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarrier\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this mobile carrier belongs.",
          "type": "string"
        }
      },
      "id": "MobileCarrier"
    },
    "ListTargetingExpression": {
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      }
    },
    "SiteContact": {
      "id": "SiteContact",
      "description": "Site Contact",
      "type": "object",
      "properties": {
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "contactType": {
          "description": "Site contact type.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ]
        }
      }
    },
    "UserRole": {
      "description": "Contains properties of auser role, which is used to manage user access.",
      "type": "object",
      "properties": {
        "parentUserRoleId": {
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string"
        },
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role.",
          "type": "array"
        }
      },
      "id": "UserRole"
    },
    "DateRange": {
      "id": "DateRange",
      "description": "Represents a date range.",
      "type": "object",
      "properties": {
        "relativeDateRange": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The date range relative to the date of when the report is run.",
          "type": "string"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "BillingProfile": {
      "id": "BillingProfile",
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "type": "object",
      "properties": {
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "secondaryPaymentsCustomerId": {
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "paymentsCustomerId": {
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "invoiceLevel": {
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ]
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.This is a read-only field.",
          "type": "string"
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "description": "Floodlight Configuration List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "description": "Floodlight configuration collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "id": "FloodlightConfigurationsListResponse"
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          }
        }
      },
      "id": "AudienceSegmentGroup"
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "properties": {
        "keywords": {
          "items": {
            "$ref": "ContextualKeyword"
          },
          "description": "Contextual keywords that this ad targets",
          "type": "array"
        }
      }
    },
    "ConversionsBatchUpdateRequest": {
      "id": "ConversionsBatchUpdateRequest",
      "description": "Update Conversions Request.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update.",
          "type": "array"
        }
      }
    },
    "Recipient": {
      "id": "Recipient",
      "description": "Represents a recipient.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        },
        "deliveryType": {
          "description": "The delivery type for the recipient.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LINK",
            "ATTACHMENT"
          ]
        },
        "email": {
          "description": "The email address of the recipient.",
          "type": "string"
        }
      }
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "description": "Object Filter.",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ],
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "type": "string"
        },
        "objectIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        }
      }
    },
    "AccountActiveAdSummary": {
      "id": "AccountActiveAdSummary",
      "description": "Gets a summary of active ads in an account.",
      "type": "object",
      "properties": {
        "accountId": {
          "format": "int64",
          "description": "ID of the account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\".",
          "type": "string"
        },
        "activeAds": {
          "description": "Ads that have been activated for the account",
          "type": "string",
          "format": "int64"
        },
        "availableAds": {
          "description": "Ads that can be activated for the account.",
          "type": "string",
          "format": "int64"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "description": "Maximum number of active ads allowed for the account.",
          "type": "string"
        }
      }
    },
    "Activities": {
      "description": "Represents an activity group.",
      "type": "object",
      "properties": {
        "metricNames": {
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        },
        "filters": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array"
        }
      },
      "id": "Activities"
    },
    "FsCommand": {
      "description": "FsCommand.",
      "type": "object",
      "properties": {
        "left": {
          "format": "int32",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "type": "integer"
        },
        "top": {
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "type": "integer",
          "format": "int32"
        },
        "positionOption": {
          "description": "Position in the browser where the window will open.",
          "type": "string",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ]
        },
        "windowWidth": {
          "description": "Width of the window.",
          "type": "integer",
          "format": "int32"
        },
        "windowHeight": {
          "description": "Height of the window.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FsCommand"
    },
    "FloodlightActivityPublisherDynamicTag": {
      "description": "Publisher Dynamic Tag",
      "type": "object",
      "properties": {
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "siteId": {
          "description": "Site ID of this dynamic tag.",
          "type": "string",
          "format": "int64"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string"
        }
      },
      "id": "FloodlightActivityPublisherDynamicTag"
    },
    "CampaignCreativeAssociation": {
      "description": "Identifies a creative which has been associated with a given campaign.",
      "type": "object",
      "properties": {
        "creativeId": {
          "description": "ID of the creative associated with the campaign. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        }
      },
      "id": "CampaignCreativeAssociation"
    },
    "Ad": {
      "description": "Contains properties of a Campaign Manager ad.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "deliverySchedule": {
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DeliverySchedule"
        },
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "placementAssignments": {
          "items": {
            "$ref": "PlacementAssignment"
          },
          "description": "Placement assignments for this ad.",
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "creativeGroupAssignments": {
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this ad. This is a required field on insertion.",
          "type": "string"
        },
        "targetingTemplateId": {
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\".",
          "type": "string"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "geoTargeting": {
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "GeoTargeting"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting information for this ad.",
          "$ref": "ContextualKeywordTargeting"
        },
        "defaultClickThroughEventTagProperties": {
          "description": "Default click-through event tag properties for this ad.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "size": {
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD.",
          "$ref": "Size"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "eventTagOverrides": {
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Event tag overrides for this ad.",
          "type": "array"
        },
        "archived": {
          "description": "Whether this ad is archived. When true, active must be false.",
          "type": "boolean"
        },
        "dynamicClickTracker": {
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.",
          "type": "boolean"
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "KeyValueTargetingExpression"
        },
        "audienceSegmentId": {
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this ad.",
          "type": "string"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "TechnologyTargeting"
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DayPartTargeting"
        },
        "languageTargeting": {
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "LanguageTargeting"
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "type": "string"
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "remarketingListExpression": {
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "ListTargetingExpression"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "creativeRotation": {
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment .",
          "$ref": "CreativeRotation"
        }
      },
      "id": "Ad"
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "description": "Contains dynamic profile version information.",
      "type": "object",
      "properties": {
        "versionId": {
          "format": "int64",
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "type": "string",
          "readOnly": true
        },
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          }
        }
      }
    },
    "StudioCreativeAsset": {
      "id": "StudioCreativeAsset",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object",
      "properties": {
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string"
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string",
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "filesize": {
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ConversionsBatchInsertRequest": {
      "description": "Insert Conversions Request.",
      "type": "object",
      "properties": {
        "conversions": {
          "description": "The set of conversions to insert.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "ConversionsBatchInsertRequest"
    },
    "CartData": {
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)",
      "type": "object",
      "properties": {
        "merchantId": {
          "format": "int64",
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "merchantFeedLanguage": {
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "items": {
          "description": "Data of the items purchased.",
          "type": "array",
          "items": {
            "$ref": "CartDataItem"
          }
        }
      },
      "id": "CartData"
    },
    "ConversionError": {
      "id": "ConversionError",
      "description": "The error code and description for a conversion that failed to insert or update.",
      "type": "object",
      "properties": {
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "code": {
          "description": "The error code.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\".",
          "type": "string"
        }
      }
    },
    "Metro": {
      "id": "Metro",
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string",
          "format": "int64"
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "type": "string",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        }
      }
    },
    "GeoTargeting": {
      "description": "Geographical Targeting.",
      "type": "object",
      "properties": {
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "type": "array"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "type": "array"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array"
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region.",
          "type": "array"
        },
        "cities": {
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        },
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        }
      },
      "id": "GeoTargeting"
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "description": ".",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        }
      }
    },
    "ClickThroughUrlSuffixProperties": {
      "id": "ClickThroughUrlSuffixProperties",
      "description": "Click Through URL Suffix settings.",
      "type": "object",
      "properties": {
        "overrideInheritedSuffix": {
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value.",
          "type": "boolean"
        },
        "clickThroughUrlSuffix": {
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long.",
          "type": "string"
        }
      }
    },
    "UserRolePermissionGroupsListResponse": {
      "id": "UserRolePermissionGroupsListResponse",
      "description": "User Role Permission Group List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroupsListResponse\".",
          "type": "string"
        },
        "userRolePermissionGroups": {
          "description": "User role permission group collection.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermissionGroup"
          }
        }
      }
    },
    "LookbackConfiguration": {
      "id": "LookbackConfiguration",
      "description": "Lookback configuration settings.",
      "type": "object",
      "properties": {
        "clickDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        },
        "postImpressionActivitiesDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        }
      }
    },
    "PlacementsGenerateTagsResponse": {
      "description": "Placement GenerateTags Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        },
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        }
      },
      "id": "PlacementsGenerateTagsResponse"
    },
    "Size": {
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "type": "object",
      "properties": {
        "width": {
          "format": "int32",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        },
        "height": {
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "iab": {
          "description": "IAB standard size. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        }
      },
      "id": "Size"
    },
    "DynamicRules": {
      "description": "Contains dynamic rules information.",
      "type": "object",
      "properties": {
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "type": "string",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ]
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "customRules": {
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          }
        },
        "remarketingValueAttributes": {
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "type": "array",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "ruleType": {
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "type": "string",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ]
        },
        "autoTargetedFieldIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array"
        },
        "weightFieldId": {
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "type": "integer"
        },
        "customValueFields": {
          "items": {
            "$ref": "CustomValueField"
          },
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array"
        }
      },
      "id": "DynamicRules"
    },
    "CampaignCreativeAssociationsListResponse": {
      "id": "CampaignCreativeAssociationsListResponse",
      "description": "Campaign Creative Association List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Campaign creative association collection",
          "type": "array"
        }
      }
    },
    "YoutubeSettings": {
      "id": "YoutubeSettings",
      "description": "Contains the YouTube settings.",
      "type": "object",
      "properties": {
        "headlines": {
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "businessLogoCreativeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported.",
          "type": "array"
        },
        "descriptions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The descriptions. Currently only one description is supported.",
          "type": "array"
        },
        "longHeadlines": {
          "description": "Optional. The long headlines. Currently only one long headline is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "callToActions": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ],
            "type": "string"
          },
          "description": "Optional. The call to actions. Currently only one call to action is supported.",
          "type": "array"
        },
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        }
      }
    },
    "LastModifiedInfo": {
      "description": "Modification timestamp.",
      "type": "object",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "LastModifiedInfo"
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "type": "object",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "id": "ListPopulationClause"
    },
    "ProximityFilter": {
      "description": "Contains proximity filter information.",
      "type": "object",
      "properties": {
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ]
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ]
        },
        "radiusValue": {
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ProximityFilter"
    },
    "ReportCompatibleFields": {
      "id": "ReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "type": "object",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "PlatformType": {
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this platform type.",
          "type": "string"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        }
      },
      "id": "PlatformType"
    },
    "ThirdPartyTrackingUrl": {
      "id": "ThirdPartyTrackingUrl",
      "description": "Third-party Tracking URL.",
      "type": "object",
      "properties": {
        "thirdPartyUrlType": {
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "type": "string",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ]
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      }
    },
    "RuleBlock": {
      "description": "Contains a list of field filters that the given custom rule will apply.",
      "type": "object",
      "properties": {
        "fieldFilter": {
          "items": {
            "$ref": "FieldFilter"
          },
          "description": "Optional. A list of non-auto field filters",
          "type": "array"
        }
      },
      "id": "RuleBlock"
    },
    "PlacementGroup": {
      "description": "Contains properties of a package or roadblock.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "placementGroupType": {
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "primaryPlacementId": {
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string"
        },
        "activeStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        }
      },
      "id": "PlacementGroup"
    },
    "Country": {
      "id": "Country",
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object",
      "properties": {
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "tvDataProviders": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ],
            "type": "string"
          },
          "description": "Output only. The TV data providers supported in this country.",
          "type": "array"
        }
      }
    },
    "ContentSourceMetaData": {
      "id": "ContentSourceMetaData",
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "type": "object",
      "properties": {
        "fieldNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of column names in the content source.",
          "type": "array"
        },
        "rowNumber": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of rows in the content source.",
          "type": "integer"
        },
        "charset": {
          "readOnly": true,
          "description": "Output only. The charset of the content source.",
          "type": "string"
        },
        "separator": {
          "description": "Output only. The separator of the content source.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingRatesListResponse": {
      "description": "Billing Rate List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingRates": {
          "description": "Billing rates collection.",
          "type": "array",
          "items": {
            "$ref": "BillingRate"
          }
        }
      },
      "id": "BillingRatesListResponse"
    },
    "MobileAppsListResponse": {
      "description": "Mobile app List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "MobileApp"
          },
          "description": "Mobile apps collection.",
          "type": "array"
        }
      },
      "id": "MobileAppsListResponse"
    },
    "AdvertisersListResponse": {
      "description": "Advertiser List Response",
      "type": "object",
      "properties": {
        "advertisers": {
          "description": "Advertiser collection.",
          "type": "array",
          "items": {
            "$ref": "Advertiser"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "AdvertisersListResponse"
    },
    "UserRolesListResponse": {
      "description": "User Role List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "userRoles": {
          "description": "User role collection.",
          "type": "array",
          "items": {
            "$ref": "UserRole"
          }
        }
      },
      "id": "UserRolesListResponse"
    },
    "FieldFilter": {
      "id": "FieldFilter",
      "description": "Contains field filter information.",
      "type": "object",
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ],
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ],
          "description": "Optional. Left hand side of the expression match type.",
          "type": "string"
        },
        "stringValue": {
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING.",
          "type": "string"
        },
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "valueType": {
          "description": "Optional. Right hand side of the expression.",
          "type": "string",
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ],
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ]
        },
        "boolValue": {
          "description": "Optional. The boolean values, only applicable when rhs_value_type is BOOL.",
          "type": "boolean"
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. The field ID on the left hand side of the expression.",
          "type": "integer"
        },
        "dependentFieldValue": {
          "description": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT.",
          "$ref": "DependentFieldValue"
        }
      }
    },
    "ContentCategory": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        }
      },
      "id": "ContentCategory"
    },
    "OffsetPosition": {
      "id": "OffsetPosition",
      "description": "Offset Position.",
      "type": "object",
      "properties": {
        "top": {
          "format": "int32",
          "description": "Offset distance from top side of an asset or a window.",
          "type": "integer"
        },
        "left": {
          "format": "int32",
          "description": "Offset distance from left side of an asset or a window.",
          "type": "integer"
        }
      }
    },
    "Advertiser": {
      "description": "Contains properties of a Campaign Manager advertiser.",
      "type": "object",
      "properties": {
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "type": "string",
          "format": "int64"
        },
        "suspended": {
          "description": "Suspension status of this advertiser.",
          "type": "boolean"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "status": {
          "description": "Status of this advertiser.",
          "type": "string",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ]
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. ",
          "type": "string"
        },
        "advertiserGroupId": {
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "type": "string",
          "format": "int64"
        },
        "originalFloodlightConfigurationId": {
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "euPoliticalAdsDeclaration": {
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "type": "string"
        }
      },
      "id": "Advertiser"
    },
    "PathToConversionReportCompatibleFields": {
      "id": "PathToConversionReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "conversionDimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "perInteractionDimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "type": "array"
        },
        "customFloodlightVariables": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "type": "array"
        }
      }
    },
    "PlacementAssignment": {
      "description": "Placement Assignment.",
      "type": "object",
      "properties": {
        "placementId": {
          "description": "ID of the placement to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslRequired": {
[...]
