{
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "title": "Campaign Manager 360 API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "dfareporting",
  "canonicalName": "Dfareporting",
  "version": "v5",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "id": "dfareporting:v5",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "schemas": {
    "CreativeAssetMetadata": {
      "properties": {
        "exitCustomEvents": {
          "type": "array",
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "id": {
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\"."
        },
        "clickTags": {
          "type": "array",
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "items": {
            "$ref": "ClickTag"
          }
        },
        "timerCustomEvents": {
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "ID of the creative asset. This is a required field."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "richMedia": {
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "warnedValidationRules": {
          "items": {
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ]
          },
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "type": "array"
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata"
    },
    "UserProfile": {
      "type": "object",
      "id": "UserProfile",
      "properties": {
        "userName": {
          "description": "The user name.",
          "type": "string"
        },
        "subAccountName": {
          "description": "The sub account name this profile belongs to if applicable.",
          "type": "string"
        },
        "subAccountId": {
          "description": "The sub account ID this profile belongs to if applicable.",
          "type": "string",
          "format": "int64"
        },
        "profileId": {
          "description": "The unique ID of the user profile.",
          "type": "string",
          "format": "int64"
        },
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "accountId": {
          "description": "The account ID to which this profile belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\".",
          "type": "string"
        }
      },
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. "
    },
    "RemarketingList": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "description": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Remarketing list description."
        },
        "lifeSpan": {
          "format": "int64",
          "type": "string",
          "description": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive."
        },
        "listPopulationRule": {
          "$ref": "ListPopulationRule",
          "description": "Rule used to populate the remarketing list with users."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "name": {
          "description": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this remarketing list is active."
        },
        "listSource": {
          "type": "string",
          "description": "Product from which this remarketing list was originated.",
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ]
        },
        "id": {
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "listSize": {
          "type": "string",
          "format": "int64",
          "description": "Number of users currently in the list. This is a read-only field."
        }
      },
      "id": "RemarketingList",
      "description": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource."
    },
    "VideoFormat": {
      "description": "Contains information about supported video formats.",
      "id": "VideoFormat",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the video format.",
          "type": "integer",
          "format": "int32"
        },
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        },
        "fileType": {
          "type": "string",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "File type of the video format."
        },
        "targetBitRate": {
          "format": "int32",
          "description": "The target bit rate of this video format.",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        }
      }
    },
    "CrossDimensionReachReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "properties": {
        "overlapMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report."
        },
        "breakdown": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report."
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CrossDimensionReachReportCompatibleFields"
    },
    "AccountPermission": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\"."
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "permissionGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Permission group of this account permission."
        },
        "accountProfiles": {
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          },
          "type": "array"
        },
        "level": {
          "description": "Administrative level required to enable this account permission.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        },
        "id": {
          "description": "ID of this account permission.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AccountPermission",
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account."
    },
    "SitesListResponse": {
      "description": "Site List Response",
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "Site collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\"."
        }
      },
      "type": "object",
      "id": "SitesListResponse"
    },
    "CreativeAsset": {
      "description": "Creative Asset.",
      "id": "CreativeAsset",
      "type": "object",
      "properties": {
        "frameRate": {
          "type": "number",
          "format": "float",
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "active": {
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "mimeType": {
          "type": "string",
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "backupImageExit": {
          "$ref": "CreativeCustomEvent",
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA."
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "transparency": {
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets.",
          "type": "boolean"
        },
        "originalBackup": {
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "zipFilesize": {
          "type": "string",
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "additionalSizes": {
          "type": "array",
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "items": {
            "$ref": "Size"
          }
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "type": "string",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ]
        },
        "artworkType": {
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ]
        },
        "customStartTimeValue": {
          "type": "integer",
          "format": "int32",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0."
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "type": "array"
        },
        "role": {
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. "
        },
        "zIndex": {
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "bitRate": {
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "horizontallyLocked": {
          "type": "boolean",
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        },
        "position": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "positionTopUnit": {
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA."
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "startTimeType": {
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA."
        },
        "streamingServingUrl": {
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "audioSampleRate": {
          "format": "int32",
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer"
        },
        "mediaDuration": {
          "format": "float",
          "type": "number",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "companionCreativeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true.",
          "type": "array"
        },
        "audioBitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "hideSelectionBoxes": {
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "flashVersion": {
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "windowMode": {
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ],
          "type": "string",
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ]
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "alignment": {
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL ."
        },
        "durationType": {
          "type": "string",
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA."
        },
        "zipFilename": {
          "type": "string",
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "childAssetType": {
          "type": "string",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ]
        },
        "displayType": {
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "type": "string"
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "format": "float",
          "type": "number"
        },
        "positionLeftUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "politeLoad": {
          "description": "Whether this asset is used as a polite load asset.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "expandedDimension": {
          "$ref": "Size",
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        }
      }
    },
    "CreativeGroupAssignment": {
      "properties": {
        "creativeGroupNumber": {
          "description": "Creative group number of the creative group assignment.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CREATIVE_GROUP_ONE",
            "CREATIVE_GROUP_TWO"
          ]
        },
        "creativeGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative group to be assigned."
        }
      },
      "type": "object",
      "id": "CreativeGroupAssignment",
      "description": "Creative Group Assignment."
    },
    "UserRolePermissionGroup": {
      "properties": {
        "id": {
          "description": "ID of this user role permission.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a grouping of related user role permissions.",
      "id": "UserRolePermissionGroup"
    },
    "DayPartTargeting": {
      "type": "object",
      "id": "DayPartTargeting",
      "properties": {
        "hoursOfDay": {
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "userLocalTime": {
          "type": "boolean",
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies."
        },
        "daysOfWeek": {
          "type": "array",
          "items": {
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" "
        }
      },
      "description": "Day Part Targeting."
    },
    "DimensionValueList": {
      "type": "object",
      "description": "Represents the list of DimensionValue resources.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "items": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "The dimension values returned in this response.",
          "type": "array"
        }
      },
      "id": "DimensionValueList"
    },
    "FloodlightActivityGroup": {
      "type": "object",
      "description": "Contains properties of a Floodlight activity group.",
      "properties": {
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "id": {
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "FloodlightActivityGroup"
    },
    "ConnectionType": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this connection type.",
          "format": "int64"
        }
      },
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "id": "ConnectionType"
    },
    "FloodlightActivityPublisherDynamicTag": {
      "properties": {
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "viewThrough": {
          "type": "boolean",
          "description": "Whether this tag is applicable only for view-throughs."
        },
        "clickThrough": {
          "type": "boolean",
          "description": "Whether this tag is applicable only for click-throughs."
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID of this dynamic tag.",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "format": "int64"
        },
        "dynamicTag": {
          "$ref": "FloodlightActivityDynamicTag",
          "description": "Dynamic floodlight tag."
        }
      },
      "type": "object",
      "description": "Publisher Dynamic Tag",
      "id": "FloodlightActivityPublisherDynamicTag"
    },
    "ContentCategory": {
      "id": "ContentCategory",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\"."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this content category. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "id": {
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "OptimizationActivity": {
      "description": "Creative optimization activity.",
      "type": "object",
      "id": "OptimizationActivity",
      "properties": {
        "floodlightActivityId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field."
        },
        "weight": {
          "type": "integer",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "format": "int32"
        },
        "floodlightActivityIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field."
        }
      }
    },
    "RichMediaExitOverride": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "exitId": {
          "format": "int64",
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        }
      },
      "id": "RichMediaExitOverride",
      "description": "Rich Media Exit Override.",
      "type": "object"
    },
    "ReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        }
      },
      "id": "ReportCompatibleFields"
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\"."
        },
        "billingAssignments": {
          "items": {
            "$ref": "BillingAssignment"
          },
          "description": "Billing assignments collection.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "properties": {
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "landingPageId": {
          "format": "int64",
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. "
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        }
      },
      "id": "ClickThroughUrl",
      "type": "object"
    },
    "Report": {
      "description": "Represents a Report resource.",
      "type": "object",
      "id": "Report",
      "properties": {
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "format": "int64",
          "type": "string"
        },
        "floodlightCriteria": {
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include.",
              "type": "array"
            },
            "reportProperties": {
              "properties": {
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no cookie, but do have an exposure path."
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            }
          },
          "type": "object"
        },
        "fileName": {
          "type": "string",
          "description": "The filename used when generating report files for this report."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "format": {
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "reachCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "reachByFrequencyMetricNames": {
              "type": "array",
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            }
          }
        },
        "schedule": {
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "runsOnDayOfMonth": {
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "every": {
              "type": "integer",
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32"
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "timezone": {
              "type": "string",
              "description": "The timezone when the report will run."
            },
            "expirationDate": {
              "format": "date",
              "type": "string"
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "type": "string"
              }
            },
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            }
          },
          "type": "object"
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "activityFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array"
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customFloodlightVariables": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of custom floodlight variables the report should include.",
              "type": "array"
            },
            "customRichMediaEvents": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include.",
              "type": "array"
            },
            "reportProperties": {
              "properties": {
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "maximumClickInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "maximumInteractionGap": {
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "format": "int32",
                  "type": "integer"
                },
                "clicksLookbackWindow": {
                  "type": "integer",
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32"
                },
                "maximumImpressionInteractions": {
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer"
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "perInteractionDimensions": {
              "type": "array",
              "description": "The list of per interaction dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The unique ID identifying this report resource.",
          "type": "string"
        },
        "delivery": {
          "type": "object",
          "properties": {
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "message": {
              "type": "string",
              "description": "The message to be sent with each email."
            },
            "recipients": {
              "type": "array",
              "description": "The list of recipients to which to email the report.",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwnerDeliveryType": {
              "type": "string",
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "description": "The type of delivery for the owner to receive, if enabled.",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "description": "The report's email delivery settings."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "uint64",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified."
        },
        "type": {
          "description": "The type of the report.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ]
        },
        "subAccountId": {
          "type": "string",
          "format": "int64",
          "description": "The subaccount ID to which this report belongs if applicable."
        },
        "ownerProfileId": {
          "type": "string",
          "format": "int64",
          "description": "The user profile id of the owner of this report."
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "crossMediaReachCriteria": {
          "type": "object",
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "properties": {
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "Required. The list of dimensions the report should include.",
              "type": "array"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "Required. The date range this report should be run for."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Required. The list of names of metrics the report should include."
            }
          }
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "type": "object",
          "properties": {
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of standard dimensions the report should include."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range for which this report should be run."
            }
          }
        }
      }
    },
    "MobileCarrier": {
      "description": "Contains information about a mobile carrier that can be targeted by ads.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this mobile carrier.",
          "format": "int64",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this mobile carrier belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this mobile carrier."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarrier\".",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this mobile carrier belongs."
        }
      },
      "id": "MobileCarrier"
    },
    "DynamicRules": {
      "properties": {
        "autoTargetedFieldIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO."
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "customRules": {
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          },
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
        },
        "weightFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED."
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array",
          "items": {
            "$ref": "CustomValueField"
          }
        },
        "remarketingValueAttributes": {
          "type": "array",
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "ruleType": {
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "type": "string"
        },
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "type": "string",
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ]
        }
      },
      "description": "Contains dynamic rules information.",
      "type": "object",
      "id": "DynamicRules"
    },
    "LanguageTargeting": {
      "description": "Language Targeting.",
      "type": "object",
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "type": "array",
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "items": {
            "$ref": "Language"
          }
        }
      }
    },
    "CitiesListResponse": {
      "description": "City List Response",
      "properties": {
        "cities": {
          "description": "City collection.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        }
      },
      "id": "CitiesListResponse",
      "type": "object"
    },
    "DfpSettings": {
      "id": "DfpSettings",
      "properties": {
        "programmaticPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts programmatic placements."
        },
        "pubPaidPlacementAccepted": {
          "description": "Whether this directory site accepts publisher-paid tags.",
          "type": "boolean"
        },
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "publisherPortalOnly": {
          "type": "boolean",
          "description": "Whether this directory site is available only via Publisher Portal."
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        }
      },
      "description": "Google Ad Manager Settings",
      "type": "object"
    },
    "AudienceSegmentGroup": {
      "properties": {
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "audienceSegments": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100."
        }
      },
      "id": "AudienceSegmentGroup",
      "description": "Audience Segment Group.",
      "type": "object"
    },
    "CartDataItem": {
      "id": "CartDataItem",
      "type": "object",
      "description": "Contains data of the items purchased.",
      "properties": {
        "quantity": {
          "format": "int32",
          "description": "Number of items sold. This is a required field.",
          "type": "integer"
        },
        "itemId": {
          "description": "The shopping id of the item. Must be equal to the Merchant Center product identifier. This is a required field.",
          "type": "string"
        },
        "unitPrice": {
          "type": "number",
          "format": "double",
          "description": "Unit price excluding tax, shipping, and any transaction level discounts. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field."
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "id": "FloodlightActivityDynamicTag",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this tag.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Tag code."
        }
      },
      "description": "Dynamic Tag"
    },
    "ListTargetingExpression": {
      "description": "Remarketing List Targeting Expression.",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      },
      "id": "ListTargetingExpression",
      "type": "object"
    },
    "PlacementTag": {
      "id": "PlacementTag",
      "properties": {
        "placementId": {
          "format": "int64",
          "type": "string",
          "description": "Placement ID"
        },
        "tagDatas": {
          "description": "Tags generated for this placement.",
          "type": "array",
          "items": {
            "$ref": "TagData"
          }
        }
      },
      "description": "Placement Tag",
      "type": "object"
    },
    "Subaccount": {
      "description": "Contains properties of a Campaign Manager subaccount.",
      "id": "Subaccount",
      "properties": {
        "id": {
          "description": "ID of this subaccount. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "availablePermissionIds": {
          "description": "IDs of the available user role permissions for this subaccount.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AdsListResponse": {
      "type": "object",
      "id": "AdsListResponse",
      "properties": {
        "ads": {
          "items": {
            "$ref": "Ad"
          },
          "description": "Ad collection.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
        }
      },
      "description": "Ad List Response"
    },
    "Browser": {
      "description": "Contains information about a browser that can be targeted by ads.",
      "type": "object",
      "properties": {
        "dartId": {
          "description": "DART ID of this browser. This is the ID used when generating reports.",
          "type": "string",
          "format": "int64"
        },
        "majorVersion": {
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
          "type": "string"
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "name": {
          "description": "Name of this browser.",
          "type": "string"
        },
        "browserVersionId": {
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Browser"
    },
    "TagData": {
      "description": "Placement Tag Data",
      "id": "TagData",
      "properties": {
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "type": "string"
        },
        "clickTag": {
          "type": "string",
          "description": "Tag string to record a click."
        },
        "adId": {
          "type": "string",
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64"
        },
        "creativeId": {
          "type": "string",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ContentCategoriesListResponse": {
      "properties": {
        "contentCategories": {
          "items": {
            "$ref": "ContentCategory"
          },
          "type": "array",
          "description": "Content category collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\"."
        }
      },
      "id": "ContentCategoriesListResponse",
      "type": "object",
      "description": "Content Category List Response"
    },
    "AccountPermissionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\".",
          "type": "string"
        },
        "accountPermissions": {
          "items": {
            "$ref": "AccountPermission"
          },
          "type": "array",
          "description": "Account permission collection."
        }
      },
      "id": "AccountPermissionsListResponse",
      "description": "Account Permission List Response"
    },
    "ClickTag": {
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        },
        "name": {
          "type": "string",
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field."
        }
      },
      "id": "ClickTag",
      "description": "Creative Click Tag.",
      "type": "object"
    },
    "ConversionStatus": {
      "properties": {
        "conversion": {
          "$ref": "Conversion",
          "description": "The original conversion that was inserted or updated."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConversionError"
          },
          "description": "A list of errors related to this conversion."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
          "type": "string"
        }
      },
      "id": "ConversionStatus",
      "description": "The original conversion that was inserted or updated and whether there were any errors.",
      "type": "object"
    },
    "SiteSkippableSetting": {
      "type": "object",
      "description": "Skippable Settings",
      "id": "SiteSkippableSetting",
      "properties": {
        "progressOffset": {
          "description": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "skipOffset": {
          "description": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\"."
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site.",
          "type": "boolean"
        }
      }
    },
    "DateRange": {
      "properties": {
        "relativeDateRange": {
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string",
          "description": "The date range relative to the date of when the report is run.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
[...]
