{
  "ownerDomain": "google.com",
  "servicePath": "dfareporting/v5/",
  "canonicalName": "Dfareporting",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "basePath": "/dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "schemas": {
    "TranscodeSetting": {
      "id": "TranscodeSetting",
      "properties": {
        "enabledVideoFormats": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        }
      },
      "description": "Transcode Settings",
      "type": "object"
    },
    "DirectorySite": {
      "id": "DirectorySite",
      "properties": {
        "publisherSpecificationId": {
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL of this directory site."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\"."
        },
        "interstitialTagFormats": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ],
            "type": "string"
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        },
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "inpageTagFormats": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "type": "object"
    },
    "LastModifiedInfo": {
      "description": "Modification timestamp.",
      "id": "LastModifiedInfo",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "properties": {
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "iab": {
          "description": "IAB standard size. This is a read-only, auto-generated field.",
          "type": "boolean"
        }
      },
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets."
    },
    "FloodlightActivityPublisherDynamicTag": {
      "type": "object",
      "description": "Publisher Dynamic Tag",
      "id": "FloodlightActivityPublisherDynamicTag",
      "properties": {
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string",
          "format": "int64"
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID of this dynamic tag."
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        }
      }
    },
    "ReachReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "id": "ReachReportCompatibleFields",
      "properties": {
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "reachByFrequencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report."
        }
      }
    },
    "Advertiser": {
      "type": "object",
      "id": "Advertiser",
      "properties": {
        "defaultEmail": {
          "type": "string",
          "description": "Default email address used in sender field for tag emails."
        },
        "advertiserGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group."
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Status of this advertiser.",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. "
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this advertiser. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrlSuffix": {
          "type": "string",
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long."
        },
        "originalFloodlightConfigurationId": {
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank."
        },
        "suspended": {
          "type": "boolean",
          "description": "Suspension status of this advertiser."
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\"."
        }
      },
      "description": "Contains properties of a Campaign Manager advertiser."
    },
    "PathToConversionReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "id": "PathToConversionReportCompatibleFields",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "conversionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report."
        },
        "perInteractionDimensions": {
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomViewabilityMetricConfiguration": {
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "type": "integer",
          "format": "int32"
        },
        "timePercent": {
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer",
          "format": "int32"
        },
        "timeMillis": {
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "type": "integer",
          "format": "int32"
        },
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        }
      },
      "type": "object"
    },
    "ContentCategory": {
      "type": "object",
      "id": "ContentCategory",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this content category. This is a read-only field that can be left blank."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        }
      }
    },
    "ReportDataResponse": {
      "description": "Represents a response to report data request.",
      "id": "ReportDataResponse",
      "properties": {
        "columnHeaders": {
          "description": "Output only. Ordered descriptors of the requested column fields.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ColumnHeader"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportDataRow"
          },
          "description": "Output only. The resulting set of matching data rows.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. Token to retrieve the next page of rows, or empty if end of results.",
          "readOnly": true
        },
        "totalRow": {
          "description": "Output only. Singular aggregate total row for the entire query matching the criteria. Column headers apply in the exact same order as data rows. In the total_row: - All dimension columns contain an empty string (\"\"), as aggregation does not apply. - Non-summable metric columns (e.g. Reach metrics) contain an empty string (\"\"), as grand total aggregation cannot be mathematically/logically computed for them.",
          "readOnly": true,
          "$ref": "ReportDataRow"
        }
      },
      "type": "object"
    },
    "ConversionsBatchUpdateResponse": {
      "type": "object",
      "id": "ConversionsBatchUpdateResponse",
      "properties": {
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to update."
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          },
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        }
      },
      "description": "Update Conversions Response."
    },
    "Activities": {
      "description": "Represents an activity group.",
      "id": "Activities",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#activities."
        },
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "metricNames": {
          "description": "List of names of floodlight activity metrics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "FileList": {
      "type": "object",
      "description": "List of files for a report.",
      "id": "FileList",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The files returned in this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        }
      }
    },
    "FeedSchedule": {
      "description": "Contains the schedule of the dynamic feed.",
      "id": "FeedSchedule",
      "properties": {
        "repeatValue": {
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\"."
        },
        "startMinute": {
          "type": "string",
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        }
      },
      "type": "object"
    },
    "CustomValueField": {
      "description": "Contains custom value field information.",
      "id": "CustomValueField",
      "properties": {
        "fieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Field ID in the element."
        },
        "requestKey": {
          "type": "string",
          "description": "Optional. Custom key used to match for auto filtering."
        }
      },
      "type": "object"
    },
    "TargetingTemplatesListResponse": {
      "type": "object",
      "description": "Targeting Template List Response",
      "id": "TargetingTemplatesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\"."
        },
        "targetingTemplates": {
          "items": {
            "$ref": "TargetingTemplate"
          },
          "type": "array",
          "description": "Targeting template collection."
        }
      }
    },
    "CreativeField": {
      "type": "object",
      "id": "CreativeField",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative field. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative field. This is a read-only field that can be left blank."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\"."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this creative field. This is a required field on insertion."
        }
      },
      "description": "Contains properties of a creative field."
    },
    "DynamicProfile": {
      "type": "object",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information.",
      "id": "DynamicProfile",
      "properties": {
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "archiveStatus": {
          "description": "Optional. Archive status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ],
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ],
          "type": "string"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true
        },
        "active": {
          "description": "Optional. Active version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "status": {
          "description": "Optional. Status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "type": "string"
        },
        "dynamicProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "readOnly": true
        },
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "draft": {
          "description": "Optional. Draft version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\".",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long."
        },
        "description": {
          "description": "Optional. Description of this dynamic profile.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "description": "Frequency Cap.",
      "id": "FrequencyCap",
      "properties": {
        "impressions": {
          "type": "string",
          "format": "int64",
          "description": "Number of times an individual user can be served the ad within the specified duration. Acceptable values are 1 to 15, inclusive."
        },
        "duration": {
          "description": "Duration of time, in seconds, for this frequency cap. The maximum duration is 90 days. Acceptable values are 1 to 7776000, inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountPermissionsListResponse": {
      "id": "AccountPermissionsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\"."
        },
        "accountPermissions": {
          "items": {
            "$ref": "AccountPermission"
          },
          "type": "array",
          "description": "Account permission collection."
        }
      },
      "description": "Account Permission List Response",
      "type": "object"
    },
    "EventTag": {
      "type": "object",
      "description": "Contains properties of an event tag.",
      "id": "EventTag",
      "properties": {
        "urlEscapeLevels": {
          "type": "integer",
          "format": "int32",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type."
        },
        "siteIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter."
        },
        "siteFilterType": {
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ],
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "type": "string"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "status": {
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion."
        },
        "excludeFromAdxRequests": {
          "type": "boolean",
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network."
        },
        "type": {
          "type": "string",
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\"."
        },
        "enabledByDefault": {
          "type": "boolean",
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion."
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank."
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank."
        }
      }
    },
    "VideoSettings": {
      "description": "Video Settings",
      "id": "VideoSettings",
      "properties": {
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden.",
          "$ref": "ObaIcon"
        },
        "durationSeconds": {
          "description": "Duration of a video placement in seconds.",
          "type": "integer",
          "format": "int32"
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden.",
          "$ref": "SkippableSetting"
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\"."
        },
        "publisherSpecificationId": {
          "type": "string",
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "orientation": {
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "City": {
      "description": "Contains information about a city that can be targeted by ads.",
      "id": "City",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code of the region to which this city belongs."
        },
        "metroDmaId": {
          "description": "ID of the metro region (DMA) to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "regionDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the region to which this city belongs."
        },
        "metroCode": {
          "type": "string",
          "description": "Metro region code of the metro region (DMA) to which this city belongs."
        }
      },
      "type": "object"
    },
    "PlacementGroupsListResponse": {
      "description": "Placement Group List Response",
      "id": "PlacementGroupsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "placementGroups": {
          "items": {
            "$ref": "PlacementGroup"
          },
          "type": "array",
          "description": "Placement group collection."
        }
      },
      "type": "object"
    },
    "GeoTargeting": {
      "type": "object",
      "description": "Geographical Targeting.",
      "id": "GeoTargeting",
      "properties": {
        "metros": {
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "type": "array",
          "items": {
            "$ref": "Metro"
          }
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
        },
        "cities": {
          "type": "array",
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city."
        },
        "excludeCountries": {
          "type": "boolean",
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad."
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "Country"
          },
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country."
        },
        "postalCodes": {
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        }
      }
    },
    "PostalCodesListResponse": {
      "description": "Postal Code List Response",
      "id": "PostalCodesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\"."
        },
        "postalCodes": {
          "description": "Postal code collection.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        }
      },
      "type": "object"
    },
    "AccountUserProfilesListResponse": {
      "type": "object",
      "description": "Account User Profile List Response",
      "id": "AccountUserProfilesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "accountUserProfiles": {
          "items": {
            "$ref": "AccountUserProfile"
          },
          "type": "array",
          "description": "Account user profile collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
          "type": "string"
        }
      }
    },
    "SiteTranscodeSetting": {
      "type": "object",
      "id": "SiteTranscodeSetting",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\"."
        },
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats."
        }
      },
      "description": "Transcode Settings"
    },
    "AdvertiserLandingPagesListResponse": {
      "id": "AdvertiserLandingPagesListResponse",
      "properties": {
        "landingPages": {
          "description": "Landing page collection",
          "type": "array",
          "items": {
            "$ref": "LandingPage"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "description": "Landing Page List Response",
      "type": "object"
    },
    "BillingProfilesListResponse": {
      "type": "object",
      "id": "BillingProfilesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfilesListResponse\".",
          "type": "string"
        },
        "billingProfiles": {
          "items": {
            "$ref": "BillingProfile"
          },
          "type": "array",
          "description": "Billing profiles collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "description": "Billing profile List Response"
    },
    "RichMediaExitOverride": {
      "type": "object",
      "description": "Rich Media Exit Override.",
      "id": "RichMediaExitOverride",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DynamicProfileFeedSettings": {
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "id": "DynamicProfileFeedSettings",
      "properties": {
        "quantity": {
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicRules": {
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile.",
          "$ref": "DynamicRules"
        },
        "dynamicFeedId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Dynamic feed ID associated with dynamic profile version."
        }
      },
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "id": "CompanionClickThroughOverride",
      "properties": {
        "creativeId": {
          "description": "ID of the creative for this companion click-through override.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        }
      },
      "description": "Companion Click-through override.",
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagString": {
          "type": "string",
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion."
        },
        "type": {
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "type": "string",
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field."
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object"
    },
    "CampaignSummary": {
      "description": "Represents a summarized campaign information associated with this invoice.",
      "id": "CampaignSummary",
      "properties": {
        "preTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency."
        },
        "totalAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency."
        },
        "campaignId": {
          "description": "Campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "billingInvoiceCode": {
          "type": "string",
          "description": "Campaign billing invoice code."
        },
        "taxAmountMicros": {
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          },
          "description": "Targetable remarketing list collection."
        }
      },
      "description": "Targetable remarketing list response",
      "type": "object"
    },
    "Site": {
      "description": "Contains properties of a site.",
      "id": "Site",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "id": {
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this site. This is a read-only field that can be left blank."
        },
        "approved": {
          "description": "Whether this site is approved.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion."
        },
        "siteContacts": {
          "type": "array",
          "items": {
            "$ref": "SiteContact"
          },
          "description": "Site contacts."
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\"."
        },
        "adServingPlatformId": {
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string",
          "format": "int64"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "keyName": {
          "type": "string",
          "description": "Key name of this site. This is a read-only, auto-generated field."
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        }
      },
      "type": "object"
    },
    "FloodlightConfiguration": {
      "type": "object",
      "description": "Contains properties of a Floodlight configuration.",
      "id": "FloodlightConfiguration",
      "properties": {
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ]
        },
        "thirdPartyAuthenticationTokens": {
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "type": "array"
        },
        "userDefinedVariableConfigurations": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          },
          "description": "List of user defined variables enabled for this configuration."
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this floodlight configuration.",
          "$ref": "LookbackConfiguration"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration."
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank."
        },
        "naturalSearchConversionAttributionOption": {
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ],
          "type": "string",
          "description": "Types of attribution options for natural search conversions.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "customViewabilityMetric": {
          "description": "Custom Viewability metric for the floodlight configuration.",
          "$ref": "CustomViewabilityMetric"
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "tagSettings": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSettings"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        }
      }
    },
    "YoutubeSettings": {
      "type": "object",
      "id": "YoutubeSettings",
      "properties": {
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        },
        "descriptions": {
          "description": "Optional. The descriptions. Currently only one description is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "longHeadlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The long headlines. Currently only one long headline is supported."
        },
        "headlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported."
        },
        "callToActions": {
          "items": {
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array",
          "description": "Optional. The call to actions. Currently only one call to action is supported."
        },
        "businessLogoCreativeIds": {
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "Contains the YouTube settings."
    },
    "ContentSource": {
      "type": "object",
      "id": "ContentSource",
      "properties": {
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "resourceLink": {
          "type": "string",
          "description": "Required. The link to the file of the content source."
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "readOnly": true
        },
        "contentSourceName": {
          "type": "string",
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided."
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "type": "string",
          "description": "Required. The resource type of the content source.",
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ]
        },
        "metaData": {
          "$ref": "ContentSourceMetaData",
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "readOnly": true
        }
      },
      "description": "Contains the content source of the dynamic feed."
    },
    "ReportCompatibleFields": {
      "type": "object",
      "id": "ReportCompatibleFields",
      "properties": {
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields."
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\"."
    },
    "CompanionSetting": {
      "description": "Companion Settings",
      "id": "CompanionSetting",
      "properties": {
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this placement."
        },
        "enabledSizes": {
          "items": {
            "$ref": "Size"
          },
          "type": "array",
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes."
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TvCampaignTimepoint": {
      "type": "object",
      "id": "TvCampaignTimepoint",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\"."
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        },
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ]
        }
      },
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window."
    },
    "CreativeFieldsListResponse": {
      "id": "CreativeFieldsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeFields": {
          "type": "array",
          "items": {
            "$ref": "CreativeField"
          },
          "description": "Creative field collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\"."
        }
      },
      "description": "Creative Field List Response",
      "type": "object"
    },
    "DynamicFeed": {
      "type": "object",
      "id": "DynamicFeed",
      "properties": {
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "readOnly": true,
          "type": "boolean"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "feedIngestionStatus": {
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "FeedIngestionStatus"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "dynamicFeedId": {
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "status": {
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "readOnly": true,
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "studioAdvertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field."
        },
        "dynamicFeedName": {
          "type": "string",
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided."
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        }
      },
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information."
    },
    "RemarketingValueAttribute": {
      "description": "Contains remarketing value attribute information.",
      "id": "RemarketingValueAttribute",
      "properties": {
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "userAttributeIds": {
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "CreativeOptimizationConfiguration": {
      "id": "CreativeOptimizationConfiguration",
      "properties": {
        "optimizationActivitys": {
          "description": "List of optimization activities associated with this configuration.",
          "type": "array",
          "items": {
            "$ref": "OptimizationActivity"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long."
        },
        "optimizationModel": {
          "description": "Optimization model for this configuration.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns."
        }
      },
      "description": "Creative optimization settings.",
      "type": "object"
    },
    "AccountActiveAdSummary": {
      "id": "AccountActiveAdSummary",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\".",
          "type": "string"
        },
        "activeAds": {
          "description": "Ads that have been activated for the account",
          "type": "string",
          "format": "int64"
        },
        "availableAds": {
          "type": "string",
          "format": "int64",
          "description": "Ads that can be activated for the account."
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for the account.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "type": "string"
        }
      },
      "description": "Gets a summary of active ads in an account.",
      "type": "object"
    },
    "CreativeAsset": {
      "type": "object",
      "description": "Creative Asset.",
      "id": "CreativeAsset",
      "properties": {
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "verticallyLocked": {
          "type": "boolean",
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        },
        "childAssetType": {
          "type": "string",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ]
        },
        "startTimeType": {
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "type": "string",
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ]
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "duration": {
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        },
        "customStartTimeValue": {
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
          "type": "integer",
          "format": "int32"
        },
        "zIndex": {
          "type": "integer",
          "format": "int32",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "position": {
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "OffsetPosition"
        },
        "alignment": {
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "type": "string"
        },
        "originalBackup": {
          "type": "boolean",
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA."
        },
        "bitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "windowMode": {
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ],
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ],
          "type": "string"
        },
        "role": {
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ],
          "type": "string"
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "streamingServingUrl": {
          "type": "string",
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "artworkType": {
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "progressiveServingUrl": {
          "type": "string",
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "mediaDuration": {
          "type": "number",
          "format": "float",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "companionCreativeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true."
        },
        "durationType": {
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "type": "string",
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ]
        },
        "displayType": {
          "type": "string",
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ]
        },
        "orientation": {
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "pushdownDuration": {
          "type": "number",
          "format": "float",
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive."
        },
        "hideFlashObjects": {
          "type": "boolean",
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "positionLeftUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "politeLoad": {
          "type": "boolean",
          "description": "Whether this asset is used as a polite load asset."
        },
        "id": {
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string",
          "format": "int64"
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "mimeType": {
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "hideSelectionBoxes": {
          "type": "boolean",
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "flashVersion": {
[...]
