{
  "revision": "20260721",
  "basePath": "/dfareporting/v5/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "dfareporting",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Dfareporting",
  "id": "dfareporting:v5",
  "batchPath": "batch",
  "resources": {
    "reportData": {
      "methods": {
        "query": {
          "path": "userprofiles/{profileId}/reportdata/query",
          "request": {
            "$ref": "ReportDataQueryRequest"
          },
          "httpMethod": "POST",
          "id": "dfareporting.reportData.query",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Executes an ad-hoc query and returns structured JSON payload data.",
          "response": {
            "$ref": "ReportDataResponse"
          },
          "flatPath": "userprofiles/{profileId}/reportdata/query",
          "parameters": {
            "profileId": {
              "description": "Required. The Campaign Manager 360 user profile ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        }
      }
    },
    "countries": {
      "methods": {
        "list": {
          "description": "Retrieves a list of countries.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CountriesListResponse"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/countries",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.countries.list"
        },
        "get": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "dartId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Country DART ID."
            }
          },
          "id": "dfareporting.countries.get",
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "response": {
            "$ref": "Country"
          },
          "description": "Gets one country by ID.",
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "contentCategories": {
      "methods": {
        "delete": {
          "id": "dfareporting.contentCategories.delete",
          "description": "Deletes an existing content category.",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Content category ID.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.contentCategories.get",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Gets one content category by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Content category ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/contentCategories/{+id}"
        },
        "insert": {
          "response": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "POST",
          "request": {
            "$ref": "ContentCategory"
          },
          "description": "Inserts a new content category.",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.insert",
          "path": "userprofiles/{+profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "request": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.update",
          "description": "Updates an existing content category.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          }
        },
        "patch": {
          "request": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "description": "Required. ContentCategory ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.patch",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.list",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging."
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.insert",
          "description": "Inserts a new account user profile.",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "request": {
            "$ref": "AccountUserProfile"
          }
        },
        "list": {
          "parameters": {
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only user profiles with these IDs."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            },
            "userRoleId": {
              "type": "string",
              "description": "Select only user profiles with the specified user role ID.",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID.",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "active": {
              "description": "Select only active user profiles.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "id": "dfareporting.accountUserProfiles.list"
        },
        "get": {
          "description": "Gets one account user profile by ID.",
          "id": "dfareporting.accountUserProfiles.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID."
            }
          },
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates an existing account user profile.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.accountUserProfiles.update",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles"
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "advertisers": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "description": "Updates an existing advertiser.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertisers.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT"
        },
        "patch": {
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64",
              "description": "Required. Advertiser ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.advertisers.patch",
          "request": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "id": "dfareporting.advertisers.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Advertiser ID.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "response": {
            "$ref": "Advertiser"
          },
          "description": "Gets one advertiser by ID."
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "id": "dfareporting.advertisers.list",
          "parameters": {
            "status": {
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "description": "Select only advertisers with the specified status.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" ."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only advertisers with these IDs.",
              "repeated": true,
              "format": "int64"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserGroupIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only advertisers with these advertiser group IDs."
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "floodlightConfigurationIds": {
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "id": "dfareporting.advertisers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new advertiser.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "flatPath": "userprofiles/{userprofilesId}/advertisers"
        }
      }
    },
    "accounts": {
      "methods": {
        "update": {
          "id": "dfareporting.accounts.update",
          "description": "Updates an existing account.",
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "request": {
            "$ref": "Account"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Account ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "description": "Gets one account by ID.",
          "id": "dfareporting.accounts.get",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}"
        },
        "list": {
          "path": "userprofiles/{+profileId}/accounts",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "active": {
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only accounts with these IDs.",
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "id": "dfareporting.accounts.list",
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "id": "dfareporting.accounts.patch",
          "response": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "description": "Updates an existing account. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "description": "Required. Account ID.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sizes.insert",
          "request": {
            "$ref": "Size"
          },
          "path": "userprofiles/{+profileId}/sizes",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new size.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "response": {
            "$ref": "Size"
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SizesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "parameters": {
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only sizes with these IDs."
            },
            "width": {
              "description": "Select only sizes with this width.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "iabStandard": {
              "description": "Select only IAB standard sizes.",
              "type": "boolean",
              "location": "query"
            },
            "height": {
              "description": "Select only sizes with this height.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "id": "dfareporting.sizes.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/sizes"
        },
        "get": {
          "id": "dfareporting.sizes.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Size ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "response": {
            "$ref": "Size"
          },
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "httpMethod": "GET",
          "description": "Gets one size by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "description": "Connection type ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets one connection type by ID.",
          "id": "dfareporting.connectionTypes.get",
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "response": {
            "$ref": "ConnectionType"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.connectionTypes.list",
          "path": "userprofiles/{+profileId}/connectionTypes",
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a list of connection types."
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "insert": {
          "flatPath": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles",
          "description": "Inserts a new dynamic profile.",
          "parameterOrder": [],
          "parameters": {},
          "id": "dfareporting.dynamicProfiles.insert",
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "path": "studio/dynamicProfiles",
          "description": "Updates an existing dynamic profile.",
          "parameterOrder": [],
          "id": "dfareporting.dynamicProfiles.update",
          "parameters": {},
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "generateCode": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "httpMethod": "GET",
          "id": "dfareporting.dynamicProfiles.generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        },
        "get": {
          "description": "Gets a dynamic profile by ID.",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "response": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}"
        },
        "publish": {
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Publish for a dynamic profile.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "id": "dfareporting.dynamicProfiles.publish"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Operating system version ID.",
              "location": "path",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "httpMethod": "GET",
          "description": "Gets one operating system version by ID.",
          "id": "dfareporting.operatingSystemVersions.get"
        },
        "list": {
          "description": "Retrieves a list of operating system versions.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "id": "dfareporting.regions.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of regions.",
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "response": {
            "$ref": "RegionsListResponse"
          },
          "path": "userprofiles/{+profileId}/regions",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.get",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one billing profile by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Billing Profile ID.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "id": "dfareporting.billingProfiles.list",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "name": {
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "status": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "description": "Select only billing profile with the specified status."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only billing profile with these IDs.",
              "repeated": true,
              "format": "int64"
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "type": "string",
              "location": "query"
            },
            "subaccountIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "onlySuggestion": {
              "type": "boolean",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "id": "dfareporting.billingProfiles.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing billing profile.",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "httpMethod": "PUT",
          "response": {
            "$ref": "BillingProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "request": {
            "$ref": "BillingProfile"
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing creative field.",
          "id": "dfareporting.creativeFields.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Creative Field ID",
              "location": "path",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "id": "dfareporting.creativeFields.patch",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "CreativeField ID.",
              "location": "query",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeField"
          },
          "description": "Inserts a new creative field.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.creativeFields.insert"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only creative fields with these IDs.",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only creative fields that belong to these advertisers.",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING"
            }
          },
          "response": {
            "$ref": "CreativeFieldsListResponse"
          }
        },
        "update": {
          "description": "Updates an existing creative field.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.creativeFields.update",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "id": "dfareporting.creativeFields.get",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "httpMethod": "GET",
          "description": "Gets one creative field by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "description": "Creative Field ID",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Mobile carrier ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.mobileCarriers.get",
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "response": {
            "$ref": "MobileCarrier"
          },
          "description": "Gets one mobile carrier by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of mobile carriers.",
          "id": "dfareporting.mobileCarriers.list",
          "httpMethod": "GET"
        }
      }
    },
    "userRoles": {
      "methods": {
        "get": {
          "description": "Gets one user role by ID.",
          "id": "dfareporting.userRoles.get",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "User role ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing user role.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "id": "dfareporting.userRoles.update",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "response": {
            "$ref": "UserRole"
          }
        },
        "list": {
          "parameters": {
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\"."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string"
            },
            "accountUserRoleOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Select only account level user roles not associated with any specific subaccount."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only user roles with the specified IDs.",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "subaccountId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only user roles that belong to this subaccount."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging."
        },
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.userRoles.insert",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "description": "Inserts a new user role.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "UserRole"
          }
        },
        "delete": {
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User role ID.",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.userRoles.delete",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "description": "Deletes an existing user role."
        },
        "patch": {
          "description": "Updates an existing user role. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. UserRole ID.",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.patch"
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "id": "dfareporting.userRolePermissions.get",
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "User role permission ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one user role permission by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "ids": {
              "type": "string",
              "description": "Select only user role permissions with these IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "httpMethod": "GET"
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "description": "Gets one account permission by ID.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Account permission ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "AccountPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "id": "dfareporting.accountPermissions.get"
        },
        "list": {
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of account permissions.",
          "path": "userprofiles/{+profileId}/accountPermissions",
          "id": "dfareporting.accountPermissions.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "description": "Retrieves a list of cities, possibly filtered.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.cities.list",
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "regionDartIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only cities from these regions.",
              "format": "int64"
            },
            "countryDartIds": {
              "description": "Select only cities from these countries.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "dartIds": {
              "description": "Select only cities with these DART IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "namePrefix": {
              "location": "query",
              "description": "Select only cities with names starting with this prefix.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/cities"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "description": "Deletes an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Advertiser group ID.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "id": "dfareporting.advertiserGroups.delete"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only advertiser groups with these IDs.",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "description": "Order of sorted results."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "id": "dfareporting.advertiserGroups.list"
        },
        "insert": {
          "id": "dfareporting.advertiserGroups.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "POST",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "description": "Inserts a new advertiser group."
        },
        "update": {
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertiserGroups.update",
          "httpMethod": "PUT",
          "description": "Updates an existing advertiser group.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one advertiser group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertiserGroups.get",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Advertiser group ID.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertiserGroups.patch",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true,
              "description": "Required. Advertiser Group ID."
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "AdvertiserGroup"
          }
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "id": "dfareporting.billingAssignments.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "billingProfileId": {
              "location": "path",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "request": {
            "$ref": "BillingAssignment"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignment"
          },
          "httpMethod": "POST",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "description": "Retrieves a list of billing assignments.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "parameters": {
            "billingProfileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "id": "dfareporting.billingAssignments.list"
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.patch",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "parameters": {
            "id": {
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "RemarketingListShare"
          },
          "description": "Updates an existing remarketing list share.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/remarketingListShares"
        },
        "get": {
          "description": "Gets one remarketing list share by remarketing list ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "id": "dfareporting.remarketingListShares.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "remarketingListId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Remarketing list ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}"
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "list": {
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "httpMethod": "GET",
          "id": "dfareporting.operatingSystems.list",
          "path": "userprofiles/{+profileId}/operatingSystems",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of operating systems.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          }
        },
        "get": {
          "id": "dfareporting.operatingSystems.get",
          "description": "Gets one operating system by DART ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "response": {
            "$ref": "OperatingSystem"
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "dartId": {
[...]
