{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260721",
  "batchPath": "batch",
  "servicePath": "dfareporting/v5/",
  "id": "dfareporting:v5",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "version": "v5",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerName": "Google",
  "canonicalName": "Dfareporting",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "schemas": {
    "RichMediaExitOverride": {
      "description": "Rich Media Exit Override.",
      "type": "object",
      "id": "RichMediaExitOverride",
      "properties": {
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true."
        },
        "exitId": {
          "format": "int64",
          "description": "ID for the override to refer to a specific exit in the creative.",
          "type": "string"
        }
      }
    },
    "RequestValue": {
      "id": "RequestValue",
      "properties": {
        "userAttributeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "type": "array"
        },
        "excludeFromUserAttributeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "type": "array"
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        }
      },
      "description": "Contains request value information.",
      "type": "object"
    },
    "SubaccountsListResponse": {
      "description": "Subaccount List Response",
      "type": "object",
      "id": "SubaccountsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        }
      }
    },
    "AccountUserProfilesListResponse": {
      "description": "Account User Profile List Response",
      "type": "object",
      "id": "AccountUserProfilesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
          "type": "string"
        },
        "accountUserProfiles": {
          "description": "Account user profile collection.",
          "type": "array",
          "items": {
            "$ref": "AccountUserProfile"
          }
        }
      }
    },
    "AccountPermission": {
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object",
      "id": "AccountPermission",
      "properties": {
        "accountProfiles": {
          "items": {
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ]
          },
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "type": "array"
        },
        "level": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Administrative level required to enable this account permission.",
          "type": "string",
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this account permission.",
          "type": "string",
          "format": "int64"
        },
        "permissionGroupId": {
          "description": "Permission group of this account permission.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\".",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Targetable remarketing list response",
      "type": "object"
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "description": "Floodlight configuration collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "description": "Floodlight Configuration List Response",
      "type": "object"
    },
    "VideoOffset": {
      "id": "VideoOffset",
      "properties": {
        "offsetSeconds": {
          "description": "Duration, in seconds. Do not set when offsetPercentage is set. Acceptable values are 0 to 86399, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "offsetPercentage": {
          "format": "int32",
          "description": "Duration, as a percentage of video duration. Do not set when offsetSeconds is set. Acceptable values are 0 to 100, inclusive.",
          "type": "integer"
        }
      },
      "description": "Video Offset",
      "type": "object"
    },
    "PlacementsGenerateTagsResponse": {
      "description": "Placement GenerateTags Response",
      "type": "object",
      "id": "PlacementsGenerateTagsResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        },
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        }
      }
    },
    "BillingProfile": {
      "id": "BillingProfile",
      "properties": {
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.This is a read-only field.",
          "type": "string"
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\".",
          "type": "string"
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "invoiceLevel": {
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ],
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "secondaryPaymentsCustomerId": {
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "paymentsCustomerId": {
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        }
      },
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "type": "object"
    },
    "DynamicFeedsInsertRequest": {
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "type": "object",
      "id": "DynamicFeedsInsertRequest",
      "properties": {
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        },
        "dynamicFeed": {
          "description": "Required. Dynamic feed to insert.",
          "$ref": "DynamicFeed"
        }
      }
    },
    "UserDefinedVariableConfiguration": {
      "id": "UserDefinedVariableConfiguration",
      "properties": {
        "dataType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Data type for the variable. This is a required field.",
          "type": "string",
          "enum": [
            "STRING",
            "NUMBER"
          ]
        },
        "variableType": {
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "description": "Variable name in the tag. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "reportName": {
          "description": "User-friendly name for the variable which will appear in reports. This is a required field, must be less than 64 characters long, and cannot contain the following characters: \"\"<>\".",
          "type": "string"
        }
      },
      "description": "User Defined Variable configuration.",
      "type": "object"
    },
    "FieldError": {
      "description": "Contains the field error of the dynamic feed.",
      "type": "object",
      "id": "FieldError",
      "properties": {
        "fieldName": {
          "readOnly": true,
          "description": "Output only. The name of the field.",
          "type": "string"
        },
        "fieldValues": {
          "description": "Output only. The list of values of the field.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "isError": {
          "readOnly": true,
          "description": "Output only. Incidcates whether the field has error or warning.",
          "type": "boolean"
        },
        "fieldId": {
          "description": "Output only. The ID of the field.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "ingestionError": {
          "readOnly": true,
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ],
          "type": "string",
          "description": "Output only. The ingestion error of the field.",
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ]
        }
      }
    },
    "CompatibleFields": {
      "id": "CompatibleFields",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "$ref": "ReachReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\"."
        },
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "$ref": "PathToConversionReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\"."
        }
      },
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "type": "object"
    },
    "LandingPage": {
      "id": "LandingPage",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "deepLinks": {
          "items": {
            "$ref": "DeepLink"
          },
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array"
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object"
    },
    "ReportList": {
      "id": "ReportList",
      "properties": {
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#reportList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Report"
          },
          "description": "The reports returned in this response.",
          "type": "array"
        }
      },
      "description": "Represents the list of reports.",
      "type": "object"
    },
    "DirectorySiteSettings": {
      "description": "Directory Site Settings",
      "type": "object",
      "id": "DirectorySiteSettings",
      "properties": {
        "dfpSettings": {
          "$ref": "DfpSettings",
          "description": "Directory site Ad Manager settings."
        },
        "instreamVideoPlacementAccepted": {
          "description": "Whether this site accepts in-stream video ads.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether this directory site has disabled active view creatives.",
          "type": "boolean"
        },
        "interstitialPlacementAccepted": {
          "description": "Whether this site accepts interstitial ads.",
          "type": "boolean"
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "id": "FloodlightReportCompatibleFields",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "ObaIcon": {
      "id": "ObaIcon",
      "properties": {
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "OBA icon size."
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        }
      },
      "description": "Online Behavioral Advertiser icon.",
      "type": "object"
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection.",
          "type": "array"
        }
      },
      "description": "Country List Response",
      "type": "object"
    },
    "CustomFloodlightVariable": {
      "description": "A custom floodlight variable. Can be used in both batchinsert and batchupdate. Adding this in batchupdate will update or append the variable to the existing list.",
      "type": "object",
      "id": "CustomFloodlightVariable",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-100]=\" in the tags.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\".",
          "type": "string"
        },
        "value": {
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters.",
          "type": "string"
        }
      }
    },
    "PostalCodesListResponse": {
      "description": "Postal Code List Response",
      "type": "object",
      "id": "PostalCodesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        },
        "postalCodes": {
          "description": "Postal code collection.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        }
      }
    },
    "ConversionsBatchInsertRequest": {
      "description": "Insert Conversions Request.",
      "type": "object",
      "id": "ConversionsBatchInsertRequest",
      "properties": {
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to insert.",
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used.",
          "$ref": "EncryptionInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
          "type": "string"
        }
      }
    },
    "UserRolePermissionGroup": {
      "description": "Represents a grouping of related user role permissions.",
      "type": "object",
      "id": "UserRolePermissionGroup",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this user role permission.",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        }
      }
    },
    "CreativeCustomEvent": {
      "id": "CreativeCustomEvent",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this event. This is a required field and should not be modified after insertion.",
          "type": "string"
        },
        "artworkType": {
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "description": "Artwork type used by the creative.This is a read-only field.",
          "type": "string"
        },
        "targetType": {
          "enumDescriptions": [
            "New tab",
            "Current tab",
            "Same frame",
            "Parent frame",
            "New window with properties specified in window_properties"
          ],
          "description": "Target type used by the event.",
          "type": "string",
          "enum": [
            "TARGET_BLANK",
            "TARGET_TOP",
            "TARGET_SELF",
            "TARGET_PARENT",
            "TARGET_POPUP"
          ]
        },
        "popupWindowProperties": {
          "description": "Properties for rich media popup windows. This field is used only for exit events.",
          "$ref": "PopupWindowProperties"
        },
        "advertiserCustomEventName": {
          "description": "User-entered name for the event.",
          "type": "string"
        },
        "exitClickThroughUrl": {
          "description": "Exit click-through URL for the event. This field is used only for exit events.",
          "$ref": "CreativeClickThroughUrl"
        },
        "advertiserCustomEventId": {
          "format": "int64",
          "description": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field.",
          "type": "string"
        },
        "videoReportingId": {
          "description": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field.",
          "type": "string"
        },
        "artworkLabel": {
          "description": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion.",
          "type": "string"
        },
        "advertiserCustomEventType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ADVERTISER_EVENT_TIMER",
            "ADVERTISER_EVENT_EXIT",
            "ADVERTISER_EVENT_COUNTER"
          ],
          "description": "Type of the event. This is a read-only field.",
          "type": "string"
        }
      },
      "description": "Creative Custom Event.",
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "properties": {
        "type": {
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "type": "string",
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field."
        }
      },
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object"
    },
    "VideoProcessingData": {
      "description": "Contains processing data for a video asset.",
      "type": "object",
      "id": "VideoProcessingData",
      "properties": {
        "processingState": {
          "enum": [
            "UNKNOWN",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The processing state of the studio creative asset.",
          "type": "string",
          "enumDescriptions": [
            "The processing state is unknown.",
            "The asset is being processed.",
            "The asset was successfully processed.",
            "The asset failed to be processed."
          ],
          "readOnly": true
        },
        "errorReason": {
          "description": "For a FAILED processing state, the error reason discovered.",
          "type": "string"
        }
      }
    },
    "ContentSource": {
      "id": "ContentSource",
      "properties": {
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "contentSourceName": {
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "resourceType": {
          "description": "Required. The resource type of the content source.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ]
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "readOnly": true
        },
        "resourceLink": {
          "description": "Required. The link to the file of the content source.",
          "type": "string"
        },
        "metaData": {
          "readOnly": true,
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "$ref": "ContentSourceMetaData"
        }
      },
      "description": "Contains the content source of the dynamic feed.",
      "type": "object"
    },
    "OperatingSystemsListResponse": {
      "description": "Operating System List Response",
      "type": "object",
      "id": "OperatingSystemsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "description": "Operating system collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      }
    },
    "TechnologyTargeting": {
      "description": "Technology Targeting.",
      "type": "object",
      "id": "TechnologyTargeting",
      "properties": {
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "operatingSystemVersions": {
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "type": "array"
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        },
        "connectionTypes": {
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "mobileCarriers": {
          "items": {
            "$ref": "MobileCarrier"
          },
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array"
        },
        "browsers": {
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        }
      }
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "urlEscapeLevels": {
          "format": "int32",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "type": "string",
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ]
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string"
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "siteFilterType": {
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "type": "string",
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ]
        }
      },
      "description": "Contains properties of an event tag.",
      "type": "object"
    },
    "RegionsListResponse": {
      "description": "Region List Response",
      "type": "object",
      "id": "RegionsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#regionsListResponse\".",
          "type": "string"
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "description": "Region collection.",
          "type": "array"
        }
      }
    },
    "LanguageTargeting": {
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        }
      },
      "description": "Language Targeting.",
      "type": "object"
    },
    "TvCampaignTimepoint": {
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "type": "object",
      "id": "TvCampaignTimepoint",
      "properties": {
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ]
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "SizesListResponse": {
      "id": "SizesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        },
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection.",
          "type": "array"
        }
      },
      "description": "Size List Response",
      "type": "object"
    },
    "PlacementGroupsListResponse": {
      "description": "Placement Group List Response",
      "type": "object",
      "id": "PlacementGroupsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\".",
          "type": "string"
        },
        "placementGroups": {
          "items": {
            "$ref": "PlacementGroup"
          },
          "description": "Placement group collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "BillingProfilesListResponse": {
      "description": "Billing profile List Response",
      "type": "object",
      "id": "BillingProfilesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingProfiles": {
          "items": {
            "$ref": "BillingProfile"
          },
          "description": "Billing profiles collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfilesListResponse\".",
          "type": "string"
        }
      }
    },
    "CustomViewabilityMetricConfiguration": {
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "type": "object",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "type": "integer",
          "format": "int32"
        },
        "timeMillis": {
          "format": "int32",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "type": "integer"
        },
        "audible": {
          "description": "Whether the video must be audible to count an impression.",
          "type": "boolean"
        },
        "timePercent": {
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlacementSingleConversionDomain": {
      "type": "object",
      "id": "PlacementSingleConversionDomain",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      }
    },
    "ColumnHeader": {
      "description": "A column header in the report.",
      "type": "object",
      "id": "ColumnHeader",
      "properties": {
        "type": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC"
          ],
          "description": "Output only. The column type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dimension.",
            "Metric."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The column name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PlacementsListResponse": {
      "description": "Placement List Response",
      "type": "object",
      "id": "PlacementsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "placements": {
          "description": "Placement collection.",
          "type": "array",
          "items": {
            "$ref": "Placement"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "City": {
      "description": "Contains information about a city that can be targeted by ads.",
      "type": "object",
      "id": "City",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "metroDmaId": {
          "description": "ID of the metro region (DMA) to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
          "type": "string"
        },
        "regionDartId": {
          "description": "DART ID of the region to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "dartId": {
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code of the region to which this city belongs.",
          "type": "string"
        }
      }
    },
    "ConnectionType": {
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "type": "object",
      "id": "ConnectionType",
      "properties": {
        "id": {
          "description": "ID of this connection type.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        }
      }
    },
    "FloodlightActivityPublisherDynamicTag": {
      "id": "FloodlightActivityPublisherDynamicTag",
      "properties": {
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID of this dynamic tag.",
          "type": "string"
        },
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        }
      },
      "description": "Publisher Dynamic Tag",
      "type": "object"
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "properties": {
        "objectIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "type": "string",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ]
        }
      },
      "description": "Object Filter.",
      "type": "object"
    },
    "ConversionError": {
      "id": "ConversionError",
      "properties": {
        "code": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The error code.",
          "type": "string",
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\".",
          "type": "string"
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        }
      },
      "description": "The error code and description for a conversion that failed to insert or update.",
      "type": "object"
    },
    "RuleBlock": {
      "description": "Contains a list of field filters that the given custom rule will apply.",
      "type": "object",
      "id": "RuleBlock",
      "properties": {
        "fieldFilter": {
          "items": {
            "$ref": "FieldFilter"
          },
          "description": "Optional. A list of non-auto field filters",
          "type": "array"
        }
      }
    },
    "DynamicTargetingKeysListResponse": {
      "id": "DynamicTargetingKeysListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\".",
          "type": "string"
        },
        "dynamicTargetingKeys": {
          "items": {
            "$ref": "DynamicTargetingKey"
          },
          "description": "Dynamic targeting key collection.",
          "type": "array"
        }
      },
      "description": "Dynamic Targeting Key List Response",
      "type": "object"
    },
    "StudioCreativeDimension": {
      "id": "StudioCreativeDimension",
      "properties": {
        "height": {
          "description": "Height of the studio creative.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the studio creative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Dimension information for a studio creative.",
      "type": "object"
    },
    "CreativeAssetMetadata": {
      "id": "CreativeAssetMetadata",
      "properties": {
        "counterCustomEvents": {
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "timerCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\".",
          "type": "string"
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "ID of the creative asset. This is a required field."
        },
        "richMedia": {
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "warnedValidationRules": {
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ],
            "type": "string",
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ]
          }
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "exitCustomEvents": {
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "type": "object"
    },
    "FloodlightConfiguration": {
      "id": "FloodlightConfiguration",
      "properties": {
        "accountId": {
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Lookback window settings for this floodlight configuration."
        },
        "userDefinedVariableConfigurations": {
          "description": "List of user defined variables enabled for this configuration.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          }
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "customViewabilityMetric": {
          "$ref": "CustomViewabilityMetric",
          "description": "Custom Viewability metric for the floodlight configuration."
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "naturalSearchConversionAttributionOption": {
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ],
          "description": "Types of attribution options for natural search conversions.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "tagSettings": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSettings"
        },
        "thirdPartyAuthenticationTokens": {
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "type": "array"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SUNDAY",
            "MONDAY"
          ],
          "type": "string"
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        }
      },
      "description": "Contains properties of a Floodlight configuration.",
      "type": "object"
    },
    "VideoFormatsListResponse": {
      "description": "Video Format List Response",
      "type": "object",
      "id": "VideoFormatsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\".",
          "type": "string"
        },
        "videoFormats": {
          "description": "Video format collection.",
          "type": "array",
          "items": {
            "$ref": "VideoFormat"
          }
        }
      }
    },
    "FeedField": {
      "id": "FeedField",
      "properties": {
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "Required. The type of the field.",
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ]
        },
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        }
      },
      "description": "Each field of the element. This is a required field.",
      "type": "object"
    },
    "DynamicProfileFeedSettings": {
      "id": "DynamicProfileFeedSettings",
      "properties": {
        "dynamicFeedId": {
          "format": "int64",
          "description": "Optional. Dynamic feed ID associated with dynamic profile version.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicRules": {
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile.",
          "$ref": "DynamicRules"
        }
      },
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "type": "object"
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "type": "object",
      "id": "ConversionsBatchUpdateResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to update.",
          "type": "boolean"
        }
      }
    },
    "SiteContact": {
      "id": "SiteContact",
      "properties": {
        "contactType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Site contact type.",
          "type": "string",
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ]
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        }
      },
      "description": "Site Contact",
      "type": "object"
    },
    "StudioCreativeAsset": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object",
      "id": "StudioCreativeAsset",
      "properties": {
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field."
        },
        "videoProcessingData": {
          "$ref": "VideoProcessingData",
          "description": "The processing data of the studio creative asset. This is a read-only field."
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "filesize": {
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ],
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field."
        }
      }
    },
    "AdvertiserInvoicesListResponse": {
      "id": "AdvertiserInvoicesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "invoices": {
          "items": {
            "$ref": "Invoice"
          },
          "description": "Invoice collection",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\".",
          "type": "string"
        }
      },
      "description": "Invoice List Response",
      "type": "object"
    },
    "ReportsConfiguration": {
      "id": "ReportsConfiguration",
      "properties": {
        "exposureToConversionEnabled": {
          "description": "Whether the exposure to conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "reportGenerationTimeZoneId": {
          "description": "Report generation time zone ID of this account. This is a required field that cannot be changed on update. Acceptable values are: - \"1\" for \"America/New_York\" - \"2\" for \"Europe/London\" - \"3\" for \"Europe/Paris\" - \"4\" for \"Africa/Johannesburg\" - \"5\" for \"Asia/Jerusalem\" - \"6\" for \"Asia/Shanghai\" - \"7\" for \"Asia/Hong_Kong\" - \"8\" for \"Asia/Tokyo\" - \"9\" for \"Australia/Sydney\" - \"10\" for \"Asia/Dubai\" - \"11\" for \"America/Los_Angeles\" - \"12\" for \"Pacific/Auckland\" - \"13\" for \"America/Sao_Paulo\" - \"16\" for \"America/Asuncion\" - \"17\" for \"America/Chicago\" - \"18\" for \"America/Denver\" - \"19\" for \"America/St_Johns\" - \"20\" for \"Asia/Dhaka\" - \"21\" for \"Asia/Jakarta\" - \"22\" for \"Asia/Kabul\" - \"23\" for \"Asia/Karachi\" - \"24\" for \"Asia/Calcutta\" - \"25\" for \"Asia/Pyongyang\" - \"26\" for \"Asia/Rangoon\" - \"27\" for \"Atlantic/Cape_Verde\" - \"28\" for \"Atlantic/South_Georgia\" - \"29\" for \"Australia/Adelaide\" - \"30\" for \"Australia/Lord_Howe\" - \"31\" for \"Europe/Moscow\" - \"32\" for \"Pacific/Kiritimati\" - \"35\" for \"Pacific/Norfolk\" - \"36\" for \"Pacific/Tongatapu\" ",
          "type": "string",
          "format": "int64"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Default lookback windows for new advertisers in this account."
        }
      },
      "description": "Reporting Configuration",
      "type": "object"
    },
    "AudienceSegment": {
      "id": "AudienceSegment",
      "properties": {
        "id": {
          "format": "int64",
[...]
