{
  "canonicalName": "Dfareporting",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "dfareporting/v5/",
  "title": "Campaign Manager 360 API",
  "ownerName": "Google",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260721",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "schemas": {
    "CustomRule": {
      "description": "Contains custom rule information.",
      "type": "object",
      "id": "CustomRule",
      "properties": {
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Priority of the custom rule."
        }
      }
    },
    "PlacementConversionDomainOverride": {
      "type": "object",
      "id": "PlacementConversionDomainOverride",
      "properties": {
        "conversionDomains": {
          "type": "array",
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          }
        }
      }
    },
    "MetrosListResponse": {
      "type": "object",
      "id": "MetrosListResponse",
      "description": "Metro List Response",
      "properties": {
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "type": "array",
          "description": "Metro collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\"."
        }
      }
    },
    "FeedSchedule": {
      "id": "FeedSchedule",
      "type": "object",
      "description": "Contains the schedule of the dynamic feed.",
      "properties": {
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "startMinute": {
          "type": "string",
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        },
        "repeatValue": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive."
        }
      }
    },
    "BillingProfile": {
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account."
        },
        "secondaryPaymentsCustomerId": {
          "type": "string",
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field."
        },
        "paymentsAccountId": {
          "type": "string",
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field."
        },
        "currencyCode": {
          "type": "string",
          "description": "Billing currency code in ISO 4217 format.This is a read-only field."
        },
        "isDefault": {
          "type": "boolean",
          "description": "True if the billing profile is the account default profile. This is a read-only field."
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "paymentsCustomerId": {
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\".",
          "type": "string"
        },
        "invoiceLevel": {
          "type": "string",
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign."
        },
        "purchaseOrder": {
          "type": "string",
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile."
        },
        "id": {
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "type": "string"
        }
      },
      "id": "BillingProfile",
      "type": "object"
    },
    "ContentSource": {
      "properties": {
        "contentSourceName": {
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ],
          "description": "Required. The resource type of the content source.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ]
        },
        "resourceLink": {
          "description": "Required. The link to the file of the content source.",
          "type": "string"
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the content source. This is a read-only field."
        },
        "metaData": {
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "$ref": "ContentSourceMetaData",
          "readOnly": true
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ContentSource",
      "description": "Contains the content source of the dynamic feed."
    },
    "FloodlightReportCompatibleFields": {
      "type": "object",
      "id": "FloodlightReportCompatibleFields",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields."
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\"."
    },
    "AdsListResponse": {
      "id": "AdsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
        },
        "ads": {
          "type": "array",
          "description": "Ad collection.",
          "items": {
            "$ref": "Ad"
          }
        }
      },
      "description": "Ad List Response",
      "type": "object"
    },
    "VideoSettings": {
      "properties": {
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "type": "string",
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation."
        },
        "skippableSettings": {
          "$ref": "SkippableSetting",
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden."
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "durationSeconds": {
          "type": "integer",
          "description": "Duration of a video placement in seconds.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\"."
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden.",
          "$ref": "ObaIcon"
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "publisherSpecificationId": {
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VideoSettings",
      "description": "Video Settings"
    },
    "ReportDataQueryRequest": {
      "properties": {
        "metricNames": {
          "description": "Required. The list of metric names to include.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dimensionNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of dimension names to group by.",
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Continuation token for paginating results."
        },
        "maxResults": {
          "type": "integer",
          "description": "Optional. Maximum number of result rows to return per page. The default value is 100. The maximum allowed value is 1000. Values above 1000 will be coerced (clamped) down to 1000. Negative values will be rejected.",
          "format": "int32"
        },
        "sortBys": {
          "items": {
            "$ref": "SortBy"
          },
          "description": "Optional. Sort options across either requested dimensions or metrics.",
          "type": "array"
        },
        "dimensionFilters": {
          "description": "Optional. The list of dimension values on which report lines are filtered. Utilizes the existing legacy filter message `DimensionValue`.",
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array"
        },
        "dateRange": {
          "description": "Optional. The requested date range covering the report duration.",
          "$ref": "DateRange"
        }
      },
      "description": "The request body containing ad-hoc query parameters.",
      "type": "object",
      "id": "ReportDataQueryRequest"
    },
    "ReportsConfiguration": {
      "id": "ReportsConfiguration",
      "properties": {
        "reportGenerationTimeZoneId": {
          "type": "string",
          "description": "Report generation time zone ID of this account. This is a required field that cannot be changed on update. Acceptable values are: - \"1\" for \"America/New_York\" - \"2\" for \"Europe/London\" - \"3\" for \"Europe/Paris\" - \"4\" for \"Africa/Johannesburg\" - \"5\" for \"Asia/Jerusalem\" - \"6\" for \"Asia/Shanghai\" - \"7\" for \"Asia/Hong_Kong\" - \"8\" for \"Asia/Tokyo\" - \"9\" for \"Australia/Sydney\" - \"10\" for \"Asia/Dubai\" - \"11\" for \"America/Los_Angeles\" - \"12\" for \"Pacific/Auckland\" - \"13\" for \"America/Sao_Paulo\" - \"16\" for \"America/Asuncion\" - \"17\" for \"America/Chicago\" - \"18\" for \"America/Denver\" - \"19\" for \"America/St_Johns\" - \"20\" for \"Asia/Dhaka\" - \"21\" for \"Asia/Jakarta\" - \"22\" for \"Asia/Kabul\" - \"23\" for \"Asia/Karachi\" - \"24\" for \"Asia/Calcutta\" - \"25\" for \"Asia/Pyongyang\" - \"26\" for \"Asia/Rangoon\" - \"27\" for \"Atlantic/Cape_Verde\" - \"28\" for \"Atlantic/South_Georgia\" - \"29\" for \"Australia/Adelaide\" - \"30\" for \"Australia/Lord_Howe\" - \"31\" for \"Europe/Moscow\" - \"32\" for \"Pacific/Kiritimati\" - \"35\" for \"Pacific/Norfolk\" - \"36\" for \"Pacific/Tongatapu\" ",
          "format": "int64"
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure to conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Default lookback windows for new advertisers in this account."
        }
      },
      "type": "object",
      "description": "Reporting Configuration"
    },
    "DimensionFilter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the dimension to filter."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension to filter.",
          "type": "string"
        }
      },
      "id": "DimensionFilter",
      "type": "object",
      "description": "Represents a dimension filter."
    },
    "MeasurementPartnerAdvertiserLink": {
      "type": "object",
      "properties": {
        "measurementPartner": {
          "type": "string",
          "description": "Measurement partner used for tag wrapping.",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": "Status of the partner link."
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        }
      },
      "id": "MeasurementPartnerAdvertiserLink"
    },
    "IngestionStatus": {
      "id": "IngestionStatus",
      "properties": {
        "numWarningsTotal": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of warnings in the feed.",
          "readOnly": true
        },
        "numActiveRows": {
          "description": "Output only. The number of active rows in the feed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "numRowsProcessed": {
          "readOnly": true,
          "description": "Output only. The number of rows processed in the feed.",
          "type": "string",
          "format": "int64"
        },
        "numRowsTotal": {
          "description": "Output only. The total number of rows in the feed.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "numRowsWithErrors": {
          "type": "string",
          "description": "Output only. The number of rows with errors in the feed.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Contains the ingestion status of the dynamic feed."
    },
    "ConversionsBatchInsertRequest": {
      "id": "ConversionsBatchInsertRequest",
      "description": "Insert Conversions Request.",
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used.",
          "$ref": "EncryptionInfo"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The set of conversions to insert."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
          "type": "string"
        }
      }
    },
    "BillingProfilesListResponse": {
      "id": "BillingProfilesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfilesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingProfiles": {
          "description": "Billing profiles collection.",
          "items": {
            "$ref": "BillingProfile"
          },
          "type": "array"
        }
      },
      "description": "Billing profile List Response"
    },
    "ReportDataResponse": {
      "type": "object",
      "id": "ReportDataResponse",
      "description": "Represents a response to report data request.",
      "properties": {
        "totalRow": {
          "description": "Output only. Singular aggregate total row for the entire query matching the criteria. Column headers apply in the exact same order as data rows. In the total_row: - All dimension columns contain an empty string (\"\"), as aggregation does not apply. - Non-summable metric columns (e.g. Reach metrics) contain an empty string (\"\"), as grand total aggregation cannot be mathematically/logically computed for them.",
          "readOnly": true,
          "$ref": "ReportDataRow"
        },
        "nextPageToken": {
          "description": "Output only. Token to retrieve the next page of rows, or empty if end of results.",
          "readOnly": true,
          "type": "string"
        },
        "rows": {
          "description": "Output only. The resulting set of matching data rows.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportDataRow"
          }
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "$ref": "ColumnHeader"
          },
          "description": "Output only. Ordered descriptors of the requested column fields.",
          "readOnly": true
        }
      }
    },
    "Language": {
      "properties": {
        "id": {
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\"."
        }
      },
      "id": "Language",
      "type": "object",
      "description": "Contains information about a language that can be targeted by ads."
    },
    "UserRolesListResponse": {
      "id": "UserRolesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "userRoles": {
          "description": "User role collection.",
          "type": "array",
          "items": {
            "$ref": "UserRole"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\"."
        }
      },
      "description": "User Role List Response"
    },
    "RemarketingValueAttribute": {
      "id": "RemarketingValueAttribute",
      "description": "Contains remarketing value attribute information.",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "integer",
          "description": "Optional. Field ID in the element.",
          "format": "int32"
        },
        "userAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "type": "array"
        }
      }
    },
    "ContextualKeyword": {
      "type": "object",
      "properties": {
        "keyword": {
          "description": "The keyword that can be targeted by ads.",
          "type": "string"
        }
      },
      "description": "Contains information about a Contextual Keyword that can be targeted by ads.",
      "id": "ContextualKeyword"
    },
    "FloodlightConfiguration": {
      "properties": {
        "customViewabilityMetric": {
          "$ref": "CustomViewabilityMetric",
          "description": "Custom Viewability metric for the floodlight configuration."
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "naturalSearchConversionAttributionOption": {
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Types of attribution options for natural search conversions."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "format": "int64"
        },
        "tagSettings": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSettings"
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this floodlight configuration.",
          "$ref": "LookbackConfiguration"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "thirdPartyAuthenticationTokens": {
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "type": "array"
        },
        "userDefinedVariableConfigurations": {
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          },
          "type": "array",
          "description": "List of user defined variables enabled for this configuration."
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ]
        }
      },
      "description": "Contains properties of a Floodlight configuration.",
      "id": "FloodlightConfiguration",
      "type": "object"
    },
    "TagSetting": {
      "type": "object",
      "id": "TagSetting",
      "properties": {
        "includeUnescapedlpurlMacro": {
          "type": "boolean",
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site."
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        },
        "keywordOption": {
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "type": "string",
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders."
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        },
        "additionalKeyValues": {
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field.",
          "type": "string"
        }
      },
      "description": "Tag Settings"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "properties": {
        "studioAdvertiserId": {
          "type": "string",
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "format": "int64"
        },
        "studioCreativeId": {
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "type": "string",
          "format": "int64"
        },
        "studioAccountId": {
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DfareportingStudioCreativeAssetsInsertRequest",
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "type": "object",
      "id": "ChangeLogsListResponse",
      "description": "Change Log List Response",
      "properties": {
        "changeLogs": {
          "description": "Change log collection.",
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        }
      }
    },
    "OffsetPosition": {
      "description": "Offset Position.",
      "type": "object",
      "id": "OffsetPosition",
      "properties": {
        "top": {
          "format": "int32",
          "description": "Offset distance from top side of an asset or a window.",
          "type": "integer"
        },
        "left": {
          "type": "integer",
          "format": "int32",
          "description": "Offset distance from left side of an asset or a window."
        }
      }
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Country List Response"
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "type": "object",
      "properties": {
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this site template."
        },
        "imageOnly": {
          "type": "boolean",
          "description": "Whether to serve only static images as companions."
        }
      },
      "id": "SiteCompanionSetting"
    },
    "CampaignCreativeAssociation": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        },
        "creativeId": {
          "description": "ID of the creative associated with the campaign. This is a required field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CampaignCreativeAssociation",
      "type": "object",
      "description": "Identifies a creative which has been associated with a given campaign."
    },
    "ProximityFilter": {
      "type": "object",
      "properties": {
        "radiusValue": {
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer"
        },
        "radiusUnitType": {
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "description": "Optional. The units of the radius value"
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string",
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ]
        }
      },
      "description": "Contains proximity filter information.",
      "id": "ProximityFilter"
    },
    "OptimizationActivity": {
      "id": "OptimizationActivity",
      "properties": {
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string"
        },
        "floodlightActivityIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "weight": {
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Creative optimization activity."
    },
    "SiteSkippableSetting": {
      "properties": {
        "progressOffset": {
          "description": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\"."
        },
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site."
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true."
        }
      },
      "type": "object",
      "id": "SiteSkippableSetting",
      "description": "Skippable Settings"
    },
    "ClickThroughUrl": {
      "id": "ClickThroughUrl",
      "type": "object",
      "properties": {
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "format": "int64",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        }
      },
      "description": "Click-through URL"
    },
    "ReachReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "properties": {
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "reachByFrequencyMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report."
        }
      },
      "type": "object",
      "id": "ReachReportCompatibleFields"
    },
    "UserRolePermissionsListResponse": {
      "type": "object",
      "properties": {
        "userRolePermissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "User role permission collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        }
      },
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response"
    },
    "AccountPermissionGroup": {
      "id": "AccountPermissionGroup",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this account permission group."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this account permission group."
        }
      },
      "type": "object",
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions."
    },
    "LandingPage": {
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL of this landing page. This is a required field."
        },
        "deepLinks": {
          "items": {
            "$ref": "DeepLink"
          },
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array"
        },
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this landing page has been archived."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        }
      }
    },
    "BrowsersListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "description": "Browser collection.",
          "items": {
            "$ref": "Browser"
          },
          "type": "array"
        }
      },
      "id": "BrowsersListResponse",
      "description": "Browser List Response"
    },
    "PricingSchedule": {
      "description": "Pricing Schedule",
      "properties": {
        "pricingPeriods": {
          "description": "Pricing periods for this placement.",
          "type": "array",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          }
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "pricingType": {
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "description": "Placement cap cost option.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "floodlightActivityId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA."
        }
      },
      "type": "object",
      "id": "PricingSchedule"
    },
    "CreativesListResponse": {
      "properties": {
        "creatives": {
          "items": {
            "$ref": "Creative"
          },
          "description": "Creative collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "CreativesListResponse",
      "description": "Creative List Response",
      "type": "object"
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "type": "object",
      "description": "Transcode Settings",
      "properties": {
        "enabledVideoFormats": {
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\"."
        }
      }
    },
    "DimensionValue": {
      "description": "Represents a DimensionValue resource.",
      "id": "DimensionValue",
      "properties": {
        "value": {
          "description": "The value of the dimension.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with the value if available."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension."
        },
        "matchType": {
          "type": "string",
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ]
        }
      },
      "type": "object"
    },
    "FsCommand": {
      "id": "FsCommand",
      "type": "object",
      "properties": {
        "windowWidth": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the window."
        },
        "windowHeight": {
          "format": "int32",
          "description": "Height of the window.",
          "type": "integer"
        },
        "positionOption": {
          "type": "string",
          "description": "Position in the browser where the window will open.",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ]
        },
        "top": {
          "type": "integer",
          "format": "int32",
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER."
        },
        "left": {
          "type": "integer",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        }
      },
      "description": "FsCommand."
    },
    "DynamicProfileFeedSettings": {
      "type": "object",
      "properties": {
        "dynamicFeedId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Dynamic feed ID associated with dynamic profile version."
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive."
        },
        "dynamicRules": {
          "$ref": "DynamicRules",
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile."
        }
      },
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "id": "DynamicProfileFeedSettings"
    },
    "CreativeFieldValue": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative field value. This is a read-only, auto-generated field."
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\"."
        }
      },
      "type": "object",
      "id": "CreativeFieldValue",
      "description": "Contains properties of a creative field value."
    },
    "PlacementsGenerateTagsResponse": {
      "id": "PlacementsGenerateTagsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        },
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        }
      },
      "description": "Placement GenerateTags Response"
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "properties": {
        "type": {
          "type": "string",
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ]
        },
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "impressions": {
          "description": "Impressions across the entire TV campaign.",
          "format": "int64",
          "type": "string"
        },
        "grp": {
          "description": "GRP of this TV campaign.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this TV campaign."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "spend": {
          "format": "double",
          "description": "Spend across the entire TV campaign.",
          "type": "number"
        },
        "startDate": {
          "type": "string",
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UniversalAdId": {
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "id": "UniversalAdId",
      "properties": {
        "value": {
          "type": "string",
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
        },
        "registry": {
          "description": "Registry used for the Ad ID value.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ]
        }
      },
      "type": "object"
    },
    "DefaultClickThroughEventTagProperties": {
      "type": "object",
      "properties": {
        "overrideInheritedEventTag": {
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value.",
          "type": "boolean"
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope.",
          "type": "string"
        }
      },
      "id": "DefaultClickThroughEventTagProperties",
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further."
    },
    "SizesListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        },
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "type": "array",
          "description": "Size collection."
        }
      },
      "id": "SizesListResponse",
      "description": "Size List Response",
      "type": "object"
    },
    "DynamicTargetingKeysListResponse": {
      "properties": {
        "dynamicTargetingKeys": {
          "description": "Dynamic targeting key collection.",
          "items": {
            "$ref": "DynamicTargetingKey"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\".",
          "type": "string"
        }
      },
      "description": "Dynamic Targeting Key List Response",
      "id": "DynamicTargetingKeysListResponse",
      "type": "object"
    },
    "File": {
      "id": "File",
      "type": "object",
      "properties": {
        "reportId": {
          "description": "The ID of the report this file was generated from.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ],
          "description": "The status of the report file.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastModifiedTime": {
          "format": "int64",
          "type": "string",
          "description": "The timestamp in milliseconds since epoch when this file was last modified."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. Only available once the file is available.",
          "type": "string"
        },
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "fileName": {
          "description": "The filename of the file.",
          "type": "string"
        },
        "urls": {
          "properties": {
            "browserUrl": {
              "description": "The URL for downloading the report data through a browser.",
              "type": "string"
            },
            "apiUrl": {
              "type": "string",
              "description": "The URL for downloading the report data through the API."
            }
          },
          "type": "object",
          "description": "The URLs where the completed report file can be downloaded."
        },
        "id": {
          "description": "The unique ID of this report file.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\"."
    },
    "PathToConversionReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "id": "PathToConversionReportCompatibleFields",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "conversionDimensions": {
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields."
        },
        "perInteractionDimensions": {
          "type": "array",
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        }
      },
      "type": "object"
    },
    "UserProfileList": {
      "type": "object",
      "description": "Represents the list of user profiles.",
      "id": "UserProfileList",
      "properties": {
        "items": {
          "description": "The user profiles returned in this response.",
          "items": {
            "$ref": "UserProfile"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "MobileCarrier": {
      "description": "Contains information about a mobile carrier that can be targeted by ads.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarrier\"."
        },
        "name": {
          "description": "Name of this mobile carrier.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this mobile carrier.",
          "type": "string"
        },
        "countryDartId": {
          "format": "int64",
          "type": "string",
          "description": "DART ID of the country to which this mobile carrier belongs."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this mobile carrier belongs."
        }
      },
      "type": "object",
      "id": "MobileCarrier"
    },
    "RequestValue": {
      "description": "Contains request value information.",
      "properties": {
        "userAttributeIds": {
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        },
        "excludeFromUserAttributeIds": {
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RequestValue"
    },
    "TagData": {
      "description": "Placement Tag Data",
      "id": "TagData",
      "properties": {
        "clickTag": {
          "type": "string",
          "description": "Tag string to record a click."
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64"
        },
        "adId": {
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BillingRate": {
      "id": "BillingRate",
      "type": "object",
      "properties": {
        "tieredRates": {
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "type": "array",
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate."
        },
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Start date of this billing rate."
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of this billing rate.",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ]
        },
        "rateInMicros": {
          "format": "int64",
          "type": "string",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate."
        },
        "unitOfMeasure": {
          "description": "Unit of measure for this billing rate.",
          "type": "string",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this billing rate."
        },
        "endDate": {
          "type": "string",
          "description": "End date of this billing rate."
        }
      }
    },
    "PlacementStrategiesListResponse": {
      "type": "object",
      "id": "PlacementStrategiesListResponse",
      "description": "Placement Strategy List Response",
      "properties": {
        "placementStrategies": {
          "description": "Placement strategy collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        }
      }
    },
    "Dimension": {
      "id": "Dimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        }
      },
      "description": "Represents a dimension."
    },
    "TvCampaignTimepoint": {
      "id": "TvCampaignTimepoint",
      "type": "object",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\"."
        },
        "dateWindow": {
          "type": "string",
          "description": "The date window of the timepoint.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ]
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "description": "Contains properties of a package or roadblock.",
      "properties": {
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "childPlacementIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this placement."
        },
        "activeStatus": {
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "contentCategoryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the content category assigned to this placement group."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this placement group. This is a read-only field."
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "primaryPlacementId": {
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string",
          "format": "int64"
        },
        "placementGroupType": {
          "type": "string",
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "Campaign ID of this placement group. This field is required on insertion."
        },
        "placementStrategyId": {
          "format": "int64",
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank."
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        }
      },
      "type": "object"
    },
    "TagSettings": {
      "description": "Dynamic and Image Tag Settings.",
      "id": "TagSettings",
      "type": "object",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        }
      }
    },
    "CreativeAssignment": {
      "id": "CreativeAssignment",
      "properties": {
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "companionCreativeOverrides": {
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "type": "array"
        },
        "weight": {
          "type": "integer",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "format": "int32"
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "format": "int32"
        },
        "creativeGroupAssignments": {
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "richMediaExitOverrides": {
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "type": "array",
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR "
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative to be assigned. This is a required field."
        }
      },
      "type": "object",
      "description": "Creative Assignment."
    },
    "TargetingTemplate": {
      "properties": {
        "geoTargeting": {
          "$ref": "GeoTargeting",
          "description": "Geographical targeting criteria."
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting criteria."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this targeting template. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\".",
          "type": "string"
        },
        "listTargetingExpression": {
          "description": "Remarketing list targeting criteria.",
          "$ref": "ListTargetingExpression"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting criteria.",
          "$ref": "ContextualKeywordTargeting"
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting criteria.",
          "$ref": "KeyValueTargetingExpression"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser.",
          "type": "string"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology platform targeting criteria."
        },
        "advertiserId": {
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert.",
          "type": "string",
          "format": "int64"
        },
        "languageTargeting": {
          "description": "Language targeting criteria.",
          "$ref": "LanguageTargeting"
        },
        "subaccountId": {
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads.",
      "type": "object",
      "id": "TargetingTemplate"
    },
    "EventTagOverride": {
      "id": "EventTagOverride",
      "properties": {
        "enabled": {
          "description": "Whether this override is enabled.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this event tag override. This is a read-only, auto-generated field."
        }
      },
      "description": "Event tag override information.",
      "type": "object"
    },
    "CartDataItem": {
      "id": "CartDataItem",
      "type": "object",
      "properties": {
        "unitPrice": {
          "description": "Unit price excluding tax, shipping, and any transaction level discounts. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "type": "number",
          "format": "double"
        },
        "itemId": {
          "description": "The shopping id of the item. Must be equal to the Merchant Center product identifier. This is a required field.",
          "type": "string"
        },
        "quantity": {
          "description": "Number of items sold. This is a required field.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains data of the items purchased."
    },
    "CrossDimensionReachReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "id": "CrossDimensionReachReportCompatibleFields",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "overlapMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        },
        "breakdown": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "CreativeClickThroughUrl": {
      "id": "CreativeClickThroughUrl",
      "type": "object",
      "properties": {
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset."
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL.",
          "format": "int64",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        }
      },
      "description": "Click-through URL"
    },
    "Advertiser": {
      "id": "Advertiser",
      "description": "Contains properties of a Campaign Manager advertiser.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "suspended": {
          "type": "boolean",
          "description": "Suspension status of this advertiser."
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "type": "string",
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ]
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserGroupId": {
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "description": "Status of this advertiser.",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field."
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. "
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "originalFloodlightConfigurationId": {
          "format": "int64",
          "type": "string",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SortedDimension": {
      "id": "SortedDimension",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#sortedDimension."
        },
        "name": {
          "type": "string",
          "description": "The name of the dimension."
        },
        "sortOrder": {
[...]
