{
  "servicePath": "dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dfareporting.googleapis.com/",
  "id": "dfareporting:v5",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v5",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "canonicalName": "Dfareporting",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "revision": "20260605",
  "discoveryVersion": "v1",
  "basePath": "/dfareporting/v5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "schemas": {
    "MeasurementPartnerCampaignLink": {
      "properties": {
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "description": ".",
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        }
      },
      "type": "object",
      "id": "MeasurementPartnerCampaignLink"
    },
    "TargetWindow": {
      "description": "Target Window.",
      "type": "object",
      "id": "TargetWindow",
      "properties": {
        "targetWindowOption": {
          "description": "Type of browser window for which the backup image of the flash creative can be displayed.",
          "type": "string",
          "enum": [
            "NEW_WINDOW",
            "CURRENT_WINDOW",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Open up a new window to display the backup image Corresponds to \"_blank\" in html",
            "Use the current window to display the backup image Corresponds to \"_top\" in html",
            "User-defined HTML used to display the backup image Corresponds to \"other\""
          ]
        },
        "customHtml": {
          "description": "User-entered value.",
          "type": "string"
        }
      }
    },
    "DfpSettings": {
      "description": "Google Ad Manager Settings",
      "type": "object",
      "id": "DfpSettings",
      "properties": {
        "pubPaidPlacementAccepted": {
          "description": "Whether this directory site accepts publisher-paid tags.",
          "type": "boolean"
        },
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "programmaticPlacementAccepted": {
          "description": "Whether this directory site accepts programmatic placements.",
          "type": "boolean"
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        },
        "publisherPortalOnly": {
          "description": "Whether this directory site is available only via Publisher Portal.",
          "type": "boolean"
        }
      }
    },
    "AccountUserProfilesListResponse": {
      "description": "Account User Profile List Response",
      "type": "object",
      "id": "AccountUserProfilesListResponse",
      "properties": {
        "accountUserProfiles": {
          "description": "Account user profile collection.",
          "type": "array",
          "items": {
            "$ref": "AccountUserProfile"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "Invoice": {
      "properties": {
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "campaign_summaries": {
          "description": "The list of summarized campaign information associated with this invoice.",
          "type": "array",
          "items": {
            "$ref": "CampaignSummary"
          }
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        },
        "invoiceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The type of invoice document.",
          "type": "string",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ]
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        }
      },
      "id": "Invoice",
      "description": "Contains information about a single invoice",
      "type": "object"
    },
    "BillingAssignment": {
      "properties": {
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        },
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        }
      },
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "type": "object",
      "id": "BillingAssignment"
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      }
    },
    "UserRolePermissionGroup": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this user role permission.",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        }
      },
      "description": "Represents a grouping of related user role permissions.",
      "type": "object",
      "id": "UserRolePermissionGroup"
    },
    "ConnectionTypesListResponse": {
      "description": "Connection Type List Response",
      "type": "object",
      "id": "ConnectionTypesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        }
      }
    },
    "RichMediaExitOverride": {
      "properties": {
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Rich Media Exit Override.",
      "type": "object",
      "id": "RichMediaExitOverride"
    },
    "EventTag": {
      "id": "EventTag",
      "description": "Contains properties of an event tag.",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string",
          "enum": [
            "ENABLED",
            "DISABLED"
          ]
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "urlEscapeLevels": {
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer",
          "format": "int32"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string"
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "siteFilterType": {
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "type": "string",
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ]
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "type": "string",
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ]
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        }
      }
    },
    "File": {
      "properties": {
        "reportId": {
          "format": "int64",
          "description": "The ID of the report this file was generated from.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The status of the report file.",
          "type": "string",
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ]
        },
        "format": {
          "description": "The output format of the report. Only available once the file is available.",
          "type": "string",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "urls": {
          "description": "The URLs where the completed report file can be downloaded.",
          "type": "object",
          "properties": {
            "apiUrl": {
              "description": "The URL for downloading the report data through the API.",
              "type": "string"
            },
            "browserUrl": {
              "description": "The URL for downloading the report data through a browser.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "The unique ID of this report file.",
          "type": "string",
          "format": "int64"
        },
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "fileName": {
          "description": "The filename of the file.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "The timestamp in milliseconds since epoch when this file was last modified.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        }
      },
      "id": "File",
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "type": "object"
    },
    "ReachReportCompatibleFields": {
      "properties": {
        "reachByFrequencyMetrics": {
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "type": "object",
      "id": "ReachReportCompatibleFields"
    },
    "EventTagsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      },
      "description": "Event Tag List Response",
      "type": "object",
      "id": "EventTagsListResponse"
    },
    "Dimension": {
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        }
      },
      "description": "Represents a dimension.",
      "type": "object",
      "id": "Dimension"
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "id": "FloodlightActivitiesGenerateTagResponse",
      "description": "Floodlight Activity GenerateTag Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\".",
          "type": "string"
        },
        "floodlightActivityTag": {
          "description": "Generated tag for this Floodlight activity. For Google tags, this is the event snippet.",
          "type": "string"
        },
        "globalSiteTagGlobalSnippet": {
          "description": "The global snippet section of a Google tag. The Google tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more.",
          "type": "string"
        }
      }
    },
    "FeedSchedule": {
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "startMinute": {
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "repeatValue": {
          "format": "int64",
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "type": "string"
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        }
      },
      "description": "Contains the schedule of the dynamic feed.",
      "type": "object",
      "id": "FeedSchedule"
    },
    "SiteSkippableSetting": {
      "id": "SiteSkippableSetting",
      "description": "Skippable Settings",
      "type": "object",
      "properties": {
        "skipOffset": {
          "description": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\".",
          "type": "string"
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site.",
          "type": "boolean"
        },
        "progressOffset": {
          "description": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        }
      }
    },
    "StudioCreativeAssetsResponse": {
      "properties": {
        "assets": {
          "description": "The list of studio creative assets.",
          "type": "array",
          "items": {
            "$ref": "StudioCreativeAsset"
          }
        }
      },
      "description": "Response message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "id": "StudioCreativeAssetsResponse"
    },
    "Language": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        }
      },
      "description": "Contains information about a language that can be targeted by ads.",
      "type": "object",
      "id": "Language"
    },
    "CustomRule": {
      "properties": {
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        }
      },
      "description": "Contains custom rule information.",
      "type": "object",
      "id": "CustomRule"
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "description": "Day Part Targeting.",
      "type": "object",
      "properties": {
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        },
        "daysOfWeek": {
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ]
          }
        },
        "hoursOfDay": {
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "CountriesListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "description": "Country collection.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        }
      },
      "description": "Country List Response",
      "type": "object",
      "id": "CountriesListResponse"
    },
    "CampaignSummary": {
      "properties": {
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID.",
          "type": "string"
        },
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        },
        "totalAmountMicros": {
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "preTaxAmountMicros": {
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "taxAmountMicros": {
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CampaignSummary",
      "description": "Represents a summarized campaign information associated with this invoice.",
      "type": "object"
    },
    "CreativesListResponse": {
      "properties": {
        "creatives": {
          "description": "Creative collection.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "CreativesListResponse",
      "description": "Creative List Response",
      "type": "object"
    },
    "UserRolePermissionGroupsListResponse": {
      "properties": {
        "userRolePermissionGroups": {
          "description": "User role permission group collection.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermissionGroup"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroupsListResponse\".",
          "type": "string"
        }
      },
      "id": "UserRolePermissionGroupsListResponse",
      "description": "User Role Permission Group List Response",
      "type": "object"
    },
    "ConversionsBatchInsertResponse": {
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to insert.",
          "type": "boolean"
        },
        "status": {
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\".",
          "type": "string"
        }
      },
      "id": "ConversionsBatchInsertResponse",
      "description": "Insert Conversions Response.",
      "type": "object"
    },
    "FileList": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "The files returned in this response.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "id": "FileList",
      "description": "List of files for a report.",
      "type": "object"
    },
    "SiteTranscodeSetting": {
      "properties": {
        "enabledVideoFormats": {
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        }
      },
      "description": "Transcode Settings",
      "type": "object",
      "id": "SiteTranscodeSetting"
    },
    "OmnitureSettings": {
      "description": "Omniture Integration Settings.",
      "type": "object",
      "id": "OmnitureSettings",
      "properties": {
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        },
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        }
      }
    },
    "SiteContact": {
      "description": "Site Contact",
      "type": "object",
      "id": "SiteContact",
      "properties": {
        "id": {
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "contactType": {
          "description": "Site contact type.",
          "type": "string",
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        }
      }
    },
    "CreativeAsset": {
      "id": "CreativeAsset",
      "description": "Creative Asset.",
      "type": "object",
      "properties": {
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "displayType": {
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ]
        },
        "role": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "type": "string",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ]
        },
        "audioSampleRate": {
          "format": "int32",
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer"
        },
        "zIndex": {
          "format": "int32",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive.",
          "type": "integer"
        },
        "streamingServingUrl": {
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "frameRate": {
          "format": "float",
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "number"
        },
        "companionCreativeIds": {
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "duration": {
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "customStartTimeValue": {
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
          "type": "integer",
          "format": "int32"
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "originalBackup": {
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "windowMode": {
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "type": "string",
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ],
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ]
        },
        "positionTopUnit": {
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "mediaDuration": {
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "politeLoad": {
          "description": "Whether this asset is used as a polite load asset.",
          "type": "boolean"
        },
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "startTimeType": {
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ]
        },
        "fileSize": {
          "format": "int64",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string"
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "type": "number",
          "format": "float"
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          }
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string"
        },
        "positionLeftUnit": {
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ]
        },
        "backupImageExit": {
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "CreativeCustomEvent"
        },
        "hideSelectionBoxes": {
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "alignment": {
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "type": "string",
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "childAssetType": {
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "type": "string",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ]
        },
        "audioBitRate": {
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "mimeType": {
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field."
        },
        "position": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "active": {
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "flashVersion": {
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "artworkType": {
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "type": "string",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ]
        },
        "transparency": {
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets.",
          "type": "boolean"
        },
        "bitRate": {
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "durationType": {
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ]
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        }
      }
    },
    "Metro": {
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "dmaId": {
          "format": "int64",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "type": "string",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "id": "Metro"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "properties": {
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "type": "string"
        },
        "studioCreativeId": {
          "format": "int64",
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional.",
          "type": "string"
        }
      },
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "id": "DfareportingStudioCreativeAssetsInsertRequest"
    },
    "TagData": {
      "properties": {
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        },
        "creativeId": {
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "type": "string",
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "adId": {
          "format": "int64",
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        }
      },
      "description": "Placement Tag Data",
      "type": "object",
      "id": "TagData"
    },
    "Creative": {
      "properties": {
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "Deprecated enum value. No longer supported.",
              "Deprecated enum value. No longer supported.",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ]
          }
        },
        "renderingIdDimensionValue": {
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types.",
          "$ref": "DimensionValue"
        },
        "artworkType": {
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "adTagKeys": {
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customKeyValues": {
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Required. Name of the creative. This must be less than 256 characters long. Applicable to all creative types.",
          "type": "string"
        },
        "active": {
          "description": "Whether the creative is active. Applicable to all creative types.",
          "type": "boolean"
        },
        "backupImageTargetWindow": {
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "TargetWindow"
        },
        "authoringSource": {
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "type": "string",
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS",
            "CREATIVE_AUTHORING_SOURCE_ADOBE",
            "CREATIVE_AUTHORING_SOURCE_TYPEFACE_AI",
            "CREATIVE_AUTHORING_SOURCE_REMBRAND",
            "CREATIVE_AUTHORING_SOURCE_TRACKTO_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_BORNLOGIC",
            "CREATIVE_AUTHORING_SOURCE_BEGEN_AI"
          ],
          "enumDescriptions": [
            "DCM-UI or external API used to author the creative.",
            "DBM-UI used to author the creative.",
            "Studio-UI used to author the creative.",
            "Google Web Designer used to author the creative.",
            "ACS-UI used to author the creative.",
            "Creative authoring source is Adobe.",
            "Creative authoring source is Typeface.ai.",
            "Creative authoring source is Rembrand.",
            "Creative authoring source is Trackto.",
            "Creative authoring source is Bornlogic.",
            "Creative authoring source is BEGEN_AI."
          ]
        },
        "sslCompliant": {
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types.",
          "type": "boolean"
        },
        "htmlCodeLocked": {
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER.",
          "type": "boolean"
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "requiredFlashPluginVersion": {
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "requiredFlashVersion": {
          "format": "int32",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer"
        },
        "id": {
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "autoAdvanceImages": {
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY.",
          "type": "boolean"
        },
        "creativeFieldAssignments": {
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "type": "array",
          "items": {
            "$ref": "CreativeFieldAssignment"
          }
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\".",
          "type": "string"
        },
        "htmlCode": {
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
          "type": "string"
        },
        "redirectUrl": {
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT",
          "type": "string"
        },
        "authoringTool": {
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string",
          "enum": [
            "NINJA",
            "SWIFFY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "backupImageFeatures": {
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          }
        },
        "latestTraffickedCreativeId": {
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "clickTags": {
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "ClickTag"
          }
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "exitCustomEvents": {
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "skippable": {
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "timerCustomEvents": {
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "additionalSizes": {
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "archived": {
          "description": "Whether the creative is archived. Applicable to all creative types.",
          "type": "boolean"
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Required. Type of this creative. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "type": "string",
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ]
        },
        "mediaDuration": {
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "fsCommand": {
          "$ref": "FsCommand",
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE."
        },
        "studioTraffickedCreativeId": {
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types.",
          "$ref": "LastModifiedInfo"
        },
        "backgroundColor": {
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "string"
        },
        "adParameters": {
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "type": "string"
        },
        "creativeAssets": {
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "type": "array",
          "items": {
            "$ref": "CreativeAsset"
          }
        },
        "allowScriptAccess": {
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "boolean"
        },
        "totalFileSize": {
          "format": "int64",
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "backupImageClickThroughUrl": {
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE.",
          "$ref": "CreativeClickThroughUrl"
        },
        "thirdPartyUrls": {
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID.",
          "type": "array",
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          }
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "renderingId": {
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "version": {
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "type": "integer",
          "format": "int32"
        },
        "overrideCss": {
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Required. Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "commercialId": {
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives.",
          "type": "string"
        },
        "studioCreativeId": {
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "backupImageReportingLabel": {
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "companionCreatives": {
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "mediaDescription": {
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID.",
          "type": "string"
        },
        "universalAdId": {
          "$ref": "UniversalAdId",
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string"
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        }
      },
      "id": "Creative",
      "description": "Contains properties of a Creative.",
      "type": "object"
    },
    "CustomRichMediaEvents": {
      "id": "CustomRichMediaEvents",
      "description": "Represents a Custom Rich Media Events group.",
      "type": "object",
      "properties": {
        "filteredEventIds": {
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        }
      }
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "type": "object",
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        }
      }
    },
    "PlacementsListResponse": {
      "description": "Placement List Response",
      "type": "object",
      "id": "PlacementsListResponse",
      "properties": {
        "placements": {
          "description": "Placement collection.",
          "type": "array",
          "items": {
            "$ref": "Placement"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "TargetingTemplatesListResponse": {
      "properties": {
        "targetingTemplates": {
          "description": "Targeting template collection.",
          "type": "array",
          "items": {
            "$ref": "TargetingTemplate"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Targeting Template List Response",
      "type": "object",
      "id": "TargetingTemplatesListResponse"
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "description": "Technology Targeting.",
      "type": "object",
      "properties": {
        "browsers": {
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        },
        "connectionTypes": {
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "platformTypes": {
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "PlatformType"
          }
        },
        "operatingSystemVersions": {
[...]
