{
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "id": "dfareporting:v5",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "/dfareporting/v5/",
  "resources": {
    "contentCategories": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "id": "dfareporting.contentCategories.insert",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new content category.",
          "httpMethod": "POST",
          "request": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.contentCategories.list",
          "parameters": {
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only content categories with these IDs."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            }
          },
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "path": "userprofiles/{+profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "id": "dfareporting.contentCategories.patch",
          "request": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. ContentCategory ID.",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "description": "Gets one content category by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Content category ID.",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.contentCategories.get",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing content category.",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Content category ID.",
              "required": true
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dfareporting.contentCategories.delete",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category."
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "description": "Retrieves list of user profiles for a user.",
          "parameterOrder": [],
          "parameters": {},
          "id": "dfareporting.userProfiles.list",
          "httpMethod": "GET",
          "path": "userprofiles",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          }
        },
        "get": {
          "id": "dfareporting.userProfiles.get",
          "description": "Gets one user profile by ID.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The user profile ID.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}"
        }
      }
    },
    "placementGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Gets one placement group by ID.",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "parameters": {
            "id": {
              "description": "Placement group ID.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.get"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.update",
          "description": "Updates an existing placement group.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "parameters": {
            "placementStrategyIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these placement strategies.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only placement groups with these IDs.",
              "format": "int64",
              "location": "query"
            },
            "maxEndDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "800",
              "format": "int32",
              "location": "query"
            },
            "minEndDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "pricingTypes": {
              "location": "query",
              "description": "Select only placement groups with these pricing types.",
              "type": "string",
              "repeated": true,
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "siteIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only placement groups that are associated with these sites."
            },
            "minStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "activeStatus": {
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "description": "Select only placements with these active statuses."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "campaignIds": {
              "description": "Select only placement groups that belong to these campaigns.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only placement groups that belong to these advertisers.",
              "repeated": true,
              "type": "string"
            },
            "placementGroupType": {
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "type": "string",
              "location": "query"
            },
            "contentCategoryIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query",
              "format": "int64"
            },
            "directorySiteIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these directory sites.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "id": "dfareporting.placementGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "id": "dfareporting.placementGroups.patch",
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "required": true,
              "description": "Required. Placement ID.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "POST",
          "id": "dfareporting.placementGroups.insert",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "path": "userprofiles/{+profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Inserts a new placement group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameters": {
            "summaryAccountId": {
              "type": "string",
              "location": "path",
              "description": "Account ID.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Gets the account's active ad summary by account ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "parameters": {
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active or only inactive targetable remarketing lists."
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            }
          },
          "path": "userprofiles/{+profileId}/targetableRemarketingLists"
        },
        "get": {
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "id": "dfareporting.targetableRemarketingLists.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "path",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Gets one remarketing list by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "id": "dfareporting.metros.list",
          "description": "Retrieves a list of metros.",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/metros"
        }
      }
    },
    "accounts": {
      "methods": {
        "patch": {
          "description": "Updates an existing account. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/accounts",
          "httpMethod": "PATCH",
          "id": "dfareporting.accounts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Account ID."
            }
          },
          "request": {
            "$ref": "Account"
          }
        },
        "get": {
          "id": "dfareporting.accounts.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "description": "Gets one account by ID.",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "Account ID."
            }
          },
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.update",
          "description": "Updates an existing account.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/accounts",
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only accounts with these IDs."
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.list",
          "path": "userprofiles/{+profileId}/accounts",
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "id": "dfareporting.browsers.list",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "path": "userprofiles/{+profileId}/browsers",
          "description": "Retrieves a list of browsers.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "description": "Retrieves a list of TV campaign summaries.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "id": "dfareporting.tvCampaignSummaries.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. User profile ID associated with this request."
            },
            "countryDartId": {
              "type": "string",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "format": "int64",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field.",
              "location": "query"
            },
            "accountId": {
              "location": "query",
              "type": "string",
              "description": "Required. Account ID associated with this request.",
              "format": "int64"
            },
            "tvDataProvider": {
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "httpMethod": "GET"
        }
      }
    },
    "placements": {
      "methods": {
        "list": {
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameters": {
            "siteIds": {
              "format": "int64",
              "repeated": true,
              "description": "Select only placements that are associated with these sites.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "contentCategoryIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "description": "Select only placements that are associated with these content categories."
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that belong to these advertisers."
            },
            "compatibilities": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "repeated": true
            },
            "groupIds": {
              "description": "Select only placements that belong to these placement groups.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "sizeIds": {
              "location": "query",
              "description": "Select only placements that are associated with these sizes.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "activeStatus": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "ids": {
              "description": "Select only placements with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "campaignIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only placements that belong to these campaigns.",
              "format": "int64",
              "location": "query"
            },
            "minStartDate": {
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "maxEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "pricingTypes": {
              "type": "string",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "location": "query",
              "description": "Select only placements with these pricing types."
            },
            "directorySiteIds": {
              "repeated": true,
              "description": "Select only placements that are associated with these directory sites.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "paymentSource": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "description": "Select only placements with this payment source."
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "maxStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "placementStrategyIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only placements that are associated with these placement strategies.",
              "repeated": true
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            }
          },
          "id": "dfareporting.placements.list",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "generatetags": {
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "parameters": {
            "tagFormats": {
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "location": "query",
              "type": "string"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "location": "query",
              "default": "true",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            },
            "tagProperties.gppMacrosIncluded": {
              "location": "query",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "type": "boolean"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "format": "int64"
            },
            "placementIds": {
              "type": "string",
              "location": "query",
              "description": "Generate tags for these placements.",
              "format": "int64",
              "repeated": true
            },
            "tagProperties.dcDbmMacroIncluded": {
              "location": "query",
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "type": "boolean"
            }
          },
          "description": "Generates tags for a placement.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "id": "dfareporting.placements.generatetags",
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "id": "dfareporting.placements.insert",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new placement.",
          "path": "userprofiles/{+profileId}/placements",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "httpMethod": "POST",
          "request": {
            "$ref": "Placement"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Placement ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one placement by ID.",
          "id": "dfareporting.placements.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          }
        },
        "update": {
          "request": {
            "$ref": "Placement"
          },
          "description": "Updates an existing placement.",
          "path": "userprofiles/{+profileId}/placements",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "httpMethod": "PUT",
          "id": "dfareporting.placements.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "id": "dfareporting.placements.patch",
          "path": "userprofiles/{+profileId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "description": "Updates an existing placement. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "Required. Placement ID.",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Placement"
          }
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "billingProfileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Billing profile ID of this billing rate.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "id": "dfareporting.billingRates.list"
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "generateCode": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "id": "dfareporting.dynamicProfiles.generateCode",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          }
        },
        "update": {
          "description": "Updates an existing dynamic profile.",
          "httpMethod": "PUT",
          "path": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.update",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles",
          "request": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "publish": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "description": "Publish for a dynamic profile.",
          "id": "dfareporting.dynamicProfiles.publish",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. Dynamic profile ID.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.dynamicProfiles.get",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "description": "Gets a dynamic profile by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}"
        },
        "insert": {
          "request": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "id": "dfareporting.dynamicProfiles.insert",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "description": "Inserts a new dynamic profile.",
          "parameters": {}
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "id": "dfareporting.operatingSystemVersions.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of operating system versions.",
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one operating system version by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Operating system version ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.operatingSystemVersions.get"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "VideoFormat"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "id": {
              "required": true,
              "format": "int32",
              "pattern": "^[^/]+$",
              "type": "integer",
              "description": "Video format ID.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "description": "Gets one video format by ID.",
          "id": "dfareporting.videoFormats.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "id": "dfareporting.videoFormats.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Lists available video formats.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "response": {
            "$ref": "VideoFormatsListResponse"
          }
        }
      }
    },
    "reports": {
      "resources": {
        "files": {
          "methods": {
            "get": {
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "response": {
                "$ref": "File"
              },
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "supportsMediaDownload": true,
              "parameters": {
                "fileId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the report file.",
                  "location": "path"
                },
                "reportId": {
                  "format": "int64",
                  "location": "path",
                  "description": "The ID of the report.",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "description": "The Campaign Manager 360 user profile ID.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                }
              },
              "id": "dfareporting.reports.files.get"
            },
            "list": {
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "httpMethod": "GET",
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "response": {
                "$ref": "FileList"
              },
              "parameters": {
                "sortOrder": {
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "location": "query",
                  "description": "Order of sorted results.",
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "default": "DESCENDING",
                  "type": "string"
                },
                "maxResults": {
                  "description": "Maximum number of results to return.",
                  "default": "10",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "type": "string",
                  "format": "int64"
                },
                "sortField": {
                  "description": "The field by which to sort the list.",
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "default": "LAST_MODIFIED_TIME"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous result page.",
                  "location": "query",
                  "type": "string"
                },
                "reportId": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the parent report."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "id": "dfareporting.reports.files.list",
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "description": "Lists files for a report."
            }
          }
        },
        "compatibleFields": {
          "methods": {
            "query": {
              "httpMethod": "POST",
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CompatibleFields"
              },
              "path": "userprofiles/{profileId}/reports/compatiblefields/query",
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "id": "dfareporting.reports.compatibleFields.query",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "request": {
                "$ref": "Report"
              },
              "parameterOrder": [
                "profileId"
              ]
            }
          }
        }
      },
      "methods": {
        "delete": {
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "httpMethod": "DELETE",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the report.",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID."
            }
          },
          "description": "Deletes a report by its ID.",
          "id": "dfareporting.reports.delete"
        },
        "update": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "The ID of the report.",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "Report"
          },
          "httpMethod": "PUT",
          "id": "dfareporting.reports.update",
          "response": {
            "$ref": "Report"
          },
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Updates a report.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "Report"
          },
          "id": "dfareporting.reports.get",
          "parameters": {
            "reportId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "The ID of the report.",
              "required": true
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Retrieves a report by its ID."
        },
        "list": {
          "description": "Retrieves list of reports.",
          "path": "userprofiles/{profileId}/reports",
          "id": "dfareporting.reports.list",
          "flatPath": "userprofiles/{profileId}/reports",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string"
            },
            "sortField": {
              "default": "LAST_MODIFIED_TIME",
              "type": "string",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "location": "query",
              "description": "The field by which to sort the list.",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ]
            },
            "scope": {
              "default": "MINE",
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "enum": [
                "ALL",
                "MINE"
              ],
              "type": "string",
              "description": "The scope that defines which results are returned.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "default": "10"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "DESCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ReportList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "insert": {
          "id": "dfareporting.reports.insert",
          "parameters": {
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Report"
          },
          "description": "Creates a report.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports",
          "path": "userprofiles/{profileId}/reports"
        },
        "run": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Runs a report.",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "id": "dfareporting.reports.run",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "httpMethod": "POST",
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "The ID of the report.",
              "required": true
            },
            "synchronous": {
              "default": "false",
              "location": "query",
              "description": "If set and true, tries to run the report synchronously.",
              "type": "boolean"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "File"
          }
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameters": {
            "creativeFieldId": {
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "id": "dfareporting.creativeFieldValues.insert",
          "httpMethod": "POST",
          "description": "Inserts a new creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "CreativeField ID.",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "description": "CreativeFieldValue ID.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.patch"
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Creative Field Value ID",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "description": "Deletes an existing creative field value.",
          "id": "dfareporting.creativeFieldValues.delete",
          "httpMethod": "DELETE"
        },
        "update": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value.",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.update",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "creativeFieldId": {
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "VALUE"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "location": "query",
              "description": "Select only creative field values with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "creativeFieldId": {
              "required": true,
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "dfareporting.creativeFieldValues.list",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.get",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "description": "Gets one creative field value by ID.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Creative Field Value ID",
              "required": true
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "creativeFieldId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "id": "dfareporting.advertiserInvoices.list",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "parameters": {
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Advertiser ID of this invoice.",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "1000"
            }
          },
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one account permission group by ID.",
          "id": "dfareporting.accountPermissionGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Account permission group ID."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}"
        },
        "list": {
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "id": "dfareporting.accountPermissionGroups.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of account permission groups."
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one placement strategy by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "location": "path",
              "description": "Placement strategy ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementStrategies.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only placement strategies with these IDs.",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
[...]
