{
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "/dfareporting/v5/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "servicePath": "dfareporting/v5/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "version": "v5",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "dfareporting",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "id": "dfareporting:v5",
  "title": "Campaign Manager 360 API",
  "canonicalName": "Dfareporting",
  "resources": {
    "cities": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/cities",
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "countryDartIds": {
              "description": "Select only cities from these countries.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "dartIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only cities with these DART IDs.",
              "format": "int64"
            },
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "namePrefix": {
              "description": "Select only cities with names starting with this prefix.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CitiesListResponse"
          },
          "description": "Retrieves a list of cities, possibly filtered.",
          "id": "dfareporting.cities.list"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "id": "dfareporting.advertiserGroups.patch",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Required. Advertiser Group ID.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AdvertiserGroup"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.list",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only advertiser groups with these IDs.",
              "repeated": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Inserts a new advertiser group.",
          "id": "dfareporting.advertiserGroups.insert",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "id": "dfareporting.advertiserGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Updates an existing advertiser group."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one advertiser group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Advertiser group ID.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.advertiserGroups.get"
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Advertiser group ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.advertiserGroups.delete",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "description": "Deletes an existing advertiser group."
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "get": {
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Studio creative ID.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "StudioCreative"
          },
          "httpMethod": "GET",
          "id": "dfareporting.studioCreatives.get",
          "description": "Gets a studio creative by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "studioCreativeId"
          ],
          "path": "studio/creatives/{+studioCreativeId}",
          "flatPath": "studio/creatives/{creativesId}"
        },
        "publish": {
          "id": "dfareporting.studioCreatives.publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "description": "Publish for a studio creative.",
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "parameters": {
            "studioCreativeId": {
              "description": "Required. Studio creative ID.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "studio/creatives/{creativesId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "studio/creatives",
          "path": "studio/creatives",
          "description": "Inserts a new studio creative.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "id": "dfareporting.studioCreatives.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "StudioCreative"
          },
          "request": {
            "$ref": "StudioCreative"
          },
          "parameterOrder": []
        }
      }
    },
    "eventTags": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "dfareporting.eventTags.insert",
          "description": "Inserts a new event tag.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "EventTag"
          },
          "request": {
            "$ref": "EventTag"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "EventTag"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "location": "query",
              "description": "Required. EventTag ID.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.patch",
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing event tag.",
          "id": "dfareporting.eventTags.delete",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Event tag ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/eventTags/{+id}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of event tags, possibly filtered.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "enabled": {
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well.",
              "location": "query",
              "type": "boolean"
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only event tags that belong to this advertiser.",
              "format": "int64",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "type": "string",
              "location": "query"
            },
            "adId": {
              "description": "Select only event tags that belong to this ad.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "definitionsOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "eventTagTypes": {
              "type": "string",
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "repeated": true,
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ],
              "location": "query"
            },
            "campaignId": {
              "type": "string",
              "description": "Select only event tags that belong to this campaign.",
              "format": "int64",
              "location": "query"
            },
            "ids": {
              "description": "Select only event tags with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "EventTagsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "path": "userprofiles/{+profileId}/eventTags",
          "id": "dfareporting.eventTags.list"
        },
        "update": {
          "request": {
            "$ref": "EventTag"
          },
          "description": "Updates an existing event tag.",
          "id": "dfareporting.eventTags.update",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/eventTags",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "response": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one event tag by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Event tag ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "dfareporting.eventTags.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}"
        }
      }
    },
    "advertisers": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Required. Advertiser ID.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "flatPath": "userprofiles/{userprofilesId}/advertisers"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "description": "Inserts a new advertiser.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.insert"
        },
        "get": {
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one advertiser by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Advertiser ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "dfareporting.advertisers.get"
        },
        "list": {
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "type": "boolean",
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query"
            },
            "status": {
              "description": "Select only advertisers with the specified status.",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "location": "query",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "type": "string"
            },
            "onlyParent": {
              "type": "boolean",
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "description": "Select only advertisers with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "advertiserGroupIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Select only advertisers with these advertiser group IDs.",
              "format": "int64"
            },
            "floodlightConfigurationIds": {
              "type": "string",
              "location": "query",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "repeated": true,
              "format": "int64"
            },
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "httpMethod": "GET",
          "id": "dfareporting.advertisers.list"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing advertiser.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "PUT"
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "description": "Inserts a new dynamic profile.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.insert",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "publish": {
          "httpMethod": "POST",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "description": "Publish for a dynamic profile.",
          "id": "dfareporting.dynamicProfiles.publish",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish"
        },
        "generateCode": {
          "id": "dfareporting.dynamicProfiles.generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "httpMethod": "GET",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dynamic profile ID.",
              "required": true
            }
          },
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.dynamicProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Gets a dynamic profile by ID.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}"
        },
        "update": {
          "path": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.update",
          "flatPath": "studio/dynamicProfiles",
          "description": "Updates an existing dynamic profile.",
          "response": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "httpMethod": "PUT",
          "request": {
            "$ref": "DynamicProfile"
          }
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "id": "dfareporting.browsers.list",
          "path": "userprofiles/{+profileId}/browsers",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "description": "Retrieves a list of browsers.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Gets one floodlight configuration by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.floodlightConfigurations.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Floodlight configuration ID."
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "ids": {
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightConfigurations.list",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "description": "Required. EventTag ID.",
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration. This method supports patch semantics."
        },
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration.",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.update",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AccountsListResponse"
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only accounts with these IDs.",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "active": {
              "location": "query",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.list",
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing account. This method supports patch semantics.",
          "request": {
            "$ref": "Account"
          },
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Account ID."
            }
          },
          "id": "dfareporting.accounts.patch",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "response": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "id": {
              "description": "Account ID.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets one account by ID.",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "response": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.update",
          "httpMethod": "PUT",
          "description": "Updates an existing account.",
          "request": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only user role permissions with these IDs."
            }
          },
          "description": "Gets a list of user role permissions, possibly filtered.",
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "id": "dfareporting.userRolePermissions.get",
          "httpMethod": "GET",
          "description": "Gets one user role permission by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User role permission ID.",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "description": "Retrieves a list of regions.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RegionsListResponse"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "path": "userprofiles/{+profileId}/regions",
          "id": "dfareporting.regions.list"
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "delete": {
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "objectType": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "required": true
            },
            "name": {
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "objectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Deletes an existing dynamic targeting key.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "POST",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement."
        },
        "list": {
          "description": "Retrieves a list of dynamic targeting keys.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.list",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "names": {
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "objectType": {
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            },
            "objectId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only dynamic targeting keys with this object ID."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "reports": {
      "resources": {
        "files": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "dfareporting.reports.files.list",
              "parameters": {
                "profileId": {
                  "format": "int64",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "reportId": {
                  "required": true,
                  "description": "The ID of the parent report.",
                  "type": "string",
                  "format": "int64",
                  "location": "path"
                },
                "sortField": {
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "The field by which to sort the list.",
                  "default": "LAST_MODIFIED_TIME"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value of the nextToken from the previous result page.",
                  "location": "query"
                },
                "maxResults": {
                  "format": "int32",
                  "description": "Maximum number of results to return.",
                  "type": "integer",
                  "location": "query",
                  "default": "10"
                },
                "sortOrder": {
                  "location": "query",
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "default": "DESCENDING",
                  "type": "string",
                  "description": "Order of sorted results.",
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ]
                }
              },
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "description": "Lists files for a report.",
              "response": {
                "$ref": "FileList"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "path": "userprofiles/{profileId}/reports/{reportId}/files"
            },
            "get": {
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "response": {
                "$ref": "File"
              },
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "supportsMediaDownload": true,
              "parameters": {
                "reportId": {
                  "location": "path",
                  "format": "int64",
                  "description": "The ID of the report.",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                },
                "fileId": {
                  "description": "The ID of the report file.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                }
              },
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "id": "dfareporting.reports.files.get",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "httpMethod": "GET"
            }
          }
        },
        "compatibleFields": {
          "methods": {
            "query": {
              "path": "userprofiles/{profileId}/reports/compatiblefields/query",
              "parameterOrder": [
                "profileId"
              ],
              "parameters": {
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID."
                }
              },
              "id": "dfareporting.reports.compatibleFields.query",
              "httpMethod": "POST",
              "response": {
                "$ref": "CompatibleFields"
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "request": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query"
            }
          }
        }
      },
      "methods": {
        "delete": {
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "reportId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "The ID of the report."
            }
          },
          "description": "Deletes a report by its ID.",
          "id": "dfareporting.reports.delete",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "list": {
          "response": {
            "$ref": "ReportList"
          },
          "description": "Retrieves list of reports.",
          "id": "dfareporting.reports.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/reports",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/reports",
          "parameters": {
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "DESCENDING"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "10",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "sortField": {
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "description": "The field by which to sort the list.",
              "default": "LAST_MODIFIED_TIME",
              "location": "query",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "type": "string"
            },
            "scope": {
              "description": "The scope that defines which results are returned.",
              "location": "query",
              "default": "MINE",
              "enum": [
                "ALL",
                "MINE"
              ],
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "type": "string"
            }
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "reportId": {
              "format": "int64",
              "description": "The ID of the report.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "request": {
            "$ref": "Report"
          },
          "id": "dfareporting.reports.update",
          "description": "Updates a report."
        },
        "run": {
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "parameters": {
            "reportId": {
              "type": "string",
              "description": "The ID of the report.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "synchronous": {
              "default": "false",
              "location": "query",
              "description": "If set and true, tries to run the report synchronously.",
              "type": "boolean"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.reports.run",
          "description": "Runs a report.",
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "File"
          }
        },
        "insert": {
          "description": "Creates a report.",
          "path": "userprofiles/{profileId}/reports",
          "httpMethod": "POST",
          "response": {
            "$ref": "Report"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dfareporting.reports.insert",
          "flatPath": "userprofiles/{profileId}/reports",
          "request": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "parameters": {
            "reportId": {
              "format": "int64",
              "description": "The ID of the report.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Retrieves a report by its ID.",
          "id": "dfareporting.reports.get",
          "path": "userprofiles/{profileId}/reports/{reportId}"
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "get": {
          "description": "Gets one remarketing list share by remarketing list ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "remarketingListId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Remarketing list ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "httpMethod": "GET",
          "id": "dfareporting.remarketingListShares.get",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "response": {
            "$ref": "RemarketingListShare"
          }
        },
        "update": {
          "response": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.remarketingListShares.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "description": "Updates an existing remarketing list share.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares"
        },
        "patch": {
          "id": "dfareporting.remarketingListShares.patch",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "ads": {
      "methods": {
        "get": {
          "description": "Gets one ad by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Ad ID.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.ads.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "path": "userprofiles/{+profileId}/ads/{+id}"
        },
        "insert": {
          "request": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "POST",
          "id": "dfareporting.ads.insert",
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new ad.",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.ads.update",
          "request": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing ad."
        },
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameters": {
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "type": "boolean",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only ads with these IDs."
            },
            "type": {
              "repeated": true,
              "location": "query",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only ads with these types."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID"
            },
            "creativeIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only ads with these creative IDs assigned.",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query"
            },
            "active": {
              "location": "query",
              "description": "Select only active ads.",
              "type": "boolean"
            },
            "remarketingListIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only ads whose list targeting expression use these remarketing list IDs."
            },
            "creativeOptimizationConfigurationIds": {
              "description": "Select only ads with these creative optimization configuration IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sslRequired": {
              "description": "Select only ads that require SSL.",
              "type": "boolean",
              "location": "query"
            },
            "sizeIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these size IDs."
            },
            "dynamicClickTracker": {
              "location": "query",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "type": "boolean"
            },
            "campaignIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only ads with these campaign IDs.",
              "location": "query"
            },
            "audienceSegmentIds": {
              "repeated": true,
              "format": "int64",
              "description": "Select only ads with these audience segment IDs.",
              "location": "query",
              "type": "string"
            },
            "compatibility": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string",
              "location": "query"
            },
            "landingPageIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only ads with these landing page IDs."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "archived": {
              "location": "query",
              "description": "Select only archived ads.",
              "type": "boolean"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query"
            },
            "placementIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only ads with these placement IDs assigned.",
              "repeated": true,
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with this advertiser ID."
            },
            "overriddenEventTagId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only ads with this event tag override ID."
            }
          },
          "id": "dfareporting.ads.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "parameters": {
            "id": {
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "description": "Updates an existing ad. This method supports patch semantics.",
          "request": {
            "$ref": "Ad"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.patch"
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "parameters": {
            "accountId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Required. Account ID associated with this request."
            },
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Required. TV Campaign ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "Required. User profile ID associated with this request."
            },
            "tvDataProvider": {
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query",
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.tvCampaignDetails.get",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "description": "Gets one TvCampaignDetail by ID."
        }
      }
    },
    "subaccounts": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "description": "Gets one subaccount by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.subaccounts.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Subaccount ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.subaccounts.insert",
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "description": "Inserts a new subaccount.",
          "httpMethod": "POST"
        },
        "list": {
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "id": "dfareporting.subaccounts.list",
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "GET",
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "type": "string",
              "description": "Select only subaccounts with these IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "request": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount.",
          "id": "dfareporting.subaccounts.update",
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Required. Subaccount ID."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "id": "dfareporting.subaccounts.patch",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "response": {
            "$ref": "VideoFormat"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.videoFormats.get",
          "parameters": {
            "id": {
              "type": "integer",
              "required": true,
              "description": "Video format ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
[...]
