{
  "discoveryVersion": "v1",
  "servicePath": "dfareporting/v5/",
  "basePath": "/dfareporting/v5/",
  "ownerDomain": "google.com",
  "revision": "20260721",
  "canonicalName": "Dfareporting",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "resources": {
    "creativeFields": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "description": "Creative Field ID",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one creative field by ID.",
          "id": "dfareporting.creativeFields.get",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}"
        },
        "update": {
          "request": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Updates an existing creative field.",
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.creativeFields.update"
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "required": true,
              "description": "CreativeField ID.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          }
        },
        "list": {
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "location": "query"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only creative fields that belong to these advertisers."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Creative Field ID",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing creative field.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "id": "dfareporting.creativeFields.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}"
        },
        "insert": {
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Inserts a new creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFields.insert",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/creativeFields",
          "request": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "retransform": {
          "parameters": {
            "dynamicFeedId": {
              "location": "path",
              "description": "Required. Dynamic feed ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "httpMethod": "POST",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "id": "dfareporting.dynamicFeeds.retransform",
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "get": {
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "httpMethod": "GET",
          "id": "dfareporting.dynamicFeeds.get",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "description": "Gets a dynamic feed by ID.",
          "parameters": {
            "dynamicFeedId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Required. Dynamic feed ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DynamicFeed"
          },
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "DynamicFeed"
          },
          "description": "Inserts a new dynamic feed.",
          "id": "dfareporting.dynamicFeeds.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "studio/dynamicFeeds",
          "flatPath": "studio/dynamicFeeds"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "DynamicFeed"
          },
          "path": "studio/dynamicFeeds",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicFeeds",
          "parameters": {},
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "parameterOrder": [],
          "id": "dfareporting.dynamicFeeds.update",
          "response": {
            "$ref": "DynamicFeed"
          }
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/regions",
          "response": {
            "$ref": "RegionsListResponse"
          },
          "description": "Retrieves a list of regions.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "dfareporting.regions.list"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "delete": {
          "description": "Deletes an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Advertiser group ID.",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "id": "dfareporting.advertiserGroups.delete",
          "httpMethod": "DELETE"
        },
        "insert": {
          "description": "Inserts a new advertiser group.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "id": "dfareporting.advertiserGroups.insert",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "get": {
          "id": "dfareporting.advertiserGroups.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Advertiser group ID.",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Gets one advertiser group by ID."
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\"."
            },
            "ids": {
              "description": "Select only advertiser groups with these IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.advertiserGroups.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Updates an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertiserGroups.update",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          }
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "description": "Required. Advertiser Group ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "get": {
          "id": "dfareporting.directorySites.get",
          "response": {
            "$ref": "DirectorySite"
          },
          "description": "Gets one directory site by ID.",
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "id": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Directory site ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          },
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "path": "userprofiles/{+profileId}/directorySites",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Inserts a new directory site."
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/directorySites",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query"
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "dfpNetworkCode": {
              "location": "query",
              "description": "Select only directory sites with this Ad Manager network code.",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsPublisherPaidPlacements": {
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only directory sites with these IDs.",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "id": "dfareporting.directorySites.list",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites"
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "publish": {
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Studio creative ID.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "studioCreativeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Publish for a studio creative.",
          "httpMethod": "POST",
          "id": "dfareporting.studioCreatives.publish",
          "flatPath": "studio/creatives/{creativesId}/publish"
        },
        "get": {
          "parameters": {
            "studioCreativeId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Studio creative ID.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "studio/creatives/{creativesId}",
          "id": "dfareporting.studioCreatives.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "description": "Gets a studio creative by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives/{+studioCreativeId}",
          "response": {
            "$ref": "StudioCreative"
          }
        },
        "insert": {
          "id": "dfareporting.studioCreatives.insert",
          "description": "Inserts a new studio creative.",
          "flatPath": "studio/creatives",
          "parameterOrder": [],
          "request": {
            "$ref": "StudioCreative"
          },
          "path": "studio/creatives",
          "httpMethod": "POST",
          "response": {
            "$ref": "StudioCreative"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/languages",
          "description": "Retrieves a list of languages.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "dfareporting.languages.list"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User role permission group ID.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role permission group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}"
        },
        "list": {
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups."
        }
      }
    },
    "advertisers": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.update",
          "path": "userprofiles/{+profileId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing advertiser.",
          "request": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "id": "dfareporting.advertisers.get",
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one advertiser by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "id": {
              "location": "path",
              "description": "Advertiser ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Advertiser"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/advertisers",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID"
            },
            "floodlightConfigurationIds": {
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "advertiserGroupIds": {
              "format": "int64",
              "description": "Select only advertisers with these advertiser group IDs.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "subaccountId": {
              "location": "query",
              "description": "Select only advertisers with these subaccount IDs.",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "default": "1000",
              "type": "integer"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "location": "query",
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "type": "boolean"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "location": "query"
            },
            "status": {
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "type": "string",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status.",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only advertisers with these IDs."
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "onlyParent": {
              "location": "query",
              "type": "boolean",
              "description": "Select only advertisers which use another advertiser's floodlight configuration."
            }
          },
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertisers.list"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "id": "dfareporting.advertisers.insert",
          "response": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new advertiser.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Advertiser"
          }
        },
        "patch": {
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "response": {
            "$ref": "Advertiser"
          },
          "request": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "description": "Required. Advertiser ID.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertisers.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "update": {
          "id": "dfareporting.remarketingLists.update",
          "description": "Updates an existing remarketing list.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "httpMethod": "PUT",
          "response": {
            "$ref": "RemarketingList"
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "httpMethod": "POST",
          "description": "Inserts a new remarketing list.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.insert",
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "floodlightActivityId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only remarketing lists that have this floodlight activity ID."
            },
            "advertiserId": {
              "required": true,
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\"."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "id": "dfareporting.remarketingLists.list",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.remarketingLists.patch"
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.remarketingLists.get",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "description": "Gets one remarketing list by ID.",
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "parameters": {
            "countryDartId": {
              "location": "query",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "format": "int64"
            },
            "tvDataProvider": {
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field."
            },
            "profileId": {
              "location": "path",
              "description": "Required. User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Account ID associated with this request.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.tvCampaignSummaries.list",
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "description": "Retrieves a list of TV campaign summaries.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "billingProfileId": {
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "description": "Retrieves a list of billing assignments.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "id": "dfareporting.billingAssignments.list"
        },
        "insert": {
          "request": {
            "$ref": "BillingAssignment"
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "id": "dfareporting.billingAssignments.insert",
          "httpMethod": "POST",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BillingAssignment"
          }
        }
      }
    },
    "placementGroups": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.patch",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Required. Placement ID.",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Updates an existing placement group.",
          "id": "dfareporting.placementGroups.update",
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "get": {
          "description": "Gets one placement group by ID.",
          "id": "dfareporting.placementGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Placement group ID.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "GET",
          "parameters": {
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "siteIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these sites.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "contentCategoryIds": {
              "format": "int64",
              "description": "Select only placement groups that are associated with these content categories.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "800",
              "type": "integer",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "description": "Select only placement groups with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "directorySiteIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only placement groups that are associated with these directory sites.",
              "type": "string",
              "format": "int64"
            },
            "maxEndDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "placementGroupType": {
              "type": "string",
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "location": "query",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ]
            },
            "campaignIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only placement groups that belong to these campaigns."
            },
            "maxStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "placementStrategyIds": {
              "type": "string",
              "format": "int64",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "activeStatus": {
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "minStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "advertiserIds": {
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups that belong to these advertisers.",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "pricingTypes": {
              "repeated": true,
              "location": "query",
              "description": "Select only placement groups with these pricing types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ]
            }
          },
          "id": "dfareporting.placementGroups.list"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.insert",
          "description": "Inserts a new placement group.",
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "POST",
          "request": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "advertiserId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Advertiser ID of this invoice."
            }
          },
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "id": "dfareporting.advertiserInvoices.list",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices"
        }
      }
    },
    "creatives": {
      "methods": {
        "update": {
          "id": "dfareporting.creatives.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative.",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Creative"
          }
        },
        "patch": {
          "id": "dfareporting.creatives.patch",
          "request": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/creatives",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Required. Creative ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "description": "Inserts a new creative.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.insert"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Creative ID.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creatives.get",
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "description": "Gets one creative by ID."
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query",
              "type": "string"
            },
            "studioCreativeId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only creatives corresponding to this Studio creative ID."
            },
            "creativeFieldIds": {
              "format": "int64",
              "description": "Select only creatives with these creative field IDs.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "archived": {
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
              "location": "query",
              "type": "boolean"
            },
            "types": {
              "location": "query",
              "repeated": true,
              "description": "Select only creatives with these creative types.",
              "type": "string",
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "renderingIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only creatives with these rendering IDs."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "ids": {
              "description": "Select only creatives with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query"
            },
            "companionCreativeIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only in-stream video creatives with these companion IDs."
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "sizeIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Select only creatives with these size IDs.",
              "format": "int64"
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "campaignId": {
              "description": "Select only creatives with this campaign ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "id": "dfareporting.creatives.list",
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        }
      }
    },
    "campaigns": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.insert",
          "description": "Inserts a new campaign.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "response": {
            "$ref": "Campaign"
          }
        },
        "list": {
          "id": "dfareporting.campaigns.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "httpMethod": "GET",
          "parameters": {
            "overriddenEventTagId": {
              "description": "Select only campaigns that have overridden this event tag ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "atLeastOneOptimizationActivity": {
              "type": "boolean",
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity."
            },
            "advertiserGroupIds": {
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only campaigns with these IDs."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".",
              "location": "query"
            },
            "advertiserIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only campaigns that belong to these advertisers.",
              "repeated": true
            },
            "excludedIds": {
              "format": "int64",
              "type": "string",
              "description": "Exclude campaigns with these IDs.",
              "location": "query",
              "repeated": true
            },
            "subaccountId": {
              "description": "Select only campaigns that belong to this subaccount.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "path": "userprofiles/{+profileId}/campaigns",
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. Campaign ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "request": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns"
        },
        "get": {
          "response": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "description": "Gets one campaign by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "description": "Campaign ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.campaigns.get",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.campaigns.update",
          "path": "userprofiles/{+profileId}/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "description": "Updates an existing campaign.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns"
        }
      }
    },
    "eventTags": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Updates an existing event tag.",
          "request": {
            "$ref": "EventTag"
          },
          "response": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. EventTag ID."
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "request": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.patch"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Event tag ID."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Deletes an existing event tag.",
          "id": "dfareporting.eventTags.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "description": "Inserts a new event tag.",
          "request": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags",
          "id": "dfareporting.eventTags.insert",
          "response": {
            "$ref": "EventTag"
          },
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/eventTags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of event tags, possibly filtered.",
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\"."
            },
            "ids": {
              "description": "Select only event tags with these IDs.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "definitionsOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags."
            },
            "adId": {
              "description": "Select only event tags that belong to this ad.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "enabled": {
              "location": "query",
              "type": "boolean",
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well."
            },
            "eventTagTypes": {
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ],
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "location": "query",
              "type": "string",
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "repeated": true
            },
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "campaignId": {
              "type": "string",
              "location": "query",
              "description": "Select only event tags that belong to this campaign.",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "Select only event tags that belong to this advertiser.",
              "location": "query"
            }
          },
[...]
