{
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "kind": "discovery#restDescription",
  "revision": "20260721",
  "canonicalName": "Dfareporting",
  "servicePath": "dfareporting/v5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "resources": {
    "creativeFields": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "CreativeField ID.",
              "required": true,
              "format": "int64",
              "location": "query"
            }
          },
          "id": "dfareporting.creativeFields.patch",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Creative Field ID",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "id": "dfareporting.creativeFields.get",
          "description": "Gets one creative field by ID.",
          "response": {
            "$ref": "CreativeField"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+id}"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/creativeFields",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFields.insert",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "description": "Inserts a new creative field.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CreativeField"
          },
          "request": {
            "$ref": "CreativeField"
          }
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Creative Field ID"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an existing creative field.",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "id": "dfareporting.creativeFields.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeFields.list",
          "parameters": {
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "ids": {
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "type": "string"
            },
            "advertiserIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates an existing creative field.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.update",
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "supportsMediaDownload": true,
          "parameters": {
            "reportId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the report.",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the report file.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "httpMethod": "GET",
          "path": "reports/{reportId}/files/{fileId}",
          "flatPath": "reports/{reportId}/files/{fileId}",
          "id": "dfareporting.files.get"
        },
        "list": {
          "path": "userprofiles/{profileId}/files",
          "description": "Lists files for a user profile.",
          "parameters": {
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "scope": {
              "location": "query",
              "description": "The scope that defines which results are returned.",
              "default": "MINE",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "type": "string",
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ]
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "maxResults": {
              "default": "10",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value of the nextToken from the previous result page."
            },
            "sortField": {
              "default": "LAST_MODIFIED_TIME",
              "description": "The field by which to sort the list.",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ],
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.files.list",
          "flatPath": "userprofiles/{profileId}/files"
        }
      }
    },
    "platformTypes": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Platform type ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "PlatformType"
          },
          "description": "Gets one platform type by ID.",
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "id": "dfareporting.platformTypes.get",
          "httpMethod": "GET"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/platformTypes",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "id": "dfareporting.platformTypes.list",
          "description": "Retrieves a list of platform types.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "generateCode": {
          "httpMethod": "GET",
          "id": "dfareporting.dynamicProfiles.generateCode",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Dynamic profile ID.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "publish": {
          "id": "dfareporting.dynamicProfiles.publish",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Publish for a dynamic profile."
        },
        "insert": {
          "parameterOrder": [],
          "parameters": {},
          "id": "dfareporting.dynamicProfiles.insert",
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Inserts a new dynamic profile.",
          "flatPath": "studio/dynamicProfiles",
          "httpMethod": "POST",
          "path": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicProfile"
          }
        },
        "get": {
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "description": "Gets a dynamic profile by ID.",
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "id": "dfareporting.dynamicProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        },
        "update": {
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Updates an existing dynamic profile.",
          "parameterOrder": [],
          "flatPath": "studio/dynamicProfiles",
          "httpMethod": "PUT",
          "path": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "parameters": {}
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new remarketing list.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "get": {
          "description": "Gets one remarketing list by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.remarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}"
        },
        "list": {
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.remarketingLists.list",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "floodlightActivityId": {
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "patch": {
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "id": "dfareporting.remarketingLists.patch"
        },
        "update": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing remarketing list.",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "RemarketingList"
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys"
        },
        "delete": {
          "parameters": {
            "objectType": {
              "type": "string",
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "required": true
            },
            "objectId": {
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "name": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "description": "Deletes an existing dynamic targeting key.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "id": "dfareporting.dynamicTargetingKeys.delete"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "description": "Retrieves a list of dynamic targeting keys.",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "parameters": {
            "objectType": {
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "description": "Select only dynamic targeting keys with this object type."
            },
            "objectId": {
              "type": "string",
              "location": "query",
              "description": "Select only dynamic targeting keys with this object ID.",
              "format": "int64"
            },
            "advertiserId": {
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "names": {
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          }
        }
      }
    },
    "ads": {
      "methods": {
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PUT",
          "id": "dfareporting.ads.update",
          "description": "Updates an existing ad.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "id": "dfareporting.ads.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad. This method supports patch semantics.",
          "parameters": {
            "id": {
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.ads.get",
          "description": "Gets one ad by ID.",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "Ad ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "id": "dfareporting.ads.insert",
          "path": "userprofiles/{+profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "description": "Inserts a new ad."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.list",
          "response": {
            "$ref": "AdsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameters": {
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active ads."
            },
            "creativeIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only ads with these creative IDs assigned.",
              "repeated": true,
              "type": "string"
            },
            "placementIds": {
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only ads with these placement IDs assigned."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "creativeOptimizationConfigurationIds": {
              "repeated": true,
              "description": "Select only ads with these creative optimization configuration IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "type": {
              "repeated": true,
              "description": "Select only ads with these types.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ]
            },
            "ids": {
              "description": "Select only ads with these IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "sslRequired": {
              "description": "Select only ads that require SSL.",
              "location": "query",
              "type": "boolean"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "type": "boolean",
              "location": "query"
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived ads.",
              "location": "query"
            },
            "campaignIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only ads with these campaign IDs.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "remarketingListIds": {
              "location": "query",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true
            },
            "compatibility": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "type": "string",
              "location": "query"
            },
            "sizeIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these size IDs.",
              "type": "string",
              "repeated": true
            },
            "overriddenEventTagId": {
              "type": "string",
              "description": "Select only ads with this event tag override ID.",
              "format": "int64",
              "location": "query"
            },
            "landingPageIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these landing page IDs.",
              "repeated": true
            },
            "advertiserId": {
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "audienceSegmentIds": {
              "description": "Select only ads with these audience segment IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "sslCompliant": {
              "type": "boolean",
              "description": "Select only ads that are SSL-compliant.",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/ads",
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging."
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Floodlight activity Group ID.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Gets one floodlight activity group by ID.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.list",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "location": "query"
            },
            "type": {
              "type": "string",
              "location": "query",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "floodlightConfigurationId": {
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            }
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivityGroups.insert",
          "description": "Inserts a new floodlight activity group.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.update",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Updates an existing floodlight activity group."
        },
        "patch": {
          "id": "dfareporting.floodlightActivityGroups.patch",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Required. EventTag ID.",
              "required": true,
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "update": {
          "description": "Updates an existing landing page.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "LandingPage"
          },
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.update",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "description": "Gets one landing page by ID.",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Landing page ID."
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "id": "dfareporting.advertiserLandingPages.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "description": "Retrieves a list of landing pages.",
          "id": "dfareporting.advertiserLandingPages.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "parameters": {
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "advertiserIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only landing pages that belong to these advertisers.",
              "location": "query"
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only landing pages that belong to this subaccount.",
              "location": "query",
              "type": "string"
            },
            "campaignIds": {
              "location": "query",
              "description": "Select only landing pages that are associated with these campaigns.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "default": "1000"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "description": "Select only landing pages with these IDs.",
              "format": "int64",
              "repeated": true
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "description": "Inserts a new landing page.",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.insert",
          "request": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "request": {
            "$ref": "LandingPage"
          },
          "httpMethod": "PATCH",
          "id": "dfareporting.advertiserLandingPages.patch",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Landing Page ID."
            }
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SizesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "path": "userprofiles/{+profileId}/sizes",
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "id": "dfareporting.sizes.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "height": {
              "description": "Select only sizes with this height.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "ids": {
              "location": "query",
              "description": "Select only sizes with these IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Select only sizes with this width.",
              "location": "query"
            },
            "iabStandard": {
              "type": "boolean",
              "location": "query",
              "description": "Select only IAB standard sizes."
            }
          }
        },
        "get": {
          "id": "dfareporting.sizes.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "description": "Gets one size by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Size"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Size ID.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/sizes/{+id}"
        },
        "insert": {
          "description": "Inserts a new size.",
          "id": "dfareporting.sizes.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Size"
          },
          "path": "userprofiles/{+profileId}/sizes",
          "request": {
            "$ref": "Size"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "httpMethod": "POST",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "campaignId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Campaign ID in this association."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Campaign ID in this association."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations"
        }
      }
    },
    "contentCategories": {
      "methods": {
        "insert": {
          "id": "dfareporting.contentCategories.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Inserts a new content category.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "id": "dfareporting.contentCategories.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Content category ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "description": "Deletes an existing content category.",
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}"
        },
        "patch": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. ContentCategory ID."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates an existing content category. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "id": "dfareporting.contentCategories.patch",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "ContentCategory"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "description": "Content category ID.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.contentCategories.get",
          "description": "Gets one content category by ID.",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "GET"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "parameters": {
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only content categories with these IDs."
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "id": "dfareporting.contentCategories.list"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing content category.",
          "id": "dfareporting.contentCategories.update"
        }
      }
    },
    "subaccounts": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "description": "Inserts a new subaccount.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Subaccount ID.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.subaccounts.get",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "description": "Gets one subaccount by ID.",
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "PUT",
          "description": "Updates an existing subaccount.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "id": "dfareporting.subaccounts.update"
        },
        "patch": {
          "response": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Required. Subaccount ID.",
              "required": true
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.subaccounts.patch"
        },
        "list": {
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/subaccounts",
          "id": "dfareporting.subaccounts.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" ."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only subaccounts with these IDs.",
              "repeated": true
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "type": "string",
              "repeated": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.list",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Gets one floodlight configuration by ID.",
          "id": "dfareporting.floodlightConfigurations.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "description": "Floodlight configuration ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration.",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations"
        },
        "patch": {
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Required. EventTag ID.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.patch"
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "retransform": {
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "id": "dfareporting.dynamicFeeds.retransform",
          "parameters": {
            "dynamicFeedId": {
              "required": true,
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicFeed"
          },
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform"
        },
        "update": {
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [],
          "parameters": {},
          "id": "dfareporting.dynamicFeeds.update",
          "flatPath": "studio/dynamicFeeds",
          "path": "studio/dynamicFeeds",
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "insert": {
          "description": "Inserts a new dynamic feed.",
          "path": "studio/dynamicFeeds",
          "httpMethod": "POST",
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "id": "dfareporting.dynamicFeeds.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicFeeds",
          "parameters": {},
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets a dynamic feed by ID.",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameters": {
            "dynamicFeedId": {
              "type": "string",
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicFeeds.get",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}"
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one billing profile by ID.",
          "response": {
            "$ref": "BillingProfile"
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "id": "dfareporting.billingProfiles.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Billing Profile ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "parameters": {
            "currency_code": {
              "location": "query",
              "description": "Select only billing profile with currency.",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "status": {
              "repeated": true,
              "description": "Select only billing profile with the specified status.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "name": {
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "type": "string",
              "location": "query"
            },
            "onlySuggestion": {
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query",
              "type": "boolean"
            },
            "subaccountIds": {
              "repeated": true,
[...]
