{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "dfareporting:v5",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "revision": "20260721",
  "basePath": "/dfareporting/v5/",
  "servicePath": "dfareporting/v5/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "schemas": {
    "RichMediaExitOverride": {
      "description": "Rich Media Exit Override.",
      "type": "object",
      "id": "RichMediaExitOverride",
      "properties": {
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        }
      }
    },
    "DateRange": {
      "description": "Represents a date range.",
      "type": "object",
      "id": "DateRange",
      "properties": {
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "description": "The date range relative to the date of when the report is run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        }
      }
    },
    "AudienceSegment": {
      "id": "AudienceSegment",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this audience segment. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "allocation": {
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Audience Segment."
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "properties": {
        "enabledVideoFormats": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Transcode Settings"
    },
    "IngestionStatus": {
      "description": "Contains the ingestion status of the dynamic feed.",
      "id": "IngestionStatus",
      "properties": {
        "numRowsTotal": {
          "description": "Output only. The total number of rows in the feed.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "numActiveRows": {
          "description": "Output only. The number of active rows in the feed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "numWarningsTotal": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total number of warnings in the feed."
        },
        "numRowsProcessed": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of rows processed in the feed."
        },
        "numRowsWithErrors": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of rows with errors in the feed."
        }
      },
      "type": "object"
    },
    "Conversion": {
      "type": "object",
      "id": "Conversion",
      "properties": {
        "sessionAttributesEncoded": {
          "format": "byte",
          "type": "string",
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate."
        },
        "value": {
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double",
          "type": "number"
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight Configuration ID of this conversion. This is a required field."
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "adUserDataConsent": {
          "description": "This represents consent for ad user data.",
          "type": "string",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ],
          "enum": [
            "GRANTED",
            "DENIED"
          ]
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "customVariables": {
          "description": "Custom floodlight variables.",
          "type": "array",
          "items": {
            "$ref": "CustomFloodlightVariable"
          }
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity of the conversion. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "gclid": {
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field.",
          "type": "string"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "timestampMicros": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field."
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "encryptedUserIdCandidates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "floodlightActivityId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight Activity ID of this conversion. This is a required field."
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        }
      },
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad."
    },
    "AccountPermission": {
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object",
      "id": "AccountPermission",
      "properties": {
        "permissionGroupId": {
          "description": "Permission group of this account permission.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "description": "Administrative level required to enable this account permission.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this account permission."
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "accountProfiles": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          },
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" "
        }
      }
    },
    "CompanionClickThroughOverride": {
      "type": "object",
      "id": "CompanionClickThroughOverride",
      "properties": {
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        },
        "creativeId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the creative for this companion click-through override."
        }
      },
      "description": "Companion Click-through override."
    },
    "ColumnHeader": {
      "description": "A column header in the report.",
      "type": "object",
      "id": "ColumnHeader",
      "properties": {
        "name": {
          "description": "Output only. The column name.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC"
          ],
          "description": "Output only. The column type.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dimension.",
            "Metric."
          ],
          "readOnly": true
        }
      }
    },
    "CompatibleFields": {
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "type": "object",
      "id": "CompatibleFields",
      "properties": {
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        }
      }
    },
    "RemarketingListShare": {
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "type": "object",
      "id": "RemarketingListShare",
      "properties": {
        "remarketingListId": {
          "format": "int64",
          "type": "string",
          "description": "Remarketing list ID. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\".",
          "type": "string"
        },
        "sharedAccountIds": {
          "description": "Accounts that the remarketing list is shared with.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "sharedAdvertiserIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Advertisers that the remarketing list is shared with."
        }
      }
    },
    "RemarketingListsListResponse": {
      "description": "Remarketing list response",
      "type": "object",
      "id": "RemarketingListsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "remarketingLists": {
          "items": {
            "$ref": "RemarketingList"
          },
          "type": "array",
          "description": "Remarketing list collection."
        }
      }
    },
    "BillingRateTieredRate": {
      "type": "object",
      "id": "BillingRateTieredRate",
      "properties": {
        "lowValue": {
          "type": "string",
          "format": "int64",
          "description": "The minimum for this tier range."
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "rateInMicros": {
          "format": "int64",
          "type": "string",
          "description": "Rate in micros for this tier."
        }
      }
    },
    "TranscodeSetting": {
      "type": "object",
      "id": "TranscodeSetting",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        },
        "enabledVideoFormats": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        }
      },
      "description": "Transcode Settings"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "properties": {
        "encryptionEntityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "encryptionEntityId": {
          "format": "int64",
          "type": "string",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "encryptionSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A description of how user IDs are encrypted."
    },
    "AccountUserProfilesListResponse": {
      "description": "Account User Profile List Response",
      "id": "AccountUserProfilesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
          "type": "string"
        },
        "accountUserProfiles": {
          "items": {
            "$ref": "AccountUserProfile"
          },
          "type": "array",
          "description": "Account user profile collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeFieldAssignment": {
      "description": "Creative Field Assignment.",
      "type": "object",
      "id": "CreativeFieldAssignment",
      "properties": {
        "creativeFieldId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field."
        },
        "creativeFieldValueId": {
          "description": "ID of the creative field value.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PlacementGroup": {
      "type": "object",
      "id": "PlacementGroup",
      "properties": {
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "childPlacementIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field."
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementGroupType": {
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "primaryPlacementId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "activeStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this placement group. This is a read-only, auto-generated field."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this placement group. This is a required field on insertion."
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        }
      },
      "description": "Contains properties of a package or roadblock."
    },
    "TargetableRemarketingList": {
      "description": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource.",
      "id": "TargetableRemarketingList",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Targetable remarketing list ID."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "format": "int64",
          "type": "string"
        },
        "lifeSpan": {
          "type": "string",
          "format": "int64",
          "description": "Number of days that a user should remain in the targetable remarketing list without an impression."
        },
        "active": {
          "description": "Whether this targetable remarketing list is active.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the targetable remarketing list. Is no greater than 128 characters long.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Dimension value for the advertiser ID that owns this targetable remarketing list."
        },
        "listSource": {
          "type": "string",
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "description": "Product from which this targetable remarketing list was originated."
        },
        "description": {
          "description": "Targetable remarketing list description.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DependentFieldValue": {
      "description": "Contains dependent field value information.",
      "type": "object",
      "id": "DependentFieldValue",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "format": "int64",
          "type": "string"
        },
        "fieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field id of the dependent field."
        },
        "dynamicFeedId": {
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AccountPermissionsListResponse": {
      "type": "object",
      "id": "AccountPermissionsListResponse",
      "properties": {
        "accountPermissions": {
          "description": "Account permission collection.",
          "type": "array",
          "items": {
            "$ref": "AccountPermission"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\".",
          "type": "string"
        }
      },
      "description": "Account Permission List Response"
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "id": "SiteCompanionSetting",
      "properties": {
        "enabledSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes."
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompanionSetting": {
      "type": "object",
      "id": "CompanionSetting",
      "properties": {
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      },
      "description": "Companion Settings"
    },
    "GeoTargeting": {
      "description": "Geographical Targeting.",
      "type": "object",
      "id": "GeoTargeting",
      "properties": {
        "metros": {
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        },
        "cities": {
          "type": "array",
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city."
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        },
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "type": "array",
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code."
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "type": "array",
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
        }
      }
    },
    "AudienceSegmentGroup": {
      "id": "AudienceSegmentGroup",
      "properties": {
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "items": {
            "$ref": "AudienceSegment"
          },
          "type": "array"
        },
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Audience Segment Group."
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "id": "ConversionsBatchUpdateRequest",
      "properties": {
        "conversions": {
          "description": "The set of conversions to update.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "type": "object"
    },
    "RequestValue": {
      "description": "Contains request value information.",
      "id": "RequestValue",
      "properties": {
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        },
        "userAttributeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        },
        "excludeFromUserAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        }
      },
      "type": "object"
    },
    "TargetingTemplate": {
      "type": "object",
      "id": "TargetingTemplate",
      "properties": {
        "keyValueTargetingExpression": {
          "description": "Key-value targeting criteria.",
          "$ref": "KeyValueTargetingExpression"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting criteria.",
          "$ref": "ContextualKeywordTargeting"
        },
        "id": {
          "description": "ID of this targeting template. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "listTargetingExpression": {
          "description": "Remarketing list targeting criteria.",
          "$ref": "ListTargetingExpression"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert."
        },
        "geoTargeting": {
          "description": "Geographical targeting criteria.",
          "$ref": "GeoTargeting"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting criteria.",
          "$ref": "DayPartTargeting"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert."
        },
        "name": {
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser.",
          "type": "string"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting criteria.",
          "$ref": "TechnologyTargeting"
        },
        "languageTargeting": {
          "description": "Language targeting criteria.",
          "$ref": "LanguageTargeting"
        },
        "subaccountId": {
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\".",
          "type": "string"
        }
      },
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads."
    },
    "FieldFilter": {
      "type": "object",
      "id": "FieldFilter",
      "properties": {
        "valueType": {
          "description": "Optional. Right hand side of the expression.",
          "type": "string",
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ],
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ]
        },
        "boolValue": {
          "description": "Optional. The boolean values, only applicable when rhs_value_type is BOOL.",
          "type": "boolean"
        },
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "dependentFieldValue": {
          "description": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT.",
          "$ref": "DependentFieldValue"
        },
        "matchType": {
          "description": "Optional. Left hand side of the expression match type.",
          "type": "string",
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ],
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ]
        },
        "fieldId": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The field ID on the left hand side of the expression."
        },
        "stringValue": {
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING.",
          "type": "string"
        }
      },
      "description": "Contains field filter information."
    },
    "CreativeField": {
      "description": "Contains properties of a creative field.",
      "id": "CreativeField",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this creative field. This is a required field on insertion."
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\".",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object"
    },
    "FloodlightActivityPublisherDynamicTag": {
      "description": "Publisher Dynamic Tag",
      "id": "FloodlightActivityPublisherDynamicTag",
      "properties": {
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "format": "int64",
          "type": "string"
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID of this dynamic tag."
        }
      },
      "type": "object"
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "items": {
            "$ref": "BillingAssignment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FileList": {
      "description": "List of files for a report.",
      "type": "object",
      "id": "FileList",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The files returned in this response."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\".",
          "type": "string"
        }
      }
    },
    "Metric": {
      "description": "Represents a metric.",
      "id": "Metric",
      "properties": {
        "name": {
          "description": "The metric name, e.g. impressions",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#metric.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Metro": {
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "id": "Metro",
      "properties": {
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "format": "int64",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this metro region belongs."
        }
      }
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "properties": {
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        },
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "value": {
          "description": "The value of the dimension.",
          "type": "string"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT."
        }
      },
      "type": "object",
      "description": "Represents a DimensionValue resource."
    },
    "CustomRule": {
      "description": "Contains custom rule information.",
      "type": "object",
      "id": "CustomRule",
      "properties": {
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "type": "integer",
          "format": "int32"
        },
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        },
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        }
      }
    },
    "FloodlightActivityGroup": {
      "description": "Contains properties of a Floodlight activity group.",
      "id": "FloodlightActivityGroup",
      "properties": {
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field."
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object"
    },
    "FeedField": {
      "id": "FeedField",
      "properties": {
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link."
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the field.",
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ]
        },
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Each field of the element. This is a required field."
    },
    "UserRolesListResponse": {
      "id": "UserRolesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "userRoles": {
          "items": {
            "$ref": "UserRole"
          },
          "type": "array",
          "description": "User role collection."
        }
      },
      "type": "object",
      "description": "User Role List Response"
    },
    "AdvertiserInvoicesListResponse": {
      "type": "object",
      "id": "AdvertiserInvoicesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "invoices": {
          "description": "Invoice collection",
          "items": {
            "$ref": "Invoice"
          },
          "type": "array"
        }
      },
      "description": "Invoice List Response"
    },
    "FloodlightActivitiesListResponse": {
      "type": "object",
      "id": "FloodlightActivitiesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivities": {
          "type": "array",
          "items": {
            "$ref": "FloodlightActivity"
          },
          "description": "Floodlight activity collection."
        }
      },
      "description": "Floodlight Activity List Response"
    },
    "CreativeClickThroughUrl": {
      "description": "Click-through URL",
      "id": "CreativeClickThroughUrl",
      "properties": {
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "landingPageId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the landing page for the click-through URL."
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProximityFilter": {
      "type": "object",
      "id": "ProximityFilter",
      "properties": {
        "radiusBucketType": {
          "type": "string",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "description": "Optional. The radius bucket type of the proximity filter"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "format": "int32",
          "type": "integer"
        },
        "radiusValue": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Radius length in units defined by radius_units."
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ]
        }
      },
      "description": "Contains proximity filter information."
    },
    "ReportList": {
      "id": "ReportList",
      "properties": {
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#reportList.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "description": "The reports returned in this response.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the list of reports."
    },
    "ObaIcon": {
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "id": "ObaIcon",
      "properties": {
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        }
      }
    },
    "SiteContact": {
      "description": "Site Contact",
      "id": "SiteContact",
      "properties": {
        "contactType": {
          "description": "Site contact type.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ]
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this site contact. This is a read-only, auto-generated field."
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeAssetId": {
      "id": "CreativeAssetId",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE."
        },
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Creative Asset ID."
    },
    "LastModifiedInfo": {
      "type": "object",
      "id": "LastModifiedInfo",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Modification timestamp."
    },
    "CustomViewabilityMetric": {
      "id": "CustomViewabilityMetric",
      "properties": {
        "id": {
          "description": "ID of the custom viewability metric.",
          "format": "int64",
          "type": "string"
        },
        "configuration": {
          "description": "Configuration of the custom viewability metric.",
          "$ref": "CustomViewabilityMetricConfiguration"
        },
        "name": {
          "description": "Name of the custom viewability metric.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Custom Viewability Metric"
    },
    "DeepLink": {
      "description": "Contains information about a landing page deep link.",
      "type": "object",
      "id": "DeepLink",
      "properties": {
        "appUrl": {
          "description": "The URL of the mobile app being linked to.",
          "type": "string"
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        },
        "remarketingListIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE."
        },
        "mobileApp": {
          "description": "The mobile app targeted by this deep link.",
          "$ref": "MobileApp"
        }
      }
    },
    "DefaultClickThroughEventTagProperties": {
      "id": "DefaultClickThroughEventTagProperties",
      "properties": {
        "overrideInheritedEventTag": {
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value.",
          "type": "boolean"
        },
        "defaultClickThroughEventTagId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope."
        }
      },
      "type": "object",
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further."
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object",
      "id": "DynamicFeed",
      "properties": {
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "hasPublished": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field."
        },
        "dynamicFeedId": {
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "feedIngestionStatus": {
          "readOnly": true,
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "$ref": "FeedIngestionStatus"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field."
        },
        "status": {
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ]
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        }
      }
    },
    "UserRole": {
      "description": "Contains properties of auser role, which is used to manage user access.",
      "id": "UserRole",
      "properties": {
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "subaccountId": {
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "permissions": {
          "description": "List of permissions associated with this user role.",
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array"
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "parentUserRoleId": {
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClickTag": {
      "type": "object",
      "id": "ClickTag",
      "properties": {
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        },
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        }
      },
      "description": "Creative Click Tag."
    },
    "DimensionValueList": {
      "description": "Represents the list of DimensionValue resources.",
      "type": "object",
      "id": "DimensionValueList",
      "properties": {
        "items": {
          "description": "The dimension values returned in this response.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList.",
          "type": "string"
        }
      }
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "type": "array",
          "description": "Country collection."
        }
      },
      "type": "object",
      "description": "Country List Response"
    },
    "Ad": {
      "type": "object",
      "id": "Ad",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field."
        },
        "deliverySchedule": {
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DeliverySchedule"
        },
        "audienceSegmentId": {
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "format": "int64",
          "type": "string"
        },
        "creativeGroupAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting information for this ad.",
          "$ref": "ContextualKeywordTargeting"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "targetingTemplateId": {
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "eventTagOverrides": {
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Event tag overrides for this ad."
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "defaultClickThroughEventTagProperties": {
          "description": "Default click-through event tag properties for this ad.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "creativeRotation": {
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment .",
          "$ref": "CreativeRotation"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "remarketingListExpression": {
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "ListTargetingExpression"
        },
        "compatibility": {
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "technologyTargeting": {
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "TechnologyTargeting"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this ad. This is a required field on insertion."
        },
        "geoTargeting": {
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "GeoTargeting"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ],
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource)."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "archived": {
          "description": "Whether this ad is archived. When true, active must be false.",
          "type": "boolean"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "KeyValueTargetingExpression"
        },
        "dynamicClickTracker": {
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.",
          "type": "boolean"
        },
        "sslCompliant": {
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "Campaign ID of this ad. This is a required field on insertion."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this ad. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "placementAssignments": {
          "type": "array",
          "items": {
            "$ref": "PlacementAssignment"
          },
          "description": "Placement assignments for this ad."
        },
        "languageTargeting": {
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "LanguageTargeting"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DayPartTargeting"
        },
        "size": {
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD.",
          "$ref": "Size"
        },
        "comments": {
          "description": "Comments for this ad.",
          "type": "string"
        }
      },
      "description": "Contains properties of a Campaign Manager ad."
    },
    "TvCampaignTimepoint": {
      "id": "TvCampaignTimepoint",
      "properties": {
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        },
        "dateWindow": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "description": "The date window of the timepoint."
        }
      },
      "type": "object",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window."
    },
    "AccountPermissionGroup": {
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "id": "AccountPermissionGroup",
      "properties": {
        "name": {
          "description": "Name of this account permission group.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this account permission group.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank."
        },
        "urlEscapeLevels": {
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer",
          "format": "int32"
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "siteFilterType": {
[...]
