{
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "servicePath": "dfareporting/v5/",
  "id": "dfareporting:v5",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "name": "dfareporting",
  "schemas": {
    "CreativeFieldValue": {
      "id": "CreativeFieldValue",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\"."
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Contains properties of a creative field value."
    },
    "BillingRatesListResponse": {
      "description": "Billing Rate List Response",
      "id": "BillingRatesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingRates": {
          "description": "Billing rates collection.",
          "type": "array",
          "items": {
            "$ref": "BillingRate"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\"."
        }
      },
      "type": "object"
    },
    "Advertiser": {
      "id": "Advertiser",
      "properties": {
        "id": {
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "suspended": {
          "type": "boolean",
          "description": "Suspension status of this advertiser."
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\"."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrlSuffix": {
          "type": "string",
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long."
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "euPoliticalAdsDeclaration": {
          "type": "string",
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "description": "Optional. Whether the advertiser plans to serve EU political ads."
        },
        "advertiserGroupId": {
          "type": "string",
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "format": "int64"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "status": {
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "description": "Status of this advertiser."
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "originalFloodlightConfigurationId": {
          "format": "int64",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. "
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns."
        }
      },
      "type": "object",
      "description": "Contains properties of a Campaign Manager advertiser."
    },
    "CustomRule": {
      "properties": {
        "ruleBlocks": {
          "type": "array",
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "items": {
            "$ref": "RuleBlock"
          }
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of this custom rule."
        },
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains custom rule information.",
      "type": "object",
      "id": "CustomRule"
    },
    "Metric": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The metric name, e.g. impressions",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#metric.",
          "type": "string"
        }
      },
      "id": "Metric",
      "description": "Represents a metric."
    },
    "AudienceSegment": {
      "type": "object",
      "description": "Audience Segment.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "allocation": {
          "type": "integer",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "format": "int32"
        },
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      },
      "id": "AudienceSegment"
    },
    "LandingPage": {
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "id": "LandingPage",
      "properties": {
        "archived": {
          "type": "boolean",
          "description": "Whether this landing page has been archived."
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this landing page. This is a required field.",
          "format": "int64"
        },
        "deepLinks": {
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array",
          "items": {
            "$ref": "DeepLink"
          }
        },
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\"."
        }
      }
    },
    "PlacementAssignment": {
      "id": "PlacementAssignment",
      "type": "object",
      "properties": {
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "placementId": {
          "description": "ID of the placement to be assigned. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "placementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field."
        }
      },
      "description": "Placement Assignment."
    },
    "AccountUserProfile": {
      "type": "object",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "id": "AccountUserProfile",
      "properties": {
        "userRoleId": {
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string"
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field."
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "name": {
          "type": "string",
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\"."
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "userAccessType": {
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "type": "string"
        },
        "userRoleFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which user roles are visible to the user profile."
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        }
      }
    },
    "CustomRichMediaEvents": {
      "id": "CustomRichMediaEvents",
      "type": "object",
      "properties": {
        "filteredEventIds": {
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        }
      },
      "description": "Represents a Custom Rich Media Events group."
    },
    "DimensionValueList": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "The dimension values returned in this response."
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      },
      "description": "Represents the list of DimensionValue resources.",
      "type": "object",
      "id": "DimensionValueList"
    },
    "AdBlockingConfiguration": {
      "description": "Campaign ad blocking settings.",
      "id": "AdBlockingConfiguration",
      "properties": {
        "enabled": {
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ContextualKeyword": {
      "description": "Contains information about a Contextual Keyword that can be targeted by ads.",
      "properties": {
        "keyword": {
          "type": "string",
          "description": "The keyword that can be targeted by ads."
        }
      },
      "id": "ContextualKeyword",
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "siteFilterType": {
          "type": "string",
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ]
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion."
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "urlEscapeLevels": {
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "siteIds": {
          "type": "array",
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "excludeFromAdxRequests": {
          "type": "boolean",
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network."
        },
        "type": {
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "type": "string",
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field."
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this event tag. This is a read-only field that can be left blank."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object",
      "description": "Contains properties of an event tag."
    },
    "CustomViewabilityMetricConfiguration": {
      "type": "object",
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "id": "CustomViewabilityMetricConfiguration",
      "properties": {
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "format": "int32",
          "type": "integer"
        },
        "timeMillis": {
          "type": "integer",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "format": "int32"
        },
        "timePercent": {
          "format": "int32",
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer"
        },
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        }
      }
    },
    "CreativeGroupsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeGroups": {
          "description": "Creative group collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroup"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreativeGroupsListResponse",
      "description": "Creative Group List Response"
    },
    "ThirdPartyTrackingUrl": {
      "id": "ThirdPartyTrackingUrl",
      "properties": {
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        },
        "thirdPartyUrlType": {
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "type": "string",
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ]
        }
      },
      "description": "Third-party Tracking URL.",
      "type": "object"
    },
    "AccountActiveAdSummary": {
      "id": "AccountActiveAdSummary",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\"."
        },
        "availableAds": {
          "format": "int64",
          "type": "string",
          "description": "Ads that can be activated for the account."
        },
        "accountId": {
          "description": "ID of the account.",
          "format": "int64",
          "type": "string"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Maximum number of active ads allowed for the account.",
          "type": "string",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        },
        "activeAds": {
          "description": "Ads that have been activated for the account",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Gets a summary of active ads in an account."
    },
    "CrossMediaReachReportCompatibleFields": {
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
      "id": "CrossMediaReachReportCompatibleFields",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields."
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        }
      }
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "partnerAdvertiserId": {
          "type": "string",
          "description": "partner Advertiser Id."
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string",
          "description": "Status of the partner link.",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "measurementPartner": {
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Measurement partner used for tag wrapping."
        }
      }
    },
    "ObaIcon": {
      "properties": {
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "type": "string",
          "description": "URL to track view when an OBA icon is clicked."
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ObaIcon",
      "description": "Online Behavioral Advertiser icon."
    },
    "DependentFieldValue": {
      "id": "DependentFieldValue",
      "properties": {
        "dynamicFeedId": {
          "format": "int64",
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "type": "string"
        },
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string",
          "format": "int64"
        },
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Contains dependent field value information.",
      "type": "object"
    },
    "RemarketingValueAttribute": {
      "type": "object",
      "id": "RemarketingValueAttribute",
      "description": "Contains remarketing value attribute information.",
      "properties": {
        "userAttributeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "type": "array"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CartDataItem": {
      "type": "object",
      "description": "Contains data of the items purchased.",
      "id": "CartDataItem",
      "properties": {
        "itemId": {
          "type": "string",
          "description": "The shopping id of the item. Must be equal to the Merchant Center product identifier. This is a required field."
        },
        "quantity": {
          "description": "Number of items sold. This is a required field.",
          "format": "int32",
          "type": "integer"
        },
        "unitPrice": {
          "description": "Unit price excluding tax, shipping, and any transaction level discounts. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "CompanionSetting": {
      "properties": {
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this placement."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\"."
        },
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      },
      "description": "Companion Settings",
      "id": "CompanionSetting",
      "type": "object"
    },
    "EncryptionInfo": {
      "properties": {
        "encryptionEntityId": {
          "format": "int64",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        },
        "encryptionSource": {
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
        },
        "encryptionEntityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        }
      },
      "type": "object",
      "description": "A description of how user IDs are encrypted.",
      "id": "EncryptionInfo"
    },
    "MobileApp": {
      "type": "object",
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "properties": {
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        },
        "publisherName": {
          "type": "string",
          "description": "Publisher name."
        },
        "directory": {
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "description": "Mobile app directory.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "title": {
          "type": "string",
          "description": "Title of this mobile app."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        }
      },
      "id": "MobileApp"
    },
    "CreativeFieldAssignment": {
      "id": "CreativeFieldAssignment",
      "type": "object",
      "properties": {
        "creativeFieldValueId": {
          "description": "ID of the creative field value.",
          "type": "string",
          "format": "int64"
        },
        "creativeFieldId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field."
        }
      },
      "description": "Creative Field Assignment."
    },
    "FloodlightActivityDynamicTag": {
      "type": "object",
      "description": "Dynamic Tag",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this tag."
        },
        "tag": {
          "description": "Tag code.",
          "type": "string"
        },
        "id": {
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "FloodlightActivityDynamicTag"
    },
    "ClickThroughUrlSuffixProperties": {
      "id": "ClickThroughUrlSuffixProperties",
      "description": "Click Through URL Suffix settings.",
      "type": "object",
      "properties": {
        "overrideInheritedSuffix": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value."
        },
        "clickThroughUrlSuffix": {
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long.",
          "type": "string"
        }
      }
    },
    "StudioCreativeAsset": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "properties": {
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "filesize": {
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "studioCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set."
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        },
        "type": {
          "type": "string",
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true
        }
      },
      "id": "StudioCreativeAsset",
      "type": "object"
    },
    "CartData": {
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)",
      "id": "CartData",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "CartDataItem"
          },
          "description": "Data of the items purchased."
        },
        "merchantFeedLanguage": {
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details.",
          "format": "int64"
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details."
        }
      },
      "type": "object"
    },
    "AdvertiserLandingPagesListResponse": {
      "description": "Landing Page List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "landingPages": {
          "items": {
            "$ref": "LandingPage"
          },
          "type": "array",
          "description": "Landing page collection"
        }
      },
      "id": "AdvertiserLandingPagesListResponse",
      "type": "object"
    },
    "DynamicProfileVersion": {
      "description": "Contains dynamic profile version information.",
      "id": "DynamicProfileVersion",
      "properties": {
        "versionId": {
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "dynamicProfileFeedSettings": {
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          },
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PlacementTag": {
      "type": "object",
      "properties": {
        "placementId": {
          "type": "string",
          "format": "int64",
          "description": "Placement ID"
        },
        "tagDatas": {
          "description": "Tags generated for this placement.",
          "items": {
            "$ref": "TagData"
          },
          "type": "array"
        }
      },
      "description": "Placement Tag",
      "id": "PlacementTag"
    },
    "DynamicProfileGenerateCodeResponse": {
      "properties": {
        "code": {
          "description": "Generated code for the dynamic profile. The code will need to be unescaped.",
          "type": "string"
        }
      },
      "description": "Response message for DfareportingDynamicProfiles.GenerateCode.",
      "type": "object",
      "id": "DynamicProfileGenerateCodeResponse"
    },
    "Subaccount": {
      "type": "object",
      "id": "Subaccount",
      "properties": {
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        },
        "availablePermissionIds": {
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this subaccount. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank."
        }
      },
      "description": "Contains properties of a Campaign Manager subaccount."
    },
    "ClickTag": {
      "description": "Creative Click Tag.",
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ClickTag"
    },
    "ListPopulationClause": {
      "type": "object",
      "properties": {
        "terms": {
          "type": "array",
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "id": "ListPopulationClause"
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "properties": {
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\"."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used."
        }
      },
      "id": "ConversionsBatchUpdateRequest",
      "type": "object"
    },
    "IngestionErrorRecord": {
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "type": "object",
      "properties": {
        "recordId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The record ID of the ingestion error record."
        },
        "errors": {
          "items": {
            "$ref": "FieldError"
          },
          "description": "Output only. The list of field errors of the ingestion error record.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "IngestionErrorRecord"
    },
    "OmnitureSettings": {
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      },
      "id": "OmnitureSettings",
      "type": "object",
      "description": "Omniture Integration Settings."
    },
    "CountriesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "type": "array",
          "description": "Country collection."
        }
      },
      "description": "Country List Response",
      "type": "object",
      "id": "CountriesListResponse"
    },
    "UserProfile": {
      "id": "UserProfile",
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. ",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        },
        "subAccountId": {
          "format": "int64",
          "description": "The sub account ID this profile belongs to if applicable.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\"."
        },
        "profileId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the user profile."
        },
        "accountId": {
          "description": "The account ID to which this profile belongs.",
          "type": "string",
          "format": "int64"
        },
        "userName": {
          "description": "The user name.",
          "type": "string"
        }
      }
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "properties": {
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "format": "int64",
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "height": {
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        }
      }
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "properties": {
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "type": "string"
        },
        "linkStatus": {
          "description": ".",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "KeyValueTargetingExpression": {
      "type": "object",
      "id": "KeyValueTargetingExpression",
      "properties": {
        "expression": {
          "description": "Keyword expression being targeted by the ad.",
          "type": "string"
        }
      },
      "description": "Key Value Targeting Expression."
    },
    "VideoOffset": {
      "properties": {
        "offsetSeconds": {
          "description": "Duration, in seconds. Do not set when offsetPercentage is set. Acceptable values are 0 to 86399, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "offsetPercentage": {
          "format": "int32",
          "description": "Duration, as a percentage of video duration. Do not set when offsetSeconds is set. Acceptable values are 0 to 100, inclusive.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "VideoOffset",
      "description": "Video Offset"
    },
    "FloodlightActivityGroup": {
      "description": "Contains properties of a Floodlight activity group.",
      "properties": {
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field."
        },
        "type": {
          "type": "string",
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object",
      "id": "FloodlightActivityGroup"
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "format": "int64",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this change log."
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the change log."
        },
        "transactionId": {
          "format": "int64",
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string"
        },
        "oldValue": {
          "description": "Old value of the object field.",
          "type": "string"
        },
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "userProfileId": {
          "type": "string",
          "description": "ID of the user who modified the object.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of the modified object."
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "ChangeLog",
      "type": "object"
    },
    "StudioCreativeAssetsResponse": {
      "id": "StudioCreativeAssetsResponse",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "StudioCreativeAsset"
          },
          "description": "The list of studio creative assets."
        }
      },
      "description": "Response message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object"
    },
    "DeliverySchedule": {
      "description": "Delivery Schedule.",
      "properties": {
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ]
        },
        "impressionRatio": {
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "DeliverySchedule"
    },
    "CreativeFieldsListResponse": {
      "type": "object",
      "id": "CreativeFieldsListResponse",
      "description": "Creative Field List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        },
        "creativeFields": {
          "description": "Creative field collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeField"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "ListTargetingExpression": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Expression describing which lists are being targeted by the ad."
        }
      },
      "type": "object",
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression."
    },
    "PostalCodesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        },
        "postalCodes": {
          "type": "array",
          "description": "Postal code collection.",
          "items": {
            "$ref": "PostalCode"
          }
        }
      },
      "id": "PostalCodesListResponse",
      "description": "Postal Code List Response"
    },
    "AudienceSegmentGroup": {
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field."
        },
        "audienceSegments": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100."
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      },
      "description": "Audience Segment Group.",
      "id": "AudienceSegmentGroup",
      "type": "object"
    },
    "BillingRate": {
      "type": "object",
      "id": "BillingRate",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Billing currency code in ISO 4217 format."
        },
        "endDate": {
          "type": "string",
          "description": "End date of this billing rate."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this billing rate."
        },
        "type": {
          "type": "string",
          "description": "Type of this billing rate.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ]
        },
        "tieredRates": {
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "type": "array",
          "items": {
            "$ref": "BillingRateTieredRate"
          }
        },
        "unitOfMeasure": {
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ],
          "description": "Unit of measure for this billing rate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "rateInMicros": {
          "format": "int64",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "type": "string"
        }
      }
    },
    "EventTagsListResponse": {
      "description": "Event Tag List Response",
      "id": "EventTagsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      }
    },
    "PlacementsListResponse": {
      "description": "Placement List Response",
      "id": "PlacementsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "placements": {
          "description": "Placement collection.",
          "items": {
            "$ref": "Placement"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\"."
        }
      },
      "type": "object"
    },
    "DimensionFilter": {
      "type": "object",
      "description": "Represents a dimension filter.",
      "id": "DimensionFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the dimension to filter."
        },
        "dimensionName": {
          "description": "The name of the dimension to filter.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter."
        }
      }
    },
    "MeasurementPartnerWrappingData": {
      "type": "object",
      "description": "Placement tag wrapping",
      "id": "MeasurementPartnerWrappingData",
      "properties": {
        "measurementPartner": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for wrapping the placement."
        },
        "wrappedTag": {
          "type": "string",
          "description": "Tag provided by the measurement partner during wrapping."
        },
        "tagWrappingMode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ],
          "description": "Measurement mode for the wrapped placement."
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": "Placement wrapping status."
        }
      }
    },
    "BillingAssignmentsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "items": {
            "$ref": "BillingAssignment"
          },
          "type": "array"
        }
      },
      "id": "BillingAssignmentsListResponse",
      "type": "object",
      "description": "Billing assignment List Response"
    },
    "RichMediaExitOverride": {
      "id": "RichMediaExitOverride",
      "properties": {
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "format": "int64",
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative."
        },
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        }
      },
      "description": "Rich Media Exit Override.",
      "type": "object"
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "id": "DynamicFeed",
      "properties": {
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "type": "boolean",
          "readOnly": true
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field."
        },
        "feedIngestionStatus": {
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "FeedIngestionStatus"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "dynamicFeedId": {
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "type": "string",
          "readOnly": true
        },
        "contentSource": {
          "$ref": "ContentSource",
          "description": "Required. The content source of the dynamic feed. This is a required field."
        },
        "element": {
          "$ref": "Element",
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field."
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "readOnly": true,
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ]
        },
        "feedSchedule": {
          "$ref": "FeedSchedule",
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published."
        }
      },
      "type": "object"
    },
    "UniversalAdId": {
      "type": "object",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "properties": {
        "value": {
          "type": "string",
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
        },
        "registry": {
          "description": "Registry used for the Ad ID value.",
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "UniversalAdId"
    },
    "ContentCategoriesListResponse": {
      "id": "ContentCategoriesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
          "type": "string"
        },
        "contentCategories": {
          "description": "Content category collection.",
          "items": {
            "$ref": "ContentCategory"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Content Category List Response"
    },
    "FileList": {
      "type": "object",
      "description": "List of files for a report.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        },
        "items": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "The files returned in this response."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "id": "FileList"
    },
    "PathToConversionReportCompatibleFields": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "customFloodlightVariables": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report."
        },
        "conversionDimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report.",
          "type": "array"
        },
        "perInteractionDimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "id": "PathToConversionReportCompatibleFields"
    },
    "VideoProcessingData": {
      "type": "object",
      "id": "VideoProcessingData",
      "description": "Contains processing data for a video asset.",
      "properties": {
        "errorReason": {
          "description": "For a FAILED processing state, the error reason discovered.",
          "type": "string"
        },
        "processingState": {
          "description": "Output only. The processing state of the studio creative asset.",
          "enumDescriptions": [
            "The processing state is unknown.",
            "The asset is being processed.",
            "The asset was successfully processed.",
            "The asset failed to be processed."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        }
      }
    },
    "CreativeClickThroughUrl": {
      "id": "CreativeClickThroughUrl",
      "type": "object",
      "properties": {
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset.",
          "type": "string"
        },
        "landingPageId": {
          "type": "string",
          "description": "ID of the landing page for the click-through URL.",
          "format": "int64"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        }
      },
      "description": "Click-through URL"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "type": "object",
      "id": "DfareportingStudioCreativeAssetsInsertRequest",
      "properties": {
        "studioCreativeId": {
          "format": "int64",
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional."
        }
      },
      "description": "Request message for DfareportingStudioCreativeAssets.Insert."
    },
    "OperatingSystemsListResponse": {
      "type": "object",
      "id": "OperatingSystemsListResponse",
      "description": "Operating System List Response",
      "properties": {
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "description": "Operating system collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\"."
        }
      }
    },
    "ThirdPartyAuthenticationToken": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token"
    },
    "Creative": {
      "id": "Creative",
      "properties": {
        "adTagKeys": {
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "studioTraffickedCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "timerCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "type": "array"
        },
        "totalFileSize": {
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string",
          "format": "int64"
        },
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
        },
        "additionalSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "type": "array"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "redirectUrl": {
          "type": "string",
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT"
        },
        "requiredFlashVersion": {
          "format": "int32",
          "type": "integer",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "artworkType": {
          "type": "string",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "latestTraffickedCreativeId": {
          "type": "string",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64"
        },
        "authoringTool": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enum": [
            "NINJA",
            "SWIFFY"
          ]
        },
        "backupImageReportingLabel": {
          "type": "string",
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "customKeyValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "creativeFieldAssignments": {
          "items": {
            "$ref": "CreativeFieldAssignment"
          },
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "type": "array"
        },
        "sslOverride": {
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types.",
          "type": "boolean"
        },
        "backupImageClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE."
        },
        "companionCreatives": {
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "authoringSource": {
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS",
            "CREATIVE_AUTHORING_SOURCE_ADOBE",
            "CREATIVE_AUTHORING_SOURCE_TYPEFACE_AI",
            "CREATIVE_AUTHORING_SOURCE_REMBRAND",
            "CREATIVE_AUTHORING_SOURCE_TRACKTO_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_BORNLOGIC",
            "CREATIVE_AUTHORING_SOURCE_BEGEN_AI"
          ],
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "type": "string",
          "enumDescriptions": [
            "DCM-UI or external API used to author the creative.",
            "DBM-UI used to author the creative.",
            "Studio-UI used to author the creative.",
            "Google Web Designer used to author the creative.",
            "ACS-UI used to author the creative.",
            "Creative authoring source is Adobe.",
            "Creative authoring source is Typeface.ai.",
            "Creative authoring source is Rembrand.",
            "Creative authoring source is Trackto.",
            "Creative authoring source is Bornlogic.",
            "Creative authoring source is BEGEN_AI."
          ]
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "type": "string",
[...]
