{
  "servicePath": "dfareporting/v4/",
  "revision": "20260603",
  "title": "Campaign Manager 360 API",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "name": "dfareporting",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "CustomFloodlightVariable": {
      "id": "CustomFloodlightVariable",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-100]=\" in the tags.",
          "type": "string",
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ]
        },
        "value": {
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\".",
          "type": "string"
        }
      },
      "description": "A custom floodlight variable. Can be used in both batchinsert and batchupdate. Adding this in batchupdate will update or append the variable to the existing list.",
      "type": "object"
    },
    "BillingRatesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\".",
          "type": "string"
        },
        "billingRates": {
          "description": "Billing rates collection.",
          "type": "array",
          "items": {
            "$ref": "BillingRate"
          }
        }
      },
      "description": "Billing Rate List Response",
      "type": "object",
      "id": "BillingRatesListResponse"
    },
    "StudioCreativeAsset": {
      "id": "StudioCreativeAsset",
      "properties": {
        "id": {
          "format": "int64",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ],
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ]
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "studioCreativeId": {
          "format": "int64",
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string"
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "filesize": {
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string"
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        }
      },
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object"
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "properties": {
        "versionId": {
          "format": "int64",
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true,
          "type": "string"
        },
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          }
        }
      },
      "description": "Contains dynamic profile version information.",
      "type": "object"
    },
    "BillingAssignmentsListResponse": {
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        }
      },
      "description": "Billing assignment List Response",
      "type": "object"
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "type": "object",
      "properties": {
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "description": ".",
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        }
      }
    },
    "PricingSchedule": {
      "id": "PricingSchedule",
      "properties": {
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "pricingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "type": "string",
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ]
        },
        "testingStartDate": {
          "format": "date",
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "capCostOption": {
          "description": "Placement cap cost option.",
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "pricingPeriods": {
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "description": "Pricing periods for this placement.",
          "type": "array"
        }
      },
      "description": "Pricing Schedule",
      "type": "object"
    },
    "SiteTranscodeSetting": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        },
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array"
        }
      },
      "description": "Transcode Settings",
      "type": "object",
      "id": "SiteTranscodeSetting"
    },
    "FloodlightConfiguration": {
      "description": "Contains properties of a Floodlight configuration.",
      "type": "object",
      "properties": {
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "customViewabilityMetric": {
          "$ref": "CustomViewabilityMetric",
          "description": "Custom Viewability metric for the floodlight configuration."
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Lookback window settings for this floodlight configuration."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "thirdPartyAuthenticationTokens": {
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "type": "array"
        },
        "advertiserId": {
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "type": "string",
          "format": "int64"
        },
        "userDefinedVariableConfigurations": {
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          },
          "description": "List of user defined variables enabled for this configuration.",
          "type": "array"
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "firstDayOfWeek": {
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "naturalSearchConversionAttributionOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Types of attribution options for natural search conversions.",
          "type": "string",
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ]
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "tagSettings": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSettings"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "FloodlightConfiguration"
    },
    "Size": {
      "properties": {
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "iab": {
          "description": "IAB standard size. This is a read-only, auto-generated field.",
          "type": "boolean"
        },
        "height": {
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        }
      },
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "type": "object",
      "id": "Size"
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "type": "object",
      "properties": {
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      },
      "id": "LanguagesListResponse"
    },
    "SubaccountsListResponse": {
      "description": "Subaccount List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "items": {
            "$ref": "Subaccount"
          },
          "description": "Subaccount collection.",
          "type": "array"
        }
      },
      "id": "SubaccountsListResponse"
    },
    "Invoice": {
      "id": "Invoice",
      "description": "Contains information about a single invoice",
      "type": "object",
      "properties": {
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "campaign_summaries": {
          "items": {
            "$ref": "CampaignSummary"
          },
          "description": "The list of summarized campaign information associated with this invoice.",
          "type": "array"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "items": {
            "type": "string"
          },
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "type": "array"
        },
        "invoiceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The type of invoice document.",
          "type": "string",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ]
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        }
      }
    },
    "AudienceSegmentGroup": {
      "id": "AudienceSegmentGroup",
      "description": "Audience Segment Group.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          }
        }
      }
    },
    "DirectorySite": {
      "id": "DirectorySite",
      "properties": {
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "inpageTagFormats": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "interstitialTagFormats": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" ",
          "type": "array"
        },
        "publisherSpecificationId": {
          "format": "int64",
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "readOnly": true,
          "type": "string"
        },
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "type": "object"
    },
    "CompanionSetting": {
      "id": "CompanionSetting",
      "description": "Companion Settings",
      "type": "object",
      "properties": {
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      }
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "type": "object",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      }
    },
    "DeliverySchedule": {
      "description": "Delivery Schedule.",
      "type": "object",
      "properties": {
        "priority": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "type": "string",
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ]
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "impressionRatio": {
          "format": "int64",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        }
      },
      "id": "DeliverySchedule"
    },
    "KeyValueTargetingExpression": {
      "description": "Key Value Targeting Expression.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Keyword expression being targeted by the ad.",
          "type": "string"
        }
      },
      "id": "KeyValueTargetingExpression"
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "description": "Contains properties of a package or roadblock.",
      "type": "object",
      "properties": {
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field."
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement group. This field is required on insertion."
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "placementGroupType": {
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "activeStatus": {
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "primaryPlacementId": {
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string"
        },
        "contentCategoryId": {
          "format": "int64",
          "description": "ID of the content category assigned to this placement group.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string"
        },
        "childPlacementIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "type": "array"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string"
        }
      }
    },
    "Dimension": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        },
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        }
      },
      "description": "Represents a dimension.",
      "type": "object",
      "id": "Dimension"
    },
    "EncryptionInfo": {
      "description": "A description of how user IDs are encrypted.",
      "type": "object",
      "properties": {
        "encryptionEntityId": {
          "format": "int64",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string"
        },
        "encryptionEntityType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ]
        },
        "encryptionSource": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "type": "string",
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        }
      },
      "id": "EncryptionInfo"
    },
    "UserRole": {
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "type": "object",
      "properties": {
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "parentUserRoleId": {
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "permissions": {
          "description": "List of permissions associated with this user role.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          }
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        }
      }
    },
    "ChangeLogsListResponse": {
      "properties": {
        "changeLogs": {
          "items": {
            "$ref": "ChangeLog"
          },
          "description": "Change log collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        }
      },
      "description": "Change Log List Response",
      "type": "object",
      "id": "ChangeLogsListResponse"
    },
    "DateRange": {
      "id": "DateRange",
      "description": "Represents a date range.",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "description": "The date range relative to the date of when the report is run.",
          "type": "string",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "PlacementsGenerateTagsResponse": {
      "id": "PlacementsGenerateTagsResponse",
      "properties": {
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        }
      },
      "description": "Placement GenerateTags Response",
      "type": "object"
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "properties": {
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\".",
          "type": "string"
        }
      },
      "description": "Targetable remarketing list response",
      "type": "object"
    },
    "CampaignsListResponse": {
      "properties": {
        "campaigns": {
          "items": {
            "$ref": "Campaign"
          },
          "description": "Campaign collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Campaign List Response",
      "type": "object",
      "id": "CampaignsListResponse"
    },
    "SiteVideoSettings": {
      "properties": {
        "publisherSpecificationId": {
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "format": "int64"
        },
        "transcodeSettings": {
          "$ref": "SiteTranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\".",
          "type": "string"
        },
        "skippableSettings": {
          "$ref": "SiteSkippableSetting",
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "type": "string",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "companionSettings": {
          "$ref": "SiteCompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this site."
        }
      },
      "description": "Video Settings",
      "type": "object",
      "id": "SiteVideoSettings"
    },
    "AdvertisersListResponse": {
      "description": "Advertiser List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
          "type": "string"
        },
        "advertisers": {
          "items": {
            "$ref": "Advertiser"
          },
          "description": "Advertiser collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "AdvertisersListResponse"
    },
    "SitesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "sites": {
          "description": "Site collection.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        }
      },
      "description": "Site List Response",
      "type": "object",
      "id": "SitesListResponse"
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "properties": {
        "keywords": {
          "items": {
            "$ref": "ContextualKeyword"
          },
          "description": "Contextual keywords that this ad targets",
          "type": "array"
        }
      }
    },
    "PopupWindowProperties": {
      "id": "PopupWindowProperties",
      "description": "Popup Window Properties.",
      "type": "object",
      "properties": {
        "positionType": {
          "enumDescriptions": [
            "window positioning at center.",
            "window positioning by upper left corner coordinates."
          ],
          "description": "Popup window position either centered or at specific coordinate.",
          "type": "string",
          "enum": [
            "CENTER",
            "COORDINATES"
          ]
        },
        "showMenuBar": {
          "description": "Whether to display the browser menu bar.",
          "type": "boolean"
        },
        "showToolBar": {
          "description": "Whether to display the browser tool bar.",
          "type": "boolean"
        },
        "dimension": {
          "description": "Popup dimension for a creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID",
          "$ref": "Size"
        },
        "title": {
          "description": "Title of popup window.",
          "type": "string"
        },
        "showStatusBar": {
          "description": "Whether to display the browser status bar.",
          "type": "boolean"
        },
        "offset": {
          "$ref": "OffsetPosition",
          "description": "Upper-left corner coordinates of the popup window. Applicable if positionType is COORDINATES."
        },
        "showScrollBar": {
          "description": "Whether to display the browser scroll bar.",
          "type": "boolean"
        },
        "showAddressBar": {
          "description": "Whether to display the browser address bar.",
          "type": "boolean"
        }
      }
    },
    "CreativeFieldValue": {
      "description": "Contains properties of a creative field value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "id": "CreativeFieldValue"
    },
    "AccountUserProfile": {
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object",
      "properties": {
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "userRoleFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which user roles are visible to the user profile."
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "advertiserFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which advertisers are visible to the user profile."
        },
        "userAccessType": {
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "userRoleId": {
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string"
        }
      },
      "id": "AccountUserProfile"
    },
    "OmnitureSettings": {
      "id": "OmnitureSettings",
      "description": "Omniture Integration Settings.",
      "type": "object",
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      }
    },
    "EventTagsListResponse": {
      "description": "Event Tag List Response",
      "type": "object",
      "properties": {
        "eventTags": {
          "items": {
            "$ref": "EventTag"
          },
          "description": "Event tag collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        }
      },
      "id": "EventTagsListResponse"
    },
    "ThirdPartyAuthenticationToken": {
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the third-party authentication token.",
          "type": "string"
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "Region": {
      "description": "Contains information about a region that can be targeted by ads.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this region.",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this region.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this region belongs.",
          "type": "string"
        },
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this region belongs.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code.",
          "type": "string"
        }
      },
      "id": "Region"
    },
    "Country": {
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object",
      "properties": {
        "dartId": {
          "format": "int64",
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        }
      },
      "id": "Country"
    },
    "RemarketingValueAttribute": {
      "id": "RemarketingValueAttribute",
      "description": "Contains remarketing value attribute information.",
      "type": "object",
      "properties": {
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        },
        "userAttributeIds": {
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "DynamicTargetingKeysListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\".",
          "type": "string"
        },
        "dynamicTargetingKeys": {
          "description": "Dynamic targeting key collection.",
          "type": "array",
          "items": {
            "$ref": "DynamicTargetingKey"
          }
        }
      },
      "description": "Dynamic Targeting Key List Response",
      "type": "object",
      "id": "DynamicTargetingKeysListResponse"
    },
    "BillingRateTieredRate": {
      "properties": {
        "lowValue": {
          "description": "The minimum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "rateInMicros": {
          "format": "int64",
          "description": "Rate in micros for this tier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BillingRateTieredRate"
    },
    "RemarketingList": {
      "id": "RemarketingList",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "description": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field.",
          "type": "string"
        },
        "name": {
          "description": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\".",
          "type": "string"
        },
        "description": {
          "description": "Remarketing list description.",
          "type": "string"
        },
        "lifeSpan": {
          "description": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "description": "Whether this remarketing list is active.",
          "type": "boolean"
        },
        "listPopulationRule": {
          "description": "Rule used to populate the remarketing list with users.",
          "$ref": "ListPopulationRule"
        },
        "listSource": {
          "description": "Product from which this remarketing list was originated.",
          "type": "string",
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ]
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "description": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource.",
      "type": "object"
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "description": "Technology Targeting.",
      "type": "object",
      "properties": {
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "connectionTypes": {
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        },
        "browsers": {
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        },
        "operatingSystemVersions": {
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        }
      }
    },
    "AdvertiserLandingPagesListResponse": {
      "id": "AdvertiserLandingPagesListResponse",
      "description": "Landing Page List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\".",
          "type": "string"
        },
        "landingPages": {
          "description": "Landing page collection",
          "type": "array",
          "items": {
            "$ref": "LandingPage"
          }
        }
      }
    },
    "Project": {
      "id": "Project",
      "description": "Contains properties of a Planning project.",
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this project. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "clientName": {
          "description": "Name of the project client.",
          "type": "string"
        },
        "targetClicks": {
          "format": "int64",
          "description": "Number of clicks that the advertiser is targeting.",
          "type": "string"
        },
        "targetConversions": {
          "format": "int64",
          "description": "Number of conversions that the advertiser is targeting.",
          "type": "string"
        },
        "audienceAgeGroup": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Audience age group of this project.",
          "type": "string",
          "enum": [
            "PLANNING_AUDIENCE_AGE_18_24",
            "PLANNING_AUDIENCE_AGE_25_34",
            "PLANNING_AUDIENCE_AGE_35_44",
            "PLANNING_AUDIENCE_AGE_45_54",
            "PLANNING_AUDIENCE_AGE_55_64",
            "PLANNING_AUDIENCE_AGE_65_OR_MORE",
            "PLANNING_AUDIENCE_AGE_UNKNOWN"
          ]
        },
        "audienceGender": {
          "description": "Audience gender of this project.",
          "type": "string",
          "enum": [
            "PLANNING_AUDIENCE_GENDER_MALE",
            "PLANNING_AUDIENCE_GENDER_FEMALE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "budget": {
          "format": "int64",
          "description": "Budget of this project in the currency specified by the current account. The value stored in this field represents only the non-fractional amount. For example, for USD, the smallest value that can be represented by this field is 1 US dollar.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of this project.",
          "type": "string"
        },
        "targetCpaNanos": {
          "description": "CPA that the advertiser is targeting.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this project.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this project.",
          "type": "string",
          "format": "int64"
        },
        "targetCpcNanos": {
          "format": "int64",
          "description": "CPC that the advertiser is targeting.",
          "type": "string"
        },
        "clientBillingCode": {
          "description": "Client billing code of this project.",
          "type": "string"
        },
        "targetImpressions": {
          "format": "int64",
          "description": "Number of impressions that the advertiser is targeting.",
          "type": "string"
        },
        "name": {
          "description": "Name of this project.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "targetCpmActiveViewNanos": {
          "format": "int64",
          "description": "vCPM from Active View that the advertiser is targeting.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#project\".",
          "type": "string"
        },
        "targetCpmNanos": {
          "format": "int64",
          "description": "CPM that the advertiser is targeting.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this project.",
          "$ref": "LastModifiedInfo"
        },
        "advertiserId": {
          "description": "Advertiser ID of this project.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LastModifiedInfo": {
      "description": "Modification timestamp.",
      "type": "object",
      "properties": {
        "time": {
          "format": "int64",
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "type": "string"
        }
      },
      "id": "LastModifiedInfo"
    },
    "Subaccount": {
      "id": "Subaccount",
      "properties": {
        "id": {
          "description": "ID of this subaccount. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "availablePermissionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array"
        }
      },
      "description": "Contains properties of a Campaign Manager subaccount.",
      "type": "object"
    },
    "DependentFieldValue": {
      "id": "DependentFieldValue",
      "description": "Contains dependent field value information.",
      "type": "object",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string",
          "format": "int64"
        },
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicFeedId": {
          "format": "int64",
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "type": "string"
        }
      }
    },
    "Language": {
      "id": "Language",
      "description": "Contains information about a language that can be targeted by ads.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        }
      }
    },
    "CompatibleFields": {
      "id": "CompatibleFields",
      "properties": {
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "reportCompatibleFields": {
          "$ref": "ReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\"."
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        }
      },
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "type": "object"
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "description": "User identifying information. Exactly one type of identifier must be specified.",
      "type": "object",
      "properties": {
        "hashedEmail": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "hashedPhoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "addressInfo": {
          "$ref": "OfflineUserAddressInfo",
          "description": "Address information."
        }
      }
    },
    "AdvertiserGroupsListResponse": {
      "description": "Advertiser Group List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\".",
          "type": "string"
        },
        "advertiserGroups": {
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Advertiser group collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "AdvertiserGroupsListResponse"
    },
    "SiteCompanionSetting": {
      "id": "SiteCompanionSetting",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        },
        "enabledSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "type": "array"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      },
      "description": "Companion Settings",
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "description": "Contains properties of a Campaign Manager account.",
      "type": "object",
      "properties": {
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "nielsenOcrEnabled": {
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default.",
          "type": "boolean"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Maximum number of active ads allowed for this account.",
          "type": "string",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        },
        "countryId": {
          "format": "int64",
          "description": "ID of the country associated with this account.",
          "type": "string"
        },
        "accountProfile": {
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ],
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ]
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique.",
          "type": "string"
        },
        "availablePermissionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "User role permissions available to the user roles of this account.",
          "type": "array"
        },
        "reportsConfiguration": {
          "$ref": "ReportsConfiguration",
          "description": "Reporting configuration of this account."
        },
        "teaserSizeLimit": {
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "defaultCreativeSizeId": {
          "format": "int64",
          "description": "Default placement dimensions for this account.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "currencyId": {
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "type": "string",
          "format": "int64"
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "maximumImageSize": {
          "format": "int64",
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "accountPermissionIds": {
          "description": "Account permissions assigned to this account.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "activeViewOptOut": {
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions.",
          "type": "boolean"
        }
      }
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "id": "FloodlightActivitiesGenerateTagResponse",
      "description": "Floodlight Activity GenerateTag Response",
      "type": "object",
      "properties": {
        "floodlightActivityTag": {
          "description": "Generated tag for this Floodlight activity. For Google tags, this is the event snippet.",
          "type": "string"
        },
        "globalSiteTagGlobalSnippet": {
          "description": "The global snippet section of a Google tag. The Google tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\".",
          "type": "string"
        }
      }
    },
    "ProximityFilter": {
      "properties": {
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "type": "string",
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ]
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string",
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ]
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        },
        "radiusValue": {
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer"
        }
      },
      "description": "Contains proximity filter information.",
      "type": "object",
      "id": "ProximityFilter"
    },
    "PlatformTypesListResponse": {
      "id": "PlatformTypesListResponse",
      "properties": {
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform type collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\".",
          "type": "string"
        }
      },
      "description": "Platform Type List Response",
      "type": "object"
    },
    "PlacementTag": {
      "properties": {
        "placementId": {
          "format": "int64",
          "description": "Placement ID",
          "type": "string"
        },
        "tagDatas": {
          "description": "Tags generated for this placement.",
          "type": "array",
          "items": {
            "$ref": "TagData"
          }
        }
      },
      "description": "Placement Tag",
      "type": "object",
      "id": "PlacementTag"
    },
    "ThirdPartyTrackingUrl": {
      "properties": {
        "thirdPartyUrlType": {
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "type": "string",
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ]
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      },
      "description": "Third-party Tracking URL.",
      "type": "object",
      "id": "ThirdPartyTrackingUrl"
    },
    "CompanionClickThroughOverride": {
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "ID of the creative for this companion click-through override.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this companion click-through override."
        }
      },
      "description": "Companion Click-through override.",
      "type": "object",
      "id": "CompanionClickThroughOverride"
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "placementStrategies": {
          "items": {
            "$ref": "PlacementStrategy"
          },
          "description": "Placement strategy collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        }
      },
      "description": "Placement Strategy List Response",
      "type": "object",
      "id": "PlacementStrategiesListResponse"
    },
    "ConversionError": {
      "description": "The error code and description for a conversion that failed to insert or update.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\".",
          "type": "string"
        },
        "code": {
          "description": "The error code.",
          "type": "string",
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        }
      },
      "id": "ConversionError"
    },
    "Rule": {
      "properties": {
        "name": {
          "description": "A user-friendly name for this rule. This is a required field.",
          "type": "string"
        },
        "assetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "targetingTemplateId": {
          "description": "A targeting template ID. The targeting from the targeting template will be used to determine whether this asset should be served. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A rule associates an asset with a targeting template for asset-level targeting. Applicable to INSTREAM_VIDEO creatives.",
      "type": "object",
      "id": "Rule"
    },
    "DynamicFeedsInsertRequest": {
      "properties": {
        "dynamicFeed": {
          "$ref": "DynamicFeed",
          "description": "Required. Dynamic feed to insert."
        },
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "type": "object",
      "id": "DynamicFeedsInsertRequest"
    },
    "SizesListResponse": {
      "id": "SizesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\".",
          "type": "string"
        },
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection.",
          "type": "array"
        }
      },
      "description": "Size List Response",
      "type": "object"
    },
    "ClickTag": {
      "description": "Creative Click Tag.",
      "type": "object",
      "properties": {
        "eventName": {
[...]
