{
  "version": "v5",
  "servicePath": "dfareporting/v5/",
  "id": "dfareporting:v5",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "dfareporting",
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "rootUrl": "https://dfareporting.googleapis.com/",
  "resources": {
    "mobileCarriers": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "id": "dfareporting.mobileCarriers.get",
          "description": "Gets one mobile carrier by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileCarrier"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Mobile carrier ID.",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of mobile carriers.",
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "id": "dfareporting.mobileCarriers.list"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "id": "dfareporting.creativeAssets.insert",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "mediaUpload": {
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "description": "Inserts a new creative asset.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Advertiser ID of this creative. This is a required field.",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "supportsMediaUpload": true
        }
      }
    },
    "campaigns": {
      "methods": {
        "insert": {
          "description": "Inserts a new campaign.",
          "path": "userprofiles/{+profileId}/campaigns",
          "id": "dfareporting.campaigns.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          }
        },
        "patch": {
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "id": "dfareporting.campaigns.patch",
          "path": "userprofiles/{+profileId}/campaigns",
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Required. Campaign ID.",
              "required": true,
              "location": "query"
            }
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "description": "Campaign ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "id": "dfareporting.campaigns.get",
          "description": "Gets one campaign by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "id": "dfareporting.campaigns.list",
          "path": "userprofiles/{+profileId}/campaigns",
          "parameters": {
            "overriddenEventTagId": {
              "location": "query",
              "format": "int64",
              "description": "Select only campaigns that have overridden this event tag ID.",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "advertiserGroupIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "location": "query"
            },
            "subaccountId": {
              "description": "Select only campaigns that belong to this subaccount.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only campaigns with these IDs."
            },
            "advertiserIds": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only campaigns that belong to these advertisers."
            },
            "atLeastOneOptimizationActivity": {
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity.",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "archived": {
              "location": "query",
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "type": "boolean"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "excludedIds": {
              "location": "query",
              "description": "Exclude campaigns with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/campaigns",
          "id": "dfareporting.campaigns.update",
          "description": "Updates an existing campaign.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "billingProfileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Billing profile ID of this billing assignment."
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "id": "dfareporting.billingAssignments.insert",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "BillingAssignment"
          },
          "response": {
            "$ref": "BillingAssignment"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "billingProfileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "description": "Retrieves a list of billing assignments.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "id": "dfareporting.billingAssignments.list"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "list": {
          "parameters": {
            "active": {
              "location": "query",
              "description": "Select only active or only inactive remarketing lists.",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000",
              "format": "int32"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "floodlightActivityId": {
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "advertiserId": {
              "required": true,
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "id": "dfareporting.remarketingLists.list",
          "path": "userprofiles/{+profileId}/remarketingLists"
        },
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.remarketingLists.update",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Updates an existing remarketing list.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Remarketing list ID."
            }
          },
          "id": "dfareporting.remarketingLists.get",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "description": "Gets one remarketing list by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingList"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.patch",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new remarketing list.",
          "id": "dfareporting.remarketingLists.insert",
          "path": "userprofiles/{+profileId}/remarketingLists"
        }
      }
    },
    "creativeFields": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only creative fields with these IDs."
            }
          },
          "id": "dfareporting.creativeFields.list",
          "path": "userprofiles/{+profileId}/creativeFields",
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativeFieldsListResponse"
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeField"
          },
          "response": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing creative field.",
          "id": "dfareporting.creativeFields.update",
          "path": "userprofiles/{+profileId}/creativeFields"
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "description": "Creative Field ID",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes an existing creative field.",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "id": "dfareporting.creativeFields.delete"
        },
        "get": {
          "id": "dfareporting.creativeFields.get",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "description": "Gets one creative field by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Creative Field ID",
              "required": true
            }
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Inserts a new creative field.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "id": "dfareporting.creativeFields.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeField"
          },
          "response": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "response": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "id": "dfareporting.creativeFields.patch",
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "CreativeField ID.",
              "required": true
            }
          }
        }
      }
    },
    "platformTypes": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Platform type ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one platform type by ID.",
          "id": "dfareporting.platformTypes.get",
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlatformType"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of platform types.",
          "path": "userprofiles/{+profileId}/platformTypes",
          "id": "dfareporting.platformTypes.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "userRoles": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "UserRole"
          },
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new user role.",
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        },
        "patch": {
          "description": "Updates an existing user role. This method supports patch semantics.",
          "id": "dfareporting.userRoles.patch",
          "path": "userprofiles/{+profileId}/userRoles",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "UserRole"
          },
          "response": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. UserRole ID."
            }
          }
        },
        "list": {
          "id": "dfareporting.userRoles.list",
          "path": "userprofiles/{+profileId}/userRoles",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "description": "Select only user roles with the specified IDs.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "subaccountId": {
              "description": "Select only user roles that belong to this subaccount.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "type": "boolean",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "UserRole"
          },
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing user role.",
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.update",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "User role ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role by ID.",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "id": "dfareporting.userRoles.get"
        },
        "delete": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User role ID.",
              "required": true
            }
          },
          "description": "Deletes an existing user role.",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "id": "dfareporting.userRoles.delete",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.get",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "description": "Gets one account user profile by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID.",
              "location": "path"
            }
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "userRoleId": {
              "location": "query",
              "format": "int64",
              "description": "Select only user profiles with the specified user role ID.",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "subaccountId": {
              "description": "Select only user profiles with the specified subaccount ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only user profiles with these IDs.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string",
              "location": "query"
            },
            "active": {
              "location": "query",
              "description": "Select only active user profiles.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.list",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.update",
          "description": "Updates an existing account user profile.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new account user profile.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.insert",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        },
        "patch": {
          "id": "dfareporting.accountUserProfiles.patch",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. AccountUserProfile ID."
            }
          }
        }
      }
    },
    "placements": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Placement"
          },
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one placement by ID.",
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "id": "dfareporting.placements.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Placement ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        },
        "list": {
          "id": "dfareporting.placements.list",
          "path": "userprofiles/{+profileId}/placements",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameters": {
            "directorySiteIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that are associated with these directory sites.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "paymentSource": {
              "type": "string",
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Select only placements with this payment source.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "contentCategoryIds": {
              "location": "query",
              "description": "Select only placements that are associated with these content categories.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "siteIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that are associated with these sites.",
              "location": "query"
            },
            "sizeIds": {
              "description": "Select only placements that are associated with these sizes.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only placements with these IDs."
            },
            "campaignIds": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only placements that belong to these campaigns."
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "minStartDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that belong to these advertisers.",
              "location": "query"
            },
            "activeStatus": {
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "groupIds": {
              "description": "Select only placements that belong to these placement groups.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "pricingTypes": {
              "type": "string",
              "repeated": true,
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "description": "Select only placements with these pricing types.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "compatibilities": {
              "repeated": true,
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard."
            },
            "placementStrategyIds": {
              "location": "query",
              "description": "Select only placements that are associated with these placement strategies.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Placement"
          },
          "response": {
            "$ref": "Placement"
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.update",
          "description": "Updates an existing placement.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        },
        "generatetags": {
          "parameters": {
            "tagProperties.tcfGdprMacrosIncluded": {
              "default": "true",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "tagProperties.dcDbmMacroIncluded": {
              "location": "query",
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "type": "boolean"
            },
            "placementIds": {
              "location": "query",
              "description": "Generate tags for these placements.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "tagProperties.gppMacrosIncluded": {
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "tagFormats": {
              "location": "query",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "id": "dfareporting.placements.generatetags",
          "description": "Generates tags for a placement.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.placements.insert",
          "path": "userprofiles/{+profileId}/placements",
          "description": "Inserts a new placement.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Placement"
          },
          "response": {
            "$ref": "Placement"
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Placement"
          },
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing placement. This method supports patch semantics.",
          "id": "dfareporting.placements.patch",
          "path": "userprofiles/{+profileId}/placements",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "description": "Required. Placement ID.",
              "required": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "parameters": {
            "name": {
              "location": "query",
              "required": true,
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "type": "string"
            },
            "objectId": {
              "location": "path",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "objectType": {
              "required": true,
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "location": "query",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Deletes an existing dynamic targeting key."
        },
        "insert": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert"
        },
        "list": {
          "description": "Retrieves a list of dynamic targeting keys.",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "objectId": {
              "location": "query",
              "format": "int64",
              "description": "Select only dynamic targeting keys with this object ID.",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "type": "string"
            },
            "objectType": {
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only dynamic targeting keys with this object type.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "names": {
              "location": "query",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string"
            }
          }
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Operating system version ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one operating system version by ID.",
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "id": "dfareporting.operatingSystemVersions.get"
        },
        "list": {
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "description": "Retrieves a list of operating system versions.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "parameters": {
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "namePrefix": {
              "location": "query",
              "description": "Select only cities with names starting with this prefix.",
              "type": "string"
            },
            "dartIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only cities with these DART IDs.",
              "location": "query"
            },
            "countryDartIds": {
              "description": "Select only cities from these countries.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of cities, possibly filtered.",
          "id": "dfareporting.cities.list",
          "path": "userprofiles/{+profileId}/cities"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.list",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.update",
          "description": "Updates an existing floodlight configuration.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one floodlight configuration by ID.",
          "id": "dfareporting.floodlightConfigurations.get",
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Floodlight configuration ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        },
        "patch": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Required. EventTag ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "id": "dfareporting.floodlightConfigurations.patch",
          "path": "userprofiles/{+profileId}/floodlightConfigurations"
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "Billing Profile ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.get",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "description": "Gets one billing profile by ID."
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "id": "dfareporting.billingProfiles.list",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameters": {
            "status": {
              "description": "Select only billing profile with the specified status.",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string"
            },
            "subaccountIds": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported."
            },
            "name": {
              "location": "query",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "type": "string"
            },
            "onlySuggestion": {
              "location": "query",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "currency_code": {
              "location": "query",
              "description": "Select only billing profile with currency.",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only billing profile with these IDs.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return."
            }
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles",
          "id": "dfareporting.billingProfiles.update",
          "description": "Updates an existing billing profile.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "BillingProfile"
          },
          "response": {
            "$ref": "BillingProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.insert",
          "description": "Inserts a new floodlight activity.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        },
        "patch": {
          "id": "dfareporting.floodlightActivities.patch",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. EventTag ID."
            }
          }
        },
        "generatetag": {
          "id": "dfareporting.floodlightActivities.generatetag",
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "description": "Generates a tag for a floodlight activity.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "floodlightActivityId": {
              "location": "query",
              "format": "int64",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "type": "string"
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.list",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "floodlightActivityGroupTagString": {
              "location": "query",
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "type": "string",
              "location": "query"
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "floodlightActivityGroupIds": {
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "tagString": {
              "location": "query",
              "description": "Select only floodlight activities with the specified tag string.",
              "type": "string"
            },
            "floodlightActivityGroupType": {
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
[...]
