{
  "revision": "20260825",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version": "v2",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "id": "dialogflow:v2",
  "protocol": "rest",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2/projects/{projectsId}/agent",
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.getAgent",
          "httpMethod": "GET",
          "path": "v2/{+parent}/agent",
          "description": ""
        },
        "setAgent": {
          "path": "v2/{+parent}/agent",
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.setAgent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "flatPath": "v2/projects/{projectsId}/agent",
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "description": "",
          "httpMethod": "POST"
        },
        "deleteAgent": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "httpMethod": "DELETE",
          "description": "",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v2/{+parent}/agent",
          "id": "dialogflow.projects.deleteAgent",
          "flatPath": "v2/projects/{projectsId}/agent"
        }
      },
      "resources": {
        "conversationDatasets": {
          "methods": {
            "importConversationData": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationDatasets.importConversationData",
              "path": "v2/{+name}:importConversationData",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": ""
            },
            "list": {
              "id": "dialogflow.projects.conversationDatasets.list",
              "path": "v2/{+parent}/conversationDatasets",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationDatasets",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationDataset"
              },
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}",
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversationDatasets.get",
              "description": "",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "httpMethod": "POST",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              },
              "path": "v2/{+parent}/suggestions:generateStatelessSummary",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "searchKnowledge": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              },
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              },
              "path": "v2/{+parent}/suggestions:searchKnowledge"
            }
          }
        },
        "conversationModels": {
          "methods": {
            "create": {
              "path": "v2/{+parent}/conversationModels",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "dialogflow.projects.conversationModels.create",
              "description": ""
            },
            "get": {
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "id": "dialogflow.projects.conversationModels.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.conversationModels.delete"
            },
            "deploy": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "dialogflow.projects.conversationModels.deploy",
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy",
              "path": "v2/{+name}:deploy",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "path": "v2/{+parent}/conversationModels",
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversationModels.list",
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "undeploy": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationModels.undeploy",
              "httpMethod": "POST",
              "path": "v2/{+name}:undeploy",
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
              }
            }
          },
          "resources": {
            "evaluations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversationModels.evaluations.get",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations",
                  "description": "",
                  "id": "dialogflow.projects.conversationModels.evaluations.list",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/evaluations",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "id": "dialogflow.projects.operations.get",
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "cancel": {
              "path": "v2/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "dialogflow.projects.operations.cancel",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            },
            "list": {
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/operations",
              "id": "dialogflow.projects.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "conversationProfiles": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.conversationProfiles.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}"
                },
                "setSuggestionFeatureConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "id": "dialogflow.projects.locations.conversationProfiles.setSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
                  },
                  "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
                  "parameters": {
                    "conversationProfile": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "description": ""
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "id": "dialogflow.projects.locations.conversationProfiles.list",
                  "path": "v2/{+parent}/conversationProfiles",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "get": {
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "id": "dialogflow.projects.locations.conversationProfiles.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.conversationProfiles.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}"
                },
                "clearSuggestionFeatureConfig": {
                  "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
                  "id": "dialogflow.projects.locations.conversationProfiles.clearSuggestionFeatureConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "conversationProfile": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "path": "v2/{+parent}/conversationProfiles",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationProfiles.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "sipTrunks": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/sipTrunks",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.sipTrunks.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListSipTrunksResponse"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.sipTrunks.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "path": "v2/{+parent}/sipTrunks",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "description": "",
                  "id": "dialogflow.projects.locations.sipTrunks.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$"
                    }
                  }
                },
                "get": {
                  "id": "dialogflow.projects.locations.sipTrunks.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.locations.sipTrunks.delete",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "answerRecords": {
              "methods": {
                "patch": {
                  "description": "",
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "path": "v2/{+name}"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.locations.answerRecords.list",
                  "path": "v2/{+parent}/answerRecords",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords"
                }
              }
            },
            "conversations": {
              "methods": {
                "ingestContextReferences": {
                  "parameters": {
                    "conversation": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesRequest"
                  },
                  "id": "dialogflow.projects.locations.conversations.ingestContextReferences",
                  "description": "",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:ingestContextReferences",
                  "httpMethod": "POST",
                  "path": "v2/{+conversation}:ingestContextReferences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "complete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
                  },
                  "path": "v2/{+name}:complete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversations.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversations.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameters": {
                    "conversationId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "description": "",
                  "path": "v2/{+parent}/conversations"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/conversations",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.conversations.list"
                }
              },
              "resources": {
                "participants": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "description": "",
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/participants",
                      "httpMethod": "GET"
                    },
                    "analyzeContent": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                      },
                      "path": "v2/{+participant}:analyzeContent",
                      "parameters": {
                        "participant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "parameterOrder": [
                        "participant"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                      },
                      "description": ""
                    },
                    "patch": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      }
                    },
                    "get": {
                      "description": "",
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+parent}/participants",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    }
                  },
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestArticles": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                          },
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "path": "v2/{+parent}/suggestions:suggestArticles",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST"
                        },
                        "suggestFaqAnswers": {
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                          },
                          "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "suggestSmartReplies": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "httpMethod": "POST",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "suggestKnowledgeAssist": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestKnowledgeAssist",
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                            }
                          },
                          "description": ""
                        }
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "description": "",
                      "path": "v2/{+parent}/messages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "suggestions": {
                  "methods": {
                    "searchKnowledge": {
                      "path": "v2/{+conversation}/suggestions:searchKnowledge",
                      "description": "",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                      },
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.searchKnowledge",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:searchKnowledge"
                    },
                    "suggestConversationSummary": {
                      "httpMethod": "POST",
                      "path": "v2/{+conversation}/suggestions:suggestConversationSummary",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                      "parameters": {
                        "conversation": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.suggestConversationSummary"
                    },
                    "generate": {
                      "description": "",
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2/{+conversation}/suggestions:generate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "conversation"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.generate",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:generate"
                    }
                  }
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.encryptionSpec.initialize",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:initialize"
                }
              }
            },
            "tools": {
              "methods": {
                "create": {
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "toolId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.tools.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/tools",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "id": "dialogflow.projects.locations.tools.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListToolsResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/tools",
                  "id": "dialogflow.projects.locations.tools.list"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.tools.get",
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.tools.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.operations.get",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.list",
                  "path": "v2/{+name}/operations"
                }
              }
            },
            "agent": {
              "resources": {
                "entityTypes": {
                  "methods": {
                    "batchUpdate": {
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchUpdate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                      },
                      "path": "v2/{+parent}/entityTypes:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchUpdate",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "batchDelete": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchDelete",
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes:batchDelete",
                      "description": ""
                    },
                    "create": {
                      "description": "",
                      "path": "v2/{+parent}/entityTypes",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "id": "dialogflow.projects.locations.agent.entityTypes.create",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agent.entityTypes.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "id": "dialogflow.projects.locations.agent.entityTypes.list",
                      "description": "",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agent.entityTypes.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agent.entityTypes.patch",
                      "description": ""
                    }
                  },
                  "resources": {
                    "entities": {
                      "methods": {
                        "batchCreate": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                            }
                          },
                          "description": "",
                          "path": "v2/{+parent}/entities:batchCreate",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchCreate",
                          "httpMethod": "POST"
                        },
                        "batchDelete": {
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchDelete",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                            }
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2/{+parent}/entities:batchDelete",
                          "httpMethod": "POST"
                        },
                        "batchUpdate": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchUpdate",
                          "path": "v2/{+parent}/entities:batchUpdate",
                          "description": "",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Intent"
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agent.intents.create",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "intentView": {
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            ""
                          ]
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Intent"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.locations.agent.intents.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Intent"
                      },
                      "id": "dialogflow.projects.locations.agent.intents.patch",
                      "path": "v2/{+name}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "intentView": {
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "location": "query",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Intent"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                      },
                      "parameters": {
                        "pageToken": {
[...]
