{
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2beta1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "ownerName": "Google",
  "name": "dialogflow",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "servicePath": "",
  "version_module": true,
  "title": "Dialogflow API",
  "ownerDomain": "google.com",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "canonicalName": "Dialogflow",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig": {
      "type": "object",
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolAuthentication": {
      "id": "GoogleCloudDialogflowV2beta1ToolAuthentication",
      "type": "object",
      "properties": {
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "type": "object",
      "properties": {
        "volumeGainDb": {
          "format": "double",
          "type": "number"
        },
        "speakingRate": {
          "format": "double",
          "type": "number"
        },
        "pronunciations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CustomPronunciationParams"
          },
          "type": "array"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings",
      "type": "object",
      "properties": {
        "noSmallTalk": {
          "type": "boolean"
        },
        "onlyEndUser": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest",
      "properties": {
        "entityTypeNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechToTextConfigGeminiAsrConfig": {
      "id": "GoogleCloudDialogflowV2beta1SpeechToTextConfigGeminiAsrConfig",
      "type": "object",
      "properties": {
        "endOfSpeechSensitivity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ]
        },
        "startOfSpeechSensitivity": {
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "modelId": {
          "type": "string"
        },
        "silenceDurationMs": {
          "format": "int32",
          "type": "integer"
        },
        "prefixPaddingMs": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig",
      "type": "object",
      "properties": {
        "recentSentencesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportAgentRequest": {
      "id": "GoogleCloudDialogflowV2beta1ImportAgentRequest",
      "type": "object",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry": {
      "id": "GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "agentVersion": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigMessageAnalysisConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigMessageAnalysisConfig",
      "properties": {
        "enableSentimentAnalysisV3": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "enableEntityExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse": {
      "properties": {
        "generatorEvaluations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse"
    },
    "GoogleCloudDialogflowV2beta1ListDocumentsResponse": {
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Document"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      }
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Environment": {
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
        },
        "description": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1TextToSpeechSettings"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "agentVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary": {
      "type": "object",
      "properties": {
        "baselineModelVersion": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "properties": {
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "displayName": {
          "type": "string"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowContent": {
          "format": "byte",
          "type": "string"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "readOnly": true
        },
        "score": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "sectionDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantRecord": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantRecord",
      "properties": {
        "dialogflowAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
          "readOnly": true
        },
        "articleSuggestionAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer",
          "readOnly": true
        },
        "faqAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1TrainAgentRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
    },
    "GoogleCloudDialogflowV2beta1ToolOpenApiTool": {
      "id": "GoogleCloudDialogflowV2beta1ToolOpenApiTool",
      "properties": {
        "textSchema": {
          "type": "string"
        },
        "authentication": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthentication"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolTLSConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationGeneratorContext": {
      "id": "GoogleCloudDialogflowV2beta1ConversationGeneratorContext",
      "type": "object",
      "properties": {
        "generatorType": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ProbeDetails": {
      "id": "GoogleCloudDialogflowV2beta1ProbeDetails",
      "properties": {
        "probeStatus": {
          "readOnly": true,
          "enum": [
            "PROBE_STATUS_UNSPECIFIED",
            "PROBE_STATUS_SUCCESS",
            "PROBE_STATUS_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "initTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "optionsLatency": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "conversation": {
          "type": "string"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2Context": {
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SipHostname": {
      "id": "GoogleCloudDialogflowV2beta1SipHostname",
      "properties": {
        "enabledSipPing": {
          "readOnly": true,
          "type": "boolean"
        },
        "connectionState": {
          "readOnly": true,
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "DISCONNECTED",
            "AUTHENTICATION_FAILED",
            "KEEPALIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorDetails": {
          "$ref": "GoogleCloudDialogflowV2beta1SipHostnameHostnameErrorDetails",
          "readOnly": true
        },
        "peerSocketAddress": {
          "readOnly": true,
          "type": "string"
        },
        "peerHostname": {
          "type": "string"
        },
        "pingInterval": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        },
        "probeDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ProbeDetails"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ValidationError": {
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ]
        },
        "errorMessage": {
          "type": "string"
        },
        "entries": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ValidationError"
    },
    "GoogleCloudDialogflowV2beta1AutomatedAgentConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AutomatedAgentConfig",
      "properties": {
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "agent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse": {
      "properties": {
        "conversationProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "properties": {
        "displayDetails": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        },
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "targetPage": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig": {
      "type": "object",
      "properties": {
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig"
        },
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig",
      "properties": {
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Message"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowV2beta1LoggingConfig": {
      "id": "GoogleCloudDialogflowV2beta1LoggingConfig",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "properties": {
        "dropHandoffMessages": {
          "type": "boolean"
        },
        "dropIvrMessages": {
          "type": "boolean"
        },
        "dropVirtualAgentMessages": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfo",
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "datastoreResponseReason": {
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsSource": {
      "id": "GoogleCloudDialogflowV2beta1GcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "properties": {
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "contentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition": {
      "properties": {
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition",
      "deprecated": true
    },
    "GoogleCloudDialogflowV2beta1UndeletePhoneNumberRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1UndeletePhoneNumberRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswer": {
      "type": "object",
      "properties": {
        "answerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ]
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "answerSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswerAnswerSource"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswer"
    },
    "GoogleCloudDialogflowV2beta1AssistQueryParameters": {
      "properties": {
        "documentsMetadataFilters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AssistQueryParameters",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchAgentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1SearchAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "type": "object",
      "properties": {
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1RaiSettings"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestionFeature"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig"
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "suggestionTriggerEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ValidationResult": {
      "properties": {
        "validationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ValidationError"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EvaluationStatus": {
      "properties": {
        "pipelineStatus": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "done": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EvaluationStatus",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2beta1FreeFormContext": {
      "id": "GoogleCloudDialogflowV2beta1FreeFormContext",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CompileSuggestionRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest",
      "deprecated": true,
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
    },
    "GoogleCloudDialogflowV2beta1DtmfParameters": {
      "properties": {
        "acceptsDtmfInput": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DtmfParameters"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService",
      "properties": {
        "password": {
          "type": "string",
          "deprecated": true
        },
        "webhookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "requestBody": {
          "type": "string"
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "username": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "properties": {
        "latencyMs": {
          "format": "float",
          "type": "number"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection",
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "summary": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolTLSConfig": {
      "id": "GoogleCloudDialogflowV2beta1ToolTLSConfig",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ToolTLSConfigCACert"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "type": "object",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
    },
    "GoogleCloudDialogflowV2beta1ListMessagesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Message"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "height": {
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "thumbnailUri": {
          "type": "string"
        },
        "fileUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "properties": {
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "mlEnabled": {
          "type": "boolean",
          "deprecated": true
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          }
        },
        "displayName": {
          "type": "string"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "endInteraction": {
          "type": "boolean"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "properties": {
        "singleUtterance": {
          "type": "boolean"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "enableWordInfo": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback",
      "properties": {
        "answerCopied": {
          "type": "boolean"
        },
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
    },
    "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CreateMessageRequest"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "properties": {
        "documentProcessingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "type": "object",
      "properties": {
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary": {
      "properties": {
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answerRecord": {
          "type": "string"
        },
        "sortedTextSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection"
          }
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "properties": {
        "score": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
          }
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GcsSources",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig": {
      "properties": {
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig"
        },
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigMessageAnalysisConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluation",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "summarizationMetrics": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetrics",
          "readOnly": true
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "evaluationStatus": {
          "$ref": "GoogleCloudDialogflowV2beta1EvaluationStatus",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2beta1Generator"
        },
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion",
      "properties": {
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
          }
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          }
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "type": "object",
      "properties": {
        "testResult": {
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "environment": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCaseResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "type": "object",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechContext": {
      "id": "GoogleCloudDialogflowV2beta1SpeechContext",
      "type": "object",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "type": "object",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        }
      },
[...]
