{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "revision": "20260825",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "version_module": true,
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "name": "dialogflow",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "id": "dialogflow:v3",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v3/{+name}/operations",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.list",
              "flatPath": "v3/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v3/{+name}",
              "httpMethod": "GET"
            },
            "cancel": {
              "description": "",
              "id": "dialogflow.projects.operations.cancel",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v3/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "agents": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+parent}/agents",
                  "description": "",
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.agents.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.delete"
                },
                "updateGenerativeSettings": {
                  "id": "dialogflow.projects.locations.agents.updateGenerativeSettings",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v3/{+name}"
                },
                "list": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v3/{+parent}/agents",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListAgentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.agents.list"
                },
                "restore": {
                  "id": "dialogflow.projects.locations.agents.restore",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+name}:restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
                  }
                },
                "getValidationResult": {
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "path": "v3/{+name}"
                },
                "getGenerativeSettings": {
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.getGenerativeSettings",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "httpMethod": "GET"
                },
                "export": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.export",
                  "path": "v3/{+name}:export",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+name}",
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.patch",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "validate": {
                  "httpMethod": "POST",
                  "path": "v3/{+name}:validate",
                  "id": "dialogflow.projects.locations.agents.validate",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ValidateAgentRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.agents.get",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  }
                }
              },
              "resources": {
                "webhooks": {
                  "methods": {
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/webhooks",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/webhooks",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v3/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.webhooks.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "description": ""
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "path": "v3/{+parent}/continuousTestResults",
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "patch": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v3/{+name}",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "httpMethod": "PATCH",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true
                                },
                                "updateMask": {
                                  "location": "query",
                                  "type": "string",
                                  "format": "google-fieldmask"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            },
                            "list": {
                              "parameters": {
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v3/{+parent}/entityTypes",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list"
                            },
                            "get": {
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "description": "",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "path": "v3/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "create": {
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "description": "",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "path": "v3/{+parent}/entityTypes",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "delete": {
                              "path": "v3/{+name}",
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "serverStreamingDetectIntent": {
                          "parameterOrder": [
                            "session"
                          ],
                          "description": "",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "path": "v3/{+session}:serverStreamingDetectIntent",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          }
                        },
                        "detectIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "path": "v3/{+session}:detectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "fulfillIntent": {
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "httpMethod": "POST",
                          "description": "",
                          "path": "v3/{+session}:fulfillIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent"
                        },
                        "matchIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:matchIntent",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "session"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          },
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent"
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "patch": {
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "path": "v3/{+parent}/experiments",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          }
                        },
                        "delete": {
                          "description": "",
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get"
                        },
                        "start": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v3/{+name}:start",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "description": ""
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "path": "v3/{+parent}/experiments",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "stop": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          },
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "description": "",
                          "path": "v3/{+name}:stop",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          }
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Deployment"
                          },
                          "description": "",
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListDeploymentsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "path": "v3/{+parent}/deployments",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "lookupEnvironmentHistory": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
                      },
                      "path": "v3/{+name}:lookupEnvironmentHistory",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      }
                    },
                    "deployFlow": {
                      "parameterOrder": [
                        "environment"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DeployFlowRequest"
                      },
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "parameters": {
                        "environment": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+environment}:deployFlow",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "runContinuousTest": {
                      "parameterOrder": [
                        "environment"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "environment": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+environment}:runContinuousTest",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunContinuousTestRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.environments.patch"
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/environments",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      }
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "path": "v3/{+parent}/environments",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.list"
                    }
                  }
                },
                "testCases": {
                  "methods": {
                    "batchRun": {
                      "path": "v3/{+parent}/testCases:batchRun",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "httpMethod": "POST",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "run": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}:run",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": ""
                    },
                    "export": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/testCases:export",
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
                      }
                    },
                    "batchDelete": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest"
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/testCases:batchDelete",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "calculateCoverage": {
                      "description": "",
                      "httpMethod": "GET",
                      "parameters": {
                        "agent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "type": {
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ],
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            ""
                          ]
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "parameterOrder": [
                        "agent"
                      ],
                      "path": "v3/{+agent}/testCases:calculateCoverage"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "path": "v3/{+parent}/testCases"
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "import": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/testCases:import",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "description": "",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v3/{+parent}/testCases",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
                      }
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
                          },
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.testCases.results.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "list": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "path": "v3/{+parent}/results",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.tools.get",
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.create",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "path": "v3/{+parent}/tools",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.tools.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListToolsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/tools",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.tools.list",
                      "httpMethod": "GET",
                      "description": ""
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.tools.patch",
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "restore": {
                          "path": "v3/{+name}:restore",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.restore",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}:restore",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": ""
                        },
                        "create": {
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "path": "v3/{+parent}/versions",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.create"
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "",
                          "path": "v3/{+name}",
                          "parameters": {
                            "force": {
                              "location": "query",
                              "type": "boolean"
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.delete"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/versions",
                          "id": "dialogflow.projects.locations.agents.tools.versions.list",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListToolVersionsResponse"
                          }
                        },
                        "get": {
                          "parameters": {
[...]
