{
  "rootUrl": "https://dialogflow.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "dialogflow",
  "revision": "20260919",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "canonicalName": "Dialogflow",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDialogflowV2SummarizationSection": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ],
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "definition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationSection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart"
    },
    "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation": {
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationInfo": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationInfo"
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "properties": {
        "word": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "endOffset": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "properties": {
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page"
    },
    "GoogleCloudDialogflowV2Agent": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchMode": {
          "deprecated": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ]
        },
        "classificationThreshold": {
          "format": "float",
          "type": "number"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "enableLogging": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Agent"
    },
    "GoogleCloudDialogflowV2EvaluationConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfig",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "type": "array"
        },
        "smartReplyConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        },
        "smartComposeConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string"
        },
        "followupIntentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "readOnly": true
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object",
      "properties": {
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "generator": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "properties": {
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        },
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportDocumentRequest": {
      "type": "object",
      "properties": {
        "exportFullContent": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportDocumentRequest"
    },
    "GoogleCloudDialogflowV2AudioInput": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2AudioInput"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowV2ToolConnectorToolAction",
      "type": "object",
      "properties": {
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation"
        },
        "connectionActionId": {
          "type": "string"
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse",
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfig": {
      "type": "object",
      "properties": {
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
        },
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfig"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2ImportConversationDataRequest": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataRequest",
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "id": "GoogleCloudDialogflowV2KnowledgeBase",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DtmfParameters": {
      "properties": {
        "acceptsDtmfInput": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2DtmfParameters",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "notes": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "properties": {
        "smartReplyAnswers": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowV2ToolExtensionTool": {
      "id": "GoogleCloudDialogflowV2ToolExtensionTool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object",
      "properties": {
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "notes": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentBatch"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
    },
    "GoogleCloudDialogflowV2ListEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationGeneratorContext": {
      "id": "GoogleCloudDialogflowV2ConversationGeneratorContext",
      "type": "object",
      "properties": {
        "generatorType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2FewShotExample": {
      "properties": {
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2SummarizationSectionList"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "extraInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FewShotExample"
    },
    "GoogleCloudDialogflowV2AutomatedAgentConfig": {
      "properties": {
        "agent": {
          "type": "string"
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowV2AutomatedAgentConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EnvironmentHistory": {
      "id": "GoogleCloudDialogflowV2EnvironmentHistory",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string"
        },
        "entries": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2EnvironmentHistoryEntry"
          },
          "type": "array"
        },
        "parent": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        }
      }
    },
    "GoogleCloudDialogflowV2Generator": {
      "type": "object",
      "properties": {
        "cesToolSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesToolSpec"
          },
          "type": "array"
        },
        "toolsetTools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolsetTool"
          }
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "triggerEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "inferenceParameter": {
          "$ref": "GoogleCloudDialogflowV2InferenceParameter"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionDedupingConfig": {
          "$ref": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "summarizationContext": {
          "$ref": "GoogleCloudDialogflowV2SummarizationContext"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "cesAppSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesAppSpec"
          },
          "type": "array",
          "deprecated": true
        },
        "agentCoachingContext": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "publishedModel": {
          "type": "string"
        },
        "freeFormContext": {
          "$ref": "GoogleCloudDialogflowV2FreeFormContext"
        }
      },
      "id": "GoogleCloudDialogflowV2Generator"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "type": "object",
      "properties": {
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "type": "object",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "type": "object",
      "properties": {
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "name": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "type": "object",
      "properties": {
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "answerRecord": {
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "properties": {
        "summary": {
          "type": "string"
        },
        "section": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolTLSConfig": {
      "id": "GoogleCloudDialogflowV2ToolTLSConfig",
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolTLSConfigCACert"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "properties": {
        "alias": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "type": "object",
      "properties": {
        "responseType": {
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "channel": {
          "type": "string"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ListIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "properties": {
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "properties": {
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "session": {
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition",
      "deprecated": true,
      "properties": {
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        },
        "adherenceReasoning": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListMessagesResponse": {
      "id": "GoogleCloudDialogflowV2ListMessagesResponse",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Message"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig",
      "properties": {
        "enableAccuracyEvaluation": {
          "type": "boolean",
          "deprecated": true
        },
        "accuracyEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        },
        "enableCompletenessEvaluation": {
          "type": "boolean",
          "deprecated": true
        },
        "evaluatorVersion": {
          "type": "string"
        },
        "completenessEvaluationVersion": {
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Message"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "type": "object",
      "properties": {
        "generatorEvaluations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "userEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "properties": {
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "type": "object",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2InferenceParameter": {
      "type": "object",
      "properties": {
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "topP": {
          "format": "double",
          "type": "number"
        },
        "maxOutputTokens": {
          "type": "integer",
          "format": "int32"
        },
        "topK": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2InferenceParameter"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "type": "object",
      "properties": {
        "isFinal": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          },
          "type": "array"
        },
        "transcript": {
          "type": "string"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "event": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "properties": {
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "stability": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "type": "object",
      "properties": {
        "maxDigits": {
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "properties": {
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail",
      "properties": {
        "sectionTokens": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          },
          "readOnly": true
        },
        "metricDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "readOnly": true
        },
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "readOnly": true
        },
        "messageEntries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "properties": {
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "type": "object",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        },
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "properties": {
        "onlyEndUser": {
          "type": "boolean"
        },
        "noSmalltalk": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "properties": {
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dataStore": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListParticipantsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListParticipantsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Participant"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams",
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phoneticEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ]
        },
        "phrase": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "id": "GoogleCloudDialogflowV2InputAudioConfig",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "enableAutomaticPunctuation": {
          "type": "boolean"
        },
        "disableNoSpeechRecognizedEvent": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "phraseSets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "speechContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          }
        },
        "enableVoiceActivityEvents": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "phraseHints": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "properties": {
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "type": "object",
      "properties": {
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "model": {
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "id": "GoogleCloudDialogflowCxV3TestError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testCase": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "contentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "responseText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudDialogflowV2EnvironmentHistoryEntry": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "agentVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EnvironmentHistoryEntry"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "failureReasons": {
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "noMatch": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleCloudDialogflowV2VoiceSelectionParams": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2VoiceSelectionParams"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationContext": {
      "id": "GoogleCloudDialogflowV2SummarizationContext",
      "properties": {
        "summarizationSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          },
          "type": "array"
        },
        "outputLanguageCode": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "fewShotExamples": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FewShotExample"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "properties": {
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "datastoreResponseReason": {
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Conversation": {
      "id": "GoogleCloudDialogflowV2Conversation",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationPhoneNumber"
        },
        "initialConversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile",
          "readOnly": true
        },
        "lifecycleState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "conversationStage": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONVERSATION_STAGE_UNSPECIFIED",
            "VIRTUAL_AGENT_STAGE",
            "HUMAN_ASSIST_STAGE"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "initialGeneratorContexts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationGeneratorContext"
          }
        },
        "conversationProfile": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "telephonyConnectionInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo"
        },
        "ingestedContextReferences": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionInput": {
      "id": "GoogleCloudDialogflowV2SuggestionInput",
      "type": "object",
      "properties": {
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CANCEL",
            "REVISE",
            "CONFIRM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
[...]
