{
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260916",
  "batchPath": "batch",
  "title": "Dialogflow API",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "id": "dialogflow:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "name": "dialogflow",
  "resources": {
    "projects": {
      "resources": {
        "knowledgeBases": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "httpMethod": "GET",
              "description": "",
              "id": "dialogflow.projects.knowledgeBases.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/knowledgeBases"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.patch",
              "httpMethod": "PATCH",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "description": "",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.knowledgeBases.create",
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "path": "v2/{+parent}/knowledgeBases",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.knowledgeBases.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "description": "",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "location": "path"
                },
                "force": {
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.get",
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              }
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "path": "v2/{+name}"
                },
                "export": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ExportDocumentRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:export",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.knowledgeBases.documents.export"
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "path": "v2/{+parent}/documents",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "import": {
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2/{+parent}/documents:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/documents"
                },
                "reload": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.reload",
                  "path": "v2/{+name}:reload",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                  }
                }
              }
            }
          }
        },
        "generators": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "id": "dialogflow.projects.generators.create",
              "parameters": {
                "generatorId": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "flatPath": "v2/projects/{projectsId}/generators",
              "path": "v2/{+parent}/generators",
              "description": "",
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/generators",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/generators",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.generators.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.list",
              "path": "v2/{+parent}/conversationProfiles",
              "description": "",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.get",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "clearSuggestionFeatureConfig": {
              "parameters": {
                "conversationProfile": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
              },
              "parameterOrder": [
                "conversationProfile"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.patch",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/{+name}"
            },
            "setSuggestionFeatureConfig": {
              "description": "",
              "httpMethod": "POST",
              "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
              "parameterOrder": [
                "conversationProfile"
              ],
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
              },
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig"
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversationProfiles",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "id": "dialogflow.projects.conversationProfiles.create",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "conversationModels": {
          "resources": {
            "evaluations": {
              "methods": {
                "list": {
                  "description": "",
                  "path": "v2/{+parent}/evaluations",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.get",
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": ""
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.conversationModels.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversationModels",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "undeploy": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}:undeploy",
              "id": "dialogflow.projects.conversationModels.undeploy",
              "httpMethod": "POST",
              "description": ""
            },
            "deploy": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2/{+name}:deploy",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.deploy"
            },
            "create": {
              "path": "v2/{+parent}/conversationModels",
              "id": "dialogflow.projects.conversationModels.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationModels.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}"
            },
            "get": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.conversationModels.get",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}"
            }
          }
        },
        "conversationDatasets": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/conversationDatasets",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversationDatasets.list",
              "path": "v2/{+parent}/conversationDatasets",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationDataset"
              },
              "id": "dialogflow.projects.conversationDatasets.get",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET"
            },
            "importConversationData": {
              "id": "dialogflow.projects.conversationDatasets.importConversationData",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v2/{+name}:importConversationData",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
              }
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/suggestions:generateStatelessSummary",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              }
            },
            "searchKnowledge": {
              "path": "v2/{+parent}/suggestions:searchKnowledge",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              },
              "httpMethod": "POST",
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              }
            }
          }
        },
        "agent": {
          "resources": {
            "entityTypes": {
              "resources": {
                "entities": {
                  "methods": {
                    "batchCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchCreate"
                    },
                    "batchUpdate": {
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "description": ""
                    },
                    "batchDelete": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "path": "v2/{+parent}/entities:batchDelete"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/entityTypes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "description": "",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "batchUpdate": {
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchDelete": {
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  },
                  "path": "v2/{+parent}/entityTypes",
                  "description": "",
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                }
              }
            },
            "sessions": {
              "methods": {
                "deleteContexts": {
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                    }
                  },
                  "path": "v2/{+parent}/contexts"
                },
                "detectIntent": {
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.sessions.detectIntent",
                  "parameterOrder": [
                    "session"
                  ],
                  "description": "",
                  "parameters": {
                    "session": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+session}:detectIntent",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "entityTypes": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                      }
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "description": "",
                      "path": "v2/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "patch": {
                      "description": "",
                      "path": "v2/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "contexts": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v2/{+parent}/contexts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "path": "v2/{+parent}/contexts",
                      "description": ""
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "description": "",
                      "httpMethod": "DELETE"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "description": "",
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.get"
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.patch",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.versions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/versions",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "httpMethod": "POST",
                  "description": ""
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.delete",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.agent.versions.get",
                  "description": ""
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/versions",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListVersionsResponse"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  }
                },
                "getHistory": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EnvironmentHistory"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/history",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "id": "dialogflow.projects.agent.environments.list",
                  "path": "v2/{+parent}/environments",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.create",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/environments",
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "parameters": {
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.agent.environments.delete",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "id": "dialogflow.projects.agent.environments.get",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "contexts": {
                          "methods": {
                            "get": {
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2/{+name}"
                            },
                            "create": {
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "path": "v2/{+parent}/contexts"
                            },
                            "delete": {
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2/{+name}",
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "patch": {
                              "path": "v2/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "PATCH",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "parameters": {
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}"
                            },
                            "list": {
                              "description": "",
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                },
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "path": "v2/{+parent}/contexts",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                              }
                            }
                          }
                        },
                        "entityTypes": {
                          "methods": {
                            "get": {
                              "path": "v2/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                }
                              }
                            },
                            "patch": {
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "httpMethod": "PATCH",
                              "path": "v2/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "list": {
                              "path": "v2/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "type": "integer"
                                }
                              },
                              "description": ""
                            },
                            "create": {
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "httpMethod": "POST",
                              "request": {
[...]
