{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "dialogflow:v3",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v3/{+name}",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}/locations",
              "id": "dialogflow.projects.locations.list",
              "description": "",
              "flatPath": "v3/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              }
            }
          },
          "resources": {
            "securitySettings": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "description": ""
                },
                "create": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "path": "v3/{+parent}/securitySettings",
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "httpMethod": "POST",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "path": "v3/{+parent}/securitySettings",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.list"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.locations.securitySettings.delete"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "description": ""
                }
              }
            },
            "agents": {
              "methods": {
                "getGenerativeSettings": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.getGenerativeSettings",
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "description": "",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "id": "dialogflow.projects.locations.agents.get",
                  "path": "v3/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "restore": {
                  "id": "dialogflow.projects.locations.agents.restore",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
                  },
                  "path": "v3/{+name}:restore",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST"
                },
                "getValidationResult": {
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$",
                      "location": "path"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult",
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "path": "v3/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "id": "dialogflow.projects.locations.agents.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  }
                },
                "updateGenerativeSettings": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "description": "",
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.agents.updateGenerativeSettings"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "path": "v3/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": ""
                },
                "export": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v3/{+name}:export",
                  "description": "",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export"
                },
                "create": {
                  "path": "v3/{+parent}/agents",
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListAgentsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v3/{+parent}/agents"
                },
                "validate": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.agents.validate",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}:validate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ValidateAgentRequest"
                  }
                }
              },
              "resources": {
                "sessions": {
                  "resources": {
                    "entityTypes": {
                      "methods": {
                        "list": {
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "path": "v3/{+parent}/entityTypes",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                          }
                        },
                        "create": {
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "path": "v3/{+parent}/entityTypes",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": ""
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.delete",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.get",
                          "path": "v3/{+name}",
                          "httpMethod": "GET",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "PATCH",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                          },
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.patch",
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "matchIntent": {
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+session}:matchIntent",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:matchIntent",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                      },
                      "parameters": {
                        "session": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.matchIntent",
                      "httpMethod": "POST"
                    },
                    "fulfillIntent": {
                      "path": "v3/{+session}:fulfillIntent",
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                      },
                      "parameters": {
                        "session": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.fulfillIntent",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:fulfillIntent",
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                      }
                    },
                    "submitAnswerFeedback": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+session}:submitAnswerFeedback",
                      "description": "",
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.submitAnswerFeedback",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:submitAnswerFeedback",
                      "parameterOrder": [
                        "session"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
                      }
                    },
                    "detectIntent": {
                      "path": "v3/{+session}:detectIntent",
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:detectIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.detectIntent",
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "serverStreamingDetectIntent": {
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3/{+session}:serverStreamingDetectIntent",
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.serverStreamingDetectIntent",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:serverStreamingDetectIntent"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/environments",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.create"
                    },
                    "lookupEnvironmentHistory": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "path": "v3/{+name}:lookupEnvironmentHistory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deployFlow": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DeployFlowRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "environment"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "parameters": {
                        "environment": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "path": "v3/{+environment}:deployFlow"
                    },
                    "get": {
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}"
                    },
                    "patch": {
                      "description": "",
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "path": "v3/{+parent}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.list"
                    },
                    "runContinuousTest": {
                      "parameters": {
                        "environment": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest",
                      "path": "v3/{+environment}:runContinuousTest",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunContinuousTestRequest"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "environment"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "experiments": {
                      "methods": {
                        "stop": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "description": "",
                          "path": "v3/{+name}:stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          }
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "httpMethod": "PATCH",
                          "path": "v3/{+name}",
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "path": "v3/{+parent}/experiments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": ""
                        },
                        "start": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "path": "v3/{+name}:start",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "",
                          "httpMethod": "DELETE"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "path": "v3/{+parent}/experiments"
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "path": "v3/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "description": ""
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "path": "v3/{+parent}/entityTypes"
                            },
                            "delete": {
                              "path": "v3/{+name}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "httpMethod": "DELETE",
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "patch": {
                              "parameters": {
                                "updateMask": {
                                  "type": "string",
                                  "location": "query",
                                  "format": "google-fieldmask"
                                },
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "path": "v3/{+name}",
                              "httpMethod": "PATCH",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            },
                            "get": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v3/{+name}",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "httpMethod": "GET"
                            },
                            "list": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                },
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "path": "v3/{+parent}/entityTypes"
                            }
                          }
                        }
                      },
                      "methods": {
                        "matchIntent": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "path": "v3/{+session}:matchIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "description": ""
                        },
                        "fulfillIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "path": "v3/{+session}:fulfillIntent",
                          "description": ""
                        },
                        "detectIntent": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:detectIntent",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "httpMethod": "POST"
                        },
                        "serverStreamingDetectIntent": {
                          "description": "",
                          "parameters": {
                            "session": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v3/{+session}:serverStreamingDetectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "parameterOrder": [
                            "session"
                          ]
                        }
                      }
                    },
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "path": "v3/{+parent}/continuousTestResults",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults"
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "list": {
                          "path": "v3/{+parent}/deployments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListDeploymentsResponse"
                          },
                          "httpMethod": "GET"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Deployment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "path": "v3/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "httpMethod": "GET",
                          "description": "",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "id": "dialogflow.projects.locations.agents.tools.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      }
                    },
                    "patch": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$"
                        }
                      },
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.patch",
                      "description": "",
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "id": "dialogflow.projects.locations.agents.tools.create",
                      "path": "v3/{+parent}/tools",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "path": "v3/{+parent}/tools",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListToolsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.delete",
                      "httpMethod": "DELETE"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "restore": {
                          "id": "dialogflow.projects.locations.agents.tools.versions.restore",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest"
                          },
                          "path": "v3/{+name}:restore",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}:restore",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST"
                        },
                        "list": {
                          "path": "v3/{+parent}/versions",
                          "httpMethod": "GET",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "description": "",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListToolVersionsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.tools.versions.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "httpMethod": "GET",
                          "description": "",
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.tools.versions.get",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "id": "dialogflow.projects.locations.agents.tools.versions.create",
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3/{+parent}/versions",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions"
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agents.tools.versions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "force": {
                              "type": "boolean",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v3/{+name}",
                          "description": "",
                          "httpMethod": "DELETE"
                        }
                      }
                    }
                  }
                },
                "generators": {
                  "methods": {
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.generators.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "location": "path"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "DELETE",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+parent}/generators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators"
                    },
                    "patch": {
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "httpMethod": "PATCH",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "path": "v3/{+name}",
                      "description": "",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.generators.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
[...]
