{
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dialogflow",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "revision": "20260616",
  "discoveryVersion": "v1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Dialogflow",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "basePath": "",
  "title": "Dialogflow API",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "alias": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "properties": {
        "mediaType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "fieldName": {
          "type": "string"
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "interpolationType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string"
        },
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfig",
      "properties": {
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        },
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2Agent": {
      "id": "GoogleCloudDialogflowV2Agent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "matchMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "type": "string",
          "deprecated": true
        },
        "description": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "apiVersion": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "type": "string"
        },
        "enableLogging": {
          "type": "boolean"
        },
        "tier": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        },
        "timeZone": {
          "type": "string"
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        },
        "parent": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "channel": {
          "type": "string"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListAnswerRecordsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListAnswerRecordsResponse",
      "properties": {
        "answerRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnswerRecord"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "properties": {
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest",
      "properties": {
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "properties": {
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeResponse",
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswer"
          },
          "type": "array"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "searchKnowledgeDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string"
        },
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolsetTool": {
      "id": "GoogleCloudDialogflowV2ToolsetTool",
      "properties": {
        "toolset": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        },
        "operationId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "properties": {
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2LoggingConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2LoggingConfig",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "importCount": {
          "type": "integer",
          "format": "int32"
        },
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListContextsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "languageCode": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "action": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "queryText": {
          "type": "string"
        },
        "webhookSource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail",
      "properties": {
        "metricDetails": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "readOnly": true,
          "type": "array"
        },
        "sectionTokens": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          },
          "readOnly": true,
          "type": "array"
        },
        "messageEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          },
          "readOnly": true
        },
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "text": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "triggerEvent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "properties": {
        "content": {
          "readOnly": true,
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "properties": {
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "text": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "triggerEvent": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListIntentsResponse": {
      "id": "GoogleCloudDialogflowV2ListIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryRequest": {
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "properties": {
        "validationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Intent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "id": "GoogleCloudDialogflowV2beta1Context",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest",
      "properties": {
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        },
        "latestMessage": {
          "type": "string"
        },
        "maxContextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "inputAudio": {
          "type": "string",
          "format": "byte"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput"
        },
        "outputAudioConfigMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "previousSuggestedQuery": {
          "type": "string"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings",
      "properties": {
        "synthesizeSpeechConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
          }
        },
        "enableTextToSpeech": {
          "type": "boolean"
        },
        "outputAudioEncoding": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "properties": {
        "model": {
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "channel": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "noMatch": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          },
          "type": "array"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "properties": {
        "documentProcessingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string"
        },
        "dataStoreType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        },
        "dataStore": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnswerRecord": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnswerRecord",
      "properties": {
        "name": {
          "type": "string"
        },
        "agentAssistantRecord": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentAssistantRecord"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2AnswerFeedback"
        }
      }
    },
    "GoogleCloudDialogflowV2Connection": {
      "id": "GoogleCloudDialogflowV2Connection",
      "properties": {
        "connectionId": {
          "readOnly": true,
          "type": "string"
        },
        "errorDetails": {
          "$ref": "GoogleCloudDialogflowV2ConnectionErrorDetails",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONNECTED",
            "DISCONNECTED",
            "AUTHENTICATION_FAILED",
            "KEEPALIVE"
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentSuggestion",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric",
      "properties": {
        "reasoning": {
          "readOnly": true,
          "type": "string"
        },
        "question": {
          "readOnly": true,
          "type": "string"
        },
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2ListDocumentsResponse",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Document"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "creationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "properties": {
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        },
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
          },
          "type": "array"
        },
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams",
      "properties": {
        "phrase": {
          "type": "string"
        },
        "pronunciation": {
          "type": "string"
        },
        "phoneticEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition",
      "properties": {
        "isAccurate": {
          "readOnly": true,
          "type": "boolean"
        },
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "accuracyReasoning": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "properties": {
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "disabled": {
          "type": "boolean"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "name": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "properties": {
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AssistQueryParameters": {
      "id": "GoogleCloudDialogflowV2AssistQueryParameters",
      "properties": {
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition",
      "properties": {
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest",
      "properties": {
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "suggestionFeatureConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary",
      "properties": {
        "baselineModelVersion": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig",
      "properties": {
        "recentSentencesCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DtmfParameters": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DtmfParameters",
      "properties": {
        "acceptsDtmfInput": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "sipUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2EnvironmentHistory": {
      "id": "GoogleCloudDialogflowV2EnvironmentHistory",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "readOnly": true,
          "type": "string"
        },
        "entries": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2EnvironmentHistoryEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListToolsResponse": {
      "id": "GoogleCloudDialogflowV2ListToolsResponse",
      "properties": {
        "tools": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource",
      "properties": {
        "agent": {
          "type": "string"
        },
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics": {
      "id": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics",
      "properties": {
        "n": {
          "type": "integer",
          "format": "int32"
        },
        "recall": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version",
      "properties": {
        "versionNumber": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfig",
      "properties": {
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "entityType": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection",
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "summary": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "properties": {
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest",
      "properties": {
        "entityTypeBatchInline": {
          "$ref": "GoogleCloudDialogflowV2EntityTypeBatch"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "entityTypeBatchUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportDocumentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportDocumentRequest",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        },
        "exportFullContent": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings",
      "properties": {
        "onlyEndUser": {
          "type": "boolean"
        },
        "noSmalltalk": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest",
      "properties": {
        "conversationModelEvaluation": {
          "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "properties": {
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ]
        },
        "conversationModel": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Context": {
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "currentPage": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback",
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "action": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
[...]
