{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "dialogflow:v3beta1",
  "batchPath": "batch",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "protocol": "rest",
  "name": "dialogflow",
  "canonicalName": "Dialogflow",
  "schemas": {
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "bigqueryTable": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariants": {
      "properties": {
        "variants": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariants"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "session": {
          "type": "string"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ValidationMessage",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ]
        },
        "resources": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResourceName"
          }
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "detail": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals",
      "type": "object",
      "properties": {
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace",
      "properties": {
        "webhookTag": {
          "type": "string"
        },
        "webhookUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InlineSource": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1InlineSource"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason": {
      "properties": {
        "feedback": {
          "type": "string"
        },
        "reasonLabels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest",
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entityTypesContentInline": {
          "type": "boolean"
        },
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest",
      "type": "object",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "persistParameterChanges": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig",
      "type": "object",
      "properties": {
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "uri": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RolloutConfig": {
      "properties": {
        "failureCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep"
          }
        },
        "rolloutCondition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RolloutConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "type": "object",
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestError"
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent": {
      "properties": {
        "intentId": {
          "type": "string"
        },
        "generativeFallback": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "type": "object",
      "properties": {
        "rbmSuggestion": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "conversationModelEvaluation": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse",
      "properties": {
        "intentCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverage"
        },
        "agent": {
          "type": "string"
        },
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverage"
        },
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "intent": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTransition": {
      "properties": {
        "playbook": {
          "type": "string"
        },
        "inputActionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "deprecated": true,
          "type": "object"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "object",
      "properties": {
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "type": "string"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion",
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "properties": {
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "properties": {
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Action": {
      "properties": {
        "agentUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentUtterance"
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInvocation"
        },
        "userUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3beta1UserUtterance"
        },
        "subExecutionSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Span"
          }
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Event"
        },
        "flowStateUpdate": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate",
          "readOnly": true
        },
        "flowInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowInvocation"
        },
        "status": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Status",
          "readOnly": true
        },
        "flowTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowTransition"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "intentMatch": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch"
        },
        "stt": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionSTT"
        },
        "playbookTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookTransition"
        },
        "toolUse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUse"
        },
        "tts": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionTTS"
        },
        "llmCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmCall",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Action",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "participant": {
          "type": "string"
        },
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "properties": {
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "answerRecord": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse",
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "type": "object",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount",
      "type": "object",
      "properties": {
        "textCount": {
          "format": "int32",
          "type": "integer"
        },
        "dtmfCount": {
          "format": "int32",
          "type": "integer"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        },
        "audioCount": {
          "format": "int32",
          "type": "integer"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings": {
      "type": "object",
      "properties": {
        "supportedResponseLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableMultiLanguageDetection": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
    },
    "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse",
      "properties": {
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FlowValidationResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FlowValidationResult",
      "properties": {
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validationMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ValidationMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      }
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest",
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals": {
      "properties": {
        "matchedBannedPhrase": {
          "type": "string"
        },
        "decision": {
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "bannedPhraseMatch": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Experiment": {
      "id": "GoogleCloudDialogflowCxV3beta1Experiment",
      "type": "object",
      "properties": {
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RolloutState"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResult"
        },
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RolloutConfig"
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ],
          "type": "string"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "variantsHistory": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1VariantsHistory"
          }
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentDefinition"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Tool": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Tool",
      "properties": {
        "extensionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool"
        },
        "name": {
          "type": "string"
        },
        "toolType": {
          "readOnly": true,
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool"
        },
        "description": {
          "type": "string"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorTool"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool"
        },
        "displayName": {
          "type": "string"
        },
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "properties": {
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "properties": {
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        },
        "conversation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "triggerEvent": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "properties": {
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1ToolFunctionTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool",
      "type": "object",
      "properties": {
        "inputSchema": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FilterSpecs": {
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FilterSpecs"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource",
      "properties": {
        "trackingBranch": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Deployment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "type": "object",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings",
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        },
        "branches": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repositoryUri": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Version": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Version"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedback",
      "properties": {
        "rating": {
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason"
        },
        "customRating": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "languageCode": {
          "type": "string"
        },
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "transcript": {
          "type": "string"
        },
        "stability": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1DetectIntentResponse": {
      "properties": {
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object",
      "properties": {
        "mediaType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "differences": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array",
          "readOnly": true
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics": {
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric"
          },
          "type": "array"
        },
        "sessionCount": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "targetVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolExtensionTool": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeploymentResult": {
      "type": "object",
      "properties": {
        "deploymentTestResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "experiment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "type": "object",
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "content": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "cesTool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "properties": {
        "audioTokens": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1UserUtterance"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "properties": {
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResult": {
      "properties": {
        "versionMetrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics"
          },
          "type": "array"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TraceBlock": {
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "flowTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata"
        },
        "endState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Action"
          }
        },
        "speechProcessingMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "playbookTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TraceBlock"
    },
    "GoogleCloudDialogflowCxV3beta1SessionEntityType": {
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "properties": {
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "properties": {
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "type": "object",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "targetPage": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Flow": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Flow",
      "properties": {
        "locked": {
          "type": "boolean"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
        },
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        },
        "outputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          },
          "type": "array"
        },
        "inputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "properties": {
        "horizontalAlignment": {
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "header": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "content": {
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "sendTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation",
          "readOnly": true
        },
        "participantRole": {
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        },
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "properties": {
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "webhookSource": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "queryText": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2QueryResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1ExportToolsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportToolsRequest",
      "properties": {
        "toolsContentInline": {
          "type": "boolean"
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB"
          ],
          "type": "string"
        },
        "toolsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "properties": {
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowImportStrategy": {
      "properties": {
        "globalImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings",
      "type": "object",
      "properties": {
        "privateKey": {
          "type": "string"
        },
        "passphrase": {
          "type": "string"
        },
        "sslCertificate": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1Deployment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Deployment",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "flowVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInvocation": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInvocation",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbook": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInput"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookOutput"
        },
        "playbookState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowRequest": {
      "type": "object",
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ToolUse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolUse",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
[...]
