{
  "name": "dialogflow",
  "canonicalName": "Dialogflow",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "revision": "20260808",
  "title": "Dialogflow API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "version_module": true,
  "id": "dialogflow:v3beta1",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v3beta1/{+name}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.list",
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v3beta1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "cancel": {
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v3beta1/{+name}:cancel"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "httpMethod": "GET",
              "path": "v3beta1/{+name}/locations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.locations.list",
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "path": "v3beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.locations.get",
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          },
          "resources": {
            "agents": {
              "methods": {
                "delete": {
                  "path": "v3beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.delete",
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "updateGenerativeSettings": {
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "path": "v3beta1/{+name}",
                  "id": "dialogflow.projects.locations.agents.updateGenerativeSettings",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "path": "v3beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "id": "dialogflow.projects.locations.agents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "httpMethod": "POST",
                  "path": "v3beta1/{+parent}/agents",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.agents.create"
                },
                "validate": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.validate",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v3beta1/{+name}:validate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.patch",
                  "path": "v3beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "restore": {
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3beta1/{+name}:restore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.restore"
                },
                "getValidationResult": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$"
                    }
                  },
                  "path": "v3beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  }
                },
                "getGenerativeSettings": {
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v3beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "id": "dialogflow.projects.locations.agents.getGenerativeSettings",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "export": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ExportAgentRequest"
                  },
                  "description": "",
                  "id": "dialogflow.projects.locations.agents.export",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v3beta1/{+name}:export"
                },
                "list": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.agents.list",
                  "path": "v3beta1/{+parent}/agents",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse"
                  },
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "tools": {
                  "methods": {
                    "delete": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.tools.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.get",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "export": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "path": "v3beta1/{+parent}/tools:export",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.export",
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportToolsRequest"
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "httpMethod": "POST",
                      "path": "v3beta1/{+parent}/tools",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.create",
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.list",
                      "path": "v3beta1/{+parent}/tools",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListToolsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "patch": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.tools.patch"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          },
                          "httpMethod": "GET",
                          "path": "v3beta1/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.get",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "delete": {
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            },
                            "force": {
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.tools.versions.delete",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "restore": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse"
                          },
                          "httpMethod": "POST",
                          "path": "v3beta1/{+name}:restore",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.restore",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}:restore",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest"
                          }
                        },
                        "list": {
                          "id": "dialogflow.projects.locations.agents.tools.versions.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "path": "v3beta1/{+parent}/versions",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": ""
                        },
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          },
                          "httpMethod": "POST",
                          "path": "v3beta1/{+parent}/versions",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.tools.versions.create",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          }
                        }
                      }
                    }
                  }
                },
                "transitionRouteGroups": {
                  "methods": {
                    "list": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.patch",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "httpMethod": "PATCH",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "description": ""
                    },
                    "create": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "httpMethod": "POST",
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "httpMethod": "GET",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "path": "v3beta1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "experiments": {
                      "methods": {
                        "get": {
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "start": {
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "path": "v3beta1/{+name}:start",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "path": "v3beta1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "stop": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StopExperimentRequest"
                          },
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "httpMethod": "POST",
                          "path": "v3beta1/{+name}:stop",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v3beta1/{+parent}/experiments",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "patch": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            }
                          },
                          "path": "v3beta1/{+name}",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": ""
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            }
                          },
                          "path": "v3beta1/{+parent}/experiments",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          }
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "list": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v3beta1/{+parent}/deployments",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          }
                        },
                        "get": {
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Deployment"
                          },
                          "httpMethod": "GET",
                          "path": "v3beta1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get"
                        }
                      }
                    },
                    "sessions": {
                      "methods": {
                        "matchIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "path": "v3beta1/{+session}:matchIntent",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                          }
                        },
                        "detectIntent": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "httpMethod": "POST",
                          "path": "v3beta1/{+session}:detectIntent",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          }
                        },
                        "serverStreamingDetectIntent": {
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "path": "v3beta1/{+session}:serverStreamingDetectIntent",
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": ""
                        },
                        "fulfillIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "path": "v3beta1/{+session}:fulfillIntent",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                          },
                          "httpMethod": "POST"
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "list": {
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "path": "v3beta1/{+parent}/entityTypes",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                              },
                              "httpMethod": "GET"
                            },
                            "patch": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                },
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                }
                              },
                              "path": "v3beta1/{+name}",
                              "httpMethod": "PATCH",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            },
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "path": "v3beta1/{+parent}/entityTypes",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "httpMethod": "POST"
                            },
                            "get": {
                              "description": "",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v3beta1/{+name}",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "delete": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "path": "v3beta1/{+name}",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            }
                          }
                        }
                      }
                    },
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "path": "v3beta1/{+parent}/continuousTestResults",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListContinuousTestResultsResponse"
                          },
                          "httpMethod": "GET"
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "httpMethod": "GET",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.get"
                    },
                    "delete": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "runContinuousTest": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunContinuousTestRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "environment": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3beta1/{+environment}:runContinuousTest",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest",
                      "parameterOrder": [
                        "environment"
                      ]
                    },
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v3beta1/{+parent}/environments",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse"
                      }
                    },
                    "patch": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "PATCH",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.patch"
                    },
                    "lookupEnvironmentHistory": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v3beta1/{+name}:lookupEnvironmentHistory",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "path": "v3beta1/{+parent}/environments",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST"
                    },
                    "deployFlow": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "environment": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v3beta1/{+environment}:deployFlow",
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "parameterOrder": [
                        "environment"
                      ]
                    }
                  }
                },
                "playbooks": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.playbooks.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v3beta1/{+parent}/playbooks",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.playbooks.import",
                      "path": "v3beta1/{+parent}/playbooks:import",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.playbooks.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "path": "v3beta1/{+name}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.playbooks.create",
                      "path": "v3beta1/{+parent}/playbooks",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "httpMethod": "POST"
                    },
                    "export": {
                      "id": "dialogflow.projects.locations.agents.playbooks.export",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "path": "v3beta1/{+name}:export",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest"
                      },
                      "description": ""
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.playbooks.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.playbooks.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "examples": {
                      "methods": {
                        "delete": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$"
                            }
                          },
                          "path": "v3beta1/{+name}"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.get",
                          "path": "v3beta1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": ""
                        },
                        "create": {
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
[...]
