{
  "revision": "20260825",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "canonicalName": "Dialogflow",
  "id": "dialogflow:v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://dialogflow.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "title": "Dialogflow API",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "kind": "discovery#restDescription",
  "version": "v2",
  "version_module": true,
  "servicePath": "",
  "schemas": {
    "GoogleCloudDialogflowV2beta1EntityType": {
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "properties": {
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2CompleteConversationRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "properties": {
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "thinkingLevel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse",
      "properties": {
        "summary": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "properties": {
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "properties": {
        "containEntities": {
          "type": "boolean"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "intent": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelRequest": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "properties": {
        "singleUtterance": {
          "type": "boolean"
        },
        "disableNoSpeechRecognizedEvent": {
          "type": "boolean"
        },
        "enableVoiceActivityEvents": {
          "type": "boolean"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speechContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          }
        },
        "enableAutomaticPunctuation": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "languageCode": {
          "type": "string"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "stability": {
          "format": "float",
          "type": "number"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "transcript": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "id": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "generatorEvaluations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2Message": {
      "id": "GoogleCloudDialogflowV2Message",
      "type": "object",
      "properties": {
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult",
          "readOnly": true
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "content": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListContextsResponse"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig",
      "type": "object",
      "properties": {
        "organizationId": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        },
        "buttonId": {
          "type": "string"
        },
        "endpointDomain": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "versionNumber": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ]
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2Version"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest": {
      "properties": {
        "entityValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mandatory": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig": {
      "properties": {
        "endTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "agentAssistInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig"
        },
        "isSummaryGenerationAllowed": {
          "type": "boolean",
          "deprecated": true
        },
        "datasetInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig"
        },
        "startTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sampleSize": {
          "format": "int32",
          "type": "integer"
        },
        "inputDataSourceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INPUT_DATA_SOURCE_TYPE_UNSPECIFIED",
            "AGENT_ASSIST_CONVERSATIONS",
            "INSIGHTS_CONVERSATIONS"
          ],
          "deprecated": true,
          "type": "string"
        },
        "summaryGenerationOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SUMMARY_GENERATION_OPTION_UNSPECIFIED",
            "ALWAYS_GENERATE",
            "GENERATE_IF_MISSING",
            "DO_NOT_GENERATE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "object",
      "properties": {
        "accuracyReasoning": {
          "type": "string",
          "readOnly": true
        },
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "isAccurate": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion",
      "properties": {
        "sampleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          }
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "properties": {
        "height": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ]
        },
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowV2OutputAudio": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2OutputAudio"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig",
      "properties": {
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "cesTool": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "properties": {
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataRequest": {
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric": {
      "properties": {
        "metric": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "type": "object",
      "properties": {
        "rbmSuggestion": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig",
      "properties": {
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        },
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "featureConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
          },
          "type": "array"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedback": {
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedback",
      "type": "object",
      "properties": {
        "documentCorrectness": {
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
        },
        "answerRelevance": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ]
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback"
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback"
        },
        "documentEfficiency": {
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "properties": {
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "properties": {
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "type": "object",
      "properties": {
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "type": "object",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ]
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "justCollected": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string"
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowV2EvaluationStatus": {
      "id": "GoogleCloudDialogflowV2EvaluationStatus",
      "type": "object",
      "properties": {
        "pipelineStatus": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingContext",
      "properties": {
        "version": {
          "type": "string"
        },
        "outputLanguageCode": {
          "type": "string"
        },
        "instructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          },
          "type": "array"
        },
        "overarchingGuidance": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "source": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult": {
      "type": "object",
      "properties": {
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "adherenceRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
        },
        "completenessRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "properties": {
        "action": {
          "type": "string"
        },
        "followupIntentInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookState": {
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "endInteraction": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
    },
    "GoogleCloudDialogflowV2Context": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowV2ToolsetTool": {
      "id": "GoogleCloudDialogflowV2ToolsetTool",
      "type": "object",
      "properties": {
        "toolset": {
          "type": "string"
        },
        "confirmationRequirement": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        },
        "operationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2ListIntentsResponse": {
      "id": "GoogleCloudDialogflowV2ListIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestContextReferencesRequest": {
      "type": "object",
      "properties": {
        "contextReferences": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2IngestContextReferencesRequest"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest",
      "properties": {
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "latestMessage": {
          "type": "string"
        },
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        },
        "maxContextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest",
      "properties": {
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "knowledgeTypes": {
          "items": {
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "mimeType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "properties": {
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationProfilesResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationProfilesResponse",
      "properties": {
        "conversationProfiles": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo",
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "properties": {
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array"
        },
        "differences": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          },
          "type": "array",
          "readOnly": true
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
    },
    "GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowV2SynthesizeSpeechConfig",
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "format": "double",
          "type": "number"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pronunciations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CustomPronunciationParams"
          }
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "speakingRate": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "properties": {
        "intentBatchInline": {
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        },
        "intentView": {
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "intentBatchUri": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "properties": {
        "conversationModels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModel"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationModelsResponse"
    },
    "GoogleCloudDialogflowV2SearchAgentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentsRequest",
      "properties": {
        "documentTemplate": {
          "$ref": "GoogleCloudDialogflowV2ImportDocumentTemplate"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2GcsSources"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2Tool": {
      "type": "object",
      "properties": {
        "extensionSpec": {
          "deprecated": true,
          "$ref": "GoogleCloudDialogflowV2ToolExtensionTool"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolOpenApiTool"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolConnectorTool"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "toolKey": {
          "type": "string"
        },
        "actionConfirmationRequirement": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
              "REQUIRED",
              "NOT_REQUIRED"
            ]
          }
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolFunctionTool"
        }
      },
      "id": "GoogleCloudDialogflowV2Tool"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "type": "object",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "uri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryParameters": {
      "id": "GoogleCloudDialogflowV2QueryParameters",
      "type": "object",
      "properties": {
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "platform": {
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "timeZone": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnalyzeContentResponse": {
      "id": "GoogleCloudDialogflowV2AnalyzeContentResponse",
      "properties": {
        "automatedAgentReply": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentReply"
        },
        "replyText": {
          "type": "string"
        },
        "replyAudio": {
          "$ref": "GoogleCloudDialogflowV2OutputAudio"
        },
        "humanAgentSuggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        },
        "dtmfParameters": {
          "$ref": "GoogleCloudDialogflowV2DtmfParameters"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "endUserSuggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowV2ConversationModelEvaluation": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "smartReplyMetrics": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyMetrics",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "rawHumanEvalTemplateCsv": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationModelEvaluation"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "model": {
          "type": "string"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "singleUtterance": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "type": "object",
      "properties": {
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "channel": {
          "type": "string"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ]
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "type": "object",
      "properties": {
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        },
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "properties": {
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "type": "object",
      "properties": {
        "inputAudio": {
          "format": "byte",
          "type": "string"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput"
        },
        "outputAudioConfigMask": {
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig",
      "properties": {
        "recentSentencesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "entityType": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "channel": {
          "type": "string"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationContext": {
      "id": "GoogleCloudDialogflowV2ConversationContext",
      "properties": {
        "messageEntries": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion"
    },
    "GoogleCloudDialogflowV2Participant": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Participant",
      "properties": {
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "agentDesktopSource": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ]
        },
        "sipRecordingMediaLabel": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentBatch"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FewShotExample": {
      "properties": {
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2SummarizationSectionList"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        },
        "extraInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FewShotExample"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "conversationModelEvaluation": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "transcript": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "languageCode": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig",
      "type": "object",
      "properties": {
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        },
        "allowlistDocument": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "properties": {
        "faqQuestion": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "properties": {
        "conflictingResources": {
[...]
