{
  "version": "v2beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "servicePath": "",
  "id": "dialogflow:v2beta1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "answerRecords": {
          "methods": {
            "get": {
              "path": "v2beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "id": "dialogflow.projects.answerRecords.get",
              "description": ""
            },
            "list": {
              "description": "",
              "id": "dialogflow.projects.answerRecords.list",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/answerRecords",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.answerRecords.patch",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}"
            }
          }
        },
        "conversations": {
          "methods": {
            "create": {
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "id": "dialogflow.projects.conversations.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "conversationId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/conversations"
            },
            "list": {
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "id": "dialogflow.projects.conversations.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/conversations"
            },
            "get": {
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "id": "dialogflow.projects.conversations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}"
            },
            "complete": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}:complete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.conversations.complete",
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete"
            }
          },
          "resources": {
            "participants": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/participants",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "id": "dialogflow.projects.conversations.participants.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/participants",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "id": "dialogflow.projects.conversations.participants.list",
                  "description": ""
                },
                "analyzeContent": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+participant}:analyzeContent",
                  "parameterOrder": [
                    "participant"
                  ],
                  "parameters": {
                    "participant": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  }
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "description": ""
                },
                "patch": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestFaqAnswers": {
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "deprecated": true,
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/suggestions",
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "id": "dialogflow.projects.conversations.participants.suggestions.list"
                    },
                    "suggestSmartReplies": {
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies"
                    },
                    "suggestKnowledgeAssist": {
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "description": "",
                      "path": "v2beta1/{+parent}/suggestions:suggestKnowledgeAssist",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "suggestArticles": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles"
                    },
                    "compile": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile",
                      "description": "",
                      "path": "v2beta1/{+parent}/suggestions:compile",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "deprecated": true,
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+parent}/messages",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.conversations.messages.list",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "description": ""
                },
                "batchCreate": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/messages:batchCreate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate"
                }
              }
            },
            "suggestions": {
              "methods": {
                "searchKnowledge": {
                  "parameterOrder": [
                    "conversation"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+conversation}/suggestions:searchKnowledge",
                  "description": "",
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge"
                },
                "generate": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+conversation}/suggestions:generate",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "parameters": {
                    "conversation": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "description": ""
                },
                "suggestConversationSummary": {
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "description": "",
                  "path": "v2beta1/{+conversation}/suggestions:suggestConversationSummary",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "conversation"
                  ]
                }
              }
            }
          }
        },
        "generators": {
          "methods": {
            "create": {
              "path": "v2beta1/{+parent}/generators",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "parameters": {
                "generatorId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.generators.create",
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "description": ""
            },
            "list": {
              "description": "",
              "id": "dialogflow.projects.generators.list",
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/generators"
            }
          }
        },
        "locations": {
          "methods": {
            "getAgent": {
              "description": "",
              "id": "dialogflow.projects.locations.getAgent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent"
            },
            "get": {
              "path": "v2beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.locations.get",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}",
              "description": ""
            },
            "setAgent": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent",
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "id": "dialogflow.projects.locations.setAgent"
            },
            "deleteAgent": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.locations.deleteAgent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "description": ""
            },
            "getEncryptionSpec": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "id": "dialogflow.projects.locations.getEncryptionSpec"
            },
            "list": {
              "id": "dialogflow.projects.locations.list",
              "flatPath": "v2beta1/projects/{projectsId}/locations",
              "description": "",
              "path": "v2beta1/{+name}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "answerRecords": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}"
                },
                "get": {
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "id": "dialogflow.projects.locations.answerRecords.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "deprecated": true,
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/answerRecords",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/answerRecords",
                  "id": "dialogflow.projects.locations.answerRecords.list"
                }
              }
            },
            "generators": {
              "methods": {
                "patch": {
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "id": "dialogflow.projects.locations.generators.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "generatorId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/generators",
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.create",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators"
                },
                "list": {
                  "id": "dialogflow.projects.locations.generators.list",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/generators",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "id": "dialogflow.projects.locations.generators.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}"
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "delete": {
                      "path": "v2beta1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "description": ""
                    },
                    "create": {
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/evaluations"
                    },
                    "get": {
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}"
                    },
                    "list": {
                      "path": "v2beta1/{+parent}/evaluations",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "description": ""
                    }
                  }
                }
              }
            },
            "sipTrunks": {
              "methods": {
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "id": "dialogflow.projects.locations.sipTrunks.get",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  }
                },
                "patch": {
                  "description": "",
                  "id": "dialogflow.projects.locations.sipTrunks.patch",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "id": "dialogflow.projects.locations.sipTrunks.delete",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "description": "",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/sipTrunks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "id": "dialogflow.projects.locations.sipTrunks.create",
                  "description": ""
                },
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "id": "dialogflow.projects.locations.sipTrunks.list",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/sipTrunks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListSipTrunksResponse"
                  }
                }
              }
            },
            "conversations": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "conversationId": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/conversations",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.conversations.create",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations"
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversations.list",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations",
                  "description": "",
                  "path": "v2beta1/{+parent}/conversations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "ingestContextReferences": {
                  "path": "v2beta1/{+conversation}:ingestContextReferences",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1IngestContextReferencesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1IngestContextReferencesResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "conversation"
                  ],
                  "id": "dialogflow.projects.locations.conversations.ingestContextReferences",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:ingestContextReferences",
                  "description": ""
                },
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "id": "dialogflow.projects.locations.conversations.get",
                  "description": "",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  }
                },
                "complete": {
                  "path": "v2beta1/{+name}:complete",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Conversation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "description": ""
                }
              },
              "resources": {
                "participants": {
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestSmartReplies": {
                          "description": "",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "suggestKnowledgeAssist": {
                          "path": "v2beta1/{+parent}/suggestions:suggestKnowledgeAssist",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestKnowledgeAssist",
                          "description": ""
                        },
                        "suggestArticles": {
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "description": "",
                          "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "suggestFaqAnswers": {
                          "description": "",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers"
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/participants"
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "description": "",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/participants",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "analyzeContent": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+participant}:analyzeContent",
                      "parameterOrder": [
                        "participant"
                      ],
                      "parameters": {
                        "participant": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "description": ""
                    },
                    "patch": {
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}"
                    },
                    "get": {
                      "description": "",
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Participant"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "batchCreate": {
                      "id": "dialogflow.projects.locations.conversations.messages.batchCreate",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages:batchCreate",
                      "description": "",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/messages:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "description": "",
                      "path": "v2beta1/{+parent}/messages",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "suggestions": {
                  "methods": {
                    "suggestConversationSummary": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+conversation}/suggestions:suggestConversationSummary",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse"
                      },
                      "parameters": {
                        "conversation": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.suggestConversationSummary",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                      "description": ""
                    },
                    "generate": {
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
                      },
                      "parameterOrder": [
                        "conversation"
                      ],
                      "path": "v2beta1/{+conversation}/suggestions:generate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:generate",
                      "id": "dialogflow.projects.locations.conversations.suggestions.generate"
                    },
                    "searchKnowledge": {
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                      "id": "dialogflow.projects.locations.conversations.suggestions.searchKnowledge",
                      "description": "",
                      "path": "v2beta1/{+conversation}/suggestions:searchKnowledge",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "conversation": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                      },
                      "parameterOrder": [
                        "conversation"
                      ]
                    }
                  }
                }
              }
            },
            "statelessSuggestion": {
              "methods": {
                "generate": {
                  "path": "v2beta1/{+parent}/statelessSuggestion:generate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.statelessSuggestion.generate",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/statelessSuggestion:generate",
                  "description": ""
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "id": "dialogflow.projects.locations.encryptionSpec.initialize",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}:initialize"
                }
              }
            },
            "agent": {
              "methods": {
                "search": {
                  "description": "",
                  "id": "dialogflow.projects.locations.agent.search",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/agent:search"
                },
                "export": {
                  "id": "dialogflow.projects.locations.agent.export",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:export",
                  "description": "",
                  "path": "v2beta1/{+parent}/agent:export",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restore": {
                  "description": "",
                  "id": "dialogflow.projects.locations.agent.restore",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:restore",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "train": {
                  "description": "",
                  "id": "dialogflow.projects.locations.agent.train",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:train",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
                  },
                  "response": {
[...]
