{
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Dialogflow",
  "id": "dialogflow:v2",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "id": "dialogflow.projects.getAgent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "flatPath": "v2/projects/{projectsId}/agent",
          "path": "v2/{+parent}/agent",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "description": ""
        },
        "setAgent": {
          "id": "dialogflow.projects.setAgent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "httpMethod": "POST",
          "path": "v2/{+parent}/agent",
          "description": "",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        },
        "deleteAgent": {
          "httpMethod": "DELETE",
          "path": "v2/{+parent}/agent",
          "description": "",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dialogflow.projects.deleteAgent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2/projects/{projectsId}/agent"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getAgent": {
              "httpMethod": "GET",
              "path": "v2/{+parent}/agent",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.locations.getAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent"
            },
            "get": {
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "setAgent": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "request": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "id": "dialogflow.projects.locations.setAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "",
              "path": "v2/{+parent}/agent",
              "httpMethod": "POST"
            },
            "deleteAgent": {
              "httpMethod": "DELETE",
              "path": "v2/{+parent}/agent",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "dialogflow.projects.locations.deleteAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent"
            },
            "getEncryptionSpec": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "id": "dialogflow.projects.locations.getEncryptionSpec",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}"
            },
            "list": {
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}/locations",
              "flatPath": "v2/projects/{projectsId}/locations",
              "id": "dialogflow.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "tools": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListToolsResponse"
                  },
                  "id": "dialogflow.projects.locations.tools.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/tools"
                },
                "delete": {
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.tools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools",
                  "id": "dialogflow.projects.locations.tools.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "toolId": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/tools"
                },
                "patch": {
                  "id": "dialogflow.projects.locations.tools.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "id": "dialogflow.projects.locations.tools.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "dialogflow.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": ""
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.knowledgeBases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/knowledgeBases",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/knowledgeBases",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "id": "dialogflow.projects.locations.knowledgeBases.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}"
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "patch": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v2/{+name}",
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "export": {
                      "httpMethod": "POST",
                      "path": "v2/{+name}:export",
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ExportDocumentRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:export"
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "path": "v2/{+parent}/documents",
                      "httpMethod": "POST"
                    },
                    "reload": {
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.reload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "httpMethod": "POST",
                      "path": "v2/{+name}:reload",
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/documents"
                    },
                    "import": {
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/documents:import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "answerRecords": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.locations.answerRecords.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/answerRecords",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "patch": {
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "conversationProfiles": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "id": "dialogflow.projects.locations.conversationProfiles.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/conversationProfiles"
                },
                "list": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationProfiles",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "id": "dialogflow.projects.locations.conversationProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversationProfiles.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}"
                },
                "setSuggestionFeatureConfig": {
                  "parameters": {
                    "conversationProfile": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
                  },
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.setSuggestionFeatureConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "id": "dialogflow.projects.locations.conversationProfiles.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "clearSuggestionFeatureConfig": {
                  "parameters": {
                    "conversationProfile": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
                  },
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.clearSuggestionFeatureConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  }
                }
              }
            },
            "conversationDatasets": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.locations.conversationDatasets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationDatasets",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.conversationDatasets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}"
                },
                "create": {
                  "path": "v2/{+parent}/conversationDatasets",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationDatasets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  }
                },
                "importConversationData": {
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:importConversationData",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
                  "id": "dialogflow.projects.locations.conversationDatasets.importConversationData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}",
                  "id": "dialogflow.projects.locations.conversationDatasets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                }
              }
            },
            "statelessSuggestion": {
              "methods": {
                "generate": {
                  "id": "dialogflow.projects.locations.statelessSuggestion.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/statelessSuggestion:generate",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/statelessSuggestion:generate",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "generators": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.generators.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.generators.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "id": "dialogflow.projects.locations.generators.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/generators"
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.generators.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "id": "dialogflow.projects.locations.generators.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/generators",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "generatorId": {
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "create": {
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/evaluations",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}"
                    },
                    "list": {
                      "path": "v2/{+parent}/evaluations",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations"
                    },
                    "delete": {
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.encryptionSpec.initialize",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "httpMethod": "POST",
                  "path": "v2/{+name}:initialize",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "suggestions": {
              "methods": {
                "generateStatelessSummary": {
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/suggestions:generateStatelessSummary",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
                  },
                  "id": "dialogflow.projects.locations.suggestions.generateStatelessSummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/suggestions:generateStatelessSummary"
                },
                "searchKnowledge": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/suggestions:searchKnowledge",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/suggestions:searchKnowledge",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                  },
                  "id": "dialogflow.projects.locations.suggestions.searchKnowledge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "conversationModels": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "id": "dialogflow.projects.locations.conversationModels.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}"
                },
                "deploy": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:deploy",
                  "id": "dialogflow.projects.locations.conversationModels.deploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:deploy"
                },
                "create": {
                  "path": "v2/{+parent}/conversationModels",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  }
                },
                "undeploy": {
                  "id": "dialogflow.projects.locations.conversationModels.undeploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:undeploy",
                  "httpMethod": "POST",
                  "path": "v2/{+name}:undeploy",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/conversationModels",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": ""
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "create": {
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/evaluations",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                      }
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                      },
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/evaluations"
                    }
                  }
                }
              }
            },
            "conversations": {
              "methods": {
                "ingestContextReferences": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:ingestContextReferences",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesResponse"
                  },
                  "id": "dialogflow.projects.locations.conversations.ingestContextReferences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "conversation"
                  ],
                  "description": "",
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+conversation}:ingestContextReferences"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "id": "dialogflow.projects.locations.conversations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                },
                "create": {
                  "parameters": {
                    "conversationId": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/conversations",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversations.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  }
                },
                "list": {
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversations",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "id": "dialogflow.projects.locations.conversations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "complete": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:complete"
                }
              },
              "resources": {
                "participants": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "description": ""
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/participants"
                    },
                    "analyzeContent": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                      },
                      "parameterOrder": [
                        "participant"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                      },
                      "parameters": {
                        "participant": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v2/{+participant}:analyzeContent",
                      "httpMethod": "POST"
                    },
                    "create": {
                      "path": "v2/{+parent}/participants",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      }
                    }
                  },
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestKnowledgeAssist": {
                          "description": "",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestKnowledgeAssist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "suggestArticles": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "",
                          "path": "v2/{+parent}/suggestions:suggestArticles",
                          "httpMethod": "POST",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "scopes": [
[...]
