{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "dialogflow",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "revision": "20260815",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "version": "v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "resources": {
    "projects": {
      "resources": {
        "conversationProfiles": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationProfiles.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversationProfiles.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "path": "v2/{+parent}/conversationProfiles"
            },
            "setSuggestionFeatureConfig": {
              "parameterOrder": [
                "conversationProfile"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
              "httpMethod": "POST"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "",
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "id": "dialogflow.projects.conversationProfiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "clearSuggestionFeatureConfig": {
              "parameterOrder": [
                "conversationProfile"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "parameters": {
                "conversationProfile": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "path": "v2/{+parent}/conversationProfiles",
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversationProfiles.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": ""
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationProfiles.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "httpMethod": "DELETE"
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "id": "dialogflow.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "path": "v2/{+name}/operations",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/operations",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": ""
            },
            "cancel": {
              "id": "dialogflow.projects.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "path": "v2/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/suggestions:generateStatelessSummary",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": ""
            },
            "searchKnowledge": {
              "httpMethod": "POST",
              "path": "v2/{+parent}/suggestions:searchKnowledge",
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              }
            }
          }
        },
        "conversations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "id": "dialogflow.projects.conversations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "path": "v2/{+parent}/conversations",
              "id": "dialogflow.projects.conversations.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/conversations",
              "parameters": {
                "conversationId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v2/{+parent}/conversations",
              "id": "dialogflow.projects.conversations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversations",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "complete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}:complete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "id": "dialogflow.projects.conversations.complete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "path": "v2/{+name}:complete"
            }
          },
          "resources": {
            "suggestions": {
              "methods": {
                "generate": {
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+conversation}/suggestions:generate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "conversation"
                  ]
                },
                "suggestConversationSummary": {
                  "httpMethod": "POST",
                  "path": "v2/{+conversation}/suggestions:suggestConversationSummary",
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "conversation"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "parameters": {
                    "conversation": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                  }
                },
                "searchKnowledge": {
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+conversation}/suggestions:searchKnowledge",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": ""
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.conversations.messages.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/messages",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "participants": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "id": "dialogflow.projects.conversations.participants.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/participants",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "id": "dialogflow.projects.conversations.participants.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/participants",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": ""
                },
                "analyzeContent": {
                  "parameterOrder": [
                    "participant"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "parameters": {
                    "participant": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+participant}:analyzeContent",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestSmartReplies": {
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                      }
                    },
                    "suggestKnowledgeAssist": {
                      "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": ""
                    },
                    "suggestArticles": {
                      "path": "v2/{+parent}/suggestions:suggestArticles",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "suggestFaqAnswers": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "setAgent": {
              "id": "dialogflow.projects.locations.setAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/agent",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": ""
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                }
              },
              "description": "",
              "id": "dialogflow.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}/locations",
              "httpMethod": "GET"
            },
            "getAgent": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "id": "dialogflow.projects.locations.getAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/agent"
            },
            "deleteAgent": {
              "id": "dialogflow.projects.locations.deleteAgent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "path": "v2/{+parent}/agent",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "id": "dialogflow.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": ""
            },
            "getEncryptionSpec": {
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "id": "dialogflow.projects.locations.getEncryptionSpec",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
              }
            }
          },
          "resources": {
            "conversations": {
              "methods": {
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                },
                "create": {
                  "path": "v2/{+parent}/conversations",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversations.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "conversationId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "ingestContextReferences": {
                  "parameterOrder": [
                    "conversation"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:ingestContextReferences",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesResponse"
                  },
                  "id": "dialogflow.projects.locations.conversations.ingestContextReferences",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+conversation}:ingestContextReferences"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversations",
                  "id": "dialogflow.projects.locations.conversations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "complete": {
                  "id": "dialogflow.projects.locations.conversations.complete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+name}:complete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "generate": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:generate",
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "path": "v2/{+conversation}/suggestions:generate",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.conversations.suggestions.generate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "suggestConversationSummary": {
                      "parameterOrder": [
                        "conversation"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.suggestConversationSummary",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "path": "v2/{+conversation}/suggestions:suggestConversationSummary"
                    },
                    "searchKnowledge": {
                      "path": "v2/{+conversation}/suggestions:searchKnowledge",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.conversations.suggestions.searchKnowledge",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                      "parameters": {
                        "conversation": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "conversation"
                      ]
                    }
                  }
                },
                "participants": {
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestFaqAnswers": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                          "httpMethod": "POST"
                        },
                        "suggestArticles": {
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/suggestions:suggestArticles",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "suggestSmartReplies": {
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "suggestKnowledgeAssist": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestKnowledgeAssist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "path": "v2/{+parent}/participants",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": ""
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/participants"
                    },
                    "analyzeContent": {
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "path": "v2/{+participant}:analyzeContent",
                      "parameterOrder": [
                        "participant"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "parameters": {
                        "participant": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                      },
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/messages"
                    }
                  }
                }
              }
            },
            "conversationDatasets": {
              "methods": {
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.conversationDatasets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationDatasets",
                  "id": "dialogflow.projects.locations.conversationDatasets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "id": "dialogflow.projects.locations.conversationDatasets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  }
                },
                "importConversationData": {
                  "path": "v2/{+name}:importConversationData",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationDatasets.importConversationData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/conversationDatasets",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationDatasets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "agent": {
              "methods": {
                "train": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent:train",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/agent:train",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.agent.train",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "updateFulfillment": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Fulfillment"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Fulfillment"
                  },
                  "id": "dialogflow.projects.locations.agent.updateFulfillment",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}"
                },
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchAgentsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent:search",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/agent:search",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.agent.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "getValidationResult": {
                  "id": "dialogflow.projects.locations.agent.getValidationResult",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/agent/validationResult",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ValidationResult"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/validationResult",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": ""
                },
                "import": {
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/agent:import",
                  "id": "dialogflow.projects.locations.agent.import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent:import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "restore": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent:restore",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/agent:restore",
                  "id": "dialogflow.projects.locations.agent.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "export": {
                  "id": "dialogflow.projects.locations.agent.export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/agent:export",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent:export",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ExportAgentRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "getFulfillment": {
                  "id": "dialogflow.projects.locations.agent.getFulfillment",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Fulfillment"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": ""
                }
              },
              "resources": {
                "entityTypes": {
                  "resources": {
                    "entities": {
                      "methods": {
                        "batchDelete": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchDelete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2/{+parent}/entities:batchDelete",
                          "httpMethod": "POST"
                        },
                        "batchCreate": {
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/entities:batchCreate",
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchCreate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "required": true
                            }
                          },
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "batchUpdate": {
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/entities:batchUpdate",
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchUpdate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "patch": {
                      "id": "dialogflow.projects.locations.agent.entityTypes.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "batchUpdate": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchUpdate",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes:batchUpdate",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                      },
                      "id": "dialogflow.projects.locations.agent.entityTypes.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/entityTypes"
                    },
                    "batchDelete": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchDelete",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes:batchDelete",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agent.entityTypes.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agent.entityTypes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "parameters": {
                        "name": {
[...]
