{
  "version_module": true,
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Dialogflow API",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "id": "dialogflow:v2",
  "revision": "20260825",
  "schemas": {
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail",
      "properties": {
        "sectionTokens": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          },
          "type": "array"
        },
        "summarySections": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        },
        "metricDetails": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "type": "array",
          "readOnly": true
        },
        "messageEntries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowV2ListEnvironmentsResponse": {
      "type": "object",
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowV2DialogflowAssistAnswer": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "answerRecord": {
          "type": "string"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2DialogflowAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "properties": {
        "buttonId": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        },
        "endpointDomain": {
          "type": "string"
        },
        "organizationId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedback": {
      "properties": {
        "documentCorrectness": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ]
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback"
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback"
        },
        "documentEfficiency": {
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "answerRelevance": {
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3TurnSignals",
      "type": "object",
      "properties": {
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantRecord": {
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "articleSuggestionAnswer": {
          "$ref": "GoogleCloudDialogflowV2ArticleAnswer",
          "readOnly": true
        },
        "dialogflowAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2DialogflowAssistAnswer",
          "readOnly": true
        },
        "faqAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2FaqAnswer"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantRecord"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "type": "object",
      "properties": {
        "enableTextToSpeech": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "outputAudioEncoding": {
          "type": "string",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings"
    },
    "GoogleCloudDialogflowV2ListEntityTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2TrainAgentRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowV2TrainAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationContextReference": {
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "updateMode": {
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "contextContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationContextReference",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "properties": {
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse"
    },
    "GoogleCloudDialogflowV2IngestContextReferencesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestContextReferencesResponse",
      "properties": {
        "ingestedContextReferences": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "properties": {
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mandatory": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "properties": {
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowV2SuggestionInput": {
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CANCEL",
            "REVISE",
            "CONFIRM"
          ]
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionInput"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "notes": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "transcript": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "messageType": {
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "languageCode": {
          "type": "string"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationGeneratorContext": {
      "properties": {
        "generatorType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationGeneratorContext",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechToTextConfig": {
      "type": "object",
      "properties": {
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "speechModelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SpeechToTextConfig"
    },
    "GoogleCloudDialogflowV2DtmfParameters": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DtmfParameters",
      "properties": {
        "acceptsDtmfInput": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig": {
      "properties": {
        "modelId": {
          "type": "string"
        },
        "prefixPaddingMs": {
          "type": "integer",
          "format": "int32"
        },
        "startOfSpeechSensitivity": {
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "endOfSpeechSensitivity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ],
          "type": "string"
        },
        "silenceDurationMs": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig",
      "properties": {
        "allowlistDocument": {
          "type": "string"
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition",
      "properties": {
        "accuracyReasoning": {
          "type": "string",
          "readOnly": true
        },
        "isAccurate": {
          "readOnly": true,
          "type": "boolean"
        },
        "point": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "properties": {
        "flowContent": {
          "format": "byte",
          "type": "string"
        },
        "flowUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse"
    },
    "GoogleCloudDialogflowV2BatchDeleteIntentsRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "triggerIntent": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "text": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest"
    },
    "GoogleCloudDialogflowV2ToolConnectorTool": {
      "id": "GoogleCloudDialogflowV2ToolConnectorTool",
      "properties": {
        "name": {
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolConnectorToolAction"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "finishDigit": {
          "type": "string"
        },
        "endpointingTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig": {
      "properties": {
        "secretVersionForToken": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionDedupingConfig": {
      "id": "GoogleCloudDialogflowV2SuggestionDedupingConfig",
      "properties": {
        "similarityThreshold": {
          "format": "float",
          "type": "number"
        },
        "enableDeduping": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryParameters": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "platform": {
          "type": "string"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "timeZone": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2QueryParameters",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService",
      "properties": {
        "uri": {
          "type": "string"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "requestBody": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "webhookType": {
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string"
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition": {
      "deprecated": true,
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition",
      "properties": {
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "properties": {
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "type": "object",
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestion"
    },
    "GoogleCloudDialogflowV2DocumentReloadStatus": {
      "properties": {
        "time": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DocumentReloadStatus"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "alias": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse": {
      "type": "object",
      "properties": {
        "conversationModelEvaluations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
    },
    "GoogleCloudDialogflowV2AutomatedAgentReply": {
      "properties": {
        "automatedAgentReplyType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2AutomatedAgentReply",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback",
      "properties": {
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "summaryText": {
          "type": "string"
        },
        "submitTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeBase"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig": {
      "properties": {
        "datasetInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "agentAssistInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig"
        },
        "endTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "summaryGenerationOption": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUMMARY_GENERATION_OPTION_UNSPECIFIED",
            "ALWAYS_GENERATE",
            "GENERATE_IF_MISSING",
            "DO_NOT_GENERATE"
          ]
        },
        "isSummaryGenerationAllowed": {
          "deprecated": true,
          "type": "boolean"
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32"
        },
        "inputDataSourceType": {
          "enum": [
            "INPUT_DATA_SOURCE_TYPE_UNSPECIFIED",
            "AGENT_ASSIST_CONVERSATIONS",
            "INSIGHTS_CONVERSATIONS"
          ],
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "properties": {
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "similarityToLastQueryThreshold": {
          "format": "float",
          "type": "number"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationProfile": {
      "properties": {
        "loggingConfig": {
          "$ref": "GoogleCloudDialogflowV2LoggingConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "automatedAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentConfig"
        },
        "humanAgentAssistantConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfig"
        },
        "languageCode": {
          "type": "string"
        },
        "newRecognitionResultNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "name": {
          "type": "string"
        },
        "ttsConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "timeZone": {
          "type": "string"
        },
        "humanAgentHandoffConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfig"
        },
        "sttConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "newMessageEventNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sipConfig": {
          "$ref": "GoogleCloudDialogflowV2SipConfig"
        },
        "securitySettings": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationProfile"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolsetTool": {
      "id": "GoogleCloudDialogflowV2ToolsetTool",
      "properties": {
        "toolset": {
          "type": "string"
        },
        "operationId": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "properties": {
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRoute"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "sipUri": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationDataset": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationDataset",
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "conversationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationInfo"
        },
        "description": {
          "type": "string"
        },
        "inputConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "conversationCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationDatasetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "conversationDatasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationDataset"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationSectionList": {
      "id": "GoogleCloudDialogflowV2SummarizationSectionList",
      "properties": {
        "summarizationSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "properties": {
        "notes": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCase"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeResponse": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeResponse",
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswer"
          },
          "type": "array"
        },
        "searchKnowledgeDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
        },
        "rewrittenQuery": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationInfo": {
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "maxContextSize": {
          "type": "integer",
          "format": "int32"
        },
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object",
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2Generator": {
      "properties": {
        "agentCoachingContext": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "cesAppSpecs": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesAppSpec"
          }
        },
        "publishedModel": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "summarizationContext": {
          "$ref": "GoogleCloudDialogflowV2SummarizationContext"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "triggerEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cesToolSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesToolSpec"
          }
        },
        "toolsetTools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolsetTool"
          }
        },
        "freeFormContext": {
          "$ref": "GoogleCloudDialogflowV2FreeFormContext"
        },
        "suggestionDedupingConfig": {
          "$ref": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "inferenceParameter": {
          "$ref": "GoogleCloudDialogflowV2InferenceParameter"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Generator"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "previousSuggestedQuery": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "type": "object",
      "properties": {
        "mlDisabled": {
          "type": "boolean"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Intent"
    },
    "GoogleCloudDialogflowV2CesToolSpec": {
      "properties": {
        "confirmationRequirement": {
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cesTool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CesToolSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "properties": {
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2VoiceSelectionParams": {
      "properties": {
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2VoiceSelectionParams"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "properties": {
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2SipTrunk": {
      "properties": {
        "expectedHostname": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connections": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Connection"
          }
        },
        "googleRootCertFile": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CERT_FILE_UNSPECIFIED",
            "EXTERNAL_PRIVATE_CA"
          ]
        },
        "peerHostnames": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipHostname"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SipTrunk",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AssistQueryParameters": {
      "id": "GoogleCloudDialogflowV2AssistQueryParameters",
      "type": "object",
      "properties": {
        "documentsMetadataFilters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluation": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
        },
        "summarizationMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
        },
        "displayName": {
          "type": "string"
        },
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "evaluationStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2EvaluationStatus"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "properties": {
        "validationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2EnvironmentHistory": {
      "id": "GoogleCloudDialogflowV2EnvironmentHistory",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EnvironmentHistoryEntry"
          },
          "readOnly": true,
          "type": "array"
        },
        "parent": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListParticipantsResponse": {
      "id": "GoogleCloudDialogflowV2ListParticipantsResponse",
      "type": "object",
      "properties": {
        "participants": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Participant"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig",
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object",
      "properties": {
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "type": "object",
      "properties": {
        "section": {
          "type": "string",
          "readOnly": true
        },
        "tokenCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "properties": {
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "properties": {
        "isCloudFunction": {
          "deprecated": true,
          "type": "boolean"
        },
        "password": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "username": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata"
    },
    "GoogleCloudDialogflowV2AnswerRecord": {
      "id": "GoogleCloudDialogflowV2AnswerRecord",
      "type": "object",
      "properties": {
        "agentAssistantRecord": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentAssistantRecord"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2AnswerFeedback"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "properties": {
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataRequest": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataRequest",
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "properties": {
        "intentBatchInline": {
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        },
        "intentBatchUri": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "intentView": {
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeBatch"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
[...]
