{
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "canonicalName": "Dialogflow",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260725",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "id": "dialogflow:v3",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "schemas": {
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "properties": {
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "displayName": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse",
      "properties": {
        "playbookVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "properties": {
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "webhook": {
          "type": "string"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          },
          "type": "array"
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "object",
      "properties": {
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AgentValidationResult": {
      "type": "object",
      "properties": {
        "flowValidationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentValidationResult"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsRequest",
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "intentsContentInline": {
          "type": "boolean"
        },
        "intentsUri": {
          "type": "string"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Experiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Experiment",
      "properties": {
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutConfig"
        },
        "description": {
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResult"
        },
        "variantsHistory": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VariantsHistory"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutState"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentDefinition"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "properties": {
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3VariantsHistory",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "properties": {
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference": {
      "id": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference",
      "properties": {
        "tool": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "properties": {
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "question": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequest": {
      "type": "object",
      "properties": {
        "restoreOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListWebhooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3LlmModelSettings": {
      "id": "GoogleCloudDialogflowCxV3LlmModelSettings",
      "properties": {
        "model": {
          "type": "string"
        },
        "promptText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason": {
      "type": "object",
      "properties": {
        "feedback": {
          "type": "string"
        },
        "reasonLabels": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "properties": {
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          },
          "type": "array"
        },
        "webhook": {
          "type": "string"
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "properties": {
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "dtmfPattern": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          }
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "isFallback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GeneratorPlaceholder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GeneratorPlaceholder"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig": {
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3UserUtterance": {
      "id": "GoogleCloudDialogflowCxV3UserUtterance",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep": {
      "id": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep",
      "properties": {
        "trafficPercent": {
          "format": "int32",
          "type": "integer"
        },
        "minDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "session": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string"
        },
        "conversation": {
          "type": "string"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "type": "object",
      "properties": {
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ]
        },
        "countType": {
          "type": "string",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval"
        },
        "count": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "properties": {
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "triggeringEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookStep": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookStep",
      "properties": {
        "text": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string"
        },
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListExamplesResponse": {
      "type": "object",
      "properties": {
        "examples": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Example"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListExamplesResponse"
    },
    "GoogleCloudDialogflowCxV3ListGeneratorsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListGeneratorsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Generator"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        },
        "session": {
          "type": "string"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroup": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroup",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3StopExperimentRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3StopExperimentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "outputAudio": {
          "format": "byte",
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "responseId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3OutputAudioConfig",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "properties": {
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "name": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "notes": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowTransition"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "properties": {
        "mergeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ]
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowCxV3ExportFlowRequest": {
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportFlowRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "formattedText": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "locationId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3VersionVariantsVariant": {
      "properties": {
        "isControlGroup": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        },
        "trafficAllocation": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3VersionVariantsVariant",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3ResourceName": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResourceName",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SpeechToTextSettings": {
      "id": "GoogleCloudDialogflowCxV3SpeechToTextSettings",
      "properties": {
        "enableSpeechAdaptation": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfig": {
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FilterSpecs"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3MatchIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3MatchIntentRequest",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "persistParameterChanges": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LoadVersionRequest": {
      "type": "object",
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3LoadVersionRequest"
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ValidateFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3ValidateFlowRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RolloutState": {
      "properties": {
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "stepIndex": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RolloutState",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Message",
      "properties": {
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sendTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesRequest": {
      "properties": {
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        },
        "targetEntityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "properties": {
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreTool": {
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreTool",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "properties": {
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        },
        "responseId": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "importOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3FlowImportStrategy"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert",
      "properties": {
        "cert": {
          "format": "byte",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "isList": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowImportStrategy": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowImportStrategy",
      "properties": {
        "globalImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet",
      "properties": {
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        },
        "snippetIndex": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Action": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Action",
      "properties": {
        "agentUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3AgentUtterance"
        },
        "flowInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3FlowInvocation"
        },
        "playbookInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInvocation"
        },
        "playbookTransition": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookTransition"
        },
        "toolUse": {
          "$ref": "GoogleCloudDialogflowCxV3ToolUse"
        },
        "flowTransition": {
          "$ref": "GoogleCloudDialogflowCxV3FlowTransition"
        },
        "userUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3UserUtterance"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "properties": {
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "matchConfidence": {
          "format": "float",
          "type": "number"
        },
        "faqQuestion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
    },
    "GoogleCloudDialogflowCxV3RolloutConfig": {
      "type": "object",
      "properties": {
        "rolloutCondition": {
          "type": "string"
        },
        "failureCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RolloutConfig"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "boost": {
          "format": "float",
          "type": "number"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3BoostSpec": {
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpec"
    },
    "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings",
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookInstruction": {
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse": {
      "type": "object",
      "properties": {
        "continuousTestResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string"
        },
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "name": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3Version": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Version"
    },
    "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings",
      "properties": {
        "engine": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig": {
      "properties": {
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "type": "string"
        },
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
[...]
