{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "basePath": "",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "ownerDomain": "google.com",
  "canonicalName": "Dialogflow",
  "servicePath": "",
  "schemas": {
    "GoogleCloudDialogflowCxV3Playbook": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "referencedTools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "playbookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3CodeBlock"
        },
        "referencedFlows": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "goal": {
          "type": "string"
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Handler"
          }
        },
        "referencedPlaybooks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInstruction"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "inlineActions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Playbook",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler",
      "type": "object",
      "properties": {
        "lifecycleStage": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "type": "object",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3Match": {
      "id": "GoogleCloudDialogflowCxV3Match",
      "type": "object",
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "resolvedInput": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "INTENT",
            "DIRECT_INTENT",
            "PARAMETER_FILLING",
            "NO_MATCH",
            "NO_INPUT",
            "EVENT",
            "KNOWLEDGE_CONNECTOR",
            "PLAYBOOK"
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "properties": {
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GeneratorModelParameter": {
      "id": "GoogleCloudDialogflowCxV3GeneratorModelParameter",
      "type": "object",
      "properties": {
        "topK": {
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "type": "number",
          "format": "float"
        },
        "temperature": {
          "format": "float",
          "type": "number"
        },
        "maxDecodeSteps": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings": {
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "properties": {
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "business": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "disableDataStoreFallback": {
          "type": "boolean"
        },
        "agentScope": {
          "type": "string"
        },
        "agentIdentity": {
          "type": "string"
        },
        "businessDescription": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "channel": {
          "type": "string"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Handler": {
      "id": "GoogleCloudDialogflowCxV3Handler",
      "type": "object",
      "properties": {
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerEventHandler"
        },
        "lifecycleHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResult": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResult",
      "type": "object",
      "properties": {
        "versionMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "properties": {
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "matchConfidence": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "type": "object",
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "cesToolset": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Deployment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListDeploymentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowRequest": {
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "fulfillmentText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Agent": {
      "properties": {
        "description": {
          "type": "string"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings"
        },
        "enableStackdriverLogging": {
          "type": "boolean",
          "deprecated": true
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings"
        },
        "avatarUri": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechToTextSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "startFlow": {
          "type": "string"
        },
        "startPlaybook": {
          "type": "string"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "securitySettings": {
          "type": "string"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Agent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse",
      "type": "object",
      "properties": {
        "continuousTestResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "type": "object",
      "properties": {
        "thumbnailImageAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "cardOrientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals",
      "type": "object",
      "properties": {
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
          }
        },
        "answer": {
          "type": "string"
        },
        "answerParts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
          }
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        },
        "searchSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig": {
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "covered": {
          "type": "boolean"
        },
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3EventHandler"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings",
      "type": "object",
      "properties": {
        "engine": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "environment": {
          "type": "string"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookTraceMetadata": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookTraceMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings": {
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings",
      "type": "object",
      "properties": {
        "audioFormat": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "type": "string"
        },
        "storeTtsAudio": {
          "type": "boolean"
        },
        "gcsBucket": {
          "type": "string"
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "audioExportPattern": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AnswerFeedback": {
      "id": "GoogleCloudDialogflowCxV3AnswerFeedback",
      "type": "object",
      "properties": {
        "customRating": {
          "type": "string"
        },
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason"
        },
        "rating": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object",
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "id": "GoogleCloudDialogflowCxV3TestError",
      "type": "object",
      "properties": {
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AgentClientCertificateSettings": {
      "properties": {
        "privateKey": {
          "type": "string"
        },
        "passphrase": {
          "type": "string"
        },
        "sslCertificate": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "properties": {
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "type": "object",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "disabled": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequest": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        },
        "restoreOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CodeBlock": {
      "properties": {
        "code": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CodeBlock",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3HandlerEventHandler": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3HandlerEventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3StopExperimentRequest": {
      "id": "GoogleCloudDialogflowCxV3StopExperimentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "webhookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "requestBody": {
          "type": "string"
        },
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ValidationMessage": {
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ],
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "detail": {
          "type": "string"
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResourceName"
          }
        },
        "resources": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidationMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse",
      "type": "object",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig",
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "properties": {
        "differences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "readOnly": true
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "properties": {
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ]
        },
        "count": {
          "format": "double",
          "type": "number"
        },
        "countType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "type": "string"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportPlaybookRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportPlaybookRequest",
      "type": "object",
      "properties": {
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "type": "string"
        },
        "playbookUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "properties": {
        "word": {
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "properties": {
        "summary": {
          "type": "string"
        },
        "section": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowTraceMetadata": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowTraceMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbookVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookVersion"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SpeechProcessingMetadata": {
      "id": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "type": "object",
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings": {
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse",
      "type": "object",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "type": "object",
      "properties": {
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2Message": {
      "properties": {
        "name": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Message",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "cesToolset": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "toolDisplayName": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookOutput": {
      "id": "GoogleCloudDialogflowCxV3PlaybookOutput",
      "type": "object",
      "properties": {
        "executionSummary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse",
      "type": "object",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          }
        },
        "description": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
      "type": "object",
      "properties": {
        "lowerBound": {
          "type": "number",
          "format": "double"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "confidenceLevel": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "id": "GoogleCloudDialogflowCxV3FilterSpecs",
      "type": "object",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string"
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentRequest": {
      "properties": {
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListChangelogsResponse": {
      "properties": {
        "changelogs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Changelog"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListChangelogsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer",
      "type": "object",
      "properties": {
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "transcript": {
          "type": "string"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "candidatesTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object",
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings",
      "type": "object",
      "properties": {
        "repositoryUri": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trackingBranch": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "conversationModelEvaluation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "answerRecord": {
          "type": "string"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object",
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
[...]
