{
  "ownerName": "Google",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "batchPath": "batch",
  "name": "dialogflow",
  "version_module": true,
  "revision": "20260629",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "rootUrl": "https://dialogflow.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "canonicalName": "Dialogflow",
  "title": "Dialogflow API",
  "protocol": "rest",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDialogflowCxV3MatchIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3MatchIntentResponse",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Match"
          },
          "type": "array"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverage": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverage",
      "type": "object",
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "transitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransition"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object",
      "properties": {
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "type": "object",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TypeSchema": {
      "id": "GoogleCloudDialogflowCxV3TypeSchema",
      "type": "object",
      "properties": {
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSchema"
        },
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbookVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookVersion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object",
      "properties": {
        "noUserInput": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "type": "object",
      "properties": {
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "content": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation",
          "readOnly": true
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "languageCode": {
          "type": "string"
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion",
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          }
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
          }
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesRequest",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "type": "object",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookTraceMetadata": {
      "id": "GoogleCloudDialogflowCxV3PlaybookTraceMetadata",
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Example": {
      "id": "GoogleCloudDialogflowCxV3Example",
      "type": "object",
      "properties": {
        "conversationState": {
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tokenCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionEntityType": {
      "id": "GoogleCloudDialogflowCxV3SessionEntityType",
      "type": "object",
      "properties": {
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "targetPage": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "id": "GoogleCloudDialogflowV2QueryResult",
      "type": "object",
      "properties": {
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "queryText": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "webhookSource": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "webhookPayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "id": "GoogleCloudDialogflowCxV3VariantsHistory",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPlaybooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPlaybooksResponse",
      "type": "object",
      "properties": {
        "playbooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Playbook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsRequest",
      "type": "object",
      "properties": {
        "mergeOption": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REJECT",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        },
        "intentsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse",
      "type": "object",
      "properties": {
        "continuousTestResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "isFinal": {
          "type": "boolean"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "messageType": {
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "transcript": {
          "type": "string"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "type": "object",
      "properties": {
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryResult": {
      "id": "GoogleCloudDialogflowCxV3QueryResult",
      "type": "object",
      "properties": {
        "webhookPayloads": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals"
        },
        "traceBlocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TraceBlock"
          }
        },
        "currentFlow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "transcript": {
          "type": "string"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "triggerIntent": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3SentimentAnalysisResult"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "deprecated": true,
          "format": "float"
        },
        "text": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent",
          "deprecated": true
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "allowAnswerFeedback": {
          "type": "boolean"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Version": {
      "id": "GoogleCloudDialogflowCxV3Version",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3NluSettings",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListDeploymentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Deployment"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          },
          "type": "array"
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowRequest",
      "type": "object",
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "type": "object",
      "properties": {
        "horizontalAlignment": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string"
        },
        "header": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "id": "GoogleCloudDialogflowV2Sentiment",
      "type": "object",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPhrase": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPhrase",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3SearchConfig": {
      "id": "GoogleCloudDialogflowCxV3SearchConfig",
      "type": "object",
      "properties": {
        "boostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecs"
          },
          "type": "array"
        },
        "filterSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FilterSpecs"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings": {
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings",
      "type": "object",
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "type": "object",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "documentTitle": {
          "type": "string"
        },
        "documentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "type": "object",
      "properties": {
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "notes": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "type": "object",
      "properties": {
        "mandatory": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfig",
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "type": "object",
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "type": "string"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "queryCategorizationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition",
      "type": "object",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "type": "object",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse",
      "type": "object",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SpeechProcessingMetadata": {
      "id": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings": {
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings",
      "type": "object",
      "properties": {
        "storeTtsAudio": {
          "type": "boolean"
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "audioFormat": {
          "type": "string",
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "gcsBucket": {
          "type": "string"
        },
        "audioExportPattern": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "type": "object",
      "properties": {
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object",
      "properties": {
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Experiment": {
      "id": "GoogleCloudDialogflowCxV3Experiment",
      "type": "object",
      "properties": {
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutConfig"
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentDefinition"
        },
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutState"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResult"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "variantsHistory": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VariantsHistory"
          }
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3Form": {
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowRequest",
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse",
      "type": "object",
      "properties": {
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        },
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "type": "object",
      "properties": {
        "dtmfDigits": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "triggerEvent": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "text": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter",
      "type": "object",
      "properties": {
        "category": {
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "filterLevel": {
          "type": "string",
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "type": "object",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VersionVariantsVariant": {
      "id": "GoogleCloudDialogflowCxV3VersionVariantsVariant",
      "type": "object",
      "properties": {
        "trafficAllocation": {
          "type": "number",
          "format": "float"
        },
        "isControlGroup": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolOpenApiTool": {
      "id": "GoogleCloudDialogflowCxV3ToolOpenApiTool",
      "type": "object",
      "properties": {
        "authentication": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthentication"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig"
        },
        "textSchema": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings": {
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings",
      "type": "object",
      "properties": {
        "promptTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate"
          }
        },
        "selectedPrompt": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "id": "GoogleCloudDialogflowCxV3FlowTransition",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListWebhooksResponse",
      "type": "object",
      "properties": {
        "webhooks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mandatory": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListExperimentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListExperimentsResponse",
      "type": "object",
      "properties": {
        "experiments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Experiment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "type": "object",
      "properties": {
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookInput": {
      "id": "GoogleCloudDialogflowCxV3PlaybookInput",
      "type": "object",
      "properties": {
        "precedingConversationSummary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object",
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListExamplesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListExamplesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "examples": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Example"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode",
      "type": "object",
      "properties": {
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        },
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "event": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EntityType": {
      "id": "GoogleCloudDialogflowCxV3EntityType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "redact": {
          "type": "boolean"
        },
        "excludedPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          },
          "type": "array"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "type": "object",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "sessionCount": {
          "type": "integer",
          "format": "int32"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultMetric"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "type": "object",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LlmModelSettings": {
      "id": "GoogleCloudDialogflowCxV3LlmModelSettings",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "promptText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "type": "object",
      "properties": {
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListAgentsResponse",
      "type": "object",
      "properties": {
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "entityTypesContentInline": {
          "type": "boolean"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "name": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3UserUtterance": {
      "id": "GoogleCloudDialogflowCxV3UserUtterance",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings",
      "type": "object",
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object",
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookInvocation": {
      "id": "GoogleCloudDialogflowCxV3PlaybookInvocation",
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "playbookState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet",
      "type": "object",
      "properties": {
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        },
        "snippetIndex": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AnswerFeedback": {
      "id": "GoogleCloudDialogflowCxV3AnswerFeedback",
      "type": "object",
      "properties": {
        "rating": {
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason"
        },
        "customRating": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "type": "object",
      "properties": {
        "responseText": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object",
      "properties": {
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      }
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ValidationMessage": {
      "id": "GoogleCloudDialogflowCxV3ValidationMessage",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "resources": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResourceName"
          }
        },
        "detail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "type": "object",
      "properties": {
        "enableContinuousRun": {
[...]
