{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "version": "v2",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail",
      "properties": {
        "score": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "metric": {
          "readOnly": true,
          "type": "string"
        },
        "sectionDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionInput",
      "properties": {
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "answerRecord": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CANCEL",
            "REVISE",
            "CONFIRM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback",
      "properties": {
        "submitTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "summaryText": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest",
      "properties": {
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        },
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "latestMessage": {
          "type": "string"
        },
        "maxContextSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2AutomatedAgentConfig": {
      "id": "GoogleCloudDialogflowV2AutomatedAgentConfig",
      "properties": {
        "agent": {
          "type": "string"
        },
        "sessionTtl": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportDocumentRequest": {
      "id": "GoogleCloudDialogflowV2ExportDocumentRequest",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        },
        "exportFullContent": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "languageCode": {
          "type": "string"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "evaluationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
          }
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationModelsResponse",
      "properties": {
        "conversationModels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModel"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Participant": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Participant",
      "properties": {
        "name": {
          "type": "string"
        },
        "sipRecordingMediaLabel": {
          "type": "string"
        },
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "agentDesktopSource": {
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "properties": {
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "properties": {
        "uri": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2InputDataset",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "properties": {
        "value": {
          "type": "any"
        },
        "state": {
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "justCollected": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary",
      "properties": {
        "sortedTextSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
          }
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2RaiSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2RaiSettings",
      "properties": {
        "raiCategoryConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ListDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2ListDocumentsResponse",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Document"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesRequest",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig",
      "properties": {
        "featureConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
          }
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        },
        "enableAsyncToolCall": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Environment",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "properties": {
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListAnswerRecordsResponse": {
      "id": "GoogleCloudDialogflowV2ListAnswerRecordsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "answerRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnswerRecord"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "versionNumber": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "status": {
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeBatch",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "toolDisplayName": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cesApp": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Environment": {
      "id": "GoogleCloudDialogflowV2Environment",
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        },
        "agentVersion": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2Generator": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Generator",
      "properties": {
        "publishedModel": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "triggerEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "freeFormContext": {
          "$ref": "GoogleCloudDialogflowV2FreeFormContext"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "summarizationContext": {
          "$ref": "GoogleCloudDialogflowV2SummarizationContext"
        },
        "inferenceParameter": {
          "$ref": "GoogleCloudDialogflowV2InferenceParameter"
        },
        "suggestionDedupingConfig": {
          "$ref": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "toolsetTools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolsetTool"
          }
        },
        "cesAppSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesAppSpec"
          }
        },
        "cesToolSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesToolSpec"
          }
        },
        "agentCoachingContext": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingContext"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "required": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "finishDigit": {
          "type": "string"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition",
      "properties": {
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        },
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "adherenceReasoning": {
          "readOnly": true,
          "type": "string"
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings",
      "properties": {
        "onlyEndUser": {
          "type": "boolean"
        },
        "noSmalltalk": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "properties": {
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Connection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Connection",
      "properties": {
        "errorDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConnectionErrorDetails"
        },
        "connectionId": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONNECTED",
            "DISCONNECTED",
            "AUTHENTICATION_FAILED",
            "KEEPALIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2CesToolSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CesToolSpec",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "confirmationRequirement": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "properties": {
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "model": {
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolTLSConfig": {
      "id": "GoogleCloudDialogflowV2ToolTLSConfig",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolTLSConfigCACert"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentSuggestion",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken",
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "tokenCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowV2SipConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SipConfig",
      "properties": {
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        },
        "keepConversationRunning": {
          "type": "boolean"
        },
        "copyInboundCallLegHeaders": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxAudioRecordingDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "inactiveStart": {
          "type": "boolean"
        },
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationContextReference": {
      "id": "GoogleCloudDialogflowV2ConversationContextReference",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "contextContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "updateMode": {
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationContext": {
      "id": "GoogleCloudDialogflowV2ConversationContext",
      "properties": {
        "messageEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfig",
      "properties": {
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
        },
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswer",
      "properties": {
        "answer": {
          "type": "string"
        },
        "answerSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
          }
        },
        "answerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ]
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig",
      "properties": {
        "isSummaryGenerationAllowed": {
          "deprecated": true,
          "type": "boolean"
        },
        "endTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleSize": {
          "format": "int32",
          "type": "integer"
        },
        "summaryGenerationOption": {
          "enum": [
            "SUMMARY_GENERATION_OPTION_UNSPECIFIED",
            "ALWAYS_GENERATE",
            "GENERATE_IF_MISSING",
            "DO_NOT_GENERATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "agentAssistInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig"
        },
        "datasetInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig"
        },
        "inputDataSourceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "INPUT_DATA_SOURCE_TYPE_UNSPECIFIED",
            "AGENT_ASSIST_CONVERSATIONS",
            "INSIGHTS_CONVERSATIONS"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Conversation"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2TextInput": {
      "id": "GoogleCloudDialogflowV2TextInput",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse",
      "properties": {
        "generatorEvaluations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig",
      "properties": {
        "maxResults": {
          "format": "int32",
          "type": "integer"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "documentQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
        },
        "contextFilterSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
        },
        "knowledgeBaseQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number"
        },
        "sections": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections"
        },
        "dialogflowQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "certificateState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "properties": {
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "transcript": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "properties": {
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionFeature": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionFeature",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "properties": {
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "tag": {
          "type": "string"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          }
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        },
        "webhook": {
          "type": "string"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Document": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Document",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "contentUri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableAutoReload": {
          "type": "boolean"
        },
        "latestReloadStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2DocumentReloadStatus"
        },
        "name": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "RELOADING",
            "DELETING"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationSectionList": {
      "id": "GoogleCloudDialogflowV2SummarizationSectionList",
      "properties": {
        "summarizationSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "id": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig",
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig",
      "properties": {
        "buttonId": {
          "type": "string"
        },
        "endpointDomain": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        },
        "organizationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FreeFormContext",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfig",
      "properties": {
        "smartReplyConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        },
        "smartComposeConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "properties": {
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          },
          "readOnly": true
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2Tool": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Tool",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolFunctionTool"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolOpenApiTool"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "toolKey": {
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "actionConfirmationRequirement": {
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
              "REQUIRED",
              "NOT_REQUIRED"
            ]
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolConnectorTool"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "extensionSpec": {
          "deprecated": true,
          "$ref": "GoogleCloudDialogflowV2ToolExtensionTool"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig",
      "properties": {
        "evaluatorVersion": {
          "type": "string"
        },
        "accuracyEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        },
        "enableCompletenessEvaluation": {
          "deprecated": true,
          "type": "boolean"
        },
        "enableAccuracyEvaluation": {
          "deprecated": true,
          "type": "boolean"
        },
        "completenessEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesRequest": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest",
      "properties": {
        "conversationModelEvaluation": {
          "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationSection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationSection",
      "properties": {
        "key": {
          "type": "string"
        },
        "definition": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfig",
      "properties": {
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "id": "GoogleCloudDialogflowV2ReloadDocumentRequest",
      "properties": {
        "contentUri": {
          "type": "string"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "properties": {
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics": {
      "id": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics",
      "properties": {
        "n": {
          "format": "int32",
          "type": "integer"
        },
        "recall": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "confidence": {
          "type": "number",
[...]
