{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260916",
  "title": "Dialogflow API",
  "discoveryVersion": "v1",
  "version": "v3beta1",
  "id": "dialogflow:v3beta1",
  "kind": "discovery#restDescription",
  "name": "dialogflow",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteraction": {
      "type": "object",
      "properties": {
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        },
        "stepMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics"
          }
        },
        "requestUtterances": {
          "type": "string"
        },
        "partialResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
          }
        },
        "response": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
        },
        "responseUtterances": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
        },
        "missingTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteraction"
    },
    "GoogleCloudDialogflowCxV3beta1ListFlowsResponse": {
      "properties": {
        "flows": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListFlowsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings": {
      "type": "object",
      "properties": {
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "type": "object",
      "properties": {
        "queryGenerationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "latency": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "type": "object",
      "properties": {
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowCxV3beta1AgentUtterance": {
      "properties": {
        "text": {
          "type": "string"
        },
        "requireGeneration": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentUtterance"
    },
    "GoogleCloudDialogflowCxV3beta1Deployment": {
      "id": "GoogleCloudDialogflowCxV3beta1Deployment",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "flowVersion": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric": {
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric",
      "type": "object",
      "properties": {
        "count": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "countType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ]
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "generativeFallback": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "type": "string"
        },
        "intentId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse",
      "properties": {
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "properties": {
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "name": {
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "properties": {
        "name": {
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool": {
      "type": "object",
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        },
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "type": "object",
      "properties": {
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookVersion": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookVersion",
      "properties": {
        "name": {
          "type": "string"
        },
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "examples": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage": {
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "coverages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "type": "object",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse"
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "type": "object",
      "properties": {
        "word": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "endOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Generator": {
      "type": "object",
      "properties": {
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Phrase"
        },
        "placeholders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder"
          }
        },
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Generator"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object",
      "properties": {
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "displayName": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettings": {
      "properties": {
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings"
        },
        "defaultBannedPhraseMatchStrategy": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PHRASE_MATCH_STRATEGY_UNSPECIFIED",
            "PARTIAL_MATCH",
            "WORD_MATCH"
          ]
        },
        "defaultRaiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings"
        },
        "bannedPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase"
          },
          "type": "array"
        },
        "promptSecuritySettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsPromptSecuritySettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "properties": {
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        },
        "boost": {
          "type": "number",
          "format": "float"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState",
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig": {
      "properties": {
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleTypeLatLng": {
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig",
      "properties": {
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings": {
      "properties": {
        "enableSpeechAdaptation": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPage": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1Span": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Span",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1NamedMetric"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "properties": {
        "toolDisplayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "cesApp": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true
        },
        "cesTool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCall"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "content": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "properties": {
        "sipUri": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "name": {
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "content": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "sendTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "properties": {
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse",
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "testCase": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "type": "object",
      "properties": {
        "toolVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "description": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowCxV3beta1FlowTransition": {
      "properties": {
        "inputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "deprecated": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "properties": {
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "webhookSource": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "action": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "queryText": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest",
      "properties": {
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource"
        },
        "restoreOption": {
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings",
      "properties": {
        "storeTtsAudio": {
          "type": "boolean"
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "audioExportPattern": {
          "type": "string"
        },
        "audioFormat": {
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "gcsBucket": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverage": {
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverage"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings",
      "type": "object",
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "cardOrientation": {
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant",
      "properties": {
        "trafficAllocation": {
          "format": "float",
          "type": "number"
        },
        "version": {
          "type": "string"
        },
        "isControlGroup": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings": {
      "type": "object",
      "properties": {
        "trackingBranch": {
          "type": "string"
        },
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "repositoryUri": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "title": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "description": {
          "type": "string"
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookStep": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
    },
    "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams": {
      "id": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams",
      "properties": {
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionTTS": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ActionTTS"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "type": "object",
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolUse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolUse",
      "properties": {
        "inputActionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "dataStoreToolTrace": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace"
        },
        "outputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "webhookToolTrace": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "justCollected": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "type": "object",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "properties": {
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "format": "float",
          "type": "number"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "type": "object",
      "properties": {
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "action": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "queryText": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookSource": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1QueryResult"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "type": "object",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatch": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch",
      "properties": {
        "matchedIntents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResult": {
      "properties": {
        "versionMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings": {
      "properties": {
        "categoryFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "properties": {
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse": {
      "properties": {
        "playbookVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestRunDifference"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "properties": {
        "horizontalAlignment": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        },
        "header": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentRequest": {
      "properties": {
        "persistParameterChanges": {
          "type": "boolean"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
    },
    "GoogleCloudDialogflowCxV3beta1CodeBlock": {
      "id": "GoogleCloudDialogflowCxV3beta1CodeBlock",
      "properties": {
        "code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig",
      "type": "object",
      "properties": {
        "secretVersionForApiKey": {
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string"
        },
        "keyName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "formattedText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "answerText": {
          "type": "string"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Agent": {
      "id": "GoogleCloudDialogflowCxV3beta1Agent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "locked": {
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentPersonalizationSettings"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "deprecated": true,
          "type": "boolean"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "timeZone": {
          "type": "string"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "bigqueryExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings"
        },
        "securitySettings": {
          "type": "string"
        },
        "startPlaybook": {
          "type": "string"
        },
        "startFlow": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings"
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowImportStrategy": {
      "type": "object",
      "properties": {
        "globalImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "properties": {
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "properties": {
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace",
      "properties": {
        "webhookTag": {
          "type": "string"
        },
        "webhookUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "properties": {
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "properties": {
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          }
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "properties": {
        "model": {
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputParameter": {
          "type": "string"
        },
        "generator": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
    },
    "GoogleCloudDialogflowCxV3beta1ExportToolsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportToolsRequest",
      "properties": {
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "toolsContentInline": {
          "type": "boolean"
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toolsUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate": {
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "promptText": {
          "type": "string"
        },
        "frozen": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "locationId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudLocationLocation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "properties": {
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "type": "object",
      "properties": {
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "object",
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeInfo",
      "properties": {
        "actionTracingInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Example"
        },
        "currentPlaybooks": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
[...]
