{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dialogflow",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "batchPath": "batch",
  "id": "dialogflow:v2beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "canonicalName": "Dialogflow",
  "version_module": true,
  "kind": "discovery#restDescription",
  "version": "v2beta1",
  "revision": "20260701",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "fullyEncodeReservedExpansion": true,
  "title": "Dialogflow API",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "id": "dialogflow.projects.getAgent",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "description": "",
          "path": "v2beta1/{+parent}/agent",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "flatPath": "v2beta1/projects/{projectsId}/agent"
        },
        "deleteAgent": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "path": "v2beta1/{+parent}/agent",
          "id": "dialogflow.projects.deleteAgent",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "description": ""
        },
        "setAgent": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "path": "v2beta1/{+parent}/agent",
          "id": "dialogflow.projects.setAgent",
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "description": ""
        }
      },
      "resources": {
        "generators": {
          "methods": {
            "list": {
              "path": "v2beta1/{+parent}/generators",
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
              },
              "httpMethod": "GET",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "dialogflow.projects.generators.list"
            },
            "create": {
              "id": "dialogflow.projects.generators.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "generatorId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "path": "v2beta1/{+parent}/generators"
            }
          }
        },
        "answerRecords": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.answerRecords.patch",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$"
                }
              },
              "id": "dialogflow.projects.answerRecords.get",
              "deprecated": true,
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "path": "v2beta1/{+name}"
            },
            "list": {
              "path": "v2beta1/{+parent}/answerRecords",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "httpMethod": "GET",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.answerRecords.list"
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "setSuggestionFeatureConfig": {
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "parameters": {
                "conversationProfile": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
              },
              "parameterOrder": [
                "conversationProfile"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig"
            },
            "patch": {
              "path": "v2beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.patch",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "delete": {
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.delete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "clearSuggestionFeatureConfig": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "parameterOrder": [
                "conversationProfile"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
              },
              "httpMethod": "POST"
            },
            "create": {
              "path": "v2beta1/{+parent}/conversationProfiles",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.create",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "httpMethod": "GET",
              "path": "v2beta1/{+parent}/conversationProfiles"
            },
            "get": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.get",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "httpMethod": "GET",
              "path": "v2beta1/{+name}"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "path": "v2beta1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v2beta1/projects/{projectsId}/operations",
              "id": "dialogflow.projects.operations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "path": "v2beta1/{+name}"
            },
            "cancel": {
              "path": "v2beta1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "id": "dialogflow.projects.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            }
          }
        },
        "conversations": {
          "methods": {
            "list": {
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "httpMethod": "GET",
              "path": "v2beta1/{+parent}/conversations",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversations.list"
            },
            "get": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$"
                }
              },
              "id": "dialogflow.projects.conversations.get",
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "httpMethod": "GET",
              "path": "v2beta1/{+name}"
            },
            "create": {
              "id": "dialogflow.projects.conversations.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "conversationId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+parent}/conversations",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversations"
            },
            "complete": {
              "path": "v2beta1/{+name}:complete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.conversations.complete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "participants": {
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestFaqAnswers": {
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "compile": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "deprecated": true,
                      "description": "",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile",
                      "path": "v2beta1/{+parent}/suggestions:compile"
                    },
                    "suggestArticles": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles"
                    },
                    "suggestKnowledgeAssist": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestKnowledgeAssist",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "deprecated": true,
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "httpMethod": "GET"
                    },
                    "suggestSmartReplies": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v2beta1/{+parent}/participants",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "POST",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.create"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+name}"
                },
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/{+parent}/participants",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.list"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  }
                },
                "analyzeContent": {
                  "path": "v2beta1/{+participant}:analyzeContent",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "parameterOrder": [
                    "participant"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  },
                  "httpMethod": "POST",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.analyzeContent"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+parent}/messages",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.messages.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "batchCreate": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "path": "v2beta1/{+parent}/messages:batchCreate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "suggestions": {
              "methods": {
                "suggestConversationSummary": {
                  "path": "v2beta1/{+conversation}/suggestions:suggestConversationSummary",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "parameters": {
                    "conversation": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    }
                  }
                },
                "searchKnowledge": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+conversation}/suggestions:searchKnowledge",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge"
                },
                "generate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsRequest"
                  },
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "path": "v2beta1/{+conversation}/suggestions:generate",
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                }
              }
            }
          }
        },
        "knowledgeBases": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                },
                "force": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.delete",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2beta1/{+name}"
            },
            "patch": {
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "httpMethod": "PATCH",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.patch"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.create",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/knowledgeBases",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              }
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
              },
              "path": "v2beta1/{+parent}/knowledgeBases",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.list",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.get",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "path": "v2beta1/{+name}"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "reload": {
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+name}:reload",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.reload"
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+parent}/documents:import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportDocumentsRequest"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "patch": {
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2beta1/{+parent}/documents",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    },
                    "importGcsCustomMetadata": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "path": "v2beta1/{+parent}/documents",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            }
          }
        },
        "agent": {
          "methods": {
            "export": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.agent.export",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent:export",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/agent:export",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "getValidationResult": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.agent.getValidationResult",
              "path": "v2beta1/{+parent}/agent/validationResult",
              "flatPath": "v2beta1/projects/{projectsId}/agent/validationResult",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
              },
              "httpMethod": "GET"
            },
            "getFulfillment": {
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "path": "v2beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/agent/fulfillment$"
                }
              },
              "id": "dialogflow.projects.agent.getFulfillment",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "updateFulfillment": {
              "id": "dialogflow.projects.agent.updateFulfillment",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/agent/fulfillment$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment",
              "path": "v2beta1/{+name}"
            },
            "search": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.agent.search",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/agent:search",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent:search",
              "httpMethod": "GET"
            },
            "restore": {
              "path": "v2beta1/{+parent}/agent:restore",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/agent:restore",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "dialogflow.projects.agent.restore",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "import": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/agent:import",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2beta1/{+parent}/agent:import",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.agent.import",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "train": {
              "id": "dialogflow.projects.agent.train",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+parent}/agent:train",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent:train"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "list": {
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "id": "dialogflow.projects.agent.versions.list",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/{+parent}/versions"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.versions.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+name}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "path": "v2beta1/{+parent}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.versions.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.versions.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.versions.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                }
              }
            },
            "environments": {
              "methods": {
                "patch": {
                  "id": "dialogflow.projects.agent.environments.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "path": "v2beta1/{+name}"
                },
                "delete": {
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    }
                  }
                },
                "getHistory": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+parent}/history"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.environments.create",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "path": "v2beta1/{+parent}/environments"
                },
                "list": {
                  "path": "v2beta1/{+parent}/environments",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "dialogflow.projects.agent.environments.list",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    }
                  }
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "contexts": {
                          "methods": {
                            "patch": {
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "type": "string"
                                },
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "path": "v2beta1/{+name}",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "httpMethod": "PATCH"
                            },
                            "delete": {
                              "path": "v2beta1/{+name}",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete"
                            },
                            "list": {
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                              },
                              "path": "v2beta1/{+parent}/contexts"
                            },
                            "get": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+name}",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}"
                            },
                            "create": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "path": "v2beta1/{+parent}/contexts",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              }
                            }
                          }
                        },
                        "entityTypes": {
                          "methods": {
                            "patch": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "httpMethod": "PATCH",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "path": "v2beta1/{+name}"
                            },
                            "delete": {
                              "path": "v2beta1/{+name}",
                              "httpMethod": "DELETE",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "create": {
                              "path": "v2beta1/{+parent}/entityTypes",
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            },
                            "list": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "path": "v2beta1/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                },
                                "parent": {
[...]
