{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode": {
      "type": "object",
      "properties": {
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
        },
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
    },
    "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest",
      "properties": {
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "type": "string"
        },
        "playbookUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentDefinition": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariants"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentDefinition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample": {
      "id": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample",
      "type": "object",
      "properties": {
        "matchedRetrievalLabel": {
          "type": "string"
        },
        "exampleId": {
          "type": "string"
        },
        "exampleDisplayName": {
          "type": "string"
        },
        "retrievalStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RETRIEVAL_STRATEGY_UNSPECIFIED",
            "DEFAULT",
            "STATIC",
            "NEVER"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1StopExperimentRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1StopExperimentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "type": "object",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        },
        "responseId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate",
      "properties": {
        "updatedParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "eventType": {
          "type": "string"
        },
        "destination": {
          "type": "string"
        },
        "functionCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall"
        },
        "pageState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCallResult"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "type": "object",
      "properties": {
        "playbooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount": {
      "properties": {
        "conversationContextTokenCount": {
          "type": "string",
          "format": "int64"
        },
        "totalOutputTokenCount": {
          "format": "int64",
          "type": "string"
        },
        "exampleTokenCount": {
          "type": "string",
          "format": "int64"
        },
        "totalInputTokenCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ValidationMessage",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "resourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ]
        },
        "resourceNames": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResourceName"
          },
          "type": "array"
        },
        "detail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig",
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pitch": {
          "format": "double",
          "type": "number"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentRequest": {
      "properties": {
        "includeBigqueryExportSettings": {
          "type": "boolean"
        },
        "environment": {
          "type": "string"
        },
        "gitDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination"
        },
        "agentUri": {
          "type": "string"
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryResult"
        },
        "outputAudio": {
          "format": "byte",
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "properties": {
        "dtmfEvents": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1OutputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig",
      "properties": {
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object",
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "properties": {
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "notes": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "displayName": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCase"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "properties": {
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1Version": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Version"
    },
    "GoogleCloudDialogflowCxV3beta1ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Version"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams": {
      "id": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams",
      "properties": {
        "ssmlGender": {
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Status": {
      "properties": {
        "exception": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExceptionDetail"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Status",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "properties": {
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "properties": {
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "type": "object",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Deployment"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean"
        },
        "endpointingTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "webhookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "uri": {
          "type": "string"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string"
        },
        "username": {
          "type": "string",
          "deprecated": true
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAgentAuth": {
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "allowedCaCerts": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "requestBody": {
          "type": "string"
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "entityType": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "properties": {
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "queryText": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "webhookSource": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1DetectIntentRequest": {
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        },
        "responseView": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DETECT_INTENT_RESPONSE_VIEW_UNSPECIFIED",
            "DETECT_INTENT_RESPONSE_VIEW_FULL",
            "DETECT_INTENT_RESPONSE_VIEW_BASIC",
            "DETECT_INTENT_RESPONSE_VIEW_DEFAULT"
          ]
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "properties": {
        "name": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryInput"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "type": "object",
      "properties": {
        "modelOutput": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest": {
      "type": "object",
      "properties": {
        "entityTypesContentInline": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "reply": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "type": "object",
      "properties": {
        "codeBlockFunction": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "webhook": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
          "readOnly": true
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "knowledgeBase": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "properties": {
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest",
      "properties": {
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Match"
        },
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeploymentResult": {
      "id": "GoogleCloudDialogflowCxV3beta1DeploymentResult",
      "type": "object",
      "properties": {
        "deploymentTestResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "experiment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolFunctionTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool",
      "type": "object",
      "properties": {
        "outputSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "inputSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig"
    },
    "GoogleCloudDialogflowV2Intent": {
      "type": "object",
      "properties": {
        "resetContexts": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "name": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          },
          "type": "array"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2Intent"
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettings": {
      "type": "object",
      "properties": {
        "retentionWindowDays": {
          "format": "int32",
          "type": "integer"
        },
        "redactionScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ]
        },
        "retentionStrategy": {
          "type": "string",
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings"
        },
        "inspectTemplate": {
          "type": "string"
        },
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "purgeDataTypes": {
          "items": {
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              ""
            ]
          },
          "type": "array"
        },
        "redactionStrategy": {
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "properties": {
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "oauthGrantType": {
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariants": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariants",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage",
      "properties": {
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage"
          },
          "type": "array"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "properties": {
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInput": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInput",
      "properties": {
        "actionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "precedingConversationSummary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals": {
      "properties": {
        "decision": {
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "matchedBannedPhrase": {
          "type": "string"
        },
        "bannedPhraseMatch": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ToolVersion": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolVersion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy": {
      "properties": {
        "toolImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        },
        "nestedResourceImportStrategy": {
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mainPlaybookImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorTool",
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction"
          },
          "type": "array"
        },
        "endUserAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "properties": {
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3TurnSignals",
      "properties": {
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failureReasons": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        },
        "queryText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "properties": {
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "source": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings",
      "properties": {
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler",
      "type": "object",
      "properties": {
        "lifecycleStage": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput"
    },
    "GoogleCloudDialogflowCxV3beta1Span": {
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1NamedMetric"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Span",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination",
      "properties": {
        "trackingBranch": {
          "type": "string"
        },
        "commitMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference": {
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1FilterSpecs": {
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FilterSpecs",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation",
      "type": "object",
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
[...]
