{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "basePath": "",
  "version": "v3",
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version_module": true,
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "dialogflow",
  "id": "dialogflow:v3",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "type": "object",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isList": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse": {
      "type": "object",
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics": {
      "type": "object",
      "properties": {
        "sessionCount": {
          "type": "integer",
          "format": "int32"
        },
        "version": {
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultMetric"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics"
    },
    "GoogleCloudDialogflowCxV3DetectIntentResponse": {
      "type": "object",
      "properties": {
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "responseId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DetectIntentResponse"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "properties": {
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "toolDisplayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCall"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination",
      "type": "object",
      "properties": {
        "trackingBranch": {
          "type": "string"
        },
        "commitMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowInvocation": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "flowState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowInvocation"
    },
    "GoogleCloudDialogflowCxV3SearchConfig": {
      "type": "object",
      "properties": {
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecs"
          }
        },
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FilterSpecs"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3SearchConfig"
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings": {
      "type": "object",
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "type": "object",
      "properties": {
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesRequest": {
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        },
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "entityTypesUri": {
          "type": "string"
        },
        "targetEntityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesRequest"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig": {
      "type": "object",
      "properties": {
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "apiKey": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig": {
      "type": "object",
      "properties": {
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest",
      "type": "object",
      "properties": {
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ]
        },
        "languageCode": {
          "type": "string"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContentInline": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "type": "object",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "type": "object",
      "properties": {
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ServiceLatency"
    },
    "GoogleCloudDialogflowCxV3GenerativeSettings": {
      "type": "object",
      "properties": {
        "generativeSafetySettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettings"
        },
        "fallbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GenerativeSettings"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ]
        },
        "filterLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter"
    },
    "GoogleCloudDialogflowCxV3AgentClientCertificateSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings",
      "type": "object",
      "properties": {
        "privateKey": {
          "type": "string"
        },
        "passphrase": {
          "type": "string"
        },
        "sslCertificate": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "type": "object",
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "properties": {
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "languageCode": {
          "type": "string"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "type": "object",
      "properties": {
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "type": "object",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportIntentsRequest": {
      "type": "object",
      "properties": {
        "intentsContentInline": {
          "type": "boolean"
        },
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ]
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportIntentsRequest"
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "documentTitle": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "documentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GcsDestination"
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ListPagesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPagesResponse",
      "type": "object",
      "properties": {
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Page"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3FulfillIntentRequest",
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "type": "object",
      "properties": {
        "cardOrientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3Agent": {
      "type": "object",
      "properties": {
        "securitySettings": {
          "type": "string"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings"
        },
        "enableStackdriverLogging": {
          "deprecated": true,
          "type": "boolean"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechToTextSettings"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "startFlow": {
          "type": "string"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "timeZone": {
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
        },
        "avatarUri": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "startPlaybook": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings"
        },
        "name": {
          "type": "string"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3Agent"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "type": "object",
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestError"
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "footer": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3GeneratorPlaceholder": {
      "id": "GoogleCloudDialogflowCxV3GeneratorPlaceholder",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answer": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage",
      "type": "object",
      "properties": {
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition"
          }
        },
        "coverageScore": {
          "format": "float",
          "type": "number"
        },
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListVersionsResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Version"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfo",
      "type": "object",
      "properties": {
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListGeneratorsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListGeneratorsResponse",
      "type": "object",
      "properties": {
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Generator"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "type": "object",
      "properties": {
        "cesToolset": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "action": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "type": "object",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurn"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata"
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "type": "object",
      "properties": {
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "step": {
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3StartExperimentRequest": {
      "id": "GoogleCloudDialogflowCxV3StartExperimentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "type": "object",
      "properties": {
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals"
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "type": "object",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCaseError"
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "type": "object",
      "properties": {
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "type": "object",
      "properties": {
        "cert": {
          "format": "byte",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook"
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "type": "object",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3PlaybookImportStrategy": {
      "type": "object",
      "properties": {
        "toolImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        },
        "mainPlaybookImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        },
        "nestedResourceImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookImportStrategy"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextInput"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowCxV3IntentCoverageIntent": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestRequest": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "type": "object",
      "properties": {
        "lifecycleStage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowContent": {
          "format": "byte",
          "type": "string"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ]
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "channel": {
          "type": "string"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListFlowsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Flow"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListFlowsResponse"
    },
    "GoogleCloudDialogflowCxV3CalculateCoverageResponse": {
      "type": "object",
      "properties": {
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
        },
        "agent": {
          "type": "string"
        },
        "intentCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3IntentCoverage"
        },
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3PlaybookInvocation": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "playbookState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "playbook": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookInvocation"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "properties": {
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenEndpoint": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "username": {
          "type": "string",
          "deprecated": true
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestBody": {
          "type": "string"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "webhookType": {
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowRequest",
      "type": "object",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3FlowImportStrategy"
        },
        "importOption": {
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "languageCode": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "text": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListChangelogsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListChangelogsResponse",
      "type": "object",
      "properties": {
        "changelogs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Changelog"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "type": "object",
      "properties": {
        "generator": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "outputParameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "readOnly": true
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3TextToSpeechSettings": {
      "type": "object",
      "properties": {
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestorePlaybookVersionRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RestorePlaybookVersionRequest"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationSignals"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent",
      "type": "object",
      "properties": {
        "participant": {
          "type": "string"
        },
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequest",
      "type": "object",
      "properties": {
        "includeBigqueryExportSettings": {
          "type": "boolean"
        },
        "gitDestination": {
          "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination"
        },
        "environment": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookOutput": {
      "type": "object",
      "properties": {
        "executionSummary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookOutput"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCall"
    },
    "GoogleCloudDialogflowCxV3Changelog": {
      "id": "GoogleCloudDialogflowCxV3Changelog",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "properties": {
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowCxV3ExportFlowRequest": {
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportFlowRequest"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "type": "object",
      "properties": {
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "webhook": {
          "type": "string"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment"
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "id": "GoogleCloudDialogflowCxV3FlowTransition",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Context": {
      "type": "object",
      "properties": {
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2Context"
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "type": "object",
      "properties": {
        "dtmfPattern": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          }
        },
        "displayName": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse"
    },
    "GoogleCloudDialogflowCxV3Flow": {
      "id": "GoogleCloudDialogflowCxV3Flow",
      "type": "object",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "description": {
          "type": "string"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "name": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "locked": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "fieldName": {
          "type": "string"
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3HandlerEventHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerEventHandler",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RolloutConfig": {
      "type": "object",
      "properties": {
        "failureCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep"
          }
        },
        "rolloutCondition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RolloutConfig"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "type": "object",
      "properties": {
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "properties": {
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "type": "object",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
[...]
