{
  "fullyEncodeReservedExpansion": true,
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "name": "dialogflow",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "schemas": {
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Context"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3Flow": {
      "id": "GoogleCloudDialogflowCxV3Flow",
      "properties": {
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "outputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          },
          "type": "array"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "inputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          },
          "type": "array"
        },
        "locked": {
          "type": "boolean"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "properties": {
        "snippetIndex": {
          "type": "integer",
          "format": "int32"
        },
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "properties": {
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListVersionsResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Version"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage": {
      "properties": {
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition"
          }
        },
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "object",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3ListExperimentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListExperimentsResponse",
      "properties": {
        "experiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Experiment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "object",
      "properties": {
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurn",
      "type": "object",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3MatchIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3MatchIntentRequest",
      "type": "object",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        },
        "persistParameterChanges": {
          "type": "boolean"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CompareVersionsResponse": {
      "properties": {
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "baseVersionContentJson": {
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CompareVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "properties": {
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "properties": {
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "content": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "participantRole": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "type": "object",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination"
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequest": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "restoreOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ],
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array"
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings": {
      "type": "object",
      "properties": {
        "agent": {
          "type": "string"
        },
        "disableDataStoreFallback": {
          "type": "boolean"
        },
        "businessDescription": {
          "type": "string"
        },
        "agentIdentity": {
          "type": "string"
        },
        "agentScope": {
          "type": "string"
        },
        "business": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowCxV3ExperimentDefinition": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentDefinition"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "type": "object",
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ValidateFlowRequest": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidateFlowRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "type": "object",
      "properties": {
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowInvocation": {
      "id": "GoogleCloudDialogflowCxV3FlowInvocation",
      "properties": {
        "flow": {
          "type": "string"
        },
        "flowState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest"
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig",
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreTool": {
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreTool",
      "type": "object",
      "properties": {
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "type": "object",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "type": "object",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "type": "object",
      "properties": {
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
    },
    "GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3OutputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2EventInput"
    },
    "GoogleCloudDialogflowCxV3ToolFunctionTool": {
      "type": "object",
      "properties": {
        "inputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolFunctionTool"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "intent": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionRoute"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "properties": {
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "channel": {
          "type": "string"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler",
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "lifecycleStage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3MatchIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3MatchIntentResponse",
      "properties": {
        "text": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "matches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Match"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "triggerEvent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse": {
      "type": "object",
      "properties": {
        "testCaseResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "tag": {
          "type": "string"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "webhook": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "returnPartialResponses": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment"
    },
    "GoogleCloudDialogflowCxV3ImportPlaybookRequest": {
      "properties": {
        "playbookUri": {
          "type": "string"
        },
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookImportStrategy"
        },
        "playbookContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportPlaybookRequest"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "fieldName": {
          "type": "string"
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "type": "object",
      "properties": {
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowCxV3VersionVariants": {
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VersionVariantsVariant"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3VersionVariants"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "properties": {
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string"
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroup": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroup",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SafetySettings": {
      "id": "GoogleCloudDialogflowCxV3SafetySettings",
      "properties": {
        "bannedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SafetySettingsPhrase"
          }
        },
        "defaultRaiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings"
        },
        "promptSecuritySettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings"
        },
        "defaultBannedPhraseMatchStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PHRASE_MATCH_STRATEGY_UNSPECIFIED",
            "PARTIAL_MATCH",
            "WORD_MATCH"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "properties": {
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        },
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Form"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentRequest": {
      "type": "object",
      "properties": {
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings": {
      "type": "object",
      "properties": {
        "enablePromptSecurity": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModelEvaluation": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "properties": {
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "disabled": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "properties": {
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string"
        },
        "channel": {
          "type": "string"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object",
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage": {
      "type": "object",
      "properties": {
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverage"
          },
          "type": "array"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3ListPagesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPagesResponse",
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Page"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage"
    },
    "GoogleCloudDialogflowCxV3QueryParameters": {
      "properties": {
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          },
          "type": "array"
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameterScope": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "currentPage": {
          "type": "string"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "channel": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SearchConfig"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPlaybook": {
          "type": "string"
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "timeZone": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3QueryParameters"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayDetails": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "properties": {
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "properties": {
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
    },
    "GoogleCloudDialogflowCxV3ListChangelogsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListChangelogsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "changelogs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Changelog"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "properties": {
        "sampleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentCoverageIntent": {
      "id": "GoogleCloudDialogflowCxV3IntentCoverageIntent",
      "type": "object",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SpeechProcessingMetadata": {
      "id": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals",
      "properties": {
        "noMatch": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string"
          }
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "reachedEndPage": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object",
      "properties": {
        "reachedEndPage": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "properties": {
        "fileUri": {
          "type": "string"
        },
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Action": {
      "id": "GoogleCloudDialogflowCxV3Action",
      "properties": {
        "userUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3UserUtterance"
        },
        "agentUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3AgentUtterance"
        },
        "flowTransition": {
          "$ref": "GoogleCloudDialogflowCxV3FlowTransition"
        },
        "playbookInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInvocation"
        },
        "toolUse": {
          "$ref": "GoogleCloudDialogflowCxV3ToolUse"
        },
        "flowInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3FlowInvocation"
        },
        "playbookTransition": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookTransition"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals"
    },
    "GoogleCloudDialogflowCxV3AgentUtterance": {
      "id": "GoogleCloudDialogflowCxV3AgentUtterance",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "queryText": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "action": {
          "type": "string"
        },
        "webhookSource": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
[...]
