{
  "batchPath": "batch",
  "name": "dialogflow",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "version": "v3",
  "discoveryVersion": "v1",
  "basePath": "",
  "servicePath": "",
  "protocol": "rest",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "canonicalName": "Dialogflow",
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "ownerDomain": "google.com",
  "title": "Dialogflow API",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260807",
  "schemas": {
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "type": "object",
      "properties": {
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "answerParts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
          },
          "type": "array"
        },
        "searchSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
          }
        },
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "answer": {
          "type": "string"
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection",
      "type": "object",
      "properties": {
        "dataStoreType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        },
        "dataStore": {
          "type": "string"
        },
        "documentProcessingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "properties": {
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "fieldName": {
          "type": "string"
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SessionInfo"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "oauthGrantType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "tokenEndpoint": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3AgentValidationResult": {
      "id": "GoogleCloudDialogflowCxV3AgentValidationResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "flowValidationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "question": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2FaqAnswer"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "object",
      "properties": {
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BargeInConfig"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Playbook": {
      "type": "object",
      "properties": {
        "goal": {
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "referencedFlows": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          },
          "type": "array"
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3CodeBlock"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInstruction"
        },
        "displayName": {
          "type": "string"
        },
        "handlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Handler"
          },
          "type": "array"
        },
        "referencedTools": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "playbookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "inlineActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "referencedPlaybooks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Playbook"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
    },
    "GoogleCloudDialogflowCxV3TypeSchema": {
      "properties": {
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSchema"
        },
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TypeSchema"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "format": "int32",
          "type": "integer"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "responseId": {
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest"
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowTransition"
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "type": "object",
      "properties": {
        "cardWidth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ]
        },
        "cardContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "type": "object",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreTool": {
      "type": "object",
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreTool"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "type": "object",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowRequest": {
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "properties": {
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentCoverageIntent": {
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "type": "object",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListDeploymentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Deployment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListDeploymentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "endpointingTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
    },
    "GoogleCloudDialogflowCxV3Version": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Version"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "displayDetails": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "properties": {
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "environment": {
          "type": "string"
        },
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "type": "object",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "properties": {
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "queryText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "action": {
          "type": "string"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryResult"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsRequest": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "intentsContentInline": {
          "type": "boolean"
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ]
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportIntentsRequest"
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPhrase": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPhrase"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "properties": {
        "allowedCaCerts": {
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "webhookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "requestBody": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "properties": {
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "covered": {
          "type": "boolean"
        },
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3EventHandler"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransition"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "conversation": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesRequest",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3ListExperimentsResponse": {
      "type": "object",
      "properties": {
        "experiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Experiment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AudioInput"
    },
    "GoogleCloudDialogflowCxV3LoadVersionRequest": {
      "type": "object",
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3LoadVersionRequest"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3Example": {
      "properties": {
        "tokenCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          }
        },
        "name": {
          "type": "string"
        },
        "conversationState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Example"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object",
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "type": "object",
      "properties": {
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        },
        "mediaType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notes": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCase"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "type": "object",
      "properties": {
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SpeechProcessingMetadata": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata"
    },
    "GoogleCloudDialogflowCxV3PlaybookImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3PlaybookImportStrategy",
      "type": "object",
      "properties": {
        "toolImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        },
        "mainPlaybookImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        },
        "nestedResourceImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "noUserInput": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          },
          "type": "array"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "noMatch": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals": {
      "properties": {
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ]
        },
        "bannedPhraseMatch": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ]
        },
        "matchedBannedPhrase": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "properties": {
        "triggerIntent": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "transcript": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "text": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportFlowRequest",
      "properties": {
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3FlowImportStrategy"
        },
        "importOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array"
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3StartExperimentRequest": {
      "id": "GoogleCloudDialogflowCxV3StartExperimentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "properties": {
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        },
        "snippetIndex": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
    },
    "GoogleCloudDialogflowCxV3SearchConfig": {
      "id": "GoogleCloudDialogflowCxV3SearchConfig",
      "type": "object",
      "properties": {
        "boostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecs"
          },
          "type": "array"
        },
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FilterSpecs"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
    },
    "GoogleCloudDialogflowCxV3ImportPlaybookRequest": {
      "properties": {
        "playbookContent": {
          "format": "byte",
          "type": "string"
        },
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookImportStrategy"
        },
        "playbookUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportPlaybookRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata"
    },
    "GoogleCloudDialogflowCxV3BoostSpec": {
      "id": "GoogleCloudDialogflowCxV3BoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "session": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse"
    },
    "GoogleCloudDialogflowCxV3ListPlaybooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPlaybooksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Playbook"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3Phrase": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Phrase"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestion"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3PlaybookOutput": {
      "type": "object",
      "properties": {
        "executionSummary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookOutput"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "type": "object",
      "properties": {
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "count": {
          "format": "double",
          "type": "number"
        },
        "countType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "object",
      "properties": {
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "answerText": {
          "type": "string"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequest": {
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequest",
      "properties": {
        "restoreOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode",
      "type": "object",
      "properties": {
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        },
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "confidenceScore": {
          "format": "float",
          "type": "number"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "thumbnailUri": {
          "type": "string"
        },
        "fileUri": {
          "type": "string"
        },
        "height": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object",
      "properties": {
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "properties": {
        "environment": {
          "type": "string"
        },
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseResult"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPlaybook": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase": {
      "id": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "id": "GoogleCloudDialogflowV2Sentiment",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPagesResponse": {
      "type": "object",
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Page"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListPagesResponse"
    },
    "GoogleCloudDialogflowCxV3ListFlowsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "flows": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Flow"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListFlowsResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "properties": {
        "source": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "question": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer"
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3FlowImportStrategy",
      "properties": {
        "globalImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
    },
    "GoogleCloudDialogflowCxV3DetectIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3DetectIntentRequest",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "responseView": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DETECT_INTENT_RESPONSE_VIEW_UNSPECIFIED",
            "DETECT_INTENT_RESPONSE_VIEW_FULL",
            "DETECT_INTENT_RESPONSE_VIEW_BASIC",
            "DETECT_INTENT_RESPONSE_VIEW_DEFAULT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationProfile": {
[...]
