{
  "id": "dialogflow:v2",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "version": "v2",
  "ownerName": "Google",
  "servicePath": "",
  "name": "dialogflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Dialogflow API",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260825",
  "protocol": "rest",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "flatPath": "v2/projects/{projectsId}/agent",
          "parameterOrder": [
            "parent"
          ],
          "description": "",
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "httpMethod": "GET",
          "id": "dialogflow.projects.getAgent",
          "path": "v2/{+parent}/agent",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ]
        },
        "setAgent": {
          "id": "dialogflow.projects.setAgent",
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "",
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "httpMethod": "POST",
          "flatPath": "v2/projects/{projectsId}/agent"
        },
        "deleteAgent": {
          "description": "",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.deleteAgent",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        }
      },
      "resources": {
        "answerRecords": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
              },
              "path": "v2/{+parent}/answerRecords",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/answerRecords",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "dialogflow.projects.answerRecords.list",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "PATCH",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.answerRecords.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "path": "v2/{+parent}/suggestions:generateStatelessSummary"
            },
            "searchKnowledge": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "path": "v2/{+parent}/suggestions:searchKnowledge"
            }
          }
        },
        "conversationDatasets": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationDatasets.get",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationDataset"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}",
              "path": "v2/{+name}"
            },
            "list": {
              "id": "dialogflow.projects.conversationDatasets.list",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets",
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+parent}/conversationDatasets"
            },
            "importConversationData": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+name}:importConversationData",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
              },
              "id": "dialogflow.projects.conversationDatasets.importConversationData",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/operations",
              "description": "",
              "id": "dialogflow.projects.operations.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.get"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v2/{+name}:cancel",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.cancel",
              "httpMethod": "POST"
            }
          }
        },
        "generators": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/generators",
              "description": "",
              "id": "dialogflow.projects.generators.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/generators",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              }
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/generators",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v2/{+parent}/generators",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "generatorId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "id": "dialogflow.projects.generators.create"
            }
          }
        },
        "agent": {
          "methods": {
            "getValidationResult": {
              "path": "v2/{+parent}/agent/validationResult",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "languageCode": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.agent.getValidationResult",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ValidationResult"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/agent/validationResult"
            },
            "export": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2ExportAgentRequest"
              },
              "httpMethod": "POST",
              "id": "dialogflow.projects.agent.export",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/agent:export",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+parent}/agent:export",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "import": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.agent.import",
              "flatPath": "v2/projects/{projectsId}/agent:import",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "path": "v2/{+parent}/agent:import",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "getFulfillment": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "type": "string"
                }
              },
              "description": "",
              "httpMethod": "GET",
              "id": "dialogflow.projects.agent.getFulfillment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "restore": {
              "httpMethod": "POST",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/agent:restore",
              "id": "dialogflow.projects.agent.restore",
              "flatPath": "v2/projects/{projectsId}/agent:restore"
            },
            "search": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchAgentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.agent.search",
              "flatPath": "v2/projects/{projectsId}/agent:search",
              "httpMethod": "GET",
              "path": "v2/{+parent}/agent:search",
              "parameterOrder": [
                "parent"
              ],
              "description": ""
            },
            "train": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/agent:train",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "path": "v2/{+parent}/agent:train",
              "id": "dialogflow.projects.agent.train",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
              }
            },
            "updateFulfillment": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "id": "dialogflow.projects.agent.updateFulfillment",
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "id": "dialogflow.projects.agent.versions.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "description": ""
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.versions.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "path": "v2/{+parent}/versions"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.agent.versions.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.agent.versions.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListVersionsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.versions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            },
            "intents": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "id": "dialogflow.projects.agent.intents.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "intentView": {
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+parent}/intents",
                  "description": ""
                },
                "batchDelete": {
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/intents:batchDelete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
                  },
                  "description": "",
                  "httpMethod": "POST"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.agent.intents.delete",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "description": "",
                  "id": "dialogflow.projects.agent.intents.get",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$"
                    },
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "",
                        ""
                      ]
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "intentView": {
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.patch",
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  }
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchUpdate",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/intents:batchUpdate"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/intents",
                  "parameters": {
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "id": "dialogflow.projects.agent.intents.create",
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "sessions": {
              "methods": {
                "detectIntent": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                  },
                  "path": "v2/{+session}:detectIntent",
                  "description": "",
                  "parameterOrder": [
                    "session"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                  "parameters": {
                    "session": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.agent.sessions.detectIntent"
                },
                "deleteContexts": {
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "description": "",
                  "path": "v2/{+parent}/contexts",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "contexts": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v2/{+name}"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "path": "v2/{+parent}/contexts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "description": ""
                    },
                    "create": {
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+parent}/contexts",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      }
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes",
                      "description": ""
                    },
                    "delete": {
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$"
                        }
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "httpMethod": "GET",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "resources": {
                "documents": {
                  "methods": {
                    "patch": {
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2/{+name}",
                      "description": "",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "path": "v2/{+parent}/documents",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "description": "",
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/documents"
                    },
                    "reload": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2/{+name}:reload",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload",
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$"
                        }
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "description": "",
                  "id": "dialogflow.projects.agent.knowledgeBases.list"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.agent.knowledgeBases.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/knowledgeBases",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.knowledgeBases.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "entityTypes": {
              "resources": {
                "entities": {
                  "methods": {
                    "batchCreate": {
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/entities:batchCreate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate"
                    },
                    "batchUpdate": {
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "batchDelete": {
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchDelete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "description": ""
                    }
                  }
                }
              },
              "methods": {
                "batchUpdate": {
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH"
                },
                "create": {
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "description": "",
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v2/{+parent}/entityTypes",
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "batchDelete": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.agent.environments.get"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "parameters": {
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/environments",
                  "id": "dialogflow.projects.agent.environments.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "httpMethod": "POST"
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.environments.delete",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getHistory": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EnvironmentHistory"
                  },
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/history",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v2/{+parent}/environments",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "contexts": {
                          "methods": {
                            "list": {
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "path": "v2/{+parent}/contexts",
                              "description": "",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                              }
                            },
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "path": "v2/{+parent}/contexts",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "POST",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts"
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "path": "v2/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
[...]
