{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "version": "v3beta1",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}/operations",
              "id": "dialogflow.projects.operations.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v3beta1/projects/{projectsId}/operations"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}",
              "id": "dialogflow.projects.operations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}"
            },
            "cancel": {
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}:cancel",
              "id": "dialogflow.projects.operations.cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "id": "dialogflow.projects.locations.list",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/locations"
            },
            "get": {
              "description": "",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v3beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "id": "dialogflow.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3beta1/{+name}:cancel"
                },
                "list": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v3beta1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "securitySettings": {
              "methods": {
                "get": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "description": ""
                },
                "patch": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  }
                },
                "list": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "path": "v3beta1/{+parent}/securitySettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.securitySettings.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse"
                  }
                },
                "create": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "path": "v3beta1/{+parent}/securitySettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "description": ""
                },
                "delete": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3beta1/{+name}",
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}"
                }
              }
            },
            "agents": {
              "resources": {
                "generators": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "path": "v3beta1/{+parent}/generators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators"
                    },
                    "delete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.generators.delete",
                      "parameters": {
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "path": "v3beta1/{+parent}/generators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.generators.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListGeneratorsResponse"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators"
                    },
                    "patch": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.generators.get",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "description": ""
                    }
                  }
                },
                "testCases": {
                  "methods": {
                    "import": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest"
                      },
                      "path": "v3beta1/{+parent}/testCases:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import"
                    },
                    "calculateCoverage": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "parameters": {
                        "agent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "type": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "agent"
                      ],
                      "path": "v3beta1/{+agent}/testCases:calculateCoverage",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage"
                    },
                    "batchRun": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases:batchRun",
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases"
                    },
                    "batchDelete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases:batchDelete",
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "",
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}"
                    },
                    "run": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest"
                      },
                      "path": "v3beta1/{+name}:run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "path": "v3beta1/{+parent}/testCases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases"
                    },
                    "export": {
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export"
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}"
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3beta1/{+parent}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse"
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results"
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
                          },
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.testCases.results.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}"
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.tools.versions.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET"
                        },
                        "restore": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}:restore",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse"
                          },
                          "path": "v3beta1/{+name}:restore",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.tools.versions.restore",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.tools.versions.list",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3beta1/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse"
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions"
                        },
                        "create": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          },
                          "description": "",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.tools.versions.create",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
                          },
                          "path": "v3beta1/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "delete": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "description": "",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.tools.versions.delete",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "force": {
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE"
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.tools.create",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/tools"
                    },
                    "export": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools:export",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.tools.export",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportToolsRequest"
                      },
                      "path": "v3beta1/{+parent}/tools:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": ""
                    },
                    "delete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.tools.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/tools",
                      "id": "dialogflow.projects.locations.agents.tools.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListToolsResponse"
                      }
                    },
                    "patch": {
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.tools.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}"
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.tools.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
                      }
                    }
                  }
                },
                "sessions": {
                  "resources": {
                    "entityTypes": {
                      "methods": {
                        "create": {
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+parent}/entityTypes",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.create",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes"
                        },
                        "delete": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": ""
                        },
                        "list": {
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                          },
                          "path": "v3beta1/{+parent}/entityTypes",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.list",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes"
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.patch",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "submitAnswerFeedback": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:submitAnswerFeedback",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:submitAnswerFeedback",
                      "id": "dialogflow.projects.locations.agents.sessions.submitAnswerFeedback",
                      "parameters": {
                        "session": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "serverStreamingDetectIntent": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.sessions.serverStreamingDetectIntent",
                      "parameters": {
                        "session": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:serverStreamingDetectIntent",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:serverStreamingDetectIntent"
                    },
                    "fulfillIntent": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:fulfillIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.fulfillIntent",
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:fulfillIntent"
                    },
                    "matchIntent": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:matchIntent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:matchIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.matchIntent",
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                      }
                    },
                    "detectIntent": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:detectIntent",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.sessions.detectIntent",
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:detectIntent"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.entityTypes.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.entityTypes.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}"
                    },
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse"
                      },
                      "path": "v3beta1/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.entityTypes.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "import": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.entityTypes.import",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/entityTypes:import"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "path": "v3beta1/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete",
                      "parameters": {
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}"
                    },
                    "export": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:export",
                      "id": "dialogflow.projects.locations.agents.entityTypes.export",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/entityTypes:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": ""
                    }
                  }
                },
                "transitionRouteGroups": {
                  "methods": {
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.get",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups"
                    },
                    "patch": {
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups"
                    },
                    "delete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.delete",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                },
                "playbooks": {
                  "resources": {
                    "examples": {
                      "methods": {
                        "list": {
                          "path": "v3beta1/{+parent}/examples",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.list",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListExamplesResponse"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples"
                        },
                        "patch": {
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "httpMethod": "PATCH",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}"
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+parent}/examples",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "httpMethod": "POST",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples"
                        },
                        "delete": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.delete",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": ""
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}"
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "get": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions/{versionsId}",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
                          },
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
[...]
