{
  "title": "Dialogflow API",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "dialogflow",
  "version": "v2",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "properties": {
        "responseType": {
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        },
        "channel": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage"
    },
    "GoogleCloudDialogflowV2Context": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2Context"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersRequest": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest",
      "type": "object",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "properties": {
        "step": {
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "properties": {
        "errorMessage": {
          "type": "string"
        },
        "certificateState": {
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation": {
      "properties": {
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "entityId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "type": "object",
      "properties": {
        "triggeringEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2Environment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Environment",
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "agentVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig",
      "properties": {
        "accuracyEvaluationVersion": {
          "type": "string",
          "deprecated": true
        },
        "enableCompletenessEvaluation": {
          "deprecated": true,
          "type": "boolean"
        },
        "completenessEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        },
        "evaluatorVersion": {
          "type": "string"
        },
        "enableAccuracyEvaluation": {
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse",
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest": {
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest",
      "type": "object",
      "properties": {
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "properties": {
        "exactSearch": {
          "type": "boolean"
        },
        "latestMessage": {
          "type": "string"
        },
        "query": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "conversation": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "querySource": {
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
    },
    "GoogleCloudDialogflowV2FreeFormContext": {
      "id": "GoogleCloudDialogflowV2FreeFormContext",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListVersionsResponse": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs",
      "type": "object",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "type": "object",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback",
      "properties": {
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "answerCopied": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "properties": {
        "buttonId": {
          "type": "string"
        },
        "endpointDomain": {
          "type": "string"
        },
        "organizationId": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "id": "GoogleCloudDialogflowV2Sentiment",
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationModelsResponse",
      "type": "object",
      "properties": {
        "conversationModels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModel"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextInput"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric": {
      "properties": {
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "question": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "name": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "entityTypeDisplayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationContextReference": {
      "id": "GoogleCloudDialogflowV2ConversationContextReference",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "contextContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent"
          }
        },
        "updateMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2SpeechToTextConfig": {
      "id": "GoogleCloudDialogflowV2SpeechToTextConfig",
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "languageCode": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "speechModelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestError"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection": {
      "properties": {
        "summary": {
          "readOnly": true,
          "type": "string"
        },
        "section": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version",
      "properties": {
        "versionNumber": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "triggerEvents": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AutomatedAgentReply": {
      "type": "object",
      "properties": {
        "automatedAgentReplyType": {
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
        },
        "allowCancellation": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2AutomatedAgentReply"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig": {
      "properties": {
        "confidenceThreshold": {
          "format": "float",
          "type": "number"
        },
        "contextFilterSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
        },
        "documentQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
        },
        "sections": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections"
        },
        "maxResults": {
          "format": "int32",
          "type": "integer"
        },
        "knowledgeBaseQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
        },
        "dialogflowQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "properties": {
        "isAdherent": {
          "type": "boolean",
          "readOnly": true
        },
        "adherenceReasoning": {
          "type": "string",
          "readOnly": true
        },
        "point": {
          "type": "string",
          "readOnly": true
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolConnectorTool": {
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolConnectorToolAction"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolConnectorTool"
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
    },
    "GoogleCloudDialogflowV2Agent": {
      "type": "object",
      "properties": {
        "defaultLanguageCode": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "matchMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "deprecated": true
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        },
        "description": {
          "type": "string"
        },
        "tier": {
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableLogging": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "parent": {
          "type": "string"
        },
        "apiVersion": {
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Agent"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "properties": {
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechContext": {
      "id": "GoogleCloudDialogflowV2SpeechContext",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest": {
      "properties": {
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "suggestionFeatureConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig": {
      "id": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig",
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2AnswerRecord": {
      "properties": {
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2AnswerFeedback"
        },
        "agentAssistantRecord": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentAssistantRecord"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnswerRecord"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2DocumentReloadStatus": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DocumentReloadStatus",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "time": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig",
      "properties": {
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2SuggestionFeature"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        },
        "suggestionTriggerEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ]
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2RaiSettings"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowV2ToolServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "properties": {
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "properties": {
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "properties": {
        "documentProcessingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "dataStoreType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        },
        "dataStore": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "type": "object",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition",
      "properties": {
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "isAccurate": {
          "type": "boolean",
          "readOnly": true
        },
        "accuracyReasoning": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
    },
    "GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "id": "GoogleCloudDialogflowV2ReloadDocumentRequest",
      "properties": {
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        },
        "contentUri": {
          "type": "string"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListSipTrunksResponse": {
      "id": "GoogleCloudDialogflowV2ListSipTrunksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sipTrunks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipTrunk"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "properties": {
        "summary": {
          "type": "string"
        },
        "section": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "thumbnailUri": {
          "type": "string"
        },
        "height": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ]
        },
        "fileUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "properties": {
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageEntry": {
      "properties": {
        "role": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageEntry"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "footer": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FewShotExample": {
      "type": "object",
      "properties": {
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2SummarizationSectionList"
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        },
        "extraInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2FewShotExample"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        },
        "queryText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowV2NotificationConfig": {
      "id": "GoogleCloudDialogflowV2NotificationConfig",
      "properties": {
        "topic": {
          "type": "string"
        },
        "messageFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_FORMAT_UNSPECIFIED",
            "PROTO",
            "JSON"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "properties": {
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "similarityScore": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric": {
      "properties": {
        "metric": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "properties": {
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "transcript": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig",
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "secretVersionForApiKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GcsSources": {
      "id": "GoogleCloudDialogflowV2GcsSources",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "condition": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswer": {
      "properties": {
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "answerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ]
        },
        "answerSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AnswerFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnswerFeedback",
      "properties": {
        "clickTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "correctnessLevel": {
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "clicked": {
          "type": "boolean"
        },
        "displayed": {
          "type": "boolean"
        },
        "agentAssistantDetailFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedback"
        }
      }
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams",
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phoneticEncoding": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ]
        },
        "phrase": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationDataset": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "inputConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "conversationInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationInfo"
        },
        "conversationCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationDataset"
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListContextsResponse",
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "endOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "properties": {
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "isFallback": {
          "type": "boolean"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "mlEnabled": {
          "type": "boolean",
          "deprecated": true
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Intent"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolFunctionTool": {
      "id": "GoogleCloudDialogflowV2ToolFunctionTool",
      "type": "object",
      "properties": {
        "methodType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METHOD_TYPE_UNSPECIFIED",
            "GET",
            "POST",
            "PUT",
            "DELETE",
            "PATCH"
          ]
        },
        "inputSchema": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ListToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Tool"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListToolsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics": {
      "id": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics",
      "properties": {
        "n": {
          "format": "int32",
          "type": "integer"
        },
        "recall": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "properties": {
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventInput"
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ]
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "properties": {
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "type": "object",
      "properties": {
        "validationErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "queryText": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
[...]
