{
  "revision": "20260629",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v3",
  "version_module": true,
  "title": "Dialogflow API",
  "discoveryVersion": "v1",
  "name": "dialogflow",
  "batchPath": "batch",
  "canonicalName": "Dialogflow",
  "kind": "discovery#restDescription",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseRequest",
      "properties": {
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "action": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        },
        "queryText": {
          "type": "string"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPhrase": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPhrase",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestRequest": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "object",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookInvocation": {
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookInvocation"
    },
    "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig",
      "properties": {
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        },
        "imageUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "type": "object",
      "properties": {
        "answer": {
          "type": "string"
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
          }
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "searchSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
          }
        },
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "answerParts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval": {
      "properties": {
        "confidenceLevel": {
          "type": "number",
          "format": "double"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "properties": {
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType"
    },
    "GoogleCloudDialogflowCxV3CompareVersionsRequest": {
      "id": "GoogleCloudDialogflowCxV3CompareVersionsRequest",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource": {
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource",
      "properties": {
        "trackingBranch": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfig",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeploymentResult": {
      "type": "object",
      "properties": {
        "deploymentTestResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "experiment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeploymentResult"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaType": {
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "cardOrientation": {
          "type": "string",
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings": {
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListToolVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListToolVersionsResponse",
      "properties": {
        "toolVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "object",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "properties": {
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AgentClientCertificateSettings": {
      "properties": {
        "privateKey": {
          "type": "string"
        },
        "sslCertificate": {
          "type": "string"
        },
        "passphrase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "properties": {
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          }
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "webhook": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "tag": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "event": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "triggerIntent": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "id": "GoogleCloudDialogflowCxV3FilterSpecs",
      "properties": {
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "id": "GoogleCloudDialogflowCxV3Intent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          }
        },
        "description": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "properties": {
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "object",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "properties": {
        "cesToolset": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cesApp": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
    },
    "GoogleCloudDialogflowCxV3TraceBlock": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TraceBlock",
      "properties": {
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "playbookTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookTraceMetadata"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "flowTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3FlowTraceMetadata"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "speechProcessingMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings": {
      "type": "object",
      "properties": {
        "disableDataStoreFallback": {
          "type": "boolean"
        },
        "business": {
          "type": "string"
        },
        "agentIdentity": {
          "type": "string"
        },
        "agentScope": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "businessDescription": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "sipUri": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "languageCode": {
          "type": "string"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GeneratorPlaceholder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GeneratorPlaceholder"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthentication": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthentication",
      "properties": {
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "properties": {
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowCxV3Match": {
      "properties": {
        "event": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "resolvedInput": {
          "type": "string"
        },
        "matchType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "INTENT",
            "DIRECT_INTENT",
            "PARAMETER_FILLING",
            "NO_MATCH",
            "NO_INPUT",
            "EVENT",
            "KNOWLEDGE_CONNECTOR",
            "PLAYBOOK"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3Match",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals": {
      "type": "object",
      "properties": {
        "decision": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ]
        },
        "bannedPhraseMatch": {
          "type": "string",
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "matchedBannedPhrase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings": {
      "type": "object",
      "properties": {
        "audioFormat": {
          "type": "string",
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "gcsBucket": {
          "type": "string"
        },
        "storeTtsAudio": {
          "type": "boolean"
        },
        "audioExportPattern": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "question": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettings": {
      "id": "GoogleCloudDialogflowCxV3SecuritySettings",
      "properties": {
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings"
        },
        "inspectTemplate": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "redactionScope": {
          "type": "string",
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "purgeDataTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ]
          }
        },
        "name": {
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "retentionWindowDays": {
          "type": "integer",
          "format": "int32"
        },
        "redactionStrategy": {
          "type": "string",
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "retentionStrategy": {
          "type": "string",
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookInstruction",
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "properties": {
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesRequest": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ]
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse": {
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "object",
      "properties": {
        "dataStore": {
          "type": "string"
        },
        "documentProcessingMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStoreType": {
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
    },
    "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse",
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CompareVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CompareVersionsResponse",
      "properties": {
        "baseVersionContentJson": {
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportFlowRequest",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3FlowImportStrategy"
        },
        "flowUri": {
          "type": "string"
        },
        "importOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "properties": {
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "source": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "type": "object",
      "properties": {
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        },
        "snippetIndex": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "object",
      "properties": {
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessage"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Action": {
      "id": "GoogleCloudDialogflowCxV3Action",
      "properties": {
        "toolUse": {
          "$ref": "GoogleCloudDialogflowCxV3ToolUse"
        },
        "flowInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3FlowInvocation"
        },
        "playbookInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInvocation"
        },
        "flowTransition": {
          "$ref": "GoogleCloudDialogflowCxV3FlowTransition"
        },
        "userUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3UserUtterance"
        },
        "agentUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3AgentUtterance"
        },
        "playbookTransition": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookTransition"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "state": {
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreTool": {
      "type": "object",
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreTool"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Form"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "type": "object",
      "properties": {
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentCoverageIntent": {
      "type": "object",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
    },
    "GoogleCloudDialogflowCxV3Generator": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Generator",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3Phrase"
        },
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3GeneratorModelParameter"
        },
        "name": {
          "type": "string"
        },
        "placeholders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3GeneratorPlaceholder"
          }
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata"
    },
    "GoogleCloudDialogflowCxV3EntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "excludedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase"
          }
        },
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          }
        },
        "redact": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RolloutConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RolloutConfig",
      "properties": {
        "rolloutSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep"
          }
        },
        "failureCondition": {
          "type": "string"
        },
        "rolloutCondition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "model": {
          "type": "string"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GcsDestination"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "type": "object",
      "properties": {
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "requestBody": {
          "type": "string"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "httpMethod": {
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "uri": {
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "webhookType": {
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAgentAuth": {
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "type": "object",
      "properties": {
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage"
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "id": "GoogleCloudDialogflowCxV3VariantsHistory",
      "properties": {
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListIntentsResponse": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent",
      "properties": {
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        },
        "conversation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "properties": {
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExperimentResult",
      "properties": {
        "versionMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3ToolOpenApiTool": {
      "properties": {
        "authentication": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthentication"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig"
        },
        "textSchema": {
          "type": "string"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolOpenApiTool",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListFlowsResponse": {
      "properties": {
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Flow"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListFlowsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "type": "object",
      "properties": {
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "description": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Page"
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "properties": {
        "responseId": {
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest",
[...]
