{
  "version_module": true,
  "canonicalName": "Dialogflow",
  "basePath": "",
  "title": "Dialogflow API",
  "ownerDomain": "google.com",
  "id": "dialogflow:v3beta1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "rootUrl": "https://dialogflow.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "name": "dialogflow",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig": {
      "properties": {
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter": {
      "type": "object",
      "properties": {
        "category": {
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "filterLevel": {
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInput": {
      "properties": {
        "precedingConversationSummary": {
          "type": "string"
        },
        "actionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInput"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest",
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "targetEntityType": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "description": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Page"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ListContinuousTestResultsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "continuousTestResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListContinuousTestResultsResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "properties": {
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "type": "object",
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent": {
      "properties": {
        "intent": {
          "type": "string"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
    },
    "GoogleCloudDialogflowCxV3beta1Match": {
      "id": "GoogleCloudDialogflowCxV3beta1Match",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "INTENT",
            "DIRECT_INTENT",
            "PARAMETER_FILLING",
            "NO_MATCH",
            "NO_INPUT",
            "EVENT",
            "KNOWLEDGE_CONNECTOR",
            "PLAYBOOK"
          ]
        },
        "resolvedInput": {
          "type": "string"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals",
      "type": "object",
      "properties": {
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "answerParts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart"
          }
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals"
        },
        "answer": {
          "type": "string"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals"
        },
        "searchSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet"
          }
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet"
          }
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookStep": {
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest",
      "type": "object",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        },
        "persistParameterChanges": {
          "type": "boolean"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetrics": {
      "type": "object",
      "properties": {
        "matchTypeCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount"
        },
        "outputAudioDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "queryInputCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount"
        },
        "hasLiveAgentHandoff": {
          "type": "boolean"
        },
        "hasEndInteraction": {
          "type": "boolean"
        },
        "averageMatchConfidence": {
          "type": "number",
          "format": "float"
        },
        "interactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "maxWebhookLatency": {
          "type": "string",
          "format": "google-duration"
        },
        "inputAudioDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetrics"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings",
      "properties": {
        "enableSpeechAdaptation": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EventInput"
    },
    "GoogleCloudDialogflowCxV3beta1FlowImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy",
      "properties": {
        "globalImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "properties": {
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        },
        "tag": {
          "type": "string"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation",
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionEntityType",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "properties": {
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "channel": {
          "type": "string"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "currentPage": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverage",
      "type": "object",
      "properties": {
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "type": "object",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "object",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowCxV3beta1ListFlowsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListFlowsResponse",
      "properties": {
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Playbook": {
      "properties": {
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Handler"
          }
        },
        "referencedFlows": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction"
        },
        "referencedPlaybooks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3beta1CodeBlock"
        },
        "displayName": {
          "type": "string"
        },
        "goal": {
          "type": "string"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "referencedTools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inlineActions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "playbookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ]
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "tokenCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Playbook"
    },
    "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition",
      "type": "object",
      "properties": {
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
        },
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        },
        "covered": {
          "type": "boolean"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig",
      "type": "object",
      "properties": {
        "oauth2JwtBearerConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig"
        },
        "oauth2AuthCodeConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest": {
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings",
      "type": "object",
      "properties": {
        "categoryFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1Generator": {
      "id": "GoogleCloudDialogflowCxV3beta1Generator",
      "type": "object",
      "properties": {
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Phrase"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "placeholders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage",
      "type": "object",
      "properties": {
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
        },
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "type": "object",
      "properties": {
        "oauthGrantType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "properties": {
        "session": {
          "type": "string"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "toolDisplayName": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "cesApp": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Conversation": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "duration": {
          "type": "string",
          "format": "google-duration"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUDIO",
            "TEXT",
            "UNDETERMINED"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
          }
        },
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
          }
        },
        "interactions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteraction"
          }
        },
        "flowVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "name": {
          "type": "string"
        },
        "metrics": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetrics"
        },
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Conversation"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse",
      "type": "object",
      "properties": {
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3beta1Agent": {
      "id": "GoogleCloudDialogflowCxV3beta1Agent",
      "properties": {
        "defaultLanguageCode": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "avatarUri": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentPersonalizationSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings"
        },
        "startPlaybook": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "enableStackdriverLogging": {
          "deprecated": true,
          "type": "boolean"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings"
        },
        "startFlow": {
          "type": "string"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings"
        },
        "name": {
          "type": "string"
        },
        "bigqueryExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings"
        },
        "securitySettings": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowV2Message": {
      "id": "GoogleCloudDialogflowV2Message",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "content": {
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object",
      "properties": {
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityType": {
      "id": "GoogleCloudDialogflowCxV3beta1EntityType",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "excludedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition",
      "properties": {
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "properties": {
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolTLSConfigCACert",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "type": "object",
      "properties": {
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionTTS": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionTTS"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig",
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "requestLocation": {
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResult": {
      "properties": {
        "versionMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResult"
    },
    "GoogleCloudDialogflowV2Intent": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "resetContexts": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "name": {
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Intent"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1QueryParameters": {
      "type": "object",
      "properties": {
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SearchConfig"
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "currentPage": {
          "type": "string"
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "timeZone": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "channel": {
          "type": "string"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "parameterScope": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1QueryParameters"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode",
      "type": "object",
      "properties": {
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse",
      "properties": {
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "baseVersionContentJson": {
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "participantRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings",
      "properties": {
        "engine": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DetectIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest",
      "properties": {
        "session": {
          "type": "string"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "responseView": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DETECT_INTENT_RESPONSE_VIEW_UNSPECIFIED",
            "DETECT_INTENT_RESPONSE_VIEW_FULL",
            "DETECT_INTENT_RESPONSE_VIEW_BASIC",
            "DETECT_INTENT_RESPONSE_VIEW_DEFAULT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ParameterDefinition": {
      "type": "object",
      "properties": {
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchema"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "object",
      "properties": {
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "properties": {
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ]
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount": {
      "properties": {
        "parameterFillingCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        },
        "noMatchCount": {
          "type": "integer",
          "format": "int32"
        },
        "directIntentCount": {
          "type": "integer",
          "format": "int32"
        },
        "noInputCount": {
          "type": "integer",
          "format": "int32"
        },
        "unspecifiedCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse",
      "type": "object",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "transcript": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination": {
      "properties": {
        "commitMessage": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        },
        "name": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "description": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Page"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "properties": {
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest",
      "type": "object",
      "properties": {
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "entityTypesContentInline": {
          "type": "boolean"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypesUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
[...]
