{
  "canonicalName": "Dialogflow",
  "protocol": "rest",
  "batchPath": "batch",
  "servicePath": "",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260916",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    }
  },
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "id": "dialogflow:v2beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://dialogflow.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "version": "v2beta1",
  "basePath": "",
  "title": "Dialogflow API",
  "schemas": {
    "GoogleCloudDialogflowV2SessionEntityType": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SessionEntityType"
    },
    "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader": {
      "id": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResult": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResult",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        },
        "decompositions": {
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition"
          }
        },
        "sessionId": {
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        },
        "metric": {
          "readOnly": true,
          "type": "string"
        },
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "properties": {
        "title": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "properties": {
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "displayName": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "type": "object",
      "properties": {
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BargeInConfig"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FewShotExample": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FewShotExample",
      "properties": {
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationSectionList"
        },
        "extraInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationContext"
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse",
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1OutputAudio": {
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OutputAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "properties": {
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListMessagesResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListMessagesResponse",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Message"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cesTool": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection",
      "properties": {
        "documentProcessingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string"
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "dataStore": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedback": {
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback",
      "properties": {
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback"
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback"
        },
        "documentCorrectness": {
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "documentEfficiency": {
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "answerRelevance": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ]
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EventInput",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchAgentsResponse": {
      "properties": {
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "triggeringEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListSipTrunksResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListSipTrunksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sipTrunks": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolConnectorTool": {
      "type": "object",
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ToolConnectorToolAction"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolConnectorTool"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "transcript": {
          "type": "string"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "languageCode": {
          "type": "string"
        },
        "stability": {
          "format": "float",
          "type": "number"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "isFinal": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
      "properties": {
        "voice": {
          "$ref": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pronunciations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CustomPronunciationParams"
          }
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ]
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail",
      "type": "object",
      "properties": {
        "metricDetails": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "readOnly": true,
          "type": "array"
        },
        "messageEntries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1MessageEntry"
          }
        },
        "summarySections": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        },
        "sectionTokens": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "properties": {
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "followupIntentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "readOnly": true
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          }
        },
        "displayName": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig": {
      "type": "object",
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig"
    },
    "GoogleCloudDialogflowV2beta1CesToolSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CesToolSpec",
      "properties": {
        "confirmationRequirement": {
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "properties": {
        "description": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Page"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "sortedTextSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection"
          },
          "type": "array"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest",
      "properties": {
        "previousSuggestedQuery": {
          "type": "string"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "id": "GoogleCloudDialogflowCxV3Intent",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest": {
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListPhoneNumbersResponse": {
      "properties": {
        "phoneNumbers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListPhoneNumbersResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest",
      "type": "object",
      "properties": {
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "properties": {
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "channel": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationLocation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "displayName": {
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "properties": {
        "answerCopied": {
          "type": "boolean"
        },
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventInput"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "object",
      "properties": {
        "recentSentencesCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AudioInput": {
      "id": "GoogleCloudDialogflowV2beta1AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ProbeDetails": {
      "id": "GoogleCloudDialogflowV2beta1ProbeDetails",
      "type": "object",
      "properties": {
        "initTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "probeStatus": {
          "enum": [
            "PROBE_STATUS_UNSPECIFIED",
            "PROBE_STATUS_SUCCESS",
            "PROBE_STATUS_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "optionsLatency": {
          "type": "string",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SipConfig": {
      "id": "GoogleCloudDialogflowV2beta1SipConfig",
      "properties": {
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        },
        "copyInboundCallLegHeaders": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        },
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "maxAudioRecordingDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "keepConversationRunning": {
          "type": "boolean"
        },
        "inactiveStart": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "properties": {
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "transcript": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        },
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "maxDigits": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "languageCode": {
          "type": "string"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryInput"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "properties": {
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "containEntities": {
          "type": "boolean"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionResponse",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object",
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "displayName": {
          "type": "string"
        },
        "currentPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback": {
      "properties": {
        "startTimestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "submitTimestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "summaryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination"
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest",
      "type": "object",
      "properties": {
        "entityValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListDocumentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Document"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "properties": {
        "uri": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "object",
      "properties": {
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "endOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "properties": {
        "dtmfDigits": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "triggerIntent": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "transcript": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Tool"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListToolsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Version",
      "properties": {
        "versionNumber": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationSection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationSection",
      "properties": {
        "key": {
          "type": "string"
        },
        "definition": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig": {
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken",
      "properties": {
        "section": {
          "type": "string",
          "readOnly": true
        },
        "tokenCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "webhook": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "tag": {
          "type": "string"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingContext": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "overarchingGuidance": {
          "type": "string"
        },
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          }
        },
        "outputLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingContext"
    },
    "GoogleCloudDialogflowV2beta1SuggestionFaqAnswer": {
      "properties": {
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionFaqAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "footer": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "differences": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "conversationProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "properties": {
        "answerCopied": {
          "type": "boolean"
        },
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "agentAction": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "id": "GoogleCloudDialogflowV2beta1Context",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Version"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Conversation": {
      "properties": {
        "initialGeneratorContexts": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationGeneratorContext"
          },
          "type": "object",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "telephonyConnectionInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo",
          "readOnly": true
        },
        "conversationProfile": {
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "conversationStage": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONVERSATION_STAGE_UNSPECIFIED",
            "VIRTUAL_AGENT_STAGE",
            "HUMAN_ASSIST_STAGE"
          ]
        },
        "ingestedContextReferences": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReference"
          }
        },
        "phoneNumber": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationPhoneNumber",
          "readOnly": true
        },
        "lifecycleState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "initialConversationProfile": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
        }
      },
[...]
