{
  "ownerDomain": "google.com",
  "id": "dialogflow:v3beta1",
  "servicePath": "",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Dialogflow API",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "version": "v3beta1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "batchPath": "batch",
  "canonicalName": "Dialogflow",
  "revision": "20260703",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "type": "object",
      "properties": {
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "answerText": {
          "type": "string"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "properties": {
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy": {
      "type": "object",
      "properties": {
        "nestedResourceImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "mainPlaybookImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "toolImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
    },
    "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ServiceLatency"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GcsDestination"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse",
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition": {
      "type": "object",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings",
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ],
          "type": "string"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "properties": {
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          }
        },
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListPagesResponse": {
      "type": "object",
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListPagesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings",
      "properties": {
        "storeTtsAudio": {
          "type": "boolean"
        },
        "audioExportPattern": {
          "type": "string"
        },
        "gcsBucket": {
          "type": "string"
        },
        "audioFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ]
        },
        "enableAudioRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "content": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse",
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpec": {
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpec"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric",
      "properties": {
        "countType": {
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ]
        },
        "count": {
          "type": "number",
          "format": "double"
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Status": {
      "id": "GoogleCloudDialogflowCxV3beta1Status",
      "properties": {
        "exception": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExceptionDetail"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "object",
      "properties": {
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "event": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentPersonalizationSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentPersonalizationSettings",
      "properties": {
        "defaultEndUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentDefinition": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariants"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentDefinition"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings": {
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "properties": {
        "mandatory": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayDetails": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mandatory": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination"
    },
    "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse": {
      "type": "object",
      "properties": {
        "experiments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse"
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "properties": {
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Deployment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Deployment",
      "properties": {
        "flowVersion": {
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbooks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookVersion": {
      "properties": {
        "examples": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "playbook": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookVersion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CodeBlock": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CodeBlock",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "similarityScore": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResult": {
      "type": "object",
      "properties": {
        "versionMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics"
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "type": "object",
      "properties": {
        "baseVersionContentJson": {
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "properties": {
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant",
      "properties": {
        "version": {
          "type": "string"
        },
        "trafficAllocation": {
          "type": "number",
          "format": "float"
        },
        "isControlGroup": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionTTS": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionTTS",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage": {
      "type": "object",
      "properties": {
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage"
          },
          "type": "array"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1StartExperimentRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "question": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "properties": {
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "transcript": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "messageType": {
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "properties": {
        "ingestionStatus": {
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "parameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings": {
      "type": "object",
      "properties": {
        "sslCertificate": {
          "type": "string"
        },
        "privateKey": {
          "type": "string"
        },
        "passphrase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings"
    },
    "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig": {
      "properties": {
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "effectsProfileId": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInvocation": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookOutput"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInput"
        },
        "playbook": {
          "type": "string"
        },
        "playbookState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInvocation"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams": {
      "id": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LoadVersionRequest": {
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LoadVersionRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "type": "object",
      "properties": {
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfo"
    },
    "GoogleCloudDialogflowCxV3beta1Handler": {
      "properties": {
        "lifecycleHandler": {
          "$ref": "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3beta1HandlerEventHandler"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Handler",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "object",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "type": "object",
      "properties": {
        "queryGenerationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowCxV3beta1OutputAudioConfig": {
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        }
      },
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "object",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Environment"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "properties": {
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "responseId": {
          "type": "string"
        },
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest": {
      "properties": {
        "environment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter": {
      "properties": {
        "maxDecodeSteps": {
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "type": "number",
          "format": "float"
        },
        "topK": {
          "type": "integer",
          "format": "int32"
        },
        "temperature": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "properties": {
        "answer": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "matchConfidenceLevel": {
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "lastMatchedIntent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest",
      "properties": {
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Match"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "type": "object",
      "properties": {
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Page"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "properties": {
        "summary": {
          "type": "string"
        },
        "section": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "type": "object",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest",
      "properties": {
        "playbookUri": {
          "type": "string"
        },
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "properties": {
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExceptionDetail",
      "properties": {
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCase"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals": {
      "properties": {
        "matchedBannedPhrase": {
          "type": "string"
        },
        "decision": {
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "bannedPhraseMatch": {
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "isFallback": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array"
        },
        "webhookState": {
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "type": "string"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "properties": {
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListToolsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListToolsResponse",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace",
      "properties": {
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "toolVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "type": "object",
      "properties": {
        "triggerIntent": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "text": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition": {
      "properties": {
        "intentDisplayName": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmModelSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LlmModelSettings",
      "properties": {
        "promptText": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "parameters": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
[...]
