{
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260815",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "servicePath": "",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportToolsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportToolsRequest",
      "type": "object",
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toolsUri": {
          "type": "string"
        },
        "toolsContentInline": {
          "type": "boolean"
        },
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "type": "object",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent": {
      "properties": {
        "generativeFallback": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "intentId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "properties": {
        "toolVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "generator": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings",
      "type": "object",
      "properties": {
        "synthesizeSpeechConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount",
      "type": "object",
      "properties": {
        "noMatchCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameterFillingCount": {
          "type": "integer",
          "format": "int32"
        },
        "unspecifiedCount": {
          "type": "integer",
          "format": "int32"
        },
        "directIntentCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        },
        "noInputCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettings": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "redactionScope": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ]
        },
        "retentionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ]
        },
        "name": {
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string"
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings"
        },
        "purgeDataTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "enumDescriptions": [
              "",
              ""
            ]
          }
        },
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "retentionWindowDays": {
          "type": "integer",
          "format": "int32"
        },
        "redactionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "properties": {
        "targetVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "baseVersionContentJson": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AgentValidationResult": {
      "properties": {
        "name": {
          "type": "string"
        },
        "flowValidationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FlowValidationResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        },
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FlowImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy",
      "type": "object",
      "properties": {
        "globalImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet",
      "type": "object",
      "properties": {
        "snippetIndex": {
          "type": "integer",
          "format": "int32"
        },
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "transcript": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "messageType": {
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler",
      "type": "object",
      "properties": {
        "lifecycleStage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowV2Context": {
      "id": "GoogleCloudDialogflowV2Context",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "properties": {
        "name": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "disabled": {
          "type": "boolean"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "latency": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInvocation": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInvocation",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookOutput"
        },
        "playbookState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "playbook": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInput"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1SentimentAnalysisResult",
      "type": "object",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant": {
      "properties": {
        "version": {
          "type": "string"
        },
        "trafficAllocation": {
          "type": "number",
          "format": "float"
        },
        "isControlGroup": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "type": "object",
      "properties": {
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsPromptSecuritySettings": {
      "properties": {
        "enablePromptSecurity": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsPromptSecuritySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1StartExperimentRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "id": "GoogleCloudDialogflowCxV3beta1UserUtterance",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "audioTokens": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Generator": {
      "id": "GoogleCloudDialogflowCxV3beta1Generator",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Phrase"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "displayName": {
          "type": "string"
        },
        "placeholders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "type": "object",
      "properties": {
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals": {
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "GROUNDING_SCORE_BUCKET_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "decision": {
          "type": "string",
          "enum": [
            "GROUNDING_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_GROUNDING",
            "REJECTED_BY_GROUNDING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse",
      "type": "object",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage": {
      "properties": {
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
          }
        },
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object",
      "properties": {
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource"
        },
        "restoreOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest": {
      "properties": {
        "playbookContent": {
          "type": "string",
          "format": "byte"
        },
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
        },
        "playbookUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter": {
      "properties": {
        "temperature": {
          "type": "number",
          "format": "float"
        },
        "maxDecodeSteps": {
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "type": "number",
          "format": "float"
        },
        "topK": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "description": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion",
      "type": "object",
      "properties": {
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
          }
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
          }
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListVersionsResponse": {
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "finishDigit": {
          "type": "string"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "type": "object",
      "properties": {
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "properties": {
        "name": {
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource": {
      "properties": {
        "trackingBranch": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig": {
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        },
        "imageDisplayOptions": {
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "differences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          },
          "readOnly": true
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "properties": {
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "isFallback": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest": {
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "type": "object",
      "properties": {
        "ingestionStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        },
        "parameter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInstruction": {
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "responseId": {
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "resourceNames": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResourceName"
          },
          "type": "array"
        },
        "detail": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ValidationMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse": {
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "properties": {
        "horizontalAlignment": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        },
        "header": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "properties": {
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "properties": {
        "apiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3TurnSignals",
      "type": "object",
      "properties": {
        "userEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "noMatch": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "properties": {
        "formattedText": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse",
      "type": "object",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Match"
          }
        },
        "text": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "value": {
          "type": "any"
        },
        "justCollected": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1RolloutState": {
      "id": "GoogleCloudDialogflowCxV3beta1RolloutState",
      "type": "object",
      "properties": {
        "step": {
          "type": "string"
        },
        "stepIndex": {
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Phrase": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Phrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "type": "object",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings",
      "type": "object",
      "properties": {
        "engine": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse": {
      "properties": {
        "testCaseResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest",
      "type": "object",
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace": {
      "properties": {
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent",
      "type": "object",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        },
        "participant": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResult",
      "type": "object",
      "properties": {
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "versionMetrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "id": "GoogleCloudDialogflowV2ConversationModel",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "datasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "type": "array"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings": {
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "word": {
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample": {
      "properties": {
        "matchedRetrievalLabel": {
          "type": "string"
        },
        "exampleId": {
          "type": "string"
        },
        "exampleDisplayName": {
          "type": "string"
        },
        "retrievalStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RETRIEVAL_STRATEGY_UNSPECIFIED",
            "DEFAULT",
            "STATIC",
            "NEVER"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "text": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "languageCode": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings": {
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "bigqueryTable": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object",
      "properties": {
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "properties": {
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Experiment": {
      "properties": {
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RolloutState"
        },
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RolloutConfig"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentDefinition"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResult"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "variantsHistory": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1VariantsHistory"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Experiment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "properties": {
        "articleAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ArticleAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestArticlesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolFunctionTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool",
      "type": "object",
      "properties": {
        "inputSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "outputSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "question": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1NamedMetric": {
      "id": "GoogleCloudDialogflowCxV3beta1NamedMetric",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata": {
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest",
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecs": {
      "properties": {
        "spec": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpec"
          }
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecs",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "properties": {
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListConversationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Conversation"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListConversationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "type": "object",
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object",
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "fieldName": {
          "type": "string"
        },
        "attributeType": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "properties": {
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string"
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "properties": {
        "parameter": {
          "type": "string"
        },
[...]
