{
  "batchPath": "batch",
  "canonicalName": "Dialogflow",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "name": "dialogflow",
  "protocol": "rest",
  "title": "Dialogflow API",
  "discoveryVersion": "v1",
  "version": "v2",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "setAgent": {
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.setAgent",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "description": ""
        },
        "deleteAgent": {
          "httpMethod": "DELETE",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "description": "",
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.deleteAgent"
        },
        "getAgent": {
          "id": "dialogflow.projects.getAgent",
          "parameterOrder": [
            "parent"
          ],
          "description": "",
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "flatPath": "v2/projects/{projectsId}/agent",
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "description": "",
              "path": "v2/{+parent}/suggestions:generateStatelessSummary",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.suggestions.generateStatelessSummary"
            },
            "searchKnowledge": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "",
              "path": "v2/{+parent}/suggestions:searchKnowledge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              },
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.suggestions.searchKnowledge"
            }
          }
        },
        "answerRecords": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.answerRecords.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "flatPath": "v2/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "description": "",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/answerRecords",
              "description": "",
              "path": "v2/{+parent}/answerRecords",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.answerRecords.list"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "",
              "path": "v2/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/operations"
            },
            "cancel": {
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "description": "",
              "path": "v2/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "dialogflow.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.operations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "conversations": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversations.create",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "httpMethod": "POST",
              "parameters": {
                "conversationId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "path": "v2/{+parent}/conversations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "flatPath": "v2/projects/{projectsId}/conversations"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversations.get"
            },
            "list": {
              "path": "v2/{+parent}/conversations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversations",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversations.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "complete": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
              },
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}:complete",
              "description": "",
              "path": "v2/{+name}:complete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversations.complete"
            }
          },
          "resources": {
            "messages": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.conversations.messages.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/messages"
                }
              }
            },
            "participants": {
              "methods": {
                "get": {
                  "id": "dialogflow.projects.conversations.participants.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  }
                },
                "create": {
                  "id": "dialogflow.projects.conversations.participants.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "path": "v2/{+parent}/participants",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  }
                },
                "patch": {
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "path": "v2/{+parent}/participants",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                  },
                  "id": "dialogflow.projects.conversations.participants.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "analyzeContent": {
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "parameterOrder": [
                    "participant"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "description": "",
                  "path": "v2/{+participant}:analyzeContent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                  }
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestArticles": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                      },
                      "path": "v2/{+parent}/suggestions:suggestArticles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "suggestFaqAnswers": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                      },
                      "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers"
                    },
                    "suggestSmartReplies": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "suggestKnowledgeAssist": {
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "suggestions": {
              "methods": {
                "suggestConversationSummary": {
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                  },
                  "path": "v2/{+conversation}/suggestions:suggestConversationSummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary"
                },
                "searchKnowledge": {
                  "parameterOrder": [
                    "conversation"
                  ],
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+conversation}/suggestions:searchKnowledge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                  }
                },
                "generate": {
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "description": "",
                  "path": "v2/{+conversation}/suggestions:generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "knowledgeBases": {
          "methods": {
            "list": {
              "id": "dialogflow.projects.knowledgeBases.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/knowledgeBases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "id": "dialogflow.projects.knowledgeBases.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "path": "v2/{+parent}/knowledgeBases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.knowledgeBases.patch"
            },
            "get": {
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "id": "dialogflow.projects.knowledgeBases.get",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "force": {
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.knowledgeBases.delete",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "import": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/documents:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}"
                },
                "export": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:export",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ExportDocumentRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/documents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.list"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.get"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/documents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.create"
                },
                "patch": {
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reload": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "description": "",
                  "path": "v2/{+name}:reload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.reload"
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "setAgent": {
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.locations.setAgent",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "description": "",
              "path": "v2/{+parent}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "getEncryptionSpec": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.locations.getEncryptionSpec",
              "response": {
                "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec"
            },
            "get": {
              "id": "dialogflow.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v2/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.locations.list"
            },
            "deleteAgent": {
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.locations.deleteAgent",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "path": "v2/{+parent}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent"
            },
            "getAgent": {
              "id": "dialogflow.projects.locations.getAgent",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent",
              "description": "",
              "path": "v2/{+parent}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Agent"
              }
            }
          },
          "resources": {
            "conversationModels": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.get"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/conversationModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.create"
                },
                "deploy": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:deploy",
                  "description": "",
                  "path": "v2/{+name}:deploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.deploy"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "path": "v2/{+parent}/conversationModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.list"
                },
                "undeploy": {
                  "id": "dialogflow.projects.locations.conversationModels.undeploy",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v2/{+name}:undeploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:undeploy",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationModels.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.list"
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "statelessSuggestion": {
              "methods": {
                "generate": {
                  "id": "dialogflow.projects.locations.statelessSuggestion.generate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/statelessSuggestion:generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/statelessSuggestion:generate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "generators": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.locations.generators.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/generators",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "dialogflow.projects.locations.generators.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/generators",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameters": {
                    "generatorId": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.generators.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  }
                },
                "get": {
                  "id": "dialogflow.projects.locations.generators.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  }
                },
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.generators.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.list"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.delete"
                    }
                  }
                }
              }
            },
            "conversationProfiles": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.conversationProfiles.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationProfiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles"
                },
                "create": {
                  "path": "v2/{+parent}/conversationProfiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationProfiles.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "id": "dialogflow.projects.locations.conversationProfiles.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  }
                },
                "get": {
                  "id": "dialogflow.projects.locations.conversationProfiles.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "setSuggestionFeatureConfig": {
                  "id": "dialogflow.projects.locations.conversationProfiles.setSuggestionFeatureConfig",
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "conversationProfile": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST"
                },
                "clearSuggestionFeatureConfig": {
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "id": "dialogflow.projects.locations.conversationProfiles.clearSuggestionFeatureConfig",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "conversationProfile": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig"
                },
                "delete": {
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.knowledgeBases.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "description": "",
                  "path": "v2/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "id": "dialogflow.projects.locations.knowledgeBases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.knowledgeBases.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "dialogflow.projects.locations.knowledgeBases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v2/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "id": "dialogflow.projects.locations.knowledgeBases.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "import": {
                      "description": "",
                      "path": "v2/{+parent}/documents:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.import",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
[...]
