{
  "revision": "20260919",
  "id": "dialogflow:v2",
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.operations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.list",
              "path": "v2/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations",
              "httpMethod": "GET"
            },
            "cancel": {
              "description": "",
              "id": "dialogflow.projects.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "path": "v2/{+name}:cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "conversationModels": {
          "resources": {
            "evaluations": {
              "methods": {
                "get": {
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.get"
                },
                "list": {
                  "path": "v2/{+parent}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.list"
                }
              }
            }
          },
          "methods": {
            "deploy": {
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
              },
              "id": "dialogflow.projects.conversationModels.deploy",
              "path": "v2/{+name}:deploy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "undeploy": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
              },
              "id": "dialogflow.projects.conversationModels.undeploy",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v2/{+name}:undeploy"
            },
            "create": {
              "httpMethod": "POST",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "id": "dialogflow.projects.conversationModels.create",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2/{+parent}/conversationModels",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "",
              "id": "dialogflow.projects.conversationModels.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/conversationModels",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "delete": {
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.delete",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "id": "dialogflow.projects.conversationModels.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "generators": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "generatorId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/generators",
              "request": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "description": "",
              "path": "v2/{+parent}/generators",
              "httpMethod": "POST",
              "id": "dialogflow.projects.generators.create"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/generators",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
              },
              "id": "dialogflow.projects.generators.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/generators",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "description": ""
            }
          }
        },
        "conversations": {
          "resources": {
            "participants": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/participants",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                  },
                  "id": "dialogflow.projects.conversations.participants.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "path": "v2/{+parent}/participants",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "id": "dialogflow.projects.conversations.participants.create",
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants"
                },
                "analyzeContent": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                  },
                  "path": "v2/{+participant}:analyzeContent",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                  },
                  "parameterOrder": [
                    "participant"
                  ],
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "get": {
                  "id": "dialogflow.projects.conversations.participants.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Participant"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestKnowledgeAssist": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                      },
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "httpMethod": "POST"
                    },
                    "suggestFaqAnswers": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                      }
                    },
                    "suggestArticles": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "path": "v2/{+parent}/suggestions:suggestArticles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "suggestSmartReplies": {
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                      "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                      }
                    }
                  }
                }
              }
            },
            "suggestions": {
              "methods": {
                "searchKnowledge": {
                  "path": "v2/{+conversation}/suggestions:searchKnowledge",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                  },
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                  }
                },
                "suggestConversationSummary": {
                  "path": "v2/{+conversation}/suggestions:suggestConversationSummary",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                  },
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "parameters": {
                    "conversation": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "conversation"
                  ]
                },
                "generate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "path": "v2/{+conversation}/suggestions:generate",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                  },
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": ""
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "id": "dialogflow.projects.conversations.messages.list",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/messages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversations",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
              },
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversations.list",
              "path": "v2/{+parent}/conversations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "id": "dialogflow.projects.conversations.get",
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversations.create",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversations",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "conversationId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversations"
            },
            "complete": {
              "id": "dialogflow.projects.conversations.complete",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversations/{conversationsId}:complete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Conversation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
              },
              "path": "v2/{+name}:complete"
            }
          }
        },
        "answerRecords": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/answerRecords",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.answerRecords.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/answerRecords",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "GET"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "description": "",
              "id": "dialogflow.projects.answerRecords.patch",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "description": "",
              "path": "v2/{+parent}/suggestions:generateStatelessSummary",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/suggestions:generateStatelessSummary",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "request": {
                "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
              }
            },
            "searchKnowledge": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/suggestions:searchKnowledge",
              "request": {
                "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/suggestions:searchKnowledge",
              "id": "dialogflow.projects.suggestions.searchKnowledge"
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "delete": {
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v2/{+parent}/conversationProfiles",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
              },
              "id": "dialogflow.projects.conversationProfiles.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "clearSuggestionFeatureConfig": {
              "parameterOrder": [
                "conversationProfile"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
              },
              "description": ""
            },
            "setSuggestionFeatureConfig": {
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "conversationProfile": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
              },
              "parameterOrder": [
                "conversationProfile"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.get",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}"
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "path": "v2/{+name}"
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "httpMethod": "POST",
              "path": "v2/{+parent}/conversationProfiles",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.create"
            }
          }
        },
        "locations": {
          "resources": {
            "generators": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.locations.generators.delete"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.patch",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.generators.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/generators",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.generators.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
                  }
                },
                "create": {
                  "path": "v2/{+parent}/generators",
                  "parameters": {
                    "generatorId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "create": {
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "path": "v2/{+parent}/evaluations",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.list"
                    },
                    "delete": {
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "tools": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "id": "dialogflow.projects.locations.tools.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "description": "",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.tools.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "description": "",
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.locations.tools.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  }
                },
                "create": {
                  "id": "dialogflow.projects.locations.tools.create",
                  "parameters": {
                    "toolId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools",
                  "path": "v2/{+parent}/tools",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Tool"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListToolsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.tools.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/tools",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/tools",
                  "description": ""
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "create": {
                  "id": "dialogflow.projects.locations.knowledgeBases.create",
                  "path": "v2/{+parent}/knowledgeBases",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.knowledgeBases.patch",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/knowledgeBases",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.knowledgeBases.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.delete"
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.delete",
                      "description": ""
                    },
                    "reload": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.reload",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}:reload"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.patch",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "description": ""
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "path": "v2/{+parent}/documents",
                      "description": ""
                    },
                    "import": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v2/{+parent}/documents:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.import"
                    },
                    "export": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ExportDocumentRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.export",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                        }
                      },
                      "path": "v2/{+name}:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "get": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.get",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "path": "v2/{+parent}/documents",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.create"
                    }
                  }
                }
              }
            },
            "statelessSuggestion": {
              "methods": {
                "generate": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.locations.statelessSuggestion.generate",
                  "path": "v2/{+parent}/statelessSuggestion:generate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/statelessSuggestion:generate"
                }
              }
            },
            "conversationModels": {
              "resources": {
                "evaluations": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.get",
                      "httpMethod": "GET",
                      "path": "v2/{+name}",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "path": "v2/{+parent}/evaluations"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/evaluations",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "path": "v2/{+parent}/conversationModels",
                  "id": "dialogflow.projects.locations.conversationModels.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "id": "dialogflow.projects.locations.conversationModels.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2/{+name}"
                },
                "deploy": {
                  "id": "dialogflow.projects.locations.conversationModels.deploy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:deploy",
                  "httpMethod": "POST",
                  "description": "",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2/{+name}:deploy"
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversationModels.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/conversationModels",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  }
                },
                "undeploy": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:undeploy",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.undeploy",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:undeploy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.conversationModels.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": ""
                }
              }
            },
            "suggestions": {
              "methods": {
                "generateStatelessSummary": {
                  "id": "dialogflow.projects.locations.suggestions.generateStatelessSummary",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/suggestions:generateStatelessSummary",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/suggestions:generateStatelessSummary"
                },
                "searchKnowledge": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
[...]
