{
  "revision": "20260703",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "id": "dialogflow.projects.operations.list",
              "httpMethod": "GET",
              "path": "v3/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v3/projects/{projectsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get"
            },
            "cancel": {
              "httpMethod": "POST",
              "id": "dialogflow.projects.operations.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "path": "v3/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "id": "dialogflow.projects.locations.get",
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "",
              "httpMethod": "GET",
              "id": "dialogflow.projects.locations.list"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "cancel": {
                  "description": "",
                  "path": "v3/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "",
                  "path": "v3/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.operations.list",
                  "httpMethod": "GET"
                }
              }
            },
            "securitySettings": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v3/{+parent}/securitySettings",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.locations.securitySettings.list",
                  "httpMethod": "GET",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+parent}/securitySettings",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListSecuritySettingsResponse"
                  },
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "httpMethod": "PATCH",
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3SecuritySettings"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "agents": {
              "resources": {
                "transitionRouteGroups": {
                  "methods": {
                    "patch": {
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.delete"
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.list",
                      "httpMethod": "GET",
                      "description": "",
                      "path": "v3/{+parent}/transitionRouteGroups",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/transitionRouteGroups",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.get",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "description": ""
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.webhooks.delete"
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "description": "",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.get",
                      "httpMethod": "GET"
                    }
                  }
                },
                "generators": {
                  "methods": {
                    "create": {
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/generators",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "description": "",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agents.generators.get",
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "description": "",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/generators",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListGeneratorsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.generators.list"
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.generators.delete",
                      "httpMethod": "DELETE"
                    },
                    "patch": {
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      }
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "description": "",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Changelog"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs/{changelogsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/changelogs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.changelogs.get",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.changelogs.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/changelogs",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListChangelogsResponse"
                      },
                      "description": ""
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "runContinuousTest": {
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunContinuousTestRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+environment}:runContinuousTest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "parameterOrder": [
                        "environment"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "environment": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/environments",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+parent}/environments",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "lookupEnvironmentHistory": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}:lookupEnvironmentHistory",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory"
                    },
                    "deployFlow": {
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DeployFlowRequest"
                      },
                      "parameters": {
                        "environment": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v3/{+environment}:deployFlow",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "parameterOrder": [
                        "environment"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    }
                  },
                  "resources": {
                    "sessions": {
                      "methods": {
                        "detectIntent": {
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "httpMethod": "POST",
                          "description": "",
                          "path": "v3/{+session}:detectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          }
                        },
                        "matchIntent": {
                          "parameters": {
                            "session": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v3/{+session}:matchIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          }
                        },
                        "serverStreamingDetectIntent": {
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:serverStreamingDetectIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "description": ""
                        },
                        "fulfillIntent": {
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "httpMethod": "POST",
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:fulfillIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "parameters": {
                            "session": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path"
                            }
                          }
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "path": "v3/{+parent}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "httpMethod": "POST"
                            },
                            "get": {
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v3/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "description": "",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "httpMethod": "GET"
                            },
                            "list": {
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "format": "int32",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                },
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "description": "",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v3/{+parent}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              }
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "description": "",
                              "path": "v3/{+name}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "patch": {
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                },
                                "updateMask": {
                                  "location": "query",
                                  "type": "string",
                                  "format": "google-fieldmask"
                                }
                              },
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v3/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "description": "",
                              "httpMethod": "PATCH",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              }
                            }
                          }
                        }
                      }
                    },
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/continuousTestResults",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          }
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/deployments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListDeploymentsResponse"
                          },
                          "description": "",
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list"
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "httpMethod": "GET",
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Deployment"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$"
                            }
                          }
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "delete": {
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "httpMethod": "DELETE"
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "description": ""
                        },
                        "start": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "httpMethod": "POST",
                          "path": "v3/{+name}:start",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          }
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v3/{+parent}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          }
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "httpMethod": "GET",
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path"
                            }
                          }
                        },
                        "stop": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}:stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "description": "",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "description": "",
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list"
                        }
                      }
                    }
                  }
                },
                "tools": {
                  "methods": {
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.tools.delete",
                      "httpMethod": "DELETE",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.tools.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.tools.get"
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.tools.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/tools",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Tool"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/tools",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListToolsResponse"
                      },
                      "description": "",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.tools.list",
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "restore": {
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.tools.versions.restore",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}:restore",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}:restore",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse"
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.locations.agents.tools.versions.delete",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$"
                            },
                            "force": {
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": ""
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "",
                          "path": "v3/{+parent}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListToolVersionsResponse"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.tools.versions.list"
                        },
                        "get": {
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+/versions/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.tools.versions.get",
                          "httpMethod": "GET"
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/tools/[^/]+$"
                            }
                          },
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/tools/{toolsId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          },
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.tools.versions.create",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3ToolVersion"
                          }
                        }
                      }
                    }
                  }
                },
                "playbooks": {
                  "methods": {
                    "list": {
                      "path": "v3/{+parent}/playbooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListPlaybooksResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
[...]
