{
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "setAgent": {
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "description": "",
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "id": "dialogflow.projects.setAgent",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "path": "v2beta1/{+parent}/agent"
        },
        "deleteAgent": {
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "id": "dialogflow.projects.deleteAgent",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v2beta1/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": ""
        },
        "getAgent": {
          "id": "dialogflow.projects.getAgent",
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "path": "v2beta1/{+parent}/agent",
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "description": "",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "setAgent": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "path": "v2beta1/{+parent}/agent",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "id": "dialogflow.projects.locations.setAgent"
            },
            "get": {
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "description": ""
            },
            "getEncryptionSpec": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
              },
              "description": "",
              "httpMethod": "GET",
              "id": "dialogflow.projects.locations.getEncryptionSpec",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "path": "v2beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getAgent": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/agent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "id": "dialogflow.projects.locations.getAgent",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v2beta1/{+name}/locations",
              "flatPath": "v2beta1/projects/{projectsId}/locations",
              "id": "dialogflow.projects.locations.list"
            },
            "deleteAgent": {
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "id": "dialogflow.projects.locations.deleteAgent",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2beta1/{+parent}/agent",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": ""
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "dialogflow.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": ""
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.operations.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "cancel": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": ""
                }
              }
            },
            "suggestions": {
              "methods": {
                "generateStatelessSummary": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse"
                  },
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/suggestions:generateStatelessSummary",
                  "id": "dialogflow.projects.locations.suggestions.generateStatelessSummary",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+parent}/suggestions:generateStatelessSummary"
                },
                "searchKnowledge": {
                  "path": "v2beta1/{+parent}/suggestions:searchKnowledge",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  },
                  "id": "dialogflow.projects.locations.suggestions.searchKnowledge",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/suggestions:searchKnowledge",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "generators": {
              "methods": {
                "delete": {
                  "id": "dialogflow.projects.locations.generators.delete",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "id": "dialogflow.projects.locations.generators.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "description": ""
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "id": "dialogflow.projects.locations.generators.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "id": "dialogflow.projects.locations.generators.create",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "path": "v2beta1/{+parent}/generators",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "generatorId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "description": "",
                  "httpMethod": "POST"
                },
                "list": {
                  "path": "v2beta1/{+parent}/generators",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.locations.generators.list",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "delete": {
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": ""
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+parent}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": ""
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "description": "",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/evaluations",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "id": "dialogflow.projects.locations.generators.evaluations.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse"
                      },
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.list",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.knowledgeBases.create",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.patch",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "description": "",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "dialogflow.projects.locations.knowledgeBases.delete",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}"
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "get": {
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.get",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "description": "",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.patch",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.delete",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "import": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+parent}/documents:import",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1ImportDocumentsRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "reload": {
                      "path": "v2beta1/{+name}:reload",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.reload",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "path": "v2beta1/{+parent}/documents",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/knowledgeBases/{knowledgeBasesId}/documents",
                      "id": "dialogflow.projects.locations.knowledgeBases.documents.create",
                      "parameters": {
                        "importGcsCustomMetadata": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+parent}/documents"
                    }
                  }
                }
              }
            },
            "tools": {
              "methods": {
                "create": {
                  "parameters": {
                    "toolId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+parent}/tools",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Tool"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/tools",
                  "id": "dialogflow.projects.locations.tools.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Tool"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v2beta1/{+parent}/tools",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/tools",
                  "id": "dialogflow.projects.locations.tools.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListToolsResponse"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "id": "dialogflow.projects.locations.tools.delete"
                },
                "get": {
                  "id": "dialogflow.projects.locations.tools.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Tool"
                  },
                  "description": "",
                  "httpMethod": "GET"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Tool"
                  },
                  "id": "dialogflow.projects.locations.tools.patch",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/tools/{toolsId}",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tools/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Tool"
                  },
                  "description": "",
                  "httpMethod": "PATCH"
                }
              }
            },
            "agent": {
              "methods": {
                "import": {
                  "path": "v2beta1/{+parent}/agent:import",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
                  },
                  "id": "dialogflow.projects.locations.agent.import",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "getFulfillment": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "id": "dialogflow.projects.locations.agent.getFulfillment",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "description": ""
                },
                "search": {
                  "path": "v2beta1/{+parent}/agent:search",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "dialogflow.projects.locations.agent.search",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:search",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "train": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/agent:train",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.agent.train",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:train",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
                  }
                },
                "updateFulfillment": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "id": "dialogflow.projects.locations.agent.updateFulfillment",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/fulfillment",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agent/fulfillment$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
                  },
                  "description": "",
                  "httpMethod": "PATCH"
                },
                "restore": {
                  "id": "dialogflow.projects.locations.agent.restore",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
                  },
                  "path": "v2beta1/{+parent}/agent:restore",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "httpMethod": "POST"
                },
                "export": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+parent}/agent:export",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent:export",
                  "id": "dialogflow.projects.locations.agent.export",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "getValidationResult": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+parent}/agent/validationResult",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/validationResult",
                  "id": "dialogflow.projects.locations.agent.getValidationResult"
                }
              },
              "resources": {
                "intents": {
                  "methods": {
                    "delete": {
                      "id": "dialogflow.projects.locations.agent.intents.delete",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "httpMethod": "DELETE"
                    },
                    "batchDelete": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+parent}/intents:batchDelete",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchDelete",
                      "id": "dialogflow.projects.locations.agent.intents.batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}",
                      "id": "dialogflow.projects.locations.agent.intents.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "intentView": {
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+name}"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "description": "",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/intents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ]
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "id": "dialogflow.projects.locations.agent.intents.patch",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents/{intentsId}"
                    },
                    "batchUpdate": {
                      "path": "v2beta1/{+parent}/intents:batchUpdate",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.intents.batchUpdate",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents:batchUpdate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agent.intents.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "path": "v2beta1/{+parent}/intents",
                      "parameters": {
                        "intentView": {
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                      },
                      "description": "",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/intents",
                      "id": "dialogflow.projects.locations.agent.intents.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Intent"
                      },
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string"
                        },
                        "intentView": {
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "location": "query"
                        }
                      },
                      "path": "v2beta1/{+parent}/intents"
                    }
                  }
                },
                "sessions": {
                  "methods": {
                    "deleteContexts": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agent.sessions.deleteContexts",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                      "path": "v2beta1/{+parent}/contexts",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "detectIntent": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}:detectIntent",
                      "id": "dialogflow.projects.locations.agent.sessions.detectIntent",
                      "parameters": {
                        "session": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+session}:detectIntent",
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                      },
                      "description": ""
                    }
                  },
                  "resources": {
                    "contexts": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+name}",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.get"
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            }
                          },
                          "path": "v2beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "description": ""
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2beta1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.delete",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts/{contextsId}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                          },
                          "description": "",
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.list",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                          "path": "v2beta1/{+parent}/contexts",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          }
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+parent}/contexts",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/contexts",
                          "id": "dialogflow.projects.locations.agent.sessions.contexts.create",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1Context"
                          },
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    },
                    "entityTypes": {
                      "methods": {
                        "delete": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+name}",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.delete",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "description": "",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+name}"
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "description": "",
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v2beta1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.patch",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          }
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "path": "v2beta1/{+parent}/entityTypes",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes",
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                          },
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "path": "v2beta1/{+parent}/entityTypes",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agent/sessions/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "id": "dialogflow.projects.locations.agent.sessions.entityTypes.create",
                          "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/sessions/{sessionsId}/entityTypes",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                          },
                          "description": "",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.environments.delete",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}",
                      "id": "dialogflow.projects.locations.agent.environments.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+name}"
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "id": "dialogflow.projects.locations.agent.environments.patch",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "allowLoadToDraftAndDiscardChanges": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Environment"
                      },
                      "description": "",
                      "httpMethod": "PATCH"
                    },
                    "getHistory": {
                      "path": "v2beta1/{+parent}/history",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/environments/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agent.environments.getHistory",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments/{environmentsId}/history",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agent.environments.list",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent/environments",
                      "path": "v2beta1/{+parent}/environments",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "environmentId": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/environments",
[...]
