{
  "fullyEncodeReservedExpansion": true,
  "name": "dialogflow",
  "kind": "discovery#restDescription",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Dialogflow API",
  "version_module": true,
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "canonicalName": "Dialogflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeployFlowRequest": {
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination",
      "properties": {
        "commitMessage": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "source": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "properties": {
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3IntentCoverage": {
      "id": "GoogleCloudDialogflowCxV3IntentCoverage",
      "properties": {
        "coverageScore": {
          "format": "float",
          "type": "number"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText"
    },
    "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference",
      "properties": {
        "schema": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage"
    },
    "GoogleCloudDialogflowCxV3LlmModelSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LlmModelSettings",
      "properties": {
        "promptText": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "type": "object",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsRequest": {
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        },
        "intentsUri": {
          "type": "string"
        },
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REJECT",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsRequest"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "properties": {
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "type": "string"
        },
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "object",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          },
          "type": "array"
        },
        "participant": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler",
      "properties": {
        "lifecycleStage": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3UserUtterance": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3UserUtterance"
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "properties": {
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          },
          "type": "array"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TurnSignals"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "knowledgeBase": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "properties": {
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "header": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "displayName": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "name": {
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cesToolset": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "content": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "dialogflowAssistAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportPlaybookRequest": {
      "properties": {
        "playbookContent": {
          "type": "string",
          "format": "byte"
        },
        "playbookUri": {
          "type": "string"
        },
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookImportStrategy"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportPlaybookRequest"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentPersonalizationSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings",
      "properties": {
        "defaultEndUserMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3MatchIntentResponse": {
      "type": "object",
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "text": {
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Match"
          },
          "type": "array"
        },
        "transcript": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3MatchIntentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "properties": {
        "testResult": {
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "properties": {
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "finishDigit": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse",
      "type": "object",
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3Playbook"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "type": "object",
      "properties": {
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "noMatch": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "documentUri": {
          "type": "string"
        },
        "documentTitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "cardOrientation": {
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowCxV3ListPagesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPagesResponse",
      "properties": {
        "pages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Page"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "properties": {
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Context",
      "properties": {
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "properties": {
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "description": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page"
    },
    "GoogleCloudDialogflowCxV3ListFlowsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListFlowsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "flows": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Flow"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "properties": {
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
    },
    "GoogleCloudDialogflowCxV3ListVersionsResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Version"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListVersionsResponse"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "toolDisplayName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "justCollected": {
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "type": "object",
      "properties": {
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "thumbnailUri": {
          "type": "string"
        },
        "fileUri": {
          "type": "string"
        },
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "responseId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "properties": {
        "testCase": {
          "type": "string"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestError"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "properties": {
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        },
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListToolsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListToolsResponse",
      "type": "object",
      "properties": {
        "tools": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentDefinition": {
      "id": "GoogleCloudDialogflowCxV3ExperimentDefinition",
      "type": "object",
      "properties": {
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "properties": {
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "type": "string"
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval"
        },
        "countType": {
          "type": "string",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "count": {
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentRequest": {
      "properties": {
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "resetContexts": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "name": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "action": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "defaultResponsePlatforms": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "transcript": {
          "type": "string"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "stability": {
          "format": "float",
          "type": "number"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "testCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "properties": {
        "answerParts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
          }
        },
        "answer": {
          "type": "string"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "searchSnippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
          },
          "type": "array"
        },
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
          }
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt": {
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "type": "object",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Generator": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Generator",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "placeholders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3GeneratorPlaceholder"
          }
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "name": {
          "type": "string"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3Phrase"
        },
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3GeneratorModelParameter"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "isFallback": {
          "type": "boolean"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Intent"
    },
    "GoogleCloudDialogflowCxV3SecuritySettings": {
      "properties": {
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings"
        },
        "retentionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ]
        },
        "inspectTemplate": {
          "type": "string"
        },
        "redactionScope": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ]
        },
        "purgeDataTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              ""
            ],
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "type": "string"
          }
        },
        "redactionStrategy": {
          "type": "string",
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
        },
        "retentionWindowDays": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Example": {
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "conversationState": {
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tokenCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Example",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Playbook": {
      "id": "GoogleCloudDialogflowCxV3Playbook",
      "type": "object",
      "properties": {
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "referencedTools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3CodeBlock"
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Handler"
          }
        },
        "referencedPlaybooks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "inlineActions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "playbookType": {
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "referencedFlows": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "goal": {
          "type": "string"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "displayName": {
          "type": "string"
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInstruction"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "urlTypeHint": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookTransition": {
      "id": "GoogleCloudDialogflowCxV3PlaybookTransition",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "playbook": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse": {
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventInput"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "string",
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings": {
      "properties": {
        "selectedPrompt": {
          "type": "string"
        },
        "promptTemplates": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep": {
      "id": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep",
      "type": "object",
      "properties": {
        "minDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "trafficPercent": {
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "differences": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "sessionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter": {
      "type": "object",
      "properties": {
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ],
          "type": "string"
        },
        "filterLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter"
    },
    "GoogleCloudDialogflowCxV3ListDeploymentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Deployment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreAgentRequest": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequestGitSource"
        },
        "restoreOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestoreAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryResult": {
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "traceBlocks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TraceBlock"
          },
          "type": "array"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent",
          "deprecated": true
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "text": {
          "type": "string"
        },
        "currentFlow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        },
        "triggerIntent": {
          "type": "string"
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3SentimentAnalysisResult"
        },
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals"
        },
        "allowAnswerFeedback": {
          "type": "boolean"
        },
        "triggerEvent": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number",
          "deprecated": true
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "webhookPayloads": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryResult"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "properties": {
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        },
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2InputDataset"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "properties": {
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "type": "object",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3ParameterDefinition": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "deprecated": true,
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ]
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchema"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ParameterDefinition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "knowledgeBase": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "properties": {
        "event": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
[...]
