{
  "id": "dialogflow:v3",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "title": "Dialogflow API",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "flatPath": "v3/projects/{projectsId}/operations",
              "path": "v3/{+name}/operations",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.operations.list",
              "parameters": {
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v3/{+name}",
              "description": "",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v3/{+name}:cancel",
              "flatPath": "v3/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.operations.cancel"
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "httpMethod": "GET",
              "description": "",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "dialogflow.projects.locations.get",
              "path": "v3/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "flatPath": "v3/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "",
              "id": "dialogflow.projects.locations.list",
              "path": "v3/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "agents": {
              "resources": {
                "changelogs": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs/{changelogsId}",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.changelogs.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Changelog"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/changelogs/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.changelogs.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/changelogs",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListChangelogsResponse"
                      }
                    }
                  }
                },
                "flows": {
                  "methods": {
                    "delete": {
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.flows.delete"
                    },
                    "export": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportFlowRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:export",
                      "path": "v3/{+name}:export",
                      "id": "dialogflow.projects.locations.agents.flows.export",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "train": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TrainFlowRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v3/{+name}:train",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:train",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.train"
                    },
                    "list": {
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.flows.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/flows",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListFlowsResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows",
                      "description": ""
                    },
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportFlowRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.flows.import",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows:import",
                      "path": "v3/{+parent}/flows:import",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "validate": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.flows.validate",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ValidateFlowRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}:validate",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:validate"
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agents.flows.get",
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      }
                    },
                    "getValidationResult": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/validationResult",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.getValidationResult",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.flows.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Flow"
                      },
                      "path": "v3/{+parent}/flows"
                    }
                  },
                  "resources": {
                    "transitionRouteGroups": {
                      "methods": {
                        "patch": {
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "httpMethod": "PATCH",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "type": "string"
                            },
                            "force": {
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.delete",
                          "path": "v3/{+name}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.list",
                          "httpMethod": "GET",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse"
                          },
                          "path": "v3/{+parent}/transitionRouteGroups",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": ""
                        },
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/transitionRouteGroups/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.get"
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                          },
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "v3/{+parent}/transitionRouteGroups",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/transitionRouteGroups",
                          "description": "",
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.flows.transitionRouteGroups.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    },
                    "pages": {
                      "methods": {
                        "create": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "path": "v3/{+parent}/pages",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": ""
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "id": "dialogflow.projects.locations.agents.flows.pages.patch",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "path": "v3/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.flows.pages.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListPagesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "",
                          "path": "v3/{+parent}/pages",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.delete",
                          "path": "v3/{+name}",
                          "httpMethod": "DELETE",
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "type": "string"
                            },
                            "force": {
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}"
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.flows.pages.get",
                          "path": "v3/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Page"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "delete": {
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.flows.versions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}"
                        },
                        "get": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.flows.versions.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "load": {
                          "id": "dialogflow.projects.locations.agents.flows.versions.load",
                          "description": "",
                          "path": "v3/{+name}:load",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:load",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3LoadVersionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST"
                        },
                        "patch": {
                          "path": "v3/{+name}",
                          "httpMethod": "PATCH",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.versions.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": ""
                        },
                        "compareVersions": {
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3CompareVersionsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "baseVersion"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.versions.compareVersions",
                          "parameters": {
                            "baseVersion": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:compareVersions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3CompareVersionsResponse"
                          },
                          "path": "v3/{+baseVersion}:compareVersions",
                          "httpMethod": "POST"
                        },
                        "list": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListVersionsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.flows.versions.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": ""
                        },
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/versions",
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Version"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.versions.create",
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                },
                "generators": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "path": "v3/{+parent}/generators",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListGeneratorsResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "path": "v3/{+parent}/generators",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.generators.list",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "description": "",
                      "httpMethod": "PATCH",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "path": "v3/{+name}",
                      "description": "",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.generators.get"
                    },
                    "delete": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "dialogflow.projects.locations.agents.generators.delete",
                      "path": "v3/{+name}",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE"
                    }
                  }
                },
                "testCases": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "location": "path"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+parent}/results",
                          "description": "",
                          "httpMethod": "GET",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}",
                          "id": "dialogflow.projects.locations.agents.testCases.results.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$",
                              "required": true
                            }
                          },
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "batchRun": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v3/{+parent}/testCases:batchRun",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun"
                    },
                    "import": {
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "path": "v3/{+parent}/testCases:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST"
                    },
                    "calculateCoverage": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "agent"
                      ],
                      "path": "v3/{+agent}/testCases:calculateCoverage",
                      "parameters": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query"
                        },
                        "agent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v3/{+parent}/testCases",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.create"
                    },
                    "export": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "path": "v3/{+parent}/testCases:export",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    },
                    "run": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "path": "v3/{+name}:run",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "batchDelete": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/testCases:batchDelete",
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "patch": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        },
                        "view": {
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases"
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "description": "",
                      "path": "v3/{+name}"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "path": "v3/{+parent}/environments",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "deployFlow": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+environment}:deployFlow",
                      "parameterOrder": [
                        "environment"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3DeployFlowRequest"
                      },
                      "description": "",
                      "parameters": {
                        "environment": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "path": "v3/{+parent}/environments"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "httpMethod": "GET",
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Environment"
                      },
                      "path": "v3/{+name}",
                      "description": ""
                    },
                    "lookupEnvironmentHistory": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}:lookupEnvironmentHistory",
                      "httpMethod": "GET",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse"
                      }
                    },
                    "runContinuousTest": {
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+environment}:runContinuousTest",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "parameterOrder": [
                        "environment"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "environment": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunContinuousTestRequest"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "deployments": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v3/{+parent}/deployments",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListDeploymentsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$",
                              "type": "string"
                            }
                          },
                          "path": "v3/{+name}",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Deployment"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "start": {
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}:start",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StartExperimentRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start"
                        },
                        "get": {
                          "description": "",
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          }
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "path": "v3/{+parent}/experiments",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments"
                        },
                        "delete": {
                          "path": "v3/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "httpMethod": "PATCH",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          }
                        },
                        "create": {
                          "description": "",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path",
                              "required": true
                            }
[...]
