{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "deleteAgent": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "path": "v2/{+parent}/agent",
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          },
          "description": "",
          "httpMethod": "DELETE",
          "id": "dialogflow.projects.deleteAgent",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ]
        },
        "getAgent": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "path": "v2/{+parent}/agent",
          "flatPath": "v2/projects/{projectsId}/agent",
          "id": "dialogflow.projects.getAgent",
          "httpMethod": "GET"
        },
        "setAgent": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "description": "",
          "path": "v2/{+parent}/agent",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "dialogflow.projects.setAgent",
          "flatPath": "v2/projects/{projectsId}/agent"
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "dialogflow.projects.operations.get",
              "path": "v2/{+name}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "description": "",
              "id": "dialogflow.projects.operations.list",
              "path": "v2/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v2/{+name}:cancel",
              "id": "dialogflow.projects.operations.cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel"
            }
          }
        },
        "answerRecords": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "dialogflow.projects.answerRecords.list",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/answerRecords",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/answerRecords",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "path": "v2/{+name}",
              "id": "dialogflow.projects.answerRecords.patch",
              "flatPath": "v2/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "PATCH"
            }
          }
        },
        "conversationModels": {
          "methods": {
            "undeploy": {
              "id": "dialogflow.projects.conversationModels.undeploy",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2/{+name}:undeploy",
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy"
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "description": "",
              "id": "dialogflow.projects.conversationModels.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "id": "dialogflow.projects.conversationModels.list",
              "httpMethod": "GET",
              "path": "v2/{+parent}/conversationModels"
            },
            "create": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.create",
              "path": "v2/{+parent}/conversationModels",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "deploy": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
              },
              "description": "",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2/{+name}:deploy",
              "id": "dialogflow.projects.conversationModels.deploy"
            },
            "get": {
              "description": "",
              "id": "dialogflow.projects.conversationModels.get",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$"
                }
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "evaluations": {
              "methods": {
                "list": {
                  "description": "",
                  "path": "v2/{+parent}/evaluations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations",
                  "id": "dialogflow.projects.conversationModels.evaluations.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.conversationModels.evaluations.get",
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "list": {
              "id": "dialogflow.projects.conversationProfiles.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "httpMethod": "GET",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversationProfiles"
            },
            "setSuggestionFeatureConfig": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "conversationProfile": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "conversationProfile"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversationProfiles",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.create",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "clearSuggestionFeatureConfig": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "conversationProfile"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
              },
              "httpMethod": "POST",
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}"
            },
            "delete": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "dialogflow.projects.conversationProfiles.delete",
              "description": "",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "path": "v2/{+name}",
              "id": "dialogflow.projects.conversationProfiles.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              }
            }
          }
        },
        "agent": {
          "resources": {
            "intents": {
              "methods": {
                "list": {
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                  },
                  "id": "dialogflow.projects.agent.intents.list",
                  "path": "v2/{+parent}/intents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "id": "dialogflow.projects.agent.intents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}"
                },
                "batchUpdate": {
                  "description": "",
                  "path": "v2/{+parent}/intents:batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchUpdate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "batchDelete": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchDelete",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/intents:batchDelete"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "intentView": {
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.agent.intents.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}"
                },
                "create": {
                  "path": "v2/{+parent}/intents",
                  "parameters": {
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/environments",
                  "id": "dialogflow.projects.agent.environments.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameters": {
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/environments",
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "id": "dialogflow.projects.agent.environments.patch",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "getHistory": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EnvironmentHistory"
                  },
                  "path": "v2/{+parent}/history",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.agent.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "id": "dialogflow.projects.agent.environments.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": ""
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "patch": {
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "httpMethod": "PATCH",
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "type": "string"
                                },
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2/{+name}"
                            },
                            "get": {
                              "description": "",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "path": "v2/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "list": {
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                },
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                }
                              },
                              "path": "v2/{+parent}/entityTypes"
                            },
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "path": "v2/{+parent}/entityTypes",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "POST"
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "path": "v2/{+name}",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            }
                          }
                        },
                        "contexts": {
                          "methods": {
                            "get": {
                              "description": "",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              }
                            },
                            "delete": {
                              "httpMethod": "DELETE",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2/{+name}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "description": ""
                            },
                            "patch": {
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "type": "string"
                                },
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "location": "path"
                                }
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "PATCH",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              }
                            },
                            "list": {
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                              },
                              "description": "",
                              "path": "v2/{+parent}/contexts",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "create": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "httpMethod": "POST",
                              "path": "v2/{+parent}/contexts",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "description": ""
                            }
                          }
                        }
                      },
                      "methods": {
                        "deleteContexts": {
                          "description": "",
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v2/{+parent}/contexts",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "detectIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                          },
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                          },
                          "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent",
                          "parameters": {
                            "session": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "",
                          "parameterOrder": [
                            "session"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v2/{+session}:detectIntent"
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "",
                            ""
                          ]
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/intents",
                      "id": "dialogflow.projects.agent.environments.intents.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/intents"
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "resources": {
                "documents": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get",
                      "path": "v2/{+name}"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2/{+name}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      },
                      "path": "v2/{+parent}/documents",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "httpMethod": "GET",
                      "description": ""
                    },
                    "reload": {
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}:reload"
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "path": "v2/{+parent}/documents",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.knowledgeBases.delete",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "description": "",
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "path": "v2/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "id": "dialogflow.projects.agent.knowledgeBases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "path": "v2/{+parent}/knowledgeBases",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases"
                }
              }
            },
            "entityTypes": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                },
                "batchUpdate": {
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    }
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  }
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "description": ""
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/entityTypes"
                },
                "create": {
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/entityTypes"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "batchUpdate": {
                      "httpMethod": "POST",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "batchCreate": {
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+parent}/entities:batchCreate",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "batchDelete": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "path": "v2/{+parent}/entities:batchDelete",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete"
                    }
                  }
                }
              }
            },
            "sessions": {
              "methods": {
                "detectIntent": {
                  "parameterOrder": [
                    "session"
                  ],
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                  },
                  "path": "v2/{+session}:detectIntent",
                  "httpMethod": "POST",
                  "parameters": {
                    "session": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                  },
                  "id": "dialogflow.projects.agent.sessions.detectIntent"
                },
                "deleteContexts": {
                  "description": "",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+parent}/contexts",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "contexts": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "httpMethod": "PATCH",
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+parent}/contexts",
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "path": "v2/{+parent}/contexts",
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "description": "",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
[...]
